<div class="sample-wrapper">
    <div class="sample-header">
        <h1 class="title">Range Slider</h1>
        <p class="description">
            Allows the user to set values within a given range.
        </p>
    </div>

    <section class="sample-content">
        <div>
            <article class="sample-column">
                <h4 class="sample-title">One-handle range slider</h4>
                <igx-range #range [(ngModel)]="task.percentCompleted"
                    [lowerBound]="20">
                </igx-range>
            </article>


            <article class="sample-column">
                <h4 class="sample-title">Two-handle range slider</h4>
                <igx-range #range2 [type]="sliderType" [(ngModel)]="rangeValue"
                           [minValue]="0" [maxValue]="100">
                </igx-range>
            </article>
        </div>

        <div>
            <article class="sample-column">
                <h3>Task</h3>
                <div>name: {{task.title}}</div>

                <div>completed: {{task.percentCompleted}}</div>
                <input type="text" [(ngModel)]="task.title">
                <input type="text" [(ngModel)]="task.percentCompleted">
            </article>


            <article class="sample-column">
                <input type="text" [(ngModel)]="rangeValue.lower">
                <input type="text" [(ngModel)]="rangeValue.upper">
            </article>
        </div>
    </section>
</div>

