tr.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: inherit;
    -webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
