table.myGrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    /* -webkit-box-direction: normal; */
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    width: 400px;
    height: 200px;
    background: #fff;
    border-radius: .125em;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.26), 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.08);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.26), 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.08);
    overflow: auto;
}
