@use '../../themes' as *;

@include core();
@include typography(
    $font-family: $indigo-typeface,
    $type-scale: $indigo-type-scale
);
@include theme(
    $schema: $light-indigo-schema,
    $palette: $light-indigo-palette,
);
