:host {
    > .igx-grid {
        --igx-grid-row-odd-background: rgb(248, 255, 248);
        --igx-grid-body-column-border-color-odd: rgb(248, 255, 248);
    }
}

[igxButton="contained"] {
    margin: 0.5rem;
}

h4 {
    padding-top: 2rem;
}
