.parent {
    width: 400px;
    height: 200px;
    background-color: coral;
    position: relative;
}

.my-action-strip>div {
    background-color: azure;
    opacity: .2;
}

.igx-action-strip {
    right: 0;
    top: 25%;
}
