<div class="display-density-actions">
    <igx-buttongroup>
        <button igxButton [disabled]="displayDensity === compact"
        (click)="setDensity('compact')">Compact</button>
        <button igxButton [disabled]="displayDensity === cosy" (click)="setDensity('cosy')">Cosy</button>
        <button igxButton [disabled]="displayDensity === comfortable"
            (click)="setDensity('comfortable')">Comfortable</button>
    </igx-buttongroup>
</div>

<div class="sample-column">
    <div class="parent" (mouseenter)="showActions()" (mouseleave)="hideActions()">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <igx-action-strip [displayDensity]="displayDensity" class="my-action-strip" #actionstrip
            *ngIf="isVisible">
            <igx-icon (click)="doSomeAction()">alarm</igx-icon>
        </igx-action-strip>
    </div>
</div>
<div class="sample-column">
    <p>{{result}}</p>
</div>

<div class="sample-column">
    <h5>Grid Pinning Action</h5>
    <igx-grid #grid1 [data]="data" [width]="'800px'" [height]="'500px'"
        [rowEditable]="true" [primaryKey]="'ID'" [displayDensity]="displayDensity"
      >
        <igx-column *ngFor="let c of columns" [sortable]="true" [field]="c.field" [header]="c.field"
            [width]="c.width" [pinned]='c.pinned' [hidden]='c.hidden'>
        </igx-column>

        <igx-action-strip #actionstrip1 [displayDensity]="displayDensity">
            <igx-grid-pinning-actions></igx-grid-pinning-actions>
        </igx-action-strip>
    </igx-grid>
</div>

<div class="sample-column">
    <h5>Grid Pinning and Editing Actions</h5>
    <igx-grid #grid2 [data]="data" [width]="'800px'" [height]="'500px'" [rowSelection]="'multiple'"
        [rowEditable]="true" [primaryKey]="'ID'" [displayDensity]="displayDensity"
        (mouseleave)="onMouseLeave(actionstrip2)">
        <igx-column *ngFor="let c of columns" [sortable]="true" [field]="c.field" [header]="c.field"
            [width]="c.width" [pinned]='c.pinned' [hidden]='c.hidden'>
            <ng-template igxCell let-cell="cell" let-val>
                <div class="cell-template">
                    <span>{{val}}</span>
                </div>
            </ng-template>
        </igx-column>

        <igx-action-strip #actionstrip2 [displayDensity]="displayDensity">
            <igx-grid-pinning-actions></igx-grid-pinning-actions>
            <igx-grid-editing-actions></igx-grid-editing-actions>
        </igx-action-strip>
    </igx-grid>
</div>

<div class="sample-column">
    <h5>Actions in menu</h5>
    <igx-grid #grid3 [data]="data" [width]="'800px'" [height]="'500px'" [rowSelection]="'multiple'"
        [rowEditable]="true" [primaryKey]="'ID'" [displayDensity]="displayDensity"
       >
        <igx-column *ngFor="let c of columns" [sortable]="true" [field]="c.field" [header]="c.field"
            [width]="c.width" [pinned]='c.pinned' [hidden]='c.hidden'>
        </igx-column>

        <igx-action-strip #actionstrip3 [displayDensity]="displayDensity">
            <ng-container *ngIf='customItem'>
                    <igx-icon *igxActionStripMenuItem (click)="doSomeAction()">alarm</igx-icon>
            </ng-container>
            <igx-grid-pinning-actions [asMenuItems]='true'></igx-grid-pinning-actions>
            <igx-grid-editing-actions [asMenuItems]='true'></igx-grid-editing-actions>
        </igx-action-strip>
    </igx-grid>
    <button (click)='customItem = !customItem'>Toggle extra menu item</button>
</div>


