:host {
    display: grid;
    gap: var(--demos-gap);
    grid-template-rows: auto 1fr;
    height: 100%;
    align-items: start;
}

[igxButton] {
    margin: 0.5rem;
}

.density-chooser {
    margin-bottom: 16px;
    max-width: 900px;
}

igx-grid {
    border: 1px solid lightgray;
}
