<div #gridContainer [hidden]="gridContainerHidden" [style.height]="containerHeight">
    <igx-grid
        #grid1
        [data]="data"
        [allowFiltering]="true"
        [moving]="true"
        [rowSelection]="selectionMode"
        [filterMode]="'excelStyleFilter'"
        [width]="'100%'"
        [height]="height">
        <igx-grid-toolbar>
            <igx-grid-toolbar-actions>
                <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
                <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
            </igx-grid-toolbar-actions>
        </igx-grid-toolbar>
        @for (c of columns; track c) {
            <igx-column [field]="c.field"
                [header]="c.field"
                [groupable]="c.groupable"
                [resizable]="c.resizable"
                [width]="c.width"
                [sortable]="c.sortable"
                [filterable]="c.filterable"
                [editable]="true"
                [hidden]="c.hidden"
                [hasSummary]="false"
                [dataType]="c.type">
            </igx-column>
        }
    </igx-grid>
</div>

<ng-template #customControls>
    <fieldset class="control-card">
        <legend>Container display</legend>
        <igx-buttongroup selectionMode="singleRequired" alignment="vertical"
            (selected)="setContainerDisplay(gridContainer, containerDisplayOptions[$event.index].value)">
            @for (opt of containerDisplayOptions; track opt.label) {
                <button igxButton [selected]="containerDisplay === opt.value">{{ opt.label }}</button>
            }
        </igx-buttongroup>
    </fieldset>

    <fieldset class="control-card">
        <legend>Container visibility</legend>
        <igx-switch [checked]="gridContainerHidden" (change)="onContainerVisibilityChange($event)">Hidden</igx-switch>
    </fieldset>

    <fieldset class="control-card">
        <legend>Container height</legend>
        <igx-buttongroup selectionMode="singleRequired" alignment="vertical" (selected)="containerHeight = containerHeightOptions[$event.index].value">
            @for (opt of containerHeightOptions; track opt.label) {
                <button igxButton [selected]="containerHeight === opt.value">{{ opt.label }}</button>
            }
        </igx-buttongroup>
    </fieldset>

    <fieldset class="control-card">
        <legend>Grid height</legend>
        <igx-buttongroup selectionMode="singleRequired" alignment="vertical" (selected)="height = gridHeightOptions[$event.index].value">
            @for (opt of gridHeightOptions; track opt.label) {
                <button igxButton [selected]="height === opt.value">{{ opt.label }}</button>
            }
        </igx-buttongroup>
    </fieldset>

    <fieldset class="control-card">
        <legend>Data</legend>
        <igx-buttongroup selectionMode="singleRequired" alignment="vertical" (selected)="onDataSelectionChange($event.index)">
            @for (opt of dataOptions; track opt.label; let i = $index) {
                <button igxButton [selected]="dataSelection === i">{{ opt.label }}</button>
            }
        </igx-buttongroup>
        <button igxButton="outlined" (click)="checkCols()">Log column widths</button>
    </fieldset>
</ng-template>
