<div class="wrapper">
    <h4>Data Source Filtered List</h4>
    <div class="igx-form-group">
        <input class="igx-form-group__input--search" placeholder="Search List" [(ngModel)]="search1" />
        <label igxLabel>
            <i class="material-icons">search</i>
        </label>
        <span class="igx-form-group__clear--hidden">
            <i class="material-icons">clear</i>
        </span>
    </div>
    <igx-list>
        <igx-list-item igxRipple="pink" igxRippleTarget=".ig-list__item" *ngFor="let item of navItems | igxFilter: fo1">
            {{item.text}}
        </igx-list-item>
    </igx-list>
</div>
<div class="wrapper">
    <h4>Declarative Fitered List</h4>
    <igx-checkbox [checked]="true" #checkbox>Perform filtering</igx-checkbox>
    <div class="igx-form-group">
        <input class="igx-form-group__input--search" placeholder="Search List" [(ngModel)]="search2" />
        <label igxLabel>
            <i class="material-icons">search</i>
        </label>
        <span class="igx-form-group__clear--hidden">
            <i class="material-icons">clear</i>
        </span>
    </div>
    <igx-list #declarativeList [igxFilter]="fo2" (filtering)="filteringHandler($event)" (filtered)="filteredHandler($event)">
        <igx-list-header>Mildly Sweet</igx-list-header>
        <igx-list-item [options]="{}">Red Delicious</igx-list-item>
        <igx-list-item>Ambrosia</igx-list-item>
        <igx-list-item>Rome</igx-list-item>
        <igx-list-header>Sweet</igx-list-header>
        <igx-list-item>Golden Delicious</igx-list-item>
        <igx-list-item>Cosmic Crisp</igx-list-item>
        <igx-list-item>Pinova</igx-list-item>
    </igx-list>
</div>
<div class="wrapper">
    <h4>Non-header List with options</h4>
    <igx-list [allowRightPanning]="true" [allowLeftPanning]="true" 
        (onLeftPan)="onLeftPan($event)" (onRightPan)="onRightPan($event)" (onPanStateChange)="onPanStateChange($event)">
    <igx-list-item *ngFor="let navItem of navItems; let index = index" [options]="options">
        <div>
            {{navItem.text}}
        </div>
    </igx-list-item>
    </igx-list>
</div>