<div class="dark-grid">
    <igx-grid igxPreventDocumentScroll #grid1 [data]="data | async" width="100%" height="540px">
        <igx-column field="ID"></igx-column>
        <igx-column field="ProductName"></igx-column>
        <igx-column field="QuantityPerUnit"></igx-column>
        <igx-column field="SupplierName"></igx-column>
        <igx-column field="UnitsInStock"></igx-column>
        <igx-column field="Rating"></igx-column>
        <igx-paginator #paginator *ngIf="paging" [totalRecords]="totalCount" [selectOptions]="selectOptions" [(page)]="page"
            [(perPage)]="perPage" (pageChange)="paginate($event)" (perPageChange)="perPageChange($event)">
        </igx-paginator>
    </igx-grid>

    <igx-card style="width: 360px; margin-top: 12px">
        <igx-card-header>
            <h1 igxCardHeaderTitle>Paging settings</h1>
        </igx-card-header>
        <igx-card-content>
            <button igxButton="raised" (click)="paging = !paging">Paging {{paging}}</button>
            <igx-select [(ngModel)]="perPage">
                <igx-select-item *ngFor="let value of selectOptions" [value]="value">{{value}}</igx-select-item>
            </igx-select>
        </igx-card-content>
    </igx-card>
</div>
