<div class="sample-column">
    <div class="density-chooser">
        <igx-buttongroup [values]="sizes" (selected)="selectDensity($event)"></igx-buttongroup>
    </div>

    <igx-tree-grid #grid1 selectionType="multi" [autoGenerate]="true" [batchEditing]="true" [data]="data"
        childDataKey="ChildCompanies" primaryKey="ID" [expansionDepth]="1"
        [rowSelection]="selectionMode" [height]="'500px'"
        [allowFiltering]="true" [moving]="true" [filterMode]="'excelStyleFilter'" [filterStrategy]="filterStrategy">
        <igx-grid-toolbar>
            <app-grid-search-box [grid]="grid1" [style.width]="'300px'"></app-grid-search-box>
            <igx-grid-toolbar-actions>
                <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
                <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
                <igx-grid-toolbar-advanced-filtering></igx-grid-toolbar-advanced-filtering>
                <igx-grid-toolbar-exporter [exportCSV]="true" [exportExcel]="true">
                    <span excelText>Export to Excel 👌</span>
                    <span csvText>Export to CSV 👍</span>
                </igx-grid-toolbar-exporter>
            </igx-grid-toolbar-actions>
        </igx-grid-toolbar>
        <!-- <igx-column *ngFor="let c of columns" [field]="c.field" [header]="c.field" [sortable]="true">
        </igx-column> -->
        <igx-paginator *ngIf="paging"></igx-paginator>
    </igx-tree-grid>

    <div class="topMargin">
        <igx-switch [(ngModel)]="paging">Enable Paging</igx-switch>
        <igx-switch [(ngModel)]="grid1.rowEditable">Enable RowEditing</igx-switch>
        <div class="sample-buttons">
            <button igxButton="contained" [igxToggleAction]="dropDownRowSelection" [igxDropDownItemNavigation]="dropDownRowSelection" class="size">Row Selection: {{grid1.rowSelection}}</button>
            <igx-drop-down #dropDownRowSelection (selectionChanging)="selectionMode = $event.newSelection.value"  class="size">
                <igx-drop-down-item *ngFor="let item of selectionModes" [value]="item">
                        {{ item }}
                </igx-drop-down-item>
            </igx-drop-down>
            <button igxButton="contained" (click)="addRow()">Add row</button>
            <button igxButton="contained" (click)="addChildRow()">Add child row</button>
            <button igxButton="contained" (click)="deleteRow()">Delete Selected Row</button>
            <button igxButton="contained" (click)="undo()">Undo</button>
            <button igxButton="contained" (click)="redo()">Redo</button>
            <button igxButton="contained" (click)="commit()">Commit</button>
            <button igxButton="contained" (click)="exportToExcel()">Export to Excel</button>
            <button igxButton="contained" (click)="exportToCSV()">Export to CSV</button>
        </div>
    </div>
</div>
