.sample-column {
    width: 90%;
}

.density-chooser {
    margin-bottom: 16px;
}

.topMargin {
    margin-top: 20px;
}

.sample-buttons igx-switch {
    margin: 8px;
}

.sample-buttons button {
    margin: 8px 4px;
}

.size {
    --ig-size: var(--ig-size-large);
}
