@use '../../../projects/igniteui-angular/core/src/core/styles/base' as *;

.demos-navbar {
    .igx-navbar__title {
        display: none !important;
    }

    igx-input-group {
        display: block grid !important;
    }

    .igx-navbar__left:not(:empty) {
        margin-inline: 0;
    }

    @include tokens(navbar-theme(
        $background: var(--ig-gray-100),
        $disable-shadow: true,
        $border-color: var(--ig-gray-300)
    ));
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 1rem;

    .toggle-button {
        --ig-size: 2;

        @container style(--ig-theme: material) or style(--ig-theme: fluent) {
            --ig-size: 3;
        }
    }

    .locale-select,
    .size-select {
        --ig-size: 2;
        --_bundle-template-columns: auto auto auto auto;

        width: fit-content;
        min-width: 4ch;
        cursor: pointer;

        .igx-input-group__input {
            width: auto;
            field-sizing: content;
        }
    }
}


.demos-header {
    --ig-size: 1;

    grid-column: 1 / -1;
    grid-row: var(--header-row);

    nav {
        min-height: var(--demo-navbar-size);
    }
}
