@use '../../../projects/igniteui-angular/core/src/core/styles/base' as *;

.demos-navbar {
    .igx-navbar__title {
        display: none !important;
    }

    igx-input-group {
        display: block grid !important;
    }

    .igx-navbar__left:not(:empty) {
        margin-inline: 0;
    }

    @include tokens(navbar-theme(
        $background: var(--ig-gray-100),
        $disable-shadow: true,
        $border-color: var(--ig-gray-300)
    ));
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 1rem;

    .toggle-button {
        color: inherit;
        font-size: .8rem
    }

    .locale-select,
    .size-select {
        width: 100px;
        cursor: pointer;
    }
}


.demos-header {
    --ig-size: 1;

    grid-column: 1 / -1;
    grid-row: var(--header-row);

    nav {
        min-height: var(--demo-navbar-size);
    }
}
