@import '../../../projects/igniteui-angular/src/lib/core/styles/base/index';

:host {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

:host ::ng-deep {
    --ph-background: var(--ig-primary-800);
    --ph-foreground: var(--ig-primary-800-contrast);

    .hamburger {
        color: var(--ph-foreground);
        margin-right: rem(16px);

        [dir='rtl'] & {
            margin-left: rem(16px);
            margin-right: initial;
        }
    }
}

.sample-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem(90px);
    padding: 0 rem(16px);
    background: var(--ph-background);
    overflow: hidden;

    .wrapper {
        display: flex;
        align-items: center;
    }

    .title {
        color: var(--ph-foreground);
        margin: 0;
        text-transform: capitalize;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
