/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */

@mixin flip-in-hor-bottom {
  @include keyframes(flip-in-hor-bottom) {
    0% {
      transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      transform: rotateX(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation flip-in-diag-2-tl
 * ----------------------------------------
 */

@mixin flip-in-diag-2-tl {
  @include keyframes(flip-in-diag-2-tl) {
    0% {
      transform: rotate3d(-1, 1, 0, 80deg);
      opacity: 0;
    }
    100% {
      transform: rotate3d(1, 1, 0, 0deg);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation flip-in-hor-top
 * ----------------------------------------
 */

@mixin flip-in-hor-top {
  @include keyframes(flip-in-hor-top) {
    0% {
      transform: rotateX(-80deg);
      opacity: 0;
    }
    100% {
      transform: rotateX(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation flip-in-diag-2-br
 * ----------------------------------------
 */

@mixin flip-in-diag-2-br {
  @include keyframes(flip-in-diag-2-br) {
    0% {
      transform: rotate3d(-1, 1, 0, -80deg);
      opacity: 0;
    }
    100% {
      transform: rotate3d(1, 1, 0, 0deg);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation flip-in-ver-right
 * ----------------------------------------
 */

@mixin flip-in-ver-right {
  @include keyframes(flip-in-ver-right) {
    0% {
      transform: rotateY(-80deg);
      opacity: 0;
    }
    100% {
      transform: rotateY(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation flip-in-ver-left
 * ----------------------------------------
 */

@mixin flip-in-ver-left {
  @include keyframes(flip-in-ver-left) {
    0% {
      transform: rotateY(80deg);
      opacity: 0;
    }
    100% {
      transform: rotateY(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation flip-in-diag-1-tr
 * ----------------------------------------
 */

@mixin flip-in-diag-1-tr {
  @include keyframes(flip-in-diag-1-tr) {
    0% {
      transform: rotate3d(1, 1, 0, -80deg);
      opacity: 0;
    }
    100% {
      transform: rotate3d(1, 1, 0, 0deg);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation flip-in-diag-1-bl
 * ----------------------------------------
 */

@mixin flip-in-diag-1-bl {
  @include keyframes(flip-in-diag-1-bl) {
    0% {
      transform: rotate3d(1, 1, 0, 80deg);
      opacity: 0;
    }
    100% {
      transform: rotate3d(1, 1, 0, 0deg);
      opacity: 1;
    }
  }
}