/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */

@mixin scale-in-top {
  @include keyframes(slide-in-top) {
    0% {
      transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-tr
 * ----------------------------------------
 */

@mixin slide-in-tr {
  @include keyframes(slide-in-tr) {
    0% {
      transform: translateY(-1000px) translateX(1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0) translateX(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */

@mixin slide-in-right {
  @include keyframes(slide-in-right) {
    0% {
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-br
 * ----------------------------------------
 */

@mixin slide-in-br {
  @include keyframes(slide-in-br) {
    0% {
      transform: translateY(1000px) translateX(1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0) translateX(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */

@mixin slide-in-bottom {
  @include keyframes(slide-in-bottom) {
    0% {
      transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-bl
 * ----------------------------------------
 */

@mixin slide-in-bl {
  @include keyframes(slide-in-bl) {
    0% {
      transform: translateY(1000px) translateX(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0) translateX(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */

@mixin slide-in-left {
  @include keyframes(slide-in-left) {
    0% {
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-tl
 * ----------------------------------------
 */

@mixin slide-in-tl {
  @include keyframes(slide-in-tl) {
    0% {
      transform: translateY(-1000px) translateX(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0) translateX(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */

@mixin slide-in-fwd-center {
  @include keyframes(slide-in-fwd-center) {
    0% {
      transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-fwd-top
 * ----------------------------------------
 */

@mixin slide-in-fwd-top {
  @include keyframes(slide-in-fwd-top) {
    0% {
      transform: translateZ(-1400px) translateY(-800px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-fwd-tr
 * ----------------------------------------
 */

@mixin slide-in-fwd-tr {
  @include keyframes(slide-in-fwd-tr) {
    0% {
      transform: translateZ(-1400px) translateY(-800px) translateX(1000px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0) translateY(0) translateX(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-fwd-right
 * ----------------------------------------
 */

@mixin slide-in-fwd-right {
  @include keyframes(slide-in-fwd-right) {
    0% {
      transform: translateZ(-1400px) translateX(1000px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0) translateX(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-fwd-br
 * ----------------------------------------
 */

@mixin slide-in-fwd-br {
  @include keyframes(slide-in-fwd-br) {
    0% {
      transform: translateZ(-1400px) translateY(800px) translateX(1000px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0) translateY(0) translateX(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-fwd-bottom
 * ----------------------------------------
 */

@mixin slide-in-fwd-bottom {
  @include keyframes(slide-in-fwd-bottom) {
    0% {
      transform: translateZ(-1400px) translateY(800px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-fwd-bl
 * ----------------------------------------
 */

@mixin slide-in-fwd-bl {
  @include keyframes(slide-in-fwd-bl) {
    0% {
      transform: translateZ(-1400px) translateY(800px) translateX(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0) translateY(0) translateX(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-fwd-left
 * ----------------------------------------
 */

@mixin slide-in-fwd-left {
  @include keyframes(slide-in-fwd-left) {
    0% {
      transform: translateZ(-1400px) translateX(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0) translateX(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-fwd-tl
 * ----------------------------------------
 */

@mixin slide-in-fwd-tl {
  @include keyframes(slide-in-fwd-tl) {
    0% {
      transform: translateZ(-1400px) translateY(-800px) translateX(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0) translateY(0) translateX(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */

@mixin slide-in-bck-center {
  @include keyframes(slide-in-bck-center) {
    0% {
      transform: translateZ(700px);
      opacity: 0;
    }
    100% {
      transform: translateZ(1);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-bck-bl
 * ----------------------------------------
 */

@mixin slide-in-bck-bl {
  @include keyframes(slide-in-bck-bl) {
    0% {
      transform: translateZ(700px) translateY(300px) translateX(-400px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0) translateY(0) translateX(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-bck-top
 * ----------------------------------------
 */

@mixin slide-in-bck-top {
  @include keyframes(slide-in-bck-top) {
    0% {
      transform: translateZ(700px) translateY(-300px);
      opacity: 0;
    }
    100% {
      transform: translateZ(1) translateY(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-bck-left
 * ----------------------------------------
 */

@mixin slide-in-bck-left {
  @include keyframes(slide-in-bck-left) {
    0% {
      transform: translateZ(700px) translateX(-400px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0) translateX(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-bck-tr
 * ----------------------------------------
 */

@mixin slide-in-bck-tr {
  @include keyframes(slide-in-bck-tr) {
    0% {
      transform: translateZ(700px) translateY(-300px) translateX(400px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0) translateY(0) translateX(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-bck-tl
 * ----------------------------------------
 */

@mixin slide-in-bck-tl {
  @include keyframes(slide-in-bck-tl) {
    0% {
      transform: translateZ(700px) translateY(-300px) translateX(-400px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0) translateY(0) translateX(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-bck-right
 * ----------------------------------------
 */

@mixin slide-in-bck-right {
  @include keyframes(slide-in-bck-right) {
    0% {
      transform: translateZ(700px) translateX(400px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0) translateX(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-bck-br
 * ----------------------------------------
 */

@mixin slide-in-bck-br {
  @include keyframes(slide-in-bck-br) {
    0% {
      transform: translateZ(700px) translateY(300px) translateX(400px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0) translateY(0) translateX(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-bck-bottom
 * ----------------------------------------
 */

@mixin slide-in-bck-bottom {
  @include keyframes(slide-in-bck-bottom) {
    0% {
      transform: translateZ(700px) translateY(300px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */

@mixin slide-in-elliptic-top-fwd {
  @include keyframes(slide-in-elliptic-top-fwd) {
    0% {
      transform: translateY(-600px) rotateX(-30deg) scale(0);
      transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      transform: translateY(0) rotateX(0) scale(1);
      transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-bck
 * ----------------------------------------
 */

@mixin slide-in-elliptic-top-bck {
  @include keyframes(slide-in-elliptic-top-bck) {
    0% {
      transform: translateY(-600px) rotateX(30deg) scale(6.5);
      transform-origin: 50% 200%;
      opacity: 0;
    }
    100% {
      transform: translateY(0) rotateX(0) scale(1);
      transform-origin: 50% -500px;
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-elliptic-right-fwd
 * ----------------------------------------
 */

@mixin slide-in-elliptic-right-fwd {
  @include keyframes(slide-in-elliptic-right-fwd) {
    0% {
      transform: translateX(800px) rotateY(-30deg) scale(0);
      transform-origin: -100% 50%;
      opacity: 0;
    }
    100% {
      transform: translateX(0) rotateY(0) scale(1);
      transform-origin: -1800px 50%;
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-elliptic-right-bck
 * ----------------------------------------
 */

@mixin slide-in-elliptic-right-bck {
  @include keyframes(slide-in-elliptic-right-bck) {
    0% {
      transform: translateX(800px) rotateY(30deg) scale(6.5);
      transform-origin: -100% 50%;
      opacity: 0;
    }
    100% {
      transform: translateX(0) rotateY(0) scale(1);
      transform-origin: 600px 50%;
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-elliptic-bottom-fwd
 * ----------------------------------------
 */

@mixin slide-in-elliptic-bottom-fwd {
  @include keyframes(slide-in-elliptic-bottom-fwd) {
    0% {
      transform: translateY(600px) rotateX(30deg) scale(0);
      transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      transform: translateY(0) rotateX(0) scale(1);
      transform-origin: 50% -1400px;
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-elliptic-bottom-bck
 * ----------------------------------------
 */

@mixin slide-in-elliptic-bottom-bck {
  @include keyframes(slide-in-elliptic-bottom-bck) {
    0% {
      transform: translateY(600px) rotateX(-30deg) scale(6.5);
      transform-origin: 50% -100%;
      opacity: 0;
    }
    100% {
      transform: translateY(0) rotateX(0) scale(1);
      transform-origin: 50% 500px;
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * @animation slide-in-elliptic-left-fwd 
 * ----------------------------------------
 */

@mixin slide-in-elliptic-left-fwd {
  @include keyframes(slide-in-elliptic-left-fwd) {
    0% {
      transform: translateX(-800px) rotateY(30deg) scale(0);
      transform-origin: -100% 50%;
      opacity: 0;
    }
    100% {
      transform: translateX(0) rotateY(0) scale(1);
      transform-origin: 1800px 50%;
      opacity: 1;
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-elliptic-left-bck
 * ----------------------------------------
 */

@mixin slide-in-elliptic-left-bck {
  @include keyframes(slide-in-elliptic-left-bck) {
    0% {
      transform: translateX(-800px) rotateY(-30deg) scale(6.5);
      transform-origin: 200% 50%;
      opacity: 0;
    }
    100% {
      transform: translateX(0) rotateY(0) scale(1);
      transform-origin: -600px 50%;
      opacity: 1;
    }
  }
}