/**
 * ----------------------------------------
 * animation puff-out-center
 * ----------------------------------------
 */

@mixin puff-out-center {
    @include keyframes (puff-out-center) {
        0% {
            transform: scale(1);
            filter: blur(0px);
            opacity: 1;
        }
        100% {
            transform: scale(2);
            filter: blur(2px);
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation puff-out-top
 * ----------------------------------------
 */

@mixin puff-out-top {
    @include keyframes (puff-out-top) {
        0% {
            transform: scale(1);
            transform-origin: 50% 0%;
            filter: blur(0px);
            opacity: 1;
        }
        100% {
            transform: scale(2);
            transform-origin: 50% 0%;
            filter: blur(2px);
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation puff-out-tr
 * ----------------------------------------
 */

@mixin puff-out-tr {
    @include keyframes (puff-out-tr) {
        0% {
            transform: scale(1);
            transform-origin: 100% 0%;
            filter: blur(0px);
            opacity: 1;
        }
        100% {
            transform: scale(2);
            transform-origin: 100% 0%;
            filter: blur(2px);
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation puff-out-right
 * ----------------------------------------
 */

@mixin puff-out-right {
    @include keyframes (puff-out-right) {
        0% {
            transform: scale(1);
            transform-origin: 100% 50%;
            filter: blur(0px);
            opacity: 1;
        }
        100% {
            transform: scale(2);
            transform-origin: 100% 50%;
            filter: blur(2px);
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation puff-out-br
 * ----------------------------------------
 */

@mixin puff-out-br {
    @include keyframes (puff-out-br) {
        0% {
            transform: scale(1);
            transform-origin: 100% 100%;
            filter: blur(0px);
            opacity: 1;
        }
        100% {
            transform: scale(2);
            transform-origin: 100% 100%;
            filter: blur(2px);
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation puff-out-bottom
 * ----------------------------------------
 */

@mixin puff-out-bottom {
    @include keyframes (puff-out-bottom) {
        0% {
            transform: scale(1);
            transform-origin: 50% 100%;
            filter: blur(0px);
            opacity: 1;
        }
        100% {
            transform: scale(2);
            transform-origin: 50% 100%;
            filter: blur(2px);
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation puff-out-ver
 * ----------------------------------------
 */

@mixin puff-out-ver {
    @include keyframes (puff-out-ver) {
        0% {
            transform: scaleY(1);
            filter: blur(0px);
            opacity: 1;
        }
        100% {
            transform: scaleY(2);
            filter: blur(2px);
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation puff-out-hor
 * ----------------------------------------
 */

@mixin puff-out-hor {
    @include keyframes (puff-out-hor) {
        0% {
            transform: scaleX(1);
            filter: blur(0px);
            opacity: 1;
        }
        100% {
            transform: scaleX(2);
            filter: blur(2px);
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation puff-out-tl
 * ----------------------------------------
 */

@mixin puff-out-tl {
    @include keyframes (puff-out-tl) {
        0% {
            transform: scale(1);
            transform-origin: 0% 0%;
            filter: blur(0px);
            opacity: 1;
        }
        100% {
            transform: scale(2);
            transform-origin: 0% 0%;
            filter: blur(2px);
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation puff-out-left
 * ----------------------------------------
 */

@mixin puff-out-left {
    @include keyframes (puff-out-left) {
        0% {
            transform: scale(1);
            transform-origin: 0% 50%;
            filter: blur(0px);
            opacity: 1;
        }
        100% {
            transform: scale(2);
            transform-origin: 0% 50%;
            filter: blur(2px);
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation puff-out-bl
 * ----------------------------------------
 */

@mixin puff-out-bl {
    @include keyframes (puff-out-bl) {
        0% {
            transform: scale(1);
            transform-origin: 0% 100%;
            filter: blur(0px);
            opacity: 1;
        }
        100% {
            transform: scale(2);
            transform-origin: 0% 100%;
            filter: blur(2px);
            opacity: 0;
        }
    }
}