/**
 * ----------------------------------------
 * animation swirl-out-bck
 * ----------------------------------------
 */

@mixin swirl-out-bck {
    @include keyframes (swirl-out-bck) {
        0% {
            transform: rotate(0) scale(1);
            opacity: 1;
        }
        100% {
            transform: rotate(-540deg) scale(0);
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation swirl-out-right-bck
 * ----------------------------------------
 */

@mixin swirl-out-right-bck {
    @include keyframes (swirl-out-right-bck) {
        0% {
            transform: rotate(0) scale(1);
            transform-origin: 100% 50%;
            opacity: 1;
        }
        100% {
            transform: rotate(-540deg) scale(0);
            transform-origin: 100% 50%;
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation swirl-out-bl-bck
 * ----------------------------------------
 */

@mixin swirl-out-bl-bck {
    @include keyframes (swirl-out-bl-bck) {
        0% {
            transform: rotate(0) scale(1);
            transform-origin: 0 100%;
            opacity: 1;
        }
        100% {
            transform: rotate(-540deg) scale(0);
            transform-origin: 0 100%;
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation swirl-out-fwd
 * ----------------------------------------
 */

@mixin swirl-out-fwd {
    @include keyframes (swirl-out-fwd) {
        0% {
            transform: rotate(0) scale(1);
            opacity: 1;
        }
        100% {
            transform: rotate(540deg) scale(5);
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation swirl-out-right-fwd
 * ----------------------------------------
 */

@mixin swirl-out-right-fwd {
    @include keyframes (swirl-out-right-fwd) {
        0% {
            transform: rotate(0) scale(1);
            transform-origin: 100% 50%;
            opacity: 1;
        }
        100% {
            transform: rotate(540deg) scale(5);
            transform-origin: 100% 50%;
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation swirl-out-bl-fwd
 * ----------------------------------------
 */

@mixin swirl-out-bl-fwd {
    @include keyframes (swirl-out-bl-fwd) {
        0% {
            transform: rotate(0) scale(1);
            transform-origin: 0 100%;
            opacity: 1;
        }
        100% {
            transform: rotate(540deg) scale(5);
            transform-origin: 0 100%;
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation swirl-out-top-bck
 * ----------------------------------------
 */

@mixin swirl-out-top-bck {
    @include keyframes (swirl-out-top-bck) {
        0% {
            transform: rotate(0) scale(1);
            transform-origin: 50% 0%;
            opacity: 1;
        }
        100% {
            transform: rotate(-540deg) scale(0);
            transform-origin: 50% 0%;
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation swirl-out-br-bck
 * ----------------------------------------
 */

@mixin swirl-out-br-bck {
    @include keyframes (swirl-out-br-bck) {
        0% {
            transform: rotate(0) scale(1);
            transform-origin: 100% 100%;
            opacity: 1;
        }
        100% {
            transform: rotate(-540deg) scale(0);
            transform-origin: 100% 100%;
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation swirl-out-left-bck
 * ----------------------------------------
 */

@mixin swirl-out-left-bck {
    @include keyframes (swirl-out-left-bck) {
        0% {
            transform: rotate(0) scale(1);
            transform-origin: 0 50%;
            opacity: 1;
        }
        100% {
            transform: rotate(-540deg) scale(0);
            transform-origin: 0 50%;
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation swirl-out-top-fwd
 * ----------------------------------------
 */

@mixin swirl-out-top-fwd {
    @include keyframes (swirl-out-top-fwd) {
        0% {
            transform: rotate(0) scale(1);
            transform-origin: 50% 0%;
            opacity: 1;
        }
        100% {
            transform: rotate(540deg) scale(5);
            transform-origin: 50% 0%;
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation swirl-out-br-fwd
 * ----------------------------------------
 */

@mixin swirl-out-br-fwd {
    @include keyframes (swirl-out-br-fwd) {
        0% {
            transform: rotate(0) scale(1);
            transform-origin: 100% 100%;
            opacity: 1;
        }
        100% {
            transform: rotate(540deg) scale(5);
            transform-origin: 100% 100%;
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation swirl-out-left-fwd
 * ----------------------------------------
 */

@mixin swirl-out-left-fwd {
    @include keyframes (swirl-out-left-fwd) {
        0% {
            transform: rotate(0) scale(1);
            transform-origin: 0 50%;
            opacity: 1;
        }
        100% {
            transform: rotate(540deg) scale(5);
            transform-origin: 0 50%;
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation swirl-out-tr-bck
 * ----------------------------------------
 */

@mixin swirl-out-tr-bck {
    @include keyframes (swirl-out-tr-bck) {
        0% {
            transform: rotate(0) scale(1);
            transform-origin: 100% 0%;
            opacity: 1;
        }
        100% {
            transform: rotate(-540deg) scale(0);
            transform-origin: 100% 0%;
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation swirl-out-bottom-bck
 * ----------------------------------------
 */

@mixin swirl-out-bottom-bck {
    @include keyframes (swirl-out-bottom-bck) {
        0% {
            transform: rotate(0) scale(1);
            transform-origin: 50% 100%;
            opacity: 1;
        }
        100% {
            transform: rotate(-540deg) scale(0);
            transform-origin: 50% 100%;
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation swirl-out-tl-bck
 * ----------------------------------------
 */

@mixin swirl-out-tl-bck {
    @include keyframes (swirl-out-tl-bck) {
        0% {
            transform: rotate(0) scale(1);
            transform-origin: 0 0;
            opacity: 1;
        }
        100% {
            transform: rotate(-540deg) scale(0);
            transform-origin: 0 0;
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation swirl-out-tr-fwd
 * ----------------------------------------
 */

@mixin swirl-out-tr-fwd {
    @include keyframes (swirl-out-tr-fwd) {
        0% {
            transform: rotate(0) scale(1);
            transform-origin: 100% 0%;
            opacity: 1;
        }
        100% {
            transform: rotate(540deg) scale(5);
            transform-origin: 100% 0%;
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation swirl-out-bottom-fwd
 * ----------------------------------------
 */

@mixin swirl-out-bottom-fwd {
    @include keyframes (swirl-out-bottom-fwd) {
        0% {
            transform: rotate(0) scale(1);
            transform-origin: 50% 100%;
            opacity: 1;
        }
        100% {
            transform: rotate(540deg) scale(5);
            transform-origin: 50% 100%;
            opacity: 0;
        }
    }
}


/**
 * ----------------------------------------
 * animation swirl-out-tl-fwd
 * ----------------------------------------
 */

@mixin swirl-out-tl-fwd {
    @include keyframes (swirl-out-tl-fwd) {
        0% {
            transform: rotate(0) scale(1);
            transform-origin: 0 0;
            opacity: 1;
        }
        100% {
            transform: rotate(720deg) scale(5);
            transform-origin: 0 0;
            opacity: 0;
        }
    }
}