.column-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

.sample-column {
    display: grid;
    padding: 32px;
    place-items: center;
    max-width: 350px;
    margin-right: 16px;
    border: 1px solid #999;
}


igx-input-group + igx-input-group,
igc-input + igc-input {
    margin-top: 24px;
}
