[igxButton] {
    max-width: 200px;
}

.login-form {
    padding: 24px;
}

.icon {
    font-size: .75em;
}

igx-input-group+igx-input-group {
    margin-top: 24px;
}

.alertSection button {
    width: 140px;
    margin-right: 5px;
}
