[igxButton] {
    max-width: 200px;
}

.login-form {
    padding: 24px;
}

.icon {
    font-size: .75em;
}

.sample-column-button-mb {
    margin-bottom: 16px;
}

.sample-column {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    margin-right: 16px;
    border: 1px solid #999;
    text-align: center;
}


.igx-bootstrap-dark-theme .sample-column {
    border-color: #3e3e3e;
}


igx-input-group + igx-input-group {
    margin-top: 24px;
}

.alertSection button {
    width: 140px;
    margin-right: 5px;
}
