.tabbar-wrapper {
    position: relative;
    height: 100%;
    width: 1000px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    overflow: hidden;
}

.sample-content {
    padding-top: 0px !important;
}

.tab1, .tab2 {
    background-color: bisque;
}

.tab2 {
    height: 800px;
}

#grid3 {
    background-color: cadetblue;
}
