<div class="combo-row">
  <igx-combo
    [data]="comboData"
    [displayKey]="'name'"
    [valueKey]="'id'"
    [width]="'320px'"
    [itemsMaxHeight]="400"
    placeholder="Combo over the same {{ rows }} records"
  >
  </igx-combo>

  <span>
    The grid below filters with the Excel style menu. Open it on
    <strong>UniqueValue</strong> to list {{ rows }} distinct entries.
  </span>
</div>

<div class="grid-wrapper">
  <igx-grid
    #grid
    [data]="data"
    [allowFiltering]="true"
    [filterMode]="'excelStyleFilter'"
    [height]="'100%'"
    [width]="'100%'"
  >
    @for (col of columns; track col) {
      <igx-column
        [field]="col.field"
        [header]="col.header"
        [sortable]="col.sortable"
        [dataType]="col.dataType"
        [width]="col.width"
        [groupable]="col.groupable"
      >
      </igx-column>
    }
  </igx-grid>
</div>
