<div class="sample-content">
    <section style="width: 100%">
        <article>
            <h4 class="sample-title">Desktop</h4>

            <igx-switch [(ngModel)]="car.navigation">navigation</igx-switch>
            <igx-switch [(ngModel)]="car.indicators">indicators</igx-switch>
            <igx-switch [(ngModel)]="car.keyboardSupport">keyboardSupport</igx-switch>
            <igx-switch [(ngModel)]="car.gesturesSupport">gesturesSupport</igx-switch>
            <igx-switch [(ngModel)]="loop">loop</igx-switch>
            <igx-switch [(ngModel)]="pause">pause</igx-switch>
            <igx-switch [(ngModel)]="car.vertical">vertical</igx-switch>
            <br>
            <button igxButton="contained" [igxToggleAction]="dropDownAnimation" [igxDropDownItemNavigation]="dropDownAnimation">Animation Type: {{car.animationType}}</button>
            <igx-drop-down #dropDownAnimation (selectionChanging)="onAnimationSelection($event)" >
                @for (item of animationModes; track item) {
                    <igx-drop-down-item>
                        {{ item }}
                    </igx-drop-down-item>
                }
            </igx-drop-down>
            <button igxButton="contained" (click)="pauseCar()">pause</button>
            <button igxButton="contained" (click)="play()">play</button>
            <button igxButton="contained" (click)="changeSlides()">Change slides add</button>
            <button igxButton="contained" (click)="changeSlidesRemove()">Change slides remove</button>
            <button igxButton="contained" (click)="changeOrientation()">changeOrientation</button>
            <div>
                <igx-carousel #car  [pause]="pause" [loop]="loop" [interval]="interval">
                    @for (slide of slides; track slide) {
                        <igx-slide [active]="slide.active">
                            <img [src]="slide.image">
                        </igx-slide>
                    }

                    <!-- <ng-template igxCarouselIndicator let-slide>
                        @if (slide.active) {
                            <img [src]="slides[slide.index].image" style="width: 120px;  ">
                        } @else {
                            <img [src]="slides[slide.index].image" style="width: 100px;  ">
                        }
                    </ng-template> -->

                    <!-- <ng-template igxCarouselNextButton let-disabled>
                            <button igxButton="fab" igxRipple="white" [disabled]="disabled">
                                    <igx-icon>add</igx-icon>
                                </button>
                    </ng-template>

                    <ng-template igxCarouselPrevButton let-disabled>
                            <button igxButton="fab" igxRipple="white" [disabled]="disabled">
                                    <igx-icon>remove</igx-icon>
                                </button>
                    </ng-template> -->
                </igx-carousel>
            </div>
        </article>
    </section>
</div>
