<div class="sample-wrapper">
    <div class="sample-header">
        <h1 class="title"> Date Picker</h1>
        <p class="description">
            Informs and requires a response from the user.
        </p>
    </div>

    <section class="sample-content">
        <article class="datepicker-column">
            <h4 class="sample-title">Default Date Picker.</h4>
            <p class="sample-description">Detailed description to be added.</p>
            <div class="preview">
                 <igx-datePicker></igx-datePicker> 
            </div>
        </article>
        <article class="datepicker-column">
            <h4 class="sample-title">Date Picker with passed date.</h4>
            <p class="sample-description">Detailed description to be added.</p>
            <div class="preview">
                 <igx-datePicker [value]="date"></igx-datePicker> 
            </div>
        </article>
        <article class="datepicker-column">
            <h4 class="sample-title">Date Picker with passed date and custom formatter.</h4>
            <p class="sample-description">Detailed description to be added.</p>
            <div class="preview">
                 <igx-datePicker [value]="date" [formatter]="formatter"></igx-datePicker> 
            </div>
        </article>
    </section>
</div>