<div class="sample-wrapper">
    <page-header title="Date Picker" description="Informs and requires a response from the user."></page-header>
    <section class="sample-content">
        <article class="datepicker-column">
            <h4 class="sample-title">Default Date Picker.</h4>
            <p class="sample-description">Detailed description to be added.</p>
            <div class="preview">
                <igx-datePicker cancelButtonLabel="cancel" todayButtonLabel="today"></igx-datePicker>
            </div>
        </article>
        <article class="datepicker-column">
            <h4 class="sample-title">Date Picker with passed date.</h4>
            <p class="sample-description">Detailed description to be added.</p>
            <div class="preview">
                <igx-datePicker [value]="date"></igx-datePicker>
            </div>
        </article>
        <article class="datepicker-column">
            <h4 class="sample-title">Date Picker with passed date and custom formatter.</h4>
            <p class="sample-description">Detailed description to be added.</p>
            <div class="preview">
                <igx-datePicker [value]="date" [vertical]="true" [formatter]="formatter" (onClose)="onCloseHandler($event)"></igx-datePicker>
            </div>
        </article>
    </section>
</div>
