$component-name: 'igx-avatar';

$components: register-component($components, #{$component-name});

@function igx-avatar-theme(
    $icon-background: null,
    $icon-color: null,
    $initials-background: null,
    $initials-color: null,
    $image-background: null
) {
    @if not($icon-color) and $icon-background {
        $icon-color: text-contrast($icon-background);
    }

    @if not($initials-color) and $initials-background {
        $initials-color: text-contrast($initials-background);
    }

    @return (
        icon-background: $icon-background,
        icon-color: $icon-color,
        initials-background: $initials-background,
        initials-color: $initials-color,
        image-background: $image-background
    );
}

@mixin igx-avatar($theme, $palette: $default-palette) {
    $default-theme: igx-avatar-theme(
        $icon-background: igx-color($palette, 'grays', 400),
        $icon-color: igx-color($palette, 'grays', 800),
        $initials-background: igx-color($palette, 'grays', 400),
        $initials-color: igx-color($palette, 'grays', 800),
        $image-background: transparent
    );

    $this: extend($default-theme, $theme);

    %igx-avatar-display {
        position: relative;
        pointer-events: none;
    }

    %igx-avatar--rounded {
        border-radius: 50%;
    }

    %igx-avatar--small {
        width: em(40px, 16px);
        height: em(40px, 16px);
        min-width: em(40px, 16px);
    }

    %igx-avatar--medium {
        width: em(64px, 16px);
        height: em(64px, 16px);
        min-width: em(64px, 16px);
    }

    %igx-avatar--large {
        width: em(88px, 16px);
        height: em(88px, 16px);
        min-width: em(88px, 16px);
    }

    %igx-avatar-inner {
        width: inherit;
        height: inherit;
        border-radius: inherit;
    }

    %igx-avatar-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: map-get($this, 'icon-color');
        background-color: map-get($this, 'icon-background');
    }

    %igx-avatar-image {
        background-color: map-get($this, 'image-background');
    }

    %igx-avatar-initials {
        text-transform: uppercase;
        fill: map-get($this, 'initials-color');
        background-color: map-get($this, 'initials-background');
    }

    %igx-avatar-initials--small {
        font-size: rem(16px);
        font-weight: 600;
    }

    %igx-avatar-initials--medium {
        font-size: rem(32px);
    }

    %igx-avatar-initials--large {
        font-size: rem(44px);
    }
}
