<ng-template #defaultTitle>
    @if (isTitleVisible) {
        <ng-content select="[igxStepTitle]"></ng-content>
    }
    @if (isTitleVisible) {
        <ng-content select="[igxStepSubtitle]"></ng-content>
    }
</ng-template>

<ng-template #contentTemplate>
    <div [ngClass]="contentClasses" #contentContainer>
        @if (active || collapsing) {
            <ng-content select="[igxStepContent]"></ng-content>
        }
    </div>
</ng-template>

<ng-template #defaultIndicator>
    <span>{{ index + 1 }}</span>
</ng-template>

<ng-template #customIndicator>
    <ng-content select="[igxStepIndicator]"></ng-content>
</ng-template>

<div class="igx-step__header igx-step-header" igxRipple (keydown)="handleKeydown($event)"
     [ngClass]="stepHeaderClasses"
     (click)="onPointerDown($event)">

    @if (isIndicatorVisible) {
        <div class="igx-step__indicator igx-step-header__indicator">
            <ng-container *ngTemplateOutlet="indicatorTemplate ? indicatorTemplate : defaultIndicator"></ng-container>
        </div>
    }

    <div class="igx-step__title-wrapper">
        <ng-container *ngTemplateOutlet="defaultTitle"></ng-container>
    </div>
</div>

@if (!isHorizontal) {
    <div class="igx-step__content-wrapper">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>
}
