.sample-buttons,
.sample-switches {
    margin-top: 24px;
}

[igxButton] {
    margin-right: 8px;
    margin-bottom: 8px;
}

igx-switch {
    padding-right: 10px;
}

.pin-icon {
    text-align: center;
}

.igx-action-strip {
    background-color: #00000080;
}

.actions {
    margin: auto;
    width: fit-content;
    padding: 8px;
}
