<div class="sample-wrapper">
    <div class="sample-header">
        <h1 class="title">Badge</h1>
        <p class="description">
            Displays active count or an icon. It can be is used in combination with a parent component such as an avatar, a navigation
            bar, an icon, etc.
        </p>
    </div>

    <div class="sample-content">

        <!--Avatars w/ badges-->
        <section class="sample-column">
            <h4 class="sample-title">In conjunction with the <i class="light">Badge Component</i></h4>
            <article class="avatars-wrapper">

                <div class="avatar-sample">
                    <igx-avatar color="gray" color="#484848" roundShape="true">
                        <igx-badge type="success" position="top-left" icon="check"></igx-badge>
                    </igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar color="gray" color="#484848" size="medium">
                        <igx-badge type="info" position="top-right" value="8"></igx-badge>
                    </igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar color="gray" color="#484848" size="large" roundShape="true">
                        <igx-badge type="error" position="bottom-left" icon="close"></igx-badge>
                    </igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar initials="AZ" bgColor="#D1D1D1" color="#484848">
                        <igx-badge type="warning" position="bottom-right" icon="info_outline"></igx-badge>
                    </igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar initials="AZ" bgColor="#D1D1D1" color="#484848" roundShape="true" size="medium">
                        <igx-badge type="success" position="top-left" value="72"></igx-badge>
                    </igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar initials="AZ" bgColor="#D1D1D1" color="#484848" size="large">
                        <igx-badge type="info" position="bottom-right" icon="star"></igx-badge>
                    </igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar src="../demos/app/avatar/images/22.jpg" roundShape="true">
                        <igx-badge type="error" position="top-left" value="212"></igx-badge>
                    </igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar src="../demos/app/avatar/images/14.jpg" size="medium">
                        <igx-badge type="warning" position="top-right" icon="perm_identity"></igx-badge>
                    </igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar src="../demos/app/avatar/images/8.jpg" roundShape="true" size="large">
                        <igx-badge type="success" position="bottom-left" icon="chat_bubble"></igx-badge>
                    </igx-avatar>
                </div>
            </article>
        </section>
    </div>
</div>