<div class="sample-wrapper">
    <page-header title="Badge" description="Displays active count or an icon. It can be is used in combination with a parent component such as an avatar, a navigation
    bar, an icon, etc."></page-header>
    <div class="sample-content">

        <!--Avatars w/ badges-->
        <section class="sample-column">
            <h4 class="sample-title">In conjunction with the
                <i class="light">Badge Component</i>
            </h4>
            <article class="avatars-wrapper">

                <div class="avatar-sample">
                    <igx-avatar color="gray" icon="face" color="#484848" roundShape="true">
                        <igx-badge icon="check"></igx-badge>
                    </igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar color="gray" icon="face" color="#484848" size="medium">
                    </igx-avatar>
                    <igx-badge type="info" value="8"></igx-badge>
                </div>

                <div class="avatar-sample">
                    <igx-avatar color="gray" icon="face" color="#484848" size="large" roundShape="true">
                    </igx-avatar>
                    <igx-badge type="error" icon="close"></igx-badge>
                </div>

                <div class="avatar-sample">
                    <igx-avatar initials="AZ" bgColor="#BDBDBD" color="#484848">
                    </igx-avatar>
                    <igx-badge type="warning" icon="plus_one"></igx-badge>
                </div>

                <div class="avatar-sample">
                    <igx-avatar initials="AZ" bgColor="#BDBDBD" color="#484848" roundShape="true" size="medium">
                    </igx-avatar>
                    <igx-badge type="success" value="72"></igx-badge>
                </div>

                <div class="avatar-sample">
                    <igx-avatar initials="AZ" bgColor="#BDBDBD" color="#484848" size="large">
                    </igx-avatar>
                    <igx-badge type="info" icon="star"></igx-badge>
                </div>

                <div class="avatar-sample">
                    <igx-avatar src="images/avatar/22.jpg" roundShape="true">
                    </igx-avatar>
                    <igx-badge type="error" value="212"></igx-badge>
                </div>

                <div class="avatar-sample">
                    <igx-avatar src="images/avatar/14.jpg" size="medium">
                    </igx-avatar>
                    <igx-badge type="warning" icon="perm_identity"></igx-badge>
                </div>

                <div class="avatar-sample">
                    <igx-avatar src="images/avatar/8.jpg" roundShape="true" size="large">
                    </igx-avatar>
                    <igx-badge type="success" icon="chat_bubble"></igx-badge>
                </div>
            </article>
        </section>
    </div>
</div>