.avatars-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 70px;
    align-items: center;
}

.avatar-sample {
    display: flex;
    flex: 1 0 30%;
    width: 88px;
    height: 88px;
    align-items: center;
}
