@use 'igniteui-theming/sass/themes' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/grid-filtering' as *;

$base: digest-schema($light-grid-filtering);
$material: digest-schema($material-grid-filtering);
$bootstrap: digest-schema($bootstrap-grid-filtering);
$fluent: digest-schema($fluent-grid-filtering);
$indigo: digest-schema($indigo-grid-filtering);
