%igx-avatar-display {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 3px;
}

%igx-avatar--rounded {
    border-radius: 50% 50%;
}

%igx-avatar--small {
    width: em(46px, 16px);
    height: em(46px, 16px);
}

%igx-avatar--medium {
    width: em(68px, 16px);
    height: em(68px, 16px);
}

%igx-avatar--large {
    width: em(86px, 16px);
    height: em(86px, 16px);
}

%igx-avatar--icon {
    background-color: #d1d1d1;
}

%igx-avatar--image {
    background-color: transparent !important;
}