%igx-avatar-display {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    pointer-events: none;
    font-family: 'Titillium Web';
}

%igx-avatar--rounded {
    border-radius: 50%;
}

%igx-avatar--small {
    width: em(40px, 16px);
    height: em(40px, 16px);
}

%igx-avatar--medium {
    width: em(64px, 16px);
    height: em(64px, 16px);
}

%igx-avatar--large {
    width: em(88px, 16px);
    height: em(88px, 16px);
}

%igx-avatar--icon {
    background-color: $igx-avatar-icon-bg;
}

%igx-avatar--image {
    background-color: transparent !important;
}
