%ig-badge-display {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    min-width: 14px;
    height: 14px;
    line-height: 16px;
    color: #fff;
    background-color: $badge-background-color;
    margin-right: -25%;
    font-size: 12px;                  
    top: 0;                    
    right: 0;
    border-radius: 50% 50%;
    padding: 2px;
    box-shadow: 0px 1px 2px 0px rgba(72, 72, 72, 0.50);
}

%ig-badge--hidden {
    display: none;
}