%button-display {
    position: relative;
    display: inline-block;
    min-width: $button-width;
    min-height: $button-height;
    padding: $button-padding;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    text-align: center;
    color: $button-color;
    border: $button-border;  
    border-radius: $button-radius;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    &:hover {
        transition: $button-transition;
    }
}

%button-flat {
    color: $primary-color;
    &:hover {
        background: $button-flat-hover-background;
    }
    &:focus,
    &:active {
        background: $button-flat-focus-background;
    }
}

%button-raised {
    color: $button-raised-color;
    background: $button-raised-background;
    box-shadow: $button-raised-shadow;
    &:hover {
      background: $button-focus-background;
      box-shadow: $button-raised-shadow;
    }
    &:focus,
    &:active {
      background: $button-focus-background;
      box-shadow: $button-raised-focus-shadow;
    }
}

%button-gradient {
    color: $button-gradient-color;
    background: $button-gradient-background;
    box-shadow: $button-gradient-shadow;
    &:hover {
        background: $button-focus-gradient;
        box-shadow: $button-gradient-shadow;
    }
    &:focus,
    &:active {
        background: $button-focus-gradient;
        box-shadow: $button-gradient-focus-shadow;
    }    
}

%button-fab {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: $button-raised-color;
    min-width: 1px;
    width: $button-floating-width;
    height: $button-floating-height;
    background: $button-floating-background;
    border: $button-border;
    border-radius: $button-floating-radius;
    outline: none;
    // hack to allow circular overflow in chrome ...
    filter: drop-shadow(0 0 0 rgba(255, 255, 255, 1));
    box-shadow: $button-floating-shadow;
    &:hover {
      box-shadow: $button-floating-hover-shadow;
    }
    &:focus,
    &:active {
      background: $button-focus-background;
    }
}

%button-fab-icon {
    color: $button-raised-color;
}

%button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: em(24px, 16px);
    width: em(28px, 16px);
    height: em(28px, 16px);
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    // another hack to allow circular overflow in chrome ...
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    &:hover {
        transition: $button-transition;
        background: $button-icon-hover-background;
    }
    &:focus,
    &:active {
        background: $button-icon-focus-background;
    }
}

%button-disabled {
    color: $button-disabled-color !important;
    background: $button-disabled-background !important;
    pointer-events: none !important; 
    box-shadow: $button-disabled-shadow !important;
    opacity: 0.9 !important;
}