%igx-card-display {
    display: flex;
    flex-flow: row wrap;
    box-shadow: $card-shadow;
    overflow: hidden;
    border-radius: $card-border-radius;
    background: $white;
    transition: $card-transitions;
    backface-visibility: hidden;
    &:hover {
        box-shadow: $card-shadow-hover;
    }
}

%igx-card-header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    // flex: 1 0 100%;
    flex-basis: 100%;
    padding: $card-heading-padding;
}

%igx-card-header--compact {
    padding: $card-heading-compact-padding;
}

%igx-card-header-title {
    margin: $card-heading-margin;
    // flex: 1 0 100%;
    flex-basis: 100%;
    font-size: $card-title-fz;
    line-height: $card-title-line-height;
}

%igx-card-header-title--small {
    font-size: $card-subtitle-fz;
}

%igx-card-header-subtitle {
    margin: $card-subtitle-margin;
    color: $card-subtitle-color;
    font-size: $card-subtitle-fz;
    line-height: $card-subtitle-line-height;
}

%igx-card-content {
    // flex: 1 0 100%;
    flex-basis: 100%;
    padding: $card-content-padding;
}

%igx-card-content-text {
    margin: $card-content-margin;
    color: $card-content-color;
    font-size: $card-content-fz;
    line-height: $card-content-lh;
}

%igx-card-media {
    width: auto;
    margin-right: auto;
    order: -1;
}

%igx-card-media--right {
    width: auto;
    margin-left: auto;
    order: 9999;
}

%igx-card-actions {
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 auto;
    align-items: center;
    padding: $card-actions-padding;
    max-height: 56px;
}

%igx-card-actions-bgroup {
    display: flex;
    flex-flow: row nowrap;

    [igxButton] ~ [igxButton] {
        margin-left: 8px;
    }
}

%igx-card-actions-igroup {
    display: flex;
    flex-flow: row nowrap;
    color: $card-actions-igroup-color;
}

%igx-card-actions-igroup--start {
    margin-right: auto;
}

%igx-card-actions-igroup--end {
    margin-left: auto;
}
