%igx-cbx-lbl-display {
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: $checkbox-height;
    line-height: $checkbox-height;
    font-size: $input-font-size;
    color: $input-color;
    padding-left: $checkbox-label-padding;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    &:before {
        transition: $input-transition;
    }
    &:before,
    &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        border-radius: $checkbox-radius;
    }
}

%igx-cbx-lbl-notchecked-before {
    width: $checkbox-tick-width;
    height: $checkbox-tick-height;
    border: none;
    top: -2px;
    left: 2px;
    transform-origin: 20% 100%;
    transform: rotateZ(0) scale(.1);
}

%igx-cbx-lbl-notchecked-after {
    width: $checkbox-width;
    height: $checkbox-height;
    background: none;
    border: 2px solid $radio-empty-color;
    z-index: 0;
}

%igx-cbx-lbl-checked-before {
    width: $checkbox-tick-width;
    height: $checkbox-tick-height;
    top: -2px;
    left: 2px;
    border-bottom: 2px solid $checkbox-tick-color;
    border-right: 2px solid $checkbox-tick-color;
    transform-origin: 20% 100%;
    transform: rotateZ(37deg) scale(1);
    z-index: 1;
}

%igx-cbx-lbl-checked-after {
    width: $checkbox-width;
    height: $checkbox-height;
    background-color: $radio-fill-color;
    border: 2px solid $radio-fill-color;
}

%igx-cbx-lbl-disabled {
    color: #d1d1d1;
    pointer-events: none;
}

%igx-cbx-lbl-checked--disabled-before {
    background-color: transparent;
}

%igx-cbx-lbl-checked--disabled-after {
    background-color: $input-disabled-solid-color;
    border-color: $input-disabled-solid-color;
}

%igx-cbx-lbl-notchecked--disabled-before {
    background-color: transparent;
    border: 2px solid transparent;
}

%igx-cbx-lbl-notchecked--disabled-after {
    border-color: $input-disabled-solid-color;
    background-color: transparent;
}

%igx-cbx-lbl--indeterminate-after {
    width: $checkbox-width;
    height: $checkbox-height;
    background-color: $radio-fill-color;
    border: 2px solid $radio-fill-color;
}