%cal-display {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    overflow: hidden;
    border-radius: $cal-border-radius;
    box-shadow: $elevate-2;
    @media only screen and (min-width: em(540px)) {
        flex-flow: row nowrap;
        %cal-header-display {
            max-width: 168px;
            min-width: 148px;
        }
    }
}

%cal-display--vertical {
    flex-flow: row nowrap;
    %cal-header-display {
        max-width: 168px;
        min-width: 148px;
    }
}

%cal-header-display {
    background-color: $cal-header-bg;
    color: $cal-header-color;
    padding: $cal-header-padding;
}

%cal-header-year {
    margin: $cal-header-year-margin;
    color: $cal-header-year-color;
    font-size: $cal-header-year-fs;
}

%cal-header-date {
    margin: $cal-header-date-margin;
    font-size: $cal-header-date-fs;
    line-height: $cal-header-date-lh !important;
    letter-spacing: $cal-header-date-lsp;
}

%cal-picker-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $cal-picker-padding;
}

%cal-picker-arrow {
    color: $cal-picker-arrow-color;
    user-select: none;
    cursor: pointer;
    &:hover {
        color: $cal-picker-arrow-hover-color;
    }
}

%cal-picker-date {
    font-size: $cal-picker-date-fs;
    line-height: $cal-picker-date-lh;
    font-weight: $cal-picker-date-fw;
    text-align: center;
}

%cal-body-display {
    flex: 1;
    padding-bottom: 24px;
}

%cal-row-display {
    display: flex;
    justify-content: space-between;
    padding: $cal-row-padding;
}

%cal-value {
    display: flex;
    margin: $cal-value-margin;
    justify-content: center;
    align-items: center;
    width: $cal-value-w;
    height: $cal-value-h;
    font-size: $cal-value-fs;
    line-height: $cal-value-lh;
    border-radius: $cal-valu-br;
    color: $cal-value-text-color;
    cursor: pointer;
    transition: background .15s ease-out;
}

%cal-value--label {
    color: $cal-value-inactive-color;
    cursor: default;
}

%cal-value--weekend {
    color: $cal-value-weekend;
}

%cal-value--inactive {
    color: $cal-value-inactive-color;
}

%cal-value--selected {
    color: $cal-value-selected-text-color;
    background-color: $cal-value-selected-bg;
    font-weight: $cal-value-fw;
}

%cal-value--current {
    color: $cal-value-current;
    font-weight: $cal-value-fw;
}

%cal-value--hover {
    background-color: $cal-value-hover-bg;
}