%date-picker-display {
    max-width: 340px;
    min-width: 320px;
}

%date-picker-content {
    width: 100%;
    padding: initial;
    color: initial;
    font-size: initial;
    line-height: initial;
}
