%igx-filtering-display {
    position: static;
}

%igx-filtering-toggle {
    z-index: 10;

    i {
        font-size: $grid-head-icon-size;
        line-height: $grid-head-icon-lh;
        padding: $grid-head-icon-padding;
    }
}

%igx-filtering-toggle--active {
    background: $grid-filtering-bg-active !important;
    color: $grid-filtering-color-active;
}

%igx-filtering-options {
    display: block;
    position: absolute;
    width: calc(100% - 32px);
    user-select: none;
    right: 16px;
    left: 16px;
    background: $white;
    box-shadow: $elevate-4;
    border-radius: 2px;
    padding: $grid-filtering-options-padding;
    z-index: 10;
    margin-top: 8px;

    & > input {
        font-weight: initial;
        font-size: initial;
    }
}
