%igx-filtering-display {
    position: static;
}

%igx-filtering-toggle {
    .igx-button--icon {
        width: rem(24px);
        height: rem(24px);
    }
    i {
        font-size: $grid-head-icon-size !important;
        line-height: $grid-head-icon-lh !important;
        padding: $grid-head-icon-padding !important;
    }
}

%igx-filtering-toggle--active {
    background: $grid-filtering-bg-active !important;
    color: $grid-filtering-color-active;
}

%igx-filtering-options {
    display: block;
    position: absolute;
    min-width: fit-content;
    user-select: none;
    right: 16px;
    left: 16px;
    background: $white;
    box-shadow: $elevate-4;
    border-radius: 2px;
    padding: $grid-filtering-options-padding;
    z-index: 10;
    margin-top: 8px;
    &>input {
        font-weight: initial;
        font-size: initial;
    }
}
