%igx-icon-display {
    display: flex;
    position: relative;
    font-size: em(24px, 16px);
    justify-content: center;
    i {
        font-size: inherit;
    }
}

%igx-icon--inactive {
    color: $input-disabled-solid-color;
}