%igx-input-display {
    display: block;
    position: relative;
    margin: 20px 0;
    min-height: 40px;
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: $label-color;
    }
}

%igx-form-label {
    display: block;
    position: absolute;
    overflow: hidden;
    top: 0;
    transform-origin: bottom left;
    font-size: $input-font-size;
    line-height: $input-line-height;
    color: $label-color;
    cursor: text;
    user-select: none;
    pointer-events: none;
    transform: translate3d(0,0,0);
    transition: transform .25s ease-out;
    -webkit-font-smoothing: antialiased;
}

%igx-form-label--float {
    color: $label-active-color;
    transform: translateY(-20px) perspective(1000px) translateZ(-300px);
}

%igx-form-label--filled {
    color: $label-active-color;
}

%igx-form-label--focused {
    color: $label-focus-color;
    transform: translateY(-20px) perspective(1000px) translateZ(-300px);
}

%igx-form-input {
    outline: none;
    border: none;
    border-bottom: $input-border;
    color: $input-color;
    background: transparent;
    font-size: $input-font-size;
    line-height: $input-line-height;
    width: 100%;
}

%igx-form-input--focused {
    border-bottom: $input-border-focus;
}

%igx-form-input--disabled {
    user-select: none;
    cursor: not-allowed;
    -webkit-text-fill-color: $input-disabled-color;
    border-bottom: 1px dotted rgba(117, 117, 117, .5);
}

%igx-form-label--disabled {
    color: lighten($label-color, 80%);
}

%igx-form-input--success {
    border-bottom: $input-border-success;
}

%igx-form-label--success {
    color: $success-color;
}

%igx-form-input--warn {
    border-bottom: $input-border-warn;
}

%igx-form-label--warn {
    color: $warn-color;
}

%igx-form-input--error {
    border-bottom: $input-border-error;
}

%igx-form-label--error {
    color: $error-color;
}

%igx-textarea {
    resize: none;
}

%igx-search-input {
    background: $white;
    padding: 12px 12px 12px 64px;
    border-bottom: none;
    box-shadow: $elevate-2;
    font-size: em(16px);
}

%igx-input-clear,
%igx-search-label {
    max-height: 100%;
    padding: 12px 16px;
    color: #484848;
}

%igx-input-clear {
    position: absolute;
    visibility: visible;
    top: 0;
    right: 0;
    cursor: pointer;
}

%igx-input-clear--hidden {
    visibility: hidden;
    pointer-events: none;
}