%igx-navbar-display {
    position: relative;   
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background: $primary-color;
    color: set-color($primary-color);
    box-shadow: $elevate-4;
    z-index: 4;
}

%igx-navbar-bundle {
    display: flex;
    align-items: center;
    * + * {
        margin-left: 16px;
    }
}

%igx-navbar-left-btn--disabled {
    display: none;
}

%igx-navbar-title {
    font-size: em(18px, 16px);
    line-height: em(18px, 16px);
}