%ig-navbar-display {
    $background-color: $primary-color;
    
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 56px;
    background: $background-color;
    color: set-color($background-color);
    box-shadow: $elevate-4;
}

%ig-navbar-left-btn {
    padding-left: 16px;
}

%ig-navbar-left-btn--disabled {
    display: none;
}

%ig-navbar-title {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    padding-left: 16px;
}