%ig-ripple-display {
    display: inline-block;
    position: absolute;
    will-change: opacity, transform;
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50% 50%;
    background: rgba(0, 0, 0, 0.5);
    opacity: .8;
    transform: scale(0);
    pointer-events: none;
    overflow: inherit;
}

%ig-ripple-wrapper {
    position: relative;
    overflow: hidden;
}