%igx-switch-lbl-display {
    display: inline-block;
    position: relative;
    width: $switch-width;
    height: $switch-height;
    background-color: $switch-background;
    color: transparent;
    border-radius: $switch-radius;
    cursor: pointer;
    transition: $input-transition;
    user-select: none;
    &:after {
        display: block;
        position: absolute;
		content: '';
        width: $switch-label-width;
		height: $switch-label-height;
		top: -3px;
		left: -1px;
		border-radius: $switch-radius;
		background: $white;
		box-shadow: $switch-shadow;
		transition: $input-transition;
    }
}

%igx-switch-lbl--on {
    background-color: $switch-active-background;
    &:after {
        left: 16px;
        background: $radio-fill-color;
    }
}

%igx-switch-lbl--disabled {
    background: #F0F0F0;
    pointer-events: none;
    &:after {
        background: #D1D1D1;
        box-shadow: $switch-disabled-shadow;
    }
}