%igx-tab-panel {
    display: none;
}

%igx-tab-panel--selected {
    display: block;
}

%igx-tabbar-menu {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: em(56px, 16px);
    margin: 0;
    padding: 0;
    background: $tab-bar-background;
    color: set-color($tab-bar-background);
    overflow: hidden;
    z-index: 8;
}

%igx-tabbar-menu--top {
    bottom: inherit;
    top: 0;
    box-shadow: $elevate-8;
}

%igx-tabbar-menu--bottom {
    top: inherit;
    bottom: 0;
    box-shadow: $elevate-8-up;
}

%igx-tabbar-menu-item {
    display: flex;
    position: relative;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    flex-grow: 1;
    height: 100%;
    cursor: pointer;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
    overflow: hidden;
    padding: 0 16px;
    -webkit-tap-highlight-color: transparent;
}

%igx-tabbar-menu-item--disabled {
    opacity: 0.5;
    cursor: default;
}

%igx-active-tab {
    opacity: 1;
    color: $secondary-color;
    transition: all .25s ease-out; 
}

%igx-tab-label {
    max-width: 168px;
    padding-top: 5px;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 1;
    opacity: .75;
}

%igx-tab-icon {
    position: relative;
    height: 24px;
    z-index: 1;
    opacity: .75;
}

%igx-tab-label--selected,
%igx-tab-icon--selected {
    @extend %igx-active-tab;
}