%tab-wrapper-display {
    display: block;
}

%tabbar-inner-display {
    width: 100%;
    height: 100%;
    position: absolute;
}

%tabbar-menu {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 56px;
    margin: 0;
    padding: 0;
    background: $tab-bar-background;
    color: set-color($tab-bar-background);
    overflow: hidden;
    z-index: 8;
}

%tabbar-menu--top {
    top: 0;
    box-shadow: $elevate-8;
}

%tabbar-menu--bottom {
    bottom: 0;
    box-shadow: $elevate-8-up;
}

%tabbar-menu-item {
    display: flex;
    position: relative;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    flex-grow: 1;
    height: 100%;
    list-style: none;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}

%tabbar-menu-item--disabled {
    opacity: 0.5;
    cursor: default;
}

%active-tab {
    opacity: 1;
    color: $primary-color;
    transition: all .25s ease-in; 
}

%tab-label {
    max-width: 168px;
    padding-top: 5px;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 1;
    opacity: .75;
}

%tab-icon {
    position: relative;
    height: 24px;
    z-index: 1;
    opacity: .75;
}

%tab-label--selected,
%tab-icon--selected {
    @extend %active-tab;
}