<div class="sample-wrapper">
    <div class="sample-header">
        <h1 class="title">Ripple</h1>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pretium lorem id tristique sagittis. Proin in mauris ac
            tortor placerat sollicitudin eu sit amet leo. Aliquam consectetur eu sem vitae egestas. Class aptent taciti sociosqu
            ad litora torquent per conubia nostra, per inceptos himenaeos. Cras a erat sagittis, iaculis urna ac, mollis
            elit. Vestibulum accumsan ex at mauris sagittis, sed tincidunt justo fringilla. Phasellus vel porttitor odio.
            Aenean quis nisi non ex ultrices efficitur. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec
            nec felis cursus erat mattis venenatis. Curabitur congue ullamcorper nisi nec blandit. Fusce molestie consectetur
            urna sed feugiat.
        </p>
    </div>

    <section class="sample-content">
        <article class="sample-column">
            <h4 class="sample-title">Light Ripple on Dark Background</h4>
            <div class="ripple-sample dark" igxRipple="white">
                <p>Click me to see my ripple!</p>
            </div>
        </article>
        <article class="sample-column">
            <h4 class="sample-title">Dark Ripple on Light Background</h4>
            <div class="ripple-sample light" igxRipple="black">
                <p>Click me to see my ripple!</p>
            </div>
        </article>
    </section>
</div>
