<div class="sample-wrapper">
    <page-header title="Ripple" description="Animates a click/tap to a component as a series of fading waves."></page-header>
    <section class="sample-content">
        <article class="sample-column">
            <h4 class="sample-title">Light Ripple on Dark Background</h4>
            <div class="ripple-sample dark" igxRipple="white">
                <p>Click me to see my ripple!</p>
            </div>
        </article>
        <article class="sample-column">
            <h4 class="sample-title">Dark Ripple on Light Background</h4>
            <div class="ripple-sample light" igxRipple="black">
                <p>Click me to see my ripple!</p>
            </div>
        </article>
    </section>
</div>