.shadows-container {
    margin: 32px 16px;
}

.sample-title {
    margin: 0 16px;
}

.elevations {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}

.elevation-sample {
    padding: 16px;
    color: hsl(var(--ig-gray-700));
}

.elevation-sample p.variable {
    font-weight: 600;
    margin-bottom: 24px;
}

.elevate-image {
    margin: 0 16px;
    user-select: none;
}

.elevation-sample p.css {
    margin-bottom: 0;
    font-size: 14px;
}

.elevation-sample.elevate-1 {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .26), 0 1px 1px 0 rgba(0, 0, 0, .12),
        0 2px 1px -1px rgba(0, 0, 0, .08);
}

.elevation-sample.elevate-2 {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .26), 0 2px 2px 0 rgba(0, 0, 0, .12),
        0 3px 1px -2px rgba(0, 0, 0, .08);
}

.elevation-sample.elevate-3 {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .26), 0 3px 4px 0 rgba(0, 0, 0, .12),
        0 3px 3px -2px rgba(0, 0, 0, .08);
}

.elevation-sample.elevate-4 {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .26),
        0 4px 5px 0 rgba(0, 0, 0, .12), 0 1px 10px 0 rgba(0, 0, 0, .08);
}

.elevation-sample.elevate-6 {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .26),
        0 6px 10px 0 rgba(0, 0, 0, .12), 0 1px 18px 0 rgba(0, 0, 0, .08);
}

.elevation-sample.elevate-8 {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .26),
        0 8px 10px 1px rgba(0, 0, 0, .12), 0 3px 14px 2px rgba(0, 0, 0, .08);
}

.elevation-sample.elevate-9 {
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, .26),
        0 9px 12px 1px rgba(0, 0, 0, .12), 0 3px 16px 2px rgba(0, 0, 0, .08);
}

.elevation-sample.elevate-12 {
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .26),
        0 12px 17px 2px rgba(0, 0, 0, .12), 0 5px 22px 4px rgba(0, 0, 0, .08);
}

.elevation-sample.elevate-16 {
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .26),
        0 16px 24px 2px rgba(0, 0, 0, .12), 0 6px 30px 5px rgba(0, 0, 0, .08);
}

.elevation-sample.elevate-24 {
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .26),
        0 24px 38px 3px rgba(0, 0, 0, .12), 0 9px 46px 8px rgba(0, 0, 0, .08);
}
