.shadows-container {
    margin: 32px 16px;
}

.sample-title {
    margin: 0 16px;
}

.elevations {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}

.elevation-sample {
    padding: 16px;
    color: var(--ig-gray-700);
}

.elevation-sample p.variable {
    font-weight: 600;
    margin-bottom: 24px;
}

.elevate-image {
    margin: 0 16px;
    user-select: none;
}

.elevation-sample p.css {
    margin-bottom: 0;
    font-size: 14px;
}

.elevate-1 {
    box-shadow: var(--ig-elevation-1);
}

.elevate-2 {
    box-shadow: var(--ig-elevation-2);
}

.elevate-3 {
    box-shadow: var(--ig-elevation-3);
}

.elevate-4 {
    box-shadow: var(--ig-elevation-4);
}

.elevate-6 {
    box-shadow: var(--ig-elevation-6);
}

.elevate-8 {
    box-shadow: var(--ig-elevation-8);
}

.elevate-9 {
    box-shadow: var(--ig-elevation-9);
}

.elevate-12 {
    box-shadow: var(--ig-elevation-12);
}

.elevate-16 {
    box-shadow: var(--ig-elevation-16);
}

.elevate-24 {
    box-shadow: var(--ig-elevation-24);
}
