#date-time {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

igx-input-group {
    --ig-size: var(--ig-size-small);
}

.switch-container {
    display: flex;
    align-items: center;
    gap: 8px;

    label {
        margin: 0;
    }
}
