@use 'igniteui-theming/sass/bem' as *;

@include b(properties-panel) {
    isolation: isolate;
    contain: layout paint content;
    min-width: fit-content;

    igx-input-group {
        --ig-size: var(--ig-size-small);
    }

    > *:not(:last-child) {
        margin-bottom: 1rem;
    }

    @include e(property-label) {
        display: inline-block;
        margin-bottom: 0.5rem;
    }

    @include e(switch-container) {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    @include e(date-time) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }

    @include e(title) {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 1rem;
        gap: .5rem;

        igx-icon {
            --size: 2rem;
            --color: var(--ig-gray-400);
        }
    }
}

.custom-controls {
    display: grid;
    gap: 1rem;
}
