:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.density-chooser {
    max-width: 40%;
}

igx-pivot-grid {
    flex: 1;
}

.sample-flex-row {
    align-items: center;
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    flex-direction: column;
}

:host ::ng-deep {
    .upFont {
        color: lightgreen;
    }

    .downFont {
        color: lightcoral;
    }

    .upFont1 {
        color: skyblue;
    }

    .downFont1 {
        color: yellow;
    }
}
