:host {
    display: flex;
    flex-direction: column;
}

.density-chooser {
    max-width: 60%;
    min-width: 400px;
}

igx-pivot-grid {
    flex: 1;
}

.sample-flex-row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;

    igx-combo {
        min-width: 400px;
    }
}

:host ::ng-deep {
    .upFont {
        color: lightgreen;
    }

    .downFont {
        color: lightcoral;
    }

    .upFont1 {
        color: skyblue;
    }

    .downFont1 {
        color: yellow;
    }

    igx-pivot-data-selector {
        border: 1px solid var(--ig-gray-200);
        margin: 0 8px;
    }
}

.pivot-container {
    display: flex;
    align-items: flex-start;
    flex: 1 1 auto;
    order: 0;
    align-items: stretch;
}
