:host ::ng-deep {
    .upFont {
        color: lightgreen;
    }

    .downFont {
        color: lightcoral;
    }

    .upFont1 {
        color: skyblue;
    }

    .downFont1 {
        color: yellow;
    }
}
