.avatars-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.avatars {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: subgrid;
    grid-row: span 4;
    justify-items: center;
    gap: 24px;
}

.avatar {
    place-items: center;

    p {
        margin-top: 0;
        margin-bottom: 8px;
    }
}
