<div class="sample-wrapper">
    <div class="sample-header">
        <h1 class="title">Avatar</h1>
        <p class="description">
            Allows the user to add images, icons or initials to the application. It visually represents the user.
        </p>
    </div>

    <div class="sample-content">

        <!--Round Avatars-->
        <section class="sample-column">
            <h4 class="sample-title">Circular Avatars</h4>
            <article class="avatars-wrapper">
                <div class="avatar-sample">
                    <igx-avatar color="gray" [roundShape]="'true'" color="#484848"></igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar color="gray" [roundShape]="'true'" color="#484848" size="medium"></igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar color="gray" [roundShape]="'true'" color="#484848" size="large"></igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar initials="AZ" [roundShape]="'true'" bgColor="#D1D1D1" color="#484848"></igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar initials="AZ" [roundShape]="'true'" bgColor="#D1D1D1" color="#484848" size="medium"></igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar initials="AZ" [roundShape]="'true'" bgColor="#D1D1D1" color="#484848" size="large"></igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar src="../demos/app/avatar/images/4.jpg" roundShape="true"></igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar src="../demos/app/avatar/images/17.jpg" roundShape="true" size="medium"></igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar src="../demos/app/avatar/images/21.jpg" roundShape="true" size="large"></igx-avatar>
                </div>
            </article>
        </section>

        <!--Square Avatars-->
        <section class="sample-column">
            <h4 class="sample-title">Square Icons</h4>
            <article class="avatars-wrapper">
                <div class="avatar-sample">
                    <igx-avatar color="gray" color="#484848"></igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar color="gray" color="#484848" size="medium"></igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar color="gray" color="#484848" size="large"></igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar initials="AZ" bgColor="#D1D1D1" color="#484848"></igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar initials="AZ" bgColor="#D1D1D1" color="#484848" size="medium"></igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar initials="AZ" bgColor="#D1D1D1" color="#484848" size="large"></igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar src="../demos/app/avatar/images/18.jpg"></igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar src="../demos/app/avatar/images/16.jpg" size="medium"></igx-avatar>
                </div>

                <div class="avatar-sample">
                    <igx-avatar src="../demos/app/avatar/images/19.jpg" size="large"></igx-avatar>
                </div>
            </article>
        </section>

    </div>
</div>