<h3>Avatars</h3>
<div style="width: 600px;">
    <table>
        <tr>
            <td>
                <igx-avatar [src]="src" [roundShape]="roundShape">
                    <igx-badge type="warning" value="8"></igx-badge>
                </igx-avatar>
            </td>
            <td>
                <igx-avatar [src]="src">
                </igx-avatar>
            </td>
            <td>
                <igx-avatar src="https://unsplash.it/60/60?image=55">
                </igx-avatar>
            </td>
            <td>
                <igx-avatar src="https://unsplash.it/60/60?image=55" [initials]="initials"
                    [bgColor]="bgColor" [roundShape]="roundShape">
                </igx-avatar>
            </td>
            <td>
                <igx-avatar initials="RK" bgColor="#fbb13c">
                </igx-avatar>
            </td>
            <td>
                <igx-avatar initials="AA" bgColor="#731963" roundShape="true">
                </igx-avatar>
            </td>
            <td>
                <igx-avatar roundShape="true" icon="person" bgColor="#0375be" data-init="SS">
                </igx-avatar>
            </td>
        </tr>
        <tr>
            <td>
                <igx-avatar initials="ZK" width="100" roundShape="true"
                    bgColor="#ff6978">
                    <igx-badge type="error" value="222" position="bottom-left"></igx-badge>
                </igx-avatar>
            </td>
            <td>
                <igx-avatar initials="HA" width="100" size="potatos"
                    bgColor="#340068">
                    <igx-badge type="info" position="top-right"></igx-badge>
                </igx-avatar>
            </td>
            <td>
                <igx-avatar initials="PP" width="100" color="black" icon="person"
                    roundShape="false" bgColor="#94feed">
                    <igx-badge icon="link" position="invalid"></igx-badge>
                </igx-avatar>
            </td>
            <td>
                <igx-avatar initials="PP" size="medium" roundShape="false"
                    bgColor="#e41c77">
                    <igx-badge type="success" icon="done" position="bottom-right"></igx-badge>
                </igx-avatar>
            </td>
            <td>
                <igx-avatar initials="ZK" size="large" roundShape="true"
                    bgColor="#484848">
                    <igx-badge type="success" icon="done" position="top-right"></igx-badge>
                </igx-avatar>
            </td>
            <td>
                <igx-avatar color="gray">
                </igx-avatar>
            </td>
        </tr>
    </table>
</div>
<span igxButton="raised" (click)="changeLink()">Change Image</span>