
.sample-wrapper {
    display: flex;
    flex-direction: column;

    >* {
        margin-bottom: 16px;
    }
}

igc-dropdown::part(base) {
    height: 400px;
    width: 180px;
    overflow: auto;
}
