:host {

    .sample-column {
        display: flex;
        flex-flow: row wrap !important;
        width: 100%;
        height: 100vh;
    }

    .grid-wrapper {
        width: 70%;
    }

    --ig-size: var(--ig-size-small);

}
