@use '../../base' as *;
@use 'sass:string';

/// @access private
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
@mixin component {
    @include b(igx-divider) {
        // Register the component in the component registry
        $this: bem--selector-to-string(&);
        @include register-component(
            $name: string.slice($this, 2, -1),
            $deps: ()
        );

        @extend %igx-divider-display !optional;

        @include m(inset) {
            @extend %igx-divider--inset !optional;
        }

        @include m(dashed) {
            @extend %igx-divider--dashed !optional;
        }

        @include m(vertical) {
            @extend %igx-divider--vertical !optional;
        }

        @include mx(vertical, inset) {
            @extend %igx-divider--vertical-inset !optional;
        }
    }
}
