<h1 class="componentTitle">TabBar</h1>
<igx-tab-bar>

    <igx-tab-panel label="Music" icon="library_music">
        <p class="componentDesc">The IgTabBar allows you to tabulate your content. It provides flexible ways to manage and navigate through your tabularized data.</p>
    </igx-tab-panel>

    <igx-tab-panel label="Videos" icon="video_library">
        <p class="componentDesc">You can style each tab with any icon form the material icon set as demonstrated below.</p>
    </igx-tab-panel>

    <igx-tab-panel label="Books" icon="library_books">
        <p class="componentDesc">Listening for click events allows you to customize the way your Tab bar works.</p>
    </igx-tab-panel>

</igx-tab-bar>
