# See http://help.github.com/ignore-files/ for more about ignoring files.


# compiled output
/dist
/tmp
/out-tsc

.angular/*

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode/VS
.vscode/*
.vs/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
TESTS-**.xml

# System Files
.DS_Store
Thumbs.db

src/**/*.js
src/**/*.js.map
src/**/*.css.map

# Typedoc Theme
extras/docs/themes/typedoc/bin
extras/docs/themes/sassdoc/node_modules
extras/docs/themes/sassdoc/sassdoc/*

# Localization sources
i18nRepo
