# See http://help.github.com/ignore-files/ for more about ignoring files.


# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# demo folder trash until we migrate
demos/**/*.js
demos/**/*.js.map
demos/style/fonts
demos/style/*.css
demos/node_modules
demos/lib
demos/dist
demos/polyfills.js
demos/vendor.js
demos/main.js
demos/index.html
!demos/webpack.config.js
!demos/postcss.config.js
!demos/gulpfile.js

oldsrc/**/*.js
oldsrc/**/*.js.map
oldsrc/**/*.css
oldsrc/**/*.css.map


src/**/*.js
src/**/*.js.map
src/**/*.css
src/**/*.css.map
