language: node_js
node_js:
  - "5"
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3
before_script:
  - npm install -g gulp
script:
  - npm test
  - cat ./coverage/report-lcov/lcov.info | coveralls