.code-snipet {
    margin: 0 -20px 0 -20px;
}

pre[class*=language-] {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 45px;
    padding-right: 20px;
    margin: 0;
    background: transparent;
    font-size: 13px;
}