/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
  =========================================
  Box Sizing
  Reset your elements box model with ease.
  =========================================
*/
/*
  ===========================================================
  Font Size
  Set a rem font size with pixel fallback.
  ===========================================================
*/
/*
  ===========================================================
  Transitions
  ===========================================================
*/
/* Classes */
.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.center-horizontal {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.justify-content-b {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

.justify-content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end; }

.base-line-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end; }

.base-line-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.svg-icon {
  width: 2em;
  height: 2em; }

.github {
  fill: #fff;
  fill-rule: evenodd; }

.btn {
  padding: 0.4375em 0.9375em;
  border-radius: 0.125em;
  border: none;
  background: #ff6978;
  font-size: 16px;
  font-family: Titillium Web;
  color: #fff;
  font-style: normal;
  background-clip: padding-box;
  box-shadow: 0 8px 12px 0 rgba(173, 173, 173, 0.38);
  cursor: pointer;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
  /* example  @include transition(color .3s ease); */ }
  .btn:hover {
    background: #ff5061; }

body {
  background: #eee;
  font-family: 'Titillium Web', sans-serif;
  overflow-x: hidden; }

/* Reset your elements box model with ease. */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Site wrapper */
.wrapper {
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto; }

.fork {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  /* example  @include transition(color .3s ease); */ }
  .fork span {
    margin-right: 0.3125em;
    color: #fff; }
  .fork:hover {
    opacity: .75; }

/* Typography */
h1 {
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.2; }

h2 {
  font-size: 1.4375em;
  line-height: 1.6;
  font-weight: 300; }

h3 {
  color: #ff6978;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400; }

::-moz-selection {
  /* Code for Firefox */
  color: #000;
  background: #ffcfd4; }

::selection {
  color: #000;
  background: #ffcfd4; }

.logo {
  position: relative;
  display: inline-block;
  height: 6.0625em; }
  .logo h1 {
    display: none; }

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }

.header-bkg {
  background: url("./demos/images/bkg.jpg") no-repeat scroll top;
  min-height: 500px;
  padding-top: 2.5em;
  margin-bottom: 9.375em; }

.banner-message {
  color: #fff;
  max-width: 60%;
  margin-bottom: 4.375em; }

.main-header {
  margin-bottom: 4.375em; }

.code-section-header {
  border-bottom: 2px solid #ff6978;
  padding: 1.25em;
  margin: -1.25em -1.25em 1.25em -1.25em; }

.section-wrap {
  box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.19);
  background: #fff;
  min-height: 17.5em;
  margin-bottom: 13.75em;
  position: relative;
  padding: 1.25em; }
  .section-wrap h1 {
    color: #ff6978; }
  .section-wrap h2 {
    font-weight: 100;
    color: #757575; }
    .section-wrap h2 strong {
      color: #666;
      font-weight: 400; }

.section-img {
  position: absolute;
  flex: 1;
  z-index: 2; }

.reflection-image {
  z-index: 3;
  top: -3.3125em;
  left: 0.3125em;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./demos/images/reflection.png', sizingMethod='scale');
  background: none !important; }

.phons-image {
  top: -6.25em;
  left: -1.75em;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./demos/images/phones.png', sizingMethod='scale');
  background: none !important; }

.phon-image {
  top: -3.875em;
  right: 0;
  width: 18.625em; }

.section-message {
  position: relative;
  right: 0;
  flex: 1; }

.section-from-left {
  padding-left: 25em;
  position: relative;
  z-index: 1; }
  .section-from-left button {
    margin-right: 0.625em; }
    .section-from-left button:last-of-type {
      margin-right: 0; }
  .section-from-left .buttons-wrap {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end; }
  .section-from-left:before, .section-from-left:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 6249.9375em;
    background: #fff; }
  .section-from-left:before {
    right: 100%;
    top: 0;
    box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.19);
    z-index: 0; }
  .section-from-left:after {
    right: 90%;
    top: 0;
    z-index: 1; }

.section-from-right {
  padding-right: 23.125em;
  position: relative;
  z-index: 1; }
  .section-from-right .section-message header {
    margin-bottom: 1.25em; }
  .section-from-right:before, .section-from-right:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 6249.9375em;
    background: #fff; }
  .section-from-right:before {
    left: 100%;
    top: 0;
    box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.19);
    z-index: 0; }
  .section-from-right:after {
    left: 90%;
    top: 0;
    z-index: 1; }

.nav-components {
  margin-right: 6.5625em; }

.phon-preview {
  width: 18.3125em;
  height: 37.875em;
  position: absolute;
  right: 0;
  flex: 1;
  z-index: 2; }

.preview-container {
  position: relative;
  z-index: 2;
  width: 17em;
  height: 29.6875em;
  left: 10px;
  /*  This is ins pixels for IE10 */
  top: 0.625em;
  padding: 0.625em; }

.main-footer {
  padding: 1.875em;
  background: #272727;
  min-height: 8.75em; }
  .main-footer > div {
    min-height: 8.75em;
    height: 8.75em; }
  .main-footer .fork {
    margin: 0 auto;
    width: 10em; }
  .main-footer small {
    font-size: 0.625em;
    color: #a1a1a1;
    margin: 0 1.25em 0.375em 1.25em; }

/* Logo's */
.smll-z-logo,
.smll-ig-logo,
.small-ing {
  overflow: hidden;
  display: block;
  background-repeat: no-repeat; }

.smll-z-logo {
  width: 3.5em;
  height: 1.875em; }

.smll-ig-logo {
  width: 5.5625em;
  height: 1.875em; }
  .smll-ig-logo img {
    width: 100%;
    height: auto; }

.small-ing {
  width: 8.6875em;
  height: 1.25em; }

.nav-list li {
  padding: 0.625em;
  position: relative; }
  .nav-list li:hover {
    color: #272727;
    background: #eee; }
.nav-list a {
  text-decoration: none;
  color: #757575;
  font-size: 1.4375em;
  font-weight: 100;
  position: relative;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  /* example  @include transition(color .3s ease); */ }
.nav-list .active {
  font-weight: 600;
  color: #ff6978; }
  .nav-list .active:hover {
    color: #ff6978; }

.tabs .active {
  color: #ff6978; }
  .tabs .active:hover {
    color: #ff6978; }
.tabs a {
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  /* example  @include transition(color .3s ease); */
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  color: #272727; }
  .tabs a ~ a {
    margin-left: 0.625em; }
  .tabs a:hover {
    color: #ff9ca6; }

/* DROPDOWN START */
.dropdown {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: none;
  position: relative; }
  .dropdown:before {
    position: absolute;
    content: "";
    top: calc(50% - 4px);
    right: 15px;
    z-index: 2;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent;
    pointer-events: none; }
  .dropdown select {
    padding: 7px 15px;
    width: 100%;
    background: #ff6978;
    color: #fff;
    border: none;
    box-shadow: none;
    -webkit-appearance: none;
    /* need for Safari */
    text-overflow: "";
    /* nedd for firefox */
    text-indent: 0.01px;
    /* nedd for firefox */
    -moz-appearance: none;
    /* nedd for firefox */
    border-radius: 0.125em;
    font-size: 16px;
    font-family: Titillium Web;
    position: relative;
    z-index: 1; }
  .dropdown option {
    background: #fff;
    color: #272727;
    padding: 0.625em; }
  .dropdown option[disabled] {
    display: none; }
  .dropdown optgroup {
    color: #ff6978;
    background: #fff; }
  .dropdown select:focus {
    outline: none; }

.badge {
  padding: 2px 5px 1px 4px;
  position: absolute;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase; }
  .badge.beta {
    left: calc(100% + 5px);
    top: 50%;
    background: #fff;
    color: #ff6978; }
  .badge.preview {
    left: calc(100% + 10px);
    top: calc(50% - 7px);
    background-image: linear-gradient(105deg, #e41c77, #fbb13c);
    color: #fff; }

@media only screen and (max-width: 820px) {
  .section-from-left .buttons-wrap {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start; }

  .banner-message {
    max-width: 80%; } }
@media only screen and (max-width: 500px) {
  .logo {
    margin-bottom: 2.5em;
    left: -1em; }

  .header-bkg .main-header {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }

  h1 {
    font-size: 1.875em; }

  h2, h3 {
    font-size: 1.125em; } }
@media only screen and (max-width: 769px) {
  .main-footer > div {
    height: auto; }

  .logos-wrap {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .logos-wrap .group-logos {
      margin-bottom: 1.25em; }

  .phon-preview {
    position: relative;
    width: 100%;
    height: auto; }

  .preview-container {
    width: 100%;
    height: auto;
    min-height: 40px;
    left: 0;
    top: 0;
    padding: 0; }

  .dropdown {
    display: block;
    margin-bottom: 1.25em; }

  .nav-components {
    margin-right: 3.125em; }

  .btn {
    width: 100%; }

  .banner-message {
    max-width: 100%; }

  .header-bkg,
  .section-wrap {
    margin-bottom: 1.25em; }

  .phons-image,
  .phon-image,
  .reflection-image,
  .nav-directives,
  .nav-components {
    display: none; }

  .section-from-left,
  .section-from-right {
    padding-left: 1.25em;
    padding-right: 1.25em; }
    .section-from-left:before, .section-from-left:after,
    .section-from-right:before,
    .section-from-right:after {
      display: none; }

  .section-wrap {
    min-height: 0;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

  .section-message {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }
    .section-message header {
      margin-bottom: 1.25em; } }

/*# sourceMappingURL=screen.css.map */
