@use 'igniteui-theming/sass/bem/index' as *;
@use 'igniteui-theming/sass/typography/index' as *;
@use 'igniteui-theming/sass/animations/index' as *;
@use 'igniteui-theming/sass/themes/functions' as *;
@use 'styles/themes/standalone' as *;
@use '../light/tokens' as *;

$_theme: $indigo;

@include themed-block(igx-calendar-view-item, indigo) {
    @include m('current') {
        @include e(inner) {
            box-shadow: inset 0 0 0 rem(2px) var-get($_theme, 'ym-current-outline-color');

            &:hover {
                box-shadow: inset 0 0 0 rem(2px) var-get($_theme, 'ym-current-outline-hover-color');
            }
        }
    }

    @include mx('current', 'active') {
        @include e(inner) {
            box-shadow: inset 0 0 0 rem(2px) var(--content-background),
            0 0 0 rem(1px) var-get($_theme, 'ym-current-outline-focus-color');
        }
    }

    @include m('selected') {
        @include e(inner) {
            box-shadow: inset 0 0 0 rem(2px) var-get($_theme, 'ym-selected-outline-color');

            &:hover {
                box-shadow: inset 0 0 0 rem(2px) var-get($_theme, 'ym-selected-hover-outline-color');
            }
        }
    }

    @include mx('selected', 'active') {
        @include e(inner) {
            box-shadow: inset 0 0 0 rem(2px) var-get($_theme, 'ym-selected-focus-outline-color');
        }
    }

    @include mx('selected', 'current') {
        @include e(inner) {
            &::after {
                border-color: var-get($_theme, 'ym-selected-current-outline-color');
            }

            &:hover {
                &::after {
                    border-color: var-get($_theme, 'ym-selected-current-outline-hover-color');
                }
            }
        }
    }

    @include mx('selected', 'current', 'active') {
        @include e(inner) {
            &::after {
                border-color: var-get($_theme, 'ym-selected-current-outline-focus-color');
            }
        }
    }

    @include e(inner) {
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            inset-inline-start: 0;
            inset-block-start: 0;
            z-index: 0;
            border-radius: inherit;
            border: rem(2px) solid transparent;
            pointer-events: none;
        }
    }
}
