<div class="list-sample">
    <article class="sample-column" [style.width]="'500px'">
            <h4 class="sample-title">Performance sample</h4>
            <div class="igx-form-group">
                <input class="igx-form-group__input--search" placeholder="Search Contacts" [(ngModel)]="search1" />
                <label igxLabel>
                    <igx-icon fontSet="material" name="search"></igx-icon>
                </label>
                <span class="igx-form-group__clear--hidden">
                    <igx-icon fontSet="material" name="clear"></igx-icon>
                </span>
            </div>
            <div class="list-sample">
                <igx-list>
                    <igx-list-item [isHeader]="true">Contacts</igx-list-item>
                    <div [style.height]="'518px'">
                        <igx-list-item igxRipple="pink" igxRippleTarget=".igx-list__item"
                        *igxVirtFor="let item of data | igxFilter: fo1; scrolling : 'vertical'; containerSize: '500px'; itemSize: '50px'">
                            <div class="item">
                                <igx-avatar [src]="item.avatar" roundShape="true"></igx-avatar>
                                <span igxLabel>{{item.text}}</span>
                                <igx-icon name="star" [class.favorite]="item.favorite"></igx-icon>
                            </div>
                        </igx-list-item>
                    </div>
                </igx-list>
            </div>
    </article>
</div>