@import "../themes/base/utilities/index";
@import "../themes/material/config";
@import "../themes/material/extends/switch";

@include b(igx-control) {
    $block: bem--selector-to-string(&);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $control-padding;

    @include e(switch) {
        @include hide-default;

        ~ #{$block}__label {
            @extend %igx-switch-lbl-display;
        }

        &:checked ~ #{$block}__label {
            @extend %igx-switch-lbl--on;
        }

        &:disabled ~ #{$block}__label {
            @extend %igx-switch-lbl--disabled;
        }
    }

    @include e(switch-text) {
        padding-right: em(16px);
    }
}
