<input #checkbox class="igx-switch__input" type="checkbox"
    [id]="id"
    [name]="name"
    [value]="value"
    [tabindex]="tabindex"
    [disabled]="disabled"
    [checked]="checked"
    [attr.aria-checked]="checked"
    [attr.aria-labelledby]="ariaLabelledBy"
    [attr.aria-label]="ariaLabel"
    (change)="_onSwitchChange($event)"
    (click)="_onSwitchClick($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)" />

<label #label class ="igx-switch__composite" [for]="id"
    igxRipple
    igxRippleTarget=".igx-switch__ripple"
    [igxRippleDisabled]="disableRipple"
    [igxRippleCentered]="true"
    [igxRippleDuration]="100">
    <div class="igx-switch__composite-thumb">
        <div class="igx-switch__ripple"></div>
    </div>
</label>

<span #placeholderLabel role="label"
    [class]="labelClass"
    [id]="labelId"
    (click)="_onLabelClick($event)">
    <ng-content></ng-content>
</span>
