<ig-nav-drawer id="test"
    (opened)="logEvent($event)" 
    (closed)="logEvent($event)"
    (opening)="logEvent($event)" 
    (closing)="logEvent($event)"
    [position]="position"
    pinThreshold=""
    [pin]="pin"
    [enableGestures]='gestures'
    [isOpen]="open"
    [width]="drawerWidth"
    [miniWidth]="drawerMiniWidth">
    
        <!-- expand + mini templates -->
        <ig-drawer-content>
            <h1> Drawer Title <button ig-nav-close="test"> X </button></h1>
            <div *ngFor="#navItem of navItems"><img src="http://www.infragistics.com/assets/images/favicon.ico" width='16' /> <a href="{{navItem.link}}"> {{navItem.text}} </a></div>

            <ig-list> 
              <ig-item [href]="'http://google.com/'">Google</ig-item> 
              <ig-item [href]="'http://youtube.com/'">YouTube</ig-item> 
              <ig-item [href]="'http://facebook.com/'">Facebook</ig-item> 
            </ig-list>

            <ig-list>
                     <ig-item *ngFor="#navItem of navItems">
                         {{navItem.text}}
                     </ig-item>
                </ig-list>

                <ig-list> 
                  <ig-header>Mildly Sweet</ig-header> 
                  <ig-item>Red Delicious</ig-item> 
                  <ig-item>Ambrosia</ig-item> 
                  <ig-item>Rome</ig-item> 
                 
                  <ig-header>Sweet</ig-header> 
                  <ig-item>Golden Delicious</ig-item> 
                  <ig-item>Cosmic Crisp</ig-item> 
                  <ig-item>Pinova</ig-item> 
                 
                  <ig-header>Super Sweet</ig-header> 
                  <ig-item>Gala</ig-item> 
                  <ig-item>Fuji</ig-item> 
                  <ig-item>Kiku</ig-item> 
                </ig-list> 

                <ig-list> 
                  <ig-item *ngFor="#navItem of navItems; #index = index"> 
                    {{navItem.text}} 
                    <button ig-button class="ig-icon-button ig-delete" aria-label="Delete" (click)="removeItem(index)">
                      <i ig-icon>delete</i>
                    </button>
                  </ig-item> 
                </ig-list>
        </ig-drawer-content>
    </ig-nav-drawer>
    
<div class="sample-content" [class.full]="pin && !open">     
    
    <span class="hamburger" ig-nav-toggle="test" *ngIf="showToggle"> &#9776; </span>
    <a href="index.html"> Default sample</a>
    <a href="pin.html"> Pin sample</a>
    <a href="mini.html"> Mini sample</a>
    
    <div>
            <button ig-nav-toggle="test"> Toggle </button>
        <button ig-nav-close="test"> Close </button>
    </div>
    
    <button (click)="open = !open;"> Toggle opened</button>
    <button (click)="testToggle()"> Toggle method on ViewChild</button>
    
    <div template="ngIf showGestureToggle">
        <button (click)="gestures = !gestures;"> Toggle enableGestures</button>
    </div>
    
    <div template="ngIf showPositions">
        <button (click)="position = 'left';"> Left</button>
        <button (click)="position = 'right';"> Right</button>
    </div>
    
    <div template="ngIf showPinToggle">
        <button (click)="pin = true;"> pin</button>
        <button (click)="pin = false;"> unpin</button>
    </div>
    
    <label>
        Width: <input type='text' [(ngModel)]="drawerWidth" placeholder="Expanded width (300px)"/>
    </label>    
    
    <label *ngIf="showMiniWidth">
        Mini width: <input type='text' [(ngModel)]="drawerMiniWidth" placeholder="Mini width (60px)"/>    
    </label>             
    <div id="log" *ngIf="showEventLog">
            <p> Events: </p>
            <div *ngFor="#ev of log">{{ev}}</div>
    </div>

    <ig-list> 
          <ig-item *ngFor="#navItem of navItems; #index = index" [options]="options">
            {{navItem.text}} 
          </ig-item> 
        </ig-list>
</div>