// Block Element
// @access public
// @param {String} $element - Element's name
@mixin e($element) {
    &__#{$element} {
        @content;
    }
}

// Block Modifier
// @access public
// @param {String} $modifier - Modifier's name
@mixin m($modifier) {
    &--#{$modifier} {
        @content;
    }
}

@mixin hide-default {
  position: absolute;
  opacity: 0;
  margin: 0;
  z-index: -1;
  width: 0;
  height: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
}