////
/// @group themes
/// @access public
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
/// @author <a href="https://github.com/desig9stein" target="_blank">Marin Popov</a>
////

/// @param {Color} $toggle-icon-color [null] - The idle toggle icon color.
/// @param {Color} $toggle-icon-hover-color [null] - The hover toggle icon color.
/// @param {Color} $toggle-icon-active-color [null] - The active toggle icon color.
/// @param {Color} $toggle-icon-filtered-color [null] - The filtered toggle icon color.
/// @param {Color} $toggle-background [null] - The idle toggle background color.
/// @param {Color} $toggle-hover-background [null] - The hover toggle background color.
/// @param {Color} $toggle-active-background [null] - The active toggle background color.
/// @param {Color} $toggle-filtered-background [null] - The filtered toggle background color.
///
/// @param {Color} $menu-background [null] - The idle menu background color.
/// @param {Color} $menu-text-color [null] - The idle menu text color.
/// @param {Color} $menu-button-text-color [null] - The menu button text color.
/// @param {Color} $menu-button-disabled-text-color [null] - The menu disabled button text color.
/// @requires text-contrast
///
/// @example scss Change the menu background color
///   $my-filtering-theme: igx-grid-filtering-theme(
///     $menu-background: black,
///     $menu-text-color: white
///   );
///   // Pass the theme to the igx-grid-filtering component mixin
///   @include igx-grid-filtering($my-filtering-theme);
@function igx-grid-filtering-theme(
    $toggle-icon-color: null,
    $toggle-icon-hover-color: null,
    $toggle-icon-active-color: null,
    $toggle-icon-filtered-color: null,
    $toggle-background: null,
    $toggle-hover-background: null,
    $toggle-active-background: null,
    $toggle-filtered-background: null,

    $menu-background: null,
    $menu-text-color: null,
    $menu-button-text-color: null,
    $menu-button-disabled-text-color: null
) {
    @if not($menu-text-color) and $menu-background {
        $menu-text-color: text-contrast($menu-background);
    }

    @if not($menu-button-text-color) and $menu-background {
        $menu-button-text-color: rgba(text-contrast($menu-background), .24);
    }

    @if not($menu-button-disabled-text-color) and $menu-background {
        $menu-button-disabled-text-color: rgba(text-contrast($menu-background), .3)
    }

    @if not($toggle-icon-active-color) and $toggle-active-background {
        $toggle-icon-active-color: text-contrast($toggle-active-background)
    }

    @return (
        toggle-icon-color: $toggle-icon-color,
        toggle-icon-hover-color: $toggle-icon-hover-color,
        toggle-icon-active-color: $toggle-icon-active-color,
        toggle-icon-filtered-color: $toggle-icon-filtered-color,
        toggle-background: $toggle-background,
        toggle-hover-background: $toggle-hover-background,
        toggle-active-background: $toggle-active-background,
        toggle-filtered-background: $toggle-filtered-background,

        menu-background: $menu-background,
        menu-text-color: $menu-text-color,
        menu-button-text-color: $menu-button-text-color,
        menu-button-disabled-text-color: $menu-button-disabled-text-color
    );
}

/// @param {Map} $theme - The theme used to style the component.
/// @param {Map} $palette [$default-palette] - The palette used as basis for styling the component.
/// @requires igx-grid-filtering-theme
/// @requires igx-button-theme
/// @requires {mixin} igx-button
/// @requires igx-color
/// @requires igx-contrast-color
/// @requires igx-elevation
/// @requires $elevations
/// @requires extend
/// @requires rem
@mixin igx-grid-filtering($theme, $palette: $default-palette) {
    $default-theme: igx-grid-filtering-theme(
        $toggle-icon-color: inherit,
        $toggle-icon-hover-color: #fff,
        $toggle-icon-active-color: igx-contrast-color($palette, 'secondary'),
        $toggle-icon-filtered-color: igx-color($palette, 'secondary'),
        $toggle-hover-background: igx-color($palette, 'grays', 300),
        $toggle-active-background: igx-color($palette, 'secondary'),
        $toggle-filtered-background: transparent,

        $menu-background: #fff,
        $menu-text-color: igx-color($palette, 'grays', 900),
        $menu-button-text-color: igx-color($palette, 'secondary')
    );

    $this: extend($default-theme, $theme);

    $grid-filtering-options-padding: rem(8px, 16px);
    $grid-head-icon-size: rem(15px);
    $grid-head-icon-lh: rem(15px);
    $grid-head-icon-padding: rem(4.5px);

    $filtering-menu-min-width: 240px;
    $filtering-menu-shadow: igx-elevation($elevations, 8);
    $filtering-menu-radius: 4px;
    $filtering-menu-distance-to-toggle: 4px;

    %igx-filtering-display {
        position: static;
    }

    %igx-filtering-icon {
        cursor: pointer;
        color: map-get($this, 'toggle-icon-color');

        igx-icon {
            font-size: $grid-head-icon-size !important;
            line-height: $grid-head-icon-lh;
            padding: $grid-head-icon-padding;
            font-weight: 400;
        }
    }

    %igx-filtering-icon--active {
        color: map-get($this, 'toggle-icon-active-color');
    }

    %igx-filtering-icon--filtered {
        color: map-get($this, 'toggle-icon-filtered-color');
    }

    %igx-filtering-toggle {
        @extend %igx-filtering-icon;

        user-select: none;
        margin-left: 4px;
        background: map-get($this, 'toggle-background');
        border-radius: 50%;
    }

    %igx-filtering-toggle--hover {
        background: map-get($this, 'toggle-hover-background');
    }

    %igx-filtering-toggle--active {
        @extend %igx-filtering-icon;
        @extend %igx-filtering-icon--active;

        background: map-get($this, 'toggle-active-background');
    }

    %igx-filtering-toggle--filtered {
        @extend %igx-filtering-icon;
        @extend %igx-filtering-icon--filtered;

        background: map-get($this, 'toggle-filtered-background');
    }

    %igx-filtering-menu {
        display: block;
        position: absolute;
        font-size: initial;
        font-weight: initial;

        min-width: $filtering-menu-min-width;
        user-select: none;
        background: map-get($this, 'menu-background');
        color: map-get($this, 'menu-text-color');
        margin-top: $filtering-menu-distance-to-toggle;

        box-shadow: $filtering-menu-shadow;
        border: 1px solid lighten(map-get($this, 'menu-background'), 5%);
        border-radius: $filtering-menu-radius;
        padding: $grid-filtering-options-padding;
        z-index: 10;

        @include igx-button(igx-button-theme(
            $flat-text-color: map-get($this, 'menu-button-text-color'),
            $flat-hover-text-color: map-get($this, 'menu-button-text-color'),
            $flat-hover-background: rgba(map-get($this, 'menu-button-text-color'), .12),
            $flat-focus-text-color: map-get($this, 'menu-button-text-color'),
            $flat-focus-background: rgba(map-get($this, 'menu-button-text-color'), .08),
            $disabled-color: map-get($this, 'menu-button-disabled-text-color'),
            $disabled-background: transparent
        ));

        // TODO: remove after SELECT theme is created
        select {
            width: 100%;
            color: igx-color($palette, 'grays', 900);
            outline-style: none;
            border-radius: 4px;
        }
    }

    %igx-filtering-menu--to-left {
        right: 16px;
    }

    %igx-filtering-menu--to-right {
        right: initial;
    }

    %igx-filtering-menu-buttons {
        display: flex;
        justify-content: flex-end;

        [igxbutton] + [igxbutton] {
            margin-left: 8px;
        }

        &[dir='rtl'] {
            [igxbutton] + [igxbutton] {
                margin-right: 8px;
            }
        }
    }

    %igx-filtering-op {
        margin: 24px 0 12px;
    }
}
