@use 'igniteui-theming/sass/bem' as *;
@use 'igniteui-theming/sass/color/functions' as *;
@use 'styles/themes/standalone' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/radio' as *;

$_theme: digest-schema($dark-fluent-radio);

@include themed-block(igx-radio, fluent, dark) {
    @include m(invalid) {
        &:hover {
            @include e(composite) {
                &::before {
                    background: color($color: 'error', $variant: 500);
                }
            }
        }
    }

    @include mx(checked, invalid) {
        &:hover {
            @include e(composite) {
                &::before {
                    background: var-get($_theme, 'error-color-hover');
                }
            }
        }
    }
}
