.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(340px, 1fr));
    justify-items: center;
    padding-block-start: 2rem;
    gap: 1rem;
}

.angular-cards,
.wc-cards {
    display: grid;
    gap: 1rem;
    grid-row: 1;
}


.angular-cards:dir(rtl) {
    grid-column: 2;
}

.wc-cards:dir(rtl) {
    grid-column: 1;
}


.custom-controls {
    display: grid;
    gap: 1rem;
}

#igniteui-demo-app .sample-title {
    margin-bottom: 0;
    justify-self: center;
}

#igniteui-demo-app .sample-wrapper {
    height: auto;
}

#igniteui-demo-app .content {
    padding-bottom: 1rem;
}
