.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(340px, 1fr));
    justify-items: center;
    padding-block-start: 2rem;
    gap: 1rem;
}

.angular-cards, .wc-cards {
    justify-items: center;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: subgrid;
    grid-row: span 5;
}

.custom-controls {
    display: grid;
    gap: 1rem;
}

#igniteui-demo-app .sample-title {
    margin-bottom: 0;
}

#igniteui-demo-app .sample-wrapper {
    height: auto;
}

#igniteui-demo-app .content {
    padding-bottom: 1rem;
}
