.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding-block-start: 2rem;
}

.angular-cards, .wc-cards {
    justify-items: center;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: subgrid;
    grid-row: span 5;
    gap: 1rem;
}

.card {
    min-width: 320px;
    max-width: 320px;

    h4 {
        margin-bottom: 1rem;
    }
}

.custom-controls {
    display: grid;
    gap: 1rem;
}
