{{#with author}}
<article class="authors">
    <header>
        <h4 class="authors__title">{{#localize}}Authors{{/localize}}</h4>
    </header>
    <section class="authors__names">
        <ul class="authors__names-list">
            {{#each this}}
                <li>
                    {{{this}}}
                </li>
            {{/each}}
        </ul>
    </section>
</article>
{{/with}}
