<h3 class="definition-header">
    <span>
        <span class="definition-header__type{{typeClass context.type}}">{{context.type}}</span>
    </span>
    <span class="definition-header__name">{{context.name}}</span>
    <span class="definition-header__access">{{access}}</span>
</h3>