{{#with example}}
{{#each this}}
<article class="example">
    <header class="example__header">
        <h4 class="example__header-title">{{#localize}}Example{{/localize}}</h4>
        <div class="example__header-subtitle">
            <span class="example__header-description">{{{description}}}</span>
            <span class="example__header-type">{{type}}</span>
        </div>
    </header>
    <pre class="example__pre"><code lang={{type}}>{{code}}</code></pre>
</article>
{{/each}}
{{/with}}
