<article class="defined-in">
    <header class="defined-in__header" role="group">
        <span class="defined-in__icon"></span>
        <h4 class="defined-in__title">&nbsp;{{#localize}}Defined in{{/localize}}:</h4>
        <a class="defined-in__path" href="{{github file.path commentRange.start}}" target="_blank">{{file.path}}:{{commentRange.start}}</a>
    </header>
</article>
