<header class="header header--sticky tsd-header">
    {{#ifCond lang '==' 'jp'}}{{> infraHeadJA }}{{else}}{{> infraHead }}{{/ifCond}}
    <div class="header__secondary">
        <div class="header__logo">
            <a class="header__logo-name" href="https://www.infragistics.com/products/ignite-ui-angular" class="title">{{package.name}}</a>
            <span class="header__logo-version">API ver. 7.0.x</span>
        </div>

        <div class="tsd-nav-toggle align-end">
            <input id="tsd-toggle-cbx" type="checkbox">
            <label for="tsd-toggle-cbx">
                <span class="material-icons">menu</span>
            </label>
            <ul class="tsd-nav">
                <li class="tsd-nav-item">
                    <button class="infra-button--flat">
                        {{#ifCond lang '==' 'jp'}}
                            <a href="https://jp.infragistics.com/products/ignite-ui-angular">{{#localize}}Components{{/localize}}</a>
                        {{else}}
                            <a href="https://www.infragistics.com/products/ignite-ui-angular">{{#localize}}Components{{/localize}}</a>
                        {{/ifCond}}
                    </button>
                </li>
                <li class="tsd-nav-item">
                    <button class="infra-button">
                        {{#ifCond lang '==' 'jp'}}
                            <a href="https://jp.infragistics.com/products/ignite-ui-angular/getting-started/">{{#localize}}Get Started{{/localize}}</a>
                        {{else}}
                            <a href="https://infragistics.com/products/ignite-ui-angular/getting-started/">{{#localize}}Get Started{{/localize}}</a>
                        {{/ifCond}}
                    </button>
                </li>
            </ul>
        </div>
    </div>
</header>
