{{#with return}}
    <div class="returns">
        <h4 class="returns__title">Returns</h4>
        <div class="returns__group">
            <span class="returns__type">{{type}}</span>
            <span class="returns__description">{{{description}}}</span>
        </div>
    </div>
{{/with}}
