{{#if context.code}}
<article class="source">
<header class="source__header">
    <h4 class="source__title">Source Code</h4>
</header>
<pre>
<code lang="scss">{{context.code}}</code>
</pre>
</article>
{{/if}}
