@use 'igniteui-theming/sass/bem' as *;
@use '../../../core/src/core/styles/themes/scoping' as *;

@include layer(base) {
    @include b(igx-tree) {
        display: block;
        z-index: 0;
        overflow-y: auto;
    }
}
