
<h1 class="componentTitle">Inputs</h1>
<p class="componentDesc">Lets the user enters data through various inputs.</p>

<div class="flex-column flex-wrap space-wrapper justify-content-start">
    <div class="ig-form-group">
        <input type="text" igInput [(ngModel)]="user.name" />
        <label igLabel>Username</label>
        <span>value = {{ user.name || ''}}</span>
    </div>


    <div class="ig-form-group">
        <input type="password" igInput placeholder="{{placeholder}}" [(ngModel)]="user.password" />
        <label igLabel>Password</label>
        <span>value = {{ user.password || ''}}</span>
    </div>

    <div class="ig-form-group">
        <textarea placeholder="{{placeholder}}" igInput [(ngModel)]="user.comment"></textarea>
        <label igLabel>Textarea</label>
        <span>value = {{ user.comment || ''}}</span>
    </div>

    <ig-checkbox [(ngModel)]="user.registered">Registered</ig-checkbox>
    <br>
    <div>value = {{ user.registered }}</div>
    <br>
    <label igLabel>Label me!</label>
</div>
