@use '../../../../igniteui-angular/src/lib/core/styles/themes' as igx;
@use '../variables' as vars;
@use '../util' as util;
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$palette: igx.$light-fluent-palette;

@include igx.core();
@include igx.typography($font-family: igx.$fluent-typeface, $type-scale: igx.$fluent-type-scale);

@include util.elements-theme(
    $palette: $palette,
    // TODO: adjust dependencies
    // $exclude: util.include(vars.$allowed, igx.$components),
    $exclude: vars.$unused-themes,
    $schema: igx.$light-fluent-schema,
);
