<div class="igx-control">
    <input class="igx-control__cbx" #checkbox type="checkbox"
        [attr.id]="id"
        [attr.name]="name"
        [attr.value]="value"
        [attr.tabindex]="tabindex"
        [attr.disabled]="disabled ? true : null"
        [checked]="checked"
        [attr.aria-checked]="checked"
        (change)="onChange($event)"
        (focus)="onFocus($event)"
        (blur)="onBlur($event)">
    <label class="igx-control__label" [attr.for]="id">
        <ng-content></ng-content>
    </label>
</div>