.sample-button-group {
    display: flex;
    flex-direction: column;
    width: 700px;

    >* {
        margin-bottom: 16px;
    }
}

button {
    margin: 5px;
}

// Import the IgniteUI themes library first
@import '../../../projects/igniteui-angular/src/lib/core/styles/themes/index';

//:host {
//    // Change theme palette to purple.
//    $new-drop-down-theme: igx-drop-down-theme(
//        $palette: igx-palette(#09f, purple)
//    );
//
//    // Pass the theme to a to the `igx-drop-down` mixin
//    @include igx-drop-down($new-drop-down-theme);
//
//}
