.igx-drop-down__item-template {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%
}

button {
    margin: 5px;
}

// Import the IgniteUI themes library first
@import '../../../projects/igniteui-angular/src/lib/core/styles/themes/index';

//:host {
//    // Change theme palette to purple.
//    $new-drop-down-theme: igx-drop-down-theme(
//        $palette: igx-palette(#09f, purple)
//    );
//
//    // Pass the theme to a to the `igx-drop-down` mixin
//    @include igx-drop-down($new-drop-down-theme);
//
//}
