:host {
    display: grid;
    row-gap: calc(var(--demos-gap) * 3);
}

.dropdown-demo-container {
    display: flex;
    justify-content: center;
    gap: var(--demos-gap);
    background: var(--ig-surface-500);
    color: var(--ig-gray-800);
    padding: var(--demos-gap);
    border-radius: .2rem;
    border: 1px solid var(--ig-gray-400);

    > div {
        flex-grow: 1;
        display: grid;
        place-items: center;
        gap: calc(var(--demos-gap) / 2);
    }

    // TODO: investigate if this need to be fixed on component level
    .igx-button-group .igx-button {
        min-width: fit-content;
    }

    igx-input-group {
        display: flex;
    }
}

// TODO WHY WE NEED THIS?
igc-dropdown::part(base) {
    height: 400px;
    width: 180px;
    overflow: auto;
}
