:host ::ng-deep {
    .fin-dark-theme {
        .finjs-slider,
        .sample-toolbar {
            color: rgba(255, 255, 255, 0.87);
        }
    }

    .controls-holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 15px;
    }
    .switches {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1 0 0%;
        padding-right: 20px;
        font-size: 0.9rem;
    }
    .control-item {
        padding-right: 20px;
        label {
            color: var(--igx-surface-500-contrast);
        }
    }
    .igx-slider,
    .igx-slider--disabled {
        height: 24px;
    }
    .finjs-slider {
        width: 40%;
        min-width: 145px;
    }
    .finjs-play-controls {
        width: 45%;
        min-width: 620px;
        margin-top: 10px;
    }
    .sample-toolbar {
        height: 20px;
        font-size: 0.8rem;
        line-height: 20px;
        /* position: absolute; */
        /* bottom: 10px; */
        /* left: 10px; */
        margin-top: 11px;
    }
    .igx-button--icon {
        width: 2rem;
        height: 2rem;
    }
}

.controls-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
}