<igx-grid #grid1
    igxPreventDocumentScroll
    width="100%" height="800px"
    hiddenColumnsText="Hidden"
    primaryKey='ID'
    [(groupingExpressions)]="groupingExpressions"
    [autoGenerate]='false'
    [data]="data"
    [hideGroupedColumns]="true"
    [rowSelection]="selectionMode"
    [allowFiltering]="true"
    [moving]="true"
    [filterMode]="'excelStyleFilter'">

    <igx-grid-toolbar *ngIf="showToolbar">
        <igx-grid-toolbar-actions>
            <igx-grid-toolbar-hiding title="Indicators"></igx-grid-toolbar-hiding>
            <igx-grid-toolbar-pinning title=" "></igx-grid-toolbar-pinning>
            <igx-grid-toolbar-exporter [exportCSV]="false"></igx-grid-toolbar-exporter>
        </igx-grid-toolbar-actions>
    </igx-grid-toolbar>

    <!-- Empty templates for Sorting,Moving,Hiding, Pinning actions inside ESF dialog -->
    <!-- <ng-template igxExcelStyleSorting></ng-template>
    <ng-template igxExcelStyleMoving></ng-template>
    <ng-template igxExcelStyleHiding></ng-template>
    <ng-template igxExcelStylePinning></ng-template> -->

    <igx-column [field]="'ID'" [hidden]="true"></igx-column>
    <igx-column [field]="'Category'" [width]="'auto'" [groupable]="true" [sortable]="true"></igx-column>
    <igx-column [field]="'Type'" [width]="'auto'" [groupable]="true" [sortable]="true" [filterable]="false">
    </igx-column>
    <igx-column [field]="'Contract'" [width]="'auto'" [groupable]="true" [sortable]="true" [editable]='true'>
        <ng-template igxCellEditor let-cell="cell" let-value>
            <igx-select [placeholder]="value" [(ngModel)]="cell.editValue" [igxFocus]="true">
                <igx-select-item *ngFor="let c of contracts" [value]="c">{{ c }}</igx-select-item>
            </igx-select>
        </ng-template>
    </igx-column>
    <igx-column [field]="'Settlement'" [width]="'auto'" [groupable]="true" [sortable]="true"></igx-column>
    <igx-column [field]="'Country'" [width]="'auto'" [groupable]="true" [sortable]="true" [editable]='true'></igx-column>
    <igx-column [field]="'Region'" [width]="'auto'" [groupable]="true" [sortable]="true" [editable]='true'>
        <ng-template igxCellEditor let-cell="cell" let-value>
            <igx-select [placeholder]="value" [(ngModel)]="cell.editValue" [igxFocus]="true">
                <igx-select-item *ngFor="let r of regions" [value]="r.Region">{{ r.Region }}</igx-select-item>
            </igx-select>
        </ng-template>
    </igx-column>
    <igx-column [field]="'LastUpdated'" [width]="'auto'" [editable]='true' header="Last Update" dataType="date"></igx-column>
    <igx-column [field]="'Open Price'" [width]="'auto'" dataType="currency" [pipeArgs]="columnFormat" [sortable]="true"></igx-column>
    <igx-column [field]="'Price'" [width]="'auto'" dataType="number" [cellClasses]="trends" [sortable]="true">
        <ng-template igxCell let-cell="cell">
            <div class="finjs-icons">
                <span>{{cell.value | currency:'USD':'symbol':'1.4-4'}}</span>
                <igx-icon *ngIf="trends.positive(cell.row.data)">trending_up</igx-icon>
                <igx-icon *ngIf="trends.negative(cell.row.data)">trending_down</igx-icon>
            </div>
        </ng-template>
    </igx-column>

    <igx-column [field]="'Obj.Price'" [width]="'auto'"></igx-column>

    <igx-column [field]="'Chart'" [width]="'auto'" [hidden]="false" [filterable]="false">
        <ng-template igxCell let-cell="cell" class="center-text">
            <button class="button-icon" igxIconButton="flat" igxRipple [igxRippleCentered]="true" tabindex="-1">
                <igx-icon>insert_chart_outlined</igx-icon>
            </button>
        </ng-template>
    </igx-column>

    <igx-column [field]="'Change'" [width]="'auto'" dataType="number" [headerClasses]="'headerAlignSyle'" [sortable]="true" [cellClasses]="trendsChange">
    </igx-column>

    <igx-column [field]="'Change(%)'" [width]="'auto'" dataType="percent" [sortable]="true" [cellClasses]="trendsChange">
    </igx-column>

    <igx-column [field]="'Buy'" [width]="'auto'" dataType="currency" [pipeArgs]="columnFormat" [sortable]="true"></igx-column>
    <igx-column [field]="'Sell'" [width]="'auto'" dataType="currency" [pipeArgs]="columnFormat" [sortable]="true"></igx-column>
    <igx-column [field]="'Spread'" [width]="'auto'" dataType="number" [pipeArgs]="columnFormat">
    </igx-column>
    <igx-column [field]="'Volume'" [width]="'auto'" dataType="number" [sortable]="true"></igx-column>
    <igx-column [field]="'High(D)'" [width]="'auto'" dataType="currency" [sortable]="true"></igx-column>
    <igx-column [field]="'Low(D)'" [width]="'auto'" dataType="currency" [sortable]="true"></igx-column>
    <igx-column [field]="'High(Y)'" [width]="'auto'" dataType="currency" [sortable]="true"></igx-column>
    <igx-column [field]="'Low(Y)'" [width]="'auto'" dataType="currency" [sortable]="true"></igx-column>
    <igx-column [field]="'Start(Y)'" [width]="'auto'" dataType="currency" [sortable]="true"></igx-column>
    <igx-column [field]="'IndGrou'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'IndSect'" [width]="'auto'" [filterable]="false" [resizable]="true"></igx-column>
    <igx-column [field]="'IndSubg'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'SecType'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'IssuerN'" [width]="'auto'" [filterable]="false" [resizable]="true"></igx-column>
    <igx-column [field]="'Moodys'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'Fitch'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'DBRS'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'CollatT'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'Curncy'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'Security'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'sector'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'CUSIP'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'Ticker'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'Cpn'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'Maturity'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'KRD_3YR'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'ZV_SPREAD'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'KRD_5YR'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'KRD_1YR'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'IndGrou'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'IndSect'" [width]="'auto'" [filterable]="false" [resizable]="true"></igx-column>
    <igx-column [field]="'IndSubg'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'SecType'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'IssuerN'" [width]="'auto'" [filterable]="false" [resizable]="true"></igx-column>
    <igx-column [field]="'Moodys'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'Fitch'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'DBRS'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'CollatT'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'Curncy'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'Security'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'sector'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'CUSIP'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'Ticker'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'Cpn'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'Maturity'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'KRD_3YR'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'ZV_SPREAD'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'KRD_5YR'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'KRD_1YR'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'IndGrou'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'IndSect'" [width]="'auto'" [filterable]="false" [resizable]="true"></igx-column>
    <igx-column [field]="'IndSubg'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'SecType'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'IssuerN'" [width]="'auto'" [filterable]="false" [resizable]="true"></igx-column>
    <igx-column [field]="'Moodys'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'Fitch'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'DBRS'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'CollatT'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'Curncy'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'Security'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'sector'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'CUSIP'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'Ticker'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'Cpn'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'Maturity'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'KRD_3YR'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'ZV_SPREAD'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'KRD_5YR'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'KRD_1YR'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'IndGrou'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'IndSect'" [width]="'auto'" [filterable]="false" [resizable]="true"></igx-column>
    <igx-column [field]="'IndSubg'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'SecType'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'IssuerN'" [width]="'auto'" [filterable]="false" [resizable]="true"></igx-column>
    <igx-column [field]="'Moodys'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'Fitch'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'DBRS'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'CollatT'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'Curncy'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'Security'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'sector'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'CUSIP'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'Ticker'" [width]="'auto'" [filterable]="false"></igx-column>
    <igx-column [field]="'Cpn'" [width]="'auto'" [filterable]="false"></igx-column>
</igx-grid>
