<section class="sample-content">
    <article class="sample-column">
        <igx-radio-group #group="igxRadioGroup" [(ngModel)]="initial">
            <div igxLayout>
                <igx-card class="promotion" layout="justify" *ngFor="let opt of options"
                    [type]="group.value != opt ? 'outlined' : 'default'"
                    [class.promotion-selected]="group.value == opt">
                    <igx-card-header>
                        <h6 igxCardHeaderTitle>Reserve your dream vacation at {{ opt }}</h6>
                    </igx-card-header>
                    <igx-card-content>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna
                            aliqua. Elit pellentesque habitant morbi tristique senectus et netus et. Aliquet bibendum
                            enim facilisis gravida. Rutrum
                        </p>
                    </igx-card-content>
                    <igx-card-actions layout="justify-center">
                        <button igxRipple igxButton="outlined" [disabled]="group.value != opt">
                            Reserve item
                            {{ opt }}
                        </button>
                        <igx-radio class="radio-sample__radio" [value]="opt">Pick choice {{ opt }}</igx-radio>
                    </igx-card-actions>
                </igx-card>
            </div>
        </igx-radio-group>
        <p>Selected: {{ initial }}</p>
    </article>
</section>
<section class="sample-content">
    <article class="sample-column">
        <h4 class="sample-title">Radio group without data model (Vertical Alignment)</h4>
        <igx-radio-group #radioGroupZZ name="radiogroupZZ" value="Bar" required (change)="onRadioChange($event)" [alignment]="alignment">
            <igx-radio class="radio-sample" *ngFor="let item of ['Foo', 'Bar', 'Baz']" value="{{item}}">
                {{item}}
            </igx-radio>
        </igx-radio-group>
        <label>
            <input type="checkbox" [checked]="radioGroup.disabled" (change)="radioGroup.disabled = !radioGroup.disabled"> Disabled
        </label>
        <label>
            <input type="checkbox" [checked]="radioGroup.required" (change)="radioGroup.required = !radioGroup.required"> Required
        </label>
        Disabled = '{{radioGroup.disabled}}'<br>
        Required = '{{radioGroup.required}}'<br>
        SelectedValue = '{{selectedValue}}'<br>
        <button igxButton type="button" (click)="onBtnClick()" style="width: 200px">Select 'Baz'</button>
    </article>
    <article class="sample-column">
        <h4 class="sample-title">Radio group in template-driven form</h4>
        <form #personBobForm="ngForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="name">Name </label>
                <input type="text" id="name" required [(ngModel)]="personBob.name" name="name">
            </div>
            <div>
                <label for="radioGroupSeasons">Favorite season </label>
                <igx-radio-group id="radioGroupSeasons" name="radioGroupSeasons" labelPosition="before" [(ngModel)]="personBob.favoriteSeason">
                    <igx-radio class="radio-sample" *ngFor="let item of seasons" value="{{item}}">
                        {{item}}
                    </igx-radio>
                </igx-radio-group>
            </div>

            {{diagnostic}}<br>
            <button igxButton type="submit" [disabled]="!personBobForm.form.valid" style="width: 200px">Submit</button>
        </form>
    </article>
    <article class="sample-column">
        <form [formGroup]="personKirkForm">
            <h4 class="sample-title">Radio group in reactive form</h4>
            <label>Name
                <input formControlName="name">
            </label>
            <br>
                <igx-radio-group formControlName="favoriteSeason" name="radioGroupReactive">
                    <igx-radio class="radio-sample" *ngFor="let item of seasons" value="{{item}}">
                        {{item}}
                    </igx-radio>
                </igx-radio-group>
            <br>
            <button igxButton type="button" (click)="onUpdateBtnClick()" style="width: 200px">Update model</button>
        </form>
        <p>Form value: {{ personKirkForm.value | json }}</p>
        <p>Model value: {{ personKirk | json }}</p>
        <p>Updated model: {{ newPerson | json }}</p>
    </article>
</section>
