.sample-content {
    flex-flow: column nowrap;
}

.radio-sample {
    padding: 6px;
}

.promotion {
    opacity: .75;
    margin: .5rem;
}

.promotion-selected {
    opacity: 1;
    animation: promo-selected 500ms cubic-bezier(0.19, 1, 0.22, 1);
}


@keyframes promo-selected {
    50% {
        transform: translateY(5%) scale(1.05, 1.05);
    }
    100% {
        transform: none;
    }
}
