<div class="sample-wrapper">
    <div class="sample-header">
        <h1 class="title">Navbar</h1>
        <p class="description">
            Informs the user of its current route in the application and provides quick actions.
        </p>
    </div>
    <section class="sample-content">
        <article class="sample-column">
            <h4 class="sample-title">With nav and action icons</h4>
            <div class="navbar-sample">
                <igx-navbar title="Sample App" actionButtonIcon="menu">
                    <igx-icon name="search"></igx-icon>
                    <igx-icon name="favorite"></igx-icon>
                    <igx-icon name="more_vert"></igx-icon>
                </igx-navbar>
            </div>
        </article>

        <article class="sample-column">
            <h4 class="sample-title">With nav icon</h4>
            <div class="navbar-sample">
                <igx-navbar [title]="currentView" actionButtonIcon="arrow_back" [isActionButtonVisible]="canGoBack()" (onAction)="navigateBack()">
                </igx-navbar>
            </div>
        </article>

        <article class="sample-column">
            <h4 class="sample-title">Without nav icon</h4>
            <div class="navbar-sample">
                <igx-navbar [title]="currentView" [isActionButtonVisible]="'false'">
                </igx-navbar>
            </div>
        </article>
    </section>
</div>