<div class="sample-wrapper">
    <div class="sample-header">
        <h1 class="title">Typography</h1>
        <p class="description">
            Notifies the user about a performed operation. It contains a single line of text and may contain a text action.
        </p>
    </div>

    <section class="sample-content">
        <article class="sample-column">
            <h4 class="sample-title">Typeface</h4>
            <p>Ignite UI JS Blocks uses <a href="https://fonts.google.com/specimen/Titillium+Web">Titillium Web</a> as the font
                of choice. It is highly optimized for the web, legible, and pairs great with Google's own <a href="https://fonts.google.com/specimen/Roboto">Roboto</a>.</p>
        </article>
        <article class="sample-column">
            <h4 class="sample-title">Font weights</h4>
            <ul class="font-weights">
                <li class="light">Light (300)</li>
                <li class="normal">Normal (400)</li>
                <li class="semibold">Semibold (600)</li>
                <li class="bold">Bold (700)</li>
            </ul>
        </article>
        <article class="sample-column">
            <h4 class="sample-title">Headers</h4>
            <div class="typography-group">
                <div class="typography-sample header">
                    <h1>Header 1</h1>
                    <div class="spec">
                        <span>Font size: <b>3rem</b> (48px)</span>
                        <span>Line height: <b>3.375rem</b> (54px)</span>
                        <span>Margin top: <b>1.6875rem</b> (27px)</span>
                        <span>Margin bottom: <b>3.375rem</b> (54px)</span>
                    </div>
                </div>
                <div class="typography-sample header">
                    <h2>Header 2</h2>
                    <div class="spec">
                        <span>Font size: <b>2.25rem</b> (36px)</span>
                        <span>Line height: <b>2.8125rem</b> (45px)</span>
                        <span>Margin top: <b>1.6875rem</b> (27px)</span>
                        <span>Margin bottom: <b>1.6875rem</b> (27px)</span>
                    </div>
                </div>
                <div class="typography-sample header">
                    <h3>Header 3</h3>
                    <div class="spec">
                        <span>Font size: <b>1.75rem</b> (28px)</span>
                        <span>Line height: <b>2.1875rem</b> (35px)</span>
                        <span>Margin top: <b>1.6875rem</b> (27px)</span>
                        <span>Margin bottom: <b>0</b></span>
                    </div>
                </div>
                <div class="typography-sample header">
                    <h4>Header 4</h4>
                    <div class="spec">
                        <span>Font size: <b>1.125rem</b> (18px)</span>
                        <span>Line height: <b>1.375rem</b> (22px)</span>
                        <span>Margin top: <b>1.6875rem</b> (27px)</span>
                        <span>Margin bottom: <b>0</b></span>
                    </div>
                </div>
            </div>
        </article>
        <article class="sample-column">
            <h4 class="sample-title">Body</h4>
            <div class="typography-sample">
                <p>
                    Praesent feugiat eros a laoreet suscipit. Ut metus lacus, dictum vel nunc et, commodo maximus lorem. Integer venenatis tellus
                    non ipsum tempus, et sodales diam luctus. Nunc sagittis lectus id risus hendrerit commodo. Donec eget
                    lobortis velit. Pellentesque sollicitudin eros sit amet nulla ornare, vitae maximus nisi elementum. Cras
                    eleifend ante at lectus molestie, in sagittis nisl cursus. Vestibulum eu convallis nibh. Proin viverra
                    pellentesque metus, quis porta massa mollis id. Integer consectetur nunc ut lobortis egestas. Curabitur
                    viverra nisi lectus, vel feugiat massa mattis ac. Ut viverra pretium varius. Sed pharetra tempus elit
                    ut lacinia. Donec nisi mi, imperdiet sed finibus ac, aliquet sed dolor.
                </p>
                <div class="spec">
                    <span>Font size: <b>1.125rem</b> (16px)</span>
                    <span>Line height: <b>1.6875rem</b> (27px)</span>
                    <span>Margin top: <b>0</b></span>
                    <span>Margin bottom: <b>1.6875rem</b> (27px)</span>
                </div>
            </div>
        </article>
        <article class="sample-column">
            <h4 class="sample-title">Bockquote</h4>
            <div class="typography-sample">
                <blockquote>
                    Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                </blockquote>
                <div class="spec">
                    <span>Font size: <b>1.5em</b> (24px)</span>
                    <span>Line height: <b>2.185em</b> (35px)</span>
                    <span>Margin top: <b>0</b></span>
                    <span>Margin bottom: <b>1.6875rem</b> (27px)</span>
                </div>
            </div>
        </article>
        <article class="sample-column">
            <h4 class="sample-title">Example</h4>
            <div class="typography-sample">
                <h1>The Raise of Android</h1>
                <h2>Brief history</h2>
                <p>
                    Android is a free and open source operating system project, developed and maintained by Google. Why is it free and open source?
                    Android actually slightly pre-dates iPhone, but with Blackberry already the dominant smartphone provider
                    in 2007 and iPhone's revolutionary hardware quickly catching up, Google had to take drastic action to
                    get their foot in the door. Google’s strategy was to give Android away so that it would become the dominant
                    mobile operating system. It worked. As time went by, Google figured out more ways to monetize their “free”
                    operating system, primarily through sales made via the Android Market, which later became "Google Play"
                    when Google expanded their offerings to include music, movies, tv shows, books, and magazines. Android
                    has become the mobile operating system of choice for manufacturers looking for low-cost and highly customizable
                    software to run their hardware. These days, now that Android has "won" the smartphone "war," at least
                    in terms of its world-wide install base, Google exercises some stronger control on just how Android is
                    used if OEMs (Original Equipment Manufacturers) want to keep enjoying the benefits of Google Play and
                    other core Google apps, like Gmail, Drive, Hangouts, etc. As a result, Android is perhaps less "open
                    source" than it used to be, though its source code still remains open to use and manipulate by anyone.
                </p>
                <h4> This is your quick primer on the the different versions of Android that are still alive and kicking, from
                    newest to oldest:
                </h4>
                <br>
                <ul>
                    <li>Android 7.X Nougat (2016)</li>
                    <li>Android 6.0 Marshmallow (late 2015)</li>
                    <li>Android 5.0 Lollipop (late 2014)</li>
                    <li>Android 4.4 KitKat (late 2013)</li>
                    <li>Android 4.1-4.3 Jelly Bean (mid-2012)</li>
                </ul>
            </div>
        </article>
    </section>
</div>