<div>
    <igx-grid
        #grid
        [data]="data"
        [width]="'800px'"
        [height]="'500px'"
        [primaryKey]="'ID'"
        (mouseleave)="onMouseLeave(actionstrip)"
        (mouseover)="onMouseOver($event, grid, actionstrip)"
        [rowEditable]="true"
        [allowFiltering]="true"
    >
        <igx-column
            *ngFor="let c of columns"
            [sortable]="true"
            [field]="c.field"
            [header]="c.field"
            [width]="c.width"
            [pinned]="c.pinned"
            [hidden]="c.hidden"
            [groupable]="true"
            [hasSummary]="true"
        >
        </igx-column>

        <igx-action-strip #actionstrip>
            <igx-grid-pinning-actions></igx-grid-pinning-actions>
            <igx-grid-editing-actions [addRow]="true"></igx-grid-editing-actions>
        </igx-action-strip>
        <igx-paginator
            *ngIf="paging"
            [perPage]="perPage">
        </igx-paginator>
    </igx-grid>

    <igx-card style="width: 360px; margin-top: 12px">
        <igx-card-header>
            <h1 igxCardHeaderTitle>Settings</h1>
        </igx-card-header>
        <igx-card-content>
            <button igxButton="raised" (click)="data = data.length ? [] : dataFull">Switch Data/No Data</button>
            <button igxButton="raised" (click)="paging = !paging">Paging {{paging}}</button>
            <igx-select [(ngModel)]="perPage">
                <igx-select-item *ngFor="let value of selectOptions" [value]="value">{{value}}</igx-select-item>
            </igx-select>
        </igx-card-content>
    </igx-card>
</div>
