@import '../lib/core/styles/themes/index';

// Generating a palette
@include igx-core();
@include igx-theme();

/*$timepicker-theme: igx-time-picker-theme(
    $text-color: orange,
    $hover-text-color: red,
    $selected-text-color: green,
    $activeList-item-background: pink
);

@include igx-time-picker($timepicker-theme);*/
