.wrapper {
    margin: 24px;
}

.sample-content {
    flex-flow: column nowrap;
}

.grid-sample {
    margin-bottom: 144px;
}

.grid-sample:last-child {
    margin-bottom: 0;
}

.button-sample button {
    margin: 10px 5px 10px 0;
}

.button-sample label {
    margin-right: 5px;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
}

.toggles-container {
    margin: 24px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.toggle-group {
    padding: 16px;
    width: 25%;
    border-radius: 8px;
}

.switch-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 16px 0;
}

.toggle-group:nth-child(odd) {
    background: var(--ig-surface-500);
}

.paging-config {
    padding: 16px;
    margin-bottom: 48px;
}

.igx-form-group ~ .igx-form-group {
    margin-top: 16px;
    /*background: red;*/
}

.paging-config .switch-group {
    max-width: 200px;
}

igx-card {
    flex: 1 1 0%;
}

igx-card ~ igx-card {
    margin-left: 16px;
}

article {
    margin-top: 30px;
}

p {
    color: crimson;
}

[igxButton="outlined"] {
    margin: 1.5rem 0 4rem;
}

.grid-size {
    --ig-size: var(--ig-size-small);
}
