$range-sample-space: 16px;

.range-holder {
    max-width: 400px;
}

.range-sample-column {
    display: flex;
    flex-direction: column;
    padding: $range-sample-space;
    width: 100%;
    border-right: 1px solid #ddd;

    > * {
        margin-bottom: 16px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.sample-ul {
    flex: 1;
}

.sample-row {
    display: flex;
    max-width: 1200px;
}
