$range-sample-space: 16px;

.range-holder {
    display: flex;
}

.range-sample-column {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: $range-sample-space;
    border-right: 1px solid #ddd;

    .date-picker-sample-buttons {
        button {
            margin: 0.5rem;
        }
    }

    igx-date-range-picker {
        margin-bottom: 60px;
    }

    .radio-container {
        display: flex;
        justify-content: space-between;
    }
}

.sample-ul {
    flex: 1;
}

.sample-row {
    display: flex;
    max-width: 1200px;
}
