.content-wrap {
    margin: 32px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.container > * {
  margin-top: 32px;
}

.book-room-form {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  padding: 24px;
  max-width: 500px;
  margin-bottom: 48px;
  display: flex;
  flex-flow: column;
}

.date-range-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.button-wrap {
  display: flex;
  justify-content: space-between;
}

.twoInputWrap {
  display: flex;
  justify-content: space-between;
}
