<div #dialog
    tabindex="-1"
    class="igx-dialog"
    [class.igx-dialog--hidden]="!isOpen"
    (click)="onDialogSelected($event)">
    <div #dialogWindow class="igx-dialog__window">
        <div class="igx-dialog__window-title">
            {{ title }}
        </div>
        <div class="igx-dialog__window-content">
            <div *ngIf="message">{{ message }}</div>
            <ng-content *ngIf="!message"></ng-content>
        </div>
        <div class="igx-dialog__window-actions">
            <button *ngIf="leftButtonLabel" 
                igButton="{{ leftButtonType }}"
                igButtonColor="{{ leftButtonColor }}"
                igButtonBackground="{{ leftButtonBackgroundColor }}" 
                igRipple="{{ leftButtonRipple }}"
                (click)="onInternalLeftButtonSelect($event)">
                {{ leftButtonLabel }}
            </button>
            <button *ngIf="rightButtonLabel" 
                igButton="{{ rightButtonType }}"
                igButtonColor="{{ rightButtonColor }}"
                igButtonBackground="{{ rightButtonBackgroundColor }}" 
                igRipple="{{ rightButtonRipple }}"
                (click)="onInternalRightButtonSelect($event)">
                {{ rightButtonLabel }}
            </button>
        </div>
    <div>
</div>