<div #dialog
    tabindex="-1"
    class="igx-dialog"
    *ngIf="isOpen"
    [@fadeInOut]="this.state"
    (click)="onDialogSelected($event)">
    <div #dialogWindow 
        class="igx-dialog__window"
        [@flyInOut]='this.state'
        [attr.role]="role" 
        [attr.aria-labelledby]="titleId">
        <div [attr.id]="titleId" class="igx-dialog__window-title">
            {{ title }}
        </div>
        <div class="igx-dialog__window-content">
            <div *ngIf="message">{{ message }}</div>
            <ng-content *ngIf="!message"></ng-content>
        </div>
        <div class="igx-dialog__window-actions">
            <button *ngIf="leftButtonLabel" 
                igxButton="{{ leftButtonType }}"
                igxButtonColor="{{ leftButtonColor }}"
                igxButtonBackground="{{ leftButtonBackgroundColor }}" 
                igxRipple="{{ leftButtonRipple }}"
                (click)="onInternalLeftButtonSelect($event)">
                {{ leftButtonLabel }}
            </button>
            <button *ngIf="rightButtonLabel" 
                igxButton="{{ rightButtonType }}"
                igxButtonColor="{{ rightButtonColor }}"
                igxButtonBackground="{{ rightButtonBackgroundColor }}" 
                igxRipple="{{ rightButtonRipple }}"
                (click)="onInternalRightButtonSelect($event)">
                {{ rightButtonLabel }}
            </button>
        </div>
    <div>
</div>