<div #dialog class="igx-dialog" *ngIf="isOpen" [@fadeInOut]="state" (click)="onDialogSelected($event)">
    <div #dialogWindow class="igx-dialog__window" [@slideIn]="state" [attr.role]="role" [attr.aria-labelledby]="titleId">
        <div *ngIf="title" [attr.id]="titleId" class="igx-dialog__window-title">
            {{ title }}
        </div>

        <div class="igx-dialog__window-content" *ngIf="message">{{ message }}</div>
        <ng-content *ngIf="!message"></ng-content>

        <div *ngIf="leftButtonLabel || rightButtonLabel" class="igx-dialog__window-actions">
            <button *ngIf="leftButtonLabel" type="button" igxButton="{{ leftButtonType }}" igxButtonColor="{{ leftButtonColor }}" igxButtonBackground="{{ leftButtonBackgroundColor }}"
                igxRipple="{{ leftButtonRipple }}" (click)="onInternalLeftButtonSelect($event)">
                {{ leftButtonLabel }}
            </button>
            <button *ngIf="rightButtonLabel" type="button" igxButton="{{ rightButtonType }}" igxButtonColor="{{ rightButtonColor }}" igxButtonBackground="{{ rightButtonBackgroundColor }}"
                igxRipple="{{ rightButtonRipple }}" (click)="onInternalRightButtonSelect($event)">
                {{ rightButtonLabel }}
            </button>
        </div>

    </div>
</div>
