<div #modal
    tabindex="-1"
    class="ig-modal"
    [class.ig-modal--hidden]="!isOpen"
    (click)="onModalClicked($event)">
    <div #modalWindow class="ig-modal__window">
        <div class="ig-modal__window-title">
            {{ title }}
        </div>
        <div class="ig-modal__window-content">
            <div *ngIf="message">{{ message }}</div>
            <ng-content *ngIf="!message"></ng-content>
        </div>
        <div class="ig-modal__window-actions">
            <button *ngIf="action1ButtonLabel" 
                igButton="{{ action1ButtonType }}"
                igButtonColor="{{ action1ButtonColor }}"
                igButtonBackground="{{ action1ButtonBackgroundColor }}" 
                igRipple="{{ action1ButtonRipple }}"
                (click)="onInternalAction1Select($event)">
                {{ action1ButtonLabel }}
            </button>
            <button *ngIf="action2ButtonLabel" 
                igButton="{{ action2ButtonType }}"
                igButtonColor="{{ action2ButtonColor }}"
                igButtonBackground="{{ action2ButtonBackgroundColor }}" 
                igRipple="{{ action2ButtonRipple }}"
                (click)="onInternalAction2Select($event)">
                {{ action2ButtonLabel }}
            </button>
        </div>
    <div>
</div>