@use 'igniteui-theming/sass/bem' as *;
@use 'igniteui-theming/sass/typography/functions' as *;
@use 'styles/themes/standalone' as *;

@include themed-block(igx-grid-th, fluent) {
    @include e(title) {
      font-weight: 800;
    }

    @include e(icons) {
        .sort-icon igx-icon {
            --size: var(--igx-icon-size, #{rem(15px)});
        }
    }
}

@include themed-block(igx-advanced-filter, bootstrap) {
    border-radius: rem(2px);
}
