@use 'igniteui-theming/sass/bem' as *;
@use 'igniteui-theming/sass/typography/functions' as *;
@use 'igniteui-theming/sass/color/functions' as *;
@use 'styles/themes/standalone' as *;

@include themed-block(igx-grid, material) {
    --igx-chip-disabled-text-color: #{color($color: 'gray', $variant: 500)};
    --igx-chip-disabled-background: #{color($color: 'gray', $variant: 300)};
    --igx-chip-disabled-border-color: #{color($color: 'gray', $variant: 300)};
}

@include themed-block(igx-grid-th, material) {
    @include e(title) {
      font-weight: 600;
    }

    @include e(icons) {
        .sort-icon igx-icon {
            --size: var(--igx-icon-size, #{rem(15px)});
        }
    }
}

@include themed-block(igx-advanced-filter, material) {
    border-radius: rem(4px);
}
