.sample-content {
    flex-flow: column nowrap;
}

.snackbar-sample {
    position: relative;
    height: 300px;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2),
        0 1px 1px 0 rgba(59, 46, 46, .14),
        0 2px 1px -1px rgba(0, 0, 0, .12);
    overflow: hidden;
}

.color-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    color: rgba(255, 255, 255, 90);
    font-size: 1.5em;
    padding: 16px;
    text-shadow: 0 2px rgba(0, 0, 0, .2);
    transition: all .35s cubic-bezier(0, 0, .2, 1);
    cursor: pointer;
    user-select: none;
}

.snackbar-container {
    position: absolute;
    width: 100%;
    bottom: 0;
}
