@use 'igniteui-theming/sass/themes' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/navdrawer' as *;

$base: digest-schema($dark-base-navdrawer);
$material: digest-schema($dark-material-navdrawer);
$bootstrap: digest-schema($dark-bootstrap-navdrawer);
$fluent: digest-schema($dark-fluent-navdrawer);
$indigo: digest-schema($dark-indigo-navdrawer);
