.navbar-sample {
    height: 360px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2),
        0 1px 1px 0 rgba(0, 0, 0, .14),
        0 2px 1px -1px rgba(0, 0, 0, .12);
    border-radius: 2px;
    background: url('/assets/images/rsrcs/sample-background.svg') no-repeat bottom;
    background-size: 100%;
}

[dir='rtl'] .bidirectional-icon {
    transform: scaleX(-1);
}

#igniteui-demo-app .sample-title {
    font-size: 16px;
    margin-bottom: 10px;
}
