
    <div class="igx-linear-bar__base">
        <div class="igx-linear-bar__indicator"></div>
        <div class="igx-linear-bar__indicator-secondary"></div>
    </div>

    <span
        class="igx-linear-bar__value"
        [ngClass]="{
        'igx-linear-bar__value--start': textAlign === 'start',
        'igx-linear-bar__value--center': textAlign === 'center',
        'igx-linear-bar__value--end': textAlign === 'end',
        'igx-linear-bar__value--top': textTop,
        'igx-linear-bar__value--hidden': !textVisibility,
        'igx-linear-bar__value--fraction': hasFraction
    }">
        {{text}}
    </span>

