<div id="phoneContainer" class="phone">
    <div id="mobileDiv" class="screen">
        <div>
            <span class="componentTitle">Radio</span><br>
            <span class="componentDesc">A component that collects user input from radio buttons.</span><br><br>
            <ig-radio *ngFor="let item of ['Foo', 'Bar', 'Baz']" value="{{item}}" name="group" [(ngModel)]="user.favouriteVarName">{{item}}</ig-radio>
            <p>Selected value = {{ user.favouriteVarName || ''}}</p>
        </div>
    </div>
</div>