////
/// @group components
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
/// @requires {mixin} bem-block
/// @requires {mixin} bem-elem
/// @requires {mixin} bem-mod
////
@include b(igx-checkbox) {
    $block: bem--selector-to-string(&);
    @include register-component('igx-checkbox');

    @extend %cbx-display !optional;

    @include e(input) {
        @include hide-default();
    }

    @include e(label) {
        @extend %cbx-label !optional;
        @extend %cbx-label-pos--after !optional;
    }

    @include e(label, $m: before) {
        @extend %cbx-label !optional;
        @extend %cbx-label-pos--before !optional;
    }

    @include e(composite) {
        @extend %cbx-composite !optional;
    }

    @include e(composite-mark) {
        @extend %cbx-composite-mark !optional;
    }

    @include e(ripple) {
        @extend %cbx-ripple !optional;
    }

    @include m(indeterminate) {
        @include  e(composite) {
            @extend %cbx-composite--x !optional;
        }

        @include e(composite-mark) {
            @extend %cbx-composite-mark--in !optional;
        }
    }

    @include m(checked) {
        @include e(composite) {
            @extend %cbx-composite--x !optional;
        }

        @include e(composite-mark) {
            @extend %cbx-composite-mark--x !optional;
        }
    }

    @include m(disabled) {
        @extend %cbx-display--disabled !optional;

        @include e(label) {
            @extend %cbx-label--disabled !optional;
        }

        @include e(composite) {
            @extend %cbx-composite--disabled !optional;
        }
    }

    @include mx(indeterminate, disabled) {
        @include e(composite) {
            @extend %cbx-composite--x--disabled !optional;
        }
    }

    @include mx(checked, disabled) {
        @include e(composite) {
            @extend %cbx-composite--x--disabled !optional;
        }
    }
}
