//// Checkbox
/// @group components
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
/// @requires {mixin} bem-block
/// @requires {mixin} bem-elem
/// @requires {mixin} bem-mod
////
@include b(igx-control) {
    @include register-component('igx-checkbox');

    $block: bem--selector-to-string(&);

    @extend %igx-control-display !optional;

    @include b(tick) {
        @extend %igx-cbx-lbl-tick !optional;
    }

    @include e(cbx) {
        @include hide-default();

        ~ #{$block}__label {
            @extend %igx-cbx-lbl-display !optional;
        }

        &:checked ~ #{$block}__label {
            .tick {
                @extend %igx-cbx-lbl-checked-tick !optional;
            }
        }

        &:not(:checked) ~ #{$block}__label::after {
            @extend %igx-cbx-lbl-notchecked-after !optional;
        }

        &:checked ~ #{$block}__label::after {
            @extend %igx-cbx-lbl-checked-after !optional;
        }

        &:disabled ~ #{$block}__label {
            @extend %igx-cbx-lbl-disabled !optional;
        }

        &:disabled:checked ~ #{$block}__label::after {
            @extend %igx-cbx-lbl-checked--disabled-after !optional;
        }

        &:disabled:not(:checked) ~ #{$block}__label::after {
            @extend %igx-cbx-lbl-notchecked--disabled-after !optional;
        }
    }
}
