$component-name: 'igx-checkbox';

$components: register-component($components, #{$component-name});

@function igx-checkbox-theme(
    $label-color: null,
    $empty-color: null,
    $fill-color: null,
    $tick-color: null,
    $disabled-color: null,
    $light: false
) {
    @return (
        label-color: $label-color,
        empty-color: $empty-color,
        fill-color: $fill-color,
        tick-color: $tick-color,
        disabled-color: $disabled-color,
        light: $light
    );
}

@mixin igx-checkbox($theme, $palette: $default-palette) {
    $dark-theme: igx-checkbox-theme(
        $label-color: igx-color($palette, grays, 900),
        $empty-color: igx-color($palette, 'grays', 600),
        $fill-color: igx-color($palette, 'accent', 500),
        $tick-color: #fff,
        $disabled-color: igx-color($palette, grays, 400)
    );

    $light-theme: igx-checkbox-theme(
        $label-color: igx-color($palette, 'grays', 600),
        $empty-color: rgba(255, 255, 255, .7),
        $fill-color: igx-color($palette, 'accent', 500),
        $tick-color: #000,
        $disabled-color: rgba(255, 255, 255, .3)
    );

    $this: ();

    @if map-get($theme, 'light') {
        $this: extend($light-theme, $theme);
    } @else {
        $this: extend($dark-theme, $theme);
    }

    $input-font-size: rem(16px);
    $input-font-weight: 400;

    $checkbox-min-width: 20px;
    $checkbox-height: $checkbox-min-width;
    $checkbox-label-padding: rem(24px, 16px);
    $checkbox-radius: 2px;
    $checkbox-border-style: 2px solid;
    $checkbox-tick-width: 20px;
    $checkbox-tick-height: 20px;
    $checkbox-tick-weight: 3px;
    $checkbox-tick-padding: 3px 2px 2px;

    @include scale-in-center();

    %igx-cbx-lbl-display {
        display: inline-block;
        position: relative;
        cursor: pointer;
        min-width: $checkbox-min-width;
        min-height: $checkbox-height;
        line-height: $checkbox-height;
        font-size: $input-font-size;
        font-weight: $input-font-weight;
        color: map-get($this, 'label-color');
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        overflow: hidden;
        padding-left: $checkbox-label-padding;

        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            border-radius: $checkbox-radius;
        }
    }

    %igx-cbx-lbl-box {
        width: $checkbox-min-width;
        height: $checkbox-height;
    }

    %igx-cbx-lbl-tick {
        position: absolute;
        top: 0;
        left: 0;
        width: $checkbox-tick-width;
        height: $checkbox-tick-height;
        padding: $checkbox-tick-padding;
        stroke: none;
        stroke-linecap: round;
        stroke-width: $checkbox-tick-weight;
        fill: none;
        z-index: 1;
    }

    %igx-cbx-lbl-checked-tick {
        @include animation('scale-in-center' .3s $ease-out-back both);
        stroke: map-get($this, 'tick-color');
    }

    %igx-cbx-lbl-notchecked-after {
        @extend %igx-cbx-lbl-box;
        border: $checkbox-border-style map-get($this, 'empty-color');
    }

    %igx-cbx-lbl-checked-after {
        @extend %igx-cbx-lbl-box;
        background-color: map-get($this, fill-color);
        border: $checkbox-border-style map-get($this, 'fill-color');
    }

    %igx-cbx-lbl-disabled {
        color: map-get($this, 'disabled-color');
        pointer-events: none;
    }

    %igx-cbx-lbl-checked--disabled-after {
        background-color: map-get($this, 'disabled-color');
        border-color: map-get($this, 'disabled-color');
    }

    %igx-cbx-lbl-notchecked--disabled-after {
        border-color: map-get($this, 'disabled-color');
    }

    %igx-cbx-lbl--indeterminate-after {
        background-color: map-get($this, 'fill-color');
        border: $checkbox-border-style map-get($this, 'fill-color');
    }
}


