<div class="sample-wrapper">
    <h4 class="sample-title">Color Palettes</h4>
    <div class="color-palettes">
        @for (color of colors; track color.name) {
            <div class="color-palette">
                <div class="color-container">
                    <h4 class="color-title bg-{{color.name}}-500 color-{{color.name}}-500-contrast">{{color.name}}</h4>
                    @for (variant of color.variants; track variant.shade) {
                        <div class="color-values bg-{{color.name}}-{{variant.shade}} color-{{color.name}}-{{variant.shade}}-contrast"
                             (click)="copyHex(variant.hex)"
                             title="Click to copy {{variant.hex}}">
                            <span class="shade-label">{{variant.shade}}</span>
                            <span class="hex-value">{{variant.hex}}</span>
                            <igx-icon class="copy-icon">content_copy</igx-icon>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>

<igx-snackbar #snackbar [displayTime]="2000" [autoHide]="true"></igx-snackbar>
