@import '../../../../projects/igniteui-angular/src/lib/core/styles/themes/utilities';
@import'../../../styles/igniteui-theme.scss';

.sample-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 8px;
}

.sample-title {
    margin-left: 8px;
}

.color-palettes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.color-palette {
    margin-bottom: 48px;

    &:empty {
        display: none;
    }
}

.colors-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    margin-bottom: 48px;
}

.color-container {
    // @include igx-color-classes('background', $palette: $palette);
}

.color-title {
    font-size: 18px;
    line-height: 54px;
    margin: 0;
    padding: 8px 16px;
    text-transform: capitalize;
}

.color-values {
    font-size: 14px;
    font-weight: 600;
    padding: 8px 16px;
}

.igx-success-500 {
    background: var(--igx-success-500);
    color: var(--igx-success-500-contrast);
}

.igx-info-500 {
    background: var(--igx-info-500);
    color: var(--igx-info-500-contrast);
}

.igx-warn-500 {
    background: var(--igx-warn-500);
    color: var(--igx-warn-500-contrast);
}

.igx-error-500 {
    background: var(--igx-error-500);
    color: var(--igx-error-500-contrast);
}

