@import '../../../../projects/igniteui-angular/src/lib/core/styles/themes/utilities';
@import '../../../styles/variables';

$igx-legacy-support: $legacy-support;

.sample-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 8px;
}

.sample-title {
    margin-left: 8px;
}

.color-palettes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.color-palette {
    margin-bottom: 48px;

    &:empty {
        display: none;
    }
}

.colors-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    margin-bottom: 48px;
}

.color-title {
    @include igx-type-style($type-scale, 'h6');
    text-transform: capitalize;
    line-height: 3rem;
    padding: 8px 16px;
}

.color-values {
    font-size: 14px;
    font-weight: 600;
    padding: 8px 16px;
}

.color-container {
    overflow: hidden;
    border-radius: rem(8px);
    border: 1px solid igx-color($color: 'grays', $variant: 400);
    margin: 8px 0;
}

@include igx-color-classes(
    $palette: $palette,
    $prop: 'background',
    $prefix: 'bg'
);

@include igx-color-classes(
    $palette: $palette,
    $prop: 'color',
    $prefix: 'color'
);
