@use '../../../../projects/igniteui-angular/src/lib/core/styles/themes/utilities' as *;
@use '../../../styles/variables' as *;

.sample-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 8px;
}

.sample-title {
    margin-left: 8px;
}

.color-palettes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.color-palette {
    margin-bottom: 48px;

    &:empty {
        display: none;
    }
}

.colors-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    margin-bottom: 48px;
}

.color-title {
    @include type-style('h6');
    text-transform: capitalize;
    line-height: 3rem;
    padding: 8px 16px;
}

.color-values {
    font-size: 14px;
    font-weight: 600;
    padding: 8px 16px;
}

.color-container {
    overflow: hidden;
    border-radius: rem(8px);
    border: 1px solid color($color: 'gray', $variant: 400);
    margin: 8px 0;
}

@include color-classes(
    $prop: 'background',
    $prefix: 'bg'
);

@include color-classes(
    $prop: 'color',
    $prefix: 'color'
);
