.sample-content {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.buttons-sample {
    display: grid;
    grid-gap: 44px;
    grid-template-columns: repeat(auto-fill, minmax(88px, 1fr));
}