<div class="sample-wrapper">
    <page-header title="Buttons" description="Provides clickable user interface."></page-header>
    <section class="sample-content">
        <article class="sample-column">
            <h4 class="sample-title">Flat Buttons</h4>
            <div class="buttons-sample">
                <div class="button-sample">
                    <button igxButton="flat" igxRipple>Flat</button>
                </div>
                <div class="button-sample">
                    <button igxButton="flat" igxButtonColor="#FBB13C" igxButtonBackground="#340068" igxRipple="#FBB13C">Flat</button>
                </div>
                <div class="button-sample">
                    <button igxButton="flat" igxRipple igxButtonColor="yellow" igxButtonBackground="black" igxRipple="yellow">Flat</button>
                </div>
                <div class="button-sample">
                    <button igxButton="flat" igxRipple>Flat</button>
                </div>
                <div class="button-sample">
                    <button igxButton="flat" igxButtonColor="#FBB13C" igxButtonBackground="#340068" igxRipple="#FBB13C">Flat</button>
                </div>
                <div class="button-sample">
                    <button igxButton="flat" igxRipple igxButtonColor="yellow" igxButtonBackground="black" igxRipple="yellow">Flat</button>
                </div>
                <div class="button-sample">
                    <button igxButton="flat" igxRipple [disabled]="true">Flat</button>
                </div>
                <div class="button-sample">
                    <button igxButton="flat" igxButtonColor="#FBB13C" igxButtonBackground="#340068" igxRipple="#FBB13C" [disabled]="true">Flat</button>
                </div>
                <div class="button-sample">
                    <button igxButton="flat" igxRipple igxButtonColor="yellow" igxButtonBackground="black" igxRipple="yellow" [disabled]="true">Flat</button>
                </div>
            </div>
        </article>

        <article class="sample-column">
            <h4 class="sample-title">Raised Buttons</h4>
            <div class="buttons-sample">
                <div class="button-sample">
                    <button igxButton="raised" igxRipple="white">Raised</button>
                </div>
                <div class="button-sample">
                    <button igxButton="raised" igxButtonColor="#FBB13C" igxButtonBackground="#340068" igxRipple="#FBB13C">Raised</button>
                </div>
                <div class="button-sample">
                    <button igxButton="raised" igxButtonColor="yellow" igxButtonBackground="black" igxRipple="yellow">Raised</button>
                </div>
                <div class="button-sample">
                    <button igxButton="raised" igxRipple="white">Raised</button>
                </div>
                <div class="button-sample">
                    <button igxButton="raised" igxButtonColor="#FBB13C" igxButtonBackground="#340068" igxRipple="#FBB13C">Raised</button>
                </div>
                <div class="button-sample">
                    <button igxButton="raised" igxButtonColor="yellow" igxButtonBackground="black" igxRipple="yellow">Raised</button>
                </div>
                <div class="button-sample">
                    <button igxButton="raised" [disabled]="true">Raised</button>
                </div>
                <div class="button-sample">
                    <button igxButton="raised" igxButtonColor="#FBB13C" igxButtonBackground="#340068" igxRipple="#FBB13C" [disabled]="true">Raised</button>
                </div>
                <div class="button-sample">
                    <button igxButton="raised" igxButtonColor="yellow" igxButtonBackground="black" igxRipple="yellow" [disabled]="true">Raised</button>
                </div>
            </div>
        </article>

        <article class="sample-column">
            <h4 class="sample-title">Floating Action Buttons</h4>
            <div class="buttons-sample">
                <div class="button-sample">
                    <button igxButton="fab" igxRipple="white">
                        <igx-icon fontSet="material" name="favorite"></igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="fab" igxButtonColor="#FBB13C" igxButtonBackground="#340068" igxRipple="#FBB13C">
                        <igx-icon fontSet="material" name="edit"></igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="fab" igxButtonColor="yellow" igxButtonBackground="black" igxRipple="yellow">
                        <igx-icon fontSet="material" name="add"></igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="fab" igxRipple="white">
                        <igx-icon fontSet="material" name="favorite"></igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="fab" igxButtonColor="#FBB13C" igxButtonBackground="#340068" igxRipple="#FBB13C">
                        <igx-icon fontSet="material" name="edit"></igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="fab" igxButtonColor="yellow" igxButtonBackground="black" igxRipple="yellow">
                        <igx-icon fontSet="material" name="add"></igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="fab" igxRipple="white" [disabled]="true">
                        <igx-icon fontSet="material" name="favorite"></igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="fab" igxButtonColor="#FBB13C" igxButtonBackground="#340068" igxRipple="#FBB13C" [disabled]="true">
                        <igx-icon fontSet="material" name="edit"></igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="fab" igxButtonColor="yellow" igxButtonBackground="black" igxRipple="yellow" [disabled]="true">
                        <igx-icon fontSet="material" name="add"></igx-icon>
                    </button>
                </div>
            </div>
        </article>

        <article class="sample-column">
            <h4 class="sample-title">Icon Buttons</h4>
            <div class="buttons-sample">
                <div class="button-sample">
                    <button igxButton="icon" igxRipple igxRippleCentered="true">
                        <igx-icon fontSet="material" name="search"></igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="icon" igxRipple igxButtonColor="#E41C77" igxRippleCentered="true">
                        <igx-icon fontSet="material" name="favorite"></igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="icon" igxRipple igxRippleCentered="true">
                        <igx-icon fontSet="material" name="more_vert"></igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="icon" igxButtonColor="white" igxButtonBackground="#E41D78" igxRipple="white" igxRippleCentered="true">
                        <igx-icon fontSet="material" name="search"></igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="icon" igxButtonColor="#FBB13C" igxButtonBackground="#340068" igxRipple="#FBB13C" igxRippleCentered="true">
                        <igx-icon fontSet="material" name="favorite"></igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="icon" igxButtonColor="yellow" igxButtonBackground="black" igxRipple="yellow" igxRippleCentered="true">
                        <igx-icon fontSet="material" name="more_vert"></igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="icon" igxRipple igxRippleCentered="true" [disabled]="true">
                        <igx-icon fontSet="material" name="edit"></igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="icon" igxRipple igxButtonColor="#E41C77" igxRippleCentered="true" [disabled]="true">
                        <igx-icon fontSet="material" name="favorite"></igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="icon" igxRipple igxRippleCentered="true" [disabled]="true">
                        <igx-icon fontSet="material" name="more_vert"></igx-icon>
                    </button>
                </div>
            </div>
        </article>
    </section>
</div>