<div class="column controls meduim">
    <div class="row">
        <igx-input-group class="medium">
            <label igxLabel for="time">Animation Duration</label>
            <input igxInput [(ngModel)]="animationDuration" name="time" type="number">
        </igx-input-group>
    </div>

    <div class="row">
        <igx-input-group class="medium" type="search">
            <label igxLabel for="search">Search By Key</label>
            <input #searchCriteria igxInput name="search" type="text">
        </igx-input-group>
        <button igxButton (click)="customSearch(searchCriteria.value)">Log node</button>
    </div>
    <div class="row">
        <label for="branchExpand"></label>
        <igx-switch name="branchExpand" [(ngModel)]="singleBranchExpand">Single Branch Expand</igx-switch>
    </div>
</div>

<button igxButton (click)="selectSpecific()">Select specific</button>
<button igxButton (click)="selectAll()">Select all</button>
<button igxButton (click)="deselectSpecific()">Deselect specific</button>
<button igxButton (click)="deselectAll()">Deselect all</button>
<button igxButton (click)="changeNodeSelectionState()">Change Selection State</button>
<button igxButton (click)="changeNodeData()">Change Node Data</button>
<button igxButton (click)="getNodes()">Nodes</button>
<igx-buttongroup [values]="selectionModes" (selected)="selectCellSelectionMode($event)"></igx-buttongroup>
<div class="row">
    <div class="column tree-container">
        <p>IgxTree</p>
        <igx-tree #tree1 class="medium" [singleBranchExpand]="singleBranchExpand"
            [animationSettings]="animationSettings" (nodeSelection)="nodeSelection($event)">
            <igx-tree-node *ngFor="let node of data" [data]="node" [(selected)]="node.selected">
                <!-- <a href="www.google.com">test</a> -->
                {{ node.CompanyName }}
                <igx-tree-node *ngFor="let child of node.ChildCompanies" [data]="child" [(selected)]="child.selected">
                    {{ child.CompanyName }}
                    <igx-tree-node *ngFor="let leafchild of child.ChildCompanies" [data]="leafchild" [(selected)]="leafchild.selected">
                        {{ leafchild.CompanyName }}
                    </igx-tree-node>
                </igx-tree-node>
            </igx-tree-node>
        </igx-tree>
    </div>


    <div class="column tree-container">
        <p>IgxTree 2: The Branchening</p>
        <igx-tree class="medium">
            <igx-tree-node *ngFor="let node of data" [data]="node">
                {{ node.CompanyName }}
                <igx-tree-node *ngFor="let child of node.ChildCompanies" [data]="child">
                    {{ child.CompanyName }}
                    <igx-tree-node *ngFor="let leafchild of child.ChildCompanies" [data]="leafchild">
                        {{ leafchild.CompanyName }}
                    </igx-tree-node>
                </igx-tree-node>
            </igx-tree-node>
        </igx-tree>
    </div>

    <button igxButton>TEST</button>
</div>
