<div igxLayout igxLayoutDir="row" igxLayoutWrap="wrap">
    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quam accusamus velit, molestias quasi expedita tempore. Numquam earum laudantium deserunt fuga asperiores nesciunt alias aperiam neque, sed rem quod suscipit?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quam accusamus velit, molestias quasi expedita tempore. Numquam earum laudantium deserunt fuga asperiores nesciunt alias aperiam neque, sed rem quod suscipit?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quam accusamus velit, molestias quasi expedita tempore. Numquam earum laudantium deserunt fuga asperiores nesciunt alias aperiam neque, sed rem quod suscipit?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quam accusamus velit, molestias quasi expedita tempore. Numquam earum laudantium deserunt fuga asperiores nesciunt alias aperiam neque, sed rem quod suscipit?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quam accusamus velit, molestias quasi expedita tempore. Numquam earum laudantium deserunt fuga asperiores nesciunt alias aperiam neque, sed rem quod suscipit?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quam accusamus velit, molestias quasi expedita tempore. Numquam earum laudantium deserunt fuga asperiores nesciunt alias aperiam neque, sed rem quod suscipit?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quam accusamus velit, molestias quasi expedita tempore. Numquam earum laudantium deserunt fuga asperiores nesciunt alias aperiam neque, sed rem quod suscipit?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quam accusamus velit, molestias quasi expedita tempore. Numquam earum laudantium deserunt fuga asperiores nesciunt alias aperiam neque, sed rem quod suscipit?</p> -->
    <div igxLayout igxLayoutDir="row" igxLayoutWrap="wrap" igxLayoutItemAlign="center" class="controls">
        <igx-input-group>
            <label igxLabel for="time">Animation Duration</label>
            <input igxInput [(ngModel)]="animationDuration" name="time" type="number">
        </igx-input-group>
    </div>

    <div class="row">
        <igx-input-group class="medium" type="search">
            <label igxLabel for="search">Search By Key</label>
            <input #searchCriteria igxInput name="search" type="text">
        </igx-input-group>
        <button igxButton (click)="customSearch(searchCriteria.value)">Log node</button>
    </div>
    <div class="row">
        <label for="branchExpand"></label>
        <igx-switch name="branchExpand" [(ngModel)]="singleBranchExpand">Single Branch Expand</igx-switch>
    </div>
</div>

    <div igxLayout igxLayoutDir="column">
        <div class="btn-holder" igxLayout igxLayoutDir="row" igxLayoutWrap="wrap">
            <button igxButton (click)="selectSpecific()">Select specific</button>
            <button igxButton (click)="selectAll()">Select all</button>
            <button igxButton (click)="deselectSpecific()">Deselect specific</button>
            <button igxButton (click)="deselectAll()">Deselect all</button>
            <button igxButton (click)="changeNodeSelectionState()">Change Selection State</button>
            <button igxButton (click)="changeNodeData()">Change Node Data</button>
            <button igxButton (click)="getNodes()">Nodes</button>
            <button igxButton (click)="addItem()">Add nodes</button>
            <button igxButton (click)="resetData()">Reset nodes</button>
        </div>

        <igx-buttongroup [values]="selectionModes" (selected)="selectCellSelectionMode($event)"></igx-buttongroup>

        <div igxLayout igxLayoutDir="row">
            <div igxLayout igxLayoutDir="column" class="tree-container">
                <p>IgxTree (templated with icon and text)</p>
                <igx-tree #tree1 [singleBranchExpand]="singleBranchExpand" [animationSettings]="animationSettings"
                    (nodeSelection)="nodeSelection($event)" (keydown)="keydown($event)"
                    (nodeCollapsing)="handleEvent($event)" (activeNodeChanged)="activeNodeChanged($event)"
                    style="height: 300px; overflow: scroll;">
                    <igx-tree-node #test [data]="{ID: 'test'}">asd</igx-tree-node>
                    <igx-tree-node *ngFor="let node of data" [data]="node" [expanded]="true" [(selected)]="node.selected">
                        <div class="sample-template-center">
                            <!-- <a href="www.google.com">test</a> -->
                            <igx-icon>face</igx-icon>
                            <span class="sample-ellipsis">{{ node.CompanyName }}</span>
                        </div>
                        <igx-tree-node *ngFor="let child of node.ChildCompanies" [data]="child"
                            [(selected)]="child.selected" [expanded]="true" [active]="true">
                            {{ child.CompanyName }}
                            <igx-tree-node *ngFor="let leafchild of child.ChildCompanies" [data]="leafchild"
                                [(selected)]="leafchild.selected" [expanded]="true" [active]="true">
                                {{ leafchild.CompanyName }}
                            </igx-tree-node>
                        </igx-tree-node>
                    </igx-tree-node>
                </igx-tree-node>
            </igx-tree-node>
        </igx-tree>
    </div>
            </div>


    <div class="column tree-container">
        <p>IgxTree 2: The Branchening</p>
        <igx-tree>
            <igx-tree-node *ngFor="let node of data" [data]="node">
                {{ node.CompanyName }}
                <igx-tree-node *ngFor="let child of node.ChildCompanies" [data]="child">
                    {{ child.CompanyName }}
                    <igx-tree-node *ngFor="let leafchild of child.ChildCompanies" [data]="leafchild">
                        {{ leafchild.CompanyName }}
                    </igx-tree-node>
                </igx-tree-node>
            </igx-tree-node>
        </igx-tree>
    </div>

    <button igxButton>TEST</button>
</div>