.sample-template-center {
    display: flex;
    align-items: center;

    > * {
        margin-right: 8px;
    }
}

.sample-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    align-items: center;
}

.tree-container {
    margin: 16px;
    max-width: 350px;

    p {
        margin-bottom: 8px;
        font-size: 14px
    }
}

.btn-holder {
    margin-bottom: 24px;
}

igx-buttongroup {
    margin-bottom: 16px;
}

.controls {
    padding: 24px;

    button {
        margin-left: 16px;
    }

    > * {
        margin-right: 24px;
        margin-bottom: 16px;

        &:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }
    }
}

