.row {
    display: flex;
    flex-flow: row;
}

.sample-template-center {
    display: flex;
    align-items: center;

    > * {
        margin-right: 8px;

        &:last-of-type {
            margin-right: 8px
        }

        [dir='rtl'] {
            margin-left: 8px;
            margin-right: 0;

            &:last-of-type {
                margin-left: 8px;
                margin-right: 0;
            }
        }
    }
}

.sample-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    align-items: center;
}

.tree-container {
    width: 50%;
}

.controls {
    padding: 40px;

    .row {
        border: 2px solid#d1d1d1;
        padding: 12px;
        margin: 12px;
    }
}

.meduim {
    width: 400px
}
