.sample-actions {
    margin: 20px 0;
    display: flex;
    gap: 25px;

    p {
        margin-top: 0;
        margin-bottom: 4px;
        font-size: 14px;
    }

    button {
        align-self: center;
    }

    &__btg {
        width: 250px;
    }
}

igx-badge {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 16px;
    height: 16px;
    min-width: 0;
    min-height: 0;
}

.nav-buttons {
    margin: 40px 0;

    > * {
        margin-right: 16px;
    }
}

.sample-stepper-wrapper {
    margin: 16px 0;
    padding: 16px;
    border: 1px solid rgba(54, 54, 54, .43);
}
