<div class="sample-wrapper">
    <app-page-header title="Autocomplete"></app-page-header>
    <section class="sample-content">
        <article class="sample-column">
            <form class="input-sample" action="/" method="POST" (ngSubmit)="onSubmit($event)">
                <div>
                    <igx-input-group>
                        <input igxInput name="towns" type="text" [(ngModel)]="townSelected" required
                            [igxAutocomplete]='townsPanel'/>
                        <label igxLabel for="towns">Towns</label>
                    </igx-input-group>
                    <igx-drop-down #townsPanel>
                        <igx-drop-down-item *ngFor="let town of towns | startsWith:townSelected" [value]="town">
                            {{town}}
                        </igx-drop-down-item>
                    </igx-drop-down>

                    <igx-input-group>
                        <igx-prefix igxRipple><igx-icon fontSet="material">home</igx-icon> </igx-prefix>
                        <igx-prefix igxRipple><igx-icon fontSet="material">language</igx-icon> </igx-prefix>
                        <input igxInput name="townsDetailed" type="text" [(ngModel)]="townSelected" required
                            [igxAutocomplete]='townsDetailedPanel' />
                        <label igxLabel for="townsDetailed">Towns Detailed</label>
                        <igx-suffix igxRipple><igx-icon fontSet="material">clear</igx-icon> </igx-suffix>
                    </igx-input-group>
                    <igx-drop-down #townsDetailedPanel>
                        <igx-drop-down-item *ngFor="let town of townsDetailed | startsWith:townSelected:'name'" [value]="town.name">
                            <img [src]="town.image" class='logo' width="50" height="50"/>
                                {{town.name}}
                        </igx-drop-down-item>
                    </igx-drop-down>

                    <!--<igx-input-group>
                        <input igxInput name="townsGrouped" type="text" [(ngModel)]="town" required
                            [igxAutocomplete]='townsGrouped'
                            [igxAutocompleteKey]="'name'"
                            [igxAutocompleteGroupKey]="'isHeader'"
                            [igxAutocompleteItemTemplate]="igxAutocompleteItemTemplate1"
                            [igxAutocompleteCondition]="customFilter" 
                            [igxAutocompleteSettings]="customSettings" />
                        <label igxLabel for="townsGrouped">Towns Grouped</label>
                    </igx-input-group>
                    <ng-template #igxAutocompleteItemTemplate1 let-item>
                        <img [src]="item.image" class='logo' width="50" height="50"/>
                        {{item.name}}
                    </ng-template> -->

                    <igx-input-group>
                        <input igxInput name="townsDisabled" type="text" [(ngModel)]="townSelected" required
                            [igxAutocomplete]='townsDetailedPanel'
                            [igxAutocompleteDisabled]="disabled"/>
                        <label igxLabel for="townsDisabled">Towns Disabled</label>
                    </igx-input-group>
                    <igx-switch name="toggle" [(ngModel)]="disabled"></igx-switch>
                </div>
                <button>Submit</button>
            </form>
        </article>
    </section>
</div>