@include b(igx-nav-drawer) {
    // Main aside element
    @include e(aside) {
        @extend %adide !optional;

        &.panning {
            overflow-x: hidden;
            transition: none;
        }
    }

    @include e(aside, collapsed) {
        @extend %aside--collapsed !optional;

        &.igx-nav-drawer__aside--right {
            transform: translate3d(300px, 0, 0);
            box-shadow: none;
        }
    }

    @include e(aside, right) {
        @extend %aside--right !optional;
    }

    @include e(aside, mini) {
        @extend %aside--mini !optional;
    }

    @include e(aside, pinned) {
        @extend %aside--pinned !optional;

        &.igx-nav-drawer__aside--collapsed {
            @extend %igx-nav-drawer__aside--collapsed !optional;
        }
    }

    // Overlay
    @include e(overlay) {
        @extend %overlay !optional;

        &.panning {
            transform: translate3d(0, 0, 0);
            transition: none;

            &.igx-nav-drawer__overlay--hidden {
                /* must be visible during pan.. */
                visibility: visible;
            }
        }
    }

    @include e(overlay, hidden) {
        @extend %overlay--hidden !optional;
    }

    // Style Dummy(hidden) used for measures
    @include e(style-dummy) {
        height: 0;
        background: none;
        box-shadow: none;
        transition: none;
        visibility: hidden;
    }
}
