$component-name: 'igx-navdrawer';
$components: register-component($components, #{$component-name});

@function igx-navdrawer-theme(
    $navdrawer-background-color: null,
    $overlay-background: null,
    $navdrawer-border-color: null,
    $item-text-color: null,
    $item-active-text-color: null,
    $item-hover-background: null,
    $item-hover-text-color: null,
    $item-active-background: null,
    $item-header-text-color: null,
    $icon-color: null,
    $active-icon-color:null
) {
    @return (
        navdrawer-background-color: $navdrawer-background-color,
        overlay-background: $overlay-background,
        navdrawer-border-color: $navdrawer-border-color,
        item-text-color:$item-text-color,
        item-active-text-color:$item-active-text-color,
        item-active-background:$item-active-background,
        item-hover-background:$item-hover-background,
        item-hover-text-color:$item-hover-text-color,
        item-header-text-color:$item-header-text-color,
        icon-color:$icon-color,
        active-icon-color:$active-icon-color
    );
}

@mixin igx-navdrawer($theme, $palette: $default-palette) {
    $default-theme: igx-navdrawer-theme(
        $navdrawer-background-color: $white,
        $overlay-background: rgba(0, 0, 0, .25),
        $navdrawer-border-color: rgba(0, 0, 0, .14),
        $item-text-color: igx-color($palette, grays, 800),
        $item-active-text-color: igx-color($palette, primary, 500),
        $item-active-background: igx-color($palette, grays, 100),
        $item-hover-background: igx-color($palette, grays, 200),
        $item-hover-text-color: igx-color($palette, grays, 800),
        $item-header-text-color: igx-color($palette, grays, 600),
        $icon-color: igx-color($palette, grays, 600),
        $active-icon-color:igx-color($palette, primary, 500)
    );

    $this: extend($default-theme, $theme);

    $ease-in-bezier: cubic-bezier(.25, .46, .45, .94);
    $ease-out-bezier: $ease-in-bezier;

    %adide {
        position: fixed;
        width: rem(242px);
        height: 100%;
        max-width: 90%;
        min-height: 100%;
        overflow-x: hidden;
        background-color: map-get($this, 'navdrawer-background-color');
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        transition: flex-basis, transform, width, transform;
        transition-duration: .3s, .3s;
        transition-timing-function: $ease-in-bezier, $ease-out-bezier;
        transition-delay: 0s, 0s;
        box-shadow: $elevate-5;
        border-right: 1px solid map-get($this, 'navdrawer-border-color');
    }

    %aside--pinned {
        position: relative;
        max-width: 100%;
        box-shadow: none;
        z-index: 0;
    }

    %igx-nav-drawer__aside--collapsed {
        transform: none;
        width: 0;
        overflow: hidden;
    }

    %aside--collapsed {
        transform: translate3d(-300px, 0, 0);
        box-shadow: none;
    }

    %aside--right {
        left: auto;
        right: 0;
        border-right: none;
        border-left: 1px solid map-get($this, 'navdrawer-border-color');
    }

    %aside--mini {
        width: rem(60px);
        transition-duration: .2s, .2s;
    }

    %overlay {
        opacity: 1;
        background-color: map-get($this, 'overlay-background');
        transition: opacity, visibility;
        transition-duration: .25s, .25s;
        transition-timing-function: ease-in, step-start;
        transition-delay: 0s, 0s;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        visibility: visible;
        z-index: 999;
    }

    %overlay--hidden {
        transition-timing-function: ease-in-out, step-end;
        visibility: hidden;
        opacity: 0;
    }

    %item {
        display: flex;
        flex: 1 0 100%;
        flex-flow: row nowrap;
        //for ripple
        position: relative;
        color: map-get($this, 'item-text-color');
        max-height: 48px;
        padding: 12px 16px;
        cursor: pointer;
        font-size: 14px;
        align-items: center;
        font-weight: 600;
        user-select: none;
        outline: transparent;
        white-space: nowrap;

        &:hover,
        &:focus {
            background-color: map-get($this, 'item-hover-background');
            color: map-get($this, 'item-hover-text-color');
        }

        > * + * {
            margin-left: 32px;
        }

        .igx-icon {
            color: map-get($this, 'icon-color');
        }
    }

    %item--active {
        // should be app primary color
        color: map-get($this, 'item-active-text-color');
        background-color: map-get($this, 'item-active-background');

        &:focus,
        &:hover{
            color: map-get($this, 'item-active-text-color');
            background-color: map-get($this, 'item-active-background');
        }

        .igx-icon {
            color: map-get($this, 'active-icon-color');
        }
    }

    %item--header {
        display: block;
        padding: 12px 16px;
        white-space: nowrap;
        color: map-get($this, 'item-header-text-color');
    }
}
