@include b(igx-nav-drawer) {
    // Main aside element
    @include e(aside) {
        @extend %adide !optional;

        &.panning {
            overflow-x: hidden;
            transition: none;
        }
    }

    @include e(aside, collapsed) {
        @extend %aside--collapsed !optional;

        &.igx-nav-drawer__aside--right {
            transform: translate3d(300px, 0, 0);
            box-shadow: none;
        }
    }

    @include e(aside, right) {
        @extend %aside--right !optional;
    }

    @include e(aside, mini) {
        @extend %aside--mini !optional;
    }

    @include e(aside, pinned) {
        @extend %aside--pinned !optional;

        &.igx-nav-drawer__aside--collapsed {
            @extend %igx-nav-drawer__aside--collapsed !optional;
        }
    }

    // Overlay
    @include e(overlay) {
        @extend %overlay !optional;

        &.panning {
            transform: translate3d(0, 0, 0);
            transition: none;

            &.igx-nav-drawer__overlay--hidden {
                /* must be visible during pan.. */
                visibility: visible;
            }
        }
    }

    @include e(overlay, hidden) {
        @extend %overlay--hidden !optional;
    }

    // Style Dummy(hidden) used for measures
    @include e(style-dummy) {
        height: 0;
        background: none;
        box-shadow: none;
        transition: none;
        visibility: hidden;
    }

    // igxDrawerItem Items
    @include e(item) {
        display: flex;
        flex: 1 0 100%;
        flex-flow: row nowrap;
        position: relative; //for ripple
        color: rgba(#000000, .87);
        max-height: 48px;
        padding: 12px 16px;
        cursor: pointer;
        font-size: 14px;
        align-items: center;
        font-weight: 600;
        user-select: none;
        outline: transparent;
        white-space: nowrap;

        &:hover {
            background-color: #f0f0f0;
        }
    }
    @include e(item, active) {
        color: rgba(#000000, 1); // should be app primary color 
        background-color: #f0f0f0;
    }

    @include e(item, header) {
        color: rgba(#000000, .54);
    }
}
