$white: #fff !default;
$ease-out-quad: cubic-bezier(.25, .46, .45, .94);
$navdrawer-pin-collapsed-padding: 0;
$overlay-color: rgba(0, 0, 0, .25);

@include b(ig-nav-drawer) {
    position: fixed;
    width: em(242px);
    height: 100%;
    max-width: 90%;
    min-height: 100%;
    overflow-x: hidden;
    background-color: $white;
    top: 0;
    bottom: 0;
    left: 0;
    // use full syntax, iOS Safari won't work with transition: width .3s ease-out, transform .3s ease-out; shorthand
    z-index: 999;
    transition: width, transform;
    transition-duration: .3s, .3s;
    transition-timing-function: $ease-out-quad, $ease-out-quad;
    transition-delay: 0s, 0s;
    box-shadow: rgba(0, 0, 0, .25);

    &.collapsed {
        transform: translate3d(-300px, 0, 0);
        box-shadow: none;

        &.right {
            transform: translate3d(300px, 0, 0);
            box-shadow: none;
        }
    }

    &.right {
        left: auto;
        right: 0;
    }

    &.mini {
        width: 60px;
        transition-duration: .2s, .2s;
    }

    &.pinned {
        position: relative;
        max-width: 100%;
        box-shadow: none;
        z-index: 0;
    }

    &.pinned.collapsed {
        transform: none;
        width: 0;
        padding: $navdrawer-pin-collapsed-padding;
        overflow: hidden;
    }
    // Utility classes for active pan

    &.panning {
        overflow-x: hidden;
        transition: none;
    }
}

.style-dummy {
    height: 0;
    background: none;
    box-shadow: none;
    transition: none;
    visibility: hidden;
    // potentially don't use this?
}

// Navigation Drawer overlay styles
.ig-nav-drawer-overlay {
    opacity: 1;
    background-color: $overlay-color;
    transition: opacity, visibility;
    // opacity must match drawer transition, step over visibility to reduce animation cost
    transition-duration: .25s, .25s;
    transition-timing-function: ease-in, step-start;
    transition-delay: 0s, 0s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    z-index: 999;

    &.hidden {
        transition-timing-function: ease-in-out, step-end;
        // use visibility so opacity can be animated
        visibility: hidden;
        opacity: 0;
    }

    &.pinned {
        display: none;
    }

    &.panning {
        transform: translate3d(0, 0, 0);
        // try layer creation manually in advance for opacity
        transition: none;

        &.hidden {
            visibility: visible;
        }
    }
}

