////
/// @group themes
/// @access public
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
/// @author <a href="https://github.com/desig9stein" target="_blank">Marin Popov</a>
////

/// @param {Color} $background [null] - The navigation drawer background color.
/// @param {Color} $border-color [null] - The navigation drawer right border color.
/// @param {Color} $item-header-text-color [null] - The header's idle text color.
/// @param {Color} $item-text-color [null] - The item's idle text color.
/// @param {Color} $item-icon-color [null] - The item's icon color.
/// @param {Color} $item-active-text-color [null] - The item's active text color.
/// @param {Color} $item-active-background [null] - The item's active background color.
/// @param {Color} $item-active-icon-color [null] - The item's icon active color.
/// @param {Color} $item-hover-background [null] - The item's hover background color.
/// @param {Color} $item-hover-text-color [null] - The item's hover text color.
/// @param {Color} $item-hover-icon-color [null] - The item's hover icon color.
///
/// @requires text-contrast
///
/// @example scss Change the background and item colors
///   $navdrawer-theme: igx-navdrawer-theme(
///     $background: #2d313a,
///     $item-active-background: #ecc256,
///     $item-icon-color: #ecc256
///   );
///   // Pass the theme to the igx-navdrawer component mixin
///   @include igx-navdrawer($navdrawer-theme);
@function igx-navdrawer-theme(
    $background: null,
    $border-color: null,

    $item-header-text-color: null,
    $item-text-color: null,
    $item-icon-color: null,

    $item-active-text-color: null,
    $item-active-background: null,
    $item-active-icon-color:null,

    $item-hover-background: null,
    $item-hover-text-color: null,
    $item-hover-icon-color: null
) {
    @if not($item-header-text-color) and $background {
        $item-header-text-color: text-contrast($background);
    }

    @if not($item-text-color) and $background {
        $item-text-color: text-contrast($background);
    }

    @if not($item-icon-color) and $background {
        $item-icon-color: text-contrast($background);
    }

    @if not($item-active-background) and $background {
        $item-active-background: rgba(text-contrast($background), .24);
    }

    @if not($item-active-text-color) and $item-active-background {
        $item-active-text-color: text-contrast($item-active-background);
    }

    @if not($item-active-icon-color) and $item-active-background {
        $item-active-icon-color: text-contrast($item-active-background);
    }

    @if not($item-hover-background) and $background {
        $item-hover-background: rgba(text-contrast($background), .08);
    }

    @if not($item-hover-text-color) and $background {
        $item-hover-text-color: text-contrast($background);
    }

    @return (
        background: $background,
        border-color: $border-color,
        item-text-color:$item-text-color,
        item-active-text-color: $item-active-text-color,
        item-active-background: $item-active-background,
        item-hover-background: $item-hover-background,
        item-hover-text-color:$item-hover-text-color,
        item-header-text-color:$item-header-text-color,
        item-icon-color:$item-icon-color,
        item-active-icon-color:$item-active-icon-color,
        item-hover-icon-color: $item-hover-icon-color
    );
}

/// @param {Map} $theme - The theme used to style the component.
/// @param {Map} $palette [$default-palette] - The palette used as basis for styling the component.
/// @requires igx-navdrawer-theme
/// @requires igx-color
/// @requires igx-elevation
/// @requires $elevations
/// @requires $overlay-color
/// @requires extend
/// @requires rem
@mixin igx-navdrawer($theme, $palette: $default-palette) {
    $default-theme: igx-navdrawer-theme(
        $background: #fff,
        $border-color: rgba(0, 0, 0, .14),
        $item-text-color: igx-color($palette, grays, 800),
        $item-active-text-color: igx-color($palette, primary, 500),
        $item-active-background: igx-color($palette, grays, 100),
        $item-hover-background: igx-color($palette, grays, 200),
        $item-hover-text-color: igx-color($palette, grays, 800),
        $item-header-text-color: igx-color($palette, grays, 600),
        $item-icon-color: igx-color($palette, grays, 600),
        $item-active-icon-color: igx-color($palette, primary, 500),
        $item-hover-icon-color: igx-color($palette, grays, 800)
    );

    $this: extend($default-theme, $theme);

    %animation {
        transition: flex-basis;
        transition-duration: .3s;
        transition-timing-function: $ease-out-quad;
    }

    %aside {
        position: fixed;
        width: rem(242px);
        height: 100%;
        max-width: 90%;
        min-height: 100%;
        overflow-x: hidden;
        background-color: map-get($this, 'background');
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        transition: width, transform;
        transition-duration: .3s, .3s;
        transition-timing-function: $ease-out-quad, $ease-out-quad;
        box-shadow: igx-elevation($elevations, 5);
        border-right: 1px solid map-get($this, 'border-color');
    }

    %aside-panning {
        overflow-x: hidden;
        transition: none;
    }

    %aside--pinned {
        position: relative;
        max-width: 100%;
        box-shadow: none;
        z-index: 0;
    }

    %igx-nav-drawer__aside--collapsed {
        transform: none;
        width: 0;
        overflow: hidden;
    }

    %aside--collapsed {
        transform: translate3d(-300px, 0, 0);
        box-shadow: none;
    }

    %aside--right {
        left: auto;
        right: 0;
        border-right: none;
        border-left: 1px solid map-get($this, 'border-color');
    }

    %aside--collapsed--right {
        transform: translate3d(300px, 0, 0);
        box-shadow: none;
    }

    %aside--mini {
        width: rem(60px);
        transition-duration: .2s, .2s;
    }

    %overlay {
        opacity: 1;
        background-color: $overlay-color;
        transition: opacity, visibility;
        transition-duration: .25s, .25s;
        transition-timing-function: ease-in, step-start;
        transition-delay: 0s, 0s;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        visibility: visible;
        z-index: 999;
    }

    %overlay-panning {
        transform: translate3d(0, 0, 0);
        transition: none;
    }

    %overlay--hidden {
        transition-timing-function: ease-in-out, step-end;
        visibility: hidden;
        opacity: 0;
    }

    %overlay-panning--hidden {
        /* must be visible during pan.. */
        visibility: visible;
    }

    %item {
        position: relative;
        display: flex;
        // flex: 1 0 100%;
        flex-flow: row nowrap;
        color: map-get($this, 'item-text-color');
        max-height: 48px;
        padding: 12px 16px;
        cursor: pointer;
        font-size: 14px;
        align-items: center;
        font-weight: 600;
        user-select: none;
        outline: transparent;
        white-space: nowrap;

        &:hover,
        &:focus {
            background-color: map-get($this, 'item-hover-background');
            color: map-get($this, 'item-hover-text-color');
        }

        > igx-icon + span {
            margin-left: 32px;
        }

        &[dir='rtl'] {
            > igx-icon + span {
                margin-right: 32px;
            }
        }

        .igx-icon {
            color: map-get($this, 'item-icon-color');
        }
    }

    %item--active {
        // should be app primary color
        color: map-get($this, 'item-active-text-color');
        background-color: map-get($this, 'item-active-background');

        &:focus,
        &:hover {
            color: map-get($this, 'item-active-text-color');
            background-color: map-get($this, 'item-active-background');
        }

        .igx-icon {
            color: map-get($this, 'item-active-icon-color');
        }
    }

    %item--header {
        display: block;
        padding: 12px 16px;
        white-space: nowrap;
        color: map-get($this, 'item-header-text-color');
    }

    %style-dummy {
        height: 0;
        background: none;
        box-shadow: none;
        transition: none;
        visibility: hidden;
    }
}
