$component-name: 'igx-navdrawer';

$components: register-component($components, #{$component-name});

@function igx-navdrawer-theme() {
    @return ();
}

@mixin igx-navdrawer($theme, $palette: $default-palette) {
    $default-theme: igx-navdrawer-theme();
    $this: extend($default-theme, $theme);
    $navdrawer-pin-collapsed-padding: 0;
}
