<igx-grid #grid1 [pinning]="pinningConfig" [data]="data" [autoGenerate]="false" [displayDensity]="'compact'" [width]="w" [height]="h"
    [paging]="false" [allowFiltering]='true' [filterMode]="'excelStyleFilter'" [summaryCalculationMode]="'rootAndChildLevels'">
    <igx-grid-toolbar *ngIf="showToolbar" [displayDensity]="grid1.displayDensity">
        <igx-grid-toolbar-title>Grid Toolbar</igx-grid-toolbar-title>
        <igx-grid-toolbar-actions>
            <igx-grid-toolbar-pinning *ngIf="columnPinning"></igx-grid-toolbar-pinning>
            <igx-grid-toolbar-hiding *ngIf="columnHiding"></igx-grid-toolbar-hiding>
            <igx-grid-toolbar-advanced-filtering></igx-grid-toolbar-advanced-filtering>
            <igx-grid-toolbar-exporter [exportCSV]="true" [exportExcel]="true">
                <span excelText>Export to Excel 👌</span>
                <span csvText>Export to CSV 👍</span>
            </igx-grid-toolbar-exporter>
        </igx-grid-toolbar-actions>
    </igx-grid-toolbar>
    <igx-column field="Index" header="Index" [width]="cw">
    </igx-column>
    <igx-column field="ProductID" header="Product ID" [width]="cw" [headerClasses]="'prodId'" [groupable]="groupable">
        <ng-template igxCell let-cell="cell" let-val>
            <button (click)="viewRecord(grid1.data)">{{val}}</button>
        </ng-template>
    </igx-column>
    <igx-column field="ReorderLevel" [width]="cw" [sortable]="true" [groupable]="groupable" [filterable]="filterable"
        editable="true" [dataType]="'number'" [disableHiding]="disableHiding" [disablePinning]="disablePinning">
    </igx-column>
    <igx-column field="QuantityPerUnit" [width]="cw" header="QuantityPerUnit" [sortable]="true" [dataType]="'string'"
        [editable]="true">
    </igx-column>
    <igx-column field="UnitsInStock" header="UnitsInStock" [width]="cw" [dataType]="'number'"
        [hasSummary]="hasSummaryUnit" [hidden]="hasHidden" editable="true" [sortable]="true">
        <ng-template igxCell let-cell="cell" let-val let-row>
            ${{val}}
        </ng-template>
    </igx-column>
    <igx-column field="OrderDate" [width]="cw" [dataType]="'date'" [hasSummary]="false" [sortable]="true">
    </igx-column>
    <igx-column field="Discontinued" header="Discontinued" [dataType]="'boolean'" [width]="cw" [hasSummary]="false"
        editable="true">
        <ng-template igxCell let-cell="cell" let-val>
            {{val}}
        </ng-template>
    </igx-column>
    <igx-column field="Sum" [hasSummary]="true" [summaries]="mySummary">
    </igx-column>
</igx-grid>

<div class="properties-input">
    <label> Grid Width </label>
    <input [(ngModel)]="w">
</div>
<div class="properties-input">
    <label> Grid Height </label>
    <input [(ngModel)]="h">
</div>
<div class="properties-input">
    <label> Columns Width </label>
    <input [(ngModel)]="cw">
</div>

<igx-switch [(ngModel)]="grid1.paging">Enable Paging</igx-switch>
<igx-switch [(ngModel)]="grid1.allowFiltering">allowFiltering</igx-switch>
<igx-switch [(ngModel)]="columnHiding">columnHiding</igx-switch>
<igx-switch [(ngModel)]="columnPinning">columnPinning</igx-switch>
<igx-switch (change)='onChange()'>Left Pinning toggle</igx-switch>
<igx-switch [(ngModel)]="showToolbar">showToolbar</igx-switch>
<igx-switch [(ngModel)]="groupable">ReorderLevel groupable</igx-switch>
<igx-switch [(ngModel)]="filterable">ReorderLevel filterable</igx-switch>
<igx-switch [(ngModel)]="disableHiding">ReorderLevel disableHiding</igx-switch>
<igx-switch [(ngModel)]="disablePinning">ReorderLevel disablePinning</igx-switch>
<igx-switch [(ngModel)]="hasSummaryUnit">hasSummaryUnit</igx-switch>
<igx-switch [(ngModel)]="hasHidden">hasHidden</igx-switch>

<button (click)="enableSummary()"> Enable Summary for column ReorderLevel</button>
<button (click)="disableSummary()">Disable Summary</button>
<button (click)="updateData()">Update Data</button>
<button (click)="addRow()">Add Row</button>
<button (click)="deleteRow()">Delete Row</button>
<button (click)="updateCell()">Update Cell</button>
<button (click)="updateRow()">Update Row</button>
<button (click)="pin()">Pin</button>
<button (click)="hide()">Hide</button>
<div><input type='number' #input /><button (click)='scrScrollTo(input.value)'>Go To Index</button></div>
