<div class="select-sample">
    <section class="select-sample__section">
        <h1 class="select-sample__title">Select with ngModel, set items OnInit</h1>

        <size-selector #sizeSelector></size-selector>

        <div class="select-sample__row">
            <button igxButton="contained" (click)="handleOpen()">Open</button>
            <button igxButton="outlined" (click)="handleClose()">Close</button>
            <button igxButton (click)="isDisabled = !isDisabled">toggle Disable</button>
            <button igxButton (click)="openCustomOverlaySettings()">open Custom Overlay</button>
        </div>

        <igx-select #sizeSelect
                    required
                    [placeholder]="'Pick One'"
                    [(ngModel)]="value"
                    [ngModelOptions]="{updateOn: 'blur'}"
                    #selectModel="ngModel"
                    (opening)="testOnOpening($event)"
                    (opened)="testOnOpened()"
                    (closing)="testOnClosing($event)"
                    (closed)="testOnClosed()"
                    (selectionChanging)="testOnSelection($event)"
                    [disabled]="isDisabled"
                    [style.--ig-size]="'var(--ig-size-' + sizeSelector.size + ')'">
            <label igxLabel>Sample Label</label>
            <igx-prefix igxPrefix>
                <igx-icon>alarm</igx-icon>
            </igx-prefix>
            <igx-select-item>
                None
            </igx-select-item>
            <igx-select-item *ngFor="let item of items; let inx=index" [value]="item.field">
                <igx-icon igxPrefix>alarm</igx-icon>
                {{ item.field }}
                <igx-icon igxSuffix>notifications_active</igx-icon>
            </igx-select-item>
            <ng-template igxSelectHeader>
                <div class="custom-select-header" (click)="headerFootedClick($event);">
                    Header content
                </div>
            </ng-template>
            <ng-template igxSelectFooter>
                <div class="custom-select-footer" (click)="headerFootedClick($event);">
                    <div>Footer content</div>
                    <button igxButton="contained" (click)="btnClick()">Click Me!</button>
                </div>
            </ng-template>
        </igx-select>
        <div>Model: {{selectModel.value}}</div>
    </section>

    <section class="select-sample__section">
        <h1 class="select-sample__title">Select - declare items in html template</h1>
        <igx-select #select2
                    [placeholder]="'Pick One'"
                    [value]="value"
                    (opening)="testOnOpening($event)"
                    (opened)="testOnOpened()"
                    (closing)="testOnClosing($event)"
                    (closed)="testOnClosed()"
                    (selectionChanging)="testOnSelection($event)"
                    [disabled]="false"
                    [type]="'box'">
            <label igxLabel>Sample Label</label>
            <igx-prefix>
                <igx-icon>favorite</igx-icon>
            </igx-prefix>
            <igx-suffix>
                <igx-icon>alarm</igx-icon>
            </igx-suffix>
            <igx-hint>I am a Hint</igx-hint>
            <igx-select-item>None</igx-select-item>
            <igx-select-item [value]="1">Sofia</igx-select-item>
            <igx-select-item [value]="2">London</igx-select-item>
            <igx-select-item [value]="3">Paris</igx-select-item>
            <igx-select-item [value]="4">New York</igx-select-item>
        </igx-select>
    </section>

    <section class="select-sample__section">
        <h1 class="select-sample__title">Select - disabled item</h1>
        <igx-select #select3
                    [placeholder]="'Pick One'"
                    (opening)="testOnOpening($event)"
                    (opened)="testOnOpened()"
                    (closing)="testOnClosing($event)"
                    (closed)="testOnClosed()"
                    (selectionChanging)="testOnSelection($event)"
                    [disabled]="false"
                    [type]="'border'">
            <label igxLabel>Sample Label</label>
            <igx-icon igxPrefix>favorite</igx-icon>
            <igx-hint>I am a Hint</igx-hint>
            <igx-select-item [value] = "'Apple'" [disabled]="true">Apple</igx-select-item>
            <igx-select-item [value] = "'Orange'">Orange</igx-select-item>
            <igx-select-item [value] = "'Grapes'">Grapes</igx-select-item>
            <igx-select-item [value] = "'Banana'">Banana</igx-select-item>
        </igx-select>
    </section>

    <section class="select-sample__section">
    <h1 class="select-sample__title">Select - using Groups</h1>
    <igx-select #select4
                [placeholder]="'Pick One'"
                [value]="value"
                (opening)="testOnOpening($event)"
                (opened)="testOnOpened()"
                (closing)="testOnClosing($event)"
                (closed)="testOnClosed()"
                (selectionChanging)="testOnSelection($event)"
                [disabled]="false">
        <label igxLabel>Group</label>
        <igx-prefix igxPrefix>
            <igx-icon>alarm</igx-icon>
        </igx-prefix>
        <igx-select-item value="1">OutsideGroup</igx-select-item>
        <igx-select-item-group label="Group">
            <igx-select-item [disabled]="true" value="2">
                <igx-icon igxPrefix>alarm</igx-icon>
                InsideGroup1
                <igx-icon igxSuffix>alarm</igx-icon>
            </igx-select-item>
            <igx-select-item value="3">
                <igx-icon igxPrefix>alarm</igx-icon>
                InsideGroup2
                <igx-icon igxSuffix>alarm</igx-icon>
            </igx-select-item>
            <igx-select-item value="4">
                <igx-icon igxPrefix>alarm</igx-icon>
                InsideGroup3
                <igx-icon igxSuffix>alarm</igx-icon>
            </igx-select-item>
        </igx-select-item-group>
    </igx-select>
    </section>

    <section class="select-sample__section">
        <h1 class="select-sample__title"> Select in a Form</h1>
        <form class="select-sample__form" [formGroup]="reactiveForm" (ngSubmit)="onSubmitReactive()">
            <igx-select formControlName="citiesSelect" #selectReactive [placeholder]="'City'">
                <label igxLabel>Choose a city</label>
                <igx-prefix igxPrefix>
                    <igx-icon>alarm</igx-icon>
                </igx-prefix>
                <igx-select-item *ngFor="let city of cities; let inx=index" [value]="city">
                    {{ city }}
                </igx-select-item>
            </igx-select>
            <button type="submit" igxButton="contained" [disabled]="!reactiveForm.valid">Submit</button>
        </form>
    </section>

    <section class="select-sample__section">
        <h1 class="select-sample__title">Select - dynamically change required</h1>
        <div class="select-sample__row">
            <button igxButton="contained" (click)="selectBanana()">Select Banana</button>
            <button igxButton="contained" (click)="setToNull()">Set To Null</button>
        </div>
        <igx-switch [(ngModel)]="selectRequired" [ngModelOptions]="{standalone: true}">Required</igx-switch>

        <form class="select-sample__form">
            <igx-select #model="ngModel"
                    [(ngModel)]="selected"
                    [ngModelOptions]="{standalone: true}"
                    [required]="selectRequired"
                    [placeholder]="'Pick One'">
                <label igxLabel>Favorite fruit</label>
                <span igxPrefix>Fruit</span>
                <igx-select-item> None </igx-select-item>
                <igx-select-item *ngFor="let fruit of fruits" [value]="fruit">
                    {{fruit}}
                </igx-select-item>
            </igx-select>
            <div>Selected: {{selected}}</div>
            <div>Valid: {{model.valid}}</div>
        </form>
    </section>
</div>
