<div class="sample-wrapper">
        <app-page-header title="Select in a Form">
            Demonstrates select component in a form.
        </app-page-header>
        <section class="sample-content">
            <article class="sample-column">
                <form [formGroup]="mySelectForm" (ngSubmit)="onSubmit()">
                    <h4 class="sample-title"> Select in a Form</h4>
                    <div class="wrap">
                        <div class="inputs">
                            <input formControlName="name"
                                (change)="handleInputName($event)">
                            <input formControlName="favoriteFood"
                                (change)="handleInputFood($event)">
                        </div>
                        <div class="selects">
                            <igx-select #dropDown1 [width]="'260px'" formControlName="name"
                                (onSelection)="handleOnNameSelection($event)">
                                    <igx-select-item *ngFor="let user of users" [value]="user.name">
                                         {{ user.name }}
                                    </igx-select-item>
                            </igx-select>
                            <igx-select #dropDown2 [width]="'260px'" formControlName="favoriteFood"
                            (onSelection)="handleOnFoodSelection($event)">
                                <igx-select-item *ngFor="let user of users" [value]="user.favoriteFood">
                                     {{ user.favoriteFood }}
                                </igx-select-item>
                            </igx-select>
                        </div>
                 </div>
                 <div class="buttons">
                    <button igxButton type="button" (click)="onUpdateSelect($event)">Update model and Form</button>
                    <button igxButton type="button" (click)="onSubmit()">Submit/console.log</button>
                 </div>
                    <p>Form value: {{ mySelectForm.value | json }}</p>
                    <p>Updated model: {{ newUser | json }}</p>
                </form>
            </article>
        </section>
    </div>
