.select-sample {
    display: flex;
    flex-direction: column;
    gap: 28px;
    max-width: 800px;
    margin: 0 auto;
    padding: 32px 16px;

    &__section,
    &__row {
        display: flex;
        gap: 16px
    }

    &__row {
        &--stretch {
            > * {
                flex: 1;
            }
        }
    }

    &__section {
        flex-direction: column;
        padding: 16px;
        border: 1px dashed #ddd;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        letter-spacing: .4px;
        margin: 0;
        line-height: normal;
    }

    strong {
        color: #606;
    }

    igx-simple-combo,
    igx-combo {
        max-width: 100%;
        min-width: 30%;
    }
}


.custom-select-header,
.custom-select-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    background: var(--ig-gray-50);
}

.custom-select-header {
    border-bottom: 1px dashed var(--ig-gray-200);
}

.custom-select-footer {
    flex-direction: column;
    border-top: 1px dashed var(--ig-gray-200);
}
