.sampleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 289px);
    max-width: 600px;
    min-height: 300px;
    margin: 30px auto;
    padding: 30px;
    background: rgba(0, 0, 0, .1);
    box-sizing: border-box;
}
