<div class="sample-wrapper">
    <app-page-header title="Select in a Form">
        Demonstrates select component in a form.
    </app-page-header>
    <section class="select-sample-content">
        <h4 class="sample-title"> Select in a Form</h4>

        <form class="from" [formGroup]="mySelectForm" (ngSubmit)="onSubmit()">
            <div class="wrap">
                <div class="inputs">
                    <igx-input-group type="box">
                        <label igxLabel>Label</label>
                        <input (change)="handleInputName($event)" formControlName="name" igxInput type="text" placeholder="Placeholder" readonly/>
                    </igx-input-group>

                    <igx-input-group type="box">
                        <label igxLabel>Label</label>
                        <input (change)="handleInputFood($event)" formControlName="favoriteFood" igxInput type="text" placeholder="Placeholder" readonly/>
                    </igx-input-group>
                </div>
                <div class="selects">
                    <igx-select #dropDown1 [width]="'260px'" formControlName="name"
                        (onSelection)="handleOnNameSelection($event)">
                            <igx-select-item *ngFor="let user of users" [value]="user.name">
                                 {{ user.name }}
                            </igx-select-item>
                    </igx-select>
                    <igx-select #dropDown2 [width]="'260px'" formControlName="favoriteFood"
                    (onSelection)="handleOnFoodSelection($event)">
                        <igx-select-item *ngFor="let user of users" [value]="user.favoriteFood">
                             {{ user.favoriteFood }}
                        </igx-select-item>
                    </igx-select>
                </div>
            </div>

            <div class="buttons">
                <button igxButton type="button" (click)="onUpdateSelect($event)">Update model and Form</button>
                <button igxButton="raised" type="button" (click)="onSubmit()">Submit/console.log</button>
            </div>

            <p class="warn">Form value: {{ mySelectForm.value | json }}</p>
            <p class="warn">Updated model: {{ newUser | json }}</p>
        </form>
    </section>
</div>
