<div id="header" class="globalnav" data-nav-auto-init="true">
    <div id="header-wrap" class="globalnav__container" data-default-height="175" data-sticky-height="175">
        <!-- CSE Container -->
        <div class="globalnav__search">
            <div class="globalnav__search-container globalnav__wrapper">
                <div class="search search__container search--support" data-cse-resultsurl="/search">
                    <!-- <input id="q" class="search__input" type="text" name="q" value="" placeholder="Search Infragistics.com" /> -->
                    <input id="q" class="search__input" type="text" name="q" value="" placeholder="Search Infragistics.com">
                        <button type="submit" value="search">
                            <svg enable-background="new 0 0 512 512" id="search" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M497.913,497.913c-18.782,18.782-49.225,18.782-68.008,0l-84.862-84.863c-34.889,22.382-76.13,35.717-120.659,35.717  C100.469,448.767,0,348.312,0,224.383S100.469,0,224.384,0c123.931,0,224.384,100.452,224.384,224.383  c0,44.514-13.352,85.771-35.718,120.676l84.863,84.863C516.695,448.704,516.695,479.131,497.913,497.913z M224.384,64.109  c-88.511,0-160.274,71.747-160.274,160.273c0,88.526,71.764,160.274,160.274,160.274c88.525,0,160.273-71.748,160.273-160.274  C384.657,135.856,312.909,64.109,224.384,64.109z"></path></svg>
                        </button>
                    </div>
            </div>
        </div>
        <!-- Primary Nav -->
        <div class="globalnav__primary clearfix">
            <div class="globalnav__wrapper">
                <!-- My Account -->
                <div class="globalnav__section clearfix">
                    <nav class="globalnav__menu-container">
                        <ul class="navigation navigation--xs navigation--hpad-0">
                            <li class="navigation__text deemphasize" style="width: auto;">North American Sales: 1-800-231-8588</li>
                            <li>
                                <a title="Contact Us" data-id="9668" href="/about-us/contact-us">Global Contacts</a>
                            </li>
                            <li class="navigation__account">
                                <a class="signInLink" href="https://www.infragistics.com/login.aspx?ReturnUrl=%2fmy-account%2fkeys-and-downloads">My Account</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- <br /><br /><br /> -->
                <!-- Brand -->
                <h1 class="globalnav__brand">
                    <a href="/">
                        <!--<span class="hidden--visual">Infragistics</span>-->
                        <img class="globalnav__logo" src="https://static.infragistics.com/marketing/Website/General/Infragistics-horizontal.svg" alt="">
                            <img class="globalnav__logo_abbr" src="https://static.infragistics.com/marketing/Website/General/IG-icon.svg" alt=""> </a>
                </h1>
                <!-- Mobile Menu Toggle -->
                <div class="globalnav__mobile-menu">
                    <a class="globalnav__menu-toggle" href="#">
                        <span>Menu</span>
                    </a>
                </div>
                <!-- Global Search Toggle -->
                <div class="globalnav__search-toggle">
                    <div class="globalnav__search-close">
                        <i> </i>
                    </div>
                </div>
                <!-- Menu -->
                <nav class="globalnav__menu-container" style="margin-right: 40px;">
                    <ul class="navigation navigation--navbar navigation--hpad-0 sf-menu">
                        <li class="navigation__mobile-link">
                            <div class="globalnav__callout-text">North American Sales: 1-800-321-8588</div>
                        </li>
                        <li class="navigation__mobile-link">
                            <a class="navigation__sub-menu" href="#">My Account</a>
                            <ul class="sub-menu clearfix">
                                <li>
                                    <a class="signInLink" href="https://www.infragistics.com/login.aspx?ReturnUrl=%2fmy-account%2fkeys-and-downloads">Sign In/Register</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="navigation__sub-menu" title="For Developers" href="/products/ultimate">Developers</a>
                            <ul class="navigation_sub-menu-featured">
                                <li>
                                    <a class="navigation__callout-link" title="Infragistics Ultimate" href="/products/ultimate">
                                        <span class="navigation__callout-title">Infragistics Ultimate</span>
                                        <span class="deemphasize">The complete toolkit for building high performing web, mobile, and desktop apps</span>
                                    </a>
                                </li>
                                <li>
                                    <a title="IgniteUI: Angular" href="/products/ignite-ui-angular">
                                        Ignite UI for Angular <span class="deemphasize">50+ Material-based UI components designed and built on Google’s Angular framework</span>
                                    </a>
                                </li>
                                <li>
                                    <a title="IgniteUI: JavaScript / HTML 5" href="/products/ignite-ui">
                                        Ignite UI for JavaScript<span class="deemphasize">100+ HTML5 / JavaScript jQuery components with extensions for React, Angular &amp; ASP.NET MVC</span>
                                    </a>
                                </li>
                                <li>
                                    <a title="ASP.NET" href="/products/aspnet">
                                        Ultimate UI for ASP.NET <span class="deemphasize">Versatile ASP.NET AJAX UI controls</span>
                                    </a>
                                </li>
                                <li>
                                    <a title="Windows Forms" href="/products/windows-forms">
                                        Ultimate UI for Windows Forms <span class="deemphasize">100+ fully featured, Microsoft Office-style UI controls</span>
                                    </a>
                                </li>
                                <li>
                                    <a title="WPF" href="/products/wpf">
                                        Ultimate UI for WPF <span class="deemphasize">UI controls &amp; productivity tools</span>
                                    </a>
                                </li>
                                <li>
                                    <a title="Xamarin" href="/products/xamarin">
                                        Ultimate UI for Xamarin&nbsp;<span class="deemphasize">UI controls &amp; productivity tools</span>
                                    </a>
                                </li>
                                <li>
                                    <a title="ReportPlus Embedded SDK" href="/products/reportplus-embedded/sdk">
                                        ReportPlus Embedded SDK <span class="deemphasize">Tools to embed reports and dashboards in your apps</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/products/all" class="navigation__feature-link">
                                        All Products<span class="navigation__feature-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                <path d="M256 480h224v-224h-224v224zM544 256v224h224v-224h-224zM544 768h224v-224h-224v224zM256 768h224v-224h-224v224z"></path>
                                            </svg>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="navigation__sub-menu" title="UX" href="/products/indigo-studio">UX</a>
                            <ul>
                                <li>
                                    <a title="Indigo Studio" href="/products/indigo-studio">
                                        Indigo Studio <span class="deemphasize">Collaborative prototyping and remote usability testing for UX &amp; usability professionals</span>
                                    </a>
                                </li>
                                <li>
                                    <a title="UX Consulting" href="/consulting">
                                        UX Consulting <span class="deemphasize">Partner with our UX &amp; Development consultants to create useful, usable, high-performing applications</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="navigation__sub-menu" title="For Business Teams" href="/business-teams">Business Teams</a>
                            <ul>
                                <li class="navigation__mobile-link">
                                    <a title="For Business Teams" href="/business-teams">For Business Teams</a>
                                </li>
                                <li>
                                    <a title="SharePlus Enterprise" href="/products/shareplus-enterprise">
                                        SharePlus Enterprise <span class="deemphasize">Mobile workspaces with business processes, collaboration, and data visualization for teams</span>
                                    </a>
                                </li>
                                <li>
                                    <a title="ReportPlus" href="/enterprise-solutions/enterprise-mobility/reportplus">
                                        ReportPlus <span class="deemphasize">Exceptional analytics on any device</span>
                                    </a>
                                </li>
                                <li>
                                    <a title="ReportPlus Embedded" href="/products/reportplus-embedded">
                                        ReportPlus Embedded <span class="deemphasize">Deliver embedded reports and dashboards in your apps</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="navigation__sub-menu" title="Consulting" href="/consulting">Consulting</a>
                            <ul>
                                <li class="navigation__mobile-link">
                                    <a title="Consulting" href="/consulting">Consulting</a>
                                </li>
                                <li>
                                    <a title="Popular Services" href="/consulting#popular-services">Popular Services</a>
                                </li>
                                <li>
                                    <a title="Our Process" href="/consulting/process">Our Process</a>
                                </li>
                                <li>
                                    <a title="Our Work" href="/consulting/our-work">Our Work</a>
                                </li>
                                <li>
                                    <a title="Blog" href="/community/blogs/For-UX-Professionals/default.aspx">Blog</a>
                                </li>
                                <li>
                                    <a title="Contact Us" href="/consulting#contact">Contact Us</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="navigation__sub-menu" title="Learn and Support" href="/support">Learn &amp; Support</a>
                            <ul>
                                <li>
                                    <a title="Help and Support Documents" href="/support">Help &amp; Support Documents</a>
                                </li>
                                <li>
                                    <a title="Blogs" href="/community/blogs">Blogs</a>
                                </li>
                                <li>
                                    <a title="Forums" href="/community/forums">Forums</a>
                                </li>
                                <li>
                                    <a title="Product Ideas" href="/community/ideas">Product Ideas</a>
                                </li>
                                <li>
                                    <a title="Reference Applications" href="/resources/sample-applications">Reference Applications</a>
                                </li>
                                <li>
                                    <a title="Customer Stories" href="/resources/case-studies">Customer Stories</a>
                                </li>
                                <li>
                                    <a title="Webinars" href="/webinars">Webinars</a>
                                </li>
                                <li>
                                    <a title="eBooks and Whitepapers" href="/resources/whitepapers">eBook &amp; Whitepapers</a>
                                </li>
                                <li>
                                    <a title="Events" href="/events">Events</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a title="Free Trials" href="/free-downloads">Free Trials</a>
                        </li>
                        <li>
                            <a class="navigation__sub-menu" title="Purchase and Renew" href="/how-to-buy/product-pricing">Purchase &amp; Renew</a>
                            <ul>
                                <li>
                                    <a title="Pricing" href="/how-to-buy/product-pricing">Product Pricing / Buy Online</a>
                                </li>
                                <li>
                                    <a title="Renew Existing License" href="/how-to-buy/renewal">Renew Existing License</a>
                                </li>
                                <li>
                                    <a title="Contact Us" href="/about-us/contact-us">Contact Us</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="globalnav__overlay">&nbsp;</div>
            </div>
        </div>
        <!-- SECONDARY NAV -->

    </div>
</div>
