<header id="header" class="globalnav" data-nav-auto-init="true">
	<section id="header-wrap" class="globalnav__container" data-default-height="175" data-sticky-height="175">
		<!-- CSE Container -->
		<div class="globalnav__search">
			<div class="globalnav__search-container globalnav__wrapper">
				<form class="search search__container search--support" data-cse-resultsurl="/search">
					<input id="q" class="search__input" type="text" name="q" value="" placeholder="Infragistics.comを検索">
						<button type="submit" value="search">
							<svg enable-background="new 0 0 512 512" id="search" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M497.913,497.913c-18.782,18.782-49.225,18.782-68.008,0l-84.862-84.863c-34.889,22.382-76.13,35.717-120.659,35.717  C100.469,448.767,0,348.312,0,224.383S100.469,0,224.384,0c123.931,0,224.384,100.452,224.384,224.383  c0,44.514-13.352,85.771-35.718,120.676l84.863,84.863C516.695,448.704,516.695,479.131,497.913,497.913z M224.384,64.109  c-88.511,0-160.274,71.747-160.274,160.273c0,88.526,71.764,160.274,160.274,160.274c88.525,0,160.273-71.748,160.273-160.274  C384.657,135.856,312.909,64.109,224.384,64.109z"></path></svg>
						</button>
					</form>
			</div>
		</div>
		<section class="globalnav__primary clearfix">
			<div class="globalnav__wrapper">
				<!-- My Account -->
				<div class="globalnav__section clearfix">
					<nav class="globalnav__menu-container" style="margin-right: 40px;">
						<ul class="navigation navigation--xs navigation--hpad-0">
							<li class="navigation__text deemphasize" style="width: auto;">インフラジスティックス・ジャパン株式会社: 03 (6892) 8034</li>
							<li>
								<a title="お問い合わせ" data-id="12408" href="/about-us/contact-us">お問い合わせ先</a>
							</li>
							<li class="navigation__account">
								<a class="signInLink" href="https://jp.infragistics.com/login.aspx?ReturnUrl=%2fmy-account%2fkeys-and-downloads">アカウント</a>
							</li>
						</ul>
					</nav>
				</div>
				<!-- <br /><br /><br /> -->
				<!-- Brand -->
				<div class="globalnav__brand">
					<a href="/">
						<img class="globalnav__logo" src="/media/441501/horz_logo.png" alt="Infragistics">
							<img class="globalnav__logo_abbr" src="/media/441663/infragistics-logo-small-no-text.jpg" alt="Infragistics"> </a>
				</div>
				<!-- Mobile Menu Toggle -->
				<div class="globalnav__mobile-menu">
					<a class="globalnav__menu-toggle" href="#">
						<span>メニュー</span>
					</a>
				</div>
				<!-- Global Search Toggle -->
				<div class="globalnav__search-toggle">
					<div class="globalnav__search-close">
						<i> </i>
					</div>
				</div>
				<!-- Menu -->
				<nav class="globalnav__menu-container" style="margin-right: 40px;">
					<ul class="navigation navigation--navbar navigation--hpad-0 sf-menu">
						<li class="navigation__mobile-link">
							<a class="navigation__sub-menu" href="#">マイ アカウント</a>
							<ul class="sub-menu clearfix">
								<li>
									<a class="signInLink" href="https://jp.infragistics.com/login.aspx?ReturnUrl=%2fmy-account%2fkeys-and-downloads">ログイン</a>
								</li>
							</ul>
						</li>
						<li>
							<a class="navigation__sub-menu" title="開発ツール" data-id="12487" href="/products/ultimate">開発</a>
							<ul class="navigation_sub-menu-featured">
								<li class="navigation__mobile-link">
									<a title="Ultimate" data-id="12487" href="/products/ultimate">開発者向け製品</a>
								</li>
								<li>
									<a class="navigation__callout-link" title="Infragistics Ultimate" data-id="12487" href="/products/ultimate">
										<span class="navigation__callout-title">Infragistics Ultimate</span>
										<span class="deemphasize">Web、モバイル、デスクトップ アプリケーション開発をサポート</span>
									</a>
								</li>
								<li>
									<a title="Angular" data-id="23639" href="/products/ignite-ui-angular">
										Ignite UI for Angular&nbsp;<span class="deemphasize">Angular 対応コントロール</span>
									</a>
								</li>
								<li>
									<a title="jQuery/HTML 5" data-id="12446" href="/products/ignite-ui">
										Ignite UI for JavaScript&nbsp;<span class="deemphasize">Javascript/ HTML5、ASP.NET MVC 対応コントロール</span>
									</a>
								</li>
								<li>
									<a title="Xamarin" data-id="14348" href="/products/xamarin">
										Xamarin&nbsp;<span class="deemphasize">クロスプラットフォーム モバイル コントロール</span>
									</a>
								</li>
								<li>
									<a title="Windows Forms" data-id="12032" href="/products/windows-forms">
										Windows Forms <span class="deemphasize">デスクトップ コントロール</span>
									</a>
								</li>
								<li>
									<a title="WPF" data-id="12152" href="/products/wpf">
										WPF <span class="deemphasize">デスクトップ コントロール</span>
									</a>
								</li>
								<li>
									<a title="ASPNET" data-id="12095" href="/products/aspnet">
										ASP.NET <span class="deemphasize">ASP.NET Webフォーム コントロール&nbsp;</span>
									</a>
								</li>
								<li>
									<a title="NucliOS" data-id="12414" href="/products/ios">
										iOS <span class="deemphasize">iOS 対応モバイル コントロール</span>
									</a>
								</li>
								<li>
									<a title="Android UI" data-id="12455" href="/products/android">
										Android <span class="deemphasize">Android 対応モバイル コントロール</span>
									</a>
								</li>
								<li>
									<a title="全ての製品" data-id="20939" href="/products/all">全ての開発ツール製品</a>
								</li>
								<!--<li><a href="https://www.infragistics.com/products/universal-windows-platform" title="Universal Windows Platform">UWP <span class="deemphasize">モバイル コントロール</span></a></li>-->
							</ul>
						</li>
						<li>
							<a title="UX プロトタイピング" data-id="12465" href="/products/indigo-studio">UX</a>
							<ul>
								<li>
									<a title="Indigo Studio" data-id="12465" href="/products/indigo-studio">
										Indigo Studio <span class="deemphasize">プロトタイプの迅速な構築、コラボレーションの実現、ユーザビリティ テストの実施を可能にする UX デザイン ツール</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a class="navigation__sub-menu" title="ビジネス ユーザー向け" href="#">ビジネス ユーザー</a>
							<ul>
								<li class="navigation__mobile-link">
									<a title="ビジネス ユーザー向け製品" href="#">ビジネス ユーザー向け製品</a>
								</li>
								<li>
									<a title="SharePlus" data-id="14505" href="/enterprise-solutions/enterprise-mobility/shareplus">
										SharePlus <span class="deemphasize">SharePoint 対応モバイル ワークスペース、ワークフロー、データ可視化ソリューション</span>
									</a>
								</li>
								<li>
									<a title="ReportPlus" data-id="18305" href="/enterprise-solutions/enterprise-mobility/reportplus">
										ReportPlus <span class="deemphasize">データ可視化ソリューション</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a title="コンサルティング サービス" data-id="12491" href="/consulting">サービス</a>
						</li>
						<li>
							<a class="navigation__sub-menu" title="ヘルプおよびリソース" data-id="12501" href="/support/product-help-downloads">ヘルプとリソース</a>
							<ul class="navigation_sub-menu-featured">
								<li>
									<a title="製品のヘルプ &amp; ダウンロード" data-id="12501" href="/support/product-help-downloads">製品ヘルプ &amp; ダウンロード</a>
								</li>
								<li>
									<a title="Events" data-id="12865" href="/events">セミナー情報</a>
								</li>
								<li>
									<a title="サンプル アプリケーション" data-id="12562" href="/resources/sample-applications">サンプル アプリケーション</a>
								</li>
								<li>
									<a title="お客様導入事例" data-id="23364" href="/resources/case-studies">お客様導入事例</a>
								</li>
								<li>
									<a title="ブログ" href="http://blogs.jp.infragistics.com/blogs/">Blog</a>
								</li>
							</ul>
						</li>
						<li>
							<a title="無料ダウンロード" data-id="21367" href="/free-downloads">無料トライアル</a>
						</li>
						<li>
							<a class="navigation__sub-menu" title="購入" data-id="12495" href="/how-to-buy">購入</a>
							<ul>
								<li>
									<a title="製品のご購入方法" data-id="20940" href="/how-to-buy">製品のご購入方法</a>
								</li>
								<li>
									<a title="製品価格" data-id="20940" href="/how-to-buy/product-pricing">製品価格</a>
								</li>
								<li>
									<a title="サポート環境" data-id="12531" href="/support/supported-environments">サポート環境</a>
								</li>
								<li>
									<a title="サポート ポリシー" data-id="12547" href="/support/support-policies">サポートポリシー</a>
								</li>
								<li>
									<a title="サブスクリプションの更新について" data-id="20966" href="/how-to-buy/renewal">サブスクリプション更新</a>
								</li>
								<li>
									<a title="販売パートナー" data-id="12387" href="/about-us/resellers">販売パートナー</a>
								</li>
								<li>
									<a title="利用条件" data-id="12601" href="/legal/terms-of-use">法的情報</a>
								</li>
								<li>
									<a title="FAQ" data-id="13374" href="/support/faq">FAQ</a>
								</li>
								<li>
									<a title="お問合せ" data-id="12408" href="/about-us/contact-us">お問い合わせ</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
				<div class="globalnav__overlay">&nbsp;</div>
			</div>
		</section>
		<!-- SECONDARY NAV -->

		<div class="ui-announcement text--align-center" style="background: #731963; color: #fff; padding: 10px; font-size: 16px; display: none; font-weight: Bold; position: relative; z-index: -1;">
			<div class="be-row be-wrap">
				<a title="Indigo.Design" style="color: #fff; font-weight: Bold; text-decoration: underline;" data-id="24095" href="/products/indigo-design">3ステップで画面デザインに忠実なアプリケーションを構築できるIndigo.Design登場!</a>
			</div>
		</div>
	</section>
</header>