:host {
	fieldset {
		border: 1px solid var(--ig-gray-200);
		border-radius: .5rem;
		padding: var(--content-spacing);
	}
	
	form {
		display: grid;
		gap: var(--demos-gap);
	}
	
	.demo-form-group {
		display: flex;
		align-items: center;
		gap: .5rem;
	}
	
	.demo-form-group--column {
		flex-direction: column;
		align-items: start;
	}
	
	.demo-color-input {
		border: 2px solid var(--ig-gray-100);
		width: 1.5rem;
		height: 1.5rem;
		overflow: hidden;
		position: relative;
	}
	
	input[type="color"] {
		-webkit-appearance: none;
		border: none;
		inset: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		background: transparent;
	}
	
	input[type="color"]::-webkit-color-swatch-wrapper {
		padding: 0;
	}
	input[type="color"]::-webkit-color-swatch {
		border: none;
	}
}
