%f-column {
    display: flex;
    flex-direction: column;
}

.form-container {
    @extend %f-column;

    gap: 24px;

    form {
        @extend %f-column;

        justify-content: center;
        gap: 24px;
    }

    span {
        font-size: 24px;
    }

    section {
        display: flex;
        gap: 6px;
    }

    form > div {
        @extend %f-column;

        align-items: flex-start;
        justify-content: center;
        gap: 8px;

        div {
            display: flex;
            gap: 6px;
        }
    }

    input {
        margin: 0;
    }
}
