@use 'igniteui-theming/sass/bem/index' as *;
@use 'igniteui-theming/sass/color/functions' as *;
@use 'styles/themes/standalone' as *;

@include themed-block(igx-filter-tree, fluent, dark) {
    @include e(button, $m: 'and') {
        &[igxButton='flat'] {
            --background: transparent;
            --focus-hover-background: #{color($color: 'gray', $variant: 200)};
            --focus-visible-background: transparent;
            --focus-background: transparent;
            --active-background: #{color($color: 'gray', $variant: 200)};
            --hover-background: #{color($color: 'gray', $variant: 200)};
        }
    }

    @include e(button, $m: 'or') {
        &[igxButton='flat'] {
            --background: transparent;
            --focus-hover-background: #{color($color: 'gray', $variant: 200)};
            --focus-visible-background: transparent;
            --focus-background: transparent;
            --active-background: #{color($color: 'gray', $variant: 200)};
            --hover-background: #{color($color: 'gray', $variant: 200)};

        }
    }

    @include e(expression-item-drop-ghost) {
        .igx-chip__item {
            color: color($color: 'gray', $variant: 900);
            border-color: color($color: 'gray', $variant: 300);
        }
    }
}
