@use 'igniteui-theming/sass/bem/index' as *;
@use 'igniteui-theming/sass/color/functions' as *;
@use 'styles/themes/standalone' as *;

@include themed-block(igx-filter-tree, material, dark) {
    @include e(expression-item-drop-ghost) {
        .igx-chip__item {
            color: color($color: 'gray', $variant: 900);
            border-color: color($color: 'gray', $variant: 300);
        }
    }
}
