<div class="igx-range"
     #range
     (panstart)="onPanStart($event)"
     (panend)="onPanEnd($event)"
     (pan)="update($event)"
     (tap)="update($event)">
    <div class="igx-range__track">
        <div #track class="igx-range__track-fill"></div>
        <div #ticks class="igx-range__track-ticks"></div>
    </div>
    <div class="igx-range__thumbs">
        <div (keydown)="onKeyDown($event)" (keyup)="hideThumbLabels()" (blur)="hideThumbLabels()"
             (focus)="onFocus($event)"
             *ngIf="isMulti" class="igx-range__thumb-from"
             tabindex="1"
             [ngClass]="{ 'igx-range__thumb-from--active': isActiveLabel }" #thumbFrom>
            <span class="label">{{ value.lower }}</span>
            <span class="dot"></span>
        </div>
        <div (keydown)="onKeyDown($event)" (keyup)="hideThumbLabels()" (blur)="hideThumbLabels()"
             (focus)="onFocus($event)" class="igx-range__thumb-to"
             tabindex="1"
             [ngClass]="{ 'igx-range__thumb-to--active': isActiveLabel }" #thumbTo>
            <span *ngIf="isMulti" class="label">{{ value.upper }}</span>
            <span *ngIf="!isMulti" class="label">{{ value }}</span>
            <span class="dot"></span>
        </div>
    </div>
</div>
