.wrapper {
    margin: 24px;
    display: flex;
    flex-direction: column;
}

.wrapper .buttons {
    display: flex;
    flex-direction: row;
}

.separator {
    padding-top: 5px;
    padding-bottom: 15px;
}

.categoryStyle {
    font-weight: 600;
}

[igxButton] {
    margin-right: 8px;
    margin-bottom: 8px;
}
