.wrapper {
    margin: 24px;
}
.separator {
    padding-top: 5px;
    padding-bottom: 15px;
}

.categoryStyle{
    font-weight: 600;
}

[igxButton] {
    margin-right: 8px;
    margin-bottom: 1.5rem;
    height: 2rem;
}
