$component-name: 'igx-button';

$components: register-component($components, #{$component-name});

@function igx-button-theme(
    $button-text-color: null,

    $button-flat-text-color: null,
    $button-flat-hover-background: null,
    $button-flat-focus-background: null,

    $button-raised-text-color: null,
    $button-raised-background: null,
    $button-raised-hover-background: null,
    $button-raised-focus-background: null,

    $button-fab-text-color: null,
    $button-fab-focus-background: null,
    $button-fab-background: null,

    $button-icon-hover-background: null,
    $button-icon-focus-background: null,

    $button-disabled-text-color: null,
    $button-disabled-background: null
    )
{
    @return (
        button-text-color: $button-text-color,

        // Flat Button
        button-flat-text-color: $button-flat-text-color,
        button-flat-hover-background: $button-flat-hover-background,
        button-flat-focus-background: $button-flat-focus-background,

        // Raised Button
        button-raised-text-color: $button-raised-text-color,
        button-raised-background: $button-raised-background,
        button-raised-hover-background: $button-raised-hover-background,
        button-raised-focus-background: $button-raised-focus-background,

        // Fab Button ( Floating action button )
        button-fab-text-color: $button-fab-text-color,
        button-fab-background: $button-fab-background,
        button-fab-focus-background: $button-fab-focus-background,

        // Icon Button
        button-icon-hover-background:$button-icon-hover-background,
        button-icon-focus-background:$button-icon-focus-background,

        // Icon Button
        button-disabled-text-color:$button-disabled-text-color,
        button-disabled-background:$button-disabled-background,
    );
}

@mixin igx-button($theme, $palette: $default-palette) {
    $default-theme: igx-button-theme(
        $button-text-color: igx-color($palette, grays, 800),

        // Flat button
        $button-flat-text-color: igx-color($palette, accent, 500),
        $button-flat-hover-background: igx-color($palette, grays, 100),
        $button-flat-focus-background: igx-color($palette, grays, 400),

        // Raised Button
        $button-raised-text-color: igx-contrast-color($palette, accent, 500),
        $button-raised-background: igx-color($palette, accent, 500),
        $button-raised-hover-background: igx-color($palette, accent, 700),
        $button-raised-focus-background: igx-color($palette, accent, 700),

        // Fab button ( Floating action button )
        $button-fab-text-color: igx-contrast-color($palette, accent, 500),
        $button-fab-background: igx-color($palette, accent, 500),
        $button-fab-focus-background: igx-color($palette, accent, 500),

        // Icon Button
        $button-icon-hover-background: igx-color($palette, grays, 100),
        $button-icon-focus-background: igx-color($palette, grays, 400),

        // Icon Button
        $button-disabled-text-color: igx-color($palette, grays, 400),
        $button-disabled-background: igx-color($palette, grays, 100)
    );

    // TODO remove all commented variables in this list, after the component is done.
    // 3. Buttons //
    // Shared Styles
    $button-border: none !default;
    $button-radius: 2px !default;
    $button-font-size: em(16px, 16px) !default;
    $button-font-weight: normal !default;
    $button-width: em(88px) !default;
    $button-height: em(40px) !default;
    $button-padding: em(8px) em(16px) !default;
    $button-transition: all .25s ease-out !default;
    $button-round-radius: 50% !default;

    // Disabled Styles
    $button-disabled-shadow: none !default;

    // Raised Buttons
    $button-raised-shadow: $elevate-2 !default;
    $button-raised-focus-shadow: $elevate-8 !default;

    // Gradient Buttons
    $button-gradient-color-1: igx-color($palette, 'accent') !default;
    $button-gradient-color-2: igx-color($palette, 'accent') !default;
    $button-gradient-background: linear-gradient(to bottom right, $button-gradient-color-2, $button-gradient-color-1) !default;
    $button-focus-gradient: linear-gradient(to bottom right, gen-color($button-gradient-color-1, 700), gen-color($button-gradient-color-2, 700)) !default;
    $button-gradient-color: $white !default;
    $button-gradient-shadow: 0 4px 10px -2px darken(transparentize($button-gradient-color-2, .2), 20%) !default;
    $button-gradient-focus-shadow: 0 6px 12px -1px darken(transparentize($button-gradient-color-2, .25), 25%) !default;

    /*$button-flat-hover-background: $off-white !default;*/

    $button-flat-focus-background: $lightgray !default;

    // Floating Buttons
    $button-floating-width: em(56px) !default;
    $button-floating-height: $button-floating-width;
    $button-floating-shadow: $elevate-6 !default;
    $button-floating-hover-shadow: $elevate-12 !default;

    // Icon Buttons
    $button-icon-width: em(36px, 16px) !default;
    $button-icon-height: $button-icon-width !default;
    $button-icon-font-size: em(24px, 24px) !default;

    // Navbar Buttons
    $button-navbar-width: em(24px, 16px) !default;
    $button-navbar-height: $button-navbar-width !default;
    $button-navbar-padding: 0 !default;


    $this: extend($default-theme, $theme);
    
    @debug $this;

    %igx-button-display {
        display: inline-block;
        position: relative;
        min-width: $button-width;
        padding: $button-padding;
        font-family: 'Titillium Web', sans-serif;
        font-size: $button-font-size;
        font-weight: $button-font-weight;
        text-align: center;
        color: map-get($this, button-text-color);
        border: $button-border;
        border-radius: $button-radius;
        text-transform: uppercase;
        cursor: pointer;
        user-select: none;
        outline: none;
        -webkit-tap-highlight-color: transparent;
        overflow: hidden;
        transition: $button-transition;
    }

    %igx-button--flat {
        background: transparent;
        color: map-get($this, button-flat-text-color);

        &:hover {
            background: map-get($this, button-flat-hover-background);
        }

        &:focus,
        &:active {
            background: map-get($this, button-flat-focus-background);
        }
    }

    %igx-button--raised {
        color: map-get($this, button-raised-text-color);

        background: map-get($this, button-raised-background);
        box-shadow: $button-raised-shadow;

        &:hover {
            background: map-get($this, button-raised-hover-background);
            box-shadow: $button-raised-shadow;
        }

        &:focus,
        &:active {
            background: map-get($this, button-raised-focus-background);
            box-shadow: $button-raised-focus-shadow;
        }
    }

    // TODO WE NEED TO REMOVE GRADIENT BUTTON
    %igx-button--gradient {
        color: $button-gradient-color;
        background: $button-gradient-background;
        box-shadow: $button-gradient-shadow;

        &:hover {
            background: $button-focus-gradient;
            box-shadow: $button-gradient-shadow;
        }

        &:focus,
        &:active {
            background: $button-focus-gradient;
            box-shadow: $button-gradient-focus-shadow;
        }
    }

    %igx-button--round {
        $block: bem--selector-to-string(&);
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: $button-border;
        border-radius: $button-round-radius;
        outline: none;
        cursor: pointer;
        transition: $button-transition;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        // hack to allow circular overflow in chrome ...
        filter: drop-shadow(0 0 0 $white);

        // reset for safari's inability to handle flex in buttons
        @at-root {
            button#{$block} {
                display: initial;

                * {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }

    %igx-button--fab {
        width: $button-floating-width;
        height: $button-floating-height;
        color: map-get($this, button-fab-text-color);
        background: map-get($this, button-fab-background);
        box-shadow: $button-floating-shadow;

        &:hover {
            box-shadow: $button-floating-hover-shadow;
        }

        &:focus,
        &:active {
            background: map-get($this, button-fab-focus-background);
        }
    }

    %igx-button--icon {
        width: $button-icon-width;
        height: $button-icon-width;
        font-size: $button-icon-font-size;
        background: transparent;

        &:hover {
            transition: $button-transition;
            background: map-get($this, button-icon-hover-background);

        }

        &:focus,
        &:active {
            background: map-get($this, button-icon-focus-background);
        }
    }

    %igx-button--navbar {
        display: block !important;
        width: $button-navbar-width;
        height: $button-navbar-height;
        font-size: $button-icon-font-size;
        color: inherit;
        padding: $button-navbar-padding;
    }

    %igx-button--disabled {


        color: map-get($this, button-disabled-text-color) !important;
        background: map-get($this, button-disabled-background) !important;
        pointer-events: none !important;
        box-shadow: $button-disabled-shadow !important;
        opacity: .8 !important;
    }
}
