:host {
    display: flex;

    > article {
        display: grid;
        place-items: center;
        flex-grow: 1;

        > * {
            grid-row: 1;
            grid-column: 1;
        }
    }
}


.custom-controls {
   igx-switch {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        label {
            margin: 0;
        }
   }
}
