.sample-holder {
    padding: 30px;
    border: 1px dotted #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.wrapperAreaTo {
    border-bottom: 1px solid black;
    min-height: 45px;
    width: 600px;
}

.wrapperAreaCc {
    border-bottom: 1px solid black;
    min-height: 45px;
    width: 600px;
}

.dropAreaTo {
    visibility: hidden;
}

.dropAreaCc {

    visibility: hidden;
}

.dropAreaCc.dragOver {
    background-color: rgba(31, 201, 96, 0.71);
}

.dropAreaTo.dragOver {
    background-color: rgba(31, 201, 96, 0.71);
}