:host {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: var(--demos-gap);

    .framework-tittle {
        grid-column: 1;
        grid-row: 1;
    }

    .framework-tittle--wc {
        grid-column: 2;
    }
}

igx-chip[outlined] {
    grid-column: 1;
}

igc-chip:not([outlined]) {
    grid-area: 2 / 2;
}

igc-chip[outlined] {
    grid-area: 3 / 2;
}