@use '../../../projects/igniteui-angular/src/lib/core/styles/themes/utilities' as *;
@use '../../../projects/igniteui-angular/src/lib/core/styles/components/chip/chip-component' as *;
@use '../../../projects/igniteui-angular/src/lib/core/styles/components/chip/chip-theme' as *;

igx-chip {
    margin: rem(4px);
}

.chip-avatar {
    width: rem(24px);
    height: rem(24px);
    min-width: rem(24px);
}

.chip-storyboard {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    igx-chip {
        margin: rem(4px);
    }
}

.chip-area-connector {
    color: currentColor;
    opacity: .54;
}

.chip-area-avatar {
    width: 24px;
    height: 24px;
    min-width: 24px;
}

.wrapperAreaCc,
.wrapperAreaTo {
    display: flex;
    align-items: center;
    max-width: 640px;
    border-bottom: 1px solid color($default-palette, 'grays', 400);
    min-height: 48px;
    flex-wrap: wrap;
}

.dropAreaCc,
.dropAreaTo {
    padding: 0 1rem;
    margin: .25rem;
    border-radius: 1rem;
    visibility: hidden;

    &.dragOver {
        color: color($default-palette, 'grays', 700);
        background-color: color($default-palette, 'grays', 200);
    }
}
