<div class="sample-wrapper">
    <app-page-header title="Chips" description="Hello chips"></app-page-header>
    <section class="sample-content">
        <div class="sample-holder">
            <igx-chips-area #chipsArea (onReorder)="chipsOrderChanged($event)" (onMoveEnd)="chipMovingEnded()" (onSelection)="onChipsSelected($event)">
                <igx-chip *ngFor="let chip of chipList" [id]="chip.id" [draggable]="true" [removable]="true" [selectable]="true" (onRemove)="chipRemoved($event)" >
                    <span #label [class]="'igx-chip__text'">{{chip.text}}</span>
                    <igx-icon class="igx-chip__dir-icon" igxConnector fontSet="material">forward</igx-icon>
                </igx-chip>
            </igx-chips-area>
            <br>
            <button igxButton="flat" (click)="selectChip('City')">Select 'City'</button>
        </div>
    </section>

    <section class="sample-content">
        <div class="sample-holder">

            <div class="wrapperAreaTo">
                <igx-chips-area #chipsAreaTo class="chipAreaTo" (onReorder)="chipsOrderChangedTo($event)">
                    <span>To:</span>
                    <igx-chip *ngFor="let chip of chipListTo" [id]="chip.id" [draggable]="true" (onMoveStart)="onMoveStartTo()" (onMoveEnd)="moveEndedTo()">
                        <span #label [class]="'igx-chip__text'">{{chip.text}}</span>
                    </igx-chip>
                    <div class="dropAreaTo" igxDrop #dropTo (onDrop)="onDropTo($event)" (igxDragEnter)="onDragEnterCc()" (igxDragLeave)="onDragLeaveCc()"></div>
                </igx-chips-area>
            </div>

            <div class="wrapperAreaCc">
                <igx-chips-area #chipsAreaCc class="chipAreaCc" (onReorder)="chipsOrderChangedCc($event)">
                    <span>Cc:</span>
                    <igx-chip *ngFor="let chip of chipListCc" [id]="chip.id" [draggable]="true" (onMoveStart)="onMoveStartCc()" (onMoveEnd)="moveEndedCc()">
                        <span #label [class]="'igx-chip__text'">{{chip.text}}</span>
                    </igx-chip>
                    <div igxDrop #dropCc (onDrop)="onDropCc($event)" (igxDragEnter)="onDragEnterCc()" (igxDragLeave)="onDragLeaveCc()"
                        class="dropAreaCc"></div>
                </igx-chips-area>
            </div>

        </div>
    </section>
</div>