.sample-holder {
    padding: 30px;
    border: 1px dotted #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.wrapperAreaTo {
    border-bottom: 1px solid black;
    min-height: 45px;
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.wrapperAreaCc {
    border-bottom: 1px solid black;
    min-height: 45px;
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.dropAreaTo {
    padding: 0 1rem;
    margin: .25rem;
    border-radius: 1rem;
    visibility: hidden;
}

.dropAreaCc {
    padding: 0 1rem;
    margin: .25rem;
    border-radius: 1rem;
    visibility: hidden;
}

.dropAreaCc.dragOver {
    color: white;
    background-color: #f66604;
}

.dropAreaTo.dragOver {
    color: white;
    background-color: #f66604;
}

:host ::ng-deep .igx-chip__item {
    margin: 4px;
}
