@use 'igniteui-theming/sass/themes/index' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/calendar/picker' as *;

$material: digest-schema($dark-material-picker);
$bootstrap: digest-schema($dark-bootstrap-picker);
$fluent: digest-schema($dark-fluent-picker);
$indigo: digest-schema($dark-indigo-picker);
