:host {
	display: flex;
	flex-grow: 1;
	gap: var(--demos-gap);
	
	.demo-esf__sample {
		padding: var(--content-spacing);
		border: 1px dashed var(--ig-gray-300);
	}
	
	.demo-esf__sample-select {}
	
	.demo-esf__grid-sample {
		display: flex;
		flex-direction: column;
		gap: var(--demos-gap);
		padding: var(--content-spacing);
		border: 1px dashed var(--ig-gray-300);
		flex: 1;
	}
	
	.demo-esf__grid-sample-actions {
		display: flex;
		flex-wrap: wrap;
		gap: var(--demos-gap);
		
		igx-buttongroup {
			min-width: 230px;
		}
	}
}
