<div class="sample-content">
    <div igxFlex igxLayout igxLayoutDir="column">
        <div class="density-chooser">
            <igx-buttongroup [values]="displayDensities" (selected)="selectDensity($event)"></igx-buttongroup>
        </div>

        <div igxFlex igxLayout>
            <div igxFlex igxLayout igxLayoutDir="column">
                <igx-select #columnSelect value="ID">
                    <label igxLabel>Column</label>
                    <igx-select-item *ngFor="let column of columns" [value]="column.field">
                        {{column.field}}
                    </igx-select-item>
                </igx-select>
                <igx-grid-excel-style-filtering style="height: 800px;"
                    [column]="grid1.getColumnByName(columnSelect.value)">
                </igx-grid-excel-style-filtering>
            </div>
            <div class="efs-grid">
                <igx-grid
                    #grid1
                    [data]="data"
                    [displayDensity]="density"
                    [allowFiltering]="false"
                    [filterMode]="'excelStyleFilter'"
                    [allowAdvancedFiltering]="false"
                    [rowSelection]="selectionMode"
                    [paging]="false"
                    [width]="'100%'"
                    [height]="'450px'">
                    <igx-grid-toolbar [displayDensity]="grid1.displayDensity">
                        <igx-grid-toolbar-actions>
                            <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
                            <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
                            <igx-grid-toolbar-exporter [exportCSV]="true" [exportExcel]="true">
                                <span excelText>Export to Excel 👌</span>
                                <span csvText>Export to CSV 👍</span>
                            </igx-grid-toolbar-exporter>
                        </igx-grid-toolbar-actions>
                    </igx-grid-toolbar>
                    <igx-column *ngFor="let c of columns"
                        [field]="c.field"
                        [header]="c.field"
                        [movable]="c.movable"
                        [groupable]="true"
                        [resizable]="c.resizable"
                        [width]="c.width"
                        [sortable]="true"
                        [filterable]="true"
                        [editable]="true"
                        [hidden]="c.hidden"
                        [minWidth]="c.minWidth"
                        [maxWidth]="c.maxWidth"
                        [dataType]="c.type">
                    </igx-column>
                </igx-grid>

                <igx-advanced-filtering-dialog
                    style="height: 400px;"
                    [grid]="grid1">
                </igx-advanced-filtering-dialog>
            </div>
        </div>

        <div class="sample-buttons">
            <igx-checkbox [checked]="grid1.allowFiltering" (change)="onAllowFilteringChanged($event)">Allow Filtering</igx-checkbox>
            <igx-buttongroup [multiSelection]="false" [values]="filterModes" (selected)="selectFilterMode($event)"></igx-buttongroup>
        </div>
        <div class="sample-buttons">
            <igx-checkbox [(ngModel)]="grid1.allowAdvancedFiltering">Allow Advanced Filtering</igx-checkbox>
            <button igxButton="raised" (click)="openAdvancedFiltering()">Open Advanced Filtering</button>
            <button igxButton="raised" (click)="closeAdvancedFiltering()">Close Advanced Filtering</button>
            <igx-checkbox #applyChangesCheckbox checked="true">Apply Changes</igx-checkbox>
            <button igxButton="raised" (click)="clearAdvancedFiltering()">Clear Advanced Filtering</button>
        </div>
    </div>
</div>
