.sample-content {
    flex-flow: column nowrap;
}

.ripple-sample {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    color: rgba(255, 255, 255, 90);
    font-size: 1.5em;
    padding: 16px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    transition: all .35s cubic-bezier(0.0, 0.0, 0.2, 1);
    cursor: pointer;
    user-select: none;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.ripple-sample.dark {
    color: rgba(255, 255, 255, 90);
    background: #0b3c49;
}

.ripple-sample.light {
    color: rgba(0, 0, 0, 90);
    background: #fbb13c;
}
