////
/// @group themes
/// @access public
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
/// @author <a href="https://github.com/desig9stein" target="_blank">Marin Popov</a>
////

/// @param {Map} $palette [$default-palette] - The palette used as basis for styling the component.
/// @param {Color} $background [null] - The list background color.
/// @param {Color} $header-background [null] - The list header background color.
/// @param {Color} $header-text-color [null] - The list header text color.
/// @param {Color} $item-background [null] - The list item background color.
/// @param {Color} $item-text-color [null] - The list item text color.
/// @param {Color} $item-background-active [null] - The active list item background color.
/// @param {Color} $item-text-color-active [null] - The active list item text color.
/// @requires text-contrast
///
/// @example scss Change the list background color
///   $my-list-theme: igx-list-theme($background: black);
///   // Pass the theme to the igx-list component mixin
///   @include igx-avatar($my-list-theme);
@function igx-list-theme(
    $palette: $default-palette,
    $background: null,
    $header-background: null,
    $header-text-color: null,
    $item-background: null,
    $item-text-color: null,
    $item-background-active: null,
    $item-text-color-active: null
) {
    $default-theme: (
        name: 'igx-list',
        background: #fff,
        header-text-color: igx-color($palette, 'secondary'),
        item-text-color: igx-color($palette, 'grays', 800),
        item-background-active: igx-color($palette, 'grays', 100),
        item-text-color-active: igx-color($palette, 'grays', 800)
    );

    @if not($header-background) and $background {
        $header-background: $background;
    }

    @if not($item-background) and $background {
        $item-background: $background;
    }

    @if not($item-background-active) and $background {
        @if lightness($background) > 50 {
            $item-background-active: rgba(text-contrast($background), .04);
        } @else {
            $item-background-active: rgba(text-contrast($background), .12);
        }
    }

    @if not($header-text-color) and $header-background {
        $header-text-color: text-contrast($header-background);
    }

    @if not($item-text-color) and $item-background {
        $item-text-color: text-contrast($item-background);
    }

    @if not($item-text-color-active) and $item-text-color {
        $item-text-color-active: $item-text-color;
    }

    @return extend($default-theme, (
        palette: $palette,
        background: $background,
        header-background: $header-background,
        header-text-color: $header-text-color,
        item-background: $item-background,
        item-text-color: $item-text-color,
        item-background-active: $item-background-active,
        item-text-color-active: $item-text-color-active
    ));
}

/// @param {Map} $theme - The theme used to style the component.
/// @requires igx-color
/// @requires em
@mixin igx-list($theme) {
    @include igx-root-css-vars($theme);

    // @debug $theme;

    $list-header-font-size: em(13px);
    $list-header-font-weight: normal;
    $list-header-height: em(48px);
    $list-header-line-height: em(48px);
    $list-item-height: em(48px);
    $list-item-font-size: em(16px);
    $list-item-padding: em(8px) em(16px);
    $list-empty-padding: em(16px, 16px);

    %igx-list {
        display: flex;
        flex-flow: column nowrap;
        background-color: var($theme, 'background');
        height: 100%;
        overflow: hidden;
    }

    %igx-list-empty {
        justify-content: center;
        align-items: center;
    }

    %igx-list-empty-image {
        width: auto;
        max-height: 120px;
    }

    %igx-list-empty-message {
        text-align: center;
        color: var($theme, 'item-text-color');
        padding: $list-empty-padding;
        z-index: 1;
    }

    %igx-list-header {
        display: flex;
        align-items: center;
        color: var($theme, 'header-text-color');
        background-color: var($theme, 'header-background');
        font-size: $list-header-font-size;
        font-weight: $list-header-font-weight;
        height: $list-header-height;
        line-height: $list-header-line-height;
        padding: $list-item-padding;
        user-select: none;
    }

    %igx-list-item {
        display: flex;
        position: relative;
        flex-flow: column wrap;
        justify-content: center;
        padding: $list-item-padding;
        min-height: $list-item-height;
        font-size: $list-item-font-size;
        color: var($theme, 'item-text-color');
        background-color: var($theme, 'item-background');
        z-index: 2;
    }

    %igx-list-item--active {
        color: var($theme, 'item-text-color-active');
        background-color: var($theme, 'item-background-active');
        z-index: 3;
    }

    %igx-list-item--inactive {
        transition: left .3s $ease-out-quad;
    }
}

