$component-name: 'igx-list';

$components: register-component($components, #{$component-name});

@function igx-list-theme(
    $background: null,
    $header-background: null,
    $header-text-color: null,
    $item-background: null,
    $item-text-color: null,
    $item-background-active: null,
    $item-text-color-active: null
) {
    @if not($header-background) and $background {
        $header-background: $background;
    }

    @if not($item-background) and $background {
        $item-background: $background;
    }

    @if not($item-background-active) and $background {
        @if lightness($background) > 50 {
            $item-background-active: rgba(text-contrast($background), .04);
        } @else {
            $item-background-active: rgba(text-contrast($background), .12);
        }
    }

    @if not($header-text-color) and $header-background {
        $header-text-color: text-contrast($header-background);
    }

    @if not($item-text-color) and $item-background {
        $item-text-color: text-contrast($item-background);
    }

    @if not($item-text-color-active) and $item-text-color {
        $item-text-color-active: $item-text-color;
    }

    @return (
        background: $background,
        header-background: $header-background,
        header-text-color: $header-text-color,
        item-background: $item-background,
        item-text-color: $item-text-color,
        item-background-active: $item-background-active,
        item-text-color-active: $item-text-color-active
    );
}

@mixin igx-list($theme, $palette: $default-palette) {
    $default-theme: igx-list-theme(
        $background: $white,
        $header-text-color: igx-color($palette, 'accent'),
        $item-text-color: igx-color($palette, 'grays', 800),
        $item-background-active: igx-color($palette, 'grays', 100),
        $item-text-color-active: igx-color($palette, 'grays', 800)
    );

    $this: extend($default-theme, $theme);

    // @debug $this;

    $list-margin: 8px 16px !default;
    $list-header-font-size: em(13px) !default;
    $list-header-font-weight: normal !default;
    $list-header-height: em(48px) !default;
    $list-header-line-height: em(48px) !default;
    $list-item-height: em(48px) !default;
    $list-item-line-height: em(48px) !default;
    $list-item-font-size: em(16px) !default;
    $list-item-padding: em(8px) em(16px) !default;
    $list-item-active-shadow: igx-elevation($elevations, 2);
    $list-item-tl-sl-font-size: em(14px) !default;
    $list-item-tl-height: em(72px) !default;
    $list-empty-padding: em(16px, 16px);

    %igx-list {
        display: flex;
        flex-flow: column nowrap;
        background-color: map-get($this, 'background');
        height: 100%;
        overflow: hidden;
    }

    %igx-list-empty {
        justify-content: center;
        align-items: center;
    }

    %igx-list-empty-image {
        width: auto;
        max-height: 120px;
    }

    %igx-list-empty-message {
        text-align: center;
        color: map-get($this, 'item-text-color');
        padding: $list-empty-padding;
        z-index: 1;
    }

    %igx-list-item-display {
        display: block;
        position: relative;
        list-style-type: none;
        user-select: none;
    }

    %igx-list-header {
        display: flex;
        align-items: center;
        color: map-get($this, 'header-text-color');
        background-color: map-get($this, 'header-background');
        font-size: $list-header-font-size;
        font-weight: $list-header-font-weight;
        height: $list-header-height;
        line-height: $list-header-line-height;
        padding: $list-item-padding;
        user-select: none;
    }

    %igx-list-item {
        display: flex;
        position: relative;
        flex-flow: column wrap;
        justify-content: center;
        padding: $list-item-padding;
        min-height: $list-item-height;
        font-size: $list-item-font-size;
        color: map-get($this, 'item-text-color');
        background-color: map-get($this, 'item-background');
        z-index: 2;
    }

    %igx-list-item--active {
        color: map-get($this, 'item-text-color-active');
        background-color: map-get($this, 'item-background-active');
        z-index: 3;
    }

    %igx-list-item--inactive {
        transition: left .3s $ease-out-quad;
    }
}

