<div
    tabindex="0"
    #dialog
    class="igx-dialog"
    igxToggle
    [igxFocusTrap]="focusTrap"
    (click)="onDialogSelected($event)"
>
    <div
        #dialogWindow
        class="igx-dialog__window"
        [attr.role]="role"
        [attr.aria-labelledby]="titleId"
    >
        @if (title) {
            <div [attr.id]="titleId" class="igx-dialog__window-title">
                {{ title }}
            </div>
        }
        @if (!title) {
            <ng-content select="igx-dialog-title,[igxDialogTitle]"></ng-content>
        }

        <div class="igx-dialog__window-content">
            @if (message) {
                <span class="igx-dialog__window-message">
                    {{ message }}
                </span>
            }
            @if (!message) {
                <ng-content></ng-content>
            }
        </div>

        @if (leftButtonLabel || rightButtonLabel) {
            <div class="igx-dialog__window-actions">
                @if (leftButtonLabel) {
                    <button
                        type="button"
                        [igxFocus]="isOpen"
                        [igxButton]="leftButtonType"
                        igxRipple="{{ leftButtonRipple }}"
                        (click)="onInternalLeftButtonSelect($event)"
                    >
                        {{ leftButtonLabel }}
                    </button>
                }
                @if (rightButtonLabel) {
                    <button
                        type="button"
                        [igxFocus]="isOpen"
                        [igxButton]="rightButtonType"
                        igxRipple="{{ rightButtonRipple }}"
                        (click)="onInternalRightButtonSelect($event)"
                        >
                        {{ rightButtonLabel }}
                    </button>
                }
            </div>
        }
        @if (!leftButtonLabel && !rightButtonLabel) {
            <ng-content select="igx-dialog-actions,[igxDialogActions]"></ng-content>
        }
    </div>
</div>
