<div class="items-wrapper">
    <div class="column-span">
        <h3 class="sample-title">Different size tabs</h3>
        <igx-tabs [selectedIndex]="1">
            <igx-tabs-group label="Tab 1" icon="folder">
                <div class="my-tab-content">
                    <h3>First Tab</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae malesuada odio.
                        Praesent ante
                        lectus, porta a eleifend vel, sodales eu nisl. Vivamus sit amet purus eu lectus cursus
                        rhoncus
                        quis non ex. Cras ac nulla sed arcu finibus volutpat. Vivamus risus ipsum, pharetra a augue
                        nec,
                        euismod fringilla odio. Integer id velit rutrum, accumsan ante a, semper nunc. Phasellus
                        ultrices
                        tincidunt imperdiet. Nullam vulputate mauris diam. Nullam elementum, libero vel varius
                        fermentum,
                        lorem ex bibendum nulla, pretium lacinia erat nibh vel massa. In hendrerit, sapien ac mollis
                        iaculis, dolor tellus malesuada sem, a accumsan lectus nisl facilisis leo. Curabitur
                        consequat
                        sit amet nulla at consequat. Duis volutpat tristique luctus.</p>
                </div>
            </igx-tabs-group>
            <igx-tabs-group label="Tab 2  Lorem ipsum dolor sit" icon="folder">
                <div class="my-tab-content">
                    <h3>Second Tab</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae malesuada odio.
                        Praesent ante
                        lectus, porta a eleifend vel, sodales eu nisl. Vivamus sit amet purus eu lectus cursus
                        rhoncus
                        quis non ex. Cras ac nulla sed arcu finibus volutpat. Vivamus risus ipsum, pharetra a augue
                        nec,
                        euismod fringilla odio. Integer id velit rutrum, accumsan ante a, semper nunc. Phasellus
                        ultrices
                        tincidunt imperdiet. Nullam vulputate mauris diam. Nullam elementum, libero vel varius
                        fermentum,
                        lorem ex bibendum nulla, pretium lacinia erat nibh vel massa. In hendrerit, sapien ac mollis
                        iaculis, dolor tellus malesuada sem, a accumsan lectus nisl facilisis leo. Curabitur
                        consequat
                        sit amet nulla at consequat. Duis volutpat tristique luctus.</p>
                </div>
            </igx-tabs-group>
            <igx-tabs-group label="Tab 3" icon="folder">
                <div class="my-tab-content">
                    <h3>Tab 3 Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae malesuada odio.
                        Praesent ante
                        lectus, porta a eleifend vel, sodales eu nisl. Vivamus sit amet purus eu lectus cursus
                        rhoncus
                        quis non ex. Cras ac nulla sed arcu finibus volutpat. Vivamus risus ipsum, pharetra a augue
                        nec,
                        euismod fringilla odio. Integer id velit rutrum, accumsan ante a, semper nunc. Phasellus
                        ultrices
                        tincidunt imperdiet. Nullam vulputate mauris diam. Nullam elementum, libero vel varius
                        fermentum,
                        lorem ex bibendum nulla, pretium lacinia erat nibh vel massa. In hendrerit, sapien ac mollis
                        iaculis, dolor tellus malesuada sem, a accumsan lectus nisl facilisis leo. Curabitur
                        consequat
                        sit amet nulla at consequat. Duis volutpat tristique luctus.</p>
                </div>
            </igx-tabs-group>
            <igx-tabs-group label="Tab with Grid" icon="folder">
                <igx-grid #grid1 [data]="data" [width]="'800px'" [height]="'500px'" [autoGenerate]='true'>
                </igx-grid>
            </igx-tabs-group>
            <igx-tabs-group label="Tab 4 Lorem ipsum dolor sit amet, consectetur adipiscing elit" icon="folder">
                <div class="my-tab-content">
                    <h3>Tab 4 Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae malesuada odio.
                        Praesent ante
                        lectus, porta a eleifend vel, sodales eu nisl. Vivamus sit amet purus eu lectus cursus
                        rhoncus
                        quis non ex. Cras ac nulla sed arcu finibus volutpat. Vivamus risus ipsum, pharetra a augue
                        nec,
                        euismod fringilla odio. Integer id velit rutrum, accumsan ante a, semper nunc. Phasellus
                        ultrices
                        tincidunt imperdiet. Nullam vulputate mauris diam. Nullam elementum, libero vel varius
                        fermentum,
                        lorem ex bibendum nulla, pretium lacinia erat nibh vel massa. In hendrerit, sapien ac mollis
                        iaculis, dolor tellus malesuada sem, a accumsan lectus nisl facilisis leo. Curabitur
                        consequat
                        sit amet nulla at consequat. Duis volutpat tristique luctus.</p>
                </div>
            </igx-tabs-group>
            <igx-tabs-group label="Tab 5" icon="folder">
                <div class="my-tab-content">
                    <h3>Tab 5 Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae malesuada odio.
                        Praesent ante
                        lectus, porta a eleifend vel, sodales eu nisl. Vivamus sit amet purus eu lectus cursus
                        rhoncus
                        quis non ex. Cras ac nulla sed arcu finibus volutpat. Vivamus risus ipsum, pharetra a augue
                        nec,
                        euismod fringilla odio. Integer id velit rutrum, accumsan ante a, semper nunc. Phasellus
                        ultrices
                        tincidunt imperdiet. Nullam vulputate mauris diam. Nullam elementum, libero vel varius
                        fermentum,
                        lorem ex bibendum nulla, pretium lacinia erat nibh vel massa. In hendrerit, sapien ac mollis
                        iaculis, dolor tellus malesuada sem, a accumsan lectus nisl facilisis leo. Curabitur
                        consequat
                        sit amet nulla at consequat. Duis volutpat tristique luctus.</p>
                </div>
            </igx-tabs-group>
            <igx-tabs-group label="Tab 6" icon="folder">
                <div class="my-tab-content">
                    <h3>Tab 6 Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae malesuada odio.
                        Praesent ante
                        lectus, porta a eleifend vel, sodales eu nisl. Vivamus sit amet purus eu lectus cursus
                        rhoncus
                        quis non ex. Cras ac nulla sed arcu finibus volutpat. Vivamus risus ipsum, pharetra a augue
                        nec,
                        euismod fringilla odio. Integer id velit rutrum, accumsan ante a, semper nunc. Phasellus
                        ultrices
                        tincidunt imperdiet. Nullam vulputate mauris diam. Nullam elementum, libero vel varius
                        fermentum,
                        lorem ex bibendum nulla, pretium lacinia erat nibh vel massa. In hendrerit, sapien ac mollis
                        iaculis, dolor tellus malesuada sem, a accumsan lectus nisl facilisis leo. Curabitur
                        consequat
                        sit amet nulla at consequat. Duis volutpat tristique luctus.</p>
                </div>
            </igx-tabs-group>
            <igx-tabs-group label="Tab 7" icon="folder">
                <div class="my-tab-content">
                    <h3>Tab 7 Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae malesuada odio.
                        Praesent ante
                        lectus, porta a eleifend vel, sodales eu nisl. Vivamus sit amet purus eu lectus cursus
                        rhoncus
                        quis non ex. Cras ac nulla sed arcu finibus volutpat. Vivamus risus ipsum, pharetra a augue
                        nec,
                        euismod fringilla odio. Integer id velit rutrum, accumsan ante a, semper nunc. Phasellus
                        ultrices
                        tincidunt imperdiet. Nullam vulputate mauris diam. Nullam elementum, libero vel varius
                        fermentum,
                        lorem ex bibendum nulla, pretium lacinia erat nibh vel massa. In hendrerit, sapien ac mollis
                        iaculis, dolor tellus malesuada sem, a accumsan lectus nisl facilisis leo. Curabitur
                        consequat
                        sit amet nulla at consequat. Duis volutpat tristique luctus.</p>
                </div>
            </igx-tabs-group>
            <igx-tabs-group label="Tab 8  Lorem ipsum dolor sit" icon="folder">
                <div class="my-tab-content">
                    <h3>Second Tab</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae malesuada odio.
                        Praesent ante
                        lectus, porta a eleifend vel, sodales eu nisl. Vivamus sit amet purus eu lectus cursus
                        rhoncus
                        quis non ex. Cras ac nulla sed arcu finibus volutpat. Vivamus risus ipsum, pharetra a augue
                        nec,
                        euismod fringilla odio. Integer id velit rutrum, accumsan ante a, semper nunc. Phasellus
                        ultrices
                        tincidunt imperdiet. Nullam vulputate mauris diam. Nullam elementum, libero vel varius
                        fermentum,
                        lorem ex bibendum nulla, pretium lacinia erat nibh vel massa. In hendrerit, sapien ac mollis
                        iaculis, dolor tellus malesuada sem, a accumsan lectus nisl facilisis leo. Curabitur
                        consequat
                        sit amet nulla at consequat. Duis volutpat tristique luctus.</p>
                </div>
            </igx-tabs-group>
            <igx-tabs-group label="Tab 9 Lorem ipsum dolor sit amet, consectetur adipiscing elit" icon="folder">
                <div class="my-tab-content">
                    <h3>Tab 4 Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae malesuada odio.
                        Praesent ante
                        lectus, porta a eleifend vel, sodales eu nisl. Vivamus sit amet purus eu lectus cursus
                        rhoncus
                        quis non ex. Cras ac nulla sed arcu finibus volutpat. Vivamus risus ipsum, pharetra a augue
                        nec,
                        euismod fringilla odio. Integer id velit rutrum, accumsan ante a, semper nunc. Phasellus
                        ultrices
                        tincidunt imperdiet. Nullam vulputate mauris diam. Nullam elementum, libero vel varius
                        fermentum,
                        lorem ex bibendum nulla, pretium lacinia erat nibh vel massa. In hendrerit, sapien ac mollis
                        iaculis, dolor tellus malesuada sem, a accumsan lectus nisl facilisis leo. Curabitur
                        consequat
                        sit amet nulla at consequat. Duis volutpat tristique luctus.</p>
                </div>
            </igx-tabs-group>
            <igx-tabs-group label="Tab 10" icon="folder">
                <div class="my-tab-content">
                    <h3>Tab 7 Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae malesuada odio.
                        Praesent ante
                        lectus, porta a eleifend vel, sodales eu nisl. Vivamus sit amet purus eu lectus cursus
                        rhoncus
                        quis non ex. Cras ac nulla sed arcu finibus volutpat. Vivamus risus ipsum, pharetra a augue
                        nec,
                        euismod fringilla odio. Integer id velit rutrum, accumsan ante a, semper nunc. Phasellus
                        ultrices
                        tincidunt imperdiet. Nullam vulputate mauris diam. Nullam elementum, libero vel varius
                        fermentum,
                        lorem ex bibendum nulla, pretium lacinia erat nibh vel massa. In hendrerit, sapien ac mollis
                        iaculis, dolor tellus malesuada sem, a accumsan lectus nisl facilisis leo. Curabitur
                        consequat
                        sit amet nulla at consequat. Duis volutpat tristique luctus.</p>
                </div>
            </igx-tabs-group>
            <igx-tabs-group label="Tab 11  Lorem ipsum dolor sit" icon="folder">
                <div class="my-tab-content">
                    <h3>Second Tab</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae malesuada odio.
                        Praesent ante
                        lectus, porta a eleifend vel, sodales eu nisl. Vivamus sit amet purus eu lectus cursus
                        rhoncus
                        quis non ex. Cras ac nulla sed arcu finibus volutpat. Vivamus risus ipsum, pharetra a augue
                        nec,
                        euismod fringilla odio. Integer id velit rutrum, accumsan ante a, semper nunc. Phasellus
                        ultrices
                        tincidunt imperdiet. Nullam vulputate mauris diam. Nullam elementum, libero vel varius
                        fermentum,
                        lorem ex bibendum nulla, pretium lacinia erat nibh vel massa. In hendrerit, sapien ac mollis
                        iaculis, dolor tellus malesuada sem, a accumsan lectus nisl facilisis leo. Curabitur
                        consequat
                        sit amet nulla at consequat. Duis volutpat tristique luctus.</p>
                </div>
            </igx-tabs-group>
            <igx-tabs-group label="Tab 12 Lorem ipsum dolor sit amet, consectetur adipiscing elit" icon="folder">
                <div class="my-tab-content">
                    <h3>Tab 4 Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae malesuada odio.
                        Praesent ante
                        lectus, porta a eleifend vel, sodales eu nisl. Vivamus sit amet purus eu lectus cursus
                        rhoncus
                        quis non ex. Cras ac nulla sed arcu finibus volutpat. Vivamus risus ipsum, pharetra a augue
                        nec,
                        euismod fringilla odio. Integer id velit rutrum, accumsan ante a, semper nunc. Phasellus
                        ultrices
                        tincidunt imperdiet. Nullam vulputate mauris diam. Nullam elementum, libero vel varius
                        fermentum,
                        lorem ex bibendum nulla, pretium lacinia erat nibh vel massa. In hendrerit, sapien ac mollis
                        iaculis, dolor tellus malesuada sem, a accumsan lectus nisl facilisis leo. Curabitur
                        consequat
                        sit amet nulla at consequat. Duis volutpat tristique luctus.</p>
                </div>
            </igx-tabs-group>
            <igx-tabs-group label="Tab 13" icon="folder">
                <div class="my-tab-content">
                    <h3>Tab 7 Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae malesuada odio.
                        Praesent ante
                        lectus, porta a eleifend vel, sodales eu nisl. Vivamus sit amet purus eu lectus cursus
                        rhoncus
                        quis non ex. Cras ac nulla sed arcu finibus volutpat. Vivamus risus ipsum, pharetra a augue
                        nec,
                        euismod fringilla odio. Integer id velit rutrum, accumsan ante a, semper nunc. Phasellus
                        ultrices
                        tincidunt imperdiet. Nullam vulputate mauris diam. Nullam elementum, libero vel varius
                        fermentum,
                        lorem ex bibendum nulla, pretium lacinia erat nibh vel massa. In hendrerit, sapien ac mollis
                        iaculis, dolor tellus malesuada sem, a accumsan lectus nisl facilisis leo. Curabitur
                        consequat
                        sit amet nulla at consequat. Duis volutpat tristique luctus.</p>
                </div>
            </igx-tabs-group>
            <igx-tabs-group label="Tab 14  Lorem ipsum dolor sit" icon="folder">
                <div class="my-tab-content">
                    <h3>Second Tab</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae malesuada odio.
                        Praesent ante
                        lectus, porta a eleifend vel, sodales eu nisl. Vivamus sit amet purus eu lectus cursus
                        rhoncus
                        quis non ex. Cras ac nulla sed arcu finibus volutpat. Vivamus risus ipsum, pharetra a augue
                        nec,
                        euismod fringilla odio. Integer id velit rutrum, accumsan ante a, semper nunc. Phasellus
                        ultrices
                        tincidunt imperdiet. Nullam vulputate mauris diam. Nullam elementum, libero vel varius
                        fermentum,
                        lorem ex bibendum nulla, pretium lacinia erat nibh vel massa. In hendrerit, sapien ac mollis
                        iaculis, dolor tellus malesuada sem, a accumsan lectus nisl facilisis leo. Curabitur
                        consequat
                        sit amet nulla at consequat. Duis volutpat tristique luctus.</p>
                </div>
            </igx-tabs-group>
        </igx-tabs>
    </div>
    <div>
        <h3 class="sample-title">Same size tabs</h3>
        <igx-navbar title="Contacts" actionButtonIcon="menu">
            <igx-icon>search</igx-icon>
            <igx-icon>more_vert</igx-icon>
        </igx-navbar>
        <igx-tabs tabsType="fixed" [selectedIndex]="2">
            <igx-tabs-group label="Recent" icon="phone">
                <igx-list [allowRightPanning]="true" [allowLeftPanning]="true">
                    <igx-list-item igxRipple="pink" igxRippleTarget=".igx-list__item"
                        *ngFor="let contact of contacts">
                            <igx-avatar igxListThumbnail [src]="contact.avatar" [roundShape]="true"></igx-avatar>
                            <p igxListLineTitle>{{contact.text}}</p>
                            <span igxListLineSubTitle>{{contact.phone}}</span>
                            <igx-icon igxListAction>phone</igx-icon>
                    </igx-list-item>
                </igx-list>
            </igx-tabs-group>
            <igx-tabs-group label="Favorite" icon="favorite">
                <igx-list [allowRightPanning]="true" [allowLeftPanning]="true">
                    <igx-list-item igxRipple="pink" igxRippleTarget=".igx-list__item"
                        *ngFor="let contact of contacts">
                        <igx-avatar igxListThumbnail [src]="contact.avatar" [roundShape]="true"></igx-avatar>
                        <p igxListLineTitle>{{contact.text}}</p>
                        <span igxListLineSubTitle>{{contact.phone}}</span>
                        <igx-icon igxListAction>phone</igx-icon>
                    </igx-list-item>
                </igx-list>
            </igx-tabs-group>
            <igx-tabs-group label="History" icon="history">
                <igx-list [allowRightPanning]="true" [allowLeftPanning]="true">
                    <igx-list-item igxRipple="pink" igxRippleTarget=".igx-list__item"
                        *ngFor="let contact of contacts">
                        <igx-avatar igxListThumbnail [src]="contact.avatar" [roundShape]="true"></igx-avatar>
                        <p igxListLineTitle>{{contact.text}}</p>
                        <span igxListLineSubTitle>{{contact.phone}}</span>
                        <igx-icon igxListAction>phone</igx-icon>
                    </igx-list-item>
                </igx-list>
            </igx-tabs-group>
        </igx-tabs>
    </div>
    <div>
        <h3 class="sample-title">Tabs with bigger parent element</h3>
        <igx-navbar title="Content Fit Type" actionButtonIcon="menu">
            <igx-icon>search</igx-icon>
            <igx-icon>favorite</igx-icon>
            <igx-icon>more_vert</igx-icon>
        </igx-navbar>
        <igx-tabs tabsType="contentfit">
            <igx-tabs-group label="Tab one">
                <div class="my-tab-content">
                    <h3>Tab one Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula.
                        Donec
                        consectetur accumsan suscipit. Praesent rutrum tellus blandit bibendum cursus. Vestibulum
                        urna
                        arcu, bibendum nec molestie ac, varius congue massa. Mauris porttitor viverra lacus. Donec
                        efficitur
                        purus id urna dapibus, vitae pharetra orci pellentesque. Vestibulum id lacus a magna euismod
                        volutpat id in mi. Etiam a nunc ut tellus dictum porta. Donec in ligula a arcu sollicitudin
                        finibus.
                        Vivamus id lorem pulvinar, accumsan justo vitae, vehicula diam. Mauris vel quam at velit
                        venenatis
                        vulputate in quis nisl.
                    </p>
                </div>
            </igx-tabs-group>
            <igx-tabs-group label="Tab two">
                <div class="my-tab-content">
                    <h3>Tab two Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula.
                        Donec
                        consectetur accumsan suscipit. Praesent rutrum tellus blandit bibendum cursus. Vestibulum
                        urna
                        arcu, bibendum nec molestie ac, varius congue massa. Mauris porttitor viverra lacus. Donec
                        efficitur
                        purus id urna dapibus, vitae pharetra orci pellentesque. Vestibulum id lacus a magna euismod
                        volutpat id in mi. Etiam a nunc ut tellus dictum porta. Donec in ligula a arcu sollicitudin
                        finibus.
                        Vivamus id lorem pulvinar, accumsan justo vitae, vehicula diam. Mauris vel quam at velit
                        venenatis
                        vulputate in quis nisl.
                    </p>
                </div>
            </igx-tabs-group>
        </igx-tabs>
    </div>
    <div>
        <h3 class="sample-title">Same size tabs (with scroll)</h3>
        <igx-tabs type="fixed">
            <igx-tabs-group label="Tab 1" icon="folder">
                <div class="my-tab-content">
                    <h3>Tab 1 Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula.
                        Donec
                        consectetur accumsan suscipit. Praesent rutrum tellus blandit bibendum cursus. Vestibulum
                        urna
                        arcu, bibendum nec molestie ac, varius congue massa. Mauris porttitor viverra lacus. Donec
                        efficitur
                        purus id urna dapibus, vitae pharetra orci pellentesque. Vestibulum id lacus a magna euismod
                        volutpat id in mi. Etiam a nunc ut tellus dictum porta. Donec in ligula a arcu sollicitudin
                        finibus.
                        Vivamus id lorem pulvinar, accumsan justo vitae, vehicula diam. Mauris vel quam at velit
                        venenatis
                        vulputate in quis nisl.</p>
                </div>
            </igx-tabs-group>
            <igx-tabs-group label="Tab 2 Lorem ipsum " icon="folder">
                <div class="my-tab-content">
                    <h3>Tab 2 Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula.
                        Donec
                        consectetur accumsan suscipit. Praesent rutrum tellus blandit bibendum cursus. Vestibulum
                        urna
                        arcu, bibendum nec molestie ac, varius congue massa. Mauris porttitor viverra lacus. Donec
                        efficitur
                        purus id urna dapibus, vitae pharetra orci pellentesque. Vestibulum id lacus a magna euismod
                        volutpat id in mi. Etiam a nunc ut tellus dictum porta. Donec in ligula a arcu sollicitudin
                        finibus.
                        Vivamus id lorem pulvinar, accumsan justo vitae, vehicula diam. Mauris vel quam at velit
                        venenatis
                        vulputate in quis nisl.</p>
                </div>
            </igx-tabs-group>
            <igx-tabs-group label="Tab 3 Lorem" icon="folder">
                <div class="my-tab-content">
                    <h3>Tab 3 Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula.
                        Donec
                        consectetur accumsan suscipit. Praesent rutrum tellus blandit bibendum cursus. Vestibulum
                        urna
                        arcu, bibendum nec molestie ac, varius congue massa. Mauris porttitor viverra lacus. Donec
                        efficitur
                        purus id urna dapibus, vitae pharetra orci pellentesque. Vestibulum id lacus a magna euismod
                        volutpat id in mi. Etiam a nunc ut tellus dictum porta. Donec in ligula a arcu sollicitudin
                        finibus.
                        Vivamus id lorem pulvinar, accumsan justo vitae, vehicula diam. Mauris vel quam at velit
                        venenatis
                        vulputate in quis nisl.</p>
                </div>
            </igx-tabs-group>
            <igx-tabs-group label="Tab 4" icon="folder">
                <div class="my-tab-content">
                    <h3>Notes</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula.
                        Donec
                        consectetur accumsan suscipit. Praesent rutrum tellus blandit bibendum cursus. Vestibulum
                        urna
                        arcu, bibendum nec molestie ac, varius congue massa. Mauris porttitor viverra lacus. Donec
                        efficitur
                        purus id urna dapibus, vitae pharetra orci pellentesque. Vestibulum id lacus a magna euismod
                        volutpat id in mi. Etiam a nunc ut tellus dictum porta. Donec in ligula a arcu sollicitudin
                        finibus.
                        Vivamus id lorem pulvinar, accumsan justo vitae, vehicula diam. Mauris vel quam at velit
                        venenatis
                        vulputate in quis nisl.</p>
                </div>
            </igx-tabs-group>
            <igx-tabs-group label="Tab 5" icon="folder">
                <div class="my-tab-content">
                    <h3>Notes</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula.
                        Donec
                        consectetur accumsan suscipit. Praesent rutrum tellus blandit bibendum cursus. Vestibulum
                        urna
                        arcu, bibendum nec molestie ac, varius congue massa. Mauris porttitor viverra lacus. Donec
                        efficitur
                        purus id urna dapibus, vitae pharetra orci pellentesque. Vestibulum id lacus a magna euismod
                        volutpat id in mi. Etiam a nunc ut tellus dictum porta. Donec in ligula a arcu sollicitudin
                        finibus.
                        Vivamus id lorem pulvinar, accumsan justo vitae, vehicula diam. Mauris vel quam at velit
                        venenatis
                        vulputate in quis nisl.</p>
                </div>
            </igx-tabs-group>
            <igx-tabs-group label="Tab 6" icon="folder">
                <div class="my-tab-content">
                    <h3>Notes</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula.
                        Donec
                        consectetur accumsan suscipit. Praesent rutrum tellus blandit bibendum cursus. Vestibulum
                        urna
                        arcu, bibendum nec molestie ac, varius congue massa. Mauris porttitor viverra lacus. Donec
                        efficitur
                        purus id urna dapibus, vitae pharetra orci pellentesque. Vestibulum id lacus a magna euismod
                        volutpat id in mi. Etiam a nunc ut tellus dictum porta. Donec in ligula a arcu sollicitudin
                        finibus.
                        Vivamus id lorem pulvinar, accumsan justo vitae, vehicula diam. Mauris vel quam at velit
                        venenatis
                        vulputate in quis nisl.</p>
                </div>
            </igx-tabs-group>
            <igx-tabs-group label="Tab 7 Lorem ipsum dolor sit amet," icon="folder">
                <div class="my-tab-content">
                    <h3>Notes</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula.
                        Donec
                        consectetur accumsan suscipit. Praesent rutrum tellus blandit bibendum cursus. Vestibulum
                        urna
                        arcu, bibendum nec molestie ac, varius congue massa. Mauris porttitor viverra lacus. Donec
                        efficitur
                        purus id urna dapibus, vitae pharetra orci pellentesque. Vestibulum id lacus a magna euismod
                        volutpat id in mi. Etiam a nunc ut tellus dictum porta. Donec in ligula a arcu sollicitudin
                        finibus.
                        Vivamus id lorem pulvinar, accumsan justo vitae, vehicula diam. Mauris vel quam at velit
                        venenatis
                        vulputate in quis nisl.</p>
                </div>
            </igx-tabs-group>
            <igx-tabs-group label="Tab 8" icon="folder">
                <div class="my-tab-content">
                    <h3>Notes</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula.
                        Donec
                        consectetur accumsan suscipit. Praesent rutrum tellus blandit bibendum cursus. Vestibulum
                        urna
                        arcu, bibendum nec molestie ac, varius congue massa. Mauris porttitor viverra lacus. Donec
                        efficitur
                        purus id urna dapibus, vitae pharetra orci pellentesque. Vestibulum id lacus a magna euismod
                        volutpat id in mi. Etiam a nunc ut tellus dictum porta. Donec in ligula a arcu sollicitudin
                        finibus.
                        Vivamus id lorem pulvinar, accumsan justo vitae, vehicula diam. Mauris vel quam at velit
                        venenatis
                        vulputate in quis nisl.</p>
                </div>
            </igx-tabs-group>
        </igx-tabs>
    </div>
    <div>
        <h3 class="sample-title">Icon Tabs</h3>
        <igx-tabs tabsType="fixed">
            <igx-tabs-group icon="store">
                <div class="my-tab-content">
                    <h3>Tab 1 Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula.
                        Donec
                        consectetur accumsan suscipit. Praesent rutrum tellus blandit bibendum cursus. Vestibulum
                        urna
                        arcu, bibendum nec molestie ac, varius congue massa. Mauris porttitor viverra lacus. Donec
                        efficitur
                        purus id urna dapibus, vitae pharetra orci pellentesque. Vestibulum id lacus a magna euismod
                        volutpat id in mi. Etiam a nunc ut tellus dictum porta. Donec in ligula a arcu sollicitudin
                        finibus.
                        Vivamus id lorem pulvinar, accumsan justo vitae, vehicula diam. Mauris vel quam at velit
                        venenatis
                        vulputate in quis nisl.</p>
                </div>
            </igx-tabs-group>
            <igx-tabs-group icon="timeline">
                <div class="my-tab-content">
                    <h3>Tab 2 Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula.
                        Donec
                        consectetur accumsan suscipit. Praesent rutrum tellus blandit bibendum cursus. Vestibulum
                        urna
                        arcu, bibendum nec molestie ac, varius congue massa. Mauris porttitor viverra lacus. Donec
                        efficitur
                        purus id urna dapibus, vitae pharetra orci pellentesque. Vestibulum id lacus a magna euismod
                        volutpat id in mi. Etiam a nunc ut tellus dictum porta. Donec in ligula a arcu sollicitudin
                        finibus.
                        Vivamus id lorem pulvinar, accumsan justo vitae, vehicula diam. Mauris vel quam at velit
                        venenatis
                        vulputate in quis nisl.</p>
                </div>
            </igx-tabs-group>
            <igx-tabs-group icon="verified_user">
                <div class="my-tab-content">
                    <h3>Tab 3 Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula.
                        Donec
                        consectetur accumsan suscipit. Praesent rutrum tellus blandit bibendum cursus. Vestibulum
                        urna
                        arcu, bibendum nec molestie ac, varius congue massa. Mauris porttitor viverra lacus. Donec
                        efficitur
                        purus id urna dapibus, vitae pharetra orci pellentesque. Vestibulum id lacus a magna euismod
                        volutpat id in mi. Etiam a nunc ut tellus dictum porta. Donec in ligula a arcu sollicitudin
                        finibus.
                        Vivamus id lorem pulvinar, accumsan justo vitae, vehicula diam. Mauris vel quam at velit
                        venenatis
                        vulputate in quis nisl.</p>
                </div>
            </igx-tabs-group>
        </igx-tabs>
    </div>
</div>
