.items-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin: 16px;
    column-gap: 32px;
    row-gap: 32px;

    > * {
        display: flex;
        flex-direction: column;
    }
}

.fixed-height {
    grid-column: auto / span 2;

    // Calc is needed to subtract the sample-title height
    // The Users have to do the same thing if they put the tabs inside a fixed height element, which has other elements inside.
    igx-tabs {
        height: calc(100% - 48px)
    }
}

.my-tab-content {
    padding: 16px;
}

.my-tab-content h3 {
    font-size: 20px;
    font-weight: 900;
}
