.items-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin: 16px;
    column-gap: 32px;
    row-gap: 32px;
}

.column-span {
    grid-column: auto / span 2;

    > div {
        margin-bottom: 24px;
    }
}

.action-button {
    margin-right: 24px;
}

.action-button,
.sample-actions {
    margin-bottom: 24px;
}

.my-tab-content {
    padding: 16px;
}

.my-tab-content h3 {
    font-size: 20px;
    font-weight: 900;
}
