<div class="items-wrapper">
    <div class="column-span">
        <div>
            <h3 class="sample-title">Different size tabs</h3>
            <div class="sample-actions">
                <button [igxButton]="'outlined'" class="action-button" (click)="changeSelectedIndex()">Change selected index</button>
                <button [igxButton]="'outlined'" class="action-button" (click)="changeTabSelected()">Change tab.selected</button>
                <button [igxButton]="'outlined'" class="action-button" (click)="renameTab2()">Rename Tab 2</button>
            </div>
            <igx-tabs
                #tabsNew
                [selectedIndex]="3"
                (selectedIndexChanging)="tabsSelectedIndexChanging($event)"
                (selectedItemChange)="tabsSelectedItemChange($event)"
            >
                <igx-tab-item>
                    <igx-tab-header igxRipple>
                        <igx-icon igxTabHeaderIcon>folder</igx-icon>
                        <span igxTabHeaderLabel>Tab 1</span>
                    </igx-tab-header>
                    <igx-tab-content>
                        Content 1
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula.
                    </igx-tab-content>
                </igx-tab-item>

                <igx-tab-item>
                    <igx-tab-header igxRipple>
                        <igx-icon igxTabHeaderIcon>folder</igx-icon>
                        <span igxTabHeaderLabel>{{tab2Label}}</span>
                    </igx-tab-header>
                    <igx-tab-content>
                        <div class="sample-scrollable">
                            <igx-list [allowRightPanning]="true" [allowLeftPanning]="true">
                                <igx-list-item igxRipple="pink" igxRippleTarget=".igx-list__item"
                                               *ngFor="let contact of contacts">
                                    <igx-avatar igxListThumbnail [src]="contact.avatar" [roundShape]="true"></igx-avatar>
                                    <p igxListLineTitle>{{contact.text}}</p>
                                    <span igxListLineSubTitle>{{contact.phone}}</span>
                                    <igx-icon igxListAction>phone</igx-icon>
                                </igx-list-item>
                            </igx-list>
                        </div>
                    </igx-tab-content>
                </igx-tab-item>

                <igx-tab-item>
                    <igx-tab-header igxRipple>
                        <igx-icon igxTabHeaderIcon>folder</igx-icon>
                        <span igxTabHeaderLabel>Tab 3 Lorem ipsum dolor</span>
                    </igx-tab-header>
                    <igx-tab-content>
                        Content 3
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula.
                    </igx-tab-content>
                </igx-tab-item>

                <igx-tab-item [disabled]="true">
                    <igx-tab-header>
                        <igx-icon igxTabHeaderIcon>folder</igx-icon>
                        <span igxTabHeaderLabel>Tab 4 Disabled</span>
                    </igx-tab-header>
                    <igx-tab-content>
                        Content 4
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula.
                    </igx-tab-content>
                </igx-tab-item>
            </igx-tabs>
        </div>

        <div>
            <h3 class="sample-title">Only Icon</h3>
            <igx-tabs>
                <igx-tab-item>
                    <igx-tab-header igxRipple>
                        <igx-icon igxTabHeaderIcon>folder</igx-icon>
                    </igx-tab-header>
                    <igx-tab-content>
                        Content 1
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula.
                    </igx-tab-content>
                </igx-tab-item>

                <igx-tab-item>
                    <igx-tab-header igxRipple>
                        <igx-icon igxTabHeaderIcon>folder</igx-icon>
                    </igx-tab-header>
                    <igx-tab-content>
                        Content 1
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula.
                    </igx-tab-content>
                </igx-tab-item>

                <igx-tab-item>
                    <igx-tab-header igxRipple>
                        <igx-icon igxTabHeaderIcon>folder</igx-icon>
                    </igx-tab-header>
                    <igx-tab-content>
                        Content 3
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula.
                    </igx-tab-content>
                </igx-tab-item>

                <igx-tab-item [disabled]="true">
                    <igx-tab-header>
                        <igx-icon igxTabHeaderIcon>folder</igx-icon>
                    </igx-tab-header>
                    <igx-tab-content>
                        Content 4
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula.
                    </igx-tab-content>
                </igx-tab-item>
            </igx-tabs>
        </div>

        <div>
            <h3 class="sample-title">Only Label</h3>
            <igx-tabs>
                <igx-tab-item>
                    <igx-tab-header igxRipple>
                        <span igxTabHeaderLabel>Item 1</span>
                    </igx-tab-header>
                    <igx-tab-content>
                        Content 1
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula.
                    </igx-tab-content>
                </igx-tab-item>

                <igx-tab-item>
                    <igx-tab-header igxRipple>
                        <span igxTabHeaderLabel>Item 2</span>
                    </igx-tab-header>
                    <igx-tab-content>
                        Content 1
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula.
                    </igx-tab-content>
                </igx-tab-item>

                <igx-tab-item>
                    <igx-tab-header igxRipple>
                        <span igxTabHeaderLabel>Item 3</span>
                    </igx-tab-header>
                    <igx-tab-content>
                        Content 3
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula.
                    </igx-tab-content>
                </igx-tab-item>

                <igx-tab-item [disabled]="true">
                    <igx-tab-header>
                        <span igxTabHeaderLabel>Item 4</span>
                    </igx-tab-header>
                    <igx-tab-content>
                        Content 4
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula.
                    </igx-tab-content>
                </igx-tab-item>
            </igx-tabs>
        </div>

        <div>
            <h3 class="sample-title">Alignment</h3>
            <div class="sample-actions">
                <igx-buttongroup [values]="tabAlignments" (selected)="selectAlignment($event)"></igx-buttongroup>
            </div>

            <igx-tabs [tabAlignment]="tabAlignment">
                <igx-tab-item>
                    <igx-tab-header>
                        Tab 1
                    </igx-tab-header>
                    <igx-tab-content>
                        Content 1
                    </igx-tab-content>
                </igx-tab-item>

                <igx-tab-item>
                    <igx-tab-header>
                        Tab 2
                    </igx-tab-header>
                    <igx-tab-content>
                        Content 2
                    </igx-tab-content>
                </igx-tab-item>

                <igx-tab-item>
                    <igx-tab-header>
                        Tab 3
                    </igx-tab-header>
                    <igx-tab-content>
                        Content 3
                    </igx-tab-content>
                </igx-tab-item>

                <igx-tab-item>
                    <igx-tab-header>
                        Tab 4
                    </igx-tab-header>
                    <igx-tab-content>
                        Content 4
                    </igx-tab-content>
                </igx-tab-item>

                <igx-tab-item>
                    <igx-tab-header>
                        Tab 5
                    </igx-tab-header>
                    <igx-tab-content>
                        Content 5
                    </igx-tab-content>
                </igx-tab-item>

                <igx-tab-item>
                    <igx-tab-header>
                        Tab 6
                    </igx-tab-header>
                    <igx-tab-content>
                        Content 6
                    </igx-tab-content>
                </igx-tab-item>
            </igx-tabs>
        </div>

        <div>
            <h3 class="sample-title">Tabs with scroll</h3>
            <igx-tabs>
                <igx-tab-item *ngFor="let tab of scrollableTabs;">
                    <igx-tab-header>
                        <igx-icon igxTabHeaderIcon>folder</igx-icon>
                        <span igxTabHeaderLabel>Lorem ipsum. {{tab}}</span>
                    </igx-tab-header>
                    <igx-tab-content>
                        Content of {{tab}}
                    </igx-tab-content>
                </igx-tab-item>
            </igx-tabs>
        </div>

        <div>
            <h3 class="sample-title">Add/Remove Tabs with prefix and suffix</h3>
            <button [igxButton]="'outlined'" class="action-button" (click)="addTab()">Add Tab</button>

            <igx-tabs
                #dynamicTabs
            >
                <igx-tab-item *ngFor="let contact of contacts; index as i">
                    <igx-tab-header>
                        <igx-avatar igxPrefix [initials]="contact.text" size="small" [roundShape]="true">person</igx-avatar>
                        <span igxTabHeaderLabel>{{contact.text}}</span>
                        <button
                            igxButton="icon"
                            igxSuffix
                            (click)="closeTab(i)"
                        >
                            <igx-icon>close</igx-icon>
                        </button>
                    </igx-tab-header>
                    <igx-tab-content>
                        Phone: {{contact.phone}}
                    </igx-tab-content>
                </igx-tab-item>
            </igx-tabs>
        </div>
    </div>
</div>
