<h1 class="componentTitle">List</h1>
<p class="componentDesc">A component that displays items that can be declared or retrieved from a data source.</p>
<igx-list #declarativeList>
    <igx-list-item [isHeader]="true"><h3>Mildly Sweet</h3></igx-list-item>
    <igx-list-item>Red Delicious</igx-list-item>
    <igx-list-item>Ambrosia</igx-list-item>
    <igx-list-item>Rome</igx-list-item>
    <igx-list-item>Golden Delicious</igx-list-item>
    <igx-list-item>Cosmic Crisp</igx-list-item>
</igx-list>
