<div id="phoneContainer" class="phone">
    <div id="mobileDiv" class="screen">
        <div>
            <span class="componentTitle">List</span><br>
            <span class="componentDesc">A component that displays items that can be declared or retrieved from a data source.</span><br><br>         
            <ig-list #declarativeList>
                <ig-list-header>Mildly Sweet</ig-list-header>
                <ig-list-item>Red Delicious</ig-list-item>
                <ig-list-item>Ambrosia</ig-list-item>
                <ig-list-item>Rome</ig-list-item>
                <ig-list-item>Golden Delicious</ig-list-item>
                <ig-list-item>Cosmic Crisp</ig-list-item>
            </ig-list>    
        </div>
    </div>
</div>