@use '../../projects/igniteui-angular/src/lib/core/styles/themes/index' as *;

@include b(igniteui-logo) {
    @include e(u) {
        fill: #f60;
    }

    @include e(text) {
        fill: #000;
        transform: translate(190px, -6px);
    }

    @include e(flame) {
        fill: white;
        transform: translate(55px, 97px);
    }

    @include e(rocket) {
        fill: #222;
        transform: translate(55px);
    }
}

.navdrawer-ellipsis {
    @include ellipsis();
}

#igniteui-demo-app {
    @include fade-in-fwd();

    .sample-wrapper {
        padding: rem(16px);
    }

    .logo {
        min-width: 172px;
        min-height: 56.666px;
    }

    .main {
        position: absolute;
        display: flex;
        flex-flow: row nowrap;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;

        > * {
            width: 100%;
        }
    }

    .content {
        position: relative;
        overflow-y: scroll;
        perspective: 5000px;
        padding-top: 90px;
    }

    .nav-header {
        display: flex;
        align-items: center;
        padding: 24px 16px;
        height: 90px;
    }

    .sample {
        &-wrapper {
            width: inherit;
            position: relative;
            height: 100%;
            margin: 0 auto;
        }

        &-column {
            display: flex;
            flex-flow: column nowrap;
            flex: 1 0 25%;
            align-content: flex-start;
            margin: 16px;
            min-width: 280px;
        }

        &-title {
            @include igx-type-style($default-type-scale, 'h6');
            margin-bottom: 24px;

            .light {
                font-weight: 400;
            }
        }

        &-description {
            font-size: 14px;
            font-weight: 400;
        }

        &-content {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            padding: 48px 8px;
            @include animation(fade-in-fwd .3s $ease-out-quad);
        }
    }
}
