// Standard imports
@use 'sass:math';
@use '../../projects/igniteui-angular/core/src/core/styles/themes' as *;
@use 'variables' as *;
@use 'mixins' as *;
@use 'app-layout';

/* autoprefixer grid: on */
body {
    background: $background-color;
    color: $foreground-color;
    margin: 0;
    overflow: hidden;
}

@include core();
@include typography($font-family: $typeface, $type-scale: $type-scale);
@include theme($palette: $palette, $schema: $schema);

.nav-header {
    --logo-fill: #27265f;

    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
        height: 2rem;
    }
}
