// Standard imports
@use 'sass:math';
@use '../../projects/igniteui-angular/core/src/core/styles/themes' as *;
@use 'variables' as *;
@use 'mixins' as *;
@use 'app-layout';

/* autoprefixer grid: on */
body {
    background: $background-color;
    color: $foreground-color;
}

@include core();
@include typography($font-family: $typeface, $type-scale: $type-scale);
@include theme($palette: $palette, $schema: $schema);

:root {
    --some-dynamic-color: hsl(#{math.random(360)}, 100%, 50%);
}

.nav-header {
    @if $variant == 'light' {
        @include nav-logo('../assets/images/rsrcs/igniteui-logo-light-bg.png');
    } @else {
        @include nav-logo('../assets/images/rsrcs/igniteui-logo-dark-bg.png');
    }
}
