@use '../../projects/igniteui-angular/src/lib/core/styles/themes' as *;
@use 'variables' as *;
@use 'mixins' as *;
@use 'app-layout';

/* autoprefixer grid: on */
body {
    background: $igx-background-color;
    color: $igx-foreground-color;
}

:root {
    --some-dynamic-color: hsl(#{random(360)}, 100%, 50%);
}

@include igx-core($direction: $direction);
@include igx-typography($font-family: $typeface, $type-scale: $type-scale);
@include igx-theme(
    $palette: $palette,
    $schema: $schema,
    $legacy-support: $legacy-support,
);

.dock {
    @include igx-css-vars(igc-dock-manager-theme());
}

.nav-header {
    @if luminance($igx-background-color) < .5 {
        @include nav-logo('../assets/images/rsrcs/igniteui-logo-dark-bg', $igx-background-color);
    } @else {
        @include nav-logo('../assets/images/rsrcs/igniteui-logo-light-bg', $igx-background-color);
    }
}
