@use '../../projects/igniteui-angular/src/lib/core/styles/themes' as *;
@use 'variables' as *;
@use 'mixins' as *;
@use 'app-layout';

/* autoprefixer grid: on */
body {
    background: $background-color;
    color: $foreground-color;
}

:root {
    --some-dynamic-color: hsl(#{random(360)}, 100%, 50%);
}

@include core($direction: $direction);
@include typography($font-family: $typeface, $type-scale: $type-scale);
@include theme(
    $palette: $palette,
    $schema: $schema,
);

.dock {
    @include css-vars(dock-manager-theme());
}

.nav-header {
    @if luminance($background-color) < .5 {
        @include nav-logo('../assets/images/rsrcs/igniteui-logo-dark-bg', $background-color);
    } @else {
        @include nav-logo('../assets/images/rsrcs/igniteui-logo-light-bg', $background-color);
    }
}
