@mixin nav-logo($url, $background) {
    background: url(#{$url}) no-repeat;
    background-color: darken($background, 4%);
    background-size: calc(100% - 100px) auto;
    background-position: 16px center;
}

@mixin scrollbar-love($scrollbar-color: null) {
    $scrollbar-track: hexrgba(igx-color($default-palette, 'grays', 200));
    $scrollbar-thumb: hexrgba(igx-color($default-palette, 'grays', 400));

    @if $scrollbar-color and luminance($scrollbar-color) < .5 {
        $scrollbar-track: darken($scrollbar-color, 8%);
        $scrollbar-thumb: lighten($scrollbar-color, 20%);
    }

    ::-webkit-scrollbar {
        width: 16px;
        height: 16px;
        background-color: $scrollbar-track;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $scrollbar-thumb;
    }
}

/// Creates a global theme that can be used with light backgrounds.
/// @param {Map} $palette - An igx-palette to be used by the global theme.
/// @param {List} $exclude [( )] - A list of igx components to be excluded from the global theme styles.
/// @param {Boolean} $legacy-support - Turn off support for IE11, allowing you to use css variables to style components.
@mixin igx-light-square-theme(
    $palette,
    $exclude: (),
    $legacy-support: true,
    $direction: ltr
) {
    $primary: igx-color($palette, 'primary');
    $secondary: igx-color($palette, 'secondary');
    $surface: igx-color($palette, 'surface');

    @include igx-theme(
        $palette: igx-palette(
            $primary,
            $secondary,
            $surface: if($surface != #fff, $surface, #fff),
            $grays: #000
        ),
        $schema: $light-square-schema,
        $legacy-support: $legacy-support,
        $exclude: $exclude,
        $direction: $direction
    );
}

/// Creates a global theme that can be used with light backgrounds.
/// @param {Map} $palette - An igx-palette to be used by the global theme.
/// @param {List} $exclude [( )] - A list of igx components to be excluded from the global theme styles.
/// @param {Boolean} $legacy-support - Turn off support for IE11, allowing you to use css variables to style components.
@mixin igx-light-square-theme(
    $palette,
    $exclude: (),
    $legacy-support: true,
    $direction: ltr
) {
    $primary: igx-color($palette, 'primary');
    $secondary: igx-color($palette, 'secondary');
    $surface: igx-color($palette, 'surface');

    @include igx-theme(
        $palette: igx-palette(
            $primary,
            $secondary,
            $surface: if($surface != #fff, $surface, #fff),
            $grays: #000
        ),
        $schema: $light-square-schema,
        $legacy-support: $legacy-support,
        $exclude: $exclude,
        $direction: $direction
    );
}
