@mixin nav-logo($url, $background) {
    background: url(#{$url}) no-repeat;
    background-color: darken($background, 4%);
    background-size: calc(100% - 100px) auto;
    background-position: 16px center;
}
