$palette: $light-material-palette;
$schema: $light-material-schema;
$typography: $default-type-scale;

$legacy-support: false;
$direction: ltr;

$igx-background-color: darken(igx-color($palette, 'surface'), 5%);
$igx-foreground-color: igx-color($palette, 'grays', 900);
