@use '../../projects/igniteui-angular/src/lib/core/styles/themes' as *;

$palette: $dark-indigo-palette;
$schema: $dark-indigo-schema;
$typeface: $indigo-typeface;
$type-scale: $indigo-type-scale;

$legacy-support: false;
$direction: ltr;

$igx-background-color: darken(igx-color($palette, 'surface'), 5%);
$igx-foreground-color: igx-color($palette, 'grays', 900);

$default-palette: $palette;

$handmade-palette: (
    primary: (
        50: #c0c0ff,
        '50-contrast': black,
        100: #a7a7fa,
        '100-contrast': black,
        200: #6d6df1,
        '200-contrast': black,
        300: #3c3cf2,
        '300-contrast': white,
        400: #1d1df7,
        '400-contrast': white,
        500: blue,
        '500-contrast': white,
        600: #0000e5,
        '600-contrast': white,
        700: #0000d2,
        '700-contrast': white,
        800: #0000be,
        '800-contrast': white,
        900: #0000a8,
        '900-contrast': white,
        'A100': #55f,
        'A100-contrast': white,
        'A200': #2727ff,
        'A200-contrast': white,
        'A400': #0000eb,
        'A400-contrast': white,
        'A700': #00a,
        'A700-contrast': white
    ),
    secondary: (
        50: #ffc0c0,
        '50-contrast': black,
        100: #faa7a7,
        '100-contrast': black,
        200: #f16d6d,
        '200-contrast': black,
        300: #f23c3c,
        '300-contrast': black,
        400: #f71d1d,
        '400-contrast': black,
        500: var(--some-dynamic-color),
        '500-contrast': black,
        600: #e50000,
        '600-contrast': white,
        700: #d20000,
        '700-contrast': white,
        800: #be0000,
        '800-contrast': white,
        900: #a80000,
        '900-contrast': white,
        'A100': #f55,
        'A100-contrast': black,
        'A200': #ff2727,
        'A200-contrast': black,
        'A400': #eb0000,
        'A400-contrast': white,
        'A700': #a00,
        'A700-contrast': white
    ),
    grays: (
        50: rgba(255, 255, 255, .02),
        '50-contrast': white,
        100: rgba(255, 255, 255, .04),
        '100-contrast': white,
        200: rgba(255, 255, 255, .08),
        '200-contrast': white,
        300: rgba(255, 255, 255, .12),
        '300-contrast': white,
        400: rgba(255, 255, 255, .26),
        '400-contrast': white,
        500: rgba(255, 255, 255, .38),
        '500-contrast': black,
        600: rgba(255, 255, 255, .54),
        '600-contrast': black,
        700: rgba(255, 255, 255, .62),
        '700-contrast': black,
        800: rgba(255, 255, 255, .74),
        '800-contrast': black,
        900: rgba(255, 255, 255, .87),
        '900-contrast': black
    ),
    info: (
        500: #1377d5,
        '500-contrast': black
    ),
    success: (
        500: #4eb862,
        '500-contrast': black
    ),
    warn: (
        500: #fbb13c,
        '500-contrast': black
    ),
    error: (
        500: #ff134a,
        '500-contrast': black
    ),
    surface: (
        500: #222,
        '500-contrast': white
    )
);

// $palette: $handmade-palette;
