@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700');
@import '../../projects/igniteui-angular/src/lib/core/styles/themes/index';
@import 'mixins';
@import 'app-palettes';
@import 'app-layout';

@include igx-core();

/* autoprefixer grid: on */
.default-theme {
    $igx-background-color: #fff;
    $igx-foreground-color: text-contrast($igx-background-color);

    background: $igx-background-color;
    color: $igx-foreground-color;

    @include scrollbar-love();
    @include igx-theme($default-palette, $legacy-support: false);

    .nav-header {
        @include nav-logo('../assets/images/rsrcs/igniteui-logo-light-bg', $igx-background-color);
    }
}

.fluent-excel-theme {
    $igx-background-color: #fff;
    background: #fff;

    @include scrollbar-love();

    @include igx-fluent-theme($fluent-word-palette);

    .nav-header {
        @include nav-logo('../assets/images/rsrcs/igniteui-logo-light-bg', $igx-background-color);
    }
}

.fluent-word-theme {
    $igx-background-color: #fff;
    $igx-foreground-color: text-contrast($igx-background-color);

    background: $igx-background-color;
    color: $igx-foreground-color;

    @include scrollbar-love();
    @include igx-fluent-theme($fluent-word-palette);

    .nav-header {
        @include nav-logo('../assets/images/rsrcs/igniteui-logo-light-bg', $igx-background-color);
    }
}

.light-square-theme {
    $igx-background-color: #fff;
    $igx-foreground-color: text-contrast($igx-background-color);

    background: $igx-background-color;
    color: $igx-foreground-color;

    @include scrollbar-love();
    @include igx-light-square-theme($purple-palette);

    .nav-header {
        @include nav-logo('../assets/images/rsrcs/igniteui-logo-light-bg', $igx-background-color);
    }
}

.light-round-theme {
    $igx-background-color: #fff;
    $igx-foreground-color: text-contrast($igx-background-color);

    background: $igx-background-color;
    color: $igx-foreground-color;

    @include scrollbar-love();
    @include igx-theme($palette: $purple-palette, $schema: $light-round-schema);
}

.dark-theme {
    $igx-background-color: #333;
    $igx-foreground-color: text-contrast($igx-background-color);

    background: $igx-background-color;
    color: $igx-foreground-color;

    @include scrollbar-love(lighten($igx-background-color, 15%));
    @include igx-dark-theme($green-palette);

    .nav-header {
        @include nav-logo('../assets/images/rsrcs/igniteui-logo-dark-bg', $igx-background-color);
    }
}


@media print {
    html,
    body,
    app-root {
        min-height: 100vh;
        min-width: 100vw;
        margin: 0;
        display: block;
        background: transparent !important;
    }

    .sample-content,
    .sample-column,
    .wrapper {
        margin: 0;
        padding: 0;
    }

    .sample-header,
    .sample-description,
    .sample-title,
    .no-print,
    .igx-nav-drawer,
    .form-title {
        display: none !important;
    }

    ::-webkit-scrollbar {
        background-color: #fff !important;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #fff !important;
    }
}
