@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700');
@import '../../projects/igniteui-angular/src/lib/core/styles/themes/index';
@import 'mixins';
@import 'app-palettes';
@import 'app-layout';

/* autoprefixer grid: on */
$palette: $default-palette;
$schema: $light-schema;

$igx-background-color: igx-color($palette, 'surface');
$igx-foreground-color: text-contrast($igx-background-color);

body {
    background: $igx-background-color;
    color: rgba($igx-foreground-color, .87);
}

@include igx-core($direction: ltr);
@include igx-theme($palette: $palette, $schema: $schema);

.nav-header {
    @if luminance($igx-background-color) < .5 {
        @include nav-logo('../assets/images/rsrcs/igniteui-logo-dark-bg', $igx-background-color);
    } @else {
        @include nav-logo('../assets/images/rsrcs/igniteui-logo-light-bg', $igx-background-color);
    }
}

// @include igx-css-vars(igx-shape-chart-theme(
//     $outlines: (red, blue, orange, blue),
//     $margin: 2px 8px
// ));

// @media print {
//     html,
//     body,
//     app-root {
//         min-height: 100vh;
//         min-width: 100vw;
//         margin: 0;
//         display: block;
//         background: transparent !important;
//     }

//     .sample-content,
//     .sample-column,
//     .wrapper {
//         margin: 0;
//         padding: 0;
//     }

//     .sample-header,
//     .sample-description,
//     .sample-title,
//     .no-print,
//     .igx-nav-drawer,
//     .form-title {
//         display: none !important;
//     }

//     ::-webkit-scrollbar {
//         background-color: #fff !important;
//     }

//     ::-webkit-scrollbar-thumb {
//         background-color: #fff !important;
//     }
// }
