@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700');
@import '../../projects/igniteui-angular/src/lib/core/styles/themes/index';

@import 'mixins';
@import 'app-palettes';
@import 'app-layout';

@include igx-core();

.default-theme {
    $igx-background-color: #fff;
    $igx-foreground-color: text-contrast($igx-background-color);

    background: $igx-background-color;
    color: $igx-foreground-color;

    @include scrollbar-love();
    @include igx-theme($default-palette);
}

.dark-theme {
    $igx-background-color: #333;
    $igx-foreground-color: text-contrast($igx-background-color);

    background: $igx-background-color;
    color: $igx-foreground-color;

    @include scrollbar-love(lighten($igx-background-color, 15%));
    @include igx-dark-theme($green-palette);

    .igniteui-logo__text {
        fill: #fff;
    }

    .igniteui-logo__rocket {
        fill: rgba(white, .38);
    }

    $my-button: igx-button-theme(
        $fab-background: red,
        $roundness-fab: .5
    );

    @include igx-button($my-button)
}
