@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700');
@import '../../projects/igniteui-angular/src/lib/core/styles/themes/index';
@import '../../projects/igniteui-angular/src/lib/core/styles/spec/index';
@import 'mixins';
@import 'app-layout';

$palette: $dark-indigo-palette;
$schema: $dark-indigo-schema;
$typeface: $indigo-typeface;
$typography: $indigo-type-scale;

/* autoprefixer grid: on */
$igx-background-color: darken(igx-color($palette, 'surface'), 5%);
$igx-foreground-color: igx-color($palette, 'grays', 900);

body {
    background: $igx-background-color;
    color: $igx-foreground-color;
}

@include igx-core($direction: ltr);
@include igx-theme($palette: $palette, $schema: $schema, $legacy-support: true);
@include igx-typography($font-family: $typeface, $type-scale: $typography);

@include igx-palette-vars($palette, $contrast: true);

.nav-header {
    @if luminance($igx-background-color) < .5 {
        @include nav-logo('../assets/images/rsrcs/igniteui-logo-dark-bg', $igx-background-color);
    } @else {
        @include nav-logo('../assets/images/rsrcs/igniteui-logo-light-bg', $igx-background-color);
    }
}

