@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700');
@import '../../projects/igniteui-angular/src/lib/core/styles/themes/index';
@import 'mixins';
@import 'app-palettes';
@import 'app-layout';

/* autoprefixer grid: on */
$igx-background-color: igx-color($default-palette, 'surface');
$igx-foreground-color: text-contrast($igx-background-color);

body {
    background: $igx-background-color;
    color: #222;
}

@include igx-core($direction: ltr);
@include igx-theme($default-palette, $schema: $light-schema);

.nav-header {
    @include nav-logo('../assets/images/rsrcs/igniteui-logo-light-bg', $igx-background-color);
}


//.dark-theme {
//    $igx-background-color: igx-color($green-dark-palette, 'surface');
//    $igx-foreground-color: text-contrast($igx-background-color);
//
//    background: $igx-background-color;
//    color: $igx-foreground-color;
//
//    @include scrollbar-love(lighten($igx-background-color, 15%));
//    @include igx-dark-theme($green-dark-palette);
//    @include igx-typography($font-family: 'sans-serif');
//
//    .nav-header {
//        @include nav-logo('../assets/images/rsrcs/igniteui-logo-dark-bg', $igx-background-color);
//    }
//}

// .bootstrap-theme {
//     $igx-background-color: igx-color($bootstrap-palette, 'surface');
//     $igx-foreground-color: text-contrast($igx-background-color);

//     background: $igx-background-color;
//     color: $igx-foreground-color;

//     @include scrollbar-love();
//     @include igx-bootstrap-theme($bootstrap-palette);

//     .nav-header {
//         @include nav-logo('../assets/images/rsrcs/igniteui-logo-light-bg', $igx-background-color);
//     }
// }

// .bootstrap-dark-theme {
//     $igx-background-color: igx-color($bootstrap-dark-palette, 'surface');
//     $igx-foreground-color: text-contrast($igx-background-color);

//     background: $igx-background-color;
//     color: $igx-foreground-color;

//     @include scrollbar-love();
//     @include igx-bootstrap-dark-theme($bootstrap-dark-palette);

//     .nav-header {
//         @include nav-logo('../assets/images/rsrcs/igniteui-logo-light-bg', $igx-background-color);
//     }
// }

// .fluent-excel-theme {
//     $igx-background-color: igx-color($fluent-excel-palette, 'surface');
//     $igx-foreground-color: text-contrast($igx-background-color);

//     background: $igx-background-color;
//     color: $igx-foreground-color;

//     @include scrollbar-love();
//     @include igx-fluent-theme($fluent-excel-palette);

//     .nav-header {
//         @include nav-logo('../assets/images/rsrcs/igniteui-logo-light-bg', $igx-foreground-color);
//     }
// }

// .fluent-excel-dark-theme {
//     $igx-background-color: igx-color($fluent-excel-dark-palette, 'surface');
//     $igx-foreground-color: text-contrast($igx-background-color);

//     background: $igx-background-color;
//     color: $igx-foreground-color;

//     @include scrollbar-love(lighten($igx-background-color, 15%));
//     @include igx-fluent-dark-theme($fluent-excel-dark-palette);

//     .nav-header {
//         @include nav-logo('../assets/images/rsrcs/igniteui-logo-light-bg', $igx-foreground-color);
//     }
// }

// .light-square-theme {
//     $igx-background-color: igx-color($purple-palette, 'surface');
//     $igx-foreground-color: text-contrast($igx-background-color);

//     background: $igx-background-color;
//     color: $igx-foreground-color;

//     @include scrollbar-love();
//     @include igx-light-square-theme($purple-palette);

//     .nav-header {
//         @include nav-logo('../assets/images/rsrcs/igniteui-logo-light-bg', $igx-foreground-color);
//     }
// }

// .light-round-theme {
//     $igx-background-color: igx-color($purple-palette, 'surface');
//     $igx-foreground-color: text-contrast($igx-background-color);

//     background: $igx-background-color;
//     color: $igx-foreground-color;

//     @include scrollbar-love();
//     @include igx-theme($palette: $purple-palette, $schema: $light-round-schema);
// }

// @media print {
//     html,
//     body,
//     app-root {
//         min-height: 100vh;
//         min-width: 100vw;
//         margin: 0;
//         display: block;
//         background: transparent !important;
//     }

//     .sample-content,
//     .sample-column,
//     .wrapper {
//         margin: 0;
//         padding: 0;
//     }

//     .sample-header,
//     .sample-description,
//     .sample-title,
//     .no-print,
//     .igx-nav-drawer,
//     .form-title {
//         display: none !important;
//     }

//     ::-webkit-scrollbar {
//         background-color: #fff !important;
//     }

//     ::-webkit-scrollbar-thumb {
//         background-color: #fff !important;
//     }
// }
