@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700');

@import '../../projects/igniteui-angular/src/lib/core/styles/themes/index';
@import '../../projects/igniteui-angular/src/lib/core/styles/themes/presets/dark-green/index';

@import 'mixins';
@import 'app-palettes';
@import 'app-layout';

@include igx-core();

.default-theme {
    $igx-background-color: #fff;
    $igx-foreground-color: text-contrast($igx-background-color);
    background: $igx-background-color;
    color: $igx-foreground-color;
    @include scrollbar-love();

    @include igx-theme($app-palette);
}

.dark-green-theme {
    $igx-background-color: #222;
    $igx-foreground-color: text-contrast($igx-background-color);
    background: $igx-background-color;
    color: $igx-foreground-color;
    @include scrollbar-love($igx-background-color);

    @include igx-theme($app-dark-green-palette, $preset: $dark-green-theme);

    .igniteui-logo__text {
        fill: #fff;
    }

    .igniteui-logo__rocket {
        fill: rgba(white, .38);
    }
}
