.preloader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: #FDF8F0;
}

.preloader-title {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 16px;
}

.preloader-title .funny {
    font-size: 14px;
    font-weight: 400;
}