.initialArea {
    display: flex;
    flex-flow: row;
    height: 100px;
    border: 1px black dotted;
}

.initialArea.dragOver {
    background-color: rgba(0, 128, 0, 0.7);
}

.draggableElem {
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color: #1a8cff;
    text-align: center;
    user-select: none;
    margin: 10px;
    box-shadow: grey 2px 2px 1px;
}

.draggableElem:hover {
    background-color: #0080ff;
}

.cageArea {
    width: 100%;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: #c1c1c1;
    background-repeat: repeat-x;
    background-size: 190px;
}

.cageArea.dragOver {
    background-color: rgba(205, 67, 67, 0.7);
}
