.dialog {
    width: 100px;
    height: 50px;
    background-color: #cccccc;
    color: black;
    display: flex;
    cursor: move;
    user-select: none;
    align-items: center;
    justify-content: center;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0px 0px 3px -2px rgb(20, 20, 20);
}

.dialog:active {
    box-shadow: 0px 5px 15px 3px rgb(20, 20, 20);
}

.dragWithGhostDefault {
    width: 100px;
    height: 50px;
    background-color: #cccccc;
    color: black;
    display: flex;
    cursor: move;
    user-select: none;
    align-items: center;
    justify-content: center;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0px 0px 3px -2px rgb(20, 20, 20);
}

.dragWithGhostPlaceholder {
    width: 100px;
    height: 50px;
    background-color: transparent;
    color: black;
    display: flex;
    cursor: move;
    user-select: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px 0px rgb(20, 20, 20);
}

.customGhost {
    width: 100px;
    height: 50px;
    background-color: #cccccc;
    color: black;
    display: flex;
    cursor: move;
    user-select: none;
    align-items: center;
    justify-content: center;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0px 5px 15px 3px rgb(20, 20, 20);
}

.dialogHeader {
    display: flex;
    flex-flow: row;
    vertical-align: center;
    font-size: 1.5em;
    position: relative;
}

.dialogHandle {
    margin: 10px;
    cursor: move;
    user-select: none;
    position: absolute;
    right: 0;
}

.myClass {
    user-select: none;
}

.initialArea {
    display: flex;
    flex-flow: row;
    height: 100px;
    border: 1px black dotted;
}

.initialArea.dragOver {
    background-color: rgba(0, 128, 0, 0.7);
}

.draggableElem {
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color: #1a8cff;
    text-align: center;
    user-select: none;
    margin: 10px;
    box-shadow: grey 2px 2px 1px;
}

.draggableElem:hover {
    background-color: #0080ff;
}

.cageArea {
    width: 100%;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: #c1c1c1;
    background-repeat: repeat-x;
    background-size: 190px;
}

.cageArea.dragOver {
    background-color: rgba(205, 67, 67, 0.7);
}

.listArea {
    width: 300px;
    min-height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.26), 0 3px 3px 0 rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.08);
    background-color: #333333;
}

.listItem {
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    background-color: #333333;
    position: relative;
}
