.initialArea {
    display: flex;
    flex-flow: row;
    height: 100px;
    border: 1px black dotted;
}

.initialArea.dragOver {
    background-color: #0080007d;
}

.draggableElem {
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color: #1a8cff;
    text-align: center;
    user-select: none;
    margin: 10px;
    box-shadow: grey 2px 2px 1px;
}

.draggableElem:hover {
    background-color: #0080ff;
}

.cageArea {
    width: 100%;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: #c1c1c1;
    background-image: url(http://globaltechled.com/wp-content/uploads/2014/11/Jail-Bars-1.png); 
    background-repeat: repeat-x;
    background-size: 100px;
}

.cageArea.dragOver {
    background-color: #cd4343b5;
}
