<div class="wrapper">
    <igx-grid #grid [data]="data2" [allowFiltering]="true" [cellSelection]="'none'" [width]="'1200px'"
    [height]="'700px'" rowSelection="multiple">
    <igx-column field="STATUS" header="Status" width="200px" [groupable]="true" [sortable]="true">
    </igx-column>
    <igx-column field="FIELD" header="Field" width="200px" [groupable]="true" [sortable]="true">
    </igx-column>

</igx-grid>
    <igx-switch [(ngModel)]="hideGroupedColumns" (change)="toggleGroupedVisibility($event)">Toggle Hiding Of Grouped
        Columns</igx-switch>
    <br />
    <igx-switch (change)="toggleSummaryPosition()">Toggle Summary Position</igx-switch>
    <br />
    <button igxButton="raised" (click)="grid1.showSummaryOnCollapse = !grid1.showSummaryOnCollapse">
        {{ grid1.showSummaryOnCollapse }}</button> - Show summary on collapse
    <br />
    <button igxButton="raised"
        (click)="grid1.hideRowSelectors ? grid1.hideRowSelectors = false : grid1.hideRowSelectors = true">
        {{ grid1.hideRowSelectors ? 'Show' : 'Hide' }} row selectors
    </button>
    <button igxButton="raised" (click)="grid1.rowDraggable ? grid1.rowDraggable = false : grid1.rowDraggable = true">
        {{ grid1.rowDragging ? 'Enable' : 'Disable' }} row dragging
    </button>
    <div class="separator"></div>
    <button igxButton="raised" [igxToggleAction]="dropDownRowSelection"
        [igxDropDownItemNavigation]="dropDownRowSelection" displayDensity="comfortable">Row Selection:
        {{grid1.rowSelection}}</button>
    <igx-drop-down #dropDownRowSelection (onSelection)="onRowSelection($event)" displayDensity="comfortable">
        <igx-drop-down-item *ngFor="let item of selectionModes">
            {{ item }}
        </igx-drop-down-item>
    </igx-drop-down>
    <div class="density-chooser" style="margin-bottom: 16px">
        <igx-buttongroup [values]="summaryModes" (selected)="selectSummaryMode($event)"
            style="display: block; width: 500px"></igx-buttongroup>
    </div>
    <igx-grid #grid1 [data]="data" [allowFiltering]="true" [cellSelection]="'single'" [width]="'1200px'"
        [hideGroupedColumns]="hideGroupedColumns" [height]="'700px'" [(groupingExpansionState)]='expState'
        [summaryCalculationMode]="summaryMode" [summaryPosition]="position" [rowDraggable]="true">
        <igx-column *ngFor="let c of columns" [sortable]="true" [field]="c.field" [header]="c.field" [width]="c.width"
            [hidden]='c.hidden' [sortable]="true" [groupable]='c.groupable' [movable]='true' [pinned]='!!c.pinned'
            [editable]="true" [hasSummary]="true" [dataType]='c.dataType'>
        </igx-column>
        <!--<ng-template igxGroupByRow let-groupRow>
            <span>Total items with value:"{{ groupRow.value }}" are {{ groupRow.records.length }}</span>
        </ng-template>-->

        <!-- <ng-template igxGroupByRowSelector let-context>
            <p>Selected rows in the group: {{context.selectedCount}};<p>
            <p>Total rows in the group: {{context.totalCount}};<p>
            <p>Group Row instance: {{context.groupRow}};<p>
        </ng-template> -->

    </igx-grid>
    <br />

    <button igxButton="raised" (click)="groupBy('CompanyName')">Group/Ungroup 'CompanyName'</button>
    <button igxButton="raised" (click)="groupBy('ContactTitle')">Group/Ungroup 'ContactTitle'</button>
    <button igxButton="raised" (click)="groupBy('City')">Group/Ungroup 'City'</button>
    <button igxButton="raised" (click)="groupBy('PostalCode')">Group/Ungroup 'PostalCode'</button>
    <button igxButton="raised" (click)="getRowsList()">Get rowslist'</button>
    <button igxButton="raised" (click)="getState()">Get state</button>

    <br />
    <button igxButton="raised" (click)="groupMultiple()">Group "Contact Title", "Address", "Country"</button>
    <button igxButton="raised" (click)="ungroupMultiple()">Ungroup "Address", "Country"</button>
    <button igxButton="raised" (click)="groupUngroupMultiple()">Ungroup "CompanyName", group "ContactTitle",
        "Address"</button>
    <br />
    <button igxButton="raised" (click)="toggleDensity()">Toggle density</button>
    <div>Current Display Density: {{displayDensityOptions.displayDensity}}</div>

    <button igxButton="raised" (click)="hideGroupableRow()">Show/Hide groupable row</button>
    <button (click)="this.grid1.selectionService.selectRowsWithNoEvent([this.data.slice(1, 5)], false)">Click</button>
</div>
