:host {
    display: block;
    height: 265vh;
}

.wrapper {
    margin: 24px;
}
.separator {
    padding-top: 5px;
    padding-bottom: 15px;
}

[igxButton] {
    margin-right: 8px;
    margin-bottom: 8px;
}

.size {
    --ig-size: var(--ig-size-large);
}