<div class="sample-content">
    <article class="grid-row-edit-wrapper">
        <h4>Grid without transactions</h4>
        <igx-switch [(ngModel)]="rowEditNoTransactions">Row edit</igx-switch>
        <igx-grid validationTrigger='change' (validationStatusChange)='validationChange($event)' (cellEdit)='cellEdit($event)' (formGroupCreated)='formCreateHandler($event)' #gridNoTransactions primaryKey="ProductID" [data]="data" [rowEditable]="rowEditNoTransactions"
        [width]="'1200px'" [height]="'800px'">
        <igx-column field='ProductID' [editable]='false'></igx-column>
        <igx-column field='ProductName' appForbiddenName='bob' required [editable]='true'>
            <ng-template igxCellValidationError let-cell='cell' let-defaultErr='defaultErrorTemplate'>
                <ng-container *ngTemplateOutlet="defaultErr" >
                </ng-container>
                <div *ngIf="cell.validation.errors?.['forbiddenName']">
                    This name is forbidden.
                </div>
            </ng-template>
        </igx-column>
        <igx-column field='UnitPrice' required min='0' max='100' [editable]='true'></igx-column>
        <igx-column field='UnitsInStock' required min='0' max='200' [editable]='true'></igx-column>
        <igx-action-strip #actionStrip1>
            <igx-grid-pinning-actions></igx-grid-pinning-actions>
            <igx-grid-editing-actions [addRow]="true"></igx-grid-editing-actions>
        </igx-action-strip>
    </igx-grid>
    <button (click)='clearValidity()'>Clear validity</button>
    </article>
    <article class="grid-row-edit-wrapper">
        <h4>Grid with transactions</h4>
        <igx-switch [(ngModel)]="rowEditWithTransactions">Row edit</igx-switch>
        <igx-grid  (validationStatusChange)='validationChange($event)'  #gridTransactions [batchEditing]="true" primaryKey="ProductID" [data]="transactionData" [rowEditable]="rowEditWithTransactions"
            [width]="'1200px'" [height]="'800px'" >
            <igx-column field='ProductID' [editable]='false'></igx-column>
            <igx-column field='ProductName' appForbiddenName='bob' required [editable]='true'>
                <ng-template igxCellValidationError let-cell='cell' let-defaultErr='defaultErrorTemplate'>
                    <ng-container *ngTemplateOutlet="defaultErr" >
                    </ng-container>
                    <div *ngIf="cell.validation.errors?.['forbiddenName']">
                        This name is forbidden.
                    </div>
                </ng-template>
            </igx-column>
            <igx-column field='UnitPrice' required min='0' max='100' [editable]='true'></igx-column>
            <igx-column field='UnitsInStock' required min='0' max='200' [editable]='true'></igx-column>
            <igx-action-strip #actionStrip1>
                <igx-grid-pinning-actions></igx-grid-pinning-actions>
                <igx-grid-editing-actions [addRow]="true"></igx-grid-editing-actions>
            </igx-action-strip>
        </igx-grid>
        <button (click)='updateRow(1)'>Update row</button>
        <button (click)='updateCell(1)'>Update cell</button>
        <button (click)='commitWithTransactions()'>Commit</button>
        <button (click)='undo()'>Undo</button>
        <button (click)='redo()'>Redo</button>
    </article>


    <article class="grid-row-edit-wrapper">
        <h4>TreeGrid</h4>
        <igx-tree-grid #treegrid [data]="treeData" primaryKey="employeeID"
        foreignKey="PID" [width]="'900px'" [height]="'800px'" [rowEditable]="true" [moving]="true">
        <igx-column *ngFor="let c of treeColumns" [field]="c.field" [dataType]="c.dataType" [header]="c.label"
            [pinned]="c.pinned" [groupable]="false" [resizable]="c.resizable" [width]="c.width"
            [sortable]="true" [filterable]="true" [editable]="true" [hidden]="c.hidden" [minWidth]="c.minWidth"
            [maxWidth]="c.maxWidth" required>
        </igx-column>
        <igx-action-strip #actionstrip>
            <igx-grid-editing-actions [addRow]="true" [addChild]="actionstrip.context?.treeRow.level < 1">
            </igx-grid-editing-actions>
        </igx-action-strip>
    </igx-tree-grid>
    </article>


    <article class="grid-row-edit-wrapper">
        <h4>Hierarchical Grid</h4>
        <igx-hierarchical-grid #hgrid [data]="hGridData" primaryKey="EmployeeID"
         [width]="'900px'" [height]="'550px'" [rowEditable]="true" [moving]="true">
        <igx-column *ngFor="let c of hColumns" [field]="c.field" required editable='true'>
        </igx-column>
        <igx-row-island [key]="'Orders'" [autoGenerate]="false">
            <igx-column *ngFor="let c of hColumns2" [field]="c.field" required appForbiddenName='bob' editable='true'>
                <ng-template igxCellValidationError let-cell='cell' let-defaultErr='defaultErrorTemplate'>
                    <ng-container *ngTemplateOutlet="defaultErr" >
                    </ng-container>
                    <div *ngIf="cell.validation.errors?.['forbiddenName']">
                        This name is forbidden.
                    </div>
                </ng-template>
            </igx-column>
    </igx-row-island>
    </igx-hierarchical-grid>
    </article>
