<div class="sample-content">
    <article class="grid-row-edit-wrapper">
        <h4>Grid without transactions</h4>
        <igx-switch [(ngModel)]="rowEditNoTransactions">Row edit</igx-switch>
        <igx-grid (validationStatusChange)='validationChange($event)' (cellEdit)='cellEdit($event)' (onFormGroupCreate)='formCreateHandler($event)' #gridNoTransactions primaryKey="ProductID" [data]="data" [rowEditable]="rowEditNoTransactions"
        [width]="'1200px'" [height]="'800px'">
        <igx-column appForbiddenName='bob' required *ngFor="let c of columns" [editable]='true' [sortable]="true" [filterable]="true" [field]="c.field"
            [header]="c.field" [width]="c.width" [resizable]='true'>
            <ng-template igxCellValidationError let-cell='cell'>
                <div *ngIf="cell.formGroup?.get(cell.column?.field).errors?.['required']">
                    This name is required.
                </div>
                <div *ngIf="cell.formGroup?.get(cell.column?.field).errors?.['forbiddenName']">
                    This name is forbidden.
                </div>
            </ng-template>
        </igx-column>
    </igx-grid>
    <button (click)='commitNoTransactions()'>Commit</button>
    </article>
    <article class="grid-row-edit-wrapper">
        <h4>Grid with transactions</h4>
        <igx-switch [(ngModel)]="rowEditWithTransactions">Row edit</igx-switch>
        <igx-grid #gridTransactions [batchEditing]="true" primaryKey="ProductID" [data]="transactionData" [rowEditable]="rowEditWithTransactions"
            [width]="'1200px'" [height]="'800px'" >
            <igx-column appForbiddenName='bob' required *ngFor="let c of columns" [editable]='true' [sortable]="true" [filterable]="true" [field]="c.field"
                [header]="c.field" [width]="c.width" [resizable]='true'>
                <ng-template igxCellValidationError let-cell='cell'>
                    <div *ngIf="cell.formGroup?.get(cell.column?.field).errors?.['required']">
                        This name is required.
                    </div>
                    <div *ngIf="cell.formGroup?.get(cell.column?.field).errors?.['forbiddenName']">
                        This name is forbidden.
                    </div>
                </ng-template>
            </igx-column>
        </igx-grid>
        <button (click)='commitWithTransactions()'>Commit</button>
    </article>