<div class="sample-content">
    <article class="grid-row-edit-wrapper">
        <h4>Grid without transactions</h4>
        <igx-switch [(ngModel)]="rowEditNoTransactions">Row edit</igx-switch>
        <igx-grid validationTrigger='change' (validationStatusChange)='validationChange($event)' (cellEdit)='cellEdit($event)' (formGroupCreated)='formCreateHandler($event)' #gridNoTransactions primaryKey="ProductID" [data]="data" [rowEditable]="rowEditNoTransactions"
        [width]="'1200px'" [height]="'800px'">
        <igx-column appForbiddenName='bob' minlength="4" maxlength='8' required *ngFor="let c of columns" [editable]='true' [sortable]="true" [filterable]="true" [field]="c.field"
            [header]="c.field" [width]="c.width" [resizable]='true'>
            <!-- <ng-template igxCellEditor let-cell="cell" let-value let-formControl='formControl'>
                <input [igxFocus]="true"
                [formControl]="formControl"/>
            </ng-template> -->
        </igx-column>
        <igx-action-strip #actionStrip1>
            <igx-grid-pinning-actions></igx-grid-pinning-actions>
            <igx-grid-editing-actions [addRow]="true"></igx-grid-editing-actions>
        </igx-action-strip>
    </igx-grid>
    <button (click)='clearValidity()'>Clear validity</button>
    </article>
    <article class="grid-row-edit-wrapper">
        <h4>Grid with transactions</h4>
        <igx-switch [(ngModel)]="rowEditWithTransactions">Row edit</igx-switch>
        <igx-grid  (validationStatusChange)='validationChange($event)'  #gridTransactions [batchEditing]="true" primaryKey="ProductID" [data]="transactionData" [rowEditable]="rowEditWithTransactions"
            [width]="'1200px'" [height]="'800px'" >
            <igx-column appForbiddenName='bob'  minlength="4" maxlength='8' required *ngFor="let c of columns" [editable]='true' [sortable]="true" [filterable]="true" [field]="c.field"
                [header]="c.field" [width]="c.width" [resizable]='true'>
                <ng-template igxCellValidationError let-cell='cell'>
                    <ng-container *ngTemplateOutlet="cell.defaultErrorTemplate" >
                    </ng-container>
                    <div *ngIf="cell.errors?.['forbiddenName']">
                        This name is forbidden.
                    </div>
                </ng-template>
            </igx-column>
            <igx-action-strip #actionStrip1>
                <igx-grid-pinning-actions></igx-grid-pinning-actions>
                <igx-grid-editing-actions [addRow]="true"></igx-grid-editing-actions>
            </igx-action-strip>
        </igx-grid>
        <button (click)='commitWithTransactions()'>Commit</button>
        <button (click)='undo()'>Undo</button>
        <button (click)='redo()'>Redo</button>
    </article>