.grid-row-edit-wrapper {
    flex-flow: row wrap;
    padding: 2rem;
}
.dialog__header {
    font-weight: 800;
}

.dialog__container {
    width: 840px;
    min-height: 420px;
    background: #FFF;
}
.dialog__body {
    padding: 4px;
    height: 350px;
}

.properties-toggle {
    margin-right: 16px;
}

.properties-input {
    width: 320px;
}
.properties-input > label {
    min-width: 88px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
    padding-right: 8px;
}
.properties-input > select, .properties-input > input {
    width: 192px;
    height: 32px;
    padding: 4px;
    font-size: 16px;
}

.igx-switch {
    min-width: 160px;
}

.red {
    color: #aa2222;
}
.green {
    color: #22aa22;
}

.blue {
    color: #2222aa;
}

[igxButton="contained"] {
    margin: 0.5rem;
}
