.sample-header {
    padding: 48px 36px;
    background: #f6e7ec;
    box-shadow: inset 0 -2px 3px 0 rgba(0, 0, 0, .07);
}

.sample-header .title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    line-height: 1rem;
    color: #ec6f74;
    font-weight: normal;
    margin: 0;
}

.sample-header .description {
    color: #717171;
    margin-top: 48px;
}

.ham-button {
    width: 40px !important;
    height: 40px !important;
    margin-right: 16px;
}
