<ng-template #defaultTabTemplate>
    <div *ngIf="relatedGroup.icon" class="igx-tabs__header-menu-item-icon">
        <igx-icon fontSet="material" [name]="relatedGroup.icon"></igx-icon>
        <igx-badge [value]="changesCount" [hidden]="changesCount === 0"></igx-badge>
    </div>
    <div *ngIf="relatedGroup.label" ngClass="igx-tabs__item-label">{{relatedGroup.label}}</div>

</ng-template>
<ng-container *ngTemplateOutlet="relatedGroup.customTabTemplate ? relatedGroup.customTabTemplate : defaultTabTemplate; context: { $implicit: relatedGroup }">
</ng-container>