<div #tabsContainer>
    <div #headerContainer style="display: flex; overflow: hidden; position: relative; height: 48px;">
       
        <div style="display: flex; width: 40px; z-index:2">
            <button igxButton="icon" [disabled]="!isScrollable" (click)="left($event)">
                <igx-icon fontSet="material" name="chevron_left"></igx-icon>
            </button>
        </div>

        <div #tablist role="tablist" aria-orientation="horizontal" style="display: flex; flex-grow: 1; overflow: hidden; z-index: 1;">
            <div style="display: flex;">
              <div #tabmenu style="display:flex; flex-direction: row; overflow: hidden;" >
                <igx-tab-item *ngFor="let group of groups" [id]="'igx-tab-item-' + group.index" [attr.aria-label]="group.label" [attr.aria-disabled]="group.isDisabled"
                    [attr.aria-selected]="group.isSelected" [attr.aria-controls]="'igx-tab-item-group-'+ group.index" [ngClass]="{
                 'igx-tabs__menu-item': !group.isSelected && !group.isDisabled,
                 'igx-tabs__menu-item--selected': group.isSelected,
                 'igx-tabs__menu-item--disabled': group.isDisabled }" 
                 [relatedGroup]="group" (click)="group.select()" role="tab" >
                </igx-tab-item>
                </div>
            </div>
        </div>

        <div style="display: flex; width: 40px;z-index:2">
            <button igxButton="icon" [disabled]="!isScrollable" (click)="right($event)">
                <igx-icon fontSet="material" name="chevron_right"></igx-icon>
            </button>
        </div>

    </div>

    <div>
        <ng-content></ng-content>
    </div>

</div>