<input id="searchbox" />
<ig-list searchInputId="searchbox" (filtered)="filteredHandler($event)" (filtering)="filteringHandler($event)">
    <ig-list-header>Filtered List</ig-list-header>     
    <ig-list-item *ngFor="let navItem of navItems; let index = index" [options]="options">
      {{navItem.text}}
    </ig-list-item>
</ig-list>

<ig-list >
  <ig-list-header>Href List</ig-list-header>     
  <ig-list-item [href]="'http://google.com/'">Google</ig-list-item>
  <ig-list-item [href]="'http://youtube.com/'">YouTube</ig-list-item>
  <ig-list-item [href]="'http://facebook.com/'">Facebook</ig-list-item>
</ig-list>

<ig-list>
  <ig-list-header>Mildly Sweet</ig-list-header>                                                                                                           
  <ig-list-item>Red Delicious</ig-list-item>
  <ig-list-item>Ambrosia</ig-list-item>
  <ig-list-item>Rome</ig-list-item>

  <ig-list-header>Sweet</ig-list-header>
  <ig-list-item>Golden Delicious</ig-list-item>
  <ig-list-item>Cosmic Crisp</ig-list-item>
  <ig-list-item>Pinova</ig-list-item>
</ig-list>
<h3>Non-header List</h3>
<ig-list>
  <ig-list-item *ngFor="let navItem of navItems; let index = index">
    {{navItem.text}}
    <!-- <button ig-button class="ig-icon-button ig-delete" aria-label="Delete" (click)="removeItem(index)">
      <i ig-icon>delete</i>
    </button> -->
  </ig-list-item>
</ig-list>