<h1 class="componentTitle">Button</h1>
<p class="componentDesc">A directive that applies button functionality to an element.</p>

<div class="flex-column  space-wrapper justify-content-start">

    <div class="flex-container flex-wrap justify-content-b">
        <button igxButton="flat" igxRipple>Flat</button>

        <button igxButton="raised" igxRipple="white">Raised</button>

        <button igxButton="raised" igxButtonColor="#FBB13C" igxButtonBackground="#340068" igxRipple="white">Raised Custom</button>

        <button igxButton="gradient" igxRipple="white">Gradient Button</button>

        <button igxButton="raised" [disabled]="true">Disabled</button>
    </div>

    <div class="special-position flex-column">
        <span igxButton="fab" igxButtonColor="#484848" igxButtonBackground="white" igxRipple="#484848">
            <i class="material-icons">edit</i>
        </span>

        <span igxButton="fab" igxRipple="white">
            <i class="material-icons">add</i>
        </span>
    </div>

    <div class="flex-container">
        <span igxButton="icon" igxRipple igxRippleCentered="true">
            <i class="material-icons">search</i>
        </span>

        <span igxButton="icon" igxRipple igxButtonColor="#E41C77" igxRippleCentered="true">
            <i class="material-icons">favorite</i>
        </span>

            <span igxButton="icon" igxRipple igxRippleCentered="true">
            <i class="material-icons">more_vert</i>
        </span>
    </div>
</div>


