<div class="columns-container">
    <article class="title">
        <h4 class="sample-title">Angular Button</h4>
        <h4 class="sample-title">WC Button</h4>
    </article>

    <div class="buttons-sample" [style.--ig-size]="'var(--ig-size-' + properties.size + ')'">
        <div class="button-sample">
            <button [igxButton]="properties.variant" [disabled]="properties.disabled">
                <igx-icon *ngIf="hasPrefix">face</igx-icon>
                <span>Button</span>
                <igx-icon *ngIf="hasSuffix">face</igx-icon>
            </button>
        </div>
        <div class="button-sample">
            <igc-button [variant]="properties.variant" [disabled]="properties.disabled">
                <igc-icon *ngIf="hasPrefix" slot="prefix" name="face"></igc-icon>
                Button
                <igc-icon *ngIf="hasSuffix" slot="suffix" name="face"></igc-icon>
            </igc-button>
        </div>
    </div>

    <ng-template #customControls>
        <div class="custom-controls">
            <igx-switch id="addPrefix" [(ngModel)]="hasPrefix">
                <label for="addPrefix">Add prefix</label>
            </igx-switch>

            <igx-switch id="addSuffix" [(ngModel)]="hasSuffix">
                <label for="addSuffix">Add suffix</label>
            </igx-switch>
        </div>
    </ng-template>
</div>
