$component-name: 'igx-badge';

$components: register-component($components, #{$component-name});

@function igx-badge-theme(
    $icon-color: null,
    $text-color: null,
    $border-color: null,
    $border-radius: null,
    $background-color: null,
    $disable-shadow: true,
    $disable-border: true
) {

    @if not($icon-color) and $background-color {
        $icon-color: text-contrast($background-color);
    }

    @if not($text-color) and $background-color {
        $text-color: text-contrast($background-color);
    }

    @return (
        icon-color: $icon-color,
        text-color: $text-color,
        border-color: $border-color,
        border-radius: $border-radius,
        background-color: $background-color,
        disable-shadow: $disable-shadow,
        disable-border: $disable-border
    );
}

@mixin igx-badge($theme, $palette: $default-palette) {
    $default-theme: igx-badge-theme(
        $icon-color: $white,
        $text-color: $white,
        $border-color: $white,
        $background-color: igx-color($palette, 'primary', 500),
        $border-radius: 4px
    );

    $this: extend($default-theme, $theme);

    $badge-width: 22px;
    $badge-height: $badge-width;

    $badge-border-radius-circle: $badge-width / 2;

    $badge-font-size: rem(11px);
    $badge-font-weight: 600;
    $badge-line-height: 2px;

    $badge-icon-font-size: rem(12px);

    $badge-value-padding: 4px;
    $badge-shadow: igx-elevation($elevations, 1);

    $border-width: 1px;
    $border-type: solid;

    @if map-get($this, 'disable-shadow') {
        $badge-shadow: none;
    }

    @if map-get($this, 'disable-border') {
        $border-width: 0;
    }

    %igx-badge-display {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $badge-width;
        height: $badge-height;
        font-size: $badge-font-size;
        font-weight: $badge-font-weight;
        color: map-get($this, 'text-color');
        line-height: $badge-line-height;
        border: $border-width $border-type map-get($this, 'border-color');
        border-radius: map-get($this, 'border-raduis');
        box-shadow: $badge-shadow;
        overflow: hidden;

        igx-icon {
            width: $badge-icon-font-size;
            height: $badge-icon-font-size;
            font-size: $badge-icon-font-size;
            font-weight: $badge-font-weight;
            color: map-get($this, 'icon-color');
        }
    }

    %igx-badge-value {
        white-space: nowrap;
        padding: $badge-value-padding;
    }

    %igx-badge--circle {
        border-radius: $badge-border-radius-circle;
    }

    %igx-badge--default {
        background-color: map-get($this, 'background-color');
    }

    %igx-circle--success {
        background-color: igx-color($palette, 'success');
    }

    %igx-badge--info {
        background-color: igx-color($palette, 'info');
    }

    %igx-circle--warn {
        background-color: igx-color($palette, 'warn');
    }

    %igx-circle--error {
        background-color: igx-color($palette, 'error');
    }

    %igx-badge--hidden {
        visibility: hidden;
    }
}
