$component-name: 'igx-badge';

$components: register-component($components, #{$component-name});

@function igx-badge-theme($text-color: null, $border-color: null, $background-color: null) {
    @return (
        text-color: $text-color,
        border-color: $border-color,
        background-color: $background-color
    );
}

@mixin igx-badge($theme, $palette: $default-palette) {
    $default-theme: igx-badge-theme(
        // This variables should be defined in the theme function above with :null value and in return statement.
        $text-color: $white,
        $border-color: igx-color($palette, primary, 500),
        $background-color: igx-color($palette, accent, 500)
    );

    $this: extend($default-theme, $theme);

    // TODO remove all commented variables in this list, after the component is done.
    $badge-width: 22px !default;
    $badge-height: $badge-width !default;
    $badge-border: 0 solid $white !default;
    /* $badge-border-color: $white !default;*/
    $badge-border-radius-default: 4px !default;
    $badge-border-radius-circle: $badge-width / 2 !default;
    $badge-font-size: em(10px) !default;
    $badge-font-weight: 600 !default;
    $badge-shadow: $elevate-1 !default;
    $badge-line-height: 2px !default;
    $badge-icon-font-size: em(11px, 16px) !default;
    $badge-value-padding: 4px !default;
    $badge-info-background: igx-color($palette, 'primary');
    $badge-warn-background: igx-color($palette, 'warn');
    $badge-error-background: igx-color($palette, 'warn', 900);

    %igx-badge-display {
        position: absolute;
        max-width: 100%;
    }

    %igx-badge--default {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $badge-width;
        height: $badge-height;
        font-size: $badge-font-size;
        font-weight: $badge-font-weight;
        color: map-get($this, text-color);
        background-color: map-get($this, background-color);
        border: $badge-border;
        border-color: map-get($this, border-color);
        line-height: $badge-line-height;
        border-radius: $badge-border-radius-default;
        box-shadow: $badge-shadow;
        overflow: hidden;

        i {
            font-size: $badge-icon-font-size;
            font-weight: $badge-font-weight;
        }
    }

    %igx-badge-value {
        white-space: nowrap;
        padding: $badge-value-padding;
    }

    %igx-badge--circle {
        border-radius: $badge-border-radius-circle;
    }

    %igx-circle--success {
        background-color: $success-color;
    }

    %igx-badge--info {
        background-color: $badge-info-background;
    }

    %igx-circle--warn {
        background-color: $badge-warn-background;
    }

    %igx-circle--error {
        background-color: $badge-error-background;
    }

    %igx-badge--hidden {
        visibility: hidden;
    }

    %igx-badge-pos-tl {
        top: -5px;
        left: -5px;
    }

    %igx-badge-pos-tr {
        top: -5px;
        right: -5px;
    }

    %igx-badge-pos-bl {
        bottom: -5px;
        left: -5px;
    }

    %igx-badge-pos-br {
        bottom: -5px;
        right: -5px;
    }

    %igx-badge--scale-in {
        animation: scale-in .25s ease-in backwards;
    }
}
