////
/// @group components
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
/// @requires {mixin} bem-block
/// @requires {mixin} bem-elem
/// @requires {mixin} bem-mod
////
@include b(igx-grid) {
    $this: bem--selector-to-string(&);
    @include register-component(str-slice($this, 2, -1));

    @extend %grid-display !optional;

    @include e(caption) {
        @extend %grid-caption !optional;
    }

    @include e(thead) {
        @extend %grid-thead !optional;

        igx-display-container {
            @extend %grid-display-container-thead !optional;
        }
    }

    @include e(tfoot) {
        @extend %grid-tfoot !optional;
    }

    @include e(tbody) {
        @extend %grid-tbody !optional;
    }

    @include e(tbody, $m: empty) {
        @extend %grid-tbody--empty !optional;
    }

    @include e(tr) {
        @extend %grid-row !optional;

        igx-display-container {
            @extend %grid-display-container-tr !optional;
        }
    }

    @include e(tr, $m: selected) {
        @extend %grid-row--selected !optional;
    }

    @include e(th) {
        @extend %grid-cell-display !optional;
        @extend %grid-cell-header !optional;
        $block: bem--selector-to-string(&);

        &.asc {
            @extend %grid-sorting-display !optional;
            @extend %grid-sorting-asc !optional;
        }

        &.desc {
            @extend %grid-sorting-display !optional;
            @extend %grid-sorting-desc !optional;
        }
    }

    @include e(th, $m: number) {
        @extend %grid-cell-number !optional;
    }

    @include e(th, $m: fw) {
        @extend %grid-cell--fixed-width !optional;
    }

    @include e(td) {
        @extend %grid-cell-display !optional;
    }

    @include e(td, $m: selected) {
        @extend %grid-cell--selected !optional;
    }

    @include e(td, $m: number) {
        @extend %grid-cell-number !optional;
    }

    @include e(td, $m: fw) {
        @extend %grid-cell--fixed-width !optional;
    }
}
