@use 'sass:map';
@use '../../../../../projects/igniteui-angular/src/lib/core/styles/themes' as *;

$flat-foreground: hsla(var(--ig-gray-900));
$flat-background: hsla(var(--ig-gray-200));
//$elevations: null,
//$background: null,
//$foreground: null,
//$hover-background: null,
//$hover-foreground: null,
//$focus-background: null,
//$focus-foreground: null,
//$focus-visible-background: null,
//$focus-visible-foreground: null,
//$active-background: null,
//$active-foreground: null,
//$border-radius: null,
//$border-color: null,
//$hover-border-color: null,
//$focus-border-color: null,
//$focus-visible-border-color: null,
//$active-border-color: null,
//$shadow-color: null,
//$disabled-background: null,
//$disabled-foreground: null,
//$disabled-border-color: null,
//$size: null,

$_base-schema: $light-material-schema;

$_flat-button: extend(map.get($_base-schema, button, flat), (
  foreground: $flat-foreground,
  hover-foreground: $flat-foreground,
  hover-background: $flat-background,
  focus-foreground: $flat-foreground,
  focus-background: $flat-background,
  focus-visible-foreground: $flat-foreground,
  focus-visible-background: $flat-background,
  active-foreground: $flat-foreground,
  active-background: $flat-background,
  disabled-foreground: hsla(var(--ig-gray-400)),
  border-radius: rem(6px),
));

$_raised-button: extend(map.get($_base-schema, button, raised), (
  resting-elevation: 0,
  hover-elevation: 0,
  focus-elevation: 0,
  active-elevation: 0,
  hover-foreground: var(--ig-primary-900-contrast),
  hover-background: hsla(var(--ig-primary-400)),
  focus-foreground: var(--ig-primary-900-contrast),
  focus-background: hsla(var(--ig-primary-400)),
  active-foreground: var(--ig-primary-600-contrast),
  active-background: hsla(var(--ig-primary-600)),
  disabled-background: hsla(var(--ig-gray-200)),
  disabled-foreground: hsla(var(--ig-gray-400)),
  disabled-border-color: hsla(var(--ig-gray-300)),
  border-radius: rem(6px),
  default-size: 2,
));

$_outlined-button: extend(map.get($_base-schema, button, outlined), (
  background: hsla(var(--ig-surface-500)),
  foreground: hsla(var(--ig-gray-900)),
  hover-background: hsla(var(--ig-surface-500)),
  hover-foreground: hsla(var(--ig-primary-400)),
  focus-background: hsla(var(--ig-surface-500)),
  focus-foreground: hsla(var(--ig-primary-400)),
  focus-visible-background: hsla(var(--ig-surface-500)),
  focus-visible-foreground: hsla(var(--ig-primary-400)),
  active-foreground: hsla(var(--ig-primary-600)),
  active-background: hsla(var(--ig-surface-500)),
  border-color: hsla(var(--ig-gray-300)),
  hover-border-color: hsla(var(--ig-gray-300)),
  focus-border-color: hsla(var(--ig-gray-300)),
  focus-visible-border-color: hsla(var(--ig-gray-300)),
  active-border-color: hsla(var(--ig-primary-600)),
  disabled-background: hsla(var(--ig-gray-200)),
  disabled-foreground: hsla(var(--ig-gray-400)),
  disabled-border-color: hsla(var(--ig-gray-300)),
  border-radius: rem(6px),
));

$_fab-button: extend(map.get($_base-schema, button, fab), (

));

$_button-schema: extend(map.get($_base-schema, 'button'), (
  flat: $_flat-button,
  raised: $_raised-button,
  outlined: $_outlined-button,
  fab: $_fab-button,
));

@mixin component() {
  @include button(
      button-theme(
          extend($_base-schema, (button: $_button-schema))
      )
  );
}


