.progress-linear {
        width: 100%;
        height: 20px;
        background-color: #F0F8FF;
        border: 1px solid black;
        border-radius: 5px;
}
    .progress-bar {
                height: 100%
    }
        .progress-bar-danger {
            background-color: #d9534f;
        }
        .progress-bar-warning {
            background-color: #f0ad4e;
        }
        .progress-bar-info {
            background-color: #5bc0de;
        }
        .progress-bar-success {
            background-color: #5cb85c;
        }
        .progress-bar-default {
            background-color: #337ab7;
        }

.progress-striped > div{
    background-image:
    -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,
    transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,
    rgba(255,255,255,.15) 75%,
    transparent 75%,transparent);

    background-image:
    -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,
    transparent 25%,transparent 50%,
    rgba(255,255,255,.15) 50%,
    rgba(255,255,255,.15) 75%,
    transparent 75%,transparent);

    background-image:
    linear-gradient(45deg,rgba(255,255,255,.15) 25%,
    transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,
    rgba(255,255,255,.15) 75%,
    transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progress-animated > div {
    transition: width 1s linear;
}