.grid-container {
    display: flex;
    padding: 20px;
}

.grid-container .drop-area {
    height: 500px;
    width: 50%;
    margin: 10px 20px;
}

.empty-grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}
