<div class="sample-column">
    <div class="density-chooser">
        <igx-buttongroup [values]="summaryModes" (selected)="selectSummaryMode($event)"></igx-buttongroup>
    </div>
    <div class="density-chooser">
        <igx-buttongroup [values]="sizes" (selected)="selectDensity($event)"></igx-buttongroup>
    </div>

    <h4 class="sample-title">Primary/Foreign key</h4>
    <igx-tree-grid #grid1 [moving]="true" [data]="data1" primaryKey="employeeID" foreignKey="PID"
        [loadChildrenOnDemand]="loadChildren" hasChildrenKey="hasEmployees" [batchEditing]="true"
        [rowSelection]="selectionMode" [width]="'100%'" [height]="'700px'"
        [summaryCalculationMode]="summaryMode" [allowFiltering]="true" [moving]="true" [filterMode]="'excelStyleFilter'">
        <igx-grid-toolbar>
            <app-grid-search-box [grid]="grid1" [style.width]="'300px'"></app-grid-search-box>
            <igx-grid-toolbar-actions>
                <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
                <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
                <igx-grid-toolbar-advanced-filtering></igx-grid-toolbar-advanced-filtering>
                <igx-grid-toolbar-exporter [exportCSV]="true" [exportExcel]="true">
                    <span excelText>Export to Excel 👌</span>
                    <span csvText>Export to CSV 👍</span>
                </igx-grid-toolbar-exporter>
            </igx-grid-toolbar-actions>
        </igx-grid-toolbar>
        <igx-column *ngFor="let c of columns" [field]="c.field" [dataType]="c.dataType" [header]="c.label"
            [pinned]="c.pinned" [groupable]="false" [resizable]="c.resizable" [width]="c.width" [sortable]="true"
            [filterable]="true" [editable]="true" [hidden]="c.hidden" [hasSummary]="c.hasSummary"
            [minWidth]="c.minWidth" [maxWidth]="c.maxWidth">
        </igx-column>
        <!-- <ng-template igxRowLoadingIndicator>
            <igx-icon>loop</igx-icon>
        </ng-template> -->
        <igx-paginator *ngIf="paging"></igx-paginator>
    </igx-tree-grid>

    <div class="topMargin">
        <div class="toggle-group">
            <div class="switch-group">
                <igx-switch [(ngModel)]="paging">Enable Paging</igx-switch>
            </div>
            <div class="switch-group">
                <igx-switch [(ngModel)]="grid1.cascadeOnDelete">Cascade On Delete</igx-switch>
            </div>
            <div class="switch-group">
                <igx-switch [(ngModel)]="grid1.rowEditable">Enable Row Editing</igx-switch>
            </div>
        </div>

        <div class="sample-buttons">
            <button igxButton="contained" (click)="addRow()">Add row</button>
            <button igxButton="contained" (click)="addChildRow()">Add child row</button>
            <button igxButton="contained" (click)="deleteRow()">Delete selected row</button>
            <button igxButton="contained" (click)="disableSummary()">Enable/Disable Summaries for Salary</button>
            <button igxButton="contained" (click)="undo()">Undo</button>
            <button igxButton="contained" (click)="redo()">Redo</button>
            <button igxButton="contained" (click)="commit()">Commit</button>
            <button igxButton="contained" (click)="exportToExcel()">Export to Excel</button>
            <button igxButton="contained" (click)="exportToCSV()">Export to CSV</button>
        </div>
    </div>

    <h4 class="sample-title">ChildData key</h4>
    <igx-tree-grid [moving]="true" #grid2 [data]="data2" primaryKey="employeeID" childDataKey="employees"
        [batchEditing]="true" [loadChildrenOnDemand]="loadChildren" hasChildrenKey="hasEmployees"
        [rowSelection]="selectionMode" [width]="'900px'" [height]="'700px'"
        [summaryCalculationMode]="summaryMode" [allowFiltering]="true" [filterMode]="'excelStyleFilter'">
        <igx-grid-toolbar>
            <app-grid-search-box [grid]="grid2" [style.width]="'300px'"></app-grid-search-box>
            <igx-grid-toolbar-actions>
                <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
                <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
                <igx-grid-toolbar-advanced-filtering></igx-grid-toolbar-advanced-filtering>
                <igx-grid-toolbar-exporter [exportCSV]="true" [exportExcel]="true">
                    <span excelText>Export to Excel 👌</span>
                    <span csvText>Export to CSV 👍</span>
                </igx-grid-toolbar-exporter>
            </igx-grid-toolbar-actions>
        </igx-grid-toolbar>
        <igx-column *ngFor="let c of columns" [field]="c.field" [dataType]="c.dataType" [header]="c.label"
            [pinned]="c.pinned" [groupable]="false" [resizable]="c.resizable" [width]="c.width" [sortable]="true"
            [filterable]="true" [editable]="true" [hidden]="c.hidden" [hasSummary]="c.hasSummary"
            [minWidth]="c.minWidth" [maxWidth]="c.maxWidth">
        </igx-column>
    </igx-tree-grid>
</div>
