.sample-buttons {
    margin-top: 24px;
}

[igxButton]+[igxButton] {
    margin-left: 8px;
}


:host::ng-deep {
    .test1 {
        color: red;
        font-weight: bold;
        background-color: yellow;
    }
    .test2 {
        color: blue;
        font-weight: bold;
        background-color: salmon;
        height: 200px;
    }
    .test3 {
        color: black !important;
        font-weight: bold !important;
        background-color: greenyellow !important;
    }
}
