<div class="wrapper">
    <div class="sample-content">
        <div class="sample-column">
            <div>
                <button igxButton="outlined" (click)="applyCSS()">Apply CSS bindings</button>
                <button igxButton="outlined" (click)="applyCSSClasses()">Apply CSS classes</button>
                <igx-input-group type="border">
                    <textarea (keydown.Tab)="indent($event, userCSS)" (keydown.Shift.Tab)="dedent($event, userCSS)" style="font-family: monospace;" #userCSS igxInput cols="15" rows="5">{{ styles | json }}</textarea>
                    <igx-hint>Note: You cannot use the callback functionality here</igx-hint>
                </igx-input-group>
                <button igxButton="outlined" (click)="updateCSS(userCSS.value)">Apply new styles</button>
            </div>
            <igx-grid style="margin-bottom: 10vh;"
                [allowFiltering]="true"
                filterMode="excelStyleFilter"
                #grid1 [data]="data"
                primaryKey="ID"
                width="80%"
                height="600px"
            >
                <igx-column *ngFor="let c of columns"
                    [field]="c.field"
                    [header]="c.field"
                    [movable]="true"
                    [groupable]="true"
                    [resizable]="true"
                    [sortable]="true"
                    [editable]="true"
                    [cellClasses]="c.cellClasses"
                    [cellStyles]="c.cellStyles"
                >
                </igx-column>
            </igx-grid>
            <h3>Grid sample with rowClasses property applied based on row ID</h3>
            <igx-grid style="margin-bottom: 10vh;"
                [allowFiltering]="true"
                filterMode="excelStyleFilter"
                #grid1 [data]="data"
                primaryKey="ID"
                width="80%"
                height="600px"
                [rowClasses]="rowClasses"
                [pinning]='pinningConfig'
                (cellClick)="selectedRowId = $event.cell.row.key"
            >
                <igx-column *ngFor="let c of columns"
                    [field]="c.field"
                    [header]="c.field"
                    [movable]="true"
                    [groupable]="true"
                    [resizable]="true"
                    [sortable]="true"
                    [editable]="true"
                    [cellClasses]="c.cellClasses"
                    [cellStyles]="c.cellStyles"
                >
                </igx-column>
                <igx-action-strip #actionStrip1>
                    <igx-grid-pinning-actions></igx-grid-pinning-actions>
                    <igx-grid-editing-actions></igx-grid-editing-actions>
                </igx-action-strip>
            </igx-grid>
            <igx-tree-grid
                [allowFiltering]="true"
                filterMode="excelStyleFilter"
                [data]="data2"
                childDataKey="ChildCompanies"
                primaryKey="ID"
                [expansionDepth]="1"
                width="80%"
                height="600px"
            >
                <igx-column *ngFor="let c of columns"
                    [field]="c.field"
                    [header]="c.field"
                    [movable]="true"
                    [resizable]="true"
                    [sortable]="true"
                    [editable]="true"
                    [cellClasses]="c.cellClasses"
                    [cellStyles]="c.cellStyles"
                >
                </igx-column>
            </igx-tree-grid>
        </div>
    </div>
</div>
