.sample-buttons {
    margin-top: 24px;
}

[igxButton] + [igxButton] {
    margin-left: 8px;
}

@keyframes popin {
    from {
        opacity: 0;
        filter: blur(3px);
        transform: scale3d(.75, .75, 1);
    }
    to {
        opacity: 1;
        filter: none;
        transform: scale3d(1, 1, 1);
    }
}

:host ::ng-deep {
    .test1 {
        color: red;
        font-weight: 900;
        background-color: yellow;
    }

    .test2 {
        color: blue;
        font-weight: 900;
        background-color: salmon;
        height: 200px;
    }

    .test3 {
        color: black;
        font-weight: 900;
        background-color: greenyellow;
    }

    .pinnedClass{
        color: #000;
        background: #fcc5de;
        border: 1px solid black;
    }
    .selected {
        background: #3B3B3B;
        border: 2px solid #2874A6;
    }
}
