@use 'igniteui-theming/sass/themes' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/date-picker' as *;

$material: digest-schema($dark-material-date-picker);
$bootstrap: digest-schema($dark-bootstrap-date-picker);
$fluent: digest-schema($dark-fluent-date-picker);
$indigo: digest-schema($dark-indigo-date-picker);
