<ng-template #defaultCell igxTextHighlight [cssClass]="highlightClass" [activeCssClass]="activeHighlightClass" [groupName]="gridID"
        [value]="formatter ? formatter(value) : value" [row]="rowIndex" [column]="columnIndex">
    <div id="content">{{ formatter ? formatter(value) : value }}</div>
</ng-template>
<ng-template #inlineEditor let-cell="cell">
    <igx-input-group>
        <input igxInput [value]="value" [igxFocus]="true" [igxTextSelection]="true" (keydown.enter)="cell.update($event.target.value)">
    </igx-input-group>
</ng-template>
<ng-container *ngTemplateOutlet="template; context: context">
</ng-container>
