<div class="igx-filtering" (click)="$event.stopPropagation()">
    <div class="igx-filtering__toggle">
        <span class="toggle-icon" igxButton="icon" (click)="toggle()" [class.igx-filtering__toggle--active]="!hidden">
            <igx-icon fontSet="material" name="filter_list"></igx-icon>
        </span>
    </div>

    <span class="igx-filtering__options" *ngIf="!hidden">
        <input igxInput type="text"
            [value]="value"
            (input)="filterData($event)"
            (blur)="hidden = !hidden"
        />
    </span>
</div>