<ng-template #defaultFilterUI>
    <div *ngIf="!unaryCondition" class="igx-filtering__op">
        <input type="text" igxInput placeholder="value" autocomplete="off" [value]="value" (input)="onInputChanged($event.target.value)"
        />
    </div>
    <br>
</ng-template>

<ng-template #defaultDateUI>
    <igx-datePicker *ngIf="!unaryCondition" [(ngModel)]="value"></igx-datePicker>
</ng-template>

<div class="igx-filtering">
    <div [attr.class]="filterCSS">
        <span class="toggle-icon" (click)="toggle()">
            <igx-icon fontSet="material" name="filter_list"></igx-icon>
        </span>
    </div>
</div>

<span *ngIf="dialogShowing" class="igx-filtering__options">
    <div>
        <select (change)="conditionChanged($event.target.value)">
            <option [selected]="isActive(each)" *ngFor="let each of conditions" [value]="each">{{ each | filterCondition | titlecase }}</option>
        </select>
    </div>
    <ng-container *ngTemplateOutlet="template; context: { $implicit: this }"></ng-container>
    <div class="igx-filtering__options-bgroup">
        <button igxButton igxRipple (click)="clearFiltering()" [disabled]="!value">Reset</button>
        <button igxButton igxRipple (click)="filter()" [disabled]="!value">Filter</button>
    </div>
</span>