<ng-template #defaultPager let-api>
    <div *ngIf="api.paging && api.totalPages > 0" class="igx-paginator">
        <button [disabled]="api.isFirstPage" (click)="api.paginate(0)" igxButton="icon" igxRipple igxRippleCentered="true">
            <igx-icon fontSet="material" name="first_page"></igx-icon>
        </button>
        <button [disabled]="api.isFirstPage" (click)="api.previousPage()" igxButton="icon" igxRipple igxRippleCentered="true">
            <igx-icon fontSet="material" name="chevron_left"></igx-icon>
        </button>
        <span>{{ api.page + 1 }} of {{ api.totalPages }}</span>
        <button [disabled]="api.isLastPage" (click)="api.nextPage()" igxRipple igxRippleCentered="true" igxButton="icon">
            <igx-icon fontSet="material" name="chevron_right"></igx-icon>
        </button>
        <button [disabled]="api.isLastPage" (click)="api.paginate(api.totalPages - 1)" igxButton="icon" igxRipple igxRippleCentered="true">
            <igx-icon fontSet="material" name="last_page"></igx-icon>
        </button>
        <select style="margin-left: 1rem;" (change)="api.perPage = $event.target.value">
            <option [value]="val" [selected]="api.perPage == val" *ngFor="let val of [5, 10, 15, 25, 50, 100, 500]">{{ val }}</option>
        </select>
    </div>
</ng-template>


<table [style.height]="height" [style.width]="width" class="igx-grid">
<thead class="igx-grid__thead">
    <tr class="igx-grid__tr">
        <igx-grid-header [gridID]="id" *ngFor="let col of visibleColumns" [column]="col"></igx-grid-header>
    </tr>
</thead>
<tbody class="igx-grid__tbody">
    <igx-grid-row [gridID]="id" [index]="i" [rowData]="item"
        *ngFor="let item of data | gridFiltering:filteringExpressions:_filteringLogic:id:pipeTrigger
                                 | gridSort:sortingExpressions:id:pipeTrigger
                                 | gridPaging:page:perPage:id:pipeTrigger;
                                 index as i;">
    </igx-grid-row>
</tbody>
<tfoot class="igx-grid__tfoot">
    <ng-container
        *ngTemplateOutlet="paginationTemplate ? paginationTemplate : defaultPager; context: { $implicit: this }">
    </ng-container>
</tfoot>
</table>
