<table class="igx-grid" [attr.id]="id" role="grid" [attr.aria-readonly]="!hasEditableColumns">
    <thead class="igx-grid__thead" role="rowgroup">
        <tr class="igx-grid__tr" role="rowheader">
            <ng-template ngFor let-col [ngForOf]="columnsToRender" let-colIndex="index">

                <th (onSort)="processSort($event)"
                    role="columnheader" tabindex="0"
                    class="igx-grid__th"
                    [attr.aria-label]="col.header || col.field"
                    [igxColumnSorting]="col"
                    [sortDirection]="getSortedExpression(col)"
                    [style.width]="col.width || ''">
                    <div class="igx-grid__th-content">
                        <span class="title">
                            <igx-cell-header *ngIf="col.headerTemplate" [column]="col" [colIndex]="index"></igx-cell-header>
                            {{ formatHeader(col) }}
                        </span>
                        <igx-col-filter
                            (onFilter)="processFilter($event)"
                            *ngIf="col.filtering"
                            [value]="filteringExpressions[col.field]?.searchVal || ''"
                            [column]="col">
                        </igx-col-filter>
                        <div *ngIf="col.movable" (onDrop)="moveColumn($event)" [igxDraggable]="col.index" [igxDroppable]="col.index">
                            <igx-icon name="swap_horiz"></igx-icon>
                        </div>
                    </div>
                </th>
            </ng-template>
        </tr>
    </thead>
    <tbody class="igx-grid__tbody" role="rowgroup" (keydown)="navigate($event)">
        <div class="igx-grid__tbody-empty" *ngIf="!dataContainer.transformedData || !dataContainer.transformedData.length || !columnsToRender || !columnsToRender.length">
            <h4>No data to display</h4>
        </div>
        <ng-template ngFor let-rowData [ngForOf]="dataContainer.transformedData" let-rowIndex="index">
            <tr class="igx-grid__tr" [attr.data-row]="rowIndex" tabindex="0" role="row" (focus)="onRowFocus($event, rowIndex)" (blur)="onRowBlur($event)">
                <ng-template ngFor let-col [ngForOf]="columnsToRender" let-colIndex="index">
                    <td tabindex="0" role="gridcell" [attr.aria-readonly]="!col.editable" [attr.aria-describedby]="id + '_' + col.field"
                        [attr.data-row]="rowIndex" [attr.data-col]="colIndex"
                        class="igx-grid__td"
                        [style.width]="col.width || ''"
                        (focus)="onCellFocus($event, rowIndex, col.field)"
                        (blur)="onCellBlur($event)"
                        (dblclick)="editCell(rowIndex, rowData[col.field], rowData)"
                        (keyup.enter)="editCell(rowIndex, rowData[col.field], rowData)">
                        <igx-cell-body *ngIf="col.bodyTemplate" [column]="col" [row]="rowData" [item]="rowData[col.field]" [rowIndex]="rowIndex"></igx-cell-body>
                        {{ formatBody(rowData, col) }}
                    </td>
                </ng-template>
            </tr>
        </ng-template>
    </tbody>
    <tfoot class="igx-grid__tfoot">
        <igx-paginator *ngIf="paging"
            (onPageChange)="_paginate($event)"
            [currentPage]="dataContainer.state.paging?.index"
            [perPage]="perPage"
            [totalPages]="dataContainer.state.paging?.metadata?.countPages">
        </igx-paginator>
    </tfoot>
    <igx-dialog *ngIf="hasEditableColumns"
            title="Edit Record"
            leftButtonLabel="Cancel"
            (onLeftButtonSelect)="editingModal.close()"
            (onRightButtonSelect)="saveData()"
            (keyup.enter)="saveData()"
            (keyup.escape)="cancelEdit()"
            rightButtonLabel="Save"
            rightButtonBackgroundColor="#00BFB2"
            rightButtonColor="white"
            closeOnOutsideSelect="true"
        >
        <div class="igx-form-group" *ngFor="let col of editableColumns;">
            <input type="text" igxInput [ngModel]="selectedRow?.row[col.field]" (ngModelChange)="_setValue(col.field, $event)" />
            <label igxLabel>{{ col.header || col.field }}</label>
        </div>
    </igx-dialog>
</table>
