@import "../themes/base/utilities/index";
@import "../themes/material/config";
@import "../themes/material/extends/grid-filtering";
@include b(igx-filtering) {
    @extend %igx-filtering-display;
    @include e(toggle) {
        @extend %igx-filtering-toggle;
    }
    @include e(toggle, $m: active) {
        @extend %igx-filtering-toggle--active;
    }
    @include e(toggle, $m: filtered) {
        @extend %igx-filtering-toggle--filtered;
    }
    @include e(options) {
        @extend %igx-filtering-options;
    }
}
