<ng-template #defaultPager let-api>
    <div *ngIf="api.paging && api.totalPages > 0" class="igx-paginator">
        <button [disabled]="api.isFirstPage" (click)="api.paginate(0)" igxButton="icon" igxRipple igxRippleCentered="true">
            <igx-icon fontSet="material" name="first_page"></igx-icon>
        </button>
        <button [disabled]="api.isFirstPage" (click)="api.previousPage()" igxButton="icon" igxRipple igxRippleCentered="true">
            <igx-icon fontSet="material" name="chevron_left"></igx-icon>
        </button>
        <span>{{ api.page + 1 }} of {{ api.totalPages }}</span>
        <button [disabled]="api.isLastPage" (click)="api.nextPage()" igxRipple igxRippleCentered="true" igxButton="icon">
            <igx-icon fontSet="material" name="chevron_right"></igx-icon>
        </button>
        <button [disabled]="api.isLastPage" (click)="api.paginate(api.totalPages - 1)" igxButton="icon" igxRipple igxRippleCentered="true">
            <igx-icon fontSet="material" name="last_page"></igx-icon>
        </button>
        <select style="margin-left: 1rem;" (change)="api.perPage = $event.target.value">
            <option [value]="val" [selected]="api.perPage == val" *ngFor="let val of [5, 10, 15, 25, 50, 100, 500]">{{ val }}</option>
        </select>
    </div>
</ng-template>


<div class="igx-grid__thead" role="rowgroup" [style.width.px]='calcWidth'>
    <div class="igx-grid__tr" role="row" style="width: calc(100% - 17px)">
        <ng-template igxVirtFor let-col [igxVirtForOf]="visibleColumns" [igxVirtForScrolling]="'horizontal'" [igxVirtForUseForScroll]="parentVirtDir" [igxVirtForContainerSize]='calcWidth' #headerContainer>
            <igx-grid-header [gridID]="id" [column]="col" [style.min-width.px]="col.width"></igx-grid-header>
        </ng-template>
    </div>
</div>

<!--<div class="igx-grid__tbody" role="rowgroup">
    <igx-grid-row [gridID]="id" igxVirtFor="let item of data | gridFiltering:filteringExpressions:filteringLogic:id:pipeTrigger
                                | gridSort:sortingExpressions:id:pipeTrigger
                                | gridPaging:page:perPage:id:pipeTrigger;
                                index as i;" [igxVirtForScrolling]="'vertical'" #scrollContainer [igxVirtForContainerSize]='height'>
    </igx-grid-row>
</div>-->

<div class="igx-grid__tbody" role="rowgroup" [style.height.px]='calcHeight' [style.width.px]='calcWidth' >
        <ng-template igxVirtFor let-rowData [igxVirtForOf]="data | gridFiltering:filteringExpressions:filteringLogic:id:pipeTrigger
                                | gridSort:sortingExpressions:id:pipeTrigger
                                | gridPaging:page:perPage:id:pipeTrigger" let-rowIndex="index" 
                                [igxVirtForScrolling]="'vertical'"
                                [igxVirtForContainerSize]='calcHeight'
                                [igxVirtForItemSize]='"50px"'
                                #scrollContainer>
           <igx-grid-row [gridID]="id" [index]="rowIndex" [rowData]="rowData">
           </igx-grid-row>
        </ng-template>
</div>

<div class="igx-grid__tfoot" role="rowgroup">
    <ng-container *ngTemplateOutlet="paginationTemplate ? paginationTemplate : defaultPager; context: { $implicit: this }">
    </ng-container>
</div>
