<ng-container [style.padding-left]="padding" #defaultGroupRow >
    <div class="igx-grid__indicator-grouping" [style.min-width.px]="grid.calcGroupByWidth" [tabIndex]="tabindex" (keydown.enter)="toggle()" (keydown.space)="toggle()">    
        <span (click)="toggle()">
            <igx-icon *ngIf="!expanded" fontSet="material" name="expand_less"></igx-icon>
            <igx-icon *ngIf="expanded" fontSet="material" name="expand_more"></igx-icon>
        </span>
    </div>
<div [tabIndex]="tabindex" class="igx-grid__groupContent" #groupContent>
    <ng-container *ngTemplateOutlet="grid.groupRowTemplate ? grid.groupRowTemplate : defaultGroupByTemplate; context: { $implicit: groupRow }">
    </ng-container>
</div>
<ng-template #defaultGroupByTemplate>
    <span class="igx-grid__groupLabel">{{ groupRow.expression.fieldName }}: {{ groupRow.value }}</span> <igx-badge type="info" [value]="groupRow.records.length" class='igx-grid__groupCount'></igx-badge>
</ng-template>    
</ng-container>
