<ng-container [style.padding-left]="padding" #defaultGroupRow >
    <div class="igx-grid__indicator-grouping" [style.min-width.px]="grid.calcGroupByWidth">    
        <span (click)="toggle()">
            <igx-icon *ngIf="!expanded" fontSet="material" name="add"></igx-icon>
            <igx-icon *ngIf="expanded" fontSet="material" name="remove"></igx-icon>
        </span>
    </div>
    <span>{{ groupRow.expression.fieldName }}: {{ groupRow.value }} ({{ groupRow.records.length }})</span>
</ng-container>
