<ng-container *ngIf="grid.fixingDirection === 'left'" >
    <igx-grid-cell *ngFor="let col of fixedColumns" [column]="col" [row]="this" [style.width.px]="col.width" [value]="rowData[col.field]" [cellTemplate]="col.bodyTemplate"></igx-grid-cell>
</ng-container>
<ng-template igVirtFor let-col [igVirtForOf]="unfixedColumns" [igVirtForUseForScroll]="grid.parentVirtDir" let-colIndex="index" [igVirtForScrolling]="'horizontal'" [igVirtForContainerSize]='grid.unfixedWidth'>
    <igx-grid-cell [column]="col" [row]="this" [style.width.px]="col.width" [value]="rowData[col.field]" [cellTemplate]="col.bodyTemplate"></igx-grid-cell>
</ng-template>
<ng-container *ngIf="grid.fixingDirection === 'right'" >
    <igx-grid-cell *ngFor="let col of fixedColumns" [column]="col" [row]="this" [style.width.px]="col.width" [value]="rowData[col.field]" [cellTemplate]="col.bodyTemplate"></igx-grid-cell>
</ng-container>
