<div class="sample-column">
    <div class="density-chooser">
        <igx-buttongroup [values]="sizes" (selected)="selectDensity($event)"></igx-buttongroup>
        <igx-switch *ngIf="groupArea" [(ngModel)]="groupArea.hideGroupedColumns">Hide Grouped Columns</igx-switch>
        <button igxButton="contained" (click)="print()" >Show Expressions</button>
    </div>

    <igx-tree-grid #grid1
        [moving]="true"
        [data]="data | treeGridGrouping:groupingExpressions:groupKey:childDataKey:grid1:employeeAggregations"
        selectionType="multi"
        [childDataKey]="childDataKey"
        [rowSelection]="selectionMode"
        [width]="'1200px'"
        [height]="'700px'"
        [sortStrategy]="sorting"
        [filterStrategy]="filteringStrategy"
        [allowFiltering]="true"
        [filterMode]="'excelStyleFilter'"
        (cellEditDone)="cellEditDone()"
        [sortingOptions]="{mode: 'single'}">
        <!-- <igx-grid-toolbar>
            <igx-grid-toolbar-actions>
                <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
            </igx-grid-toolbar-actions>
        </igx-grid-toolbar> -->

        <igx-tree-grid-group-by-area
            #groupArea
            [grid]='grid1'
            [(expressions)]='groupingExpressions'
            [hideGroupedColumns]='true'
        >
        </igx-tree-grid-group-by-area>

        <igx-column [field]='groupKey' [resizable]="true" [width]="'250px'" [hidden]='groupingExpressions.length === 0'></igx-column>

        <igx-column *ngFor="let c of columns" [field]="c.field" [header]="c.field" [pinned]="c.pinned"
            [groupable]="true" [resizable]="c.resizable" [width]="c.width"
            [sortable]="true" [filterable]="true" [editable]="true" [hidden]="c.hidden" [hasSummary]="c.summary"
            [minWidth]="c.minWidth" [maxWidth]="c.maxWidth" [dataType]="c.dataType">
        </igx-column>
    </igx-tree-grid>
</div>
