.calendar-sample + .calendar-sample  {
    margin-top: 48px;
}

.calendar-sample-buttons {
    margin-top: 16px;

    button {
        margin-right: 8px;
    }
}

.sample-title {
    text-align: center;
}

.sample-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.sample-actions__inner {
    display: flex;
    gap: 8px;
}
