<section>
    <h4>Comfortable</h4>
    <igx-combo [data]="data" valueKey="valueKey" displayKey="textKey" [width]="'250px'"
        [displayDensity]="displayDensity.comfortable">
    </igx-combo>
    <button igxButton [igxToggleAction]="dropdown1" [igxDropDownItemNavigation]="dropdown1">Toggle
        Dropdown</button>
    <igx-drop-down #dropdown1 height="260px" [displayDensity]="displayDensity.comfortable">

        <igx-drop-down-item *ngFor="let entry of data" [value]="entry.valueKey" [isHeader]="entry.isHeader">
            {{ entry.valueKey }}
        </igx-drop-down-item>

    </igx-drop-down>
    <igx-select #select1 [placeholder]="'Pick One'" [displayDensity]="displayDensity.comfortable">
        <label igxLabel>Example</label>
        <igx-select-item *ngFor="let entry of data; let inx=index" [value]="entry.textKey" [isHeader]="entry.isHeader">
            {{ entry.textKey }}
        </igx-select-item>
    </igx-select>
</section>
<section>
    <h4>Cosy</h4>
    <igx-combo [data]="data" valueKey="valueKey" displayKey="textKey" [width]="'250px'"
        [displayDensity]="displayDensity.cosy">
    </igx-combo>
    <button igxButton [igxToggleAction]="dropdown2" [igxDropDownItemNavigation]="dropdown2">Toggle
        Dropdown</button>
    <igx-drop-down #dropdown2 height="260px" [displayDensity]="displayDensity.cosy">

        <igx-drop-down-item *ngFor="let entry of data" [value]="entry.valueKey" [isHeader]="entry.isHeader">
            {{ entry.valueKey }}
        </igx-drop-down-item>

    </igx-drop-down>
    <igx-select #select1 [placeholder]="'Pick One'" [displayDensity]="displayDensity.cosy">
        <label igxLabel>Example</label>
        <igx-select-item *ngFor="let entry of data; let inx=index" [value]="entry.textKey" [isHeader]="entry.isHeader">
            {{ entry.textKey }}
        </igx-select-item>
    </igx-select>
</section>
<section>
    <h4>Compact</h4>
    <igx-combo [data]="data" valueKey="valueKey" displayKey="textKey" [width]="'250px'"
        [displayDensity]="displayDensity.compact">
    </igx-combo>
    <button igxButton [igxToggleAction]="dropdown3" [igxDropDownItemNavigation]="dropdown3">Toggle
        Dropdown</button>
    <igx-drop-down #dropdown3 height="260px" [displayDensity]="displayDensity.compact">

        <igx-drop-down-item *ngFor="let entry of data" [value]="entry.valueKey" [isHeader]="entry.isHeader">
            {{ entry.valueKey }}
        </igx-drop-down-item>

    </igx-drop-down>
    <igx-select #select1 [placeholder]="'Pick One'" [displayDensity]="displayDensity.compact">
        <label igxLabel>Example</label>
        <igx-select-item *ngFor="let entry of data; let inx=index" [value]="entry.textKey" [isHeader]="entry.isHeader">
            {{ entry.textKey }}
        </igx-select-item>
    </igx-select>
</section>