:host {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.wrapping-div {
    width: 100%;
    height: 400px;
    overflow-y: auto;
}


section {
    width: 30%;
    height: 600px;
    border: 1px solid black;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}