@include b(igx-grid) {

    @extend %grid-display;

    @include e(caption) {
        @extend %grid-caption;
    }

    @include e(thead) {
        @extend %grid-thead;
    }

    @include e(tfoot) {
        @extend %grid-tfoot;
    }

    @include e(tbody) {
        @extend %grid-tbody;
    }

    @include e(tr) {
        @extend %grid-row;
    }

    @include e(th) {
        $block: &;

        @extend %grid-cell-display;
        @extend %grid-cell-header;

        @include e(content, true) {
            @extend %grid-cell-header-content;

            & .icon {
                @extend %grid-cell-header-cicon;
            }
        }

        &.asc,
        &.desc {
            color: #000;
        }

        &.desc {
            #{$block}-content > .title:before {
                position: relative;
                font-family: 'Material Icons';
                content: '\E5DB';
                margin-right: 8px;
            }
        }

        &.asc {
            #{$block}-content > .title:before {
                position: relative;
                font-family: 'Material Icons';
                content: '\E5D8';
                margin-right: 8px;
            }
        }

        @include m(number) {
            @extend %grid-cell-number;
        }

    }

    @include e(td) {
        @extend %grid-cell-display;

        @include m(number) {
            @extend %grid-cell-number;
        }
    }
}