*::-webkit-input-placeholder {
    -webkit-text-fill-color: $input-placeholder-color;
}

.ig-form-input {
	display: block;
	position: relative;
	min-height: $input-min-height;
	padding: 10px 0;

	@include e(label) {
		position: absolute;
		top: 15px;
		font-size: $input-font-size;
		color: $label-color;
		transition: $input-transition;
		user-select: none;
        cursor: text;
		pointer-events: none;
	}

	@include e(input) {
		outline: none;
		border: none;
		border-bottom: $input-border;
		font-family: 'Titillium Web', sans-serif;
		font-size: $input-font-size;
		line-height: $input-line-height;
		color: $input-caret-color;
		-webkit-text-fill-color: $input-color;
		&:focus {
			border-bottom: $input-border-focus;
		}
	}

	@include m(active) {
		
	}
	// label.active,
	// input:focus ~ label {
	// 	top: -15px;
	// 	font-size: $label-focus-font-size;
	// 	color: $label-focus-color;
	// }
	// input:not(:focus) ~ label {
	// 	color: $label-color;
	// }
	// // Handle info message
	// &:after {
	// 	content: attr(data-extra);
	// 	position: absolute;
	// 	padding-top: 35px;
    //     top: 0;
    //     left: 0;
	// 	font-size: $label-focus-font-size;
	// }
	
	// // Handle error style
	// &--error input,
	// &--error input:focus {
	// 	color: $input-error-color;
	// 	border-bottom: $input-border-error;
	// }
	// &--error label,
	// &--error:after {
	// 	color: $input-error-color !important;
	// }

	// // Handle success style
	// &--success input,
	// &--success input:focus {
	// 	color: $input-success-color;
	// 	border-bottom: $input-border-success;
	// }
	// &--success:after {
	// 	color: $input-success-color !important;
	// }
}