$font-weight: 400;
$font-size: 24px;
$line-height: 1;

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: $font-weight;
    src: local('Material Icons'), local('MaterialIcons-Regular'),
        url('./fonts/MaterialIcons-Regular.woff2')
            format('woff2'),
        url('./fonts/MaterialIcons-Regular.woff')
            format('woff'),
        url('./fonts/MaterialIcons-Regular.ttf')
            format('truetype');
}

.material-icons {
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: $font-weight;
    font-style: normal;
    font-size: $font-size;
    line-height: $line-height;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
}
