.ig-control__radio:not(:checked),
.ig-control__radio:checked {
    @include hide-default;
}

.ig-control__radio {
  ~ label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: $radio-height;
    line-height: $radio-height;
    font-size: $input-font-size;
    color: $input-color;
    padding-left: $checkbox-label-padding;
  }
  ~ label:before,
  ~ label:after {
    position: absolute;
    content: '';
    width: $radio-width;
    height: $radio-height;
    left: 0;
    border-radius: $radio-radius;
  }
  ~ label:before {
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: $input-transition;
  }
  &:not(:checked) ~ label:before {
    transform: scale(0);
  }
  &:not(:checked) ~ label:after {
    border: 2px solid $radio-empty-color;
  }
  &:checked ~ label:before {
    border: $radio-border;
    background-color: $radio-fill-color;
    transform: scale(.5);
  }
  &:checked ~ label:after {
    border: $radio-border;
  }
  &:disabled ~ label {
	pointer-events: none;
    color: $input-disabled-color;
  }
  &:disabled:not(:checked) ~ label:after {
    border: 2px solid $input-disabled-color;
  }
  &:disabled:checked ~ label:before {
    background-color: $input-disabled-color;
    border: 2px solid $input-disabled-color;
  }
  &:disabled:checked ~ label:after {
    border: 2px solid $input-disabled-color;
  }
}