igx-tab {
    .igx-tab-inner {
        display: none;
        overflow: auto;
        &.selected {
            display: block;
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

@include b(igx-tab-bar-inner) {
    @extend %igx-tabbar-inner-display;

    @include b(tab-icon) {
        @extend %igx-tab-icon;
    }

    @include b(tab-label) {
        @extend %igx-tab-label;
    }

    @include e(menu) {
        @extend %igx-tabbar-menu;

        @include e(item, true) {
            @extend %igx-tabbar-menu-item;

            @include m(selected) {

                @include b(tab-icon) {
                    @extend %igx-tab-icon--selected;
                }

                @include b(tab-label) {
                    @extend %igx-tab-label--selected;
                }
            }

            @include m(disabled) {
                @extend %igx-tabbar-menu-item--disabled;
            }
        }

        @include m(top) {
            @extend %igx-tabbar-menu--top;
        }

        @include m(bottom) {
            @extend %igx-tabbar-menu--bottom;
        }
    }
}

@keyframes selected {
	from {transform:scale(0) }
	to { transform:scale(44.5) }
}