:host {
    display: grid;
    gap: 32px;

    > .igx-grid {
        --ig-grid-row-odd-background: var(--ig-primary-50);
        --ig-grid-body-column-border-color-odd: var(--ig-primary-50);

        igx-grid {
            --ig-grid-row-odd-background: '';
            --ig-grid-body-column-border-color-odd: '';
        }
    }

    .activeRow {
        --row-odd-background: #{dynamic-shade(var(--row-even-background), $offset: 3)};
    }
}

.sample-header {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    padding: 1rem;
    border-bottom: 1px dashed var(--ig-gray-300);
}
