:host {
    display: grid;

    > .igx-grid {
        --igx-grid-row-odd-background: var(--ig-primary-50);
        --igx-grid-body-column-border-color-odd: var(--ig-primary-50);

        igx-grid {
            --igx-grid-row-odd-background: '';
            --igx-grid-body-column-border-color-odd: '';
        }
    }

    gap: 32px
}

.sample-header {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    padding: 1rem;
    border-bottom: 1px dashed var(--ig-gray-300);
}
