.hgrid-sample {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.hgrid-sample > igx-hierarchical-grid {
    margin-bottom: 30px;
}

.sample-title {
    margin-bottom: 15px;
}

.sample-actions {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1080px;
}

.sample-actions > button {
    margin: 0 5px 5px 0;
}


.sample-actions > button:last-of-type {
    margin-right: 0;
}
