@use '../../../projects/igniteui-angular/core/src/core/styles/themes' as *;

:host::ng-deep {
    .activeRow {
        --row-odd-background: #{dynamic-shade(var(--row-even-background), $offset: 3)};
    }
}

[igxButton="contained"] {
    margin: 0.5rem;
}

h4 {
    padding-top: 2rem;
}
