.samples {
    padding: 24px;
    /* background: #202020; */
}

.sample-title {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 24px;
}

.igx-input-group+.igx-input-group,
.form+.form {
    margin-top: 24px;
}
