.input-group-sample {
    padding: 16px;

    &__info {
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        padding: 16px;
        background: hsla(var(--ig-gray-50));
        border-left: 4px solid hsla(var(--ig-warn-500));
    }

    .no-bm {
        margin-bottom: 0 !important;
    }

    .attention {
        color: hsla(var(--ig-warn-700));
    }

    &__column-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;

        > * {
            flex: 1;
        }
    }
}


.border-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 2px dashed hsla(var(--ig-primary-500));
    padding: 16px;
}

.input-group-sample-form {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    padding: 16px;
    border: 1px dashed hsla(var(--ig-gray-300));
}

.form__fields {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 32px;
    gap: 24px;
}

.form__fields-settings {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 320px;
    min-width: 180px;
    gap: 20px;

    small {
        display: block;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.form__fields-settings--sticky {
    position: sticky;
}

.material-theme {
    --theme: material;
}

