<div class="input-group-sample">
    <form class="input-group-sample-form">
        <div class="form__fields-settings">
            <strong>Select density</strong>
            <igx-buttongroup
                [alignment]="alignment"
                [values]="displayDensities"
                (selected)="selectDensity($event)"
            ></igx-buttongroup>
            <strong>Select Input type</strong>
            <igx-buttongroup
                [alignment]="alignment"
                [values]="inputTypes"
                (selected)="selectInputType($event)"
            ></igx-buttongroup>
            <strong>Disable fields</strong>
            <igx-switch name="disabledswitch" [(ngModel)]="isDisabled"></igx-switch>
            <strong>Enable Required</strong>
            <igx-switch name="requiredswitch" [(ngModel)]="isRequired"></igx-switch>
        </div>
        <div class="form__fields">
            <!-- input type search - suffix/prefix -->
            <igx-input-group class="material-theme" [displayDensity]="density">
                <label igxLabel>Always Material & Use Input type TOKEN</label>
                <igx-icon igxPrefix>search</igx-icon>
                <input
                    name="inputSearchTest"
                    #input
                    [(ngModel)]="inputValue"
                    igxInput
                    placeholder="Search"
                    [disabled]="isDisabled"
                />
                <igx-suffix
                    *ngIf="input.value.length > 0"
                    (click)="input.value = input.defaultValue"
                >
                <igx-icon>clear</igx-icon>
                </igx-suffix>
            </igx-input-group>
            <br />

            <!-- text field -->
            <igx-input-group class="material-theme" [displayDensity]="density" [type]="inputType">
                <label for="fluentfirstName" igxLabel>Always Material - set type</label>
                <igx-prefix>
                    <igx-icon>face</igx-icon>
                </igx-prefix>
                <input
                    name="inputTest"
                    placeholder="Placeholder"
                    [required]="isRequired"
                    id="fluentfirstName"
                    igxInput
                    [(ngModel)]="inputValue"
                    [disabled]="isDisabled"
                />
                <igx-icon igxSuffix>data_usage</igx-icon>
            </igx-input-group>
            <br />

            <!-- text field prefix/suffix -->
            <igx-input-group [displayDensity]="density" [type]="inputType" theme="fluent">
                <label igxLabel>Web address</label>
                <igx-prefix>
                    http://
                </igx-prefix>
                <input
                    name="inputWebTest"
                    [required]="isRequired"
                    [disabled]="isDisabled"
                    [(ngModel)]="inputValue"
                    igxInput
                    type="text"
                />
                <igx-suffix>
                    .com
                </igx-suffix>
                <igx-hint>Type your web address</igx-hint>
            </igx-input-group>
            <br />


            <input
                name="inputWebTestSimple"
                [required]="isRequired"
                [disabled]="isDisabled"
                [(ngModel)]="inputValue"
                type="text"
            />
            <br />

            <!-- text field with validation -->
            <igx-input-group [displayDensity]="density" [type]="inputType">
                <label igxLabel>Web address</label>
                <igx-prefix>
                    <igx-icon>link</igx-icon>
                </igx-prefix>
                <input
                    name="inputValidityTest"
                    [required]="isRequired"
                    [disabled]="isDisabled"
                    pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$"
                    [(ngModel)]="inputValue"
                    igxInput
                    type="text"
                />
                <igx-hint>Type your web address</igx-hint>
            </igx-input-group>
            <br />

            <!-- input type file -->
            <igx-input-group [displayDensity]="density" [type]="inputType">
                <label igxLabel>Important Documents</label>
                <input
                    igxInput
                    name="testFile"
                    [required]="isRequired"
                    [disabled]="isDisabled"
                    type="file"
                    multiple
                />
                <igx-hint>Upload a file to begin...</igx-hint>
            </igx-input-group>

            <br />
            <!-- textarea -->
            <igx-input-group [displayDensity]="density" [type]="inputType">
                <label igxLabel>Textarea</label>
                <igx-prefix>
                    <igx-icon>face</igx-icon>
                </igx-prefix>
                <textarea
                    name="inputTextareaTest"
                    [required]="isRequired"
                    igxInput
                    [disabled]="isDisabled"
                    [(ngModel)]="inputValue"
                ></textarea>
                <igx-suffix>
                    <igx-icon>phone</igx-icon>
                </igx-suffix>
            </igx-input-group>
            <br />

            <!-- Text field mask -->
            <igx-input-group [displayDensity]="density" [type]="inputType">
                <igx-prefix>+359</igx-prefix>
                <label igxLabel>Input with Mask</label>
                <input
                    [disabled]="isDisabled"
                    [required]="isRequired"
                    igxInput
                    [igxMask]="'000 000 000'"
                    promptChar="*"
                    type="text"
                />
            </igx-input-group>
            <br />

            <!-- date field -->
            <igx-date-picker [value]="date">
                <ng-template igxDatePickerTemplate let-openDialog="openDialog" let-value="value" let-displayData="displayData">
                    <igx-input-group [displayDensity]="density" [type]="inputType">
                        <label igxLabel>Date: </label>
                        <input
                            [required]="isRequired"
                            name="date"
                            [value]="displayData"
                            igxInput
                            [disabled]="isDisabled"
                        />
                        <igx-suffix>
                            <igx-icon (click)="openDialog()">date_range</igx-icon>
                        </igx-suffix>
                    </igx-input-group>
                </ng-template>
            </igx-date-picker>
            <br />

            <!-- Read only -->
            <igx-input-group [displayDensity]="density" [type]="inputType">
                <label igxLabel>Read only input field</label>
                <input
                    readonly
                    [disabled]="isDisabled"
                    igxInput
                    value="read-only"
                    type="text"
                    placeholder="Placeholder"
                />
            </igx-input-group>
            <br />

            <!-- Select field -->
            <igx-select
                #select1
                [displayDensity]="density"
                [placeholder]="'Pick One'"
                [disabled]="isDisabled"
                class="material-theme"
            >
                <label igxLabel>Always Material & Use Input type TOKEN</label>
                <igx-prefix igxPrefix>
                    <igx-icon>favorite</igx-icon>
                </igx-prefix>
                <igx-select-item>Sofia</igx-select-item>
                <igx-select-item>London</igx-select-item>
                <igx-select-item>Paris</igx-select-item>
                <igx-select-item>New York</igx-select-item>
            </igx-select>
            <br />
        </div>
    </form>

    <div class="input-group-sample-form">
        <div class="form__fields-settings">
            <button igxButton (click)="enableText()">Enable Text</button>
            <button igxButton (click)="disableText()">Disable Text</button>
            <button igxButton (click)="enableSelect()">Enable Select</button>
            <button igxButton (click)="disableSelect()">Disable Select</button>
            <button igxButton (click)="enableForm()">Enable Form</button>
            <button igxButton (click)="disableForm()">Disable Form</button>
        </div>
        <form [formGroup]="myForm" class="form__fields">
            <igx-input-group>
                <label igxLabel for="myTextField">A Text Field</label>
                <input igxInput required name="myTextField" formControlName="myTextField">
            </igx-input-group>
            <igx-input-group>
                <label igxLabel for="myTextField2">A Text Field With Reactive Required</label>
                <input igxInput name="myTextField2" formControlName="myTextField2">
            </igx-input-group>
            <igx-select #select required formControlName="mySelectField">
                <label igxLabel>A Select Field</label>
                <igx-select-item *ngFor="let item of items" [value]="item">
                    {{item}}
                </igx-select-item>
            </igx-select>
        </form>
    </div>
</div>
