<div class="input-group-sample">
    <form #testForm="ngForm" class="input-group-sample-form">

        <div class="form__fields-settings">
            <strong>Select density</strong>
            <igx-buttongroup
                [alignment]="alignment"
                [values]="displayDensities"
                (selected)="selectDensity($event)"
            ></igx-buttongroup>
            <div>
                <strong class="no-bm">Select Input type</strong>
                <small class="attention">Works only for material</small>
            </div>
            <igx-buttongroup
                [alignment]="alignment"
                [values]="inputTypes"
                (selected)="selectInputType($event)"
            ></igx-buttongroup>
            <strong>Disable fields</strong>
            <igx-switch name="disabledswitch" [(ngModel)]="isDisabled"></igx-switch>
            <strong>Enable Required</strong>
            <igx-switch name="requiredswitch" [(ngModel)]="isRequired"></igx-switch>
        </div>

        <div class="form__fields">
            <div class="border-wrapper">
                <p class="input-group-sample__info">
                    The inputs inside the colored block preserve their theme no mather which global theme you set.
                    The idea is to see how for example <strong>fluent</strong> input will look in
                    <strong>bootstrap</strong> theme.
                    <br>
                    <br>
                    Also only material theme has input types, so don't expect fluent and bootstrap
                    inputs to change by selecting any of the material types (border,line, and box).
                    This is true also for the <strong>search input</strong>, there is no such thing as border-search or line-search.
                    <br>
                    <br>
                    It's normal the color of the fixed theme inputs to be different when used in another theme, that's why
                    for example in indigo theme the material box input has no background, this is because in indigo
                    the box background is transparent. and is shown only on hover..
                </p>

                <!-- input Always Fluent -->
                <igx-input-group [displayDensity]="density" [type]="inputType" theme="fluent">
                    <label igxLabel>Always fluent</label>
                    <igx-prefix>
                        http://
                    </igx-prefix>
                    <input
                            name="inputWebTest"
                            [required]="isRequired"
                            [disabled]="isDisabled"
                            [(ngModel)]="inputValue"
                            igxInput
                            type="text"
                    />
                    <igx-suffix>
                        .com
                    </igx-suffix>
                    <igx-hint>Enter valid web address</igx-hint>
                </igx-input-group>

                <!-- input Always Bootstrap -->
                <igx-input-group [displayDensity]="density" [type]="inputType" theme="bootstrap">
                    <label igxLabel>Always Bootstrap</label>
                    <igx-prefix>
                        http://
                    </igx-prefix>
                    <input
                            name="inputWebTest"
                            [required]="isRequired"
                            [disabled]="isDisabled"
                            [(ngModel)]="inputValue"
                            igxInput
                            type="text"
                    />
                    <igx-suffix>
                        .com
                    </igx-suffix>
                    <igx-hint>Enter valid web address</igx-hint>
                </igx-input-group>

                <!-- input-search input Always Material -->
                <igx-input-group class="material-theme" [displayDensity]="density">
                    <label igxLabel>Always Material & Use Input type TOKEN</label>
                    <igx-icon igxPrefix>search</igx-icon>
                    <input
                            name="inputSearchTest"
                            #input
                            [(ngModel)]="inputValue"
                            igxInput
                            placeholder="Search"
                            [disabled]="isDisabled"
                    />
                    <igx-suffix
                            *ngIf="input.value.length > 0"
                            (click)="input.value = input.defaultValue"
                    >
                        <igx-icon>clear</igx-icon>
                    </igx-suffix>
                </igx-input-group>

                <!-- input Always Material -->
                <igx-input-group class="material-theme" [displayDensity]="density" [type]="inputType">
                    <label for="fluentfirstName" igxLabel>Always Material - set type</label>
                    <igx-prefix>
                        <igx-icon>face</igx-icon>
                    </igx-prefix>
                    <input
                            name="inputTest"
                            placeholder="Placeholder"
                            [required]="isRequired"
                            id="fluentfirstName"
                            igxInput
                            [(ngModel)]="inputValue"
                            [disabled]="isDisabled"
                    />
                    <igx-icon igxSuffix>data_usage</igx-icon>
                </igx-input-group>

            </div>

            <input
                    name="inputWebTestSimple"
                    placeholder="Native input web test simple"
                    [required]="isRequired"
                    [disabled]="isDisabled"
                    [(ngModel)]="inputValue"
                    type="text"
            />

            <!-- text field with validation -->
            <igx-input-group [displayDensity]="density" [type]="inputType">
                <label igxLabel>Web address</label>
                <igx-prefix>
                    <igx-icon>link</igx-icon>
                </igx-prefix>
                <input
                    name="inputValidityTest"
                    [required]="isRequired"
                    [disabled]="isDisabled"
                    pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$"
                    [(ngModel)]="inputValue"
                    igxInput
                    type="text"
                />
                <igx-hint>Type your web address</igx-hint>
            </igx-input-group>

            <!-- input type file -->
            <igx-input-group [displayDensity]="density" [type]="inputType">
                <label igxLabel>Important Documents</label>
                <input
                    igxInput
                    name="testFile"
                    [required]="isRequired"
                    [disabled]="isDisabled"
                    type="file"
                    multiple
                />
                <igx-hint>Upload a file to begin...</igx-hint>
            </igx-input-group>


            <!-- textarea -->
            <igx-input-group [displayDensity]="density" [type]="inputType">
                <label igxLabel>Textarea</label>
                <igx-prefix>
                    <igx-icon>face</igx-icon>
                </igx-prefix>
                <textarea
                    name="inputTextareaTest"
                    [required]="isRequired"
                    igxInput
                    [disabled]="isDisabled"
                    [(ngModel)]="inputValue"
                ></textarea>
                <igx-suffix>
                    <igx-icon>phone</igx-icon>
                </igx-suffix>
            </igx-input-group>


            <!-- Text field mask -->
            <igx-input-group [displayDensity]="density" [type]="inputType">
                <igx-prefix>+359</igx-prefix>
                <label igxLabel>Input with Mask</label>
                <input
                    [disabled]="isDisabled"
                    [required]="isRequired"
                    igxInput
                    [igxMask]="'000 000 000'"
                    promptChar="*"
                    type="text"
                />
            </igx-input-group>


            <!-- date field -->
            <igx-date-picker *ngIf="!isRequired" #datePicker
                [(value)]="date"
                [displayDensity]="density"
                [type]="inputType"
                [disabled]="isDisabled">
                <label igxLabel>Date: </label>
                <igx-picker-toggle igxSuffix>
                    <igx-icon (click)="datePicker.open()">date_range</igx-icon>
                </igx-picker-toggle>
                <igx-picker-clear></igx-picker-clear>
            </igx-date-picker>

            <!-- required date field -->
            <igx-date-picker *ngIf="isRequired" #requiredDatePicker
                required
                name="requiredDatePicker"
                [(ngModel)]="date"
                [displayDensity]="density"
                [type]="inputType"
                [disabled]="isDisabled">
                <label igxLabel>Date: </label>
                <igx-picker-toggle igxSuffix>
                    <igx-icon (click)="requiredDatePicker.open()">date_range</igx-icon>
                </igx-picker-toggle>
                <igx-picker-clear></igx-picker-clear>
            </igx-date-picker>


            <!-- Read only -->
            <igx-input-group [displayDensity]="density" [type]="inputType">
                <label igxLabel>Read only input field</label>
                <input
                    readonly
                    [disabled]="isDisabled"
                    igxInput
                    value="read-only"
                    type="text"
                    placeholder="Placeholder"
                />
            </igx-input-group>


            <!-- Select field -->
            <igx-select
                #select1
                [displayDensity]="density"
                [placeholder]="'Pick One'"
                [disabled]="isDisabled"
                class="material-theme"
            >
                <label igxLabel>Always Material & Use Input type TOKEN</label>
                <igx-prefix igxPrefix>
                    <igx-icon>favorite</igx-icon>
                </igx-prefix>
                <igx-select-item>Sofia</igx-select-item>
                <igx-select-item>London</igx-select-item>
                <igx-select-item>Paris</igx-select-item>
                <igx-select-item>New York</igx-select-item>
            </igx-select>

            <igx-checkbox required [(ngModel)]="isRequired" name="requiredCheckbox">Required Toggle #2</igx-checkbox>
        </div>
    </form>

    <div class="input-group-sample-form">
        <div class="input-group-sample__column-buttons">
            <button igxButton="raised" [displayDensity]="'compact'" (click)="enableText()">Enable Text</button>
            <button igxButton="outlined" [displayDensity]="'compact'" (click)="disableText()">Disable Text</button>
            <button igxButton="raised" [displayDensity]="'compact'" (click)="enableSelect()">Enable Select</button>
            <button igxButton="outlined" [displayDensity]="'compact'" (click)="disableSelect()">Disable Select</button>
            <button igxButton="raised" [displayDensity]="'compact'" (click)="enableForm()">Enable Form</button>
            <button igxButton="outlined" [displayDensity]="'compact'" (click)="disableForm()">Disable Form</button>
        </div>
        <form [formGroup]="myForm" class="form__fields">
            <igx-input-group>
                <label igxLabel for="myTextField">A Text Field</label>
                <input igxInput required name="myTextField" formControlName="myTextField">
            </igx-input-group>
            <igx-input-group>
                <label igxLabel for="myTextField2">A Text Field With Reactive Required</label>
                <input igxInput name="myTextField2" formControlName="myTextField2">
            </igx-input-group>
            <igx-select #select required formControlName="mySelectField">
                <label igxLabel>A Select Field</label>
                <igx-select-item *ngFor="let item of items" [value]="item">
                    {{item}}
                </igx-select-item>
            </igx-select>
        </form>
    </div>
</div>
