ul {
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0;
    max-height: 10.5em;
    overflow-y: auto;
    overflow: hidden;
    display: inline-block;
    width: 32%;
    text-align: center;
    
}
ul:focus, ul:active{
    outline:none;
}
li {
    min-height: 1.5em;
    cursor: pointer;
}

li.igx-time-picker__hour--selected{
    font-weight: bold;
    color:#E41C77;
    font-size: 20px;
}
li.igx-time-picker__hour--active{
    background-color:rgb(209, 208, 208);
}
li.igx-time-picker__hour--1{
    font-weight: normal;
    color: gray;
    font-size: 16px;
    opacity: 0.75;
}

li.igx-time-picker__hour--2{
    font-weight: normal;
    color: gray;
    font-size: 16px;
    opacity: 0.5;
}

li.igx-time-picker__hour--3{
    font-weight: normal;
    color: gray;
    font-size: 16px;
    opacity: 0.25;
}

li.igx-time-picker__minute--selected{
    font-weight: bold;
    color:#E41C77;
    font-size: 20px;
}
li.igx-time-picker__minute--active{
    background-color:rgb(209, 208, 208);
}
li.igx-time-picker__minute--1{
    font-weight: normal;
    color: gray;
    font-size: 16px;
    opacity: 0.75;
}

li.igx-time-picker__minute--2{
    font-weight: normal;
    color: gray;
    font-size: 16px;
    opacity: 0.5;
}

li.igx-time-picker__minute--3{
    font-weight: normal;
    color: gray;
    font-size: 16px;
    opacity: 0.25;
}

li.igx-time-picker__ampm--selected{
    font-weight: bold;
    color:#E41C77;
    font-size: 20px;
}
li.igx-time-picker__ampm--active{
    background-color:rgb(209, 208, 208);
}
li.igx-time-picker__ampm{
    font-weight: normal;
    color: gray;
    font-size: 16px;
    opacity: 0.75;
}