<input igxInput (click)="onClick()" [value]="displayTime" [disabled]="isDisabled" tabindex="0" />
<ng-container *ngTemplateOutlet="scroll" ></ng-container>
<ng-template #scroll>
    <div class="igx-time-picker">
        <igx-dialog class="igx-time-picker__dialog-popup" closeOnOutsideSelect="true"
                [leftButtonLabel]="cancelButtonLabel" (onLeftButtonSelect)="CancelButtonClick()"
                [rightButtonLabel]="okButtonLabel" (onRightButtonSelect)="OKButtonClick()">
                <ng-container #container>
                    <div class="igx-time-picker__header">
                        <h5 class="igx-time-picker__header-ampm">{{ selectedAmPm }}</h5>
                        <h2 class="igx-time-picker__header-hour">
                            <span>{{ selectedHour }}</span>:<span>{{ selectedMinute }}</span>
                        </h2>
                    </div>
                    <div class="igx-time-picker__body"> 
                        <div #hourList [igxItemList] class="igx-time-picker__column igx-time-picker__hourList" tabindex="0">
                            <span [igxHourItem]="hour" *ngFor="let hour of hourView">
                                {{ hour }}
                            </span>
                        </div>
                        <div #minuteList [igxItemList] class="igx-time-picker__column igx-time-picker__minuteList"  tabindex="0">
                            <span [igxMinuteItem]="minute" *ngFor="let minute of minuteView">
                                {{ minute }}
                            </span>
                        </div>
                        <div #ampmList [igxItemList] class="igx-time-picker__column igx-time-picker__ampmList" tabindex="0">
                            <span [igxAmPmItem]="ampm" *ngFor="let ampm of ampmView">
                                {{ ampm }}
                            </span>
                        </div>
                    </div>
                </ng-container>
        </igx-dialog>
    </div>
</ng-template>
