ul {
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0;
    max-height: 10.5em;
    overflow-y: auto;
    overflow: hidden;
    display: inline-block;
    width: 32%;
    text-align: center;
    
}
ul:hover{
    background-color:rgb(209, 208, 208);
}
li {
    min-height: 1.5em;
    cursor: pointer;
}
li:hover{
    font-weight: bold;
}

li.selected{
    font-weight: bold;
    color:#E41C77;
}