tr { 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
:host { 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
}

/*
.previousChunk {
    background-color: orange;
}

.currentChunk {
    background-color: green;
}

.nextChunk {
    background-color: red;
}*/