.displayContainer {
    width: 500px;
    height: 400px;
    position: absolute;
}

.mainContainer {
    overflow: hidden;
    position: relative;
}

.scrollContainer {
    border: 1px solid #777777;
    overflow: auto;
    position: relative;
}

.scrollInner { 
    pointer-events: none;
}

/*
.previousChunk {
    background-color: orange;
}

.currentChunk {
    background-color: green;
}

.nextChunk {
    background-color: red;
}*/
