@use 'igniteui-theming/sass/themes' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/expansion-panel' as *;

$material: digest-schema($dark-material-expansion-panel);
$bootstrap: digest-schema($dark-bootstrap-expansion-panel);
$fluent: digest-schema($dark-fluent-expansion-panel);
$indigo: digest-schema($dark-indigo-expansion-panel);
