// Fonts
//
$FONT_FAMILY: 'aktiv-grotesk', sans-serif
$FONT_FAMILY_MONO: Menlo, Monaco, Consolas, 'Courier New', monospace

$FONT_SIZE: 16px
$FONT_SIZE_MONO: 14px

$LINE_HEIGHT: 2rem


// Colors
//
$COLOR_BACKGROUND: #fff
$COLOR_TEXT: #666
$COLOR_TEXT_ASIDE: #808080
$COLOR_LINK: #4da6ff

$COLOR_MENU_DIVIDER: #dedede
$COLOR_MENU_DIVIDER_FOCUS: #000
$COLOR_MENU_LABEL: #808080

$COLOR_PANEL: #fff
$COLOR_PANEL_DIVIDER: #dedede

$COLOR_COMMENT_TAG: #09f
$COLOR_COMMENT_TAG_TEXT: #fff

$COLOR_CODE_BACKGROUND: #fff

$COLOR_TS: #9600ff
$COLOR_TS_INTERFACE: #7da01f
$COLOR_TS_ENUM: #f66604
$COLOR_TS_CLASS: #4da6ff
$COLOR_TS_PRIVATE: #808080

$TOOLBAR_COLOR: #222
$TOOLBAR_TEXT_COLOR: #333
$TOOLBAR_HEIGHT: 50px
