<div class="sample-wrapper">
    <div class="sample-header">
        <h1 class="title">Colors</h1>
        <p class="description">
            Notifies the user about a performed operation. It contains a single line of text and may contain a text action.
        </p>
    </div>

    <section class="sample-content">
        <article class="sample-column">
            <h4 class="sample-title">Default Theme Colors</h4>
            <div class="colors-row">
                <div class="color-container primary-color">
                    <h4 class="color-title">Primary Color</h4>
                    <div class="color-values">
                        <span class="variable">$ocean-blue</span>
                        <span class="hex">#0375BE</span>
                    </div>
                </div>
                <div class="color-container secondary-color">
                    <h4 class="color-title">Secondary Color</h4>
                    <div class="color-values">
                        <span class="variable">$vivid-cerise</span>
                        <span class="hex">#E41C77</span>
                    </div>
                </div>
                <div class="color-container accent-color">
                    <h4 class="color-title">Accent Color</h4>
                    <div class="color-values">
                        <span class="variable">$yellow-orange</span>
                        <span class="hex">#FBB13C</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="sample-column">
            <h4 class="sample-title">Supporting Colors</h4>
            <div class="colors-row">
                <div class="color-container success-color">
                    <h4 class="color-title">Success Color</h4>
                    <div class="color-values">
                        <span class="variable">$success-color</span>
                        <span class="hex">#4CAF50</span>
                    </div>
                </div>
                <div class="color-container warn-color">
                    <h4 class="color-title">Warning Color</h4>
                    <div class="color-values">
                        <span class="variable">$warn-color</span>
                        <span class="hex">#FBB13C</span>
                    </div>
                </div>
                <div class="color-container error-color">
                    <h4 class="color-title">Error Color</h4>
                    <div class="color-values">
                        <span class="variable">$error-color</span>
                        <span class="hex">#F44336</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="sample-column">
            <h4 class="sample-title">Color Palettes</h4>
            <div class="color-palettes">
                <div class="color-palette">
                    <div class="color-container primary-color">
                        <h4 class="color-title">Primary Color</h4>
                        <div class="color-values">
                            <span class="variable">500 ($primary-color)</span>
                            <span class="hex">#0375BE</span>
                        </div>
                        <div class="color-values m-100">
                            <span class="variable">100</span>
                            <span class="hex">#82CEFF</span>
                        </div>
                        <div class="color-values m-200">
                            <span class="variable">200</span>
                            <span class="hex">#70C0F5</span>
                        </div>
                        <div class="color-values m-300">
                            <span class="variable">300</span>
                            <span class="hex">#1D8CD3</span>
                        </div>
                        <div class="color-values m-400">
                            <span class="variable">400</span>
                            <span class="hex">#0A80CC</span>
                        </div>
                        <div class="color-values m-500">
                            <span class="variable">500 ($primary-color)</span>
                            <span class="hex">#0375BE</span>
                        </div>
                        <div class="color-values m-600">
                            <span class="variable">600</span>
                            <span class="hex">#0166A7</span>
                        </div>
                        <div class="color-values m-700">
                            <span class="variable">700</span>
                            <span class="hex">#015A94</span>
                        </div>
                        <div class="color-values m-800">
                            <span class="variable">800</span>
                            <span class="hex">#014E80</span>
                        </div>
                        <div class="color-values m-900">
                            <span class="variable">900</span>
                            <span class="hex">#01416A</span>
                        </div>
                    </div>
                </div>
                <div class="color-palette">
                    <div class="color-container secondary-color">
                        <h4 class="color-title">Secondary Color</h4>
                        <div class="color-values">
                            <span class="variable">500 ($secondary-color)</span>
                            <span class="hex">#E41C77</span>
                        </div>
                        <div class="color-values m-100">
                            <span class="variable">100</span>
                            <span class="hex">#FCC5DE</span>
                        </div>
                        <div class="color-values m-200">
                            <span class="variable">200</span>
                            <span class="hex">#E17FAB</span>
                        </div>
                        <div class="color-values m-300">
                            <span class="variable">300</span>
                            <span class="hex">#DC5491</span>
                        </div>
                        <div class="color-values m-400">
                            <span class="variable">400</span>
                            <span class="hex">#DF3683</span>
                        </div>
                        <div class="color-values m-500">
                            <span class="variable">500 ($secondary-color)</span>
                            <span class="hex">#E41C77</span>
                        </div>
                        <div class="color-values m-600">
                            <span class="variable">600</span>
                            <span class="hex">#DC0A6A</span>
                        </div>
                        <div class="color-values m-700">
                            <span class="variable">700</span>
                            <span class="hex">#D30160</span>
                        </div>
                        <div class="color-values m-800">
                            <span class="variable">800</span>
                            <span class="hex">#BF0157</span>
                        </div>
                        <div class="color-values m-900">
                            <span class="variable">900</span>
                            <span class="hex">#A5044D</span>
                        </div>
                    </div>
                </div>
                <div class="color-palette">
                    <div class="color-container accent-color">
                        <h4 class="color-title">Accent Color</h4>
                        <div class="color-values">
                            <span class="variable">500 ($accent-color)</span>
                            <span class="hex">#FBB13C</span>
                        </div>
                        <div class="color-values m-100">
                            <span class="variable">100</span>
                            <span class="hex">#FCF0DD</span>
                        </div>
                        <div class="color-values m-200">
                            <span class="variable">200</span>
                            <span class="hex">#F4D4A2</span>
                        </div>
                        <div class="color-values m-300">
                            <span class="variable">300</span>
                            <span class="hex">#F2C173</span>
                        </div>
                        <div class="color-values m-400">
                            <span class="variable">400</span>
                            <span class="hex">#F6B856</span>
                        </div>
                        <div class="color-values m-500">
                            <span class="variable">500 ($accent-color)</span>
                            <span class="hex">#FBB13C</span>
                        </div>
                        <div class="color-values m-600">
                            <span class="variable">600</span>
                            <span class="hex">#FFA81E</span>
                        </div>
                        <div class="color-values m-700">
                            <span class="variable">700</span>
                            <span class="hex">#FFA10C</span>
                        </div>
                        <div class="color-values m-800">
                            <span class="variable">800</span>
                            <span class="hex">#F69701</span>
                        </div>
                        <div class="color-values m-900">
                            <span class="variable">900</span>
                            <span class="hex">#E08901</span>
                        </div>
                    </div>
                </div>
                <div class="color-palette">
                    <div class="color-container gray-color">
                        <h4 class="color-title">Gray Color</h4>
                        <div class="color-values">
                            <span class="variable">500 ($gray)</span>
                            <span class="hex">rgba(0, 0, 0, .38)</span>
                        </div>
                        <div class="color-values m-100">
                            <span class="variable">100 ($off-white)</span>
                            <span class="hex">rgba(0, 0, 0, .04)</span>
                        </div>
                        <div class="color-values m-200">
                            <span class="variable">200</span>
                            <span class="hex">rgba(0, 0, 0, .08)</span>
                        </div>
                        <div class="color-values m-300">
                            <span class="variable">300</span>
                            <span class="hex">rgba(0, 0, 0, .12)</span>
                        </div>
                        <div class="color-values m-400">
                            <span class="variable">400 ($lightgray)</span>
                            <span class="hex">rgba(0, 0, 0, .26)</span>
                        </div>
                        <div class="color-values m-500">
                            <span class="variable">500 ($gray)</span>
                            <span class="hex">rgba(0, 0, 0, .38)</span>
                        </div>
                        <div class="color-values m-600">
                            <span class="variable">600 ($darkgray)</span>
                            <span class="hex">rgba(0, 0, 0, .54)</span>
                        </div>
                        <div class="color-values m-700">
                            <span class="variable">700</span>
                            <span class="hex">rgba(0, 0, 0, .62)</span>
                        </div>
                        <div class="color-values m-800">
                            <span class="variable">800 ($off-black)</span>
                            <span class="hex">rgba(0, 0, 0, .74)</span>
                        </div>
                        <div class="color-values m-900">
                            <span class="variable">900 ($black)</span>
                            <span class="hex">rgba(0, 0, 0, .87)</span>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</div>