<div class="igx-calendar">

    <div class="igx-calendar__header" *ngIf="selection === 'single'">
        <h5 class="igx-calendar__header-year">{{ getHeaderYear() }}</h5>
        <h2 class="igx-calendar__header-date">
            <span>
                {{ getFormattedDate().weekday }},&nbsp;
            </span>
            <span>
                {{ getFormattedDate().monthday }}
            </span>
        </h2>
    </div>

    <div *ngIf="isDefaultView" class="igx-calendar__body" [@animateView]="activeView">
        <div class="igx-calendar__body-picker">
            <div class="prev" (click)="prevMonth()">
                <i class="material-icons">keyboard_arrow_left</i>
            </div>
            <div class="date">
                <span (click)="activeViewYear()" class="date__el">{{ getMonthName(viewDate) }}</span>
                <span (click)="activeViewDecade()" class="date__el">{{ currentYear }}</span>
            </div>
            <div class="next" (click)="nextMonth()">
                <i class="material-icons">keyboard_arrow_right</i>
            </div>
        </div>

        <div class="igx-calendar__body-row">
            <span *ngFor="let dayName of generateWeekHeader()" class="igx-calendar__label">
                {{ dayName }}
            </span>
        </div>
        <div *ngFor="let week of getMonth; trackBy:rowTracker" class="igx-calendar__body-row" (click)="onDateClick($event)" [@animateChange]="monthAction">
            <span *ngFor="let day of week; trackBy:dateTracker" [attr.data-prevmonth]="day.isPrevMonth ? true : null" [attr.data-nextmonth]="day.isNextMonth ? true : null"
                [class.igx-calendar__date--inactive]="isInactive(day)" [class.igx-calendar__date]="day.isCurrentMonth && !isWeekend(day) && !isSelected(day)"
                [class.igx-calendar__date--weekend]="isWeekend(day)" [class.igx-calendar__date--current]="isToday(day) && !isSelected(day)"
                [class.igx-calendar__date--selected]="isSelected(day)">
                {{ day.date.getDate() }}
            </span>
        </div>

    </div>

    <div *ngIf="isYearView" class="igx-calendar__body" [@animateView]="activeView">
        <div class="igx-calendar__body-row--wrap" (click)="changeMonth($event)">
            <div [attr.data-index]="i" *ngFor="let month of getYear(); let i = index;" [class.igx-calendar__month]="!isCurrentMonth(month)"
                [class.igx-calendar__month--current]="isCurrentMonth(month)">
                {{ getMonthName(month) }}
            </div>
        </div>
    </div>

    <div *ngIf="isDecadeView" class="igx-calendar__body" [@animateView]="activeView">
        <div class="igx-calendar__body-column" (click)="changeYear($event)" (wheel)="handleScroll($event)">
            <span *ngFor="let year of getDecade()" [class.igx-calendar__year]="!isCurrentYear(year)" [class.igx-calendar__year--current]="isCurrentYear(year)">
                {{ year }}
            </span>
        </div>
    </div>
</div>