@use 'igniteui-theming/sass/bem' as *;
@use 'igniteui-theming/sass/typography/functions' as *;
@use 'styles/themes/standalone' as *;

@include themed-block(igx-excel-filter, fluent) {
    @include m(menu) {
        .igx-button-group {
            --item-selected-hover-icon-color: color($color: 'secondary', $variant: 500);
            --item-focused-border-color: color($color: 'gray', $variant: 700);
        }
    }
}
