.columns-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 16px;
    margin: 32px 16px;
}

.timepicker-column {
    margin: 16px 0;
}

.action-buttons {
    display: flex;
    justify-content: center;
    padding: 8px;
}
