////
/// @group themes
/// @access public
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
/// @author <a href="https://github.com/desig9stein" target="_blank">Marin Popov</a>
////
@function igx-tabbar-theme(
    $background: null,
    $idle-item-color: null,
    $active-item-color: null
) {
    @if not($idle-item-color) and $background {
        $idle-item-color: rgba(text-contrast($background), .7);
    }

    @return (
        background: $background,
        idle-item-color: $idle-item-color,
        active-item-color: $active-item-color
    );
}

@mixin igx-tabbar($theme, $palette: $default-palette) {
    $default-theme: igx-tabbar-theme(
        $background: #fff,
        $idle-item-color: igx-color($palette, 'grays', 600),
        $active-item-color: igx-color($palette, 'primary')
    );

    $this: extend($default-theme, $theme);

    // @debug $this;

    $menu-height: 56px;
    $top-menu-shadow: igx-elevation($elevations, 8);
    $bottom-menu-shadow: 0 -2px 4px -1px igx-color($palette, 'grays', 400),
        0 -4px 5px 0 igx-color($palette, 'grays', 300),
        0 -1px 10px 0 igx-color($palette, 'grays', 200);

    $item-min-width: 80px;
    $item-max-width: 168px;
    $item-padding: 0 rem(12px, 16px);

    $label-font-size: rem(12px, 16px);
    $label-line-height: rem(12px, 16px);


    %igx-tab-panel {
        display: none;
    }

    %igx-tab-panel--selected {
        display: block;
    }

    %igx-tabbar-menu {
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        left: 0;
        right: 0;
        height: $menu-height;
        background: map-get($this, 'background');
        overflow: hidden;
        z-index: 8;
    }

    %igx-tabbar-menu--top {
        top: 0;
        bottom: inherit;
        box-shadow: $top-menu-shadow;
    }

    %igx-tabbar-menu--bottom {
        top: inherit;
        bottom: 0;
        box-shadow: $bottom-menu-shadow
    }

    %igx-tabbar-menu-item {
        display: flex;
        position: relative;
        flex-flow: column nowrap;
        flex: 1;
        align-items: center;
        justify-content: center;
        min-width: $item-min-width;
        max-width: $item-max-width;
        height: 100%;
        color: map-get($this, 'idle-item-color');
        cursor: pointer;
        user-select: none;
        overflow: hidden;
        padding: $item-padding;
        -webkit-tap-highlight-color: transparent;
    }

    %igx-tabbar-menu-item--disabled {
        opacity: .5;
        cursor: default;
    }

    %igx-active-tab {
        color: map-get($this, 'active-item-color');
        transition: color .15s $ease-in-out-quad, opacity .25s $ease-in-out-quad;
    }

    %igx-tab-label {
        @include ellipsis();
        padding-top: 4px;
        font-size: $label-font-size;
        line-height: $label-line-height;
        max-width: 100%;
        text-align: center;
        transform: translateZ(0);
        transition: transform .15s $ease-in-out-quad;
        z-index: 1;
    }

    %igx-tab-icon {
        display: flex;
        position: relative;
        justify-content: center;
        height: 24px;
        padding: 0 8px;
        transform: translateZ(0);
        transition: transform .15s $ease-in-out-quad;
        z-index: 1;

        igx-badge {
            position: absolute;
            top: -6px;
            right: -6px;
            padding: 1px;
        }
    }

    %igx-tab-icon--selected {
        @extend %igx-active-tab;
        transform: translateY(-2px);
    }

    %igx-tab-label--selected {
        @extend %igx-active-tab;
        transform: translateY(-2px) scale(1.166667);
    }
}
