.tsd-header
    position: fixed
    display: flex
    width: 100%
    height: $TOOLBAR_HEIGHT
    background: $TOOLBAR_COLOR
    padding: 0 15px
    z-index: 99
    align-items: center

    &-logo
        display: inline-flex
        align-items: center
        font-size: 18px
        font-weight: 400

        > .title
            color: #fff

            &:hover
                text-decoration: none

        > .version
            font-size: 12px
            background: #666
            color: #efefef
            padding: 4px 8px
            margin-left: 12px
            font-weight: 500
