.tsd-header
    position: fixed
    display: flex
    flex-flow: column nowrap
    width: 100%
    z-index: 99

    .tsd-header-content
        display: flex
        height: $TOOLBAR_HEIGHT
        background: $TOOLBAR_COLOR
        justify-content: space-between
        padding: 0 15px
        align-items: center
        border-bottom: 1px solid rgba(white, .1)

    &-logo
        display: inline-flex
        font-size: 18px
        font-weight: 400

        > .title
            color: #fff

            &:hover
                text-decoration: none

        > .version
            font-size: 12px
            background: #666
            color: #efefef
            padding: 4px 8px
            margin-left: 12px
            font-weight: 500
