.density-chooser {
    margin-bottom: 16px;
    max-width: 900px;
}

.sample-buttons {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;

    &:nth-child(2) {
        margin-bottom: 3rem;
    }
}

igx-checkbox {
    margin: 0px 10px;
}

[igxButton]+[igxButton] {
    margin-left: 8px;
}
