<div class="sample-content">
        <div class="sample-column">
            <div class="density-chooser">
                <igx-buttongroup [values]="displayDensities" (selected)="selectDensity($event)"></igx-buttongroup>
            </div>

            <igx-grid
                #grid1
                [data]="data"
                [displayDensity]="density"
                [allowFiltering]="true"
                [filterStrategy]="filterStrategy"
                [filterMode]="'excelStyleFilter'"
                [allowAdvancedFiltering]="true"
                [rowSelection]="selectionMode"
                [paging]="false"
                [width]="'980px'"
                [height]="'600px'"
                [columnSelection]="'single'">
                <igx-grid-toolbar [displayDensity]="grid1.displayDensity">
                    <igx-grid-toolbar-actions>
                       <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
                       <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
                        <igx-grid-toolbar-advanced-filtering *ngIf="grid1.allowAdvancedFiltering">
                            Really advanced filtering
                        </igx-grid-toolbar-advanced-filtering>
                        <igx-grid-toolbar-exporter [exportCSV]="true" [exportExcel]="true">
                            <span excelText>Export to Excel 👌</span>
                            <span csvText>Export to CSV 👍</span>
                        </igx-grid-toolbar-exporter>
                    </igx-grid-toolbar-actions>
                </igx-grid-toolbar>
                <igx-column *ngFor="let c of columns" [field]="c.field"
                                                    [header]="c.header"
                                                    [movable]="c.movable"
                                                    [groupable]="true"
                                                    [resizable]="c.resizable"
                                                    [width]="c.width"
                                                    [sortable]="true"
                                                    [filterable]="true"
                                                    [editable]="true"
                                                    [hidden]="c.hidden"
                                                    [minWidth]="c.minWidth"
                                                    [maxWidth]="c.maxWidth"
                                                    [dataType]="c.type">
                </igx-column>
                <igx-column field="Capital" [dataType]="'number'" [filterable]="true" [formatter]="formatNumber"></igx-column>
                <igx-column field="Index" [dataType]="'string'" [filterable]="true" [formatter]="formatEvenOdd"></igx-column>
            </igx-grid>

            <div class="sample-buttons">
                <igx-checkbox [checked]="grid1.allowFiltering" (change)="onAllowFilteringChanged($event)">Allow Filtering</igx-checkbox>
                <igx-buttongroup [multiSelection]="false" [values]="filterModes" (selected)="selectFilterMode($event)"></igx-buttongroup>
            </div>
            <div class="sample-buttons">
                <igx-checkbox [(ngModel)]="grid1.allowAdvancedFiltering">Allow Advanced Filtering</igx-checkbox>
                <button igxButton="raised" (click)="openAdvancedFiltering()">Open Advanced Filtering</button>
                <button igxButton="raised" (click)="closeAdvancedFiltering()">Close Advanced Filtering</button>
                <igx-checkbox #applyChangesCheckbox checked="true">Apply Changes</igx-checkbox>
                <button igxButton="raised" (click)="clearAdvancedFiltering()">Clear Advanced Filtering</button>
            </div>

            <h3 style="margin-top: 150px;">ESF Templates</h3>
            <igx-grid
                #grid2
                [data]="data"
                [displayDensity]="density"
                [allowFiltering]="true"
                [filterMode]="'excelStyleFilter'"
                [allowAdvancedFiltering]="true"
                [rowSelection]="selectionMode"
                [paging]="false"
                [width]="'980px'"
                [height]="'600px'"
                [columnSelection]="'single'">
                <igx-grid-toolbar [displayDensity]="grid1.displayDensity">
                    <igx-grid-toolbar-actions>
                       <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
                       <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
                        <igx-grid-toolbar-advanced-filtering>Really advanced filtering</igx-grid-toolbar-advanced-filtering>
                        <igx-grid-toolbar-exporter [exportCSV]="true" [exportExcel]="true">
                            <span excelText>Export to Excel 👌</span>
                            <span csvText>Export to CSV 👍</span>
                        </igx-grid-toolbar-exporter>
                    </igx-grid-toolbar-actions>
                </igx-grid-toolbar>
                <igx-column *ngFor="let c of columns" [field]="c.field"
                                                    [header]="c.header"
                                                    [movable]="c.movable"
                                                    [groupable]="true"
                                                    [resizable]="c.resizable"
                                                    [width]="c.width"
                                                    [sortable]="true"
                                                    [filterable]="true"
                                                    [editable]="true"
                                                    [hidden]="c.hidden"
                                                    [minWidth]="c.minWidth"
                                                    [maxWidth]="c.maxWidth"
                                                    [dataType]="c.type">
                </igx-column>

                <ng-template igxExcelStyleHeaderIcon>
                    <igx-icon>filter_alt</igx-icon>
                </ng-template>

                <igx-grid-excel-style-filtering [minHeight]="'700px'" [maxHeight]="'none'">
                    <div igxExcelStyleColumnOperations>COLUMN OPERATIONS
                        <igx-excel-style-header></igx-excel-style-header>
                        <igx-excel-style-sorting></igx-excel-style-sorting>
                        <igx-excel-style-moving></igx-excel-style-moving>
                        <igx-excel-style-pinning></igx-excel-style-pinning>
                        <igx-excel-style-hiding></igx-excel-style-hiding>
                        <igx-excel-style-selecting></igx-excel-style-selecting>
                    </div>
                    <igx-excel-style-filter-operations>FILTER OPERATIONS
                        <igx-excel-style-clear-filters></igx-excel-style-clear-filters>
                        <igx-excel-style-conditional-filter></igx-excel-style-conditional-filter>
                        <igx-excel-style-search></igx-excel-style-search>
                    </igx-excel-style-filter-operations>
                </igx-grid-excel-style-filtering>
            </igx-grid>
        </div>
    </div>
