:host {
    display: grid;
    gap: var(--demos-gap);
	
	> p {
		max-width: 70ch;
		color: var(--ig-gray-600);
	}
	
	.demo-export-btn {
		--ig-size: 1;
	}
	
	.sample-description {
		color: #666;
		margin-bottom: 30px;
		line-height: 1.6;
	}
	
	.igx-grid-toolbar {
		--background-color: linear-gradient(130deg, transparent 0%, var(--ig-gray-100) 100%);
	}
	
	.info-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--demos-gap);
	}
	
	.info-section {
		display: grid;
		gap: var(--demos-gap);
		grid-template-rows: auto auto 1fr;
		align-items: start;
		background: linear-gradient(120deg, var(--ig-gray-100) 0%, transparent 70%);
		border-left: .2rem solid var(--ig-info-500);
		padding: 1.5rem;
		border-radius: .2rem;
		color: var(--ig-gray-600);
		
		h4 {
			color: var(--ig-info-500);
			margin: 0;
		}
		
		ol,ul {
			margin: 0;
		}
		
		ul {
			span {
				display: block;
				color: var(--ig-info-500);
			}
		}
		
		ul,ol {
			display: grid;
			gap: var(--demos-gap);
			padding-block-start: 0;
		}
		
		strong {
			color: var(--ig-gray-800);
		}
	}
	
	.grids-container {
		display: grid;
		gap: var(--demos-gap);
	}
	
	.demo-pivot-grid-container {
		display: flex;
		gap: calc(var(--demos-gap) / 2);
	}
}
