.game-board {
    width: 600px;
    margin: 30px auto;
}

.sample-flex-item {
    display: flex;
    flex-direction: column;
}

.sample-flex-row {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    button {
        margin-right: 10px;

        &:last-of-type {
            margin: 0;
        }
    }
}

.game-board__collapsible {
    width: 100%;
}

.game-board__grid {
    height: 100%;
    width: 100%;
}

.game-board__grid__match {
    font-weight: 600;
    font-size: 12px; 
}

.igx-expansion-panel__header-body {
    display: block;
}
