.game-board {
    width: 400px;
    display: flex;
    flex-direction: row;
}

.game-board__collapsible {
    width: 100%;
}

.game-board__grid {
    height: 100%;
    width: 100%;
}

.game-board__grid__match {
    font-weight: 600;
    font-size: 12px; 
}

.igx-expansion-panel__header-icon--start {
    width: 56px;
    order: -1;
}
.igx-expansion-panel__header-icon--end {
    width: 56px;
    order: 5;
}
.igx-expansion-panel__header-icon--none {
    width: 56px;
    display: none;
    visibility: hidden;
}
