<div class="sample-wrapper">
    <page-header title="Calendar" description="Informs and requires a response from the user."></page-header>
    <section class="sample-content">

        <article class="sample-column">
            <div class="calendar-sample">
                <h4 class="sample-title">Default Calendar</h4>
                <igx-card>
                    <igx-calendar weekStart="1"></igx-calendar>
                </igx-card>
            </div>
            <div class="calendar-sample">
                <h4 class="sample-title">Range Calendar</h4>
                <igx-card>
                    <igx-calendar weekStart="1" selection="range"></igx-calendar>
                </igx-card>
            </div>
        </article>
    </section>
</div>