.igx-drop-down__item-template {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
