<div class="sample-wrapper">
    <page-header title="Dropdown menu" description="description for dropdown menu"></page-header>
    <section class="sample-content">

        <button igxButton="raised" igxRipple (click)="toggleDropDown()">Toggle</button>
        <igx-drop-down (onSelection)="onSelection($event)" (onOpening)="onOpening($event)">
            <igx-drop-down-item *ngFor="let item of items" isDisabled={{item.disabled}} isHeader={{item.header}}>
                <div  class="igx-drop-down__item-template">
                    {{ item.field }}
                </div>
            </igx-drop-down-item>
        </igx-drop-down>
        <div class=""></div>
    </section>
</div>

<!-- <igx-drop-down (onSelection)="onSelection($event)" [style.overflow-y]="'hidden'">
    <div [style.height]="'500px'" [style.overflow]="'hidden'" [style.position]="'relative'">
        <igx-drop-down-item *igxFor="let item of items; scrollOrientation: 'vertical'; containerSize: '500px'; itemSize: '50px'"
            isDisabled={{item.disabled}} isHeader={{item.header}}>
            {{ item.field }}
        </igx-drop-down-item>
    </div>
</igx-drop-down> -->