////
/// @group themes
/// @access public
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
/// @author <a href="https://github.com/desig9stein" target="_blank">Marin Popov</a>
////

/// @param {Color} $background [null] - The dialog background color.
/// @param {Color} $title-color [null] - The dialog title text color.
/// @param {Color} $message-color [null] - The dialog message text color.
/// @requires text-contrast
///
/// @example scss Change the background color
///   $my-dialog-theme: igx-dialog-theme($background: black);
///   // Pass the theme to the igx-dialog component mixin
///   @include igx-dialog($my-dialog-theme);
@function igx-dialog-theme(
    $background: null,
    $title-color: null,
    $message-color: null
) {
    @if not($title-color) and $background{
        $title-color: text-contrast($background) ;
    }

    @if not($message-color) and $background{
        $message-color: rgba(text-contrast($background), .8) ;
    }

    @return (
        background:$background,
        title-color:$title-color,
        message-color:$message-color
    );
}

/// @param {Map} $theme - The theme used to style the component.
/// @param {Map} $palette [$default-palette] - The palette used as basis for styling the component.
/// @requires igx-dialog-theme
/// @requires igx-color
/// @requires igx-elevation
/// @requires $elevations
/// @requires $overlay-color
/// @requires extend
/// @requires em
@mixin igx-dialog($theme, $palette: $default-palette) {

    $default-theme: igx-dialog-theme(
        $background: #fff,
        $title-color: igx-color($palette, grays, 800),
        $message-color: igx-color($palette, grays, 600)
    );

    $this: extend($default-theme, $theme);

    // 24. Dialog //
    $dialog-max-width: em(400px);
    $dialog-min-width: em(280px);
    $dialog-padding: em(12px, 16px) em(24px, 16px);
    $dialog-title-font-size: em(20px, 16px);
    $dialog-title-line-height: em(16px, 16px);
    $dialog-title-padding: em(12px) 0;
    $dialog-title-padding-top: em(12px);
    $dialog-title-padding-bottom: em(10px);
    $dialog-title-font-weight: 600;
    $dialog-message-font-size: em(16px, 16px);
    $dialog-message-line-height: em(18px, 16px);
    $dialog-message-padding-top: em(10px);
    $dialog-message-padding-bottom: em(12px);
    $dialog-message-font-weight: 400;
    $dialog-actions-padding: em(8px);
    $dialog-actions-margin: 0 em(-24px, 16px) em(-12px, 16px) em(-24px, 16px);

    %igx-dialog-display {
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: $overlay-color;
        z-index: 24;
    }

    %igx-dialog--hidden {
        display: none;
    }

    %igx-dialog-window {
        max-width: $dialog-max-width;
        min-width: $dialog-min-width;
        padding: $dialog-padding;
        border-radius: 2px;
        background: map-get($this, 'background');
        box-shadow: igx-elevation($elevations, 24);
    }

    %igx-dialog-title {
        color: map-get($this, 'title-color');
        font-size: $dialog-title-font-size;
        line-height: $dialog-title-line-height;
        padding-top: $dialog-title-padding-top;
        padding-bottom: $dialog-title-padding-bottom;
        font-weight: $dialog-title-font-weight;
    }

    %igx-dialog-content {
        color: map-get($this, 'message-color');
        font-size: $dialog-message-font-size;
        line-height: $dialog-message-line-height;
        padding-top: $dialog-message-padding-top;
        padding-bottom: $dialog-message-padding-bottom;
    }

    %igx-dialog-actions {
        display: flex;
        margin: $dialog-actions-margin;
        flex-flow: row nowrap;
        justify-content: flex-end;
        padding: $dialog-actions-padding;

        button ~ button {
            margin-left: 8px;
        }
    }
}
