////
/// @group themes
/// @access public
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
/// @author <a href="https://github.com/desig9stein" target="_blank">Marin Popov</a>
////

/// Dialog Theme
/// @param {Map} $palette [$default-palette] - The palette used as basis for styling the component.
/// @param {Color} $background [null] - The dialog background color.
/// @param {Color} $title-color [null] - The dialog title text color.
/// @param {Color} $message-color [null] - The dialog message text color.
///
/// @requires extend
/// @requires text-contrast
/// @requires igx-color
///
/// @example scss Change the background color
///   $my-dialog-theme: igx-dialog-theme($background: black);
///   // Pass the theme to the igx-dialog component mixin
///   @include igx-dialog($my-dialog-theme);
@function igx-dialog-theme(
    $palette: $default-palette,
    $background: null,
    $title-color: null,
    $message-color: null
) {
    $default-theme: (
        name: 'igx-dialog',
        background: #fff,
        title-color: igx-color($palette, grays, 800),
        message-color: igx-color($palette, grays, 600)
    );

    @if not($title-color) and $background{
        $title-color: text-contrast($background);
    }

    @if not($message-color) and $background{
        $message-color: rgba(text-contrast($background), .8);
    }

    @return extend($default-theme, (
        palette: $palette,
        background: $background,
        title-color: $title-color,
        message-color: $message-color
    ));
}

/// @param {Map} $theme - The theme used to style the component.
/// @requires {mixin} igx-root-css-vars
/// @requires igx-elevation
/// @requires $elevations
/// @requires $overlay-color
/// @requires rem
/// @requires var
@mixin igx-dialog($theme) {
    @include igx-root-css-vars($theme);

    $dialog-min-width: rem(280px);

    $dialog-title-font-size: rem(20px);
    $dialog-title-line-height: rem(16px);
    $dialog-title-padding: rem(24px) rem(24px) rem(12px) rem(24px);
    $dialog-title-font-weight: 600;

    $dialog-message-font-size: rem(16px);
    $dialog-message-line-height: rem(18px);

    $dialog-message-padding: rem(12px) rem(24px);
    $dialog-message-font-weight: 400;
    $dialog-actions-padding: rem(8px);

    %igx-dialog-display {
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: $overlay-color;
        z-index: 99999;
    }

    %igx-dialog--hidden {
        display: none;
    }

    %igx-dialog-window {
        position: relative;
        min-width: $dialog-min-width;
        border-radius: 2px;
        background: var($theme, 'background');
        box-shadow: igx-elevation($elevations, 24);
        overflow: hidden;
    }

    %igx-dialog-title {
        color: var($theme, 'title-color');
        font-size: $dialog-title-font-size;
        line-height: $dialog-title-line-height;
        padding: $dialog-title-padding;
        font-weight: $dialog-title-font-weight;
    }

    %igx-dialog-content {
        color: var($theme, 'message-color');
        max-width: 40ch;
        font-size: $dialog-message-font-size;
        line-height: $dialog-message-line-height;
        padding: $dialog-message-padding;
    }

    %igx-dialog-actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        padding: $dialog-actions-padding;

        button ~ button {
            margin-left: rem(8px);
        }
    }
}
