<form [formGroup]="form">
    <igx-checkbox formControlName="checkbox">Checkbox</igx-checkbox>
    <igx-radio-group formControlName="radio">
      <igx-radio [value]="1">1</igx-radio>
      <igx-radio [value]="2">2</igx-radio>
      <igx-radio [value]="3">3</igx-radio>
    </igx-radio-group>
    <igx-switch formControlName="switch">Switch</igx-switch>
    <igx-input-group>
      <igx-prefix>Prefix</igx-prefix>
      <label igxLabel for="input">Input</label>
      <input igxInput formControlName="input" id="input" />
      <igx-suffix>Suffix</igx-suffix>
      <igx-hint>Hint</igx-hint>
    </igx-input-group>
    <button igxButton>Submit</button>
</form>
