<input #radio class="igx-radio__input" type="radio"
    [id]="id"
    [name]="name"
    [value]="value"
    [tabindex]="tabindex"
    [disabled]="disabled"
    [checked]="checked"
    [required]="required"
    [attr.aria-checked]="checked"
    [attr.aria-labelledby]="ariaLabelledBy"
    [attr.aria-label]="ariaLabel"
    (click)="_onRadioClick($event)"
    (change)="_onRadioChange($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)" />

<label #nativeLabel class="igx-radio__composite" igxRipple
    igxRippleTarget=".igx-radio__ripple"
    [igxRippleDisabled]="disableRipple"
    [igxRippleCentered]="true"
    [igxRippleDuration]="100"
    [for]="id">
    <div class="igx-radio__ripple"></div>
</label>

<span #placeholderLabel role="label"
    [id]="labelId"
    [class]="labelClass"
    (click)="_onLabelClick()">
    <ng-content></ng-content>
</span>
