@import "../core/styles/base/index";
@import "../themes/material/config";
@import "../themes/material/extends/radio";

@include b(igx-control) {
    $block: bem--selector-to-string(&);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $control-padding;

    @include e(radio) {
        //hide default radio control
        @include hide-default;

        ~ #{$block}__label {
            @extend %igx-radio-lbl-display;
        }

        &:not(:checked) ~ #{$block}__label::before {
            @extend %igx-radio-lbl-notchecked--before;
        }

        &:not(:checked) ~ #{$block}__label::after {
            @extend %igx-radio-lbl-notchecked--after;
        }

        &:checked ~ #{$block}__label::before {
            @extend %igx-radio-lbl-checked--before;
        }

        &:checked ~ #{$block}__label::after {
            @extend %igx-radio-lbl-checked--after;
        }

        &:disabled ~ #{$block}__label {
            @extend %igx-radio-lbl--disabled;
        }

        &:disabled:checked ~ #{$block}__label::before {
            @extend %igx-radio-lbl-checked--disabled-before;
        }

        &:disabled:checked ~ #{$block}__label::after {
            @extend %igx-radio-lbl-checked--disabled-after;
        }

        &:disabled:not(:checked) ~ #{$block}__label::after {
            @extend %igx-radio-lbl-notchecked--disabled-after;
        }
    }
}
