<div class="sample-content">
    <div class="sample-column">
        <size-selector #sizeSelector></size-selector>

        <igx-query-builder #queryBuilder [style.--ig-size]="'var(--ig-size-' + sizeSelector.size + ')'"
            (expressionTreeChange)="handleExpressionTreeChange()" [entities]="this.entities"
            [expressionTree]="this.expressionTree">
            <!-- Custom header -->
            <!-- <igx-query-builder-header [title]="'Builder'" [showLegend]="false"><span>Custom Title</span></igx-query-builder-header> -->

            <!-- Custom SearchValue template for a given column and condition -->
            <ng-template #searchValueTemplate igxQueryBuilderSearchValue let-searchValue
                let-selectedField="selectedField" let-selectedCondition="selectedCondition"
                let-defaultSearchValueTemplate="defaultSearchValueTemplate">
                @if ((selectedField?.field === 'Id' || selectedField?.field === 'Name') && selectedCondition ===
                'equals'){
                <!-- <input type="text" required [(ngModel)]="searchValue.value"/> -->
                <!-- <igx-combo #combo class="combo" [data]="lData" [(ngModel)]="searchValue.value"
                    (selectionChanging)="handleChange($event, selectedField, searchValue)" [displayKey]="'field'">
                </igx-combo> -->
                <igx-combo #combo class="combo" [data]="lData" [(ngModel)]="searchValue.value" [displayKey]="'field'">
                </igx-combo>
                } @else {
                <ng-container #defaultTemplate *ngTemplateOutlet="defaultSearchValueTemplate"></ng-container>
                }
            </ng-template>
        </igx-query-builder>

        <!-- <div class="sample-buttons">
            <button igxButton="contained" igxRipple (click)="changeLocale('fr')">Change locale to France</button>
        </div> -->

        <div *ngIf="this.queryResult" style="margin-top: 1em">
            {{ this.queryResult }}
        </div>

        <div class="output-area">
            <pre>{{ printExpressionTree(queryBuilder.expressionTree) }}</pre>
        </div>
    </div>
</div>
