<div class="qb-sample-content">
    <div class="qb-sample-column">
        <button igxButton="contained" (click)="qbDialog.open()">Open QB inside a dialog</button>

        <igx-dialog #qbDialog closeOnOutsideSelect>
            <igx-query-builder [entities]="this.entities">
                <igx-query-builder-tree ></igx-query-builder-tree>
            </igx-query-builder>
        </igx-dialog>

        <igx-query-builder #queryBuilder0 [entities]="this.entities"></igx-query-builder>

        <igx-query-builder #queryBuilder
                           (expressionTreeChange)="handleExpressionTreeChange()" [entities]="this.entities"
                           [expressionTree]="this.expressionTree">
            <!-- Custom header -->
            <!-- <igx-query-builder-header [title]="'Builder'"><span>Custom Title</span></igx-query-builder-header> -->

            <!-- Custom SearchValue template for a given column and condition -->
            <ng-template #searchValueTemplate igxQueryBuilderSearchValue let-searchValue
                         let-selectedField="selectedField" let-selectedCondition="selectedCondition"
                         let-defaultSearchValueTemplate="defaultSearchValueTemplate">
                @if ((selectedField?.field === 'Id' || selectedField?.field === 'Name') && selectedCondition ===
                'equals'){
                    <!-- <input type="text" required [(ngModel)]="searchValue.value"/> -->
                            <!-- <igx-combo #combo class="combo" [data]="lData" [(ngModel)]="searchValue.value"
                                (selectionChanging)="handleChange($event, selectedField, searchValue)" [displayKey]="'field'">
                            </igx-combo> -->
                    <igx-combo #combo class="combo" [data]="lData" [(ngModel)]="searchValue.value" [displayKey]="'field'">
                    </igx-combo>
                } @else {
                    <ng-container *ngTemplateOutlet="defaultSearchValueTemplate"></ng-container>
                }
            </ng-template>
        </igx-query-builder>
        <div class="qb-sample-buttons">
            <button igxButton="contained" igxRipple (click)="canCommitExpressionTree()">can commit</button>
            <button igxButton="contained" igxRipple (click)="commitExpressionTree()">commit</button>
            <button igxButton="contained" igxRipple (click)="discardExpressionTree()">discard</button>
        </div>

        <div *ngIf="this.queryResult" style="margin-top: 1em">
            {{ this.queryResult }}
        </div>

        <div class="qb-output-area">
            <pre>{{ printExpressionTree(queryBuilder.expressionTree) }}</pre>
        </div>
    </div>
</div>
