// Ignite UI JS Blocks Variables //
// Table of Contents: //
// 1. Colors
// 2. Badges
// 3. Buttons
// 4. Cards
// TODO: 5. Collapsible
// TODO: 6. Chips
// 7. Calendar/Date Picker
// TODO: 8. Dropdown
// 9. Fonts
// 10. Forms
// 11. Global
// 12. Navigation Bar
// 13. Navigation Drawer
// 14. Slider
// TODO: 15. Spinners | Loaders
// TODO: 16. Tabs
// 17. Grid
// 18. Toasts
// 19. Typography
// TODO: 20. Flow Text
// TODO: 21. Collections
// 22. Progress Bar
// 23. Lists
// 24. Dialog
// 25. Snackbar
// 26. Button Group
// 27. Avatar
// 28. Carousel
// 29. Icon
// 1. Colors //
// Base colors
$rich-black: #0b3c49 !default;
$byzantium: #731963 !default;
$vivid-cerise: #e41c77 !default;
$yellow-orange: #fbb13c !default;
$ocean-blue: #0375be !default;
$white: #fff !default;
// Main Theme Colors
$primary-color: $ocean-blue !default;
$secondary-color: $vivid-cerise !default;
$accent-color: $yellow-orange !default;
// Generate Color Palette
$colors: ( primary: ( 100: gen-color($primary-color, 100), 200: gen-color($primary-color, 200), 300: gen-color($primary-color, 300), 400: gen-color($primary-color, 400), 500: $primary-color, 600: gen-color($primary-color, 600), 700: gen-color($primary-color, 700), 800: gen-color($primary-color, 800), 900: gen-color($primary-color, 900), A100: gen-color($primary-color, 'A100'), A200: gen-color($primary-color, 'A200'), A400: gen-color($primary-color, 'A400'), A700: gen-color($primary-color, 'A700')), secondary: ( 100: gen-color($secondary-color, 100), 200: gen-color($secondary-color, 200), 300: gen-color($secondary-color, 300), 400: gen-color($secondary-color, 400), 500: $secondary-color, 600: gen-color($secondary-color, 600), 700: gen-color($secondary-color, 700), 800: gen-color($secondary-color, 800), 900: gen-color($secondary-color, 900), A100: gen-color($secondary-color, 'A100'), A200: gen-color($secondary-color, 'A200'), A400: gen-color($secondary-color, 'A400'), A700: gen-color($secondary-color, 'A700')), accent: ( 100: gen-color($accent-color, 100), 200: gen-color($accent-color, 200), 300: gen-color($accent-color, 300), 400: gen-color($accent-color, 400), 500: $accent-color, 600: gen-color($accent-color, 600), 700: gen-color($accent-color, 700), 800: gen-color($accent-color, 800), 900: gen-color($accent-color, 900), A100: gen-color($accent-color, 'A100'), A200: gen-color($accent-color, 'A200'), A400: gen-color($accent-color, 'A400'), A700: gen-color($accent-color, 'A700')), gray: ( 100: rgba(0, 0, 0, .04), 200: rgba(0, 0, 0, .08), 300: rgba(0, 0, 0, .12), 400: rgba(0, 0, 0, .26), 500: rgba(0, 0, 0, .38), 600: rgba(0, 0, 0, .54), 700: rgba(0, 0, 0, .62), 800: rgba(0, 0, 0, .74), 900: rgba(0, 0, 0, .87)));
// Additional Theme Colors
$black: palette(gray, 900) !default;
$off-black: palette(gray, 800) !default;
$off-white: palette(gray, 100) !default;
$darkgray: palette(gray, 600) !default;
$gray: palette(gray) !default;
$lightgray: palette(gray, 400) !default;
$overlay-color: $gray !default;
$disabled-color: $lightgray !default;
$success-color: #4caf50 !default;
$error-color: #f44336 !default;
$warn-color: $yellow-orange !default;
// 2. Material Elevations / Shadows //
$elevate-1: 0 1px 3px 0 palette(gray, 400),
0 1px 1px 0 palette(gray, 300),
0 2px 1px -1px palette(gray, 200);
$elevate-2: 0 1px 5px 0 palette(gray, 400),
0 2px 2px 0 palette(gray, 300),
0 3px 1px -2px palette(gray, 200);
$elevate-3: 0 1px 8px 0 palette(gray, 400),
0 3px 4px 0 palette(gray, 300),
0 3px 3px -2px palette(gray, 200);
$elevate-4: 0 2px 4px -1px palette(gray, 400),
0 4px 5px 0 palette(gray, 300),
0 1px 10px 0 palette(gray, 200);
$elevate-5: 0 3px 5px -1px palette(gray, 400),
0 5px 8px 0 palette(gray, 300),
0 1px 14px 0 palette(gray, 200);
$elevate-6: 0 3px 5px -1px palette(gray, 400),
0 6px 10px 0 palette(gray, 300),
0 1px 18px 0 palette(gray, 200);
$elevate-7: 0 4px 5px -2px palette(gray, 400),
0 7px 10px 1px palette(gray, 300),
0 2px 16px 1px palette(gray, 200);
$elevate-8: 0 5px 5px -3px palette(gray, 400),
0 8px 10px 1px palette(gray, 300),
0 3px 14px 2px palette(gray, 200);
$elevate-8-up: 0 -2px 4px -1px palette(gray, 400),
0 -4px 5px 0 palette(gray, 300),
0 -1px 10px 0 palette(gray, 200);
$elevate-9: 0 5px 6px -3px palette(gray, 400),
0 9px 12px 1px palette(gray, 300),
0 3px 16px 2px palette(gray, 200);
$elevate-10: 0 6px 6px -3px palette(gray, 400),
0 10px 14px 1px palette(gray, 300),
0 4px 18px 3px palette(gray, 200);
$elevate-11: 0 6px 7px -4px palette(gray, 400),
0 11px 15px 1px palette(gray, 300),
0 4px 20px 3px palette(gray, 200);
$elevate-12: 0 7px 8px -4px palette(gray, 400),
0 12px 17px 2px palette(gray, 300),
0 5px 22px 4px palette(gray, 200);
$elevate-13: 0 7px 8px -4px palette(gray, 400),
0 13px 19px 2px palette(gray, 300),
0 5px 24px 4px palette(gray, 200);
$elevate-14: 0 7px 9px -4px palette(gray, 400),
0 14px 21px 2px palette(gray, 300),
0 5px 26px 4px palette(gray, 200);
$elevate-15: 0 8px 9px -5px palette(gray, 400),
0 15px 22px 2px palette(gray, 300),
0 6px 28px 5px palette(gray, 200);
$elevate-16: 0 8px 10px -5px palette(gray, 400),
0 16px 24px 2px palette(gray, 300),
0 6px 30px 5px palette(gray, 200);
$elevate-17: 0 8px 11px -5px palette(gray, 400),
0 17px 26px 2px palette(gray, 300),
0 6px 32px 5px palette(gray, 200);
$elevate-18: 0 9px 11px -5px palette(gray, 400),
0 18px 28px 2px palette(gray, 300),
0 7px 34px 6px palette(gray, 200);
$elevate-19: 0 9px 12px -6px palette(gray, 400),
0 19px 29px 2px palette(gray, 300),
0 7px 36px 6px palette(gray, 200);
$elevate-20: 0 10px 13px -6px palette(gray, 400),
0 20px 31px 3px palette(gray, 300),
0 8px 38px 7px palette(gray, 200);
$elevate-21: 0 10px 13px -6px palette(gray, 400),
0 21px 33px 3px palette(gray, 300),
0 8px 40px 7px palette(gray, 200);
$elevate-22: 0 10px 14px -6px palette(gray, 400),
0 22px 35px 3px palette(gray, 300),
0 8px 42px 7px palette(gray, 200);
$elevate-23: 0 11px 14px -7px palette(gray, 400),
0 23px 36px 3px palette(gray, 300),
0 9px 44px 8px palette(gray, 200);
$elevate-24: 0 11px 15px -7px palette(gray, 400),
0 24px 38px 3px palette(gray, 300),
0 9px 46px 8px palette(gray, 200);
// 2. Badges //
$badge-width: 22px !default;
$badge-height: $badge-width !default;
$badge-bg-color-default: palette(secondary) !default;
$badge-border: 0 solid $white !default;
$badge-border-color: $white !default;
$badge-border-radius-default: 4px !default;
$badge-border-radius-circle: $badge-width / 2 !default;
$badge-font-size: em(10px) !default;
$badge-font-weight: 600 !default;
$badge-shadow: $elevate-1 !default;
$badge-line-height: 2px !default;
$badge-icon-font-size: em(11px, 16px) !default;
$badge-value-padding: 4px !default;
// 3. Buttons //
// Shared Styles
$button-border: none !default;
$button-radius: 2px !default;
$button-focus-background: palette(secondary, 700) !default;
$button-font-size: em(16px, 16px) !default;
$button-color: $off-black !default;
$button-font-weight: normal !default;
$button-width: em(88px) !default;
$button-height: em(40px) !default;
$button-padding: em(8px) em(16px) !default;
$button-transition: all .25s ease-out !default;
$button-round-radius: 50% !default;
// Disabled Styles
$button-disabled-background: $off-white !default;
$button-disabled-color: $disabled-color !default;
$button-disabled-shadow: none !default;
// Raised Buttons
$button-raised-background: palette(secondary, 500) !default;
$button-raised-color: text-contrast($button-raised-background) !default;
$button-raised-shadow: $elevate-2 !default;
$button-raised-focus-shadow: $elevate-8 !default;
// Gradient Buttons
$button-gradient-color-1: palette(accent) !default;
$button-gradient-color-2: palette(secondary) !default;
$button-gradient-background: linear-gradient( to bottom right, $button-gradient-color-2, $button-gradient-color-1) !default;
$button-focus-gradient: linear-gradient( to bottom right, gen-color($button-gradient-color-1, 700), gen-color($button-gradient-color-2, 700)) !default;
$button-gradient-color: $white !default;
$button-gradient-shadow: 0 4px 10px -2px darken( transparentize($button-gradient-color-2, .2), 20%) !default;
$button-gradient-focus-shadow: 0 6px 12px -1px darken( transparentize($button-gradient-color-2, .25), 25%) !default;
// Flat Buttons
$button-flat-color: palette(secondary) !default;
$button-flat-color-disabled: $disabled-color !default;
$button-flat-hover-background: $off-white !default;
$button-flat-focus-background: $lightgray !default;
// Floating Buttons
$button-floating-width: em(56px) !default;
$button-floating-height: $button-floating-width;
$button-floating-shadow: $elevate-6 !default;
$button-floating-hover-shadow: $elevate-12 !default;
$button-floating-background: palette(secondary) !default;
// Icon Buttons
$button-icon-width: em(36px, 16px) !default;
$button-icon-height: $button-icon-width !default;
$button-icon-hover-background: $off-white !default;
$button-icon-focus-background: $lightgray,
.5 !default;
$button-icon-font-size: em(24px, 24px) !default;
// Navbar Buttons
$button-navbar-width: em(24px, 16px) !default;
$button-navbar-height: $button-navbar-width !default;
$button-navbar-padding: 0 !default;
// 4. Cards //
// Genaral
$card-border-radius: 2px !default; // Colors
$card-content-color: $darkgray !default;
$card-subtitle-color: $darkgray !default; // Shadows
$card-shadow: $elevate-2 !default;
$card-shadow-hover: $elevate-8 !default;
// Font Sizes
$card-title-fz: em(24px, 16px) !default;
$card-title-line-height: em(24px, 16px) !default;
$card-subtitle-fz: em(14px, 16px) !default;
$card-subtitle-line-height: em(24px, 16px) !default;
$card-content-fz: em(14px, 16px) !default;
$card-content-lh: (20px, 16px) !default;
// Padding & Margin
$card-heading-padding: em(24px, 16px) em(16px, 16px) em(16px, 16px) em(16px, 16px) !default;
$card-heading-compact-padding: em(16px, 16px) !default;
$card-heading-margin: 0 !default;
$card-content-padding: em(16px, 16px) !default;
$card-content-margin: 0 !default;
$card-actions-padding: em(8px, 16px) !default;
$card-actions-igroup-color: palette(gray, 600) !default;
$card-subtitle-margin: 0 !default;
$card-tgroup-margin: 0 em(16px); // Transitions
$card-transitions: box-shadow .3s cubic-bezier(.25, .8, .25, 1) !default;
// 7. Calendar / Date Picker
// Calendar Header
$cal-theme-color: palette(secondary) !default;
$cal-header-year-fs: em(18px, 16px) !default;
$cal-header-year-lh: em(16px, 16px) !default;
$cal-header-year-margin: 0 !default;
$cal-header-date-fs: em(38px, 16px) !default;
$cal-header-date-lh: em(16px, 16px) !default;
$cal-header-date-margin: 0 !default;
$cal-header-date-hover-color: $cal-theme-color !default;
$cal-header-bg: $cal-theme-color !default;
$cal-header-color: text-contrast($cal-theme-color) !default;
$cal-header-year-color: transparentize($cal-header-color, .2) !default;
$cal-header-padding: em(24px) em(16px) !default;
// Calendar Picker
$cal-picker-arrow-color: $off-black !default;
$cal-picker-arrow-hover-color: $cal-theme-color !default;
$cal-picker-date-fs: em(18px, 16px) !default;
$cal-picker-date-lh: em(22px, 16px) !default;
$cal-picker-date-fw: 600 !default;
$cal-picker-padding: em(24px, 16px) !default;
// Calendar Values
$cal-value-w: em(40px, 16px) !default;
$cal-value-h: $cal-value-w;
$cal-valu-br: $cal-value-w / 2;
$cal-value-margin: em(2px, 16px) !default;
$cal-value-fs: em(16px, 16px) !default;
$cal-value-lh: em(22px, 16px) !default;
$cal-value-fw: 600 !default;
$cal-value-text-color: $black !default;
$cal-value-inactive-color: $disabled-color !default;
$cal-value-selected-text-color: text-contrast($cal-theme-color) !default;
$cal-value-selected-bg: $cal-theme-color !default;
$cal-value-current: $cal-theme-color !default;
$cal-value-weekend: $disabled-color !default;
$cal-value-hover-bg: $off-white !default;
$cal-value-year-fs: em(18px, 16px) !default;
$cal-value-year-current-fs: em(24px, 16px) !default;
$cal-value-year-hover-fs: em(27px, 16px) !default;
$cal-value-year-hover-color: $cal-theme-color !default;
$cal-value-month-hover-color: $cal-theme-color !default;
$cal-value-month-margin: 0 em(12px, 16px) !default;
$cal-value-month-height: 91px !default;
// Calendar Body
$cal-row-padding: 0 em(16px, 16px) !default;
// 9. Fonts //
$titillium-font-path: './fonts/' !default;
// 10. Forms //
$control-padding: 8px 0 !default;
// Text Inputs + Textarea
$input-min-height: em(70px) !default;
$input-font-size: em(16px) !default;
$input-font-weight: 400 !default;
$input-color: palette(gray, 900) !default;
$input-caret-color: palette(secondary) !default;
$input-line-height: em(24px) !default;
$input-border-color: palette(gray, 500) !default;
$input-border: inset 0 -1px 0 0 $input-border-color !default;
$input-border-success: inset 0 -2px 0 0 $success-color !default;
$input-border-warn: inset 0 -2px 0 0 $warn-color !default;
$input-border-error: inset 0 -2px 0 0 $error-color !default;
$input-border-color-focus: palette(secondary) !default;
$input-border-focus: inset 0 -2px 0 0 $input-border-color-focus !default;
$input-background: $white !default;
$input-transition: all .2s ease-in !default;
$input-placeholder-color: $input-border-color !default;
$input-error-color: $error-color !default;
$input-success-color: $success-color !default;
$input-disabled-color: palette(gray, 500) !default;
$input-disabled-solid-color: $input-disabled-color !default;
$label-color: palette(gray, 900) !default;
$label-color-disabled: palette(gray, 500) !default;
$label-focus-color: palette(secondary) !default;
$label-active-color: lighten($label-color, 20%) !default;
$label-success-color: $success-color;
$label-warn-color: $warn-color;
$label-error-color: $error-color;
$label-font-size: em(16px) !default;
$label-focus-font-size: em(12px) !default;
$input-search-padding: 12px 12px 12px 64px !default;
$input-search-label-padding: 12px 16px !default;
$input-margin: 20px 0 !default;
// Radio Buttons
$radio-fill-color: palette(secondary) !default;
$radio-empty-color: $darkgray !default;
$radio-border-style: 2px solid !default;
$radio-border: $radio-border-style $radio-fill-color !default;
$radio-width: 20px !default;
$radio-height: $radio-width !default;
$radio-radius: 50% 50% !default; // Switches
$switch-background: $darkgray !default;
$switch-background-disabled: $off-white !default;
$switch-thumb-color-disabled: $lightgray !default;
$switch-active-background: rgba($radio-fill-color, .5);
$switch-color: transparent !default;
$switch-radius: 100px !default;
$switch-width: 35px !default;
$switch-height: 14px !default;
$switch-label-width: 20px !default;
$switch-label-height: $switch-label-width !default;
$switch-shadow: $elevate-1 !default;
$switch-disabled-shadow: $elevate-1 !default;
$switch-margin: 0 16px !default;
// Checkboxes
$checkbox-width: 20px !default;
$checkbox-height: $checkbox-width !default;
$checkbox-label-padding: em(24px, 16px) !default;
$checkbox-radius: 2px !default;
$checkbox-border-style: 2px solid !default;
$checkbox-tick-width: 20px !default;
$checkbox-tick-height: 20px !default;
$checkbox-tick-weight: 3px !default;
$checkbox-tick-color: $white !default;
$checkbox-tick-padding: 3px 2px 2px !default;
// 11. Global //
// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 767px !default;
$large-screen-up: 1025px !default;
$small-screen: 600px !default;
$medium-screen: 768px !default;
$large-screen: 1024px !default;
$medium-and-up: 'only screen and (min-width : #{$small-screen-up})' !default;
$large-and-up: 'only screen and (min-width : #{$medium-screen-up})' !default;
$small-and-down: 'only screen and (max-width : #{$small-screen})' !default;
$medium-and-down: 'only screen and (max-width : #{$medium-screen})' !default;
$medium-only: 'only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})' !default;
// 12. Navigation Bar //
$navbar-padding: 0 em(16px) !default;
$navbar-text-color: set-color(palette(primary)) !default;
$navbar-title-fz: em(18px, 16px) !default;
$navbar-title-lh: em(18px, 16px) !default;
$navbar-title-margin: 0;
// 13. Navigation Drawer //
$navdrawer-pin-collapsed-padding: 0;
// 14. Slider //
// General
$slider-height: 48px !default;
// Slider Track
$slider-track-color: palette(gray, 500) !default;
$slider-track-fill-color: palette(primary) !default;
$slider-track-disabled-color: hexrgba($disabled-color) !default;
$slider-track-fill-disabled-color: hexrgba($disabled-color) !default;
$slider-track-height: 2px !default;
// Slider Ticks
$slider-tick-color: $white !default;
// Slider Thumb
$slider-thumb-width: 14px !default;
$slider-thumb-height: $slider-thumb-width !default;
$slider-thumb-radius: $slider-thumb-width / 2 !default;
$slider-thumb-color: palette(accent) !default;
$slider-thumb-disabled-color: hexrgba($disabled-color) !default;
// Slider Label
$slider-label-width: 28px !default;
$slider-label-height: $slider-label-width !default;
$slider-label-radius: $slider-label-width / 2 !default;
$slider-label-font-size: em(11px) !default;
$slider-label-font-weight: 600 !default;
$slider-label-font-color: $off-black !default;
$slider-label-background: palette(accent) !default;
$slider-label-padding: 0 2px !default;
// Start Modifier
$slider-background--start: $white !default;
// 16. Bottom navigation bar / Tabs //
$tab-bar-background: $white !default;
$tab-bar-color: set-color($tab-bar-background);
$tab-bar-label-font-size: em(12px, 16px);
$tab-bar-label-line-height: em(12px, 16px);
$tab-bar-item-padding: 0 em(12px);
$tab-bar-active-color: $primary-color;
// 17. Grid //
// General
$grid-bg: $white !default;
$grid-br: em(2px) !default;
$grid-shadow: $elevate-2 !default;
// Caption
$grid-caption-fs: em(20px) !default;
$grid-caption-lh: em(32px) !default;
$grid-caption-padding: em(16px) em(24px) !default;
// Row
$grid-row-bg: inherit !default;
$grid-row-bg-selected: $off-black !default;
$grid-row-color-selected: text-contrast($grid-row-bg-selected) !default;
$grid-row-bb: 1px solid palette(gray, 300) !default;
$grid-row-hover: $off-white !default;
$grid-row-transition: none !default;
// Cell
$grid-cell-padding: rem(16px) rem(24px) !default;
$grid-cell-align-num: right !default;
$grid-cell-fs: rem(13px) !default;
$grid-cell-lh: rem(16px) !default;
$grid-cell-color: $off-black !default;
// Heading
$grid-head-fs: em(12px) !default;
$grid-head-fw: 600 !default;
$grid-head-color: palette(gray, 600) !default;
$grid-head-icon-size: rem(16px) !default;
$grid-head-icon-lh: rem(16px) !default;
$grid-head-icon-padding: em(8px) !default;
$grid-filtering-color-active: set-color(palette(primary));
$grid-filtering-bg-active: palette(primary);
$grid-filtering-options-padding: em(8px, 16px);
// 18. Toasts //
$toast-width: 52px !default;
$toast-padding: em(16px, 16px) em(24px, 16px) !default;
$toast-margin: em(42px, 16px) auto !default;
$toast-color: $white !default;
$toast-background: palette(gray, 600) !default;
$toast-border-radius: ($toast-width / 2) !default;
$toast-font-size: em(14px, 16px) !default;
$toast-line-height: em(24px, 16px) !default;
// 19. Typography //
// paragraph
$paragraph-margin-top: 0;
$paragraph-margin-bottom: rem(27px);
$paragraph-line-height-desktop: rem(27px) !default;
$paragraph-line-height-phone: rem(22px) !default;
// H1
$h1-margin-top: rem(27px) !default;
$h1-margin-bottom: rem(54px);
$h1-font-size-desktop: rem(48px) !default;
$h1-line-height-desktop: rem(54px) !default;
$h1-font-size-tablet: rem(40px) !default;
$h1-line-height-tablet: rem(45px) !default;
$h1-font-size-phone: rem(32px) !default;
$h1-line-height-phone: rem(40px) !default;
// H2
$h2-margin-top: rem(27px);
$h2-margin-bottom: rem(27px);
$h2-font-size-desktop: rem(36px) !default;
$h2-line-height-desktop: rem(45px) !default;
$h2-font-size-tablet: rem(32px) !default;
$h2-line-height-tablet: rem(40px) !default;
$h2-font-size-phone: rem(26px) !default;
$h2-line-height-phone: rem(30px) !default;
// H3
$h3-margin-top: rem(27px);
$h3-margin-bottom: 0;
$h3-font-size-desktop: rem(28px) !default;
$h3-line-height-desktop: rem(35px) !default;
$h3-font-size-tablet: rem(24px) !default;
$h3-line-height-tablet: rem(30px) !default;
$h3-font-size-phone: rem(22px) !default;
$h3-line-height-phone: rem(27px) !default;
// H4
$h4-margin-top: rem(27px);
$h4-margin-bottom: 0;
$h4-font-size-desktop: rem(18px) !default;
$h4-line-height-desktop: rem(22px) !default;
$h4-font-size-tablet: rem(18px) !default;
$h4-line-height-tablet: rem(22px) !default;
$h4-font-size-phone: rem(22px) !default;
$h4-line-height-phone: rem(27px) !default;
// Blockquote
$blockquote-font-size-desktop: rem(24px) !default;
$blockquote-line-height-desktop: rem(35px) !default;
$blockquote-font-size-tablet: rem(24px) !default;
$blockquote-line-height-tablet: rem(35px) !default;
$blockquote-font-size-phone: rem(20px) !default;
$blockquote-line-height-phone: rem(27px) !default;
// 22. Progress Bar //
$progressbar-color: rgba(palette(primary), .1) !default;
$progressbar-stripe-color: transparentize($white, .5) !default;
$progressbar-value-fz: em(14px, 16px) !default;
$progressbar-value-fw: 600 !default;
$progressbar-value-margin: 10px 5px !default;
$progress-circular-value-fz: em(32px, 16px);
// 23. List //
$list-margin: 8px 16px !default;
$list-background: $white !default;
$list-header-color: palette(secondary) !default;
$list-header-background: $white !default;
$list-header-font-size: em(13px) !default;
$list-header-font-weight: normal !default;
$list-header-height: em(48px) !default;
$list-header-line-height: em(48px) !default;
$list-item-color: $off-black !default;
$list-item-background: $white !default;
$list-item-height: em(48px) !default;
$list-item-line-height: em(48px) !default;
$list-item-font-size: em(16px) !default;
$list-item-padding: em(8px) em(16px) !default;
$list-item-active-background: $off-white;
$list-item-active-shadow: $elevate-2 !default;
$list-item-tl-sl-font-size: em(14px) !default;
$list-item-tl-height: em(72px) !default;
$list-item-tl-sl-color: $darkgray !default;
$list-empty-color: set-color($list-background);
$list-empty-padding: em(16px, 16px);
// 24. Dialog //
$dialog-transition: background .25s ease-out !default;
$dialog-max-width: em(400px) !default;
$dialog-min-width: em(280px) !default;
$dialog-padding: em(12px, 16px) em(24px, 16px) !default;
$dialog-background: $white !default;
$dialog-border-radius: 2px !default;
$dialog-title-font-size: em(20px, 16px) !default;
$dialog-title-line-height: em(16px, 16px) !default;
$dialog-title-padding: em(12px) 0 !default;
$dialog-title-padding-top: em(12px) !default;
$dialog-title-padding-bottom: em(10px) !default;
$dialog-title-font-weight: 600 !default;
$dialog-message-font-size: em(16px, 16px) !default;
$dialog-message-line-height: em(18px, 16px) !default;
$dialog-message-padding-top: em(10px) !default;
$dialog-message-padding-bottom: em(12px) !default;
$dialog-message-color: $darkgray !default;
$dialog-message-font-weight: 400 !default;
$dialog-actions-padding: em(8px) !default;
$dialog-actions-margin: 0 em(-24px, 16px) em(-12px, 16px) em(-24px, 16px) !default;
// 25. Snackbar
$snackbar-height: em(48px) !default;
$snackbar-padding: em(7px) em(24px) !default;
$snackbar-button-left-margin: em(24px) !default;
$snackbar-font-size: em(14px) !default;
$snackbar-background: $off-black !default;
$snackbar-text-color: $white !default;
$snackbar-button-text-color: palette(secondary) !default;
$snackbar-button-text-color-hover: palette(secondary) !default;
$snackbar-button-line-height: em(16px) !default;
$snackbar-button-font-weight: 600 !default;
// 26. Button Group
// Group layout
$bgroup-radius: 2px !default;
$bgroup-shadow: $elevate-2 !default;
// Item style
$bgroup-item-minwidth: 24px !default;
$bgroup-item-minheight: 24px !default;
$bgroup-item-color: palette(gray, 500) !default;
$bgroup-item-border-thickness: 1px !default;
$bgroup-item-border: transparent !default;
$bgroup-item-font-weight: 600 !default;
$bgroup-item-background: $white !default;
// Item style selected
$bgroup-selected-bg: $lightgray;
$bgroup-item-color-selected: $darkgray !default;
$bgroup-item-background-selected: $bgroup-selected-bg !default;
$bgroup-item-border-selected: palette(gray, 200) !default;
// Margin between item elements
$bgroup-items-margin: em(10px, 16px) !default;
// 27. Avatar
$igx-avatar-icon-bg: $lightgray !default;
// 28. Carousel
$carousel-arrow-margin: 0 em(16px) !default;
$carousel-indicators-margin: em(16px) 0 !default;
$carousel-indicators-padding: 0 !default;
$carousel-indicator-margin: 0 em(5px) !default;
$carousel-arrow-bg: transparentize($white, .7) !default;
$carousel-indicator-bg: transparentize($white, .8) !default;
// 29. Icon
$igx-icon-font-size: em(24px, 16px) !default;
