/* ==========================================================================
   Ignite UI JS Blocks Variables
   ========================================================================== */
/**
 * Table of Contents:
 *
 *  1. Colors
 *  2. Badges
 *  3. Buttons
 *  TODO: 4. Cards
 *  TODO: 5. Collapsible
 *  TODO: 6. Chips
 *  TODO: 7. Date Picker
 *  TODO: 8. Dropdown
 *  9. Fonts
 *  10. Forms
 *  11. Global
 *  TODO: 12. Navigation Bar
 *  TODO: 13. Navigation Drawer
 *  TODO: 14. Slider
 *  TODO: 15. Spinners | Loaders
 *  TODO: 16. Tabs
 *  TODO: 17. Tables
 *  TODO: 18. Toasts
 *  19. Typography
 *  TODO: 20. Flow Text
 *  TODO: 21. Collections
 *  TODO: 22. Progress Bar
 *  23. Lists
 */

/* 1. Colors
   ========================================================================== */

// Base Palette To Chose Colors From
$rich-black: #0b3c49;
$byzantium: #731963;
$vivid-cerise: #e41c77;
$white: #fff;
$yellow-orange: #fbb13c;
$ocean-blue: #0375be;

// Main App Colors
$primary-color: $ocean-blue !default;
$secondary-color: $vivid-cerise !default;
$accent-color: $yellow-orange !default;
$success-color: #4CAF50 !default;
$error-color: #F44336 !default;
$warn-color: orange;
$overlay-color: rgba(72, 72, 72, 0.5);

// off-black
$off-black: #484848;

// Color Palette
$colors: (
    primary: (
        100: gen-color($primary-color, 50),
        200: gen-color($primary-color, 100),
        300: gen-color($primary-color, 300),
        400: gen-color($primary-color, 400),
        500: $primary-color,
        600: gen-color($primary-color, 600),
        700: gen-color($primary-color, 700),
        800: gen-color($primary-color, 800),
        900: gen-color($primary-color, 900),
        A100: gen-color($primary-color, 'A100'),
        A200: gen-color($primary-color, 'A200'),
        A400: gen-color($primary-color, 'A400'),
        A700: gen-color($primary-color, 'A700'),
    ),
    secondary: (
        100: gen-color($secondary-color, 50),
        200: gen-color($secondary-color, 100),
        300: gen-color($secondary-color, 300),
        400: gen-color($secondary-color, 400),
        500: $secondary-color,
        600: gen-color($secondary-color, 600),
        700: gen-color($secondary-color, 700),
        800: gen-color($secondary-color, 800),
        900: gen-color($secondary-color, 900),
        A100: gen-color($secondary-color, 'A100'),
        A200: gen-color($secondary-color, 'A200'),
        A400: gen-color($secondary-color, 'A400'),
        A700: gen-color($secondary-color, 'A700'),
    ),
    accent: (
        100: gen-color($accent-color, 50),
        200: gen-color($accent-color, 100),
        300: gen-color($accent-color, 300),
        400: gen-color($accent-color, 400),
        500: $accent-color,
        600: gen-color($accent-color, 600),
        700: gen-color($accent-color, 700),
        800: gen-color($accent-color, 800),
        900: gen-color($accent-color, 900),
        A100: gen-color($accent-color, 'A100'),
        A200: gen-color($accent-color, 'A200'),
        A400: gen-color($accent-color, 'A400'),
        A700: gen-color($accent-color, 'A700'),
    )
);

/* 2. Material Elevations / Shadows
   ========================================================================== */

$elevate-1: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14),
            0px 2px 1px -1px rgba(0, 0, 0, 0.12);

$elevate-2: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
            0px 2px 2px 0px rgba(0, 0, 0, 0.14),
            0px 3px 1px -2px rgba(0, 0, 0, 0.12);

$elevate-3: 0px 1px 8px 0px rgba(0, 0, 0, 0.2),
            0px 3px 4px 0px rgba(0, 0, 0, 0.14),
            0px 3px 3px -2px rgba(0, 0, 0, 0.12);

$elevate-4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
            0px 4px 5px 0px rgba(0, 0, 0, 0.14),
            0px 1px 10px 0px rgba(0, 0, 0, 0.12);

$elevate-5: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
            0px 5px 8px 0px rgba(0, 0, 0, 0.14),
            0px 1px 14px 0px rgba(0, 0, 0, 0.12);

$elevate-6: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
            0px 6px 10px 0px rgba(0, 0, 0, 0.14),
            0px 1px 18px 0px rgba(0, 0, 0, 0.12);

$elevate-7: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
            0px 7px 10px 1px rgba(0, 0, 0, 0.14),
            0px 2px 16px 1px rgba(0, 0, 0, 0.12);

$elevate-8: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
            0px 8px 10px 1px rgba(0, 0, 0, 0.14),
            0px 3px 14px 2px rgba(0, 0, 0, 0.12);

$elevate-8-up: 0px -2px 4px -1px rgba(0, 0, 0, 0.14),
            0px -4px 5px 0px rgba(0, 0, 0, 0.14),
            0px -1px 10px 0px rgba(0, 0, 0, 0.12);

$elevate-9: 0px 5px 6px -3px rgba(0, 0, 0, 0.2),
            0px 9px 12px 1px rgba(0, 0, 0, 0.14),
            0px 3px 16px 2px rgba(0, 0, 0, 0.12);

$elevate-10: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
             0px 10px 14px 1px rgba(0, 0, 0, 0.14),
             0px 4px 18px 3px rgba(0, 0, 0, 0.12);

$elevate-11: 0px 6px 7px -4px rgba(0, 0, 0, 0.2),
             0px 11px 15px 1px rgba(0, 0, 0, 0.14),
             0px 4px 20px 3px rgba(0, 0, 0, 0.12);

$elevate-12: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
             0px 12px 17px 2px rgba(0, 0, 0, 0.14),
             0px 5px 22px 4px rgba(0, 0, 0, 0.12);

$elevate-13: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
             0px 13px 19px 2px rgba(0, 0, 0, 0.14),
             0px 5px 24px 4px rgba(0, 0, 0, 0.12);

$elevate-14: 0px 7px 9px -4px rgba(0, 0, 0, 0.2),
             0px 14px 21px 2px rgba(0, 0, 0, 0.14),
             0px 5px 26px 4px rgba(0, 0, 0, 0.12);

$elevate-15: 0px 8px 9px -5px rgba(0, 0, 0, 0.2),
             0px 15px 22px 2px rgba(0, 0, 0, 0.14),
             0px 6px 28px 5px rgba(0, 0, 0, 0.12);

$elevate-16: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
             0px 16px 24px 2px rgba(0, 0, 0, 0.14),
             0px 6px 30px 5px rgba(0, 0, 0, 0.12);

$elevate-17: 0px 8px 11px -5px rgba(0, 0, 0, 0.2),
             0px 17px 26px 2px rgba(0, 0, 0, 0.14),
             0px 6px 32px 5px rgba(0, 0, 0, 0.12);

$elevate-18: 0px 9px 11px -5px rgba(0, 0, 0, 0.2),
             0px 18px 28px 2px rgba(0, 0, 0, 0.14),
             0px 7px 34px 6px rgba(0, 0, 0, 0.12);

$elevate-19: 0px 9px 12px -6px rgba(0, 0, 0, 0.2),
             0px 19px 29px 2px rgba(0, 0, 0, 0.14),
             0px 7px 36px 6px rgba(0, 0, 0, 0.12);

$elevate-20: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
             0px 20px 31px 3px rgba(0, 0, 0, 0.14),
             0px 8px 38px 7px rgba(0, 0, 0, 0.12);

$elevate-21: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
             0px 21px 33px 3px rgba(0, 0, 0, 0.14),
             0px 8px 40px 7px rgba(0, 0, 0, 0.12);

$elevate-22: 0px 10px 14px -6px rgba(0, 0, 0, 0.2),
             0px 22px 35px 3px rgba(0, 0, 0, 0.14),
             0px 8px 42px 7px rgba(0, 0, 0, 0.12);

$elevate-23: 0px 11px 14px -7px rgba(0, 0, 0, 0.2),
             0px 23px 36px 3px rgba(0, 0, 0, 0.14),
             0px 9px 44px 8px rgba(0, 0, 0, 0.12);

$elevate-24: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
             0px 24px 38px 3px rgba(0, 0, 0, 0.14),
             0px 9px 46px 8px rgba(0, 0, 0, 0.12);

/* 2. Badges
   ========================================================================== */
$badge-width: 22px;
$badge-height: $badge-width;
$badge-bg-color-default: $secondary-color !default;
$badge-border: 2px solid $white;
$badge-border-color: $white;
$badge-border-radius-default: 4px;
$badge-border-radius-circle: ($badge-width / 2);
$badge-font-size: em(10px);
$badge-font-weight: 600;
$badge-shadow: $elevate-1;

/* 3. Buttons
   ========================================================================== */

// Shared Styles
$button-border: none !default;
$button-radius: 2px !default;
$button-focus-background: darken($secondary-color, 5%) !default;
$button-font-size: em(16px) !default;
$button-color: #484848 !default;
$button-font-weight: normal !default;
$button-width: em(88px) !default;
$button-height: em(40px) !default;
$button-padding: em(8px) em(16px) !default;
$button-transition: all 0.25s ease-out 0s !default;
$button-round-radius: 50% !default;

// Disabled Styles
$button-disabled-background: #F0F0F0 !default;
$button-disabled-color: #AEAEAE !default;
$button-disabled-shadow: none;

// Raised Buttons
$button-raised-background: $secondary-color !default;
$button-raised-color: $white !default;
$button-raised-shadow: $elevate-2 !default;
$button-raised-focus-shadow: $elevate-8 !default;


// Gradient Buttons
$button-gradient-color-1: $yellow-orange;
$button-gradient-color-2: $secondary-color;
$button-gradient-background: linear-gradient(to bottom right, $button-gradient-color-2, $button-gradient-color-1);
$button-focus-gradient: linear-gradient(to bottom right, darken($button-gradient-color-2, 5%), darken($button-gradient-color-1, 5%));
$button-gradient-color: #fff !default;
$button-gradient-shadow: 0 4px 10px -2px darken(transparentize($button-gradient-color-2, .20), 20%) !default;
$button-gradient-focus-shadow: 0 6px 12px -1px darken(transparentize($button-gradient-color-2, .25), 25%) !default;

// Flat Buttons
$button-flat-color: $secondary-color !default;
$button-flat-color-disabled: #AEAEAE !default;
$button-flat-hover-background: #F0F0F0 !default;
$button-flat-focus-background: #D1D1D1 !default;

// Floating Buttons
$button-floating-width: em(56px);
$button-floating-height: $button-floating-width;
$button-floating-shadow: $elevate-6 !default;
$button-floating-hover-shadow: $elevate-12 !default;;
$button-floating-background: $secondary-color !default;

// Icon Buttons
$button-icon-width: em(28px, 16px);
$button-icon-height: $button-icon-width;
$button-icon-hover-background: rgba(240, 240, 240, .5);
$button-icon-focus-background: rgba(209, 209, 209, .5);
$button-icon-font-size: em(24px, 16px);

// Navbar Buttons 
$button-navbar-width: em(24px, 16px);
$button-navbar-height: $button-navbar-width;

/* 9. Fonts
   ========================================================================== */
$titillium-font-path: 'fonts/titillium/' !default;

/* 10. Forms
   ========================================================================== */
// Text Inputs + Textarea
$input-min-height: em(70px) !default;
$input-font-size: em(16px) !default;
$input-color: #484848 !default;
$input-caret-color: $secondary-color;
$input-line-height: em(24px) !default;
$input-border-color: rgba(117, 117, 117, .5) !default;
$input-border: 1px solid $input-border-color !default;
$input-border-success: 2px solid $success-color;
$input-border-warn: 2px solid $warn-color;
$input-border-error: 2px solid $error-color;
$input-border-color-focus: $secondary-color !default;
$input-border-focus: 2px solid $input-border-color-focus !default;
$input-background: #fff !default;
$input-transition: all .2s ease-in !default;
$input-placeholder-color: $input-border-color;

$input-error-color:  $error-color !default;
$input-success-color: $success-color !default;
$input-disabled-color: lighten($input-color, 25%) !default;
$input-disabled-solid-color: $input-disabled-color !default;

$label-color: #757575 !default;
$label-focus-color: $secondary-color !default;
$label-active-color: lighten($label-color, 20%) !default;
$label-font-size: em(16px) !default;
$label-focus-font-size: em(12px) !default;

// Radio Buttons
$radio-fill-color: $secondary-color !default;
$radio-empty-color: #757575 !default;
$radio-border: 2px solid $radio-fill-color !default;
$radio-width: 20px !default;
$radio-height: $radio-width !default;
$radio-radius: 50% 50% !default;

// Switches
$switch-background: #757575 !default;
$switch-active-background: rgba($radio-fill-color, .5);
$switch-color: transparent !default;
$switch-radius: 100px !default;
$switch-width: 35px !default;
$switch-height: 14px !default;
$switch-label-width: 20px !default;
$switch-label-height: $switch-label-width !default;
$switch-shadow: $elevate-1;
$switch-disabled-shadow: $elevate-1;
$switch-margin: 0 16px !default;

// Checkboxes
$checkbox-width: 20px !default;
$checkbox-height: $checkbox-width !default;
$checkbox-label-padding: 35px !default;
$checkbox-radius: 2px !default;
$checkbox-tick-width: 8px !default;
$checkbox-tick-height: 14px !default;
$checkbox-tick-color: $white !default;

/* 11. Global
   ========================================================================== */

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 767px !default;
$large-screen-up: 1025px !default;
$small-screen: 600px !default;
$medium-screen: 768px !default;
$large-screen: 1024px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;


/* 16. Bottom navigation bar / Tabs
   ========================================================================== */
$tab-bar-background: #fff;

/* 19. Typography
   ========================================================================== */

// paragraph
$paragraph-line-height-desktop: em(22px) !default;
$paragraph-line-height-phone: em(20px) !default;

// H1
$h1-font-size-desktop: em(48px) !default;
$h1-line-height-desktop: em(54px) !default;
$h1-font-size-tablet: em(40px) !default;
$h1-line-height-tablet: em(45px) !default;
$h1-font-size-phone: em(32px) !default;
$h1-line-height-phone: em(40px) !default;

// H2
$h2-font-size-desktop: em(36px) !default;
$h2-line-height-desktop: em(45px) !default;
$h2-font-size-tablet: em(32px) !default;
$h2-line-height-tablet: em(40px) !default;
$h2-font-size-phone: em(26px) !default;
$h2-line-height-phone: em(30px) !default;

// H3
$h3-font-size-desktop: em(28px) !default;
$h3-line-height-desktop: em(35px) !default;
$h3-font-size-tablet: em(24px) !default;
$h3-line-height-tablet: em(30px) !default;
$h3-font-size-phone: em(22px) !default;
$h3-line-height-phone: em(25px) !default;

// H4
$h4-font-size-desktop: em(18px) !default;
$h4-line-height-desktop: em(22px) !default;
$h4-font-size-tablet: em(18px) !default;
$h4-line-height-tablet: em(22px) !default;
$h4-font-size-phone: em(22px) !default;
$h4-line-height-phone: em(20px) !default;

// Blockquote
$blockquote-font-size-desktop: em(24px) !default;
$blockquote-line-height-desktop: em(35px) !default;
$blockquote-font-size-tablet: em(24px) !default;
$blockquote-line-height-tablet: em(35px) !default;
$blockquote-font-size-phone: em(20px) !default;
$blockquote-line-height-phone: em(25px) !default;

/* 23. List
   ========================================================================== */
$list-margin: 8px 16px !default;
$list-background: darken($white, 5%);

$list-header-color: $secondary-color !default;
$list-header-background: $white;
$list-header-font-size: em(13px) !default;
$list-header-font-weight: normal !default;
$list-header-height: em(48px) !default;
$list-header-line-height: em(48px) !default;

$list-item-color: #484848 !default;
$list-item-background: #fff;
$list-item-height: em(48px) !default;
$list-item-line-height: em(48px) !default;
$list-item-font-size: em(16px) !default;
$list-item-padding: 8px 16px;
$list-item-active-background: darken(#fff, 1%);
$list-item-active-shadow: 4px 0px 6px -3px rgba(167,167,167,0.3);

$list-item-tl-sl-font-size: em(14px) !default;
$list-item-tl-height: em(72px) !default;
$list-item-tl-sl-color: #757575 !default;
/* Rectangle: */

/* 24. Modal
   ========================================================================== */

$modal-transition: background .25s ease-out;
$modal-max-width: em(400px);
$modal-min-width: em(280px);
$modal-padding: em(12px, 16px) em(24px, 16px);
$modal-background: $white;
$modal-border-radius: 2px;

$modal-title-font-size: em(20px, 16px);
$modal-title-line-height: em(16px, 16px);
$modal-title-padding: em(12px) 0;
$modal-title-padding-top: em(12px);
$modal-title-padding-bottom: em(10px);
$modal-title-font-weight: 600;


$modal-message-font-size: em(16px, 16px);
$modal-message-line-height: em(18px, 16px);
$modal-message-padding-top: em(10px);
$modal-message-padding-bottom: em(12px);
$modal-message-font-weight: 400;

$modal-actions-padding: em(8px);
$modal-actions-margin: 0 em(-24px, 16px) em(-12px, 16px) em(-24px, 16px);