////
/// @group themes
/// @access public
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
/// @author <a href="https://github.com/desig9stein" target="_blank">Marin Popov</a>
////
// Linear Progress
@function igx-progress-linear-theme(
    $track-color: null,
    $fill-color-default: null,
    $fill-color-danger: null,
    $fill-color-warning: null,
    $fill-color-info: null,
    $fill-color-success: null,
    $stripes-color: null,
    $text-color: null
) {
    @return (
        track-color: $track-color,
        fill-color-default: $fill-color-default,
        fill-color-danger: $fill-color-danger,
        fill-color-warning: $fill-color-warning,
        fill-color-info: $fill-color-info,
        fill-color-success: $fill-color-success,
        stripes-color: $stripes-color,
        text-color: $text-color
    );
}

@mixin igx-progress-linear($theme, $palette: $default-palette) {
    $default-theme: igx-progress-linear-theme(
        $track-color: igx-color($palette, 'grays', 300),
        $fill-color-default: igx-color($palette, 'primary'),
        $fill-color-danger: igx-color($palette, 'error'),
        $fill-color-warning: igx-color($palette, 'warn'),
        $fill-color-info: igx-color($palette, 'info'),
        $fill-color-success: igx-color($palette, 'success'),
        $stripes-color: rgba(#fff, .7),
        $text-color: igx-color($palette, 'grays', 700)
    );

    $this: extend($default-theme, $theme);

    // @debug $this;

    $bar-height: 4px;
    $stripe-color: map-get($this, 'stripes-color');
    $value-fs: em(14px, 16px);
    $value-fw: 600;
    $value-margin: 0;

    %linear-display {
        position: relative;
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        width: 100%;
    }

    %linear-bar {
        width: inherit;
        height: $bar-height;
        overflow: hidden;
    }

    %linear-bar-base {
        position: absolute;
        width: inherit;
        height: inherit;
        background: map-get($this, 'track-color');
        z-index: 0;
    }

    %linear-bar-progress {
        width: 100%;
        position: relative;
        height: inherit;
        backface-visibility: hidden;
    }

    %linear-bar-progress--striped {
        background-image: linear-gradient(
            -45deg,
            $stripe-color 25%,
            transparent 25%,
            transparent 50%,
            $stripe-color 50%,
            $stripe-color 75%,
            transparent 75%,
            transparent
        );
        background-size: 40px 40px;
    }

    %linear-bar-progress--default {
        background: map-get($this, 'fill-color-default')
    }

    %linear-bar-progress--danger {
        background-color: map-get($this, 'fill-color-danger');
    }

    %linear-bar-progress--warning {
        background-color: map-get($this, 'fill-color-warning');
    }

    %linear-bar-progress--info {
        background-color: map-get($this, 'fill-color-info');
    }

    %linear-bar-progress--success {
        background-color: map-get($this, 'fill-color-success');
    }


    %linear-value {
        margin: $value-margin;
        color: map-get($this, 'text-color');
        font-size: $value-fs;
        font-weight: $value-fw;
    }

    %linear-value--start {
        align-self: flex-start;
    }

    %linear-value--center {
        align-self: center;
    }

    %linear-value--end {
        align-self: flex-end;
    }

    %linear-value--top {
        order: -1;
    }

    %linear-value--hidden {
        display: none;
    }
}

// Circular Progress
@function igx-progress-circular-theme(
    $base-circle-color: null,
    $progress-circle-color: null,
    $text-color: null
) {
    @return (
        base-circle-color: $base-circle-color,
        progress-circle-color: $progress-circle-color,
        text-color: $text-color
    );
}

@mixin igx-progress-circular($theme, $palette: $default-palette) {
    $default-theme: igx-progress-circular-theme(
        $base-circle-color: igx-color($palette, 'grays', 300),
        $progress-circle-color: igx-color($palette, 'primary'),
        $text-color: igx-color($palette, 'grays', 700)
    );

    $this: extend($default-theme, $theme);

    // @debug $this;

    $circular-value-fs: rem(32px, 16px);
    $circular-value-fw: 600;

    %circular-display {
        width: 100%;
        height: 100%;
    }

    %circular-innercircle {
        stroke-width: 4;
        fill: transparent;
        stroke: map-get($this, 'base-circle-color');
    }

    %circular-circle {
        fill: transparent;
        stroke: map-get($this, 'progress-circle-color');
        stroke-width: 6;
        stroke-linecap: round;
        stroke-dashoffset: 289;
        stroke-dasharray: 289;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

    %circular-text {
        font-size: $circular-value-fs;
        font-weight: $circular-value-fw;
        fill: map-get($this, 'text-color');
    }

    %circular-text--hidden {
        visibility: hidden;
    }
}
