.ig-drawer-content ::-webkit-scrollbar {
    width: 3px;
    background: #e4e4e4;
}

.ig-drawer-content ::-webkit-scrollbar-thumb {
    background: #ec6f74;
    border-radius: 0;
}

.main {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.content {
    position: relative;
    width: 100%;
    overflow-y: scroll;
}

.logo {
    margin-top: 16px;
    width: 238px;
}

[igxdraweritem] > * + * {
    margin-left: 32px;
}
