.sample-wrapper {
    width: inherit;
    position: relative;
    height: 100%;
    margin: 0 auto;
    background: #fff;
}

.sample-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 48px 8px;
    -webkit-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    -moz-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.sample-column {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 25%;
    align-content: flex-start;
    margin: 16px;
    min-width: 280px;
}

.sample-title {
    color: #0375be;
    margin-bottom: 24px;
}

.sample-title .light {
    font-weight: 400;
}

.sample-description {
    font-size: 14px;
    font-weight: normal;
    color: #717171;
}

@-webkit-keyframes color-change-2x {
    0% {
        background: #fdf8f0;
    }
    100% {
        background: #f6e7ec;
    }
}

@keyframes color-change-2x {
    0% {
        background: #fdf8f0;
    }
    100% {
        background: #f6e7ec;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
