/*
* Zero blocks default theme
* TODO: Move global color variables here.
*/

// new - always import base and utilities first
@import 'base/index';
@import 'utilities/index';
@import 'material/manifest';
// contains all theme specifics


// old way of importing each individual module sass file
@import "../navigation-drawer/navigation-drawer";
@import "../list/list";
@import "../carousel/carousel";