<div class="sample-wrapper">
    <app-page-header title="Combo" description="Combo lets you choose value from a list"></app-page-header>

  <div class="sample-content">
    <section class="combo-sample">
        <div class="input-wrapper">
            <div class="input-row">
                <igx-input-group type="box" class="input-container">
                    <input igxInput name="fristName" placeholder="First Name"/>
                </igx-input-group>
                <igx-input-group type="box" class="input-container">
                    <input igxInput name="lastName" placeholder="Last Name"/>
                </igx-input-group>
                <igx-input-group type="box" class="input-container">
                    <input igxInput name="age" placeholder="Age"/>
                </igx-input-group>
            </div>
            <div class="input-row">
                <igx-combo class="input-container" placeholder="Location(s)"
                            (onAddition)="handleAddition($event)"
                            [data]="items"
                            [allowCustomValues]="customValuesFlag"
                            [displayDensity]="'comfortable'"
                            [filterable]="filterableFlag" [displayKey]="valueKeyVar" [valueKey]="valueKeyVar"
                                [groupKey]="valueKeyVar ? 'region' : ''" [width]="'100%'">
                    <ng-template *ngIf="currentDataType !== 'primitive'" #itemTemplate let-display let-key="valueKey">
                        <div class="state-card--simple">
                            <div class="display-value--main">{{display[key]}}</div>
                            <div class="display-value--sub">{{display.region}}</div>
                        </div>
                    </ng-template>
                    <ng-template *ngIf="currentDataType === 'primitive'" #itemTemplate let-display let-key="valueKey">
                        <div class="state-card--simple">
                            <div class="display-value--main">{{display}}</div>
                            <div class="display-value--sub"></div>
                        </div>
                    </ng-template>
                    <ng-template #headerTemplate let-display let-key="valueKey">
                    </ng-template>
                    <ng-template igxComboFooterTemplate let-display let-key="valueKey">
                        <div>This is a footer</div>
                    </ng-template>
                    <ng-template *ngIf="currentDataType !== 'primitive'" #headerItemTemplate let-display let-key="groupKey">
                        <div>Group header for {{display[key]}}</div>
                    </ng-template>
                    <ng-template igxComboAddItem let-display let-control>
                        <button igxButton="flat" igxRipple>Add CUSTOM item</button>
                    </ng-template>
                </igx-combo>
            </div>
            <div class="btn-wrapper mb24">
                <div class="btn-container">
                    <button igxButton="raised" igxRipple (click)="toggleItem('Connecticut')">Toggle "Connecticut"
                    </button>
                    <button igxButton="raised" igxRipple (click)="changeItemTemplate()">Change Item Template</button>
                </div>
            </div>
            <ng-template #customItemTemplate let-display let-key="valueKey">
                <div class="state-card--simple">
                    <div class="display-value--main">{{display[key]}}</div>
                    <div class="display-value--sub">In Region {{display.region}}</div>
                </div>
            </ng-template>
        </div>
        <div>
            <h4>Display Density</h4>
            <button igxButton="raised" [disabled]="igxCombo.isCompact()" (click)="setDensity('compact')">Compact</button>
            <button igxButton="raised" [disabled]="igxCombo.isCosy()" (click)="setDensity('cosy')">Cosy</button>
            <button igxButton="raised" [disabled]="!igxCombo.isCosy() && !igxCombo.isCompact()" (click)="setDensity('comfortable')">Comfortable</button>
        </div>
        <div>
            <h4>Search Input</h4>
            <igx-switch [(ngModel)]="filterableFlag">Filterable</igx-switch><br/>
            <igx-switch [(ngModel)]="customValuesFlag">Custom Values</igx-switch>
        </div>
    </section>
    </div>
</div>
