.combo-sample {
    display: flex;
    flex-direction: column;
    gap: 28px;
    max-width: 800px;
    margin: 0 auto;
    padding: 32px 16px;

    &__column,
    &__row {
        display: flex;
        gap: 16px
    }

    &__row {
        &--stretch {
            > * {
                flex: 1;
            }
        }
    }

    &__column {
        flex-direction: column;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        letter-spacing: .4px;
        margin: 0;
        line-height: normal;
    }

    strong {
        color: #606;
    }
}

