<div class="sample-content">
    <section class="combo-sample">
        <div class="input-wrapper">
            <div class="input-row">
                <igx-input-group type="box" class="input-container">
                    <input igxInput name="fristName" placeholder="First Name" />
                </igx-input-group>
                <igx-input-group type="box" class="input-container">
                    <input igxInput name="lastName" placeholder="Last Name" />
                </igx-input-group>
                <igx-input-group type="box" class="input-container">
                    <input igxInput name="age" placeholder="Age" />
                </igx-input-group>
            </div>
            <div>
                <h5 class="sample-title">Template Form</h5>
                <form>
                    <igx-combo class="input-container" [placeholder]="'Locations'" name="anyName" #comboModel="ngModel"
                        [(ngModel)]="values1" minlength="2" required
                        [data]="items" [filterable]="filterableFlag" [displayKey]="valueKeyVar" [disabled]="isDisabled"
                        [valueKey]="valueKeyVar" [groupKey]="valueKeyVar ? 'region' : ''" [width]="'100%'">
                        <label igxLabel>States</label>
                        <igx-hint>Please select the states you've visited</igx-hint>
                    </igx-combo>
                </form>
                <button igxButton (click)="values1 = values1.concat(['Missouri'])">Add Missouri</button>
                <button igxButton (click)="values1 = []">Clear values </button>
            </div>
            <div>
                <h5 class="sample-title">Reactive Form</h5>
                <form class="input-group-form" [formGroup]="user">
                    <div class="container">
                        <igx-combo #combo1 class="input-container" [itemsMaxHeight]="130" [data]="genres"
                            [valueKey]="'type'" [displayKey]="'type'" type="line" formControlName="genres"
                            searchPlaceholder="Search...">
                            <label igxLabel>States</label>
                        </igx-combo>
                    </div>
                </form>
            </div>
            <div class="input-row">
                <igx-combo #playgroundCombo class="input-container" [placeholder]="'Locations'" [showSearchCaseIcon]='true'
                    (addition)="handleAddition($event)" (selectionChanging)="handleSelectionChange($event)"
                    [data]="items" [allowCustomValues]="customValuesFlag" [displayDensity]="'comfortable'"
                    [autoFocusSearch]="autoFocusSearch" [filterable]="filterableFlag" [displayKey]="valueKeyVar"
                    [valueKey]="valueKeyVar" [groupKey]="valueKeyVar ? 'region' : ''" [width]="'100%'">
                    <ng-template *ngIf="currentDataType !== 'primitive'" #itemTemplate let-display
                        let-key="valueKey">
                        <div class="state-card--simple">
                            <div class="display-value--main">{{display[key]}}</div>
                            <div class="display-value--sub">{{display.region}}</div>
                        </div>
                    </ng-template>
                    <ng-template *ngIf="currentDataType === 'primitive'" #itemTemplate let-display let-key="valueKey">
                        <div class="state-card--simple">
                            <div class="display-value--main">{{display}}</div>
                            <div class="display-value--sub"></div>
                        </div>
                    </ng-template>
                    <ng-template igxComboHeader>
                        <div class="custom-combo-header">This is a header</div>
                    </ng-template>
                    <ng-template igxComboFooter>
                        <div class="custom-combo-footer">This is a footer</div>
                    </ng-template>
                    <ng-template *ngIf="currentDataType !== 'primitive'" #headerItemTemplate let-display let-key="groupKey">
                        <div>Group header for {{display[key]}}</div>
                    </ng-template>
                    <ng-template igxComboAddItem>
                        <button igxButton="flat" igxRipple>Add VERY CUSTOM item</button>
                    </ng-template>
                    <label igxLabel>States</label>
                    <igx-prefix>
                        <igx-icon>home</igx-icon>
                    </igx-prefix>
                    <igx-hint>Please select the states you've visited</igx-hint>
                </igx-combo>
            </div>
        </div>
        <div class="btn-wrapper mb24">
            <div class="btn-container">
                <button igxButton="raised" igxRipple (click)="isDisabled = !isDisabled">Toggle disabled
                </button>
                <button igxButton="raised" igxRipple (click)="toggleItem('Connecticut')">Toggle "Connecticut"
                </button>
                <button igxButton="raised" igxRipple (click)="changeItemTemplate()">Change Item Template</button>
            </div>
        </div>
        <ng-template #customItemTemplate let-display let-key="valueKey">
            <div class="state-card--simple">
                <div class="display-value--main">{{display[key]}}</div>
                <div class="display-value--sub">In Region {{display.region}}</div>
            </div>
        </ng-template>
        <h4>Search Input</h4>
        <div class="switch-settings">
            <igx-switch [(ngModel)]="filterableFlag">Filterable</igx-switch>
            <igx-switch [(ngModel)]="customValuesFlag">Custom Values</igx-switch>
            <igx-switch [(ngModel)]="autoFocusSearch">Automatic Search Focus</igx-switch>
        </div>
        <h4>Overlay Settings</h4>
        <div>
            <igx-buttongroup [alignment]="alignment">
                <button igxButton (click)="changeOverlaySettings(1)">Elastic Top</button>
                <button igxButton (click)="changeOverlaySettings(2)">Global with Animations</button>
                <button igxButton (click)="changeOverlaySettings(3)">Connected</button>
                <button igxButton (click)="changeOverlaySettings(0)">Default (Auto)</button>
            </igx-buttongroup>
        </div>
        <h4>Display Density</h4>
        <div>
            <igx-buttongroup>
                <button igxButton [disabled]="igxCombo.displayDensity === compact"
                (click)="setDensity('compact')">Compact</button>
                <button igxButton [disabled]="igxCombo.displayDensity === cosy"
                    (click)="setDensity('cosy')">Cosy</button>
                <button igxButton [disabled]="igxCombo.displayDensity === comfortable"
                    (click)="setDensity('comfortable')">Comfortable</button>
            </igx-buttongroup>
        </div>
        <h4>Item Height</h4>
        <div>
            <igx-buttongroup>
                <button igxButton [disabled]="playgroundCombo.itemHeight === 56"
                (click)="playgroundCombo.itemHeight = 56">
                Set ItemHeight to 56
                </button>
                <button igxButton [disabled]="playgroundCombo.itemHeight === null"
                    (click)="playgroundCombo.itemHeight = null">
                    Reset ItemHeight
                </button>
            </igx-buttongroup>
        </div>
    </section>
</div>
