.footer-class,
.header-class {
    background-color: #eee;
}

.header-class {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.header-class > * {
    flex: 1 1 auto;
    width: 50%;
    text-align: left;
}

.btn-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn-container button {
    margin-right: 8px;
}

.input-row {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.dropdownToggleButton {
    position: relative;
}

.input-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.mb24 {
    margin-bottom: 24px;
}

.mb16 {
    margin-bottom: 16px;
}

.combo-sample {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    margin: 48px auto;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .26), 0 3px 4px 0 rgba(0, 0, 0, .12), 0 3px 3px -2px rgba(0, 0, 0, .08);
    padding: 24px;
    border-radius: 4px;
}

.state-card--simple {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.state-card--simple > * {
    flex: 1 1 auto;
}

.display-value--main {
    font-weight: 500;
    width: 50%;
}

.display-value--sub {
    width: 50%;
    font-weight: 400;
    font-size: 12px;
    padding-right: 20px;
    text-align: left;
}

.igx-drop-down__item .igx-checkbox {
    margin-right: 8px;
}

.input-container {
    flex: 1 1 0%;
    min-width: 100px;
    margin-bottom: 24px;
}

.input-container + .input-container {
    margin-left: 24px;
}

.sample-content {
    margin-top: -88px;
}