<div class="sample-wrapper list-sample-component">
    <div class="density-chooser">
        <igx-buttongroup [values]="displayDensities" (selected)="selectDensity($event)"></igx-buttongroup>
    </div>

    <section class="sample-content">

        <article class="sample-column bootstrap">
            <div class="list-sample">
                <igx-list [displayDensity]="density">
                    <igx-list-item>
                        <p igxListLineTitle>Cras justo odio</p>
                        <igx-badge igxListAction value="14"></igx-badge>
                    </igx-list-item>
                    <igx-divider></igx-divider>
                    <igx-list-item>
                        <p igxListLineTitle>Dapibus ac facilisis in </p>
                        <igx-badge igxListAction value="2"></igx-badge>
                    </igx-list-item>
                    <igx-divider></igx-divider>
                    <igx-list-item>
                        <p igxListLineTitle>Morbi leo risus </p>
                        <igx-badge igxListAction value="1"></igx-badge>
                    </igx-list-item>
                </igx-list>
            </div>
        </article>

        <article class="sample-column">
            <div class="list-sample">
                <igx-card>
                    <igx-list [displayDensity]="density">
                        <igx-list-item [isHeader]="true">Job positions</igx-list-item>
                        <ng-template ngFor let-last="last" [ngForOf]="employeeItems" let-employee>
                            <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" >
                                <igx-icon igxListThumbnail>face</igx-icon>
                                <p igxListLineTitle>{{employee.position}}</p>
                                <igx-checkbox igxListAction></igx-checkbox>
                                <igx-icon igxListAction>info</igx-icon>
                            </igx-list-item>
                            <igx-divider *ngIf="!last"></igx-divider>
                        </ng-template>
                    </igx-list>
                </igx-card>
            </div>
        </article>

        <article class="sample-column">
            <div class="list-sample">
                <igx-card>
                    <igx-list [displayDensity]="density">
                        <igx-list-item [isHeader]="true">Custom List template</igx-list-item>
                        <ng-template ngFor let-last="last" [ngForOf]="employeeItems" let-employee>
                            <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" >
                                <igx-checkbox>{{employee.name}}</igx-checkbox>
                            </igx-list-item>
                        </ng-template>
                    </igx-list>
                </igx-card>
            </div>
        </article>

        <article class="sample-column">
            <div class="list-sample">
                <igx-card>
                    <igx-list [displayDensity]="density">
                        <igx-list-item [isHeader]="true">Thumbnail | Title | Subtitle | Action icon   </igx-list-item>
                        <ng-template ngFor let-last="last" [ngForOf]="employeeItems" let-employee>
                            <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" >
                                <igx-avatar roundShape="true" [src]="employee.imageURL" igxListThumbnail></igx-avatar>
                                <h4 igxListLineTitle>{{employee.name}}</h4>
                                <p igxListLineSubTitle>{{employee.position}}</p>
                                <p igxListLineSubTitle>{{employee.description}}</p>
                                <span igxListLine>Custom text content</span>
                                <igx-icon igxListAction>more_horiz</igx-icon>
                            </igx-list-item>
                            <igx-divider></igx-divider>
                        </ng-template>
                        <igx-list-item [isHeader]="true">Icon | Title | Subtitle | Action icon  </igx-list-item>
                        <ng-template ngFor let-last="last" [ngForOf]="employeeItems" let-employee>
                            <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" >
                                <igx-icon igxListThumbnail>face</igx-icon>
                                <h4 igxListLineTitle>{{employee.name}}</h4>
                                <p igxListLineSubTitle>{{employee.position}}</p>
                                <igx-icon igxListAction>more_horiz</igx-icon>
                                <igx-icon igxListAction>info</igx-icon>
                            </igx-list-item>
                            <igx-divider *ngIf="!last"></igx-divider>
                        </ng-template>
                    </igx-list>
                </igx-card>
            </div>
        </article>

        <article class="sample-column">
            <div class="list-sample">
                <igx-card>
                    <igx-list [displayDensity]="density">
                        <igx-list-item [isHeader]="true">Job positions</igx-list-item>
                        <ng-template ngFor let-last="last" [ngForOf]="employeeItems" let-employee>
                            <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" >
                                <igx-avatar roundShape="true" [src]="employee.imageURL" igxListThumbnail></igx-avatar>
                                <h4 igxListLineTitle>{{employee.name}}</h4>
                                <p igxListLineSubTitle>{{employee.position}}</p>
                                <igx-icon igxListAction>more_horiz</igx-icon>
                            </igx-list-item>
                            <igx-divider *ngIf="!last"></igx-divider>
                        </ng-template>
                    </igx-list>
                </igx-card>
            </div>
        </article>

        <article class="sample-column">
            <div class="list-sample">
                <igx-card>
                    <igx-list [displayDensity]="density">
                        <igx-list-item [isHeader]="true">Job positions</igx-list-item>
                        <ng-template ngFor let-last="last" [ngForOf]="employeeItems" let-employee>
                            <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" >
                                <igx-avatar roundShape="true" [src]="employee.imageURL" igxListThumbnail></igx-avatar>
                                <h4 igxListLineTitle>{{employee.name}}</h4>
                                <p igxListLineSubTitle>{{employee.position}}</p>
                                <igx-icon igxListAction>more_horiz</igx-icon>
                            </igx-list-item>
                        </ng-template>
                    </igx-list>
                </igx-card>
            </div>
        </article>

        <article class="sample-column">
            <div class="list-sample">
                <igx-card>
                    <igx-list [displayDensity]="density">
                        <igx-list-item [isHeader]="true">Job positions</igx-list-item>
                        <ng-template ngFor let-last="last" [ngForOf]="employeeItems" let-employee>
                            <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" >
                                <igx-avatar roundShape="true" [src]="employee.imageURL" igxListThumbnail></igx-avatar>
                                <h4 igxListLineTitle>{{employee.name}}</h4>
                                <p igxListLineSubTitle>{{employee.position}}</p>
                                <p igxListLineSubTitle>{{employee.description}}</p>
                                <igx-icon igxListAction>more_horiz</igx-icon>
                            </igx-list-item>
                            <igx-divider *ngIf="!last"></igx-divider>
                        </ng-template>
                    </igx-list>
                </igx-card>
            </div>
        </article>

        <article class="sample-column">
            <div class="list-sample">
                <igx-card>
                    <igx-list [displayDensity]="density">
                        <igx-list-item [isHeader]="true">Job positions</igx-list-item>
                        <ng-template ngFor let-last="last" [ngForOf]="employeeItems" let-employee>
                            <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" >
                                <igx-icon igxListThumbnail>face</igx-icon>
                                <p igxListLineTitle>{{employee.position}}</p>
                                <igx-checkbox igxListAction></igx-checkbox>
                            </igx-list-item>
                            <igx-divider *ngIf="!last"></igx-divider>
                        </ng-template>
                    </igx-list>
                </igx-card>
            </div>
        </article>

        <article class="sample-column">
            <div class="list-sample">
                <igx-card>
                    <igx-list [displayDensity]="density">
                        <ng-template ngFor let-last="last" [ngForOf]="employeeItems" let-employee>
                            <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" >
                                <igx-avatar roundShape="true" [src]="employee.imageURL" igxListThumbnail></igx-avatar>
                                <h4 igxListLineTitle>{{employee.name}}</h4>
                                <p igxListLineSubTitle>{{employee.position}}</p>
                                <p igxListLineSubTitle>{{employee.description}}</p>
                                <igx-checkbox igxListAction></igx-checkbox>
                            </igx-list-item>
                        </ng-template>
                    </igx-list>
                </igx-card>
            </div>
        </article>

        <article class="sample-column">
            <h4 class="sample-title">Declarative filtered list</h4>
            <igx-switch [checked]="true" #checkbox>Filter</igx-switch>
            <br>
            <igx-input-group type="search" style="margin-bottom: 16px">
                <igx-prefix>
                    <igx-icon>search</igx-icon>
                </igx-prefix>
                <input #searchBox1 igxInput type="text" placeholder="Search List" [(ngModel)]="search2" />
            </igx-input-group>

            <div class="list-sample">
                <igx-list [displayDensity]="density" #declarativeList [igxFilter]="fo2" (filtering)="filteringHandler($event)" (filtered)="filteredHandler()">
                    <igx-list-item [isHeader]="true">Mildly Sweet</igx-list-item>
                    <igx-list-item><span igxListLine>Red Delicious</span></igx-list-item>
                    <igx-list-item><span igxListLine>Ambrosia</span></igx-list-item>
                    <igx-list-item><span igxListLine>Rome</span></igx-list-item>
                    <igx-list-item [isHeader]="true">Sweet</igx-list-item>
                    <igx-list-item><span igxListLine>Golden Delicious</span></igx-list-item>
                    <igx-list-item><span igxListLine>Cosmic Crisp</span></igx-list-item>
                    <igx-list-item><span igxListLine>Pinova</span></igx-list-item>
                </igx-list>
            </div>
        </article>

        <article class="sample-column">
            <h4 class="sample-title">Data source filtered list</h4>

            <igx-input-group type="search" style="margin-bottom: 16px">
                <igx-prefix>
                    <igx-icon>search</igx-icon>
                </igx-prefix>
                <input #searchContacts igxInput type="text" placeholder="Search Contacts" [(ngModel)]="search1" />
            </igx-input-group>

            <div class="list-sample-density">
                <igx-card>
                    <igx-list #contactsList [displayDensity]="density">
                        <igx-list-item [isHeader]="true">Contacts</igx-list-item>
                        <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" *ngFor="let item of navItems | igxFilter: fo1">
                            <!-- <igx-avatar igxListThumbnail [src]="item.avatar" roundShape="true"></igx-avatar>-->
                            <span igxListLine>{{item.text}}</span>
                            <igx-icon igxListAction [class.favorite]="item.favorite" (click)="toggleFavorite(item)">star</igx-icon>
                        </igx-list-item>
                    </igx-list>
                </igx-card>
            </div>
        </article>

        <article class="sample-column">
            <h4 class="sample-title">Non-header List</h4>
            <div class="list-sample">
                <igx-card>
                    <igx-list [displayDensity]="density" [allowRightPanning]="true" [allowLeftPanning]="true">
                        <igx-list-item [isHeader]="true">Contacts</igx-list-item>
                        <igx-list-item *ngFor="let navItem of navItems; let index = index">
                            <igx-avatar igxListThumbnail [src]="navItem.avatar" roundShape="true"></igx-avatar>
                            <p  igxListLineTitle>{{navItem.text}}</p>
                            <span igxListLineSubTitle>{{navItem.phone}}</span>
                            <igx-icon igxListAction>chevron_right</igx-icon>
                        </igx-list-item>
                    </igx-list>
                </igx-card>
            </div>
        </article>

        <article class="sample-column">
            <h4 class="sample-title">
                Empty list
                <i class="light">w/ Default template</i>
            </h4>
            <div class="list-sample">
                <igx-card>
                    <igx-list [displayDensity]="density" [hidden]="fruitsFilteredItemsCount === 0" [igxFilter]="fruitsFilterOptions" (filtered)="fruitsFiltered($event)">
                        <igx-list-item *ngFor="let fruit of fruits" [attr.data-fruit-id]="fruit.id">
                            <span igxListLine>{{ fruit.name }}</span>
                            <igx-icon igxListAction class="delete-item" (click)="deleteFruit(fruit.id)">close</igx-icon>
                        </igx-list-item>
                    </igx-list>
                </igx-card>
            </div>
        </article>

        <article class="sample-column">
            <igx-card>
                <igx-list [displayDensity]="density" [isLoading]="true">
                    <igx-list-item *ngFor="let fruit of fruits">
                        {{ fruit.name }}
                    </igx-list-item>
                    <ng-template igxDataLoading>
                        <div style="text-align: center">Loading...</div>
                    </ng-template>
                </igx-list>
            </igx-card>
        </article>

        <article class="sample-column">
            <h4 class="sample-title">
                Empty list
                <i class="light">w/ Custom template</i>
            </h4>
            <div class="list-sample">
                <igx-card>
                    <igx-list [displayDensity]="density" #fruitList>
                        <igx-list-item *ngFor="let fruit of fruits">
                            {{ fruit.name }}
                        </igx-list-item>
                        <ng-template igxEmptyList>
                            <div style="text-align: center">
                                <button type="button" igxButton="flat" (click)="loadFruits()">Load data</button>
                            </div>
                        </ng-template>
                    </igx-list>
                </igx-card>
            </div>
        </article>
    </section>
</div>

<igx-dialog #addFruitDialog title="Add Fruit" leftButtonLabel="Cancel" (onLeftButtonSelect)="addFruitDialog.close()" rightButtonLabel="Add"
            rightButtonBackgroundColor="#0375be" rightButtonColor="white" (onRightButtonSelect)="onAddFruitButtonClicked(newFruitName.value);newFruitName.value='';"
            backgroundClick="true" closeOnOutsideSelect="true">
    <igx-input-group>
        <label igxLabel for="newFruit">Fruit Name</label>
        <input id="newFruit" igxInput #newFruitName type="text" />
    </igx-input-group>
</igx-dialog>

