$component-name: 'igx-input';

$components: register-component($components, #{$component-name});

@function igx-input-theme(
    $idle-text-color: null,
    $filled-text-color: null,
    $focused-text-color: null,
    $disabled-text-color: null,

    $placeholder-text-color: null,

    $idle-secondary-color: null,
    $filled-secondary-color: null,
    $focused-secondary-color: null,
    $disabled-secondary-color: null,

    $idle-bottom-line-color: null,
    $hover-bottom-line-color: null,
    $filled-bottom-line-color: null,
    $focused-bottom-line-color: null,
    $disabled-bottom-line-color: null,

    $success-secondary-color: null,
    $warning-secondary-color: null,
    $error-secondary-color: null,
    $light: false
) {
    @if not($focused-bottom-line-color) and $focused-secondary-color {
        $focused-bottom-line-color: $focused-secondary-color;
    }

    @return (
        idle-text-color: $idle-text-color,
        filled-text-color: $filled-text-color,
        focused-text-color: $focused-text-color,
        disabled-text-color: $disabled-text-color,
        placeholder-text-color: $placeholder-text-color,

        idle-secondary-color: $idle-secondary-color,
        filled-secondary-color: $filled-secondary-color,
        focused-secondary-color: $focused-secondary-color,
        disabled-secondary-color: $disabled-secondary-color,

        idle-bottom-line-color: $idle-bottom-line-color,
        hover-bottom-line-color: $hover-bottom-line-color,
        filled-bottom-line-color: $filled-bottom-line-color,
        focused-bottom-line-color: $focused-bottom-line-color,
        disabled-bottom-line-color: $disabled-bottom-line-color,

        success-secondary-color: $success-secondary-color,
        warning-secondary-color: $warning-secondary-color,
        error-secondary-color: $error-secondary-color,
        light: $light
    );
}

@mixin igx-input($theme, $palette: $default-palette) {
    $dark-theme: igx-input-theme(
        $idle-text-color: igx-color($palette, 'grays', 600),
        $filled-text-color: igx-color($palette, 'grays', 900),
        $focused-text-color: igx-color($palette, 'grays', 900),
        $disabled-text-color: igx-color($palette, 'grays', 500),
        $placeholder-text-color: igx-color($palette, 'grays', 600),

        $idle-secondary-color: igx-color($palette, 'grays', 600),
        $filled-secondary-color: igx-color($palette, 'grays', 600),
        $focused-secondary-color: igx-color($palette, 'primary'),
        $disabled-secondary-color: igx-color($palette, 'grays', 500),

        $idle-bottom-line-color: igx-color($palette, 'grays', 600),
        $hover-bottom-line-color: igx-color($palette, 'grays', 900),
        $filled-bottom-line-color: igx-color($palette, 'grays', 600),
        $focused-bottom-line-color: igx-color($palette, 'primary'),
        $disabled-bottom-line-color: igx-color($palette, 'grays', 600),

        $success-secondary-color: igx-color($palette, 'success', 500),
        $warning-secondary-color: igx-color($palette, 'warn', 500),
        $error-secondary-color: igx-color($palette, 'error', 500)
    );

    $light-theme: igx-input-theme(
        $idle-text-color: rgba(#fff, .7),
        $filled-text-color: rgba(#fff, .7),
        $focused-text-color: #fff,
        $disabled-text-color: rgba(#fff, .5),
        $placeholder-text-color: rgba(#fff, .5),

        $idle-secondary-color: rgba(#fff, .7),
        $filled-secondary-color: rgba(#fff, .7),
        $focused-secondary-color: igx-color($palette, 'primary'),
        $disabled-secondary-color: rgba(#fff, .5),

        $idle-bottom-line-color: rgba(#fff, .7),
        $hover-bottom-line-color: #fff,
        $filled-bottom-line-color: rgba(#fff, .7),
        $focused-bottom-line-color: igx-color($palette, 'primary'),
        $disabled-bottom-line-color: rgba(#fff, .5),

        $success-secondary-color: igx-color($palette, 'success', 500),
        $warning-secondary-color: igx-color($palette, 'warn', 500),
        $error-secondary-color: igx-color($palette, 'error', 500)
    );

    $this: ();

    @if map-get($theme, 'light') {
        $this: extend($light-theme, $theme);
    } @else {
        $this: extend($dark-theme, $theme);
    }

    // @debug $this;

    // Input Field
    $input-font-size: rem(16px);
    $input-font-weight: 400;
    $input-line-height: rem(24px);

    // Floating Label
    $input-search-padding: 12px 12px 12px 64px;
    $input-search-label-padding: 12px 16px;
    $input-margin: 20px 0;

    // TODO: Add helper text

    %igx-input-display {
        display: block;
        margin: $input-margin;
        position: relative;
        min-height: 40px;
    }

    %igx-form-label {
        display: block;
        position: absolute;
        overflow: hidden;
        top: 0;
        transform-origin: top left;
        font-size: $input-font-size;
        line-height: $input-line-height;
        color: map-get($this, 'idle-secondary-color');
        cursor: text;
        user-select: none;
        pointer-events: none;
        transform: translate3d(0, 0, 0);
        transition: all .15s $ease-in-out-quad, color .15s $ease-in-out-quad;
    }

    %igx-form-label--float {
        color: map-get($this, 'idle-secondary-color');
        font-size: 12px;
        transform: translateY(-20px);
        // transform: translateY(-20px) perspective(1000px) translateZ(-300px);
    }

    %igx-form-label--filled {
        color: map-get($this, 'filled-secondary-color');
    }

    %igx-form-label--focused {
        color: map-get($this, 'focused-secondary-color');
        font-size: 12px;
        transform: translateY(-20px);
        // transform: translateY(-20px) perspective(1000px) translateZ(-300px);
    }

    %igx-form-input {
        width: 100%;
        border: 0;
        outline-style: none;
        color: map-get($this, 'idle-text-color');
        background: transparent;
        font-size: $input-font-size;
        font-weight: $input-font-weight;
        line-height: $input-line-height;
        padding-bottom: 3px;
        box-shadow: inset 0 -1px 0 0 map-get($this, 'idle-secondary-color');
        transition: box-shadow .15s $ease-in-out-quad;

        &::-webkit-input-placeholder {
            color: map-get($this, 'placeholder-text-color');
        }
    }

    %igx-form-input--hover {
        cursor: pointer;
        box-shadow: inset 0 -2px 0 0 map-get($this, 'hover-bottom-line-color');
    }

    %igx-form-input--filled {
        color: map-get($this, 'filled-text-color');
    }

    %igx-form-input--focused {
        cursor: text;
        color: map-get($this, 'focused-text-color');
        caret-color: map-get($this, 'focused-secondary-color');
        box-shadow: inset 0 -2px 0 0 map-get($this, 'focused-secondary-color');
    }

    %igx-form-input--disabled {
        user-select: none;
        cursor: not-allowed;
        -webkit-text-fill-color: map-get($this, 'disabled-text-color');
        box-shadow: none;
        background-image: linear-gradient(to right, map-get($this, 'disabled-text-color') 20%, transparent 10%);
        background-position: bottom;
        background-size: 5px 1px;
        background-repeat: repeat-x;
    }

    %igx-form-label--disabled {
        color: map-get($this, 'disabled-text-color');
    }

    %igx-form-input--success {
        caret-color: map-get($this, 'success-secondary-color');
        box-shadow: inset 0 -2px 0 0 map-get($this, 'success-secondary-color');
    }

    %igx-form-label--success {
        color: map-get($this, 'success-secondary-color');
    }

    %igx-form-input--warn {
        caret-color: map-get($this, 'warning-secondary-color');
        box-shadow: inset 0 -2px 0 0 map-get($this, 'warning-secondary-color');
    }

    %igx-form-label--warn {
        color: map-get($this, 'warning-secondary-color');
    }

    %igx-form-input--error {
        caret-color: map-get($this, 'error-secondary-color');
        box-shadow: inset 0 -2px 0 0 map-get($this, 'error-secondary-color');
    }

    %igx-form-label--error {
        color: map-get($this, 'error-secondary-color');
    }

    %igx-textarea {
        resize: none;
    }

    %igx-search-input {
        background: $white;
        padding: $input-search-padding;
        border-radius: 2px;
        font-size: $input-font-size;
        box-shadow: igx-elevation($elevations, 2);
        transition: box-shadow .2s $ease-in-out-quad;

        &:hover,
        &:focus {
            box-shadow: igx-elevation($elevations, 5);
        }
    }

    %igx-input-clear,
    %igx-search-label {
        max-height: 100%;
        padding: $input-search-label-padding;
        color: igx-color($palette, 'grays', 800);
    }

    %igx-input-clear {
        position: absolute;
        visibility: visible;
        top: 0;
        right: 0;
        cursor: pointer;
    }

    %igx-input-clear--hidden {
        visibility: hidden;
        pointer-events: none;
    }
}
