////
/// @group themes
/// @access public
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
////

/// @param {Color} $idle-text-color [null] - The input text color in the idle state.
/// @param {Color} $filled-text-color [null] - The input text color in the filled state.
/// @param {Color} $focused-text-color [null] - The input text color in the focused state.
/// @param {Color} $disabled-text-color [null] - The input text color in the disabled state.
///
/// @param {Color} $idle-secondary-color [null] - The label color in the idle state.
/// @param {Color} $filled-secondary-color [null] - The label color in the filled state.
/// @param {Color} $focused-secondary-color [null] - The label color in the focused state.
///
/// @param {Color} $idle-bottom-line-color [null] - The bottom line and border colors in the idle state.
/// @param {Color} $hover-bottom-line-color [null] - The bottom line and border colors in the hover state.
/// @param {Color} $focused-bottom-line-color [null] - The bottom line and border colors in the focused state.
/// @param {Color} $disabled-bottom-line-color [null] - The bottom line and border colors in the disabled state.
///
/// @param {Color} $box-background [null] - The background color of an input group of type box.
/// @param {Color} $box-disabled-background [null] - The background color of an input group of type box in the disabled state.
///
/// @param {Color} $border-background [null] - The background color of an input group of type border.
/// @param {Color} $border-disabled-background [null] - The background color of an input group of type border in the disabled state.
///
/// @param {Color} $search-background [null] - The background color of an input group of type search.
/// @param {Color} $search-disabled-background [null] - The background color of an input group of type search in the disabled state.
/// @param {Color} $search-shadow-color [null] - The shadow color of an input group of type search.
/// @param {Color} $search-disabled-shadow-color [null] - The shadow color of an input group of type search in the disabled state.
///
/// @param {Color} $success-secondary-color [igx-color($palette, 'success')] - The success color used in the valid state.
/// @param {Color} $warning-secondary-color [igx-color($palette, 'warn')] - The warning color used in the warning state.
/// @param {Color} $error-secondary-color [igx-color($palette, 'error)] - The error color used in the error state.
///
/// @param {String} $variant ['dark'] - Can be either 'dark' or 'light'. Use 'light' when the input is used on dark backgrounds.
///
/// @example scss Change the focused border and label colors
///   $my-input-group-theme: igx-input-group-theme($focused-secondary-color: pink, $focused-bottom-line-color: pink);
///   // Pass the theme to the igx-input-group component mixin
///   @include igx-input-group($my-input-group-theme);
@function igx-input-group-theme(
    $idle-text-color: null,
    $filled-text-color: null,
    $focused-text-color: null,
    $disabled-text-color: null,

    $idle-secondary-color: null,
    $filled-secondary-color: null,
    $focused-secondary-color: null,

    $idle-bottom-line-color: null,
    $hover-bottom-line-color: null,
    $filled-bottom-line-color: null,
    $focused-bottom-line-color: null,
    $disabled-bottom-line-color: null,

    $box-background: null,
    $box-disabled-background: null,
    $border-background: null,
    $border-disabled-background: null,

    $search-background: null,
    $search-disabled-background: null,
    $search-shadow-color: null,
    $search-disabled-shadow-color: null,

    $success-secondary-color: null,
    $warning-secondary-color: null,
    $error-secondary-color: null,

    $variant: 'dark'
) {
    @return (
        idle-text-color: $idle-text-color,
        filled-text-color: $filled-text-color,
        focused-text-color: $focused-text-color,
        disabled-text-color: $disabled-text-color,

        idle-secondary-color: $idle-secondary-color,
        filled-secondary-color: $filled-secondary-color,
        focused-secondary-color: $focused-secondary-color,

        idle-bottom-line-color: $idle-bottom-line-color,
        hover-bottom-line-color: $hover-bottom-line-color,
        filled-bottom-line-color: $filled-bottom-line-color,
        focused-bottom-line-color: $focused-bottom-line-color,
        disabled-bottom-line-color: $disabled-bottom-line-color,

        box-background: $box-background,
        box-disabled-background: $box-disabled-background,

        border-background: $border-background,
        border-disabled-background: $border-disabled-background,

        search-background: $search-background,
        search-disabled-background: $search-disabled-background,
        search-shadow-color: $search-shadow-color,
        search-disabled-shadow-color: $search-disabled-shadow-color,

        success-secondary-color: $success-secondary-color,
        warning-secondary-color: $warning-secondary-color,
        error-secondary-color: $error-secondary-color,

        variant: $variant
    );
}

/// @param {Map} $theme - The theme used to style the component.
/// @param {Map} $palette [$default-palette] - The palette used as basis for styling the component.
/// @requires igx-input-group-theme
/// @requires igx-color
/// @requires igx-elevation
/// @requires $elevations
/// @requires extend
/// @requires em
@mixin igx-input-group($theme, $palette: $default-palette) {
    $dark-theme: igx-input-group-theme(
        $idle-text-color: igx-color($palette, 'grays', 600),
        $filled-text-color: igx-color($palette, 'grays', 900),
        $focused-text-color: igx-color($palette, 'grays', 900),
        $disabled-text-color: igx-color($palette, 'grays', 500),

        $idle-secondary-color: igx-color($palette, 'grays', 600),
        $filled-secondary-color: igx-color($palette, 'grays', 600),
        $focused-secondary-color: igx-color($palette, 'primary'),

        $idle-bottom-line-color: igx-color($palette, 'grays', 600),
        $hover-bottom-line-color: igx-color($palette, 'grays', 900),
        $filled-bottom-line-color: igx-color($palette, 'grays', 600),
        $focused-bottom-line-color: igx-color($palette, 'primary'),
        $disabled-bottom-line-color: rgba(0, 0, 0, .42),

        $box-background: rgba(0, 0, 0, .06),
        $box-disabled-background: rgba(0, 0, 0, .03),

        $border-background: transparent,
        $border-disabled-background: rgba(0, 0, 0, .03),

        $search-background: white,
        $search-disabled-background: white,
        $search-shadow-color: igx-color($palette, 'grays', 600),
        $search-disabled-shadow-color: igx-color($palette, 'grays', 300),

        $success-secondary-color: igx-color($palette, 'success'),
        $warning-secondary-color: igx-color($palette, 'warn'),
        $error-secondary-color: igx-color($palette, 'error')
    );

    $light-theme: igx-input-group-theme(
        $idle-text-color: white,
        $filled-text-color: white,
        $focused-text-color: white,
        $disabled-text-color: rgba(255, 255, 255, .5),

        $idle-secondary-color: rgba(255, 255, 255, .7),
        $filled-secondary-color: rgba(255, 255, 255, .7),
        $focused-secondary-color: igx-color($palette, 'primary'),

        $idle-bottom-line-color: rgba(255, 255, 255, .7),
        $hover-bottom-line-color: white,
        $filled-bottom-line-color: rgba(255, 255, 255, .7),
        $focused-bottom-line-color: igx-color($palette, 'primary'),
        $disabled-bottom-line-color: rgba(255, 255, 255, .7),

        $box-background: rgba(255, 255, 255, .1),
        $box-disabled-background: rgba(255, 255, 255, .06),

        $border-background: transparent,
        $border-disabled-background: rgba(255, 255, 255, .06),

        $search-background: rgba(255, 255, 255, .1),
        $search-disabled-background: rgba(255, 255, 255, .06),
        $search-shadow-color: igx-color($palette, 'grays', 600),
        $search-disabled-shadow-color: igx-color($palette, 'grays', 300),

        $success-secondary-color: igx-color($palette, 'success'),
        $warning-secondary-color: igx-color($palette, 'warn'),
        $error-secondary-color: igx-color($palette, 'error')
    );

    $this: ();

    @if map-get($theme, 'variant') == 'light' {
        $this: extend($theme, $light-theme);
    } @else {
        $this: extend($theme, $dark-theme);
    }

    $transition-timing: .25s $ease-out-cubic;
    $search-shadow: igx-elevation($elevations, 1);
    $search-shadow-hover: igx-elevation($elevations, 2);
    $search-shadow-disabled: igx-elevation($elevations, 1);

    $group-font-size: em(16px);
    $group-top-margin: em(12px);
    $group-bundle-border-radius: 4px;
    $group-bundle--box-padding: 0 em(16px);
    $group-bundle-main--box-padding: em(18px);

    $label-font-size: em(16px);
    $label-height: em(18px);
    $required-symbol: '*';
    $required-symbol-margin: 2px;

    $input-font-size: em(16px);
    $input-line-height: em(16px);
    $input-height: em(32px);
    $input-padding: 0 0 em(8px);
    $input-border-top: em(8px) solid rgba(0, 0, 0, 0);

    $textarea-min-height: em(82px);
    $textarea-line-height: em(22px);
    $textarea-padding: em(16px);

    $prefix-height: em(32px);

    $_hint-base-font-size: 12px;
    $hint-font-size: em($_hint-base-font-size);
    $hint-line-height: em(14px, $_hint-base-font-size);
    $hint-padding-top: em(8px, $_hint-base-font-size);
    $hint--box-margin: em(16px, $_hint-base-font-size);

    %form-group-display {
        position: relative;
        display: block;
        font-size: $group-font-size; /* 16px, when base is 16px(html) */
        margin-top: $group-top-margin; /* 12px when base is 16px (self) */
        color: map-get($this, 'idle-text-color');
    }

    %form-group-display--no-margin {
        margin-top: 0;
    }

    %form-group-box-wrapper {
        border-radius: $group-bundle-border-radius;
        overflow: hidden;
    }

    %form-group-display--hover {
        cursor: pointer;
    }

    %form-group-display--disabled {
        pointer-events: none;
        user-select: none;
        color: map-get($this, 'disabled-text-color');
    }

    %form-group-bundle {
        position: relative;
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        box-shadow: inset 0 -1px 0 0 map-get($this, 'idle-bottom-line-color');
        transition: box-shadow $transition-timing, color $transition-timing;
    }

    %form-group-bundle--box {
        padding: $group-bundle--box-padding;
        background: map-get($this, 'box-background');
        box-shadow: inset 0 -2px 0 0 map-get($this, 'idle-bottom-line-color');

        %form-group-label--box + %form-group-input--box {
            transform: translateY(0);
        }
    }

    %form-group-bundle--hover {
        cursor: pointer;
        box-shadow: inset 0 -2px 0 0 map-get($this, 'hover-bottom-line-color');
    }

    %form-group-bundle--focus {
        caret-color: map-get($this, 'focused-secondary-color');
        box-shadow: inset 0 -2px 0 0 rgba(map-get($this, 'focused-bottom-line-color'), .12);
    }

    %form-group-bundle--success {
        caret-color: map-get($this, 'success-secondary-color');
        box-shadow: inset 0 -1px 0 0 map-get($this, 'success-secondary-color');
    }

    %form-group-bundle--error {
        caret-color: map-get($this, 'error-secondary-color');
        box-shadow: inset 0 -1px 0 0 map-get($this, 'error-secondary-color');
    }

    %form-group-bundle--disabled {
        box-shadow: none;
        background-image: linear-gradient(to right, map-get($this, 'disabled-bottom-line-color') 40%, transparent 10%);
        background-position: bottom;
        background-size: 4px 1px;
        background-repeat: repeat-x;
    }

    %form-group-bundle--box-disabled {
        background: map-get($this, 'box-disabled-background');
    }

    %form-group-bundle--border {
        padding: $group-bundle--box-padding;
        box-shadow: inset 0 0 0 1px map-get($this, 'idle-bottom-line-color');
        border-radius: $group-bundle-border-radius;
        background: map-get($this, 'border-background');

        %form-group-label--box + %form-group-input--box {
            transform: translateY(0);
        }
    }

    %form-group-bundle-border--hover {
        box-shadow: inset 0 0 0 2px map-get($this, 'idle-text-color');
    }

    %form-group-bundle-border--focus {
        box-shadow: inset 0 0 0 2px map-get($this, 'focused-bottom-line-color');
    }

    %form-group-bundle-border--error {
        box-shadow: inset 0 0 0 2px map-get($this, 'error-secondary-color');
    }

    %form-group-bundle-border--success {
        box-shadow: inset 0 0 0 2px map-get($this, 'success-secondary-color');
    }

    %form-group-bundle-border--disabled {
        background: map-get($this, 'border-disabled-background');
        box-shadow: inset 0 0 0 1px rgba(map-get($this, 'disabled-text-color'), .06);
    }

    %form-group-bundle--search {
        padding: $group-bundle--box-padding;
        border-radius: $group-bundle-border-radius;
        border-bottom: none;
        background: map-get($this, 'search-background');
        box-shadow: $search-shadow;

        %form-group-label--box + %form-group-input--box {
            transform: translateY(0);
        }
    }

    %form-group-bundle-search--hover {
        box-shadow: $search-shadow-hover;
    }

    %form-group-bundle-search--focus {
        box-shadow: $search-shadow-hover;
    }

    %form-group-bundle-search--error {
        box-shadow: $search-shadow-hover;
    }

    %form-group-bundle-search--success {
        box-shadow: $search-shadow-hover;
    }

    %form-group-bundle-search--disabled {
        background: map-get($this, 'search-disabled-background');
        box-shadow: $search-shadow-disabled;
    }

    %form-group-bundle-main {
        position: relative;
        flex-grow: 1;
    }

    %form-group-bundle-main--box {
        padding-top: $group-bundle-main--box-padding;
    }

    %form-group-label {
        @include ellipsis();
        position: absolute;
        width: 100%;
        transform: translateY(50%); /* 8px, base is 16px */
        font-size: $label-font-size; /* 16px, base is 16px */
        line-height: 1;
        height: $label-height; /* 18px, base is 16px(self) */
        backface-visibility: hidden;
        will-change: transform;
        transform-origin: top left;
        transition: transform $transition-timing, color $transition-timing;

        [dir='rtl'] & {
            transform-origin: top right;
        }
    }

    %form-group-label--box {
        transform: translateY(0);
    }

    %form-group-label--float {
        transform: translateY(-50%) scale(.75);
    }

    %form-group-label--fixed {
        transition: color $transition-timing;
    }

    %form-group-label--focus {
        color: map-get($this, 'focused-secondary-color');
    }

    %form-group-label--success {
        color: map-get($this, 'success-secondary-color');
    }

    %form-group-label--error {
        color: map-get($this, 'error-secondary-color');
    }

    %form-group-label--required {
        &::after {
            content: '#{$required-symbol}';
            font-size: inherit;
            vertical-align: top;
            margin-left: $required-symbol-margin; /* 2px base is 16px */
            line-height: 1;
        }
    }

    %form-group-input {
        position: relative;
        display: block;
        border: none;
        font-size: $input-font-size;
        line-height: $input-line-height;
        height: $input-height; /* 32px, base is 16px */
        padding: $input-padding; /* 8px, base is 16px */
        border-top: $input-border-top;
        width: 100%;
        min-width: 0;
        overflow: visible;
        font-family: inherit;
        background: transparent;
        color: map-get($this, 'filled-text-color');
        outline-style: none;
        box-shadow: none;

        &::-webkit-input-placeholder {
            padding: 4px 0;
        }

        &::placeholder {
            color: igx-color($palette, 'grays', 500);
            opacity: 1;
        }
    }

    %chrome-autofill-fix {
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active { -webkit-transition-delay: 99999s; }
    }

    %form-group-input--box {
        transform: translateY(-25%);
    }

    %form-group-input--hover {
        cursor: pointer;
    }

    %form-group-input--focus {
        cursor: text;
        color: map-get($this, 'focused-text-color');
    }

    %form-group-input--disabled {
        color: map-get($this, 'disabled-text-color');

        &::placeholder {
            color: igx-color($palette, 'grays', 400);
        }
    }

    %form-group-textarea {
        min-height: $textarea-min-height; /* 3 lines * 22px + 8px bottom padding + 8px top padding */
        margin-right: -#{$textarea-padding}; /* this fixes resizing in chrome !?!? */
        height: auto;
        line-height: $textarea-line-height; /* 22px, base is 16px */
        resize: vertical;
        overflow: hidden;

        [dir='rtl'] & {
            margin-right: initial;
            margin-left: -#{$textarea-padding};
        }
    }

    %form-group-textarea--box {
        width: calc(100% + #{$textarea-padding * 2}); /* add the padding to the width */
        margin: 0 -#{$textarea-padding};
        padding-left: $textarea-padding;
        padding-right: $textarea-padding;
    }

    %form-group-prefix,
    %form-group-suffix {
        display: inline-flex;
        align-items: center;
        line-height: 1;
        height: $prefix-height; /* 32px, base is 16px */
        transition: all $transition-timing;
    }

    %form-group-prefix {
        padding: .5em .5em .5em 0; /* 8px, base is 16px */

        [dir='rtl'] & {
            padding: .5em 0 .5em .5em; /* 8px, base is 16px */
        }
    }

    %form-group-suffix {
        padding: .5em 0; /* 8px, base is 16px */
    }

    %form-group-prefix--box,
    %form-group-suffix--box {
        height: 100%;
    }

    %form-group-prefix--box {
        padding: 0 .5em 0 0; /* 8px, base is 16px */

        [dir='rtl'] & {
            padding: 0 0 0 .5em; /* 8px, base is 16px */
        }
    }

    %form-group-suffix--box {
        padding: 0;
    }

    %form-group-prefix--error,
    %form-group-suffix--error {
        color: map-get($this, 'error-secondary-color');
    }

    %form-group-border {
        height: 2px; /* 2px, when base is 16px */
        margin-top: -2px; /* 2px, when base is 16px */
        transform: scaleX(0);
        transform-origin: center;
        background: map-get($this, 'focused-secondary-color');
    }

    %form-group-border--focus {
        transform: scaleX(1);
        transition: transform $transition-timing;
    }

    %form-group-border--success {
        background: map-get($this, 'success-secondary-color');
    }

    %form-group-border--warning {
        background: map-get($this, 'warning-secondary-color');
    }

    %form-group-border--error {
        background: map-get($this, 'error-secondary-color');
    }

    %form-group-border--hidden {
        display: none;
    }

    %form-group-helper {
        position: relative;
        display: flex;
        justify-content: space-between;
        font-size: $hint-font-size; /* 12px */
        line-height: $hint-line-height; /* 13.5px, base is 12px */
        padding-top: $hint-padding-top; /* 8px, base is 12px */
    }

    %form-group-helper--box {
        margin-left: $hint--box-margin; /* 16px, base is 12px */
        margin-right: $hint--box-margin; /* 16px, base is 12px */
    }

    %form-group-helper--success {
        color: map-get($this, 'success-secondary-color');
    }

    %form-group-helper--error {
        color: map-get($this, 'error-secondary-color');
    }

    %form-group-helper-item {
        @include ellipsis();
        position: relative;
        min-width: 0;
        max-width: 100%;
    }

    %form-group-helper-item--start {
        order: 0;
    }

    %form-group-helper-item--end {
        order: 1;
    }
}
