<section class="divider-demo" [class.divider-demo--vertical]="properties.vertical">
    <article>
        <h5>Article title</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa officiis suscipit veniam vitae. Ab ad, dolores iure nostrum quo ratione rerum sapiente ullam. Adipisci alias architecto eligendi est, expedita, explicabo fugiat iure laudantium minima molestiae molestias nam obcaecati placeat provident, quam repellendus vitae! Cupiditate eveniet, facere harum hic quisquam sed.</p>
    </article>
    <igx-divider [middle]="properties.middle" [inset]="properties.inset" [vertical]="properties.vertical" [type]="properties.type"></igx-divider>
    <article>
        <h5>Article title</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa officiis suscipit veniam vitae. Ab ad, dolores iure nostrum quo ratione rerum sapiente ullam. Adipisci alias architecto eligendi est, expedita, explicabo fugiat iure laudantium minima molestiae molestias nam obcaecati placeat provident, quam repellendus vitae! Cupiditate eveniet, facere harum hic quisquam sed.</p>
    </article>
    <igx-divider [middle]="properties.middle" [inset]="properties.inset" [vertical]="properties.vertical" [type]="properties.type"></igx-divider>
    <article>
        <h5>Article title</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa officiis suscipit veniam vitae. Ab ad, dolores iure nostrum quo ratione rerum sapiente ullam. Adipisci alias architecto eligendi est, expedita, explicabo fugiat iure laudantium minima molestiae molestias nam obcaecati placeat provident, quam repellendus vitae! Cupiditate eveniet, facere harum hic quisquam sed.</p>
    </article>
</section>
