.divider-demo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 900px;
    margin: 0 auto;
    padding: var(--demos-gap);
    background: var(--ig-surface-500);
    border-radius: .2rem;
}

.divider-demo--vertical {
    flex-direction: row;
}

