.sample-container {
    margin: 24px;
}

.sample-actions {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 15px 0;

    & button,
    & igx-drop-down {
        --ig-size: var(--ig-size-large);
    }
}

// button {
//     margin: 8px;
// }

button,
.igx-button--flat {
    color: #FBB13C;
    background-color: #340068;
    margin: 0.3rem;
}
