<div class="sample-actions">
    <igx-switch [(ngModel)]="grid1.hideRowSelectors">Hide row selectors</igx-switch>

    <igx-select [(ngModel)]="grid1.cellSelection" type="border">
        <label igxLabel>Cell Selection</label>
        <igx-select-item *ngFor="let item of selectionModes" [value]="item">{{ item }}</igx-select-item>
    </igx-select>

    <igx-select [(ngModel)]="grid1.rowSelection" type="border">
        <label igxLabel>Row Selection</label>
        <igx-select-item *ngFor="let item of selectionModes" [value]="item">{{ item }}</igx-select-item>
    </igx-select>
</div>

<igx-grid [data]="data" allowFiltering primaryKey="ProductID" rowSelection="single" height="550px"
    (selected)="log($event)" (rowSelectionChanging)="log($event)">
    <igx-column field="ProductName" dataType="string" sortable></igx-column>
    <igx-column field="SupplierID" dataType="string" sortable></igx-column>
    <igx-column field="OrderDate" dataType="date" sortable></igx-column>
    <igx-column field="ProductID" dataType="number" sortable width="15%"></igx-column>
    <igx-column field="UnitsInStock" dataType="number" sortable width="15%"></igx-column>
    <igx-column field="Discontinued" dataType="boolean" sortable width="15%"></igx-column>
</igx-grid>

<div class="sample-actions">
    <button igxButton="contained" (click)="selectRow()">Non Existing row</button>
    <button igxButton="contained" (click)="deleteSelectedRow()">Delete Selected Row</button>
    <button igxButton="contained" (click)="selectCells()">Select Range through API</button>
    <button igxButton="contained" (click)="toggleData()">Toggle half data</button>
</div>

<div class="sample-actions">
    <igx-input-group type="border">
        <input igxInput type="number" #input />
    </igx-input-group>
    <button igxButton="contained" (click)="scrScrollTo(input.valueAsNumber)">Go To Index</button>
</div>
<div class="sample-actions">
    <button igxButton="contained" (click)="log(grid1.selectedCells)">Selected Cells</button>
    <button igxButton="contained" (click)="log(grid1.getSelectedRanges())">Selected Ranges</button>
    <button igxButton="contained" (click)="log(grid1.getSelectedData())">Selected Data</button>
    <button igxButton="contained" (click)="log(grid1.selectedRows)">Selected Rows</button>
</div>
<div class="sample-actions">
    <button igxButton="contained" (click)="toggleCell()">Toggle (1.1)</button>
    <button igxButton="contained" (click)="toggleThirdRow()">Toggle Third row</button>
    <button igxButton="contained" (click)="toggle()">Toggle rows with ID 1,2,5 </button>
    <button igxButton="contained" (click)="toggleAll()">Toggle All rows</button>
    <button igxButton="contained" (click)="callSelectAll()">Select All Rows</button>
</div>
