////
/// @group themes
/// @access public
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
/// @author <a href="https://github.com/desig9stein" target="_blank">Marin Popov</a>
////

/// @param {Color} $thumb-on-color [null] - The color of the thumb when the switch is on.
/// @param {Color} $track-on-color [null] - The color of the track when the switch is on.
/// @param {Color} $thumb-off-color [null] - The color of the thumb when the switch is off.
/// @param {Color} $track-off-color [null] - The color of the track when the switch is off.
/// @param {Color} $thumb-disabled-color [null] - The color of the thumb when the switch is disabled.
/// @param {Color} $track-disabled-color [null] - The color of the track when the switch is disabled.
/// @param {Bool} $light [false] - Determines the default color scheme - light or not.
/// Set light to true when the surrounding area is dark.
/// @example scss Set custom track and thumb on colors
///   $my-switch-theme: igx-toast-theme($thumb-on-color: black, $track-on-color: yellow);
///   // Pass the theme to the igx-tabbar component mixin
///   @include igx-switch($my-switch-theme);
@function igx-switch-theme(
    $thumb-on-color: null,
    $track-on-color: null,

    $thumb-off-color: null,
    $track-off-color: null,

    $track-disabled-color: null,
    $thumb-disabled-color: null,

    $label-color: null,
    $label-disabled-color: null,

    $light: false
) {
    @return (
        thumb-on-color: $thumb-on-color,
        track-on-color: $track-on-color,

        thumb-off-color: $thumb-off-color,
        track-off-color: $track-off-color,

        track-disabled-color: $track-disabled-color,
        thumb-disabled-color: $thumb-disabled-color,

        label-color: $label-color,
        label-disabled-color: $label-disabled-color,

        light: $light
    );
}

/// @param {Map} $theme - The theme used to style the component.
/// @param {Map} $palette [$default-palette] - The palette used as basis for styling the component.
/// @requires igx-switch-theme
/// @requires igx-color
/// @requires igx-elevation
/// @requires extend
/// @requires hexrgba
/// @requires rem
/// @requires $elevations
@mixin igx-switch($theme, $palette: $default-palette) {
    $dark-theme: igx-switch-theme(
        $thumb-on-color: igx-color($palette, 'secondary', 500),
        $track-on-color: rgba(igx-color($palette, 'secondary', 500), .5),

        $thumb-off-color: #fafafa,
        $track-off-color: rgba(0, 0, 0, .5),

        $label-color: igx-color($palette, grays, 900),
        $label-disabled-color: igx-color($palette, grays, 400),

        $track-disabled-color: rgba(0, 0, 0, .12),
        $thumb-disabled-color: hexrgba(igx-color($palette, 'grays', 400))
    );

    $light-theme: igx-switch-theme(
        $thumb-on-color: igx-color($palette, 'secondary', 200),
        $track-on-color: rgba(igx-color($palette, 'secondary', 200), .5),

        $thumb-off-color: #bdbdbd,
        $track-off-color: rgba(255, 255, 255, .3),

        $label-color: igx-color($palette, grays, 600),
        $label-disabled-color: rgba(255, 255, 255, .3),

        $track-disabled-color: #424242,
        $thumb-disabled-color: #6c6c6c
    );

    $this: ();

    @if map-get($theme, 'light') {
        $this: extend($light-theme, $theme);
    } @else {
        $this: extend($dark-theme, $theme);
    }

    // @debug $this;

    $switch-width: 36px ;
    $switch-height: 14px ;
    $switch-radius: 100px ;

    $switch-thumb-width: 20px ;
    $switch-thumb-height: $switch-thumb-width ;

    $switch-shadow: igx-elevation($elevations, 2);
    $switch-hover-shadow: igx-elevation($elevations, 3);
    $switch-disabled-shadow: igx-elevation($elevations, 1);

    $ripple-size: em(48px);
    $ripple-radius: $ripple-size / 2;

    $label-font-size: em(16px);
    $label-margin: em(8px);

    $input-transition: all .2s $ease-in-out-quad;

    %switch-display {
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
        font-size: 16px;
    }

    %switch-display--disabled {
        user-select: none;
        pointer-events: none;
        cursor: initial;
    }

    %switch-composite {
        display: flex;
        align-items: center;
        width: $switch-width;
        height: $switch-height;
        border-radius: $switch-radius;
        background-color: map-get($this, 'track-off-color');
        cursor: pointer;
        user-select: none;
        transition: $input-transition;
    }

    %switch-composite--x {
        background-color: map-get($this, 'track-on-color');
    }

    %switch-composite--disabled {
        background: map-get($this, 'track-disabled-color');
    }

    %switch-composite-thumb {
        position: relative;
        display: block;
        width: $switch-thumb-width;
        height: $switch-thumb-height;
        border-radius: 50%;
        background: map-get($this, 'thumb-off-color');
        box-shadow: $switch-shadow;
        transition: $input-transition;

        &:hover {
            box-shadow: $switch-hover-shadow;
        }
    }

    %switch-composite-thumb--x {
        transform: translateX(#{$switch-width - $switch-thumb-width});
        background: map-get($this, 'thumb-on-color');

        [dir='rtl'] & {
            transform: translateX(-#{$switch-width - $switch-thumb-width});
        }
    }

    %switch-composite-thumb--disabled {
        background: map-get($this, 'thumb-disabled-color');
        box-shadow: $switch-disabled-shadow;
    }

    %switch-ripple {
        @include igx-ripple((
            color: map-get($this, 'thumb-on-color')
        ));
        position: absolute;
        top: calc(50% - #{$ripple-radius});
        left: calc(50% - #{$ripple-radius});
        width: $ripple-size;
        height: $ripple-size;
        border-radius: $ripple-radius;
        overflow: hidden;
        pointer-events: none;
        filter: opacity(1);
    }

    %switch-label {
        display: inline-block;
        color: map-get($this, 'label-color');
        font-size: $label-font-size;
        line-height: 1;
        cursor: pointer;
        user-select: none;
        word-wrap: break-all;

        &:empty {
            margin: 0;
        }
    }

    %switch-label--after {
        margin-left: $label-margin;

        [dir='rtl'] & {
            margin-left: initial;
            margin-right: $label-margin;
        }
    }

    %switch-label--before {
        order: -1;
        margin-right: $label-margin;

        [dir='rtl'] & {
            margin-right: initial;
            margin-left: $label-margin;
        }
    }

    %switch-label--disabled {
        color: map-get($this, 'label-disabled-color');
    }
}
