//// Switch
/// @group components
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
/// @requires {mixin} bem-block
/// @requires {mixin} bem-elem
/// @requires {mixin} bem-mod
////
@include b(igx-control) {
    @include register-component(igx-switch);

    $block: bem--selector-to-string(&);

    @extend %igx-control-display !optional;

    @include e(switch) {
        @include hide-default();

        ~ #{$block}__label {
            @extend %igx-switch-lbl-display !optional;
        }

        &:checked ~ #{$block}__label {
            @extend %igx-switch-lbl--on !optional;
        }

        &:disabled ~ #{$block}__label {
            @extend %igx-switch-lbl--disabled !optional;
        }
    }

    @include e(switch-text) {
        padding-right: em(16px);
    }
}
