::ng-deep .igx-list__item-actions .igx-icon.favorite {
    color: orange;
}

.listItemLeftPanningStyle {
    display: flex;
    flex-direction: row-reverse;
    background-color: orange;
    color: white;
    width: 100%;
    padding-right: 10px;
    align-items: center;
}

.listItemRightPanningStyle {
    display: flex;
    flex-direction: row;
    background-color: limegreen;
    color: white;
    width: 100%;
    padding-left: 10px;
    align-items: center;
}

.listItemLeftPanningStyle2 {
    display: flex;
    flex-direction: row-reverse;
    background-color: purple;
    color: white;
    width: 100%;
    padding-right: 10px;
    align-items: center;
}

.listItemRightPanningStyle2 {
    display: flex;
    flex-direction: row;
    background-color: red;
    color: white;
    width: 100%;
    padding-left: 10px;
    align-items: center;
}
