<section class="sample-content">
    <article class="sample-column">
        <h4 class="sample-title">Swipe left or right to perform action</h4>
        <div class="list-sample">
            <igx-list [allowLeftPanning]="true" [allowRightPanning]="true" #mainList
                (leftPan)="onLeftPanHandler($event)" (rightPan)="onRightPanHandler($event)">
                <ng-template igxListItemLeftPanning>
                    <div class="listItemLeftPanningStyle">SMS</div>
                </ng-template>
                <ng-template igxListItemRightPanning>
                    <div class="listItemRightPanningStyle">Dial</div>
                </ng-template>
                <igx-list-item [isHeader]="true">Contacts</igx-list-item>
                <igx-list-item igxRipple="pink" igxRippleTarget=".igx-list__item-content" *ngFor="let item of navItems">
                        <igx-avatar igxListThumbnail [src]="item.avatar" [roundShape]="true"></igx-avatar>
                        <p igxListLineTitle>{{item.text}}</p>
                        <span igxListLineSubTitle>{{item.phone}}</span>
                        <igx-icon igxListAction [color]="item.favorite ? 'orange' : 'lightgray'" (click)="toggleFavorite(item)">star</igx-icon>
                </igx-list-item>
            </igx-list>
            <igx-toast #toast></igx-toast>
        </div>
    </article>
    <article class="sample-column">
        <h4 class="sample-title">Swipe left or right to perform action</h4>
        <div class="list-sample">
            <igx-list [allowLeftPanning]="true" [allowRightPanning]="true" #mainList2
                (leftPan)="onLeftPanHandler2($event)" (rightPan)="onRightPanHandler2($event)">
                <ng-template igxListItemLeftPanning>
                    <div class="listItemLeftPanningStyle2">Edit</div>
                </ng-template>
                <ng-template igxListItemRightPanning>
                    <div class="listItemRightPanningStyle2">Delete</div>
                </ng-template>
                <igx-list-item [isHeader]="true">Contacts</igx-list-item>
                <igx-list-item igxRipple="pink" igxRippleTarget=".igx-list__item-content" *ngFor="let item of navItems2">
                        <igx-avatar igxListThumbnail [src]="item.avatar" roundShape="true"></igx-avatar>
                            <p igxListLineTitle>{{item.text}}</p>
                            <span igxListLineSubTitle>{{item.phone}}</span>
                        <igx-icon igxListAction [color]="item.favorite ? 'orange' : 'lightgray'" (click)="toggleFavorite(item)">star</igx-icon>
                </igx-list-item>
            </igx-list>
            <igx-toast #toast></igx-toast>
        </div>
        <button igxButton="raised" (click)="repopulateHandler()">Repopulate List</button>
    </article>
</section>
