.listItemLeftPanningStyle {
    display: flex;
    flex-direction: row-reverse;
    background-color: orange;
    color: white;
    width: 100%;
    padding-right: 10px;
    align-items: center;
}

[dir='rtl'] .listItemLeftPanningStyle,
[dir='rtl'].listItemLeftPanningStyle {
    justify-content: flex-end;
}


.listItemRightPanningStyle {
    display: flex;
    flex-direction: row;
    background-color: limegreen;
    color: white;
    width: 100%;
    padding-left: 10px;
    align-items: center;
}

[dir='rtl'] .listItemRightPanningStyle,
[dir='rtl'].listItemRightPanningStyle {
    justify-content: flex-end;
}


.listItemLeftPanningStyle2 {
    display: flex;
    flex-direction: row-reverse;
    background-color: purple;
    color: white;
    width: 100%;
    padding-right: 10px;
    align-items: center;
}

[dir='rtl'] .listItemLeftPanningStyle2,
[dir='rtl'].listItemLeftPanningStyle2 {
    justify-content: flex-end;
}

.listItemRightPanningStyle2 {
    display: flex;
    flex-direction: row;
    background-color: red;
    color: white;
    width: 100%;
    padding-left: 10px;
    align-items: center;
}

[dir='rtl'] .listItemRightPanningStyle2,
[dir='rtl'].listItemRightPanningStyle2 {
    justify-content: flex-end;
}

.list-sample {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .26), 0 2px 2px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .08);
}
