@use 'igniteui-theming/sass/bem' as *;
@use 'igniteui-theming/sass/typography' as *;
@use '../../../../../../core/src/core/styles/themes/scoping' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/grid-summary' as *;

$_theme: digest-schema($indigo-grid-summary);

@include themed-block(igx-grid-summary, indigo) {
    padding-inline: pad-inline(rem(8px), rem(12px), rem(16px));
    border-top: var-get($_theme, 'border-width') var-get($_theme, 'border-style') var-get($_theme, 'border-color');
    
    @include e(item) {
        min-height: sizable(rem(24px), rem(30px), rem(36px));
        font-size: initial;
    }

    @include e(label) {
        @include type-style('caption');

        margin-inline-end: initial;
    }

    @include e(result) {
        @include type-style('detail-2', false);
    }
}
