.resultsText {
    font-size: 0.875rem;
}

.chips {
    margin-left: 5px;
}

.searchButtons {    
    display: flex;
    margin-left: 5px;
}

.searchButtons > igx-icon {
    user-select: none;
    position: relative;
}  