////
/// @group themes
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
////

// Import the core modules first
@import 'core';

// Import all component mixins
@import 'palettes';
@import '../components/avatar/avatar-theme';
@import '../components/badge/badge-theme';
@import '../components/button/button-theme';
@import '../components/button-group/button-group-theme';
@import '../components/calendar/calendar-theme';
@import '../components/card/card-theme';
@import '../components/carousel/carousel-theme';
@import '../components/checkbox/checkbox-theme';
@import '../components/date-picker/date-picker-theme';
@import '../components/dialog/dialog-theme';
@import '../components/grid/grid-theme';
@import '../components/toast/toast-theme';
@import '../components/tabbar/tabbar-theme';
@import '../components/switch/switch-theme';
@import '../components/snackbar/snackbar-theme';
@import '../components/slider/slider-theme';
@import '../components/ripple/ripple-theme';
@import '../components/radio/radio-theme';
@import '../components/progress/progress-theme';
@import '../components/navbar/navbar-theme';
@import '../components/navdrawer/navdrawer-theme';
@import '../components/list/list-theme';
@import '../components/input/input-theme';
@import '../components/icon/icon-theme';
@import '../components/grid-filtering/grid-filtering-theme';

/// Generates an Ignite UI for Angular global theme.
/// @param {Map} $palette - An igx-palette to be used by the global theme.
/// @param {List} $exclude [()] - A list of igx components to be excluded from the global theme styles.
/// @requires {variable} $components
/// @requires {variable} $default-palette
/// @requires {function} is-component
/// @requires {mixin} igx-avatar
/// @requires {mixin} igx-badge
/// @requires {mixin} igx-button
/// @requires {mixin} igx-button-group
/// @requires {mixin} igx-calendar
/// @requires {mixin} igx-calendar
/// @requires {mixin} igx-card
/// @requires {mixin} igx-carousel
/// @requires {mixin} igx-checkbox
/// @requires {mixin} igx-date-picker
/// @requires {mixin} igx-dialog
/// @requires {mixin} igx-grid
/// @requires {mixin} igx-grid-filtering
/// @requires {mixin} igx-icon
/// @requires {mixin} igx-input
/// @requires {mixin} igx-list
/// @requires {mixin} igx-navbar
/// @requires {mixin} igx-navdrawer
/// @requires {mixin} igx-progress-linear
/// @requires {mixin} igx-progress-circular
/// @requires {mixin} igx-radio
/// @requires {mixin} igx-ripple
/// @requires {mixin} igx-slider
/// @requires {mixin} igx-snackbar
/// @requires {mixin} igx-switch
/// @requires {mixin} igx-tabbar
/// @requires {mixin} igx-toast
@mixin igx-theme($palette, $exclude: ()) {
    // Stores all excluded component styles
    $excluded: ();

    @if length($exclude) > 0 {
        $excluded: is-component($exclude);
    }

    @if length($excluded) > 0 {
        @warn unquote('You have excluded the following components from the theme: "#{$excluded}". You can now add your own themes for the excluded components.');
    }

    // @debug 'All registered: #{$components}';
    // @debug 'All excluded: #{$excluded}';

    @if not(index($exclude, 'igx-avatar')) {
        @include igx-avatar($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-badge')) {
        @include igx-badge($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-button')) {
        @include igx-button($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-button-group')) {
        @include igx-button-group($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-calendar')) {
        @include igx-calendar($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-card')) {
        @include igx-card($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-carousel')) {
        @include igx-carousel($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-checkbox')) {
        @include igx-checkbox($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-date-picker')) {
        @include igx-date-picker($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-dialog')) {
        @include igx-dialog($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-grid')) {
        @include igx-grid($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-grid-filtering')) {
        @include igx-grid-filtering($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-icon')) {
        @include igx-icon($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-input')) {
        @include igx-input($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-list')) {
        @include igx-list($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-navbar')) {
        @include igx-navbar($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-navdrawer')) {
        @include igx-navdrawer($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-progress-circular')) {
        @include igx-progress-circular($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-progress-linear')) {
        @include igx-progress-linear($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-radio')) {
        @include igx-radio($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-ripple')) {
        @include igx-ripple($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-slider')) {
        @include igx-slider($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-snackbar')) {
        @include igx-snackbar($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-switch')) {
        @include igx-switch($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-tabbar')) {
        @include igx-tabbar($theme: (), $palette: $palette);
    }
    @if not(index($exclude, 'igx-toast')) {
        @include igx-toast($theme: (), $palette: $palette);
    }
}
