/// Default theme palette.
/// Will be the one used if no theme palette is specified.
/// @group palettes
/// @type Map
$default-palette: igx-palette($primary: #09f, $secondary: #e41c77);

/// Global Overlay Color
/// @group palettes
/// @type Color
$overlay-color: igx-color($default-palette, 'grays') !default;

/// Default theme elevations. (WIP)
/// Subject to change.
/// @group elevations
/// @type Map
$elevations: igx-elevations(
    rgba(0, 0, 0, .26),
    rgba(0, 0, 0, .12),
    rgba(0, 0, 0, .08)
) !default;
