$default-palette: igx-palette($primary: #09f, $secondary: #e41c77);

$white: #fff !default;
$overlay-color: igx-color($default-palette, 'grays') !default;

// Elevations, regardless of palette
$elevations: igx-elevations(
    rgba(0, 0, 0, .26),
    rgba(0, 0, 0, .12),
    rgba(0, 0, 0, .08)
) !default;
