$browser-context: 16px !default;
$browser-line-height: 27px !default;
$font-path: './fonts/' !default;
$keyframes: () !default;

$components: () !default;
$excluded: () !default;

$small-screen-up: 601px !default;
$medium-screen-up: 767px !default;
$large-screen-up: 1025px !default;
$small-screen: 600px !default;
$medium-screen: 768px !default;
$large-screen: 1024px !default;
$medium-and-up: 'only screen and (min-width : #{$small-screen-up})' !default;
$large-and-up: 'only screen and (min-width : #{$medium-screen-up})' !default;
$small-and-down: 'only screen and (max-width : #{$small-screen})' !default;
$medium-and-down: 'only screen and (max-width : #{$medium-screen})' !default;
$medium-only: 'only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})' !default;