<div id="phoneContainer" class="phone">
    <div id="mobileDiv" class="screen">
        <div>
            <span class="componentTitle">Ripple</span><br>
            <span>Ripple directive can be applied basically to every element like the buttons below to enable glamourous ripple effect on click.</span><br><br>
            <span igButton="gradient" igRipple="white">Gradient</span><br>
            <span igButton="fab" igButtonColor="#484848" igButtonBackground="white" igRipple="#484848"><br>
                <i class="material-icons">edit</i>
            </span>
        </div>
    </div>
</div>