.preview {
    height: 300px;
}

.btn-group {
    display: flex;
    width: 300px;
    margin-top: 16px;
    justify-content: space-between;
}

.igx-toast--bottom {
    margin-bottom: 16px;
}

.igx-toast--top {
    margin-top: 16px;
}
