.layout-box {
    width: 100%;
    height: 100%;
    background: #e0e0e0;
    padding: 8px;
}

.layout-box__el {
    height: 48px;
    padding: 8px;
    margin: 8px;
    background: #e41c77;
    color: white;
}

.tall {
    height: 300px;
}

.light {
    font-weight: 400;
}

.wrap-row {
    width: calc(50% - 16px);
}

.wrap-column {
    height: calc(50% - 16px);
}
