<section class="sample-content">
    <article class="sample-column">
        <h4 class="sample-title">Layout direction
            <i class="light">Row</i>
        </h4>
        <div class="layout-sample">
            <div class="layout-box" igxLayout igxLayoutDir="row">
                <div class="layout-box__el" igxFlex>1</div>
                <div class="layout-box__el" igxFlex>2</div>
                <div class="layout-box__el" igxFlex>3</div>
            </div>
        </div>
    </article>

    <article class="sample-column">
        <h4 class="sample-title">Space between children
            <i class="light">Row</i>
        </h4>
        <div class="layout-sample">
            <div class="layout-box" igxLayout igxLayoutJustify="space-between">
                <div class="layout-box__el">1</div>
                <div class="layout-box__el">2</div>
                <div class="layout-box__el">3</div>
            </div>
        </div>
    </article>

    <article class="sample-column">
        <h4 class="sample-title">Space around children
            <i class="light">Row</i>
        </h4>
        <div class="layout-sample">
            <div class="layout-box" igxLayout igxLayoutJustify="space-around">
                <div class="layout-box__el">1</div>
                <div class="layout-box__el">2</div>
                <div class="layout-box__el">3</div>
            </div>
        </div>
    </article>

    <article class="sample-column">
        <h4 class="sample-title">Place children at main axis start
            <i class="light">Row</i>
        </h4>
        <div class="layout-sample">
            <div class="layout-box" igxLayout igxLayoutJustify="start">
                <div class="layout-box__el">1</div>
                <div class="layout-box__el">2</div>
                <div class="layout-box__el">3</div>
            </div>
        </div>
    </article>

    <article class="sample-column">
        <h4 class="sample-title">Center children along main axis
            <i class="light">Row</i>
        </h4>
        <div class="layout-sample">
            <div class="layout-box" igxLayout igxLayoutJustify="center">
                <div class="layout-box__el">1</div>
                <div class="layout-box__el">2</div>
                <div class="layout-box__el">3</div>
            </div>
        </div>
    </article>

    <article class="sample-column">
        <h4 class="sample-title">Place children at main axis end
            <i class="light">Row</i>
        </h4>
        <div class="layout-sample">
            <div class="layout-box" igxLayout igxLayoutJustify="flex-end">
                <div class="layout-box__el">1</div>
                <div class="layout-box__el">2</div>
                <div class="layout-box__el">3</div>
            </div>
        </div>
    </article>

    <article class="sample-column">
        <h4 class="sample-title">Place children at cross axis start
            <i class="light">Row</i>
        </h4>
        <div class="layout-sample">
            <div class="layout-box tall" igxLayout igxLayoutItemAlign="flex-start">
                <div class="layout-box__el" igxFlex>1</div>
                <div class="layout-box__el" igxFlex>2</div>
                <div class="layout-box__el" igxFlex>3</div>
            </div>
        </div>
    </article>

    <article class="sample-column">
        <h4 class="sample-title">Center children along cross axis
            <i class="light">Row</i>
        </h4>
        <div class="layout-sample">
            <div class="layout-box tall" igxLayout igxLayoutItemAlign="center">
                <div class="layout-box__el" igxFlex>1</div>
                <div class="layout-box__el" igxFlex>2</div>
                <div class="layout-box__el" igxFlex>3</div>
            </div>
        </div>
    </article>

    <article class="sample-column">
        <h4 class="sample-title">Place children at cross axis end
            <i class="light">Row</i>
        </h4>
        <div class="layout-sample">
            <div class="layout-box tall" igxLayout igxLayoutItemAlign="flex-end">
                <div class="layout-box__el" igxFlex>1</div>
                <div class="layout-box__el" igxFlex>2</div>
                <div class="layout-box__el" igxFlex>3</div>
            </div>
        </div>
    </article>

    <article class="sample-column">
        <h4 class="sample-title">Wrap children
            <i class="light">Row</i>
        </h4>
        <div class="layout-sample">
            <div class="layout-box" igxLayout igxLayoutDir="row" igxLayoutWrap="wrap">
                <div class="layout-box__el wrap-row" igxFlex [igxFlexGrow]="0">1</div>
                <div class="layout-box__el wrap-row" igxFlex [igxFlexGrow]="0">2</div>
                <div class="layout-box__el wrap-row" igxFlex [igxFlexGrow]="0">3</div>
            </div>
        </div>
    </article>

    <article class="sample-column">
        <h4 class="sample-title">Reversed children layout
            <i class="light">Row</i>
        </h4>
        <div class="layout-sample">
            <div class="layout-box" igxLayout igxLayoutDir="row" [igxLayoutReverse]="true">
                <div class="layout-box__el" igxFlex>1</div>
                <div class="layout-box__el" igxFlex>2</div>
                <div class="layout-box__el" igxFlex>3</div>
            </div>
        </div>
    </article>

    <article class="sample-column">
        <h4 class="sample-title">Custom children order
            <i class="light">Row</i>
        </h4>
        <div class="layout-sample">
            <div class="layout-box" igxLayout igxLayoutDir="row">
                <div class="layout-box__el" igxFlex [igxFlexOrder]="1">1</div>
                <div class="layout-box__el" igxFlex [igxFlexOrder]="0">2</div>
                <div class="layout-box__el" igxFlex [igxFlexOrder]="2">3</div>
            </div>
        </div>
    </article>

    <article class="sample-column">
        <h4 class="sample-title">Layout direction column
            <i class="light">Column</i>
        </h4>
        <div class="layout-sample">
            <div class="layout-box" igxLayout igxLayoutDir="column">
                <div class="layout-box__el" igxFlex [igxFlexGrow]="0">1</div>
                <div class="layout-box__el" igxFlex [igxFlexGrow]="0">2</div>
                <div class="layout-box__el" igxFlex [igxFlexGrow]="0">3</div>
            </div>
        </div>
    </article>

    <article class="sample-column">
        <h4 class="sample-title">Space between children
            <i class="light">Column</i>
        </h4>
        <div class="layout-sample">
            <div class="layout-box tall" igxLayout igxLayoutDir="column" igxLayoutJustify="space-between">
                <div class="layout-box__el">1</div>
                <div class="layout-box__el">2</div>
                <div class="layout-box__el">3</div>
            </div>
        </div>
    </article>

    <article class="sample-column">
        <h4 class="sample-title">Space around children
            <i class="light">Column</i>
        </h4>
        <div class="layout-sample">
            <div class="layout-box tall" igxLayout igxLayoutDir="column" igxLayoutJustify="space-around">
                <div class="layout-box__el">1</div>
                <div class="layout-box__el">2</div>
                <div class="layout-box__el">3</div>
            </div>
        </div>
    </article>

    <article class="sample-column">
        <h4 class="sample-title">Place children at main axis start
            <i class="light">Column</i>
        </h4>
        <div class="layout-sample">
            <div class="layout-box tall" igxLayout igxLayoutDir="column" igxLayoutJustify="start">
                <div class="layout-box__el">1</div>
                <div class="layout-box__el">2</div>
                <div class="layout-box__el">3</div>
            </div>
        </div>
    </article>

    <article class="sample-column">
        <h4 class="sample-title">Center children along main axis
            <i class="light">Column</i>
        </h4>
        <div class="layout-sample">
            <div class="layout-box tall" igxLayout igxLayoutDir="column" igxLayoutJustify="center">
                <div class="layout-box__el">1</div>
                <div class="layout-box__el">2</div>
                <div class="layout-box__el">3</div>
            </div>
        </div>
    </article>

    <article class="sample-column">
        <h4 class="sample-title">Place children at main axis end
            <i class="light">Column</i>
        </h4>
        <div class="layout-sample">
            <div class="layout-box tall" igxLayout igxLayoutDir="column" igxLayoutJustify="flex-end">
                <div class="layout-box__el">1</div>
                <div class="layout-box__el">2</div>
                <div class="layout-box__el">3</div>
            </div>
        </div>
    </article>

    <article class="sample-column">
        <h4 class="sample-title">Place children at cross axis start
            <i class="light">Column</i>
        </h4>
        <div class="layout-sample">
            <div class="layout-box" igxLayout igxLayoutDir="column" igxLayoutItemAlign="start">
                <div class="layout-box__el" igxFlex [igxFlexGrow]="0">1</div>
                <div class="layout-box__el" igxFlex [igxFlexGrow]="0">2</div>
                <div class="layout-box__el" igxFlex [igxFlexGrow]="0">3</div>
            </div>
        </div>
    </article>

    <article class="sample-column">
        <h4 class="sample-title">Center children along cross axis
            <i class="light">Column</i>
        </h4>
        <div class="layout-sample">
            <div class="layout-box" igxLayout igxLayoutDir="column" igxLayoutItemAlign="center">
                <div class="layout-box__el" igxFlex [igxFlexGrow]="0">1</div>
                <div class="layout-box__el" igxFlex [igxFlexGrow]="0">2</div>
                <div class="layout-box__el" igxFlex [igxFlexGrow]="0">3</div>
            </div>
        </div>
    </article>

    <article class="sample-column">
        <h4 class="sample-title">Place children at cross axis end
            <i class="light">Column</i>
        </h4>
        <div class="layout-sample">
            <div class="layout-box" igxLayout igxLayoutDir="column" igxLayoutItemAlign="flex-end">
                <div class="layout-box__el" igxFlex [igxFlexGrow]="0">1</div>
                <div class="layout-box__el" igxFlex [igxFlexGrow]="0">2</div>
                <div class="layout-box__el" igxFlex [igxFlexGrow]="0">3</div>
            </div>
        </div>
    </article>

    <article class="sample-column">
        <h4 class="sample-title">Wrap children
            <i class="light">Column</i>
        </h4>
        <div class="layout-sample">
            <div class="layout-box" igxLayout igxLayoutDir="column" igxLayoutWrap="wrap">
                <div class="layout-box__el wrap-column" igxFlex [igxFlexGrow]="0">1</div>
                <div class="layout-box__el wrap-column" igxFlex [igxFlexGrow]="0">2</div>
                <div class="layout-box__el wrap-column" igxFlex [igxFlexGrow]="0">3</div>
            </div>
        </div>
    </article>

    <article class="sample-column">
        <h4 class="sample-title">Reversed children layout
            <i class="light">Column</i>
        </h4>
        <div class="layout-sample">
            <div class="layout-box" igxLayout igxLayoutDir="column" [igxLayoutReverse]="true">
                <div class="layout-box__el" igxFlex [igxFlexGrow]="0">1</div>
                <div class="layout-box__el" igxFlex [igxFlexGrow]="0">2</div>
                <div class="layout-box__el" igxFlex [igxFlexGrow]="0">3</div>
            </div>
        </div>
    </article>

    <article class="sample-column">
        <h4 class="sample-title">Custom children order
            <i class="light">Column</i>
        </h4>
        <div class="layout-sample">
            <div class="layout-box" igxLayout igxLayoutDir="column">
                <div class="layout-box__el" igxFlex [igxFlexGrow]="0" [igxFlexOrder]="1">1</div>
                <div class="layout-box__el" igxFlex [igxFlexGrow]="0" [igxFlexOrder]="0">2</div>
                <div class="layout-box__el" igxFlex [igxFlexGrow]="0" [igxFlexOrder]="2">3</div>
            </div>
        </div>
    </article>
</section>
