@use 'igniteui-theming/sass/color/presets' as palettes;

////
/// @group palettes
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
////

/// @access private
$default-dark-palette: palettes.$dark-material-palette;

/// @access private
$green-palette: palettes.$light-green-palette;

/// @access private
$green-dark-palette: palettes.$dark-green-palette;

/// @access private
$purple-palette: palettes.$light-purple-palette;

/// @access private
$purple-dark-palette: palettes.$dark-purple-palette;

/// @access private
$fluent-excel-palette: palettes.$light-fluent-excel-palette;

/// @access private
$fluent-excel-dark-palette: palettes.$dark-fluent-excel-palette;

/// @access private
$fluent-word-palette: palettes.$light-fluent-word-palette;

/// @access private
$fluent-word-dark-palette: palettes.$dark-fluent-word-palette;

/// @access private
$fluent-palette: palettes.$light-fluent-palette;

/// @access private
$fluent-dark-palette: palettes.$dark-fluent-palette;

/// @access private
$bootstrap-palette: palettes.$light-bootstrap-palette;

/// @access private
$bootstrap-dark-palette: palettes.$dark-bootstrap-palette;
