<header class="tsd-header">
    {{#ifCond project.localization '==' 'jp'}}{{> infranav.ja }}{{else}}{{> infranav }}{{/ifCond}}
    <div class="tsd-header-content">
        <div class="tsd-header-group">
            <h1 class="tsd-header-logo">
                <a href="https://www.infragistics.com/products/ignite-ui-angular" class="title">{{project.name}}</a>
                <span class="version">API ver. <strong>7.0.x</strong></span>
            </h1>
            <div class="tsd-nav-toggle">
                <input id="tsd-toggle-cbx" type="checkbox">
                <label for="tsd-toggle-cbx">
                    <span class="material-icons">menu</span>
                </label>
                <ul class="tsd-nav">
                    <li class="tsd-nav-item">
                        <button class="tsd-button--flat">
                            {{#ifCond project.localization '==' 'jp' }}
                                <a href="https://jp.infragistics.com/products/ignite-ui-angular">{{#localize}}Components{{/localize}}</a>
                            {{else}}
                                <a href="https://www.infragistics.com/products/ignite-ui-angular">{{#localize}}Components{{/localize}}</a>
                            {{/ifCond}}
                        </button>
                    </li>
                    <li class="tsd-nav-item">
                        <button class="tsd-button">
                            {{#ifCond project.localization '==' 'jp'}}
                                <a href="https://jp.infragistics.com/products/ignite-ui-angular/getting-started/">{{#localize}}Get Started{{/localize}}</a>
                            {{else}}
                                <a href="https://infragistics.com/products/ignite-ui-angular/getting-started/">{{#localize}}Get Started{{/localize}}</a>
                            {{/ifCond}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
