<header class="tsd-header">
    {{> infranav}}
    <div class="tsd-header-content">
        <h1 class="tsd-header-logo">
            <a href="{{relativeURL "index.html"}}" class="title">{{project.name}}</a>
            <span class="version">API Ver. 6.2.1</span>
        </h1>
        <div class="tsd-buttons">
            <button class="tsd-button--flat">
                <a href="https://www.infragistics.com/products/ignite-ui-angular">Components</a>
            </button>
            <button class="tsd-button">
                <a href="https://infragistics.com/products/ignite-ui-angular/getting-started/">Get Started</a>
            </button>
        </div>
    </div>
</header>
