<footer class="ui-footer ui-footer--clearfix">
	<div class="ui-footer__wrap ui-footer--clearfix ui-footer__icons">
		<a href="http://blogs.jp.infragistics.com/blogs/MainFeed.aspx" target="blank”" class="ui-footer__icon-link">
			<svg viewBox="0 0 512 512">
				<path d="M201.8 347.2c0 20.3-16.5 36.8-36.8 36.8 -20.3 0-36.8-16.5-36.8-36.8s16.5-36.8 36.8-36.8C185.3 310.4 201.8 326.8 201.8 347.2zM128.2 204.7v54.5c68.5 0.7 124 56.3 124.7 124.7h54.5C306.7 285.3 226.9 205.4 128.2 204.7zM128.2 166.6c57.9 0.3 112.3 22.9 153.2 63.9 41 41 63.7 95.5 63.9 153.5h54.5c-0.3-149.9-121.7-271.4-271.6-271.9V166.6L128.2 166.6z"></path>
			</svg>
			<!--[if lt IE 9]><em>RSS</em><![endif]-->
		</a>
		<a href="https://twitter.com/IGJP" target="blank" class="ui-footer__icon-link">
			<svg viewBox="0 0 512 512">
				<path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
			</svg>
			<!--[if lt IE 9]><em>Twitter</em><![endif]-->
		</a>
		<a href="https://www.facebook.com/IGJapan" target="blank”" class="ui-footer__icon-link">
			<svg viewBox="0 0 512 512">
				<path d="M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0 -52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z"></path>
			</svg>
			<!--[if lt IE 9]><em>Facebook</em><![endif]-->
		</a>
		<a href="http://www.linkedin.com/company/infragistics" target="blank”" class="ui-footer__icon-link">
			<svg viewBox="0 0 512 512">
				<path d="M186.4 142.4c0 19-15.3 34.5-34.2 34.5 -18.9 0-34.2-15.4-34.2-34.5 0-19 15.3-34.5 34.2-34.5C171.1 107.9 186.4 123.4 186.4 142.4zM181.4 201.3h-57.8V388.1h57.8V201.3zM273.8 201.3h-55.4V388.1h55.4c0 0 0-69.3 0-98 0-26.3 12.1-41.9 35.2-41.9 21.3 0 31.5 15 31.5 41.9 0 26.9 0 98 0 98h57.5c0 0 0-68.2 0-118.3 0-50-28.3-74.2-68-74.2 -39.6 0-56.3 30.9-56.3 30.9v-25.2H273.8z"></path>
			</svg>
			<!--[if lt IE 9]><em>LinkedIn</em><![endif]-->
		</a>
		<a href="https://www.youtube.com/channel/UClnBIWEOggA6HnFzld6jUyw?cc=1" target="blank”" class="ui-footer__icon-link">
			<svg viewBox="0 0 512 512">
				<path d="M422.6 193.6c-5.3-45.3-23.3-51.6-59-54 -50.8-3.5-164.3-3.5-215.1 0 -35.7 2.4-53.7 8.7-59 54 -4 33.6-4 91.1 0 124.8 5.3 45.3 23.3 51.6 59 54 50.9 3.5 164.3 3.5 215.1 0 35.7-2.4 53.7-8.7 59-54C426.6 284.8 426.6 227.3 422.6 193.6zM222.2 303.4v-94.6l90.7 47.3L222.2 303.4z"></path>
			</svg>
			<!--[if lt IE 9]><em>YouTube</em><![endif]-->
		</a>
	</div>
	<div class="ui-footer__wrap ui-footer--clearfix">
		<div class="ui-footer__col-one-fifth ui-footer__col-block">
			<div class="ui-footer__menu">
				<ul class="ui-footer__menu-list">
					<li class="ui-footer__menu-list-item">
						<div class="ui-footer__category">製品</div>
						<ul>
							<li>
								<a data-id="12487" href="/products/ultimate" title="Ultimate" class="menu__link">開発ツール</a>
							</li>
							<li>
								<a data-id="12465" href="/products/indigo-studio" title="Indigo Studio" class="menu__link">UX デザイン</a>
							</li>
							<li>
								<a data-id="12494" href="/enterprise-solutions/enterprise-mobility" title="エンタープライズ モビリティ" class="menu__link">ビジネス ユーザー向け</a>
							</li>
							<li>
								<a href="/products/ultimate/download" class="menu__link">無料トライアル</a>
							</li>
							<li>
								<a href="/how-to-buy/devtools-pricing" class="menu__link">製品価格</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- Column 2 -->
		<div class="ui-footer__col-one-fifth ui-footer__col-block">
			<div class="ui-footer__menu">
				<ul class="ui-footer__menu-list">
					<li class="ui-footer__menu-list-item">
						<div class="ui-footer__category">ラーニング &amp; サポート</div>
						<ul>
							<li>
								<a data-id="12528" href="/support/online-documentation" title="オンライン ヘルプ" class="menu__link">ヘルプと API ドキュメント</a>
							</li>
							<li>
								<a data-id="12562" href="/resources/sample-applications" title="サンプル アプリケーション">サンプル アプリケーション</a>
							</li>
							<li>
								<a data-id="12529" href="/support/product-lifecycle" title="製品ライフサイクル">製品ライフサイクル</a>
							</li>
							<li>
								<a data-id="12530" href="/support/service-releases" title="サービス リリース スケジュール">サービス リリース</a>
							</li>
							<li>
								<a data-id="12531" href="/support/supported-environments" title="サポート環境">サポート環境</a>
							</li>
							<li>
								<a data-id="12547" href="/support/support-policies" title="サポート ポリシー">サポート ポリシー</a>
							</li>
							<li>
								<a href="/my-account/submit-support-request" class="menu__link">サポート要求の送信</a>
							</li>
							<li>
								<a data-id="13374" href="/support/faq" title="FAQ">FAQ</a>
							</li>
							<li>
								<a data-id="13419" href="/support/subscription" title="サブスクリプションとは">サブスクリプションとは</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- Column 3 -->
		<div class="ui-footer__col-one-fifth ui-footer__col-block">
			<div class="ui-footer__menu">
				<ul class="ui-footer__menu-list">
					<li class="ui-footer__menu-list-item">
						<div class="ui-footer__category">マイ アカウント</div>
						<ul>
							<li>
								<a href="/my-account/subscriptions" class="menu__link">サブスクリプションの管理</a>
							</li>
							<li>
								<a href="/my-account/support-activity" class="menu__link">サポート アクティビティ</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- Column 4 -->
		<div class="ui-footer__col-one-fifth ui-footer__col-block">
			<div class="ui-footer__menu">
				<ul class="ui-footer__menu-list">
					<li class="ui-footer__menu-list-item">
						<div class="ui-footer__category">会社情報</div>
						<ul>
							<li>
								<a data-id="12371" href="/about-us" title="会社情報" class="menu__link">会社概要</a>
							</li>
							<li>
								<a data-id="12408" href="/about-us/contact-us" title="Contact Us" class="menu__link">お問い合わせ</a>
							</li>
							<li>
								<a data-id="12373" href="/about-us/career-opportunities" title="採用情報" class="menu__link">採用情報</a>
							</li>
							<li>
								<a data-id="12372" href="/about-us/management-team" title="Management Team" class="menu__link">マネージメント チーム</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- Column 5 -->
		<div class="ui-footer__col-one-fifth ui-footer__col-block">
			<div class="ui-footer__menu">
				<ul class="ui-footer__menu-list">
					<li class="ui-footer__menu-list-item">
						<div class="ui-footer__category">リソース</div>
						<ul>
							<li>
								<a data-id="12392" href="/about-us/press-releases" title="プレスリリース" class="menu__link">ニュース</a>
							</li>
							<li>
								<a data-id="12865" href="/events" title="Events" class="menu__link">セミナー &amp; イベント</a>
							</li>
							<li>
								<a data-id="12407" href="/about-us/alliances-partners" title="Strategic Alliances &amp; Partners" class="menu__link">戦略パートナー</a>
							</li>
							<li>
								<a data-id="12601" href="/legal/terms-of-use" title="著作権通知" class="menu__link">法的情報</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<footer id="footer">
	<div id="footer-wrap" class="be-wrap clearfix">
		<div id="copyright">© Copyright 2018 INFRAGISTICS. All Rights Reserved</div>
	</div>
</footer>