<footer class="ui-footer ui-footer--clearfix" data-swiftype-index="false">
	<div class="ui-footer__wrap ui-footer--clearfix ui-footer__icons">
		<a href="/community/blogs/" target="blank”" class="ui-footer__icon-link" aria-label="RSS">
			<svg viewBox="0 0 512 512">
				<path d="M201.8 347.2c0 20.3-16.5 36.8-36.8 36.8 -20.3 0-36.8-16.5-36.8-36.8s16.5-36.8 36.8-36.8C185.3 310.4 201.8 326.8 201.8 347.2zM128.2 204.7v54.5c68.5 0.7 124 56.3 124.7 124.7h54.5C306.7 285.3 226.9 205.4 128.2 204.7zM128.2 166.6c57.9 0.3 112.3 22.9 153.2 63.9 41 41 63.7 95.5 63.9 153.5h54.5c-0.3-149.9-121.7-271.4-271.6-271.9V166.6L128.2 166.6z"></path>
			</svg>
			<!--[if lt IE 9]><em>RSS</em><![endif]-->
		</a>

		<a href="/community/blogs/tags/podcast/default.aspx" target="blank”" class="ui-footer__icon-link" aria-label="Podcast">
			<svg viewBox="-2 -2.5 20 20">
				<path d="M8 16s1.75 0 1.75-5.18c0-.965-.784-1.75-1.75-1.75s-1.75.785-1.75 1.75C6.25 16 8 16 8 16zm2.147-1.766c.077-.296.136-.595.183-.897l.035-.24c.077-.032.154-.065.23-.1 1.215-.55 2.238-1.49 2.89-2.653.297-.534.516-1.11.646-1.71.148-.67.182-1.368.104-2.052-.073-.64-.246-1.266-.512-1.853-.31-.687-.746-1.316-1.28-1.848-.55-.55-1.203-.998-1.916-1.31-.737-.323-1.536-.5-2.34-.52-.81-.02-1.623.116-2.38.404-.73.278-1.405.694-1.983 1.218-.557.506-1.02 1.113-1.365 1.782-.29.57-.494 1.184-.6 1.815-.108.655-.112 1.326-.01 1.982.088.583.26 1.153.51 1.688.586 1.253 1.59 2.295 2.823 2.926.148.076.3.146.453.21.01.087.024.174.037.26.047.297.104.59.18.88-.276-.085-.546-.188-.808-.307-1.436-.65-2.64-1.77-3.392-3.155-.34-.624-.585-1.3-.728-1.995-.16-.782-.19-1.59-.09-2.382.095-.74.305-1.465.62-2.14.37-.792.884-1.515 1.51-2.125C3.606 1.483 4.37.973 5.2.62 6.066.256 6.997.062 7.933.05c.938-.01 1.877.16 2.75.503.842.332 1.618.824 2.28 1.44.64.595 1.17 1.304 1.558 2.086.33.665.558 1.382.67 2.117.117.76.112 1.538-.013 2.296-.117.704-.34 1.39-.657 2.028-.7 1.412-1.864 2.574-3.274 3.276-.354.175-.722.322-1.1.438zm.346-2.854l.006-.312c0-.21.003-.42-.03-.627-.01-.08-.027-.157-.047-.235.372-.307.685-.685.916-1.11.175-.324.303-.674.377-1.035.083-.407.1-.828.046-1.24-.047-.37-.15-.73-.302-1.07-.187-.414-.45-.793-.77-1.115-.322-.32-.7-.584-1.115-.77-.456-.207-.953-.32-1.453-.333-.504-.013-1.01.075-1.48.26-.422.168-.814.412-1.15.72-.337.304-.617.67-.824 1.073-.17.33-.288.684-.354 1.048-.067.378-.077.766-.028 1.147.047.37.15.73.302 1.07.23.508.574.96.998 1.322-.024.088-.043.178-.057.27-.033.207-.03.415-.03.626l.006.28c-.698-.435-1.28-1.05-1.674-1.775-.224-.41-.386-.855-.48-1.313-.105-.514-.124-1.046-.058-1.567.06-.467.19-.926.383-1.355.237-.524.57-1.003.976-1.41.406-.406.886-.738 1.41-.975.577-.262 1.205-.404 1.84-.42.637-.017 1.276.095 1.87.33.536.21 1.03.52 1.458.908.425.386.78.85 1.04 1.36.215.416.367.865.45 1.327.084.477.097.968.035 1.45-.06.467-.19.926-.383 1.355-.396.876-1.06 1.62-1.88 2.118zM8 5.016c.974 0 1.764.79 1.764 1.765 0 .975-.79 1.765-1.764 1.765s-1.764-.79-1.764-1.764c0-.973.79-1.764 1.764-1.764z"></path>
			</svg>
			<!--[if lt IE 9]><em>Podcast</em><![endif]-->
		</a>


		<a href="https://twitter.com/infragistics" target="blank" class="ui-footer__icon-link" aria-label="Twitter">
			<svg viewBox="0 0 512 512">
				<path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
			</svg>
			<!--[if lt IE 9]><em>Twitter</em><![endif]-->
		</a>
		<a href="https://www.facebook.com/infragistics" target="blank”" class="ui-footer__icon-link" aria-label="Facebook">
			<svg viewBox="0 0 512 512">
				<path d="M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0 -52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z"></path>
			</svg>
			<!--[if lt IE 9]><em>Facebook</em><![endif]-->
		</a>
		<a href="http://www.linkedin.com/company/infragistics" target="blank”" class="ui-footer__icon-link" aria-label="LinkedIn">
			<svg viewBox="0 0 512 512">
				<path d="M186.4 142.4c0 19-15.3 34.5-34.2 34.5 -18.9 0-34.2-15.4-34.2-34.5 0-19 15.3-34.5 34.2-34.5C171.1 107.9 186.4 123.4 186.4 142.4zM181.4 201.3h-57.8V388.1h57.8V201.3zM273.8 201.3h-55.4V388.1h55.4c0 0 0-69.3 0-98 0-26.3 12.1-41.9 35.2-41.9 21.3 0 31.5 15 31.5 41.9 0 26.9 0 98 0 98h57.5c0 0 0-68.2 0-118.3 0-50-28.3-74.2-68-74.2 -39.6 0-56.3 30.9-56.3 30.9v-25.2H273.8z"></path>
			</svg>
			<!--[if lt IE 9]><em>LinkedIn</em><![endif]-->
		</a>
		<a href="https://www.youtube.com/user/Infragistics?annotation_id=annotation_3135485231&amp;feature=iv&amp;src_vid=c8dSiyWIfEo&amp;sub_confirmation=1" target="blank”" class="ui-footer__icon-link" aria-label="YouTube">
			<svg viewBox="0 0 512 512">
				<path d="M422.6 193.6c-5.3-45.3-23.3-51.6-59-54 -50.8-3.5-164.3-3.5-215.1 0 -35.7 2.4-53.7 8.7-59 54 -4 33.6-4 91.1 0 124.8 5.3 45.3 23.3 51.6 59 54 50.9 3.5 164.3 3.5 215.1 0 35.7-2.4 53.7-8.7 59-54C426.6 284.8 426.6 227.3 422.6 193.6zM222.2 303.4v-94.6l90.7 47.3L222.2 303.4z"></path>
			</svg>
			<!--[if lt IE 9]><em>YouTube</em><![endif]-->
		</a>
	</div>
	<div class="ui-footer__wrap ui-footer__wrap--newsletter ui-footer--clearfix">
		<!-- 63.75% -->
		<div class="ui-footer__menu-block">
			<div class="ui-footer__col-one-fourth ui-footer__col-block">
				<div class="ui-footer__menu">
					<ul class="ui-footer__menu-list">
						<li class="ui-footer__menu-list-item">
							<div class="ui-footer__category">Products</div>
							<ul>
								<li>
									<a class="menu__link" href="/products/ultimate">Design &amp; Development</a>
								</li>
								<li>
									<a class="menu__link" href="/products/indigo-design">UX Pros</a>
								</li>
								<li>
									<a class="menu__link" href="/business-teams">Business Teams</a>
								</li>
								<li>
									<a class="menu__link" title="Product Pricing" data-id="13745" href="/how-to-buy/product-pricing">View All</a>
								</li>
								<li>
									<a class="menu__link" href="/free-downloads">Free Trials</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- Column 2 -->
			<div class="ui-footer__col-one-fourth ui-footer__col-block">
				<div class="ui-footer__menu">
					<ul class="ui-footer__menu-list">
						<li class="ui-footer__menu-list-item">
							<div class="ui-footer__category">Learn &amp; Support</div>
							<ul>
								<li>
									<a class="menu__link" href="/support">Help &amp; API Docs</a>
								</li>
								<li>
									<a class="menu__link" href="/community/blogs">Blogs</a>
								</li>
								<li>
									<a class="menu__link" href="/support/chat">Technical Support Chat</a>
								</li>
								<li>
									<a class="menu__link" href="/community/forums">Forums</a>
								</li>
								<li>
									<a class="menu__link" href="/community/ideas">Product Ideas</a>
								</li>
								<li>
									<a class="menu__link" href="/my-account/submit-support-request">Submit a Request</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- Column 3 -->
			<div class="ui-footer__col-one-fourth ui-footer__col-block">
				<div class="ui-footer__menu">
					<ul class="ui-footer__menu-list">
						<li class="ui-footer__menu-list-item">
							<div class="ui-footer__category">My Account</div>
							<ul>
								<li>
									<a class="menu__link" href="https://customer.infragistics.com/subscriptions">Manage My Subscriptions</a>
								</li>
								<li>
									<a class="menu__link" href="/my-account/submit-support-request">Support Requests</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- Column 4 -->
			<div class="ui-footer__col-one-fourth ui-footer__col-block">
				<div class="ui-footer__menu">
					<ul class="ui-footer__menu-list">
						<li class="ui-footer__menu-list-item">
							<div class="ui-footer__category">Corporate</div>
							<ul>
								<li>
									<a class="menu__link" href="/about-us">About Us</a>
								</li>
								<li>
									<a class="menu__link" href="/about-us/careers">Careers</a>
								</li>
								<li>
									<a class="menu__link" href="/legal/license">Legal</a>
								</li>
								<li>
									<a class="menu__link" href="/about-us/in-the-news">News &amp; Events</a>
								</li>
								<li>
									<a class="menu__link" href="/about-us/alliances-partners">Partners</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 21.25% -->
		<div class="ui-footer__newsletter-block">
			<div class="newsletter__form—alt bg--dark">
				<div class="ui-footer-newsletter__header">
					<div style="width: 55px;">
						<img src="https://static.infragistics.com/marketing/Website/General/open-mail-icon.svg" alt="">
					</div>
					<div style="width: 70%;">
						<span class="text--h5 emphasize">Stay Up-to-Date</span>
					</div>
				</div>
				<div>
					<p class="ui-footer-newsletter__subheadline">Get the latest blogs, eBooks, events, and whitepapers.</p>
					<a class="ui-btn ui-btn--default ui-btn--sm" href="/newsletter-signup">Sign Me Up!</a>
				</div>
			</div>
		</div>
	</div>
	<div class="ui-footer__wrap ui-footer--clearfix ui-footer--legal" style="text-align: center;">
		<div class="ui-footer__menu">
			<ul class="ui-footer__menu-list">
				<li class="ui-footer__menu-list-item display--inline-block" style="margin: 0 8px;">
					<a class="menu__link" style="display: inline-block;" href="/legal/privacy">Privacy Policy</a>
					<span style="font-size: 10px; color: rgba(255,255,255,0.4); display: inline-block; margin-left: 4px;">(updated)</span>
				</li>
				<li class="ui-footer__menu-list-item display--inline-block" style="margin: 0 8px;">
					<a class="menu__link" href="/legal/cookie-policy">Cookies</a>
				</li>
				<li class="ui-footer__menu-list-item display--inline-block" style="margin: 0 8px;">
					<a class="menu__link" style="display: inline-block;" href="/legal/terms-of-use">Terms of Use</a>
					<span style="font-size: 10px; color: rgba(255,255,255,0.4); display: inline-block; margin-left: 4px;">(updated)</span>
				</li>
			</ul>
		</div>
	</div>
</footer>
<footer id="footer">
	<div id="footer-wrap" class="be-wrap clearfix">
		<div id="copyright">© Copyright 2018 INFRAGISTICS. All Rights Reserved</div>
	</div>
</footer>