@use 'igniteui-theming/sass/bem' as *;
@use 'igniteui-theming/sass/typography' as *;
@use 'styles/themes/standalone' as *;

@include themed-block(igx-card, indigo) {
    igx-avatar {
        --ig-size: 3;
    }
}

@include themed-block(igx-card-header, indigo) {
    + .igx-card-content {
        padding-block-start: 0;
    }

    @include e(thumbnail) {
        margin-inline-end: rem(8px);
        margin-block: auto;
    }

    @include e(titles) {
        gap: rem(2px);

        .igx-card-header__subtitle {
            margin-block-end: rem(2px);
        }
    }

    @include e(title) {
        @include type-style(h6) {
            margin: 0;
        }
    }

    @include e(title, $m: small) {
        @include type-style(body-2) {
            margin: 0;
        }
    }

    @include e(subtitle) {
        @include type-style(body-2) {
            margin: 0;
        }
    }

    @include m(vertical) {
        @include e(thumbnail) {
            margin-bottom: rem(8px);
        }
    }
}

@include themed-block(igx-card-content, indigo) {
    padding: rem(16px);

    + .igx-card-actions {
        padding-block-start: rem(8px);
    }

    > *:not(igx-icon) {
        @include type-style(body-2) {
            margin: 0;
        }
    }
}

@include themed-block(igx-card-actions, indigo) {
    padding: rem(16px);

    [igxButton],
    [igxIconButton] {
        --ig-size: 2;
    }
}
