<div>
    <ng-content></ng-content>
</div>	
<div #tablist class="{{_itemStyle}}__menu {{_itemStyle}}__menu--{{alignment}}" role="tablist" aria-orientation="horizontal">
    <igx-tab *ngFor="let panel of tabPanels" 
             [label]="panel.label"
             [icon]="panel.icon"
             [color]="panel.color"
             [isDisabled]="disabled"
             [class.igx-tab-bar-inner__menu-item--selected]="panel.isSelected" 
             [class.igx-tab-bar-inner__menu-item--disabled]="panel.isDisabled"
             [attr.aria-disabled]="panel.isDisabled" 
             [attr.aria-selected]="panel.isSelected" 
             [attr.aria-label]="panel.label"
             role="tab" >
    </igx-tab>
</div>