<div>
    <ng-content></ng-content>
</div>	
<div #tablist class="{{_itemStyle}}__menu {{_itemStyle}}__menu--bottom" role="tablist" aria-orientation="horizontal">
    <igx-tab *ngFor="let panel of panels"
             [id]="'igx-tab-' + panel.index"
             [attr.aria-label]= "panel.label"
             [attr.aria-disabled]="panel.isDisabled"
             [attr.aria-selected]="panel.isSelected"
             [attr.aria-controls]="'igx-tab-panel-'+ panel.index"
             [class.igx-tab-bar__menu-item--selected]="panel.isSelected"
             [class.igx-tab-bar__menu-item--disabled]="panel.isDisabled"
             [relatedPanel]="panel"
             (click)= "panel.select()"     
             role="tab" >
    </igx-tab>
</div>