@use 'igniteui-theming/sass/bem/index' as *;
@use 'igniteui-theming/sass/color/functions' as *;
@use 'styles/themes/standalone' as *;

@include themed-block(igx-query-builder, indigo, light) {
    @include m(sortable) {
        @include e(icons) {
            .sort-icon {
                opacity: 0.75;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

@include themed-block(igx-filter-tree, indigo, light) {
    @include e(expression-item-drop-ghost) {
        .igx-chip__item {
            color: color($color: 'gray', $variant: 600);
            border-color: color($color: 'gray', $variant: 600);
        }
    }
}
