@use 'igniteui-theming/sass/themes/index' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/query-builder' as *;

$base: digest-schema($light-query-builder);
$material: digest-schema($material-query-builder);
$bootstrap: digest-schema($bootstrap-query-builder);
$fluent: digest-schema($fluent-query-builder);
$indigo: digest-schema($indigo-query-builder);
