%vhelper-display {
    display: block;
    overflow: auto;
}

%vhelper--vertical {
    width: 18px;
    height: calc(100% + 18px) !important;
    position: absolute;
    right: 0px;
    z-index: 10;
}

%vhelper--horizontal {
    width: 100%;
}

%vhelper-content--vertical {
    width: 1px;
}

%vhelper-content--horizontal {
    height: 1px;
}

@include b(igx-vhelper) {
    @include m(vertical) {
        @extend %vhelper-display !optional;
        @extend %vhelper--vertical !optional;

        @include e(placeholder-content) {
            @extend %vhelper-content--vertical !optional;
        }
    }

    @include m(horizontal) {
        @extend %vhelper-display !optional;
        @extend %vhelper--horizontal !optional;

        @include e(placeholder-content) {
            @extend %vhelper-content--horizontal !optional;
        }
    }
}
