<div class="sample-container">
    <span igxLabel>Toggle Multiple Selection</span>
    <igx-switch [(ngModel)]="selection"></igx-switch>
    <igx-grid #grid1 [data]="remote | async" [primaryKey]="'ProductID'"
    [rowSelectable]="selection" (onSelection)="handleRowSelection($event)"
    [width]="'800px'" [height]="'600px'">
    <igx-column [field]="'ProductID'" [editable]="true"></igx-column>
    <igx-column [field]="'ProductName'"></igx-column>
    <igx-column [field]="'UnitsInStock'"></igx-column>
</igx-grid>
<button igxButton="flat" (click)="toggle()" igxButtonColor="#FBB13C" igxButtonBackground="#340068" igxRipple="#FBB13C">Toggle 1,2,5 (grid)</button>
<button igxButton="flat" (click)="toggleSingle()" igxButtonColor="#FBB13C" igxButtonBackground="#340068" igxRipple="#FBB13C">Toggle 7 (row)</button>
<button igxButton="flat" (click)="toggleAll()" igxButtonColor="#FBB13C" igxButtonBackground="#340068" igxRipple="#FBB13C">Toggle All (grid)</button>
<!-- <span igxLabel>?3rd selected?</span>
<igx-switch [(ngModel)]="isThirdSelected"></igx-switch> -->
</div>
