.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.tree-container {
    margin: 16px;
    max-width: 350px;
}

strong {
    display: block;
    margin-top: 16px;
    margin-bottom: 24px;
}
