<size-selector #sizeSelector></size-selector>

<div class="wrapper">
    <div class="tree-container">
        <strong>Angular Tree</strong>
        <igx-tree [toggleNodeOnClick]="true" [style.--ig-size]="'var(--ig-size-' + sizeSelector.size + ')'">
            <igx-tree-node *ngFor="let node of data" [data]="node">
                {{ node.CompanyName }}
                <igx-tree-node *ngFor="let child of node.ChildCompanies" [data]="child">
                    {{ child.CompanyName }}
                    <igx-tree-node *ngFor="let leafchild of child.ChildCompanies" [data]="leafchild">
                        {{ leafchild.CompanyName }}
                    </igx-tree-node>
                </igx-tree-node>
            </igx-tree-node>
        </igx-tree>
    </div>
    
    <div class="tree-container">
        <strong>WC Tree</strong>
          <igc-tree toggle-node-on-click="true" [style.--ig-size]="'var(--ig-size-' + sizeSelector.size + ')'">
            <ng-container *ngFor="let node of data">
                <igc-tree-item [label]="node.CompanyName">
                    <ng-container *ngIf="node.ChildCompanies && node.ChildCompanies.length">
                        <ng-container *ngFor="let child of node.ChildCompanies">
                            <igc-tree-item [label]="child.CompanyName">
                                <ng-container *ngIf="child.ChildCompanies && child.ChildCompanies.length">
                                    <ng-container *ngFor="let leafchild of child.ChildCompanies">
                                        <igc-tree-item [label]="leafchild.CompanyName"></igc-tree-item>
                                    </ng-container>
                                </ng-container>
                            </igc-tree-item>
                        </ng-container>
                    </ng-container>
                </igc-tree-item>
            </ng-container>
        </igc-tree>
    </div>
</div>
