$component-name: 'igx-slider';

$components: register-component($components, #{$component-name});

@function igx-slider-theme($track-color: null, $thumb-color: null, $label-color: null) {
    @return (
        track-color: $track-color,
        thumb-color: $thumb-color,
        label-color: $label-color,
    );
}

@mixin igx-slider($theme, $palette: $default-palette) {
    $default-theme: igx-slider-theme(
        $track-color: igx-color($palette, 'accent'),
        $thumb-color: igx-color($palette, 'accent'),
        $label-color: igx-color($palette, 'accent')
    );

    $this: extend($default-theme, $theme);

    // @debug $this;

    $slider-height: 48px !default;
    // Slider Track
    $slider-track-color: igx-color($palette, 'grays', 500) !default;
    $slider-track-disabled-color: hexrgba(igx-color($palette, 'grays', 400)) !default;
    $slider-track-fill-disabled-color: hexrgba(igx-color($palette, 'grays', 400)) !default;
    $slider-track-height: 2px !default;

    // Slider Ticks
    $slider-tick-color: $white !default;

    // Slider Thumb
    $slider-thumb-width: 14px !default;
    $slider-thumb-height: $slider-thumb-width !default;
    $slider-thumb-radius: $slider-thumb-width / 2 !default;
    $slider-thumb-disabled-color: hexrgba(igx-color($palette, 'grays', 400)) !default;

    // Slider Label
    $slider-label-width: 28px !default;
    $slider-label-height: $slider-label-width !default;
    $slider-label-radius: $slider-label-width / 2 !default;
    $slider-label-font-size: rem(11px) !default;
    $slider-label-font-weight: 600 !default;
    $slider-label-font-color: text-contrast(map-get($this, 'label-color')) !default;
    $slider-label-padding: 0 2px !default;
    $slider-label-background: igx-color($palette, 'accent') !default;
    $slider-background--start: $white !default;

    %igx-slider-display {
        display: flex;
        position: relative;
        height: $slider-height;
        align-items: center;
    }

    %igx-slider-thumbs-container {
        position: absolute;
        width: 100%;
        height: 0;
        cursor: default;
        z-index: 1;
    }

    %igx-slider-track {
        position: absolute;
        width: 100%;
        height: $slider-track-height;
        background: $slider-track-color;
        transition: background .2s ease;
    }

    %igx-slider-track--disabled {
        background: $slider-track-disabled-color;
    }

    %igx-slider-track-ticks {
        position: absolute;
        width: 100%;
        height: $slider-track-height;
        background-size: 100% $slider-track-height;
        opacity: .85;
        transition: opacity .2s ease;
        z-index: 1;
    }

    %igx-slider-track-fill {
        position: absolute;
        width: 100%;
        height: inherit;
        background: map-get($this, 'track-color');
        transform-origin: 0 0 0;
        transform: scaleX(0);
    }

    %igx-slider-track-fill--disabled {
        background: $slider-track-fill-disabled-color;
    }

    %igx-thumb-display {
        display: flex;
        position: absolute;
        justify-content: center;
        flex-flow: row nowrap;
        width: $slider-thumb-width;
        height: $slider-thumb-height;
        margin-left: -$slider-thumb-width / 2;
        top: -$slider-thumb-height / 2;
        outline: none;
    }

    %igx-thumb-label {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        min-width: $slider-label-width;
        height: $slider-label-height;
        padding: $slider-label-padding;
        border-radius: $slider-label-radius;
        top: -36px;
        font-size: $slider-label-font-size;
        font-weight: $slider-label-font-weight;
        line-height: $slider-label-font-size;
        color: $slider-label-font-color;
        background: map-get($this, 'label-color');
        opacity: .5;
        transform: scale(0);
        border-color: $slider-label-background transparent transparent;
        transform-origin: 50% 150% 0;
        transition: transform .2s ease-out;
        z-index: -1;

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            width: 0;
            height: 0;
            transform: translateX(-50%);
            border-left: 10px solid;
            border-right: 10px solid;
            border-top: 12px solid;
            border-color: inherit;
            top: 24px;
            z-index: -1;
        }
    }

    %igx-thumb-dot {
        position: absolute;
        left: 0;
        width: inherit;
        height: inherit;
        border-radius: $slider-thumb-radius;
        background: map-get($this, 'thumb-color');
        transform: scale(1);
        transform-origin: 50% 50% 0;
        opacity: 1;
        transition: transform .2s ease-out;
    }

    %igx-thumb-dot--disabled {
        background: $slider-thumb-disabled-color;
        transform: scale(.9);
        border: 2px solid $white;
    }

    %igx-thumb-dot--active {
        opacity: 0;
        transform: scale(0);
    }

    %igx-thumb-label--active {
        opacity: .85;
        transform: scale(1.2);
    }

    %igx-thumb-dot--start,
    %igx-thumb-label--start {
        background: $slider-background--start;
        border-color: $slider-background--start transparent transparent;
    }

    %igx-thumb--active {
        z-index: 1;
    }
}