.ig-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    position: relative;
    transform-style: preserve-3d;
    outline: none;
}

.ig-carousel-indicators {
    position: fixed;
    list-style: none;
    z-index: 10;
    bottom: 0;
    padding: 0;
    opacity: .85;
    li {
        position: relative;
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: 5px;
        text-indent: -9999px;
        cursor: pointer;
        background-color: rgba(255,255,255, .2);
        border: 1px solid #fff;
        border-radius: 50%;
        transition: scale .25s ease-out;
        box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14),
            0px 2px 1px -1px rgba(0, 0, 0, 0.12);
        &:after {
            content: '';
            position: absolute;
            top: -1px;
            bottom: 0;
            left: -1px;
            right: 0;
            width: inherit;
            height: inherit;
            border-radius: inherit;
            background: #fff;
            transform: scale(0);
        }
        &:hover {
            transform: scale(1.3);
            /*&:after {
                transform: scale(.5);
            }*/
        }
        @media only screen and (max-width: 600px) {
            display: none;
        }
    }

    .active {
        &:after {
            animation: scale-in .4s ease-out both;
        }
    }
}

.ig-carousel-inner {
    position: relative;
    width: 100%;
    height: inherit;
    overflow: hidden;
    .item {
        position: relative;
        display: none;
        -webkit-transition: .5s ease-in-out left;
        -o-transition:  .5s ease-in-out left;
        transition: .5s ease-in-out left;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
        
        .next,
        .prev,
        .next.left,
        .prev.right,
        .active.right,
        .active.left, {
            left: 0;
            transform: translate3d(100%, 0, 0);
        }
        img {
            width: 100%;
        }
    }

    .active,
    .next,
    .prev {
        display: block;
    }

    .next,
    .prev {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .next {
        left: 100%;
    }

    .prev {
        left: -100%;
    }
}

.ig-carousel-control {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
    background-color: rgba(255,255,255,.3);
    margin: 0 16px;
    border-radius: 50%;
    box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    transition: opacity .25s ease-out;
    span {
        display: flex;
        align-items: center;
    }
    &:hover {
        opacity: .7;
    }
}

.left {
    left: 0;
}

.right {
    right: 0;
}


.ig-goUp {
    animation: goUp 1s ease both;
}
.ig-goDown {
    animation: goDown 1s ease both;
}

.ig-goLeft {
    animation: goLeft 1s ease both;
}

.ig-goRight {
    animation: goRight 1s ease both;
}

.ig-fade {
    animation: fade 3s ease both;
}


@keyframes fade {
    0% {
        opacity: .25;

    }
    50% {
        opacity: 1;

    }
    100% {
        opacity: .0;

    }
}

@keyframes goUp {
    from { transform: translateY(100%); }
}

@keyframes goDown {
    from { transform: translateY(-100%); }
}

@keyframes goLeft {
    from { transform: translateX(-100%); }
}

@keyframes goRight {
    from { transform: translateX(100%); }
}

@keyframes scale-in {
    60% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}