<igx-grid #grid1 [data]="data" [autoGenerate]="false" height="800px" width="1000px" (onColumnInit)="initColunm($event)" [paging]="true">
    <igx-column field="ProductID" header="Product ID" width="200px" [headerClasses]="'prodId'">
        <ng-template igxCell let-cell="cell" let-val>
        <button (click)="viewRecord(grid1.data)">{{val}}</button>
        </ng-template>
    </igx-column>
    <igx-column field="ReorderLevel" width="200px" [sortable]="true" [filterable]="true" [formatter]="multiplier" editable="true" [dataType]="'number'" >
        <ng-template igxCell let-cell="cell" let-val let-row>
        {{val}} {{row.gridID}}
        </ng-template>
    </igx-column>
    <igx-column field="Supplier" width="200px" header="Supplier" [sortable]="true" [dataType]="'string'">
        <ng-template igxCell let-val>
        {{val['__deferred']['uri']}}
        </ng-template>
    </igx-column>
    <igx-column field="UnitsInStock" header="UnitsInStock" width="200px" [dataType]="'number'" [summaries]="mySummary"  editable="true" [sortable]="true" [hasSummary]="false">
        <ng-template igxCell let-cell="cell" let-val let-row>
        ${{val}}
        </ng-template>
    </igx-column>
    <igx-column field="OrderDate" width="200px" [dataType]="'date'" [sortable]="true" [hasSummary]="false">
        <ng-template igxCell let-cell="cell" let-val let-row>
        {{val}}
        </ng-template>
    </igx-column>
    <igx-column field="CategoryID" header="CategoryID" width="200px" [hasSummary]="false">
        <ng-template igxCell let-cell="cell" let-val>
        {{val}}
        </ng-template>
    </igx-column>
</igx-grid>


<button (click)="enableSummary()"> Enable Summary for column ReorderLevel</button>
<button (click)="updateData()">Update Data</button>
<button (click)="addRow()">Add Row</button>
<button (click)="deleteRow()">Delete Row</button>
<button (click)="updateCell()">Update Cell</button>
<button (click)="updateRow()">Update Row</button>
<button (click)="pin()">Pin</button>