<igx-grid #grid1 [data]="data" [autoGenerate]="false" height="800px" width="800px" (onColumnInit)="initColunm($event)" >
    <igx-column field="ProductID" header="Product ID" width="200px" [headerClasses]="'prodId'">
        <ng-template igxCell let-cell="cell" let-val>
        <button (click)="viewRecord(grid1.data)">{{val}}</button>
        </ng-template>
    </igx-column>
    <igx-column field="ReorderLevel" width="200px" [sortable]="true" [formatter]="multiplier" editable="true" [dataType]="'number'" [hasSummary]="true"  >
        <ng-template igxCell let-cell="cell" let-val let-row>
        {{val}} {{row.gridID}}
        </ng-template>
    </igx-column>
    <igx-column field="Supplier" width="200px" header="Supplier" [sortable]="true" [dataType]="'string'">
        <ng-template igxCell let-val>
        {{val['__deferred']['uri']}}
        </ng-template>
    </igx-column>
    <igx-column field="UnitsInStock" header="UnitsInStock" width="200px" [dataType]="'number'" [summaries]="mySummary"   [sortable]="true" [hasSummary]="true">
        <ng-template igxCell let-cell="cell" let-val let-row>
        ${{val}}
        </ng-template>
    </igx-column>
    <igx-column field="OrderDate" width="200px" [dataType]="'date'" [sortable]="true" [hasSummary]="true">
        <ng-template igxCell let-cell="cell" let-val let-row>
        {{val}}
        </ng-template>
    </igx-column>
    <igx-column field="CategoryID" header="CategoryID" width="200px" [hasSummary]="true">
        <ng-template igxCell let-cell="cell" let-val>
        {{val}}
        </ng-template>
    </igx-column>
</igx-grid>