$num-columns: 12;
$browser-context: 16px;
$xs-min: 320px;
$sm-min: 480px;
$md-min: 768px;
$lg-min: 1280px;
$sm-res: rem($sm-min, $browser-context);
$md-res: rem($md-min, $browser-context);
$lg-res: rem($lg-min, $browser-context);
$sizes: (sm: $sm-res, md: $md-res, lg: $lg-res);
$gutter-width: rem(24px, $browser-context);
$outer-margin: rem(15px, $browser-context);
$half-gutter-width: $gutter-width / 2;

@mixin column($name, $num) {
    .col-#{$name}-#{$num} {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-right: $gutter-width * .5;
        padding-left: $gutter-width * .5;
        flex-basis: 100% / $num-columns * $num;
        max-width: 100% / $num-columns * $num;
    }
}

@mixin offset($name, $num) {
    .col-#{$name}-offset-#{$num} {
        margin-left: 100% / $num-columns * $num;
    }
}

@mixin container($width) {
    .container {
        box-sizing: border-box;
        width: $width;
        margin-right: auto;
        margin-left: auto;
        padding-left: $outer-margin;
        padding-right: $outer-margin;
    }
}

@mixin positions($size) {
    .start-#{$size} {
        justify-content: flex-start;
        text-align: start;
    }

    .center-#{$size} {
        justify-content: center;
        text-align: center;
    }

    .end-#{$size} {
        justify-content: flex-end;
        text-align: end;
    }

    .top-#{$size} {
        align-items: flex-start;
    }

    .middle-#{$size} {
        align-items: center;
    }

    .bottom-#{$size} {
        align-items: flex-end;
    }

    .around-#{$size} {
        justify-content: space-around;
    }

    .between-#{$size} {
        justify-content: space-between;
    }

    .first-#{$size} {
        order: -1;
    }

    .last-#{$size} {
        order: 1;
    }
}

@include container(100%);
@include positions('xs');

@for $i from 1 through $num-columns {
    @include column('xs', $i);
    @include offset('xs', $i);
}

@each $size, $res in $sizes {
    @media only screen and (min-width: $res) {
        // @include container($res);
        @include positions($size);
        @for $i from 1 through $num-columns {
            @include column($size, $i);
            @include offset($size, $i);
        }
    }
}

.row {
    display: flex;
    flex-flow: row wrap;
    flex: 0 1 auto;
    margin-left: $outer-margin * -1;
    margin-right: $outer-margin * -1;
}
