/// Main font stack for text
/// @type List
$text-font-stack: 'aktiv-grotesk', 'Helvetica Neue Light', 'Helvetica Neue', 'Arial', sans-serif !default;

/// Main font stack for code
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Text-color
$base-color: #666 !default;

/// Base border-color
$base-border-color: #ededed !default;
$nav-border-color: #dedede !default;

/// Infragistics nav gray
$nav-bg: #eff1f2 !default;

/// Infragistics Blue
$igblue: #09f !default;

/// Pink
/// @type Color
$pink: #dd5a6f !default;

/// Purple
/// @type Color
$purple: #5c4863 !default;

/// Yellow
/// @type Color
$yellow: #ffc93c !default;

/// Black
/// @type Color
$black: #333 !default;


/// Variable
$var-color: #09f;
/// Function
$function-color: #f66604;
/// Mixin
$mixin-color: purple;

/// Layout config
$bottom-gutter: 32;
$bottom-gutter-sm: 16;
$top-gutter: 8;

$content-gutter: 24;

$top-margin: $bottom-gutter;
$top-margin-negative: -16;

$infra-head-height: (
    desktop: 76,
    mobile: 60
);

$secondary-header-height: 50;
$search-input-height: 36;

$navbar-width: 317;
