.form-title {
    margin-bottom: 16px;
}

igx-input-group + igx-input-group {
    margin-top: 32px;
}

.radio-group {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 16px;
}

.radio-group igx-radio+igx-radio {
    margin-top: 8px;
}

.settings {
    margin-left: 16px;
    width: 100%;
    justify-content: space-between;
}

:host button {
    align-self: flex-start;
    margin-top: 1.5rem;
}
