:host {
	display: flex;
	flex-wrap: wrap;
	gap: var(--demos-gap);
	
	.demo-sample {
		display: flex;
		flex-direction: column;
		gap: var(--demos-gap);
		padding: var(--content-spacing);
		min-width: 320px;
	}
	
	.demo-sample__form {
		display: flex;
		flex-direction: column;
		gap: var(--demos-gap);
	}
	
	.demo-sample__radio-wrapper {
		display: flex;
		flex-direction: column;
		gap: var(--demos-gap);
	}
	
	.demo-sample__form-in-list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		gap: var(--demos-gap);
	}
}
