@import '../../../projects/igniteui-angular/src/lib/core/styles/themes/utilities';

.ellipsis {
    @include ellipsis();
    max-width: 50px;
}

.sample-component {
    position: relative;
    width: 100%;
}

igx-slider {
    width: 50%;
}
