<div class="sample-wrapper">
    <page-header title="Shadows" description="Notifies the user about a performed operation. It contains a single line of text and may contain a text action."></page-header>
    <section class="sample-content">
        <article class="sample-column">
            <h4 class="sample-title">Elevations</h4>
            <div class="elevations">
                <div class="elevation-sample elevate-1">
                    <p class="variable">
                        $elevate-1
                    </p>
                    <p class="css">
                        box-shadow:
                        <br>0 1px 3px 0 palette(gray, 400),
                        <br>0 1px 1px 0 palette(gray, 300),
                        <br>0 2px 1px -1px palette(gray, 200)
                    </p>
                </div>
                <div class="elevation-sample elevate-2">
                    <p class="variable">
                        $elevate-2
                    </p>
                    <p class="css">
                        box-shadow:
                        <br>0 1px 5px 0 palette(gray, 400),
                        <br>0 2px 2px 0 palette(gray, 300),
                        <br>0 3px 1px -2px palette(gray, 200);
                    </p>
                </div>
                <div class="elevation-sample elevate-3">
                    <p class="variable">
                        $elevate-3
                    </p>
                    <p class="css">
                        box-shadow:
                        <br>0 1px 8px 0 palette(gray, 400),
                        <br>0 3px 4px 0 palette(gray, 300),
                        <br>0 3px 3px -2px palette(gray, 200)
                    </p>
                </div>
                <div class="elevation-sample elevate-4">
                    <p class="variable">
                        $elevate-4
                    </p>
                    <p class="css">
                        box-shadow:
                        <br>0 2px 4px -1px palette(gray, 400),
                        <br>0 4px 5px 0 palette(gray, 300),
                        <br>0 1px 10px 0 palette(gray, 200)
                    </p>
                </div>
                <div class="elevation-sample elevate-6">
                    <p class="variable">
                        $elevate-6
                    </p>
                    <p class="css">
                        box-shadow:
                        <br>0 3px 5px -1px palette(gray, 400),
                        <br>0 6px 10px 0 palette(gray, 300),
                        <br>0 1px 18px 0 palette(gray, 200)
                    </p>
                </div>
                <div class="elevation-sample elevate-8">
                    <p class="variable">
                        $elevate-8
                    </p>
                    <p class="css">
                        box-shadow:
                        <br>0 5px 5px -3px palette(gray, 400),
                        <br>0 8px 10px 1px palette(gray, 300),
                        <br>0 3px 14px 2px palette(gray, 200)
                    </p>
                </div>
                <div class="elevation-sample elevate-9">
                    <p class="variable">
                        $elevate-9
                    </p>
                    <p class="css">
                        box-shadow:
                        <br>0 5px 6px -3px palette(gray, 400),
                        <br>0 9px 12px 1px palette(gray, 300),
                        <br>0 3px 16px 2px palette(gray, 200)
                    </p>
                </div>
                <div class="elevation-sample elevate-12">
                    <p class="variable">
                        $elevate-12
                    </p>
                    <p class="css">
                        box-shadow:
                        <br>0 7px 8px -4px palette(gray, 400),
                        <br>0 12px 17px 2px palette(gray, 300),
                        <br>0 5px 22px 4px palette(gray, 200)
                    </p>
                </div>
                <div class="elevation-sample elevate-16">
                    <p class="variable">
                        $elevate-16
                    </p>
                    <p class="css">
                        box-shadow:
                        <br>0 8px 10px -5px palette(gray, 400),
                        <br>0 16px 24px 2px palette(gray, 300),
                        <br>0 6px 30px 5px palette(gray, 200)
                    </p>
                </div>
                <div class="elevation-sample elevate-24">
                    <p class="variable">
                        $elevate-24
                    </p>
                    <p class="css">
                        box-shadow:
                        <br>0 11px 15px -7px palette(gray, 400),
                        <br>0 24px 38px 3px palette(gray, 300),
                        <br>0 9px 46px 8px palette(gray, 200)
                    </p>
                </div>
            </div>
        </article>
        <article class="sample-column">
            <h4 class="sample-title">Usage</h4>
            <div class="elevate-image">
                <img width="100%" height="100%" src="../demos/app/styleguide/shadows/images/whatismaterial_3d_elevation2.jpg" alt="Shadows Usage">
            </div>
        </article>
    </section>
</div>