@use 'igniteui-theming/sass/bem' as *;
@use 'igniteui-theming/sass/color/functions' as *;
@use 'igniteui-theming/sass/elevations' as *;
@use 'styles/themes/standalone' as *;

@include themed-block(igx-grid-th, indigo, dark) {
    @include m(sortable) {
        @include e(icons) {
            .sort-icon {
                opacity: .85;
            }
        }
    }

    @include m(filtrable) {
        :where(.igx-grid-th__title) {
            opacity: .85;
        }
    }

    @include m(fw) {
        igx-icon {
            --component-size: 3;
        }
    }
}

@include themed-block(igx-grid, indigo, dark) {
    @include e(td, $m: bool) {
        .igx-icon--error {
            color: color($color: 'gray', $variant: 500);
        }
    }

    @include e(pivot-empty-chip-area) {
        color: contrast-color($color: 'gray', $variant: 50, $opacity: .6);
    }

    @include e(tr-header-row) {
        igx-pivot-row-dimension-header-group {
            igx-icon {
                opacity: 0.85;

                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
    }
}

@include themed-block(igx-grid-thead, indigo, dark) {
    @include e(title) {
        igx-icon {
            opacity: 0.85;

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}

@include themed-block(igx-advanced-filter, indigo, dark) {
    background: color($color: 'gray', $variant: 50);
    box-shadow: elevation(23);
}
