@use 'igniteui-theming/sass/bem' as *;
@use 'igniteui-theming/sass/themes' as *;
@use 'igniteui-theming/sass/typography' as *;
@use 'styles/themes/standalone' as *;
@use '../light/tokens' as *;

$_theme: $fluent;

@include themed-block(igx-snackbar, fluent) {
    --ig-button-foreground: #{var-get($_theme, 'button-color')};
    --ig-button-hover-foreground: var(--ig-button-foreground);
    --ig-button-focus-foreground: var(--ig-button-foreground);
    --ig-button-focus-hover-foreground: var(--ig-button-foreground);
    --ig-button-active-foreground: var(--ig-button-foreground);
    --ig-button-focus-visible-foreground: var(--ig-button-foreground);

    @include e(message) {
        @include type-style(caption) {
            margin: revert-layer;
        }
    }
}
