@use 'igniteui-theming/sass/typography' as *;
@use 'igniteui-theming/sass/bem' as *;
@use 'styles/themes/standalone' as *;
@use '../light/tokens' as *;

$_theme: $fluent;

@include themed-block(igx-button-group, fluent) {
    $outline-btn-indent: rem(2px);

    %item-overlay {
        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            pointer-events: none;
            width: 100%;
            height: 100%;
        }
    }

    @include e(item) {
        igx-icon {
            color: var-get($_theme, 'item-icon-color');
            $icon-size: rem(18px);

            --ig-icon-size: #{$icon-size};
            --igx-icon-size: #{$icon-size};
        }

        &:active {
            background: var-get($_theme, 'item-focused-background');
            color: var-get($_theme, 'item-text-color');
            border-color: var-get($_theme, 'item-border-color');
        }

        &[igxButton].igx-button--focused {
            background: var-get($_theme, 'item-background');
            color: var-get($_theme, 'item-text-color');
            border-color: var-get($_theme, 'item-border-color');

            igx-icon {
                color: var-get($_theme, 'item-icon-color');
            }

            &::after {
                content: '';
                position: absolute;
                inset-block-start: $outline-btn-indent;
                inset-inline-start: $outline-btn-indent;
                pointer-events: none;
                width: calc(100% - (#{$outline-btn-indent} * 2));
                height: calc(100% - (#{$outline-btn-indent} * 2));
                box-shadow: 0 0 0 rem(1px) var-get($_theme, 'item-focused-border-color');
            }

            &:hover {
                color: var-get($_theme, 'item-hover-text-color');
                background: var-get($_theme, 'item-hover-background');

                igx-icon {
                    color: var-get($_theme, 'item-hover-icon-color');
                }
            }

            &:active {
                background: var-get($_theme, 'item-focused-background');
            }
        }

        &[igxButton][disabled='true'] {
            igx-icon {
                color: var-get($_theme, 'disabled-text-color');
            }
        }
    }

    @include e(item, $m: selected) {
        &:hover {
            @extend %item-overlay;

            background: var-get($_theme, 'item-selected-background');
            color: var-get($_theme, 'item-selected-text-color');

            &::before {
                background: var-get($_theme, 'item-selected-hover-background');
            }
        }

        &:active {
            background: var-get($_theme, 'item-selected-focus-background');
            color: var-get($_theme, 'item-selected-text-color');

            igx-icon {
                color: var-get($_theme, 'item-selected-icon-color');
            }
        }

        &[igxButton].igx-button--focused {
            background: var-get($_theme, 'item-selected-background');
            color: var-get($_theme, 'item-selected-text-color');

            igx-icon {
                color: var-get($_theme, 'item-selected-icon-color');
            }

            &:hover {
                @extend %item-overlay;

                background: var-get($_theme, 'item-selected-background');
                color: var-get($_theme, 'item-selected-text-color');

                igx-icon {
                    color: var-get($_theme, 'item-selected-hover-icon-color');
                }

                &::before {
                    background: var-get($_theme, 'item-selected-focus-hover-background');
                }
            }

            &:active {
                background: var-get($_theme, 'item-selected-focus-background');
            }
        }
    }
}
