:host {
	display: flex;
	flex-wrap: wrap;
	gap: calc(var(--demos-gap) * 3);
	padding: var(--content-spacing);
	justify-content: center;
	text-align: center;

	.button-demo {
		min-width: 200px;
	}
	
	.button-demo__title {
		font-size: 1.2rem;
		margin-block-end: 0.5rem;
	}
}

