.buttons-sample {
    display: flex;
    flex-flow: row wrap;
}

.button-sample {
    display: flex;
    flex: 1 0 30%;
    margin-bottom: 36px;
    align-items: center;
    justify-content: flex-start;
}

.density-chooser {
    margin-bottom: 16px;
}
