.columns-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 24px;
    row-gap: 24px;
    margin: 24px 16px;
}

.buttons-sample {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(80px, auto);
    align-items: center;
}

.display-density {
    grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
}

.button-sample {
    justify-self: center;
}

.density-chooser {
    margin-bottom: 16px;
}

