.buttons-sample {
    display: flex;
    flex-flow: row wrap;
}

.button-sample {
    display: flex;
    flex: 1 0 30%;
    margin-bottom: 36px;
    align-items: center;
    justify-content: flex-start;
}

.igx-button--flat .igx-icon,
.igx-button--raised .igx-icon,
.igx-button--outlined .igx-icon {
    margin-right: 8px;
}

[dir='rtl'].igx-button--flat .igx-icon,
[dir='rtl'].igx-button--raised .igx-icon,
[dir='rtl'].igx-button--outlined .igx-icon,
[dir='rtl'] .igx-button--flat .igx-icon,
[dir='rtl'] .igx-button--raised .igx-icon,
[dir='rtl'] .igx-button--outlined .igx-icon {
    margin-left: 8px;
    margin-right: 0;
}


.density-chooser {
    margin-bottom: 16px;
}

.sample-wrap {
    flex-wrap: wrap;
}

