////
/// @group themes
/// @access public
/// @author <a href="https://github.com/desig9stein" target="_blank">Marin Popov</a>
////

/// If only background color is specified,
/// the idle item color will be assigned automatically to a contrasting color.
/// @param {Color} $header-background [null] - The background color used for the tabs header.
/// @param {Color} $text-color [null] - The text-color used for the tabs.
/// @param {Color} $active-item-color [null] - The color used for the active tab text color.
/// @param {Color} $indicator-color [null] - The color used for the active tab indicator.
/// @param {Color} $item-focus-bg [null] - The background color used for the focused tab color.
/// @param {Color} $button-icon-color [null] - The color used for the button icon/text color.
/// @param {Color} $button-background [null] - The color used for the button background.
/// @param {Color} $button-background [null] - The color used for the button background when is on :hover.
/// @requires text-contrast
/// @example scss Set a custom background color
///   $my-tabs-theme: igx-tabs-theme(
//      $header-background: black
//    );
///   // Pass the theme to the igx-tabs component mixin
///   @include igx-tabs($my-tabs-theme);
@function igx-tabs-theme(
    $header-background: null,
    $text-color: null,
    $active-item-color: null,
    $indicator-color: null,
    $item-focus-bg: null,
    $item-hover-bg: null,
    $button-icon-color: null,
    $button-background: null,
    $button-hover-background: null
) {
    @if not($text-color) and $header-background {
        $text-color: text-contrast($header-background);
    }

    @if not($text-color) and $item-focus-bg {
        $text-color: text-contrast($item-focus-bg);
    }

    @if not($text-color) and $item-hover-bg {
        $text-color: text-contrast($item-hover-bg);
    }

    @if not($button-background) and $header-background {
        $button-background: $header-background;
    }

    @if not($button-icon-color) and $header-background {
        $button-icon-color: text-contrast($header-background);
    }

    @return (
        header-background: $header-background,
        idle-item-color: $text-color,
        active-item-color: $active-item-color,
        indicator-color: $indicator-color,
        item-focus-bg: $item-focus-bg,
        item-hover-bg: $item-hover-bg,
        button-icon-color: $button-icon-color,
        button-background: $button-background,
        button-hover-background:$button-hover-background
    );
}

/// @param {Map} $theme - The theme used to style the component.
/// @param {Map} $palette [$default-palette] - The palette used as basis for styling the component.
/// @requires igx-tabs-theme
/// @requires igx-color
/// @requires igx-elevation
/// @requires extend
/// @requires {mixin} ellipsis
/// @requires rem
@mixin igx-tabs($theme, $palette: $default-palette) {
    $default-theme: igx-tabs-theme(
        $header-background: igx-color($palette, 'grays', 100),
        $text-color: igx-color($palette, 'grays', 600),
        $active-item-color: igx-color($palette, 'primary'),
        $indicator-color: igx-color($palette, 'secondary', 500),
        $item-focus-bg: igx-color($palette, 'grays', 200),
        $item-hover-bg: igx-color($palette, 'grays', 200),
        $button-icon-color: igx-color($palette, 'grays', 500),
        $button-background: null,
        $button-hover-background: igx-color($palette, 'grays', 200)
    );

    $this: extend($default-theme, $theme);

    // @debug $this;
    $item-min-width: 160px;
    $item-max-width: 264px;
    $item-padding: 0 rem(24px);
    $tabs-height: rem(48px);
    $label-font-size: rem(12px, 16px);
    $label-line-height: rem(12px, 16px);
    $tabs-animation-function: cubic-bezier(.35, 0, .25, 1);

    %igx-tabs {
        display: flex;
        flex-direction: column;
    }

    // HEADER
    %igx-tabs__header {
        display: flex;
        align-items: center;
        background: map-get($this, 'header-background');
        overflow: hidden;
    }

    // ITEM WRAPPER
    %igx-tabs__header-wrapper-fixed {
        flex: 1 1 auto;
        overflow: hidden;
    }

    // ITEM HOLDER (The element that scrolls)
    %igx-tabs__header-wrapper-fluid {
        display: inline-flex;
        align-items: center;
        position: relative;
        flex-wrap: nowrap;
        transition: transform .2s $tabs-animation-function;
    }

    // MENU ITEM
    %igx-tabs__header-menu-item {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: $item-min-width;
        max-width: $item-max-width;
        height: $tabs-height;
        // Flex basis & shrink are Needed for IE11
        flex-basis: auto;
        flex-shrink: 0;
        color: map-get($this, 'text-color');
        padding: $item-padding;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        transition: background .3s $tabs-animation-function;
        user-select: none;

        &:focus {
            background: map-get($this, 'item-focus-bg');
        }

        &:hover {
            background: map-get($this, 'item-hover-bg');
        }
    }

    %igx-tabs__header-menu-item--disabled {
        opacity: .5;
        cursor: default;
    }

    %igx-tabs__header-menu-item--selected {
        background: map-get($this, 'item-focus-bg');
    }

    %igx-tabs__header-menu-item-indicator {
        position: absolute;
        bottom: 0;
        transform: translateX(0);
        height: 2px;
        min-width: rem(160px);
        background: map-get($this, 'indicator-color');
        transition: transform .3s $tabs-animation-function, width .5s $tabs-animation-function;
    }

    // SCROLL BUTTONS
    %igx-tabs__header-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        padding: 0;
        min-width: rem(48px);
        width: rem(48px);
        min-height: $tabs-height;
        height: $tabs-height;
        cursor: pointer;
        box-shadow: igx-elevation($elevations, 8);
        position: relative;

        &:hover {
            background: map-get($this, 'button-hover-background');
        }

        &:focus {
            outline: 0;
            background: map-get($this, 'button-hover-background');
        }

        &::-moz-focus-inner {
            border: 0;
        }

        .igx-icon {
            line-height: rem(28px, 16px);
        }
    }

    %igx-tabs__header-button--active {
        box-shadow: igx-elevation($elevations, 8);
    }

    // LABELS
    %igx-tabs__item-label {
        @include ellipsis();
        font-size: $label-font-size;
        line-height: $label-line-height;
        max-width: 100%;
        text-align: center;
    }

    %igx-tabs__content-fixed {
        flex: 1 1 auto;
        overflow: hidden;
    }

    %igx-tabs__content-fluid {
        display: inline-flex;
        align-items: center;
        position: relative;
        flex-wrap: nowrap;
    }

    %igx-tabs__group {
        display: inline-flex;
        min-width: 100%;
        transition: transform .3s $tabs-animation-function;
    }

    %igx-tabs__group--selected {
        display: inline-flex;
        min-width: 100%;
        transition: transform .3s $tabs-animation-function;
    }
}

