////
/// @group themes
/// @access public
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
/// @author <a href="https://github.com/desig9stein" target="_blank">Marin Popov</a>
////

/// If only background color is specified,
/// the idle item color will be assigned automatically to a contrasting color.
/// @param {Color} $background [null] - The background color used for the toast.
/// @param {Color} $idle-item-color [null] - The text-color used for the idle color.
/// @param {Color} $active-item-color [null] - The text-color used for the active color.
/// @requires text-contrast
/// @example scss Set a custom background color
///   $my-tabs-theme: igx-toast-theme($background: black);
///   // Pass the theme to the igx-tabs component mixin
///   @include igx-tabs($my-tabs-theme);
@function igx-tabs-theme(
    $background: null,
    $idle-item-color: null,
    $active-item-color: null
) {
    @if not($idle-item-color) and $background {
        $idle-item-color: rgba(text-contrast($background), .7);
    }

    @return (
        background: $background,
        idle-item-color: $idle-item-color,
        active-item-color: $active-item-color
    );
}

/// @param {Map} $theme - The theme used to style the component.
/// @param {Map} $palette [$default-palette] - The palette used as basis for styling the component.
/// @requires igx-tabs-theme
/// @requires igx-color
/// @requires igx-elevation
/// @requires extend
/// @requires {mixin} ellipsis
/// @requires rem
@mixin igx-tabs($theme, $palette: $default-palette) {
    $default-theme: igx-tabs-theme(
        $background: #fff,
        $idle-item-color: igx-color($palette, 'grays', 600),
        $active-item-color: igx-color($palette, 'primary')
    );

    $this: extend($default-theme, $theme);

    // @debug $this;

    $menu-height: 56px;
    $top-menu-shadow: igx-elevation($elevations, 8);
    $bottom-menu-shadow: 0 -2px 4px -1px igx-color($palette, 'grays', 400),
        0 -4px 5px 0 igx-color($palette, 'grays', 300),
        0 -1px 10px 0 igx-color($palette, 'grays', 200);

    $item-min-width: 80px;
    $item-max-width: 168px;
    $item-padding: 0 rem(12px, 16px);

    $label-font-size: rem(12px, 16px);
    $label-line-height: rem(12px, 16px);


    %igx-tabs-group {
        display: none;
    }

    %igx-tabs-group--selected {
        display: block;
    }

    %igx-tabs-menu {
        display: flex;
        //position: fixed;
        justify-content: flex-start;
        align-items: center;
        left: 0;
        right: 0;
        height: $menu-height;
        background: map-get($this, 'background');
        overflow: hidden;
        z-index: 1;
        top: 0;
        bottom: inherit;
        //width: 100%;
        border-width: 2px;
        border-bottom: 2px #ECEBE9 solid;
        flex-grow: 1;
    }

    %igx-tabs-menu-item {
        display: flex;
        position: relative;
        flex-flow: column nowrap;
        flex: 1;
        align-items: center;
        justify-content: center;
        min-width: $item-min-width;
        max-width: $item-max-width;
        height: 100%;
        color: map-get($this, 'idle-item-color');
        cursor: pointer;
        user-select: none;
        overflow: hidden;
        padding: $item-padding;
        -webkit-tap-highlight-color: transparent;
        text-align: center;
        flex-basis: auto;
        width: 100%;
    }

    %igx-tabs-menu-item--selected {
        border-width: 2px;
        border-bottom: 2px #06C0D3 solid;     
    }
  
    %igx-tabs-menu-item--disabled {
        opacity: .5;
        cursor: default;
    }

    %igx-active-tab {
        color: map-get($this, 'active-item-color');
        transition: color .15s $ease-in-out-quad, opacity .25s $ease-in-out-quad;
    
    }

    %igx-tab-item-label {
        @include ellipsis();
        padding-top: 4px;
        font-size: $label-font-size;
        line-height: $label-line-height;
        max-width: 100%;
        text-align: center;
        transform: translateZ(0);
        transition: transform .15s $ease-in-out-quad;
        z-index: 1;
    }

    %igx-tab-item-icon {
        display: flex;
        position: relative;
        justify-content: center;
        height: 24px;
        padding: 0 8px;
        transform: translateZ(0);
        transition: transform .15s $ease-in-out-quad;
        z-index: 1;

        igx-badge {
            position: absolute;
            top: -6px;
            right: -6px;
            padding: 1px;
        }
    }

    %igx-tab-item-icon--selected {
        @extend %igx-active-tab;
        transform: translateY(-2px);
    }

    %igx-tab-item-label--selected {
        @extend %igx-active-tab;
        transform: translateY(-2px) scale(1.166667);
    }
}
