////
/// @group themes
/// @access public
/// @author <a href="https://github.com/desig9stein" target="_blank">Marin Popov</a>
////

/// @param {Color} $background-color [null] - The drop-down background color.
/// @param {Color} $text-color [null] - The drop-down text color.
/// @param {Color} $selected-item-background [null] - The drop-down selected item background color.
/// @param {Color} $focused-item-background [null] - The drop-down focused item background color.
/// @param {Color} $disabled-item-background [null] - The drop-down disabled item background color.
/// @param {Color} $selected-item-text-color [null] - The drop-down selected item text color.
/// @param {Color} $focus-item-text-color [null] - The drop-down focused item text color.
/// @param {Color} $disabled-item-text-color [null] - The drop-down disabled item text color.

/// @requires text-contrast
@function igx-drop-down-theme(
    $background-color: null,
    $text-color: null,
    $header-text-color: null,

    $item-background:null,
    $item-hover-background:null,

    $selected-item-background:null,
    $focused-item-background:null,
    $disabled-item-background:null,

    $selected-item-text-color:null,
    $focus-item-text-color:null,
    $disabled-item-text-color:null
) {

    @if not($text-color) and $background-color {
        $text-color: text-contrast($background-color);
    }

    @if not($text-color) and $background-color and $item-background {
        $text-color: text-contrast($background-color);
    }

    @return (
        background-color: $background-color,
        text-color: $text-color,
        header-text-color: $header-text-color,

        item-background:$item-background,
        item-hover-background:$item-hover-background,

        selected-item-background:$selected-item-background,
        focused-item-background:$focused-item-background,
        disabled-item-background:$disabled-item-background,

        selected-item-text-color:$selected-item-text-color,
        focus-item-text-color:$focus-item-text-color,
        disabled-item-text-color:$disabled-item-text-color
    );
}

/// @param {Map} $theme - The theme used to style the component.
/// @param {Map} $palette [$default-palette] - The palette used as basis for styling the component.
/// @requires igx-drop-down-theme
/// @requires igx-color
/// @requires igx-elevation
/// @requires $elevations
/// @requires rem
@mixin igx-drop-down($theme, $palette: $default-palette) {
    $default-theme: igx-drop-down-theme(
        $background-color: #fff,
        $text-color: igx-color($palette, 'grays', 800),
        $header-text-color: igx-color($palette, 'primary', 500),

        $item-background: #fff,
        $item-hover-background: igx-color($palette, 'grays', 100),

        $selected-item-background: igx-color($palette, 'primary', 500),
        $focused-item-background: igx-color($palette, 'primary', 500),
        $disabled-item-background: #fff,

        $selected-item-text-color: #fff,
        $focus-item-text-color: #fff,
        $disabled-item-text-color: igx-color($palette, 'grays', 300)
    );

    $this: extend($default-theme, $theme);

    $dd-shadow: igx-elevation($elevations, 2);

    %igx-drop-down {
        display: flex;
        flex-direction: column;
        box-shadow: $dd-shadow;
        padding: rem(8px) 0;
        min-width: rem(128px);
        max-width: rem(192px);
        min-height: rem(200px);
        background: map-get($this, 'background-color');
    }

    %igx-drop-down__header {
        font-weight: 800;
        font-size: rem(14px);
        color: map-get($this, 'header-text-color');
    }

    %igx-drop-down__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-height: rem(32px);
        padding: rem(8px) rem(24px);
        background: map-get($this, 'item-background');
        line-height: rem(20px);
        cursor: pointer;
        user-select: none;

        &:hover {
            background: map-get($this, 'item-hover-background');
        }
    }

    %igx-drop-down__item--selected {
        background: map-get($this, 'selected-item-background');
        color: map-get($this, 'selected-item-text-color');

        &:hover {
            background: map-get($this, 'selected-item-background');
        }
    }

    %igx-drop-down__item--focused {
        background: map-get($this, 'focused-item-background');
        color: map-get($this, 'focus-item-text-color');

        &:hover {
            background: map-get($this, 'focused-item-background');
        }
    }

    %igx-drop-down__item--disabled {
        background: map-get($this, 'disabled-item-background');
        color: map-get($this, 'disabled-item-text-color');
        cursor: default;

        &:hover {
            background: map-get($this, 'disabled-item-background');
        }
    }
}





