<div class="sample-wrapper">
    <div class="sample-header">
        <h1 class="title">Toast</h1>
        <p class="description">
            Displays application notifications to the user.
        </p>
    </div>
    <section class="sample-content">
        <article class="sample-column">
            <h4 class="sample-title">Bottom Position</h4>
            <div class="preview bottom"></div>
            <div class="btn-group">
                <button igxButton="raised" igxRipple="white" (click)="showToast(toast)" [disabled]="toast.isVisible">Show Toast</button>
                <button igxButton="raised" igxRipple="white" (click)="toast.hide()" [disabled]="!toast.isVisible">Hide Toast</button>
            </div>
        </article>
        <article class="sample-column">
            <h4 class="sample-title">Middle Position</h4>
            <div class="preview middle"></div>
            <div class="btn-group">
                <button igxButton="raised" igxRipple="white" (click)="showToast(toast, 'middle')" [disabled]="toast.isVisible">Show Toast</button>
                <button igxButton="raised" igxRipple="white" (click)="toast.hide()" [disabled]="!toast.isVisible">Hide Toast</button>
            </div>
        </article>
        <article class="sample-column">
            <h4 class="sample-title">Top Position</h4>
            <div class="preview top"></div>
            <div class="btn-group">
                <button igxButton="raised" igxRipple="white" (click)="showToast(toast, 'top')" [disabled]="toast.isVisible">Show Toast</button>
                <button igxButton="raised" igxRipple="white" (click)="toast.hide()" [disabled]="!toast.isVisible">Hide Toast</button>
            </div>
        </article>
    </section>

    <igx-toast #toast message="This message will self-destruct in 4 seconds." [position]="toastPosition" (onShowing)="onShowing($event)">
    </igx-toast>
</div>