.preview {
    height: 300px;
}

.preview.bottom {
    background: url('/images/rsrcs/toast-bg-bottom.svg') no-repeat;
}


.preview.middle {
    background: url('/images/rsrcs/toast-bg-middle.svg') no-repeat;
}


.preview.top {
    background: url('/images/rsrcs/toast-bg-top.svg') no-repeat;
}

.btn-group {
    display: flex;
    width: 300px;
    margin-top: 16px;
    justify-content: space-between;
}
