.sample-content {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.preview {
    height: 300px;
}

.preview.bottom {
    background: url('demos/app/rsrcs/toast-bg-bottom.svg') no-repeat;
}


.preview.middle {
    background: url('demos/app/rsrcs/toast-bg-middle.svg') no-repeat;
}


.preview.top {
    background: url('demos/app/rsrcs/toast-bg-top.svg') no-repeat;
}

.btn-group {
    display: flex;
    width: 300px;
    margin-top: 16px;
    justify-content: space-between;
}