<div class="wrapper">
    <div class="sample-content">
        <div class="sample-column">
            <igx-grid [data]="data" [allowFiltering]="true" [filterMode]="'excelStyleFilter'" displayDensity="comfortable" width="100%" height="600px" [paging]="true" [perPage]="10">
                <igx-column field="ProductName" [pinned]="true" [movable]="true" header="Product Name" width="19%" [dataType]="'string'" [sortable]="true" [hasSummary]="false" [editable]="true" [filterable]="true" [resizable]="true">
                </igx-column>
                <igx-column field="UnitsInStock" [pinned]="false" [movable]="true"  header="Units In Stock" width="19%" [dataType]="'currency'" [sortable]="true" [hasSummary]="true" [editable]="true" [filterable]="true" [resizable]="true">
                </igx-column>
                <igx-column field="OrderDate" [movable]="true" header="Order Date" width="19%" [dataType]="'date'" [sortable]="true" [hasSummary]="false" [editable]="true" [filterable]="true" [resizable]="true">
                    <ng-template igxCell let-cell="cell" let-val>
                        {{val | date:'dd/MM/yyyy'}}
                    </ng-template>
                </igx-column>
                <igx-column field="Discontinued" [movable]="true" [resizable]="true"  header="Discontinued" width="15%" [dataType]="'boolean'"
                    [sortable]="false" [hasSummary]="false" [editable]="true" [filterable]="false">
                </igx-column>
                <igx-column field="ReorderLevel" header="Reorder Level" [movable]="true" [resizable]="true" [dataType]="'percent'" [hasSummary]="true" width="19%" [sortable]="false"  [editable]="true" >
                </igx-column>
            </igx-grid>
        </div>
    </div>
    <igx-input-group class="sample-column">
        <input igxInput type="text" placeholder="Filter by product name" (input)="filter($event.target.value)">
    </igx-input-group>
    <div class="sample-content">
        <igx-grid #grid1 [data]="data" [autoGenerate]="false" height="520px" width="100%" [allowFiltering]="true">
            <igx-column field="ProductName" header="Product Name" [dataType]="'string'">
            </igx-column>
            <igx-column field="QuantityPerUnit" [pinned]="true" [filterable]="false" header="Quantity Per Unit" [dataType]="'string'">
            </igx-column>
            <igx-column field="UnitPrice" header="Unit Price" [dataType]="'number'">
                <ng-template igxCell let-cell="cell" let-val let-row>
                    {{+val | currency}}
                </ng-template>
            </igx-column>
            <igx-column field="OrderDate" [editable]="true" header="Order Date" [dataType]="'date'" [formatter]="formatDate">
            </igx-column>
            <igx-column field="Discontinued" header="Discontinued" [dataType]="'boolean'">
                <ng-template igxCell let-cell="cell" let-val>
                    <img *ngIf="val" src="https://staging.infragistics.local/angular-demos/assets/images/grid/active.png" title="Continued" alt="Continued" />
                    <img *ngIf="!val" src="https://staging.infragistics.local/angular-demos/assets/images/grid/expired.png" title="Discontinued" alt="Discontinued" />
                </ng-template>
            </igx-column>
        </igx-grid>
    </div>
</div>
