@use 'igniteui-theming/sass/themes' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/grid-filtering' as *;

$material: digest-schema($dark-material-grid-filtering);
$bootstrap: digest-schema($dark-bootstrap-grid-filtering);
$fluent: digest-schema($dark-fluent-grid-filtering);
$indigo: digest-schema($dark-indigo-grid-filtering);
