@use 'igniteui-theming/sass/typography' as *;
@use 'igniteui-theming/sass/bem' as *;
@use 'styles/themes/standalone' as *;

@include themed-block(igx-dialog, indigo) {
    --title-padding: #{rem(24px) rem(24px) 0 rem(24px)};
    --message-padding: #{rem(16px) rem(24px)};
    --actions-padding: #{rem(16px) rem(24px) rem(24px) rem(24px)};

    @include e(window-title) {
        @include type-style(h5);
    }

    @include e(window-actions) {
        gap: rem(16px);
    }
}
