@use 'igniteui-theming/sass/bem/index' as *;
@use 'igniteui-theming/sass/themes/index' as *;
@use 'igniteui-theming/sass/typography/index' as *;
@use 'styles/themes/standalone' as *;
@use 'light/tokens' as *;

$theme: $material;
@include layer(base) {
    @include b(igx-month-picker) {
        display: flex;
        overflow: hidden;
        min-width: sizable(rem(290px), rem(314px), rem(360px));
        color: var-get($theme, 'content-foreground');
        background: var-get($theme, 'content-background');
        box-shadow: 0 0 0 rem(1px) var-get($theme, 'border-color');
        border-radius: var-get($theme, 'border-radius');

        outline: none;

        .igx-calendar-view {
            color: inherit;
            background: inherit;
            box-shadow: none;
            border-radius: 0;
        }

        .igx-calendar__wrapper {
            display: flex;
            width: 100%;
            flex-direction: column;
            outline-style: none;
        }

        .igx-calendar__aria-off-screen {
            position: absolute !important;
            border: none !important;
            height: 1px !important;
            width: 1px !important;
            inset-inline-start: 0 !important;
            top: 0 !important;
            overflow: hidden !important;
            padding: 0 !important;
            margin: 0 !important;
            user-select: none;
            pointer-events: none;

            &:focus {
                outline: none;
            }
        }
    }
}
