<ng-template #imageTemplate>
    <img #image [src]="src" class="igx-avatar__image" [style.backgroundColor]="bgColor" [attr.aria-roledescription]="roleDescription"
    />
</ng-template>

<ng-template #initialsTemplate>
    <div class="igx-avatar__initials" [style.backgroundColor]="bgColor" [style.color]="color" [attr.aria-roledescription]="roleDescription">
        <span>{{initials.substring(0, 2)}}</span>
    </div>
</ng-template>

<ng-template #iconTemplate>
    <span class="igx-avatar__icon" [style.backgroundColor]="bgColor" [style.color]="color" [attr.aria-roledescription]="roleDescription">
        <igx-icon [name]="icon"></igx-icon>
    </span>
</ng-template>

<ng-container *ngTemplateOutlet="template"></ng-container>
<ng-content></ng-content>
