
<h1 class="componentTitle">Filter</h1>
<p class="componentDesc">A directive that allows to do filtering, for example on the list as below.</p>
<div class="igx-form-group">
    <input class="igx-form-group__input--search" placeholder="Search List" [(ngModel)]="search1" />
    <label igxLabel>
        <i class="material-icons">search</i>
    </label>
    <span class="igx-form-group__clear--hidden">
        <i class="material-icons">clear</i>
    </span>
</div>
<igx-list>
    <igx-list-item igxRipple="pink" ixgRippleTarget=".igx-list__item" *ngFor="let item of navItems | igxFilter: fo1">
        {{item.text}}
    </igx-list-item>
</igx-list>
