@use '../../../projects/igniteui-angular/src/lib/core/styles/themes' as *;
@use '../mixins' as *;

@use 'palette' as *;
@use 'typography' as *;
@use './components/radio';
@use './components/checkbox';
@use './components/switch';
@use './components/button';
@use './components/input-group';

// Base
$background-color: contrast-color($light-material-palette, 'gray', 900);
$foreground-color: color($light-material-palette, 'gray', 900);

// Schema
$schema: $light-bootstrap-schema;

:root {
    --ig-theme: bootstrap;
}

body {
    background: $background-color;
    color: $foreground-color;
}

@include core();
@include typography(
    $font-family: $typeface,
    $type-scale: $type-scale
);

@include theme(
    $palette: $palette,
    $schema: $schema,
    $exclude: ('igx-radio', 'igx-checkbox', 'igx-switch', 'igx-button', 'igx-input-group')
);

@include radio.component();
@include checkbox.component();
@include button.component();
@include switch.component();
@include input-group.component();

.nav-header {
    @if luminance($background-color) < .5 {
        @include nav-logo('../assets/images/rsrcs/igniteui-logo-dark-bg', $background-color);
    } @else {
        @include nav-logo('../assets/images/rsrcs/igniteui-logo-light-bg', $background-color);
    }
}
