@use 'igniteui-theming/sass/bem' as *;
@use 'igniteui-theming/sass/typography' as *;
@use 'igniteui-theming/sass/themes/functions' as *;
@use '../../../../../core/src/core/styles/themes/scoping' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/checkbox' as *;

$_theme: digest-schema($material-checkbox);

@include themed-block(igx-checkbox, material) {
    --label-margin: #{rem(2px)};
    --composite-padding: #{rem(20px)};

    @include e(label) {
        @include type-style(subtitle-1);
    }

    @include e(ripple) {
        display: block;
    }

    @include e(composite-wrapper) {
        padding: var(--composite-padding);
    }

    @include mx(invalid, disabled) {
        @include e(composite) {
            border-color: var-get($_theme, 'disabled-color');
        }

        @include e(composite-mark) {
            stroke: var-get($_theme, 'disabled-tick-color');
        }
    }
}
