@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body > * {
    height: 100%;
}

.no-height {
    height: unset;
}
