.cards-wrapper {
    columns: 2 320px;
    justify-items: center;
    padding-block-start: 2rem;
}

.card {
    min-width: 320px;
    max-width: 320px;
    margin: 1rem;

    h4 {
        margin-bottom: 1rem;
    }
}
