button {
    margin: 0.2rem;
}

[igxButton="contained"] {
    margin: 0.5rem 0.5rem 0.5rem 0;

    &:nth-child(12) {
        margin-bottom: 3rem;
    }

    &:last-child {
        margin-bottom: 3rem;
    }
}

.density-chooser {
    margin-bottom: 1rem;

    igx-buttongroup {
        display: block;
        width: 500px;
    }
}

.grid-size {
    --ig-size: var(--ig-size-small);
}
