@use 'igniteui-theming/sass/themes' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/date-range-picker' as *;

$base: digest-schema($light-date-range-picker);
$material: digest-schema($material-date-range-picker);
$bootstrap: digest-schema($bootstrap-date-range-picker);
$fluent: digest-schema($fluent-date-range-picker);
$indigo: digest-schema($indigo-date-range-picker);
