.overflowContainer > .igx-display-container {
    overflow: visible !important;
}

.overflowContainer {
    position: relative;
    overflow: hidden;
}

.even {
    background-color: var(--ig-gray-100);
}

.horizontal-container {
    display: block;
    position: relative;
    height: 150px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2),
        0 1px 1px 0 rgba(0, 0, 0, .14),
        0 2px 1px -1px rgba(0, 0, 0, .12);
    margin: 0 auto 24px;
    max-width: 880px;
}

.list-container {
    display: flex;
    flex-direction: column;
    padding: 16px 8px 0;
}

.list-container > .igx-display-container {
    flex-direction: row;
    overflow: visible;
}

.item-container {
    display: flex;
    align-items: center;
}

.vertical-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 40px;
}

igx-input-group {
    margin: 16px 0;
}
