////
/// @group themes
/// @access public
/// @author <a href="https://github.com/desig9stein" target="_blank">Marin Popov</a>
////


/// Button Group Theme
/// @param {Color} $item-text-color [null]- Set text color for button group items.
/// @param {Color} $item-background [null] - Set background color for button group items .
/// @param {Color} $$item-border-color [null] - Set border color between button group items.
///
/// @param {Color} $icon-text-color [null] - Set color for buttons with icons.
///
/// @param {Color} $item-hover-text-color [null] - Set text color for button group items in :hover state.
/// @param {Color} $item-hover-background [null] - Set background color for button group items in :hover state.
///
/// @param {Color} $icon-hover-text-color [null]- Set color for buttons with icons in :hover state.
///
/// @param {Color} $item-selected-text-color [null]- Set text color for a selected item from the button group.
/// @param {Color} $item-selected-background [null] - Set background color for a selected item from the button group.
/// @param {Color} $item-selected-border-color [null] - Set border color for a selected item from the button group.
///
/// @param {Color} $icon-selected-text-color [null] - Set icon color for a selected item from the button group.
///
/// @param {Color} $disabled-text-color [null]- Set text color/icon color for a disabled item from the button group.
/// @param {Color} $disabled-background-color [null] - Set background color for a disabled item from the button group.
///
/// @requires text-contrast
///
/// @example scss Change the background, text color and border color for button group
///   $my-button-group-theme: igx-button-group-theme(
///     $item-text-color: white,
///     $item-background: rgba(0,0,0, .8),
///     $$item-border-color: #dadada
///   );
///   // Pass the theme to the igx-button-group component mixin
///   igx-button-group($my-button-group-theme);

@function igx-button-group-theme(
    // NORMAL
    $item-text-color: null,
    $item-background: null,
    $item-border-color: null,

    $icon-text-color: null,

    // HOVER
    $item-hover-text-color: null,
    $item-hover-background: null,

    $icon-hover-text-color: null,

    // DISABLED
    $disabled-text-color: null,
    $disabled-background-color: null,

    // SELECTED
    $item-selected-text-color: null,
    $item-selected-background: null,
    $item-selected-border-color: null,

    $icon-selected-text-color: null
) {
    $disabled-background-color: $item-background;

    // -- Color
    @if not($item-text-color) and $item-background  {
        $item-text-color: text-contrast($item-background);
    }

    // -- icon
    @if not($icon-text-color) and $item-background {
        $icon-text-color: text-contrast($item-background);
    }

    // -- Background
    @if not($item-hover-background) and $item-background {
        $item-hover-background: rgba(text-contrast($item-background), .2);
    }

    // -- Color
    @if not($item-hover-text-color) and $item-hover-background {
        $item-hover-text-color: text-contrast($item-background);
    }

    // -- Icon color
    @if not($icon-hover-text-color) and $item-hover-background {
        $icon-hover-text-color: text-contrast($item-background);
    }

    // -- Background
    @if not($item-selected-background) and $item-background {
        $item-selected-background: rgba(text-contrast($item-background), .2);
    }

    // -- Border
    @if not($item-selected-border-color) and $item-background {
        $item-selected-border-color: rgba(text-contrast($item-background), .2);
    }

    // -- Color
    @if not($item-selected-background) and $item-background {
        $item-selected-text-color: text-contrast($item-background);
    }

    // -- Color
    @if not($item-selected-text-color) and $item-selected-background {
        $item-selected-text-color: text-contrast($item-background);
    }

    // -- Icon color
    @if not($icon-selected-text-color) and $item-selected-background {
        $icon-selected-text-color: text-contrast($item-background);
    }

    @if not($disabled-text-color) and $item-background {
        $disabled-text-color: rgba(text-contrast($item-background), .3);
    }

    @return (
        // NORMAL
        item-text-color: $item-text-color,
        item-background: $item-background,
        icon-text-color: $icon-text-color,
        item-border-color: $item-border-color,

        // HOVER
        item-hover-text-color: $item-hover-text-color,
        item-hover-background: $item-hover-background,
        icon-hover-text-color: $icon-hover-text-color,

        // DISABLED
        disabled-text-color:$disabled-text-color,
        disabled-background-color:$disabled-background-color,

        // SELECTED
        item-selected-text-color: $item-selected-text-color,
        item-selected-background: $item-selected-background,
        item-selected-border-color: $item-selected-border-color,
        icon-selected-text-color: $icon-selected-text-color,
    );
}


/// Button group Component
/// @param {Map} $theme - The theme used to style the component.
/// @param {Map} $palette [$default-palette] - The palette used as basis for styling the component.
/// @requires igx-button-group-theme
/// @requires igx-color
@mixin igx-button-group($theme, $palette: $default-palette) {
    $default-theme: igx-button-group-theme(
        // NORMAL
        $item-text-color: igx-color($palette, 'grays', 500),
        $icon-text-color: igx-color($palette, 'grays', 500),

        $item-background: #fff,
        $item-border-color: transparent,

        // HOVER
        $item-hover-text-color: igx-color($palette, 'grays', 800),
        $icon-hover-text-color: igx-color($palette, 'grays', 800),

        $item-hover-background: igx-color($palette, 'grays', 400),
        // SELECTED
        $item-selected-text-color: igx-color($palette, 'grays', 800),
        $icon-selected-text-color: igx-color($palette, 'grays', 800),

        $item-selected-background: igx-color($palette, 'grays', 400),
        $item-selected-border-color: rgba(igx-color($palette, 'grays', 500), .12),
        // DISABLED
        $disabled-text-color: igx-color($palette, 'grays', 300),
        $disabled-background-color: transparent
    );

    // Group layout
    $bgroup-radius: 2px;
    $bgroup-shadow: igx-elevation($elevations, 2);

    // Item style
    $bgroup-item-minwidth: 24px;
    $bgroup-item-minheight: 36px;
    $bgroup-item-border-thickness: 1px;
    $bgroup-item-font-weight: 600;

    // Margin between item elements
    $bgroup-items-margin: rem(10px, 16px);
    $this: extend($default-theme, $theme);

    %igx-bgroup-display {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        border-radius: $bgroup-radius;
        box-shadow: $bgroup-shadow;
        transition: box-shadow .2s ease;
        overflow: hidden;
        background-color: map-get($this, 'item-background');
    }

    %igx-bgroup-vertical {
        flex-flow: column nowrap;
    }

    %igx-bgroup-item {
        box-sizing: content-box;
        flex-grow: 1;
        flex-basis: 0;
        border: initial;
        border-left: $bgroup-item-border-thickness solid;
        border-right: $bgroup-item-border-thickness solid;
        border-color: map-get($this, 'item-border-color');
        min-width: $bgroup-item-minwidth;
        min-height: $bgroup-item-minheight;
        border-radius: 0;
        color: map-get($this, 'item-text-color');
        font-weight: $bgroup-item-font-weight;
        background-color: map-get($this, 'item-background');

        &:first-child {
            border-left-width: 0;
        }

        &:last-child {
            border-right-width: 0;
        }

        &:hover,
        &:focus{

            color: map-get($this, 'item-hover-text-color');
            background: map-get($this, 'item-hover-background');
        }
    }

    %igx-bgroup-item-vertical {
        border-left: 0;
        border-right: 0;
        border-bottom: $bgroup-item-border-thickness solid;
        border-color: map-get($this, item-border-color);

        &:first-child {
            border-top: 0;
        }
    }

    %igx-bgroup-item-selected {
        color: map-get($this, 'item-selected-text-color');
        background: map-get($this, 'item-selected-background');
        border-color: map-get($this, 'item-selected-border-color');

        &:hover,
        &:focus{
            color: map-get($this, 'item-selected-text-color');
            background: map-get($this, 'item-selected-background');
            border-color: map-get($this, 'item-selected-border-color');
        }
    }



    %igx-bgroup-item-content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        line-height: initial;
        align-items: center;
        text-align: center;

        * ~ * {
            margin-left: $bgroup-items-margin;
        }
    }
}
