$component-name: 'igx-button-group';

$components: register-component($components, #{$component-name});

@function igx-button-group-theme(
    $button-group-text-color: null,
    $button-group-background: null,
    $button-group-border-color: null,

    // BUTTON GROUP SELECTED
    $button-group-selected-text-color: null,
    $button-group-selected-background: null,
    $button-group-selected-border-color: null
) {
    @return (
        button-group-text-color: $button-group-text-color,
        button-group-background: $button-group-background,
        button-group-border-color: $button-group-border-color,
        // BUTTON GROUP SELECTED
        button-group-selected-text-color: $button-group-selected-text-color,
        button-group-selected-background: $button-group-selected-background,
        button-group-selected-border-color: $button-group-selected-border-color
    );
}
@mixin igx-button-group($theme, $palette: $default-palette) {
    $default-theme: igx-button-group-theme(
        $button-group-text-color: igx-color($palette, grays, 500),
        $button-group-background: $white,
        $button-group-border-color: transparent,
        // BUTTON GROUP SELECTED
        $button-group-selected-text-color: igx-color($palette, grays, 600),
        $button-group-selected-background: igx-color($palette, grays, 400),
        $button-group-selected-border-color: igx-color($palette, grays, 200)
    );

    // 26. Button Group
    // Group layout
    $bgroup-radius: 2px !default;
    $bgroup-shadow: $elevate-2 !default;
    // Item style
    $bgroup-item-minwidth: 24px !default;
    $bgroup-item-minheight: 24px !default;
    $bgroup-item-border-thickness: 1px !default;
    $bgroup-item-font-weight: 600 !default;
    // Item style selected
    $bgroup-selected-bg: $lightgray;
    $bgroup-item-color-selected: $darkgray !default;
    $bgroup-item-background-selected: $bgroup-selected-bg !default;
    $bgroup-item-border-selected: igx-color($palette, 'grays', 200) !default;
    // Margin between item elements
    $bgroup-items-margin: em(10px, 16px) !default;
    $this: extend($default-theme, $theme);

    %igx-bgroup-display {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        border-radius: $bgroup-radius;
        box-shadow: $bgroup-shadow;
        transition: box-shadow .2s ease;
        overflow: hidden;
    }

    %igx-bgroup-vertical {
        flex-flow: column nowrap;
    }

    %igx-bgroup-item {
        box-sizing: content-box;
        flex-grow: 1;
        flex-basis: 0;
        border: initial;
        border-left: $bgroup-item-border-thickness solid;
        border-right: $bgroup-item-border-thickness solid;
        border-color: map-get($this, button-group-border-color);
        min-width: $bgroup-item-minwidth;
        min-height: $bgroup-item-minheight;
        border-radius: 0;
        color: map-get($this, button-group-text-color);
        font-weight: $bgroup-item-font-weight;
        background: map-get($this, button-group-background);

        &:first-child {
            border-left: 0;
        }

        &:last-child {
            border-right: 0;
        }

        &:hover {
            @extend %igx-bgroup-item-selected;
        }
    }

    %igx-bgroup-item-selected {
        color: map-get($this, button-group-selected-text-color) !important;
        background: map-get($this, button-group-selected-background) !important;
        border-color: map-get($this, button-group-selected-border-color);
    }

    %igx-bgroup-item-vertical {
        border-left: 0;
        border-right: 0;
        border-bottom: $bgroup-item-border-thickness solid;
        border-top: $bgroup-item-border-thickness solid;
        border-color: map-get($this, button-group-border-color);

        &:first-child {
            border-top: 0;
        }

        &:last-child {
            border-bottom: 0;
        }
    }

    %igx-bgroup-item-vertical-selected {
        color: map-get($this, button-group-selected-text-color) !important;
        background: map-get($this, button-group-selected-background) !important;
        border-color: map-get($this, button-group-selected-border-color);
    }

    %igx-bgroup-item-content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;

        * ~ * {
            margin-left: $bgroup-items-margin;
        }
    }
}
