$component-name: 'igx-snackbar';

$components: register-component($components, #{$component-name});

@function igx-snackbar-theme(
    $background: null,
    $button-color: null
    ) {
    @return (
        background: $background,
        button-color: $button-color
    );
}

@mixin igx-snackbar($theme, $palette: $default-palette) {
    $default-theme: igx-snackbar-theme(
        $background: igx-color($palette, 'grays', 800),
        $button-color: igx-color($palette, 'accent')
    );

    $this: extend($default-theme, $theme);

    // @debug $this;

    $snackbar-height: em(48px) !default;
    $snackbar-padding: em(7px) em(24px) !default;
    $snackbar-button-left-margin: em(24px) !default;
    $snackbar-font-size: em(14px) !default;
    $snackbar-text-color: text-contrast(map-get($this, 'background')) !default;
    $snackbar-button-line-height: em(16px) !default;
    $snackbar-button-font-weight: 600 !default;

    %igx-snackbar-display {
        display: flex;
        position: relative;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        min-height: $snackbar-height;
        padding: $snackbar-padding;
        background: map-get($this, 'background');
        color: $snackbar-text-color;
        backface-visibility: hidden;
    }

    %igx-snackbar-message {
        font-size: $snackbar-font-size;
    }

    %igx-snackbar-button {
        background: transparent;
        color: map-get($this, 'button-color');
        border: 0;
        line-height: $snackbar-button-line-height;
        margin-left: $snackbar-button-left-margin;
        text-transform: uppercase;
        user-select: none;
        font-weight: $snackbar-button-font-weight;
        -webkit-tap-highlight-color: transparent;
        outline: none;
        transition: color .2s ease;

        &:hover {
            color: map-get($this, 'button-color');
        }
    }
}
