.ig-control__cbx:not(:checked),
.ig-control__cbx:checked {
    @include hide-default;
}

.ig-control__cbx {
  ~ label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: $checkbox-height;
    line-height: $checkbox-height;
    font-size: $input-font-size;
    color: $input-color;
    padding-left: $checkbox-label-padding;
  }
  ~ label:before {
    transform: translateZ(0);
    transition: $input-transition;
  }
  ~ label:before,
  ~ label:after {
    position: absolute;
    content: '';
    left: 0;
    border-radius: $checkbox-radius;
  }
  &:not(:checked) ~ label:before {
    width: $checkbox-tick-width;
    height: $checkbox-tick-height;
    border: none;
    top: 1px;
    left: 0;
    -webkit-transform: rotateZ(37deg) translate3d(0, 0, 0);
    transform: rotateZ(37deg) scale(.1);
    -webkit-transform-origin: 20% 40%;
    transform-origin: 100% 100%;
  }
  &:not(:checked) ~ label:after {
    width: $checkbox-width;
    height: $checkbox-height;
    background: none;
    border: 2px solid $radio-empty-color;
    z-index: 0;
  }
  &:checked {
    ~ label:before {
      top: 1px;
      left: 0;
      width: $checkbox-tick-width;
      height: $checkbox-tick-height;
      border-bottom: 2px solid $checkbox-tick-color;
      border-right: 2px solid $checkbox-tick-color;
      z-index: 1;
      backface-visibility: hidden;
      transform: rotateZ(37deg) scale(1);
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }
    ~ label:after {
      width: $checkbox-width;
      height: $checkbox-height;
      background-color: $radio-fill-color;
      border: 2px solid $radio-fill-color;
    }
  }
  &:disabled ~ label {
    color: #d1d1d1;
		pointer-events: none;
  }
  &:disabled:not(:checked) ~ label:before {
    background-color: transparent;
    border: 2px solid transparent;
  }
  &:disabled:not(:checked) ~ label:after {
    border-color: $input-disabled-solid-color;
    background-color: transparent;
  }
  &:disabled:checked ~ label:before {
    background-color: transparent;
  }
  &:disabled:checked ~ label:after {
    background-color: $input-disabled-solid-color;
    border-color: $input-disabled-solid-color;
  }
}