@mixin user-select {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
}

@mixin hide-default {
  position: absolute;
  opacity: 0;
  margin: 0;
  z-index: -1;
  width: 0;
  height: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
}