//// Radio
/// @group components
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
/// @requires {mixin} bem-block
/// @requires {mixin} bem-elem
/// @requires {mixin} bem-mod
////
@include b(igx-control) {
    @include register-component(igx-radio);

    $block: bem--selector-to-string(&);

    @extend %igx-control-display !optional;

    @include e(radio) {
        //hide default radio control

        @include hide-default();

        ~ #{$block}__label {
            @extend %igx-radio-lbl-display !optional;
        }

        &:not(:checked) ~ #{$block}__label::before {
            @extend %igx-radio-lbl-notchecked--before !optional;
        }

        &:not(:checked) ~ #{$block}__label::after {
            @extend %igx-radio-lbl-notchecked--after !optional;
        }

        &:checked ~ #{$block}__label::before {
            @extend %igx-radio-lbl-checked--before !optional;
        }

        &:checked ~ #{$block}__label::after {
            @extend %igx-radio-lbl-checked--after !optional;
        }

        &:disabled ~ #{$block}__label {
            @extend %igx-radio-lbl--disabled !optional;
        }

        &:disabled:checked ~ #{$block}__label::before {
            @extend %igx-radio-lbl-checked--disabled-before !optional;
        }

        &:disabled:checked ~ #{$block}__label::after {
            @extend %igx-radio-lbl-checked--disabled-after !optional;
        }

        &:disabled:not(:checked) ~ #{$block}__label::after {
            @extend %igx-radio-lbl-notchecked--disabled-after !optional;
        }
    }
}

