////
/// @group themes
/// @access public
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
/// @author <a href="https://github.com/desig9stein" target="_blank">Marin Popov</a>
////

/// @param {Map} $palette [$default-palette] - The palette used as basis for styling the component.
/// @param {Color} $label-color [null]- The text color used for the label text.
/// @param {Color} $empty-color [null] - The unchecked border color.
/// @param {Color} $fill-color [null] - The checked border and dot colors.
/// @param {Color} $disabled-color [null] - The disabled border and dot colors.
/// @param {Bool} $light [null] - Determines the default color scheme - light or not.
/// @param {String} $variant ['dark'] - Determines the default color scheme - could be 'light' or 'dark'.
///
/// @requires extend
/// @requires igx-color
///
/// Set light to true when the surrounding area is dark.
/// @example scss Change the checked dot and border colors
///   $my-radio-theme: igx-radio-theme($fill-color: magenta);
///   // Pass the theme to the igx-radio component mixin
///   @include igx-radio($my-radio-theme);
@function igx-radio-theme(
    $palette: $default-palette,
    $label-color: null,
    $empty-color: null,
    $fill-color: null,
    $disabled-color: null,

    $light: false,
    $variant: 'dark'
) {
    $name: 'igx-radio';

    $dark-theme: (
        name: $name,
        label-color: igx-color($palette, 'grays', 900),
        empty-color: igx-color($palette, 'grays', 600),
        fill-color: igx-color($palette, 'secondary', 500),
        disabled-color: igx-color($palette, 'grays', 400)
    );

    $light-theme: (
        name: $name,
        label-color: igx-color($palette, 'grays', 600),
        empty-color: rgba(255, 255, 255, .7),
        fill-color: igx-color($palette, 'secondary', 500),
        disabled-color: rgba(255, 255, 255, .3)
    );

    $default-theme: if($light == false or $variant == 'dark', $dark-theme, $light-theme);

    @return extend($default-theme, (
        palette: $palette,
        label-color: $label-color,
        empty-color: $empty-color,
        fill-color: $fill-color,
        disabled-color: $disabled-color,
    ));
}

/// @param {Map} $theme - The theme used to style the component.
/// @requires {mixin} igx-root-css-vars
/// @requires {mixin} igx-css-vars
/// @requires {mixin} scale-in-out
/// @requires {mixin} animation
/// @requires {mixin} igx-ripple
/// @requires {mixin} hide-default
/// @requires igx-ripple-theme
/// @requires em
/// @requires var
@mixin igx-radio($theme) {
    @include igx-root-css-vars($theme);
    @include scale-in-out($start-scale: .9);

    $font-size: 16px;
    $label-margin: em(8px);

    $size: em(20px);

    $border-style: 2px solid;
    $border-radius: 50% 50%;

    $transition: all .2s ease-in;

    $ripple-size: em(48px);
    $ripple-radius: $ripple-size / 2;

    $ripple-theme: igx-ripple-theme(
        $color: var($theme, 'fill-color')
    );

    %radio-display {
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
        font-size: $font-size;
        color: var($theme, 'label-color');
    }

    %radio-input {
        @include hide-default();
    }

    %radio-display--disabled {
        pointer-events: none;
        color: var($theme, 'disabled-color');
        user-select: none;
    }

    %radio-composite {
        position: relative;
        display: inline-block;
        width: $size;
        height: $size;
        min-width: $size;
        line-height: $size;
        cursor: pointer;
        color: var($theme, 'label-color');
        user-select: none;

        &::before,
        &::after {
            position: absolute;
            content: '';
            width: $size;
            height: $size;
            left: 0;
            top: 0;
            border-radius: $border-radius;
        }

        &::before {
            backface-visibility: hidden;
            transform: scale3d(0, 0, 0);
            transition: $transition;
        }

        &::after {
            border: $border-style var($theme, 'empty-color');
        }
    }

    %radio-composite--x {
        &::before {
            border: $border-style var($theme, 'fill-color');
            background-color: var($theme, 'fill-color');
            transform: scale3d(.5, .5, .5);
        }

        &::after {
            border: $border-style var($theme, 'fill-color');
        }
    }

    %radio-composite--disabled {
        &::after {
            border: $border-style var($theme, 'disabled-color');
        }
    }

    %radio-composite--x--disabled {
        &::after {
            border: $border-style var($theme, 'disabled-color');
        }

        &::before {
            background-color: var($theme, 'disabled-color');
            border: $border-style transparent;
        }
    }

    %radio-label {
        color: currentColor;
        font-size: $font-size;
        line-height: 1;
        cursor: pointer;
        user-select: none;
        word-wrap: break-all;
    }

    %radio-label--after {
        margin-left: $label-margin;

        [dir='rtl'] & {
            margin-left: initial;
            margin-right: $label-margin;

            &:empty {
                margin: 0;
            }
        }
    }

    %radio-label--before {
        order: -1;
        margin-right: $label-margin;

        [dir='rtl'] & {
            margin-right: initial;
            margin-left: $label-margin;

            &:empty {
                margin: 0;
            }
        }
    }

    %radio-ripple {
        @include igx-ripple($ripple-theme);
        @include igx-css-vars($ripple-theme);
        position: absolute;
        top: calc(50% - #{$ripple-radius});
        left: calc(50% - #{$ripple-radius});
        width: $ripple-size;
        height: $ripple-size;
        border-radius: $ripple-radius;
        overflow: hidden;
        pointer-events: none;
        filter: opacity(1);
    }

    %radio-ripple--focused {
        @include animation('scale-in-out' 1s $ease-out-quad infinite);
        background-color: var($theme, 'fill-color');
        transition: background-color .2s $ease-out-quad;
        opacity: .12;
    }
}
