$component-name: 'igx-radio';
$components: register-component($components, #{$component-name});

@function igx-radio-theme(
    $label-color: null,
    $empty-color: null,
    $fill-color: null,
    $disabled-color: null,

    $light: false
) {
    @return (
        label-color: $label-color,
        empty-color: $empty-color,
        fill-color: $fill-color,
        disabled-color: $disabled-color,

        light: $light,
    );
}

@mixin igx-radio($theme, $palette: $default-palette) {

    $dark-theme: igx-radio-theme(
        $label-color: igx-color($palette, 'grays', 900),
        $empty-color: igx-color($palette, 'grays', 600),
        $fill-color: igx-color($palette, 'accent', 500),
        $disabled-color: igx-color($palette, 'grays', 400)
    );

    $light-theme: igx-radio-theme(
        $label-color: igx-color($palette, 'grays', 600),
        $empty-color: rgba(255, 255, 255, .7),
        $fill-color: igx-color($palette, 'accent', 500),
        $disabled-color: rgba(255, 255, 255, .3)
    );

    $this: ();

    @if map-get($theme, 'light') {
        $this: extend($light-theme, $theme);
    } @else {
        $this: extend($dark-theme, $theme);
    }

    $input-font-size: rem(16px);
    $input-transition: all .2s ease-in;
    $checkbox-label-padding: rem(24px, 16px);
    $radio-border-style: 2px solid;
    $radio-width: 20px;
    $radio-height: $radio-width;
    $radio-radius: 50% 50%;

    %igx-radio-lbl-display {
        display: inline-block;
        position: relative;
        cursor: pointer;
        height: $radio-height;
        line-height: $radio-height;
        font-size: $input-font-size;
        color: map-get($this, 'label-color');
        padding-left: $checkbox-label-padding;
        user-select: none;

        &::before,
        &::after {
            position: absolute;
            content: '';
            width: $radio-width;
            height: $radio-height;
            left: 0;
            top: 0;
            border-radius: $radio-radius;
        }

        &::before {
            backface-visibility: hidden;
            transform: translateZ(0);
            transition: $input-transition;
        }
    }

    %igx-radio-lbl-notchecked--before {
        transform: scale3d(0, 0, 0);
    }

    %igx-radio-lbl-notchecked--after {
        border: $radio-border-style map-get($this, 'empty-color');
    }

    %igx-radio-lbl-checked--before {
        border: $radio-border-style map-get($this, 'fill-color');
        background-color: map-get($this, 'fill-color');
        transform: scale3d(.5, .5, .5);
    }

    %igx-radio-lbl-checked--after {
        border: $radio-border-style map-get($this, 'fill-color');
    }

    %igx-radio-lbl--disabled {
        pointer-events: none;
        color: map-get($this, 'disabled-color');
    }

    %igx-radio-lbl-notchecked--disabled-after {
        border: $radio-border-style map-get($this, 'disabled-color');
    }

    %igx-radio-lbl-checked--disabled-before {
        background-color: map-get($this, 'disabled-color');
        border: $radio-border-style transparent;
    }

    %igx-radio-lbl-checked--disabled-after {
        border: $radio-border-style map-get($this, 'disabled-color');
    }
}
