<!-- IgxGrid -->
<div class="grid__wrapper">
    <igx-expansion-panel #collapsibleComponent [collapsed]="true">
        <igx-expansion-panel-header [disabled]="false">
            <igx-expansion-panel-title>Flat Grid</igx-expansion-panel-title>
            <igx-expansion-panel-icon *ngIf="templatedIcon">
                {{collapsed() ? 'Expand':'Collapse'}}
            </igx-expansion-panel-icon>
        </igx-expansion-panel-header>
        <igx-expansion-panel-body>
            <div style='width: 100%; height: 100%'>
                <ng-container *ngTemplateOutlet="controls; context: getContext(grid)"></ng-container>
                <igx-grid [id]="gridId" #grid [igxGridState]="options" columnSelection="multiple" displayDensity="cosy"
                    width="1200px" height="550px" [autoGenerate]="false" [data]="localData" primaryKey="EmployeeID"
                    [rowEditable]="false" [allowFiltering]="true" [allowAdvancedFiltering]="true"
                    [filterMode]="'excelStyleFilter'" displayDensity="cosy" cellSelection="multiple"
                    rowSelection="multiple">
                    <igx-grid-toolbar [displayDensity]="grid.displayDensity">
                        <igx-grid-toolbar-actions>
                            <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
                            <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
                            <igx-grid-toolbar-advanced-filtering></igx-grid-toolbar-advanced-filtering>
                        </igx-grid-toolbar-actions>
                    </igx-grid-toolbar>
                    <igx-column *ngFor="let c of initialColumns" [sortable]="c.sortable" [movable]="c.movable"
                        [editable]="true" [hasSummary]="c.hasSummary" [filterable]="c.filterable"
                        [groupable]="c.groupable" [field]="c.field" [header]="c.header" [dataType]="c.dataType"
                        [pinned]="c.pinned" [hidden]="c.hidden">
                    </igx-column>

                    <!-- Grid Detail View Template -->
                    <ng-template igxGridDetail let-dataItem>
                        <span>Detail view</span>
                    </ng-template>
                    <igx-paginator></igx-paginator>
                </igx-grid>
            </div>
        </igx-expansion-panel-body>
    </igx-expansion-panel>

    <div #clear="tooltip" igxTooltip>Clear the state from localStorage.</div>
    <div #reload="tooltip" igxTooltip>Reload the page.</div>
</div>

<!-- IgxHierarchicalGrid -->
<div class="grid__wrapper">
    <igx-expansion-panel #collapsibleComponent [collapsed]="true">
        <igx-expansion-panel-header [disabled]="false">
            <igx-expansion-panel-title>Hierarchical Grid</igx-expansion-panel-title>
            <igx-expansion-panel-icon *ngIf="templatedIcon">
                {{collapsed() ? 'Expand':'Collapse'}}
            </igx-expansion-panel-icon>
        </igx-expansion-panel-header>
        <igx-expansion-panel-body>
            <div style='width: 100%; height: 100%'>
                <ng-container *ngTemplateOutlet="controls; context: getContext(hGrid)"></ng-container>
                <igx-hierarchical-grid #hierGrid [id]="hGridId" [data]="hierData" [showExpandAll]='true'
                    hasChildrenKey="hasChild" igxGridState columnSelection="multiple" displayDensity="cosy"
                    rowSelection="multiple" [autoGenerate]="false" [allowFiltering]="true"
                    primaryKey="ID" [height]="'1300px'" [width]="'100%'" #hGrid>
                    <igx-grid-toolbar [displayDensity]="hierGrid.displayDensity">
                        <igx-grid-toolbar-actions>
                            <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
                            <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
                        </igx-grid-toolbar-actions>
                    </igx-grid-toolbar>
                    <igx-column *ngFor="let c of hierGridColumns" [sortable]="c.sortable" [movable]="c.movable"
                        [editable]="true" [filterable]="c.filterable" [groupable]="c.groupable" [field]="c.field"
                        [header]="c.header" [dataType]="c.dataType" [pinned]="c.pinned" [hidden]="c.hidden">
                    </igx-column>

                    <igx-row-island primaryKey="ID" key="childData" height="450px" [showExpandAll]="true"
                        [autoGenerate]="false" [allowFiltering]="true" rowSelection="multiple" #layout1>
                        <igx-grid-toolbar [displayDensity]="hierGrid.displayDensity">
                            <igx-grid-toolbar-actions>
                                <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
                                <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
                            </igx-grid-toolbar-actions>
                        </igx-grid-toolbar>
                        <igx-column *ngFor="let c of hierGridColumns" [sortable]="c.sortable" [movable]="c.movable"
                            [editable]="true" [filterable]="c.filterable" [groupable]="c.groupable" [field]="c.field"
                            [header]="c.header" [dataType]="c.dataType" [pinned]="c.pinned" [hidden]="c.hidden">
                        </igx-column>

                        <igx-row-island primaryKey="ID" [key]="'childData'" [autoGenerate]="false"
                            rowSelection="multiple" [allowFiltering]="true">
                            <igx-column *ngFor="let c of hierGridColumns" [sortable]="c.sortable" [movable]="c.movable"
                                [editable]="true" [filterable]="c.filterable" [groupable]="c.groupable"
                                [field]="c.field" [header]="c.header" [dataType]="c.dataType" [pinned]="c.pinned"
                                [hidden]="c.hidden">
                            </igx-column>

                            <igx-row-island primaryKey="ID" [key]="'childData'" [autoGenerate]="false"
                                rowSelection="multiple" [allowFiltering]="true">
                                <igx-column *ngFor="let c of hierGridColumns" [sortable]="c.sortable"
                                    [movable]="c.movable" [editable]="true" [filterable]="c.filterable"
                                    [groupable]="c.groupable" [field]="c.field" [header]="c.header"
                                    [dataType]="c.dataType" [pinned]="c.pinned" [hidden]="c.hidden">
                                </igx-column>
                            </igx-row-island>
                        </igx-row-island>
                    </igx-row-island>
                    <igx-paginator></igx-paginator>
                </igx-hierarchical-grid>
            </div>
        </igx-expansion-panel-body>
    </igx-expansion-panel>
</div>

<!-- IgxTreeGrid -->
<div class="grid__wrapper">
    <igx-expansion-panel #collapsibleComponent [collapsed]="true">
        <igx-expansion-panel-header [disabled]="false">
            <igx-expansion-panel-title>Tree Grid Flat data using PK and FK</igx-expansion-panel-title>
            <igx-expansion-panel-icon *ngIf="templatedIcon">
                {{collapsed() ? 'Expand':'Collapse'}}
            </igx-expansion-panel-icon>
        </igx-expansion-panel-header>
        <igx-expansion-panel-body>
            <div style='width: 100%; height: 100%'>
                <ng-container *ngTemplateOutlet="controls; context: getContext(treeGrid)"></ng-container>
                <igx-tree-grid [id]="treeGridId" igxGridState #treeGrid [data]="treeGridFlatData"
                    primaryKey="employeeID" foreignKey="PID" [allowFiltering]="true" displayDensity="cosy"
                    rowSelection="multiple" [paging]="false" [width]="'900px'" [height]="'800px'">
                    <igx-grid-toolbar [displayDensity]="treeGrid.displayDensity">
                        <igx-grid-toolbar-actions>
                            <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
                            <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
                        </igx-grid-toolbar-actions>
                    </igx-grid-toolbar>
                    <igx-column *ngFor="let c of treeGridColumns" [field]="c.field" [dataType]="c.dataType"
                        [header]="c.header" [pinned]="c.pinned" [movable]="c.movable" [groupable]="false"
                        [resizable]="c.resizable" [width]="c.width" [sortable]="true" [filterable]="true"
                        [editable]="true" [hidden]="c.hidden" [hasSummary]="c.hasSummary" [minWidth]="c.minWidth"
                        [maxWidth]="c.maxWidth">
                    </igx-column>
                </igx-tree-grid>
            </div>
        </igx-expansion-panel-body>
    </igx-expansion-panel>
</div>

<!-- IgxTreeGrid Child Collection -->
<div class="grid__wrapper">
    <igx-expansion-panel #collapsibleComponent [collapsed]="true">
        <igx-expansion-panel-header [disabled]="false">
            <igx-expansion-panel-title>Tree Grid Flat Child Collection</igx-expansion-panel-title>
            <igx-expansion-panel-icon *ngIf="templatedIcon">
                {{collapsed() ? 'Expand':'Collapse'}}
            </igx-expansion-panel-icon>
        </igx-expansion-panel-header>
        <igx-expansion-panel-body>
            <div style='width: 100%; height: 100%'>
                <ng-container *ngTemplateOutlet="controls; context: getContext(treeGridHier)"></ng-container>
                <igx-tree-grid #treeGridHier [id]="treeGridHierId" igxGridState primaryKey="Name" [data]="employees"
                    childDataKey="Employees" displayDensity="cosy" width="100%" height="800px" [autoGenerate]="false"
                    [rowSelection]="'multiple'" [allowFiltering]="true">
                    <igx-grid-toolbar [displayDensity]="treeGridHier.displayDensity">
                        <igx-grid-toolbar-actions>
                            <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
                            <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
                        </igx-grid-toolbar-actions>
                    </igx-grid-toolbar>
                    <igx-column field="Name" dataType="string" [sortable]="true" [editable]="true" [movable]="true"
                        [resizable]="true" [hasSummary]="true"></igx-column>
                    <igx-column field="HireDate" dataType="date" [sortable]="true" [editable]="true" [movable]="true"
                        [resizable]="true"></igx-column>
                    <igx-column field="Age" dataType="number" [sortable]="true" [editable]="true" [movable]="true"
                        [resizable]="true"></igx-column>
                        <igx-paginator></igx-paginator>
                </igx-tree-grid>
            </div>
        </igx-expansion-panel-body>
    </igx-expansion-panel>
</div>

<ng-template #controls let-grid let-state="stateDirective">
    <ul>
        <li>Navigate away to visit the <a [routerLink]="['../gridAbout']"><strong>ABOUT</strong></a> page to save grid
            state into local storage.</li>
        <li>Use the switch buttons to turn on/off saving state for the corresponding feature.</li>
        <li>Use the <span class="clear-button" (click)="clearStorage(grid)" #target="tooltipTarget"
                [igxTooltipTarget]="clear">
                <igx-icon>delete</igx-icon>
            </span> and <span class="clear-button" (click)="reloadPage()" #target="tooltipTarget"
                [igxTooltipTarget]="reload">
                <igx-icon>refresh</igx-icon>
            </span> buttons to clear the localStorage content and reload the page with clear state.</li>
    </ul>
    <div class="controls-holder">
        <div class="switches">
            <div class="control-item" *ngFor="let f of features">
                <igx-switch [(ngModel)]="options[f.key]" (change)="onChange($event, f.key, state)">{{ f.shortName }}
                </igx-switch>
            </div>
        </div>
        <div class="switches" style="min-width: inherit">
            <div class="control-item">
                <button igxButton="raised" (click)="restoreGridState(state)">Restore All</button>
            </div>
            <div class="control-item">
                <button igxButton="raised" (click)="saveGridState(state)">Save</button>
            </div>
            <div class="control-item" *ngFor="let f of features">
                <button igxButton="raised" (click)="restoreFeature(state, f.key)">{{ f.shortName }}</button>
            </div>
        </div>
    </div>
</ng-template>