<!-- IgxGrid -->
<div class="grid__wrapper">
    <igx-expansion-panel #collapsibleComponent [collapsed]="true">
        <igx-expansion-panel-header [disabled]="false">
            <igx-expansion-panel-title>Flat Grid</igx-expansion-panel-title>
            <igx-expansion-panel-icon *ngIf="templatedIcon">
                {{collapsed() ? 'Expand':'Collapse'}}
            </igx-expansion-panel-icon>
        </igx-expansion-panel-header>
        <igx-expansion-panel-body>
            <div style='width: 100%; height: 100%'>
                <ng-container *ngTemplateOutlet="controls; context: getContext(grid)"></ng-container>
                <igx-grid [id]="gridId" #grid [igxGridState]="options" [columnPinning]="true"
                    width="1200px" height="550px" [autoGenerate]="false"
                    [data]="localData"
                    [primaryKey]="'EmployeeID'"
                    [rowEditable]="false"
                    [allowFiltering]="true" [allowAdvancedFiltering]="true" [filterMode]="'excelStyleFilter'"
                    [paging]="true"
                    [showToolbar]="true"
                    [columnPinning]="true"
                    [columnHiding]="true"
                    [displayDensity]="'cosy'"
                    [cellSelection]="'multiple'"
                    [rowSelection]="'multiple'">
                        <igx-column *ngFor="let c of initialColumns"
                            [sortable]="c.sortable"
                            [movable]="c.movable"
                            [editable]="true"
                            [hasSummary]="c.hasSummary"
                            [filterable]="c.filterable"
                            [groupable]="c.groupable"
                            [field]="c.field"
                            [header]="c.header"
                            [dataType]="c.dataType"
                            [pinned]="c.pinned"
                            [hidden]="c.hidden">
                        </igx-column>

                        <!-- Grid Detail View Template -->
                        <ng-template igxGridDetail let-dataItem>
                            <span>Detail view</span>
                        </ng-template>
                
                </igx-grid>
            </div>
        </igx-expansion-panel-body>
    </igx-expansion-panel>

    <div #clear="tooltip" igxTooltip>Clear the state from localStorage.</div>
    <div #reload="tooltip" igxTooltip>Reload the page.</div>
</div>

<!-- IgxHierarchicalGrid -->
<div class="grid__wrapper">
    <igx-expansion-panel #collapsibleComponent [collapsed]="true">
        <igx-expansion-panel-header [disabled]="false">
            <igx-expansion-panel-title>Hierarchical Grid</igx-expansion-panel-title>
            <igx-expansion-panel-icon *ngIf="templatedIcon">
                {{collapsed() ? 'Expand':'Collapse'}}
            </igx-expansion-panel-icon>
        </igx-expansion-panel-header>
        <igx-expansion-panel-body>
            <div style='width: 100%; height: 100%'>
                <ng-container *ngTemplateOutlet="controls; context: getContext(hGrid)"></ng-container>
                <igx-hierarchical-grid #hierGrid [id]="hGridId" [data]="localData2" [showExpandAll]='true' [hasChildrenKey]='"hasChild"' class="hgrid" igxGridState
                    [rowSelectable]="true" [autoGenerate]="false" [allowFiltering]='true'  [paging]="true" [rowDraggable]="true" primaryKey="ID"
                    [height]="'600px'" [width]="'100%'" #hGrid>
                    <igx-column field="ID" [resizable]="true" [pinned]="true" [filterable]='true'></igx-column>
                    <igx-column-group header="Information">
                        <igx-column field="ChildLevels" [resizable]="true" [groupable]='true'></igx-column>
                        <igx-column field="ProductName" hasSummary='true'></igx-column>
                    </igx-column-group>
                    <ng-template igxHeaderCollapsedIndicator>
                        <igx-icon role="button" fontSet="material">add</igx-icon>
                    </ng-template>
                    <ng-template igxHeaderExpandedIndicator>
                        <igx-icon role="button" fontSet="material">remove</igx-icon>
                    </ng-template>
                    <ng-template igxRowExpandedIndicator>
                        <igx-icon role="button" fontSet="material">remove</igx-icon>
                    </ng-template>
                    <ng-template igxRowCollapsedIndicator>
                        <igx-icon role="button" fontSet="material">add</igx-icon>
                    </ng-template>
                    <igx-row-island [height]='"1200px"' [showExpandAll]='true' [key]="'childData'" [autoGenerate]="false" [allowFiltering]='false' rowSelectable='true' #layout1>
                            <igx-column field="ID" [hasSummary]='true' [dataType]="'number'"></igx-column>
                            <igx-column-group header="Information2">
                                <igx-column field="ChildLevels" [resizable]="true" [groupable]='true'></igx-column>
                                <igx-column field="ProductName" [resizable]="true" [groupable]='true'></igx-column>
                            </igx-column-group>
                            <ng-template let-data igxRowDragGhost>
                                <div class="dragGhost">
                                        <igx-icon fontSet="material"></igx-icon> 
                                        Moving child {{data.ProductName}}!
                                    </div>
                            </ng-template>
                        <igx-row-island [key]="'childData'" [autoGenerate]="false" rowSelectable='true' [allowFiltering]='true' >
                                <igx-column field="ID" [hasSummary]='true'></igx-column>
                                <igx-column-group header="Information3">
                                    <igx-column [resizable]="true" field="ChildLevels"></igx-column>
                                    <igx-column field="ProductName"></igx-column>
                                </igx-column-group>
                                <igx-row-island [key]="'childData'" [autoGenerate]="false" rowSelectable='true'>
                                    <igx-column field="ID" [hasSummary]='true'></igx-column>
                                    <igx-column-group header="Information4">
                                        <igx-column field="ChildLevels"></igx-column>
                                        <igx-column field="ProductName"></igx-column>
                                    </igx-column-group>
                                </igx-row-island>
                                <igx-row-island [key]="'childData2'" [autoGenerate]="false">
                                    <igx-column field="ChildLevels" [groupable]='true' [hasSummary]='true'></igx-column>
                                    <igx-column field="ProductName" [groupable]='true' [hasSummary]='true'></igx-column>
                            </igx-row-island>
            
                        </igx-row-island>
                    </igx-row-island>
                </igx-hierarchical-grid>
            </div>
        </igx-expansion-panel-body>
    </igx-expansion-panel>
</div>

<!-- IgxTreeGrid -->
<div class="grid__wrapper">
    <igx-expansion-panel #collapsibleComponent [collapsed]="true">
        <igx-expansion-panel-header [disabled]="false">
            <igx-expansion-panel-title>Tree Grid</igx-expansion-panel-title>
            <igx-expansion-panel-icon *ngIf="templatedIcon">
                {{collapsed() ? 'Expand':'Collapse'}}
            </igx-expansion-panel-icon>
        </igx-expansion-panel-header>
        <igx-expansion-panel-body>
            <div style='width: 100%; height: 100%'>
                <ng-container *ngTemplateOutlet="controls; context: getContext(treeGrid)"></ng-container>
                <igx-tree-grid [id]="treeGridId" igxGridState #treeGrid [allowFiltering]='true' [data]="treeGridData" primaryKey="employeeID" foreignKey="PID" [rowSelectable]="true"
                    [paging]="false" [width]="'900px'" [height]="'800px'" [columnHiding]="true" [columnPinning]="true" exportExcelText="Export to Excel" exportCsvText="Export to CSV">
                    <igx-column *ngFor="let c of treeGridColumns" [field]="c.field" [dataType]="c.dataType" [header]="c.label"
                        [pinned]="c.pinned" [movable]="c.movable" [groupable]="false" [resizable]="c.resizable" [width]="c.width"
                        [sortable]="true" [filterable]="true" [editable]="true" [hidden]="c.hidden" [hasSummary]="c.hasSummary"
                        [minWidth]="c.minWidth" [maxWidth]="c.maxWidth">
                    </igx-column>

                    <ng-template igxToolbarCustomContent>
                        <app-grid-search-box [grid]="grid1" [style.width]="'530px'"></app-grid-search-box>
                    </ng-template>
                </igx-tree-grid>
            </div>
        </igx-expansion-panel-body>
    </igx-expansion-panel>
</div>

<ng-template #controls let-grid let-state="stateDirective">
    <ul>
        <li>Navigate away to visit the <a [routerLink]="['../gridAbout']"><strong>ABOUT</strong></a> page to save grid state into local storage.</li>
        <li>Use the switch buttons to turn on/off saving state for the corresponding feature.</li>
        <li>Use the <span class="clear-button" (click)="clearStorage(grid)" #target="tooltipTarget" [igxTooltipTarget]="clear"><igx-icon>delete</igx-icon></span> and <span class="clear-button" (click)="reloadPage()" #target="tooltipTarget" [igxTooltipTarget]="reload"><igx-icon>refresh</igx-icon></span> buttons to clear the localStorage content and reload the page with clear state.</li>
    </ul>
    <div class="controls-holder">
        <div class="switches">
            <div class="control-item" *ngFor="let f of features">
                <igx-switch [(ngModel)]="options[f.key]" (change)="onChange($event, f.key, state)">{{ f.shortName }}</igx-switch>
            </div>
        </div>
        <div class="switches" style="min-width: inherit">
            <div class="control-item">
                <button igxButton="raised" (click)="restoreGridState(state)">Restore All</button>
            </div>
            <div class="control-item" *ngFor="let f of features">
                <button igxButton="raised" (click)="restoreFeature(state, f.key)">{{ f.shortName }}</button>
            </div>
        </div>
    </div>
</ng-template>
