@use '../../../../../projects/igniteui-angular/src/lib/core/styles/themes' as *;

.igx-button.igx-button--flat,
.igx-button.igx-button--contained,
.igx-button.igx-button--outlined {
    padding-inline: pad-inline(rem(8px), rem(16px), rem(16px));
    padding-block: 0;
    min-height: sizable(rem(24px), rem(32px), rem(40px));
}

.ig-typography {
    .igx-button.igx-button--flat,
    .igx-button.igx-button--contained,
    .igx-button.igx-button--outlined {
        font-size: sizable(rem(14px), rem(14px), rem(16px));
    }
}

a.igx-button--flat {
    color: color($color: 'primary', $variant: 500);
    text-decoration: none;

    &:hover,
    &:focus,
    &:active,
    &:focus-within,
    &:focus-visible {
        background: color($color: 'gray', $variant: 100, $opacity: 0);
    }

    &:hover,
    &:focus,
    &:focus-within,
    &:focus-visible {
        color: color($color: 'primary', $variant: 400);
    }

    &:active {
        color: color($color: 'primary', $variant: 600);
    }

    &.igx-button--disabled {
        color: color($color: 'gray', $variant: 400);
    }
}
