<div class="wrapper">
    <div class="sample-content">
        <div class="sample-column">
            <div class="sample-buttons">
                <button igxButton="raised" [igxToggleAction]="dropDownComfortable"
                    [igxDropDownItemNavigation]="dropDownComfortable" displayDensity="comfortable">
                    Column Selection: {{grid1.columnSelection}}</button>
                <igx-drop-down #dropDownComfortable (onSelection)="onSelection($event)" displayDensity="comfortable">
                    <igx-drop-down-item *ngFor="let item of selectionModes">
                        {{ item }}
                    </igx-drop-down-item>
                </igx-drop-down>
            </div>
            <div class="density-chooser">
                <igx-buttongroup [values]="displayDensities" (selected)="selectDensity($event)"></igx-buttongroup>
            </div>
            <igx-grid #grid1 [data]="data" [displayDensity]="density" [columnSelection]="'multiple'" [allowFiltering]="true"
                [rowSelection]="'multiple'" [filterMode]="'excelStyleFilter'" [paging]="false" [width]="'900px'"
                [height]="'800px'" (onColumnSelectionChange)="onColumnSelection($event)">
                <igx-grid-toolbar [displayDensity]="grid.displayDensity">
                    <igx-grid-toolbar-actions>
                       <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
                       <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
                        <!-- <igx-grid-toolbar-advanced-filtering></igx-grid-toolbar-advanced-filtering> -->
                    </igx-grid-toolbar-actions>
                    <button igxButton="outlined" #columnSelectionButton igxRipple (click)="toggleColumnSelection()"
                        [displayDensity]="grid1.displayDensity">
                        <div class="igx-grid-toolbar__button-space">
                            <igx-checkbox [checked]="true" [disableRipple]="true" [readonly]="true" [disabled]="true">
                            </igx-checkbox>
                            <span>{{ grid1.selectedColumns().length }}</span>
                        </div>
                    </button>
                    <igx-drop-down #columnSelectionDropdown>
                        <igx-input-group class="igx-column-hiding__header-input">
                            <input igxInput tabindex="0" [(ngModel)]="searchSelectedColumn"
                                [placeholder]="'Filter Column list ...'" autocomplete="off" />
                        </igx-input-group>
                        <div class="igx-column-hiding__columns"
                            [style.max-height]="(grid1.calcHeight) ? grid1.calcHeight * 0.7 + 'px' : '100%'">
                            <igx-checkbox
                                *ngFor="let columnItem of grid1.columns | filterColumns: searchSelectedColumn"
                                class="igx-column-hiding__columns-item"
                                (change)="columnItem.selected = !columnItem.selected" [checked]="columnItem.selected"
                                [disabled]="!columnItem.selectable">
                                {{ columnItem.field }}
                            </igx-checkbox>
                        </div>
                        <div class="igx-column-hiding__buttons">
                            <button igxButton igxRipple (click)="grid1.selectAllColumns()">Select All</button>
                            <button igxButton igxRipple (click)="grid1.deselectAllColumns()"
                                [disabled]="grid1.selectedColumns().length === 0">Deselect All</button>
                        </div>
                    </igx-drop-down>
                </igx-grid-toolbar>
                <igx-column *ngFor="let c of columns" [field]="c.field" [header]="c.field" [movable]="c.movable"
                    [groupable]="c.groupable" [resizable]="c.resizable" [width]="c.width" [sortable]="c.sortable"
                    [filterable]="true" [editable]="true" [hidden]="c.hidden" [hasSummary]="true"
                    [selectable]="c.selectable" [dataType]="c.type">
                </igx-column>
            </igx-grid>

            <h1>TEST EXAMPLE</h1>
            <igx-grid #grid [data]="data" height="500px" width="1000px" [columnSelection]="'multiple'"
                columnWidth="100px">
                <igx-column-group header="General Information">
                    <igx-column field="CompanyName"></igx-column>
                    <igx-column-group header="Person Details">
                        <igx-column field="ContactName" [hidden]="true"></igx-column>
                        <igx-column field="ContactTitle" [selectable]="false"></igx-column>
                    </igx-column-group>
                </igx-column-group>
                <igx-column field="ID"></igx-column>
                <igx-column-group header="Country Information">

                    <igx-column-group header="Region Information">
                        <igx-column field="Country" [selectable]="false"></igx-column>
                        <igx-column field="Region"></igx-column>
                        <igx-column field="PostalCode"></igx-column>
                    </igx-column-group>
                    <igx-column-group header="City Information">
                        <igx-column field="City"></igx-column>
                        <igx-column field="Address"></igx-column>
                    </igx-column-group>
                </igx-column-group>
            </igx-grid>
            <div class="sample-buttons">
                <igx-buttongroup [multiSelection]="false" [values]="filterModes" (selected)="selectFilterMode($event)">
                </igx-buttongroup>
            </div>
            <div class="sample-buttons">
                <igx-switch [(ngModel)]="grid1.paging">Enable Paging</igx-switch>
                <br>
                <button igxButton="raised" (click)="getGridSelectedColunsData()">Get Selected Columns Data</button>
                <button igxButton="raised" (click)="getGridSelectedColumns()">Get Selected Columns</button>
                <button igxButton="raised" (click)="selectedColumns()">Select Columns</button>
                <button igxButton="raised" (click)="deselectCol()">Deselect ID</button>
                <button igxButton="raised" (click)="grid1.deselectAllColumns()">Deselect all columns</button>
                <button igxButton="raised" (click)="getGenInfoState()">get gen info state</button>
            </div>
        </div>
    </div>
</div>
