:host {
    display: flex;
    gap: 32px;

    > :first-child {
        flex: 1;
    }
}

.sample-actions {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border: 1px solid hsla(var(--ig-gray-200));
    margin-block-end: 8px;
}

.column-actions {
    max-width: 230px;
}

.column-actions,
.column-actions__header,
.column-actions__columns {
    display: flex;
    flex-direction: column;
}

.column-actions__header {
    padding: 16px;
}

.column-actions__columns {
    flex: 1;
    height: 150px;
    overflow-y: auto;

    gap: 8px;

    > * {
        padding-block: 4px;
        padding-inline: 16px;
    }
}

.column-hiding__buttons {
    display: flex;
    gap: 16px;
    padding: 8px 16px;
}

.density-chooser {
    display: block;
    margin-block-end: 16px;
}

igx-grid {
    margin-block-end: 32px;

    z-index: 0;

    &:first-of-type {
        z-index: 1;
    }
}

.selection-mode {
    text-transform: uppercase;
    color: hsla(var(--ig-primary-400));
}
