.sample-buttons {
    margin-top: 24px;

    & > button,
    & > igx-drop-down {
        --ig-size: var(--ig-size-large);
    }
}

[igxButton] {
    margin: 8px 8px 8px 0;
}

.density-chooser {
    margin-bottom: 16px;
    max-width: 900px;
}

igx-grid {
    &:first-of-type {
        margin-bottom: 3rem;
    }
}
