.sample-wrapper {
    width: inherit;
    position: relative;
    height: 100%;
    margin: 0 auto;
}

.sample-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0px 0px;
    -webkit-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    -moz-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.sample-column {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 25%;
    align-content: flex-start;
    margin: 16px;
    min-width: 280px;
}

.input-sample {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    padding: 24px 16px;
    margin-bottom: 48px;
}

.form-title {
    margin: 0;
    margin-bottom: 48px;
}

.igx-form-group+.igx-form-group {
    margin-top: 42px;
}
