$ig-light-blue: #0099ff;
$badge-background-color: #dd524d;

ig-tab-bar {

        position: absolute;
        width: 100%;
        height: 100%;

    .ig-tab-bar-inner {
        width: 100%;        
        overflow: auto;    
    }

    .tab-bar-top.ig-tab-bar-inner{

        ul{
            top: 0;
            border-top: 0;
        }

        li.selected {
            border-bottom: 4px solid $ig-light-blue;
            padding-bottom: 1px;           
        }
    }
    .tab-bar-bottom.ig-tab-bar-inner {
            height: 100%;

         ul{
            border-bottom: 0;
            bottom: 0;            

            li.selected {
                border-top: 4px solid $ig-light-blue;
                padding-top: 1px;    
            }
        }
    }

    ul {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        margin: 0;
        padding: 0;
        width: 100%;
        position: absolute;
        color: #555;

        li{
            text-align: center;
            line-height: 24px;
            padding: 5px 10px;
            list-style: none;
            display: inline-block;
            cursor: pointer;
            white-space: nowrap;
            position: relative;
            text-transform: uppercase;
            box-sizing: border-box;
            text-overflow: ellipsis;
            float: left;

            &.selected {
                color: $ig-light-blue;
            }

            &.col-2 {
                width: 50%;
            }

            &.col-3 {
                width: 33%;
            }

            &.col-3:last-of-type {
                width: 34%;
            }

            &.col-4 {
                width: 25%;
            }

            &.col-5 {
                width: 20%;
            }

            &.disabled {
                opacity: 0.5;
                cursor: default;
            }

            .tab-icon {
                height: 32px;
                width: 32px;                
                margin-left: auto;
                margin-right: auto;
                position: relative;

                &.icon-more {
                    font-size: 30px;
                    line-height: 15px;
                    color: $ig-light-blue;
                    background: none;
                }

                .badge {
                    height: 16px;
                    display: inline-block;
                    color: #fff;
                    background-color: $badge-background-color;
                    line-height: 16px;
                    margin-left: -40%;
                    font-size: 12px;                    
                    position: absolute;
                    top: 0;                    
                    left: 0;
                    border-radius: 50%;
                    padding: 2px 5px 2px 5px;

                    &.hidden{
                        display: none;
                    }
                }
            }

            .tab-label {
                font-size: 12px;
                line-height: 12px;
                padding-top: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

ig-tab {

    .ig-tab-inner {
        display: none;
        overflow: auto;

        &.selected {
            display: block;
        }
    }    
}
