<div>
    <div class="cards-container" [attr.disabled]="stateLoading ? true: null">
        <section class="cards-column">
            <article class="card-wrapper card-data-table">
                <igx-card>
                    <igx-card-header [innerHTML]="message">
                    </igx-card-header>
                    <igx-card-content>
                        <data-table #dataTable [dataContainer]="dataContainer"></data-table>
                    </igx-card-content>
                </igx-card>
            </article>
            <!--Filtering-->
            <filtering-panel [columns]="columns" [dataState]="dataState" [hidden]="hideFiltering"
                (onProcessDataState)="process()">
            </filtering-panel>
            <!-- //Filtering-->
        </section>

        <!--Paging-->
        <section class="cards-column">
            <paging-panel [dataState]="dataState" [hidden]="hidePaging"
                (onProcessDataState)="process()">
            </paging-panel>
        </section>
        <!--//Paging-->
        <!--Sorting-->
        <section class="cards-column">
            <sorting-panel [columns]="columns" [dataState]="dataState" [hidden]="hideSorting"
                (onProcessDataState)="process()">
            </sorting-panel>
        </section>
        <!--//Sorting-->
        
    </div>
</div>

