.data-table {
    border-spacing: 2px;
    border-collapse: collapse;
}
.data-table td, th {
    padding: 5px;
    border: 1px solid rgba(0,0,0,.14);
    
}
.data-table th {
    font-size: 1em;
    line-height: 1.5em;
    color: #757575;
    cursor: text;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
}