<article class="card-wrapper" *ngIf="!hidden">
    <igx-card>
        <igx-card-header>
            <h3 class="igx-card-header__title">{{title}}</h3>
        </igx-card-header>
        <igx-card-content>
            <table #filteringPanel class="tbl-settings">
                <tr>
                    <td>Column Name</td>
                    <td>Filtering Condition</td>
                    <td>Search Value</td>   
                </tr>
                <tr *ngFor="let column of columns" [attr.data-field-name]="column.fieldName">
                    <td>
                        {{column.fieldName}}:
                    </td>
                    <td>
                        <select [attr.data-filtering-type]="column.type"
                            (change)="onChangeFilteringCondition($event)"
                            [ngModel]="getSelectedFilteringCondition(column)">
                            <option *ngFor="let cond of getFilteringConditions(column)"
                                [value]="cond">
                                {{cond || "Not applied"}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <input data-filtering-search width="100" 
                            *ngIf="showFilteringSearchBox(column)" igxInput
                            [attr.type]="getDataTypeStringRepresentation(column)" 
                            [ngModel]="getSearchVal(column)"/>
                    </td>
                </tr>
            </table>
            <button igxButton igxButtonColor="#0375be" igxRipple (click)="process()">Filter</button>
        </igx-card-content>
    </igx-card>
</article>