<article class="card-wrapper" *ngIf="!hidden && this.dataState.paging">
    <igx-card>
        <igx-card-header>
            <h3 class="igx-card-header__title">{{title}}</h3>
        </igx-card-header>
        <igx-card-content>
            <div class="igx-form-group">
                <input width="100" igxInput type="number" type="number" [(ngModel)]="this.dataState.paging.index"/> <label igxLabel>Page index: </label> 
            </div>
            <div class="igx-form-group">
                <input igxInput type="number" type="number" [(ngModel)]="this.dataState.paging.recordsPerPage"/><label igxLabel>Records per page:</label>
                <button igxButton igxButtonColor="#0375be" igxRipple (click)="process()">
                    Process
                </button>
            </div>
        </igx-card-content>
    </igx-card>
</article>