<igx-tab-bar>
    <!--Local data-->
    <igx-tab-panel label="Local Data">
        <h4>Local Data</h4>
        <data-state-configurator
            [hideFiltering]="true" 
            [dataContainer]="localDataContainer"
            (onProcessDataState)="processLocalData($event)" 
            #localDataStateConfig></data-state-configurator>
    </igx-tab-panel>
    <!-- //Local data-->
    <!--Remote data-->
    <igx-tab-panel label="Remote Data">
        <igx-toast #toast></igx-toast>
        <h4>Remote Data</h4>
        <data-state-configurator 
            [hidePaging]="true" 
            [hideFiltering]="true" 
            (onProcessDataState)="processRemoteData($event)" 
            [dataContainer]="remoteDataContainer"
            #remoteDataStateConfig></data-state-configurator>
    </igx-tab-panel>
    <!--//Remote data-->
</igx-tab-bar>
