<section class="cards-column">
    <article class="card-wrapper" *ngIf="!hidden">
        <igx-card>
            <igx-card-header>
                <h3 class="igx-card-header__title">{{title}}</h3>
            </igx-card-header>
            <igx-card-content>
                <table #sortingPanel class="tbl-settings">
                    <tr>
                        <td>Column Name</td>
                        <td>Click to Sort</td>
                    </tr>
                    <tr *ngFor="let column of columns">
                        <td>
                            {{column.fieldName}}:
                        </td>
                        <td>
                            <button igxButton igxButtonColor="#0375be" igxRipple (click)="changeSortingDirection(column)">
                                {{getSortingButtonTitle(column)}}
                            </button>
                        </td>
                    </tr>
                </table> 
            </igx-card-content>
        </igx-card>
    </article>
</section>