<div class="sample-column">
    <div>igxGrid</div>
    <div style="width: 100%; margin-bottom: 15px; text-align:center; display: flex;">
        <div style="margin-right: 5px; text-align: start">
            <button (click)="togglePinning(grid, true, index, key)">Pin Row by index</button>
            <br />
            <button (click)="togglePinning(grid, false, index, key)">Pin Row by key</button>
        </div>
        <div style="margin-right: 5px; text-align: start">
            <button (click)="deleteRow(grid, index)">Delete</button>
        </div>
        <div style="margin-right: 5px; text-align: start">
            <button (click)="toggle(grid, index)">Expand/collapse</button>
        </div>
        <div style="margin-right: 5px; text-align: start">
            <button (click)="select(grid, index)">Select</button>
        </div>
        <div style="margin-right: 5px; text-align: start">
            <button (click)="selectChildren(grid, index)">Select Children</button>
        </div>
        <div style="margin-right: 5px; text-align: start">
            <button (click)="selectParent(grid, index)">Select Parent</button>
        </div>
        <div style="margin-right: 5px; text-align: start">
            <button (click)="logState(grid, index, gridLogger)">Log row state</button>
        </div>
        <div style="margin-right: 5px;">
            <input name="index" type="number" [(ngModel)]="index" />
            <br/>
            <input name="key" [(ngModel)]="key" />
        </div>
    </div>
    <div class="grid-wrapper">
        <igx-grid #grid [rowDraggable]="true" (rowDragStart)="onRowDragStart($event)"
        (onRowDragEnd)="onRowDragEnd($event)" [data]="data" [pinning]="pinningConfig" [rowEditable]="true" [allowFiltering]='true' [primaryKey]='"ID"' [width]="'800px'" [height]="'600px'" [rowSelection]="'multiple'">
            <ng-template igxGridDetail let-dataItem>
                <div>
                    <div><span class='categoryStyle'>Country:</span> {{dataItem.Country}}</div>
                    <div><span class='categoryStyle'>City:</span> {{dataItem.City}}</div>
                    <div><span class='categoryStyle'>Address:</span> {{dataItem.Address}}</div>
                </div>
            </ng-template>
            <igx-column *ngFor="let c of columns" [sortable]="true" [field]="c.field" [header]="c.field" [width]="c.width" [pinned]='c.pinned' [groupable]='c.groupable' [hidden]='c.hidden' [editable]='true' [hasSummary]='true'>
            </igx-column>
            <ng-template let-data igxRowDragGhost>
                <div class="allow-drop"> 
                    <igx-icon family="material">{{dragIcon}}{{countIcon}}</igx-icon> 
                </div>
            </ng-template>
            <igx-paginator></igx-paginator>
        </igx-grid>
    </div>
    <div class="log-wrapper">
        <div class="logContainer">
            <hr />
            <div #gridLogger class="logger"></div>
            <button class="clearBtn" igxButton="flat" (click)="clearLog(gridLogger)">
                <igx-icon>clear</igx-icon>
                <span>Clear log</span>
            </button>
        </div>
    </div>
    <br/>
</div>

<div class="sample-column">
    <div>IgxTreeGrid Hierarchical Data</div>
    <div style="width: 100%; margin-bottom: 15px; text-align:center; display: flex;">
        <div style="margin-right: 5px; text-align: start">
            <button (click)="togglePinning(treeGridHier, true, tHIndex, tHKey)">Pin Row by index</button>
            <br />
            <button (click)="togglePinning(treeGridHier, false, tHIndex, tHKey)">Pin Row by key</button>
        </div>
        <div style="margin-right: 5px; text-align: start">
            <button (click)="deleteRow(treeGridHier, tHIndex)">Delete Row by Index</button>
        </div>
        <div style="margin-right: 5px; text-align: start">
            <button (click)="toggle(treeGridHier, tHIndex)">Expand/collapse</button>
        </div>
        <div style="margin-right: 5px; text-align: start">
            <button (click)="select(treeGridHier, tHIndex)">Select</button>
        </div>
        <div style="margin-right: 5px; text-align: start">
            <button (click)="selectChildren(treeGridHier, tHIndex)">Select Children</button>
        </div>
        <div style="margin-right: 5px; text-align: start">
            <button (click)="selectParent(treeGridHier, tHIndex)">Select Parent</button>
        </div>
        <div style="margin-right: 5px; text-align: start">
            <button (click)="logState(treeGridHier, tHIndex, tHGridLogger)">Log row state</button>
        </div>
        <div style="margin-right: 5px;">
            <input name="tHIndex" type="number" [(ngModel)]="tHIndex" />
            <br/>
            <input name="tHKey" [(ngModel)]="tHKey" />
        </div>
    </div>
    <div class="grid-wrapper">
        <igx-tree-grid #treeGridHier
            id="testTreeGrid"
            [pinning]="pinningConfig"            
            [width]="'900px'" [height]="'500px'"
            [data]="treeGridHierData"
            childDataKey="ChildCompanies"
            primaryKey="ID"
            [expansionDepth]="1"
            [rowSelection]="'multiple'">
        <igx-column *ngFor="let c of treeGridHierColumns" [field]="c.field" [header]="c.field" [pinned]="c.pinned"
            [movable]="c.movable" [groupable]="false" [resizable]="c.resizable" [width]="c.width"
            [sortable]="true" [filterable]="true" [editable]="true" [hidden]="c.hidden" [hasSummary]="c.summary"
            [minWidth]="c.minWidth" [maxWidth]="c.maxWidth">
        </igx-column>
        
        <igx-paginator [perPage]="5"></igx-paginator>
        </igx-tree-grid>
    </div>
    <div class="log-wrapper">
        <div class="logContainer">
            <hr />
            <div #tHGridLogger class="logger"></div>
            <button class="clearBtn" igxButton="flat" (click)="clearLog(tGridLogger)">
                <igx-icon>clear</igx-icon>
                <span>Clear log</span>
            </button>
        </div>
    </div>
</div>

<div class="sample-column">
    <div>IgxTreeGrid Flat Data</div>
    <div style="width: 100%; margin-bottom: 15px; text-align:center; display: flex;">
        <div style="margin-right: 5px; text-align: start">
            <button (click)="togglePinning(treeGrid, true, tIndex, tKey)">Pin Row by index</button>
            <br />
            <button (click)="togglePinning(treeGrid, false, tIndex, tKey)">Pin Row by key</button>
        </div>
        <div style="margin-right: 5px; text-align: start">
            <button (click)="deleteRow(treeGrid, tIndex)">Delete Row by Index</button>
        </div>
        <div style="margin-right: 5px; text-align: start">
            <button (click)="toggle(treeGrid, tIndex)">Expand/collapse</button>
        </div>
        <div style="margin-right: 5px; text-align: start">
            <button (click)="select(treeGrid, tIndex)">Select</button>
        </div>
        <div style="margin-right: 5px; text-align: start">
            <button (click)="selectChildren(treeGrid, tIndex)">Select Children</button>
        </div>
        <div style="margin-right: 5px; text-align: start">
            <button (click)="selectParent(treeGrid, tIndex)">Select Parent</button>
        </div>
        <div style="margin-right: 5px; text-align: start">
            <button (click)="logState(treeGrid, tIndex, tGridLogger)">Log row state</button>
        </div>
        <div style="margin-right: 5px;">
            <input name="tIndex" type="number" [(ngModel)]="tIndex" />
            <br/>
            <input name="tKey" [(ngModel)]="tKey" />
        </div>
    </div>
    <div class="grid-wrapper">
        <igx-tree-grid #treeGrid
            [allowFiltering]='true'
            [data]="treeData"
            primaryKey="employeeID"
            foreignKey="PID"
            [rowSelection]="'multiple'"
            [width]="'900px'" [height]="'800px'">
            <igx-column *ngFor="let c of treeColumns" [field]="c.field" [dataType]="c.dataType" [header]="c.label" [pinned]="c.pinned" [movable]="c.movable" [groupable]="false" [resizable]="c.resizable" [width]="c.width" [sortable]="true" [filterable]="true" [editable]="true"
                [hidden]="c.hidden" [minWidth]="c.minWidth" [maxWidth]="c.maxWidth" [hasSummary]="true">
            </igx-column>
            <igx-paginator></igx-paginator>
        </igx-tree-grid>
    </div>
    <div class="log-wrapper">
        <div class="logContainer">
            <hr />
            <div #tGridLogger class="logger"></div>
            <button class="clearBtn" igxButton="flat" (click)="clearLog(tGridLogger)">
                <igx-icon>clear</igx-icon>
                <span>Clear log</span>
            </button>
        </div>
    </div>
</div>

<div class="sample-column">
    <div>igxHierarchicalGrid</div>
    <div style="width: 100%; margin-bottom: 15px; text-align:center; display: flex;">
        <div style="margin-right: 5px; text-align: start">
            <button (click)="togglePinning(hGrid, true, hIndex, hKey)">Pin Row by index</button>
            <br />
            <button (click)="togglePinning(hGrid, false, hIndex, hKey)">Pin Row by key</button>
        </div>
        <div style="margin-right: 5px; text-align: start">
            <button (click)="deleteRow(hGrid, hIndex)">Delete Row by Index</button>
        </div>
        <div style="margin-right: 5px; text-align: start">
            <button (click)="toggle(hGrid, hIndex)">Expand/collapse</button>
        </div>
        <div style="margin-right: 5px; text-align: start">
            <button (click)="select(hGrid, hIndex)">Select</button>
        </div>
        <div style="margin-right: 5px; text-align: start">
            <button (click)="logState(hGrid, hIndex, hGridLogger)">Log row state</button>
        </div>
        <div style="margin-right: 5px;">
            <input name="hIndex" type="number" [(ngModel)]="hIndex" />
            <br/>
            <input name="hKey" [(ngModel)]="hKey" />
        </div>
    </div>
    <div class="grid-wrapper">
        <igx-hierarchical-grid #hGrid [width]="'800px'" [height]="'600px'" [primaryKey]='"ID"' [allowFiltering]='true' [showExpandAll]='true' [data]="hierarchicalData" [rowSelection]="'multiple'">
            <igx-column *ngFor="let c of hColumns" [hasSummary]='true' [editable]="true" [sortable]="true" [field]="c.field" [header]="c.field" [width]="c.width" [pinned]='c.pinned' [groupable]='c.groupable'>
            </igx-column>
            <igx-row-island [key]="'childData'" [autoGenerate]="true" [rowSelection]="'multiple'" [allowFiltering]='true'>
                <igx-row-island [key]="'childData'" [autoGenerate]="true" [rowSelection]="'multiple'" [allowFiltering]='true'>
                    <igx-paginator *igxPaginator [perPage]="5"></igx-paginator>
                </igx-row-island>
                <igx-paginator *igxPaginator [perPage]="5"></igx-paginator>
            </igx-row-island>
            <igx-row-island [key]="'childData2'" [autoGenerate]="true" [allowFiltering]='true'>
                <igx-paginator *igxPaginator [perPage]="5"></igx-paginator>
            </igx-row-island>
            
            <igx-paginator></igx-paginator>
        </igx-hierarchical-grid>
    </div>
    <div class="log-wrapper">
        <div class="logContainer">
            <hr />
            <div #hGridLogger class="logger"></div>
            <button class="clearBtn" igxButton="flat" (click)="clearLog(hGridLogger)">
                <igx-icon>clear</igx-icon>
                <span>Clear log</span>
            </button>
        </div>
    </div>
</div>
