<div [hidden]="pin"
    class="igx-nav-drawer__overlay"
    [class.igx-nav-drawer__overlay--hidden]="!isOpen"
    (click)="close(true)">
</div>
<aside role="navigation"
    class="igx-nav-drawer__aside"
    [class.igx-nav-drawer__aside--collapsed]="!_hasMimiTempl && !isOpen"
    [class.igx-nav-drawer__aside--mini]="_hasMimiTempl && !isOpen"
    [class.igx-nav-drawer__aside--pinned]="pin"
    [class.igx-nav-drawer__aside--right]="position == 'right'">

    <div class="" [hidden]="!isOpen && _hasMimiTempl">
        <ng-content select=".igx-drawer-content"></ng-content>
    </div>                
    <div class="" [hidden]="isOpen">
        <ng-content select=".igx-drawer-mini-content"></ng-content>
    </div>
</aside>
<div class="igx-nav-drawer__style-dummy"></div>