@use 'igniteui-theming/sass/bem' as *;
@use 'igniteui-theming/sass/typography' as *;
@use 'igniteui-theming/sass/color/functions' as *;
@use '../../../../../core/src/core/styles/themes/scoping' as *;

@include themed-block(igx-chip, indigo, dark) {
    @include m(info) {
        &:focus {
            @include e(item) {
                box-shadow: 0 0 0 rem(3px) color($color: 'info', $variant: 800);
            }
        }
    }

    @include m(success) {
        &:focus {
            @include e(item) {
                box-shadow: 0 0 0 rem(3px) color($color: 'success', $variant: 900);
            }
        }
    }

    @include m(warning) {
        @include e(item) {
            color: color($color: 'gray', $variant: 50);
        }

        &:focus {
            @include e(item) {
                box-shadow: 0 0 0 rem(3px) color($color: 'warn', $variant: 900);
            }
        }
    }

    @include m(danger) {
        &:focus {
            @include e(item) {
                box-shadow: 0 0 0 rem(3px) color($color: 'error', $variant: 900);
            }
        }
    }

    @include mx(disabled, primary) {
        @include e(item) {
            color: contrast-color($color: 'primary', $variant: 900, $opacity: .2);
        }
    }

    @include mx(disabled, warning) {
        @include e(item) {
            color: color($color: 'gray', $variant: 50);
        }
    }

    @include mx(primary, outlined) {
        @include e(item) {
            color: contrast-color($color: 'primary', $variant: 900);
        }
    }

    @include mx(info, outlined) {
        @include e(item) {
            color: contrast-color($color: 'info', $variant: 900);
            border-color: color($color: 'info', $variant: 300);
        }
    }

    @include mx(success, outlined) {
        @include e(item) {
            color: contrast-color($color: 'success', $variant: 900);
            border-color: color($color: 'success', $variant: 500);
        }
    }

    @include mx(warning, outlined) {
        @include e(item) {
            color: contrast-color($color: 'warn', $variant: 900);
            border-color: color($color: 'warn', $variant: 300);
        }
    }

    @include mx(danger, outlined) {
        @include e(item) {
            color: contrast-color($color: 'error', $variant: 900);
            border-color: color($color: 'error', $variant: 400);
        }
    }

    @include mx(disabled, outlined, primary) {
        @include e(item) {
            color: contrast-color($color: 'gray', $variant: 100);
        }
    }

    @include mx(disabled, outlined, info) {
        @include e(item) {
            border-color: color($color: 'info', $variant: 300);
            color: contrast-color($color: 'gray', $variant: 100);
        }
    }

    @include mx(disabled, outlined, success) {
        @include e(item) {
            border-color: color($color: 'success', $variant: 500);
            color: contrast-color($color: 'gray', $variant: 100);
        }
    }

    @include mx(disabled, outlined, warning) {
        @include e(item) {
            border-color: color($color: 'warn', $variant: 300);
            color: contrast-color($color: 'gray', $variant: 100);
        }
    }

    @include mx(disabled, outlined, danger) {
        @include e(item) {
            border-color: color($color: 'error', $variant: 400);
            color: contrast-color($color: 'gray', $variant: 100);
        }
    }
}
