<h1 class="componentTitle">Avatar</h1>
<p class="componentDesc">A component that displays an image, text or icon as avatar.</p>
<div class="flex-container flex-wrap space-wrapper justify-content-center">
    <igx-avatar src="http://lorempixel.com/300/300/people/6/" roundShape="false">
        <igx-badge type="error" icon="favorite" position="bottom-right"></igx-badge>
    </igx-avatar>

    <igx-avatar src="http://lorempixel.com/300/300/people/9/" roundShape="true">
        <igx-badge type="error" icon="done" type="success"></igx-badge>
    </igx-avatar>

    <igx-avatar initials="RK" bgColor="#fbb13c"> </igx-avatar>

    <igx-avatar initials="ZK" bgColor="#731963" roundShape="true"></igx-avatar>

    <igx-avatar roundShape="true" icon="person" bgColor="#0375be" data-init="SS"></igx-avatar>

    <igx-avatar color="gray"></igx-avatar>

    <igx-avatar initials="HA" width="100" size="potatos" bgColor="#340068">
        <igx-badge type="info" icon="camera"></igx-badge>
    </igx-avatar>

    <igx-avatar initials="PP" width="100" color="black" icon="person" roundShape="false" bgColor="#94feed">
        <igx-badge iconBdg="person" value="7281" position="bottom-left"></igx-badge>
    </igx-avatar>

    <igx-avatar src="http://66.media.tumblr.com/avatar_af166f12c520_128.png" size="medium" roundShape="true" bgColor="#e41c77">
        <igx-badge position="top-left" type="error" icon="build"></igx-badge>
    </igx-avatar>

    <igx-avatar size="medium" src="http://fotouser.miarroba.st/99545357/300/sonic-kun.jpg" roundShape="true" bgColor="#484848">
            <igx-badge position="bottom-right" type="info" icon="timer"></igx-badge>
    </igx-avatar>
</div>