    <div id="phoneContainer" class="phone">
    <div id="mobileDiv" class="screen">
        <div>
            <span class="componentTitle">Avatar</span><br>
            <span class="componentDesc">A directive that displays an image or text as an avatar.</span><br><br>
                <table>
                        <tr>
                            <td>
                                <ig-avatar [src]="src" [roundShape]="roundShape">
                                </ig-avatar>
                            </td>
                            <td>
                                <ig-avatar [src]="src">
                                </ig-avatar>
                            </td>
                            <td>
                                <ig-avatar src="https://unsplash.it/60/60?image=55">
                                </ig-avatar>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ig-avatar src="https://unsplash.it/60/60?image=55" [initials]="initials"
                                    [bgColor]="bgColor" [roundShape]="roundShape">
                                </ig-avatar>
                            </td>
                            <td>
                                <ig-avatar initials="RK" bgColor="#fbb13c">
                                </ig-avatar>
                            </td>
                            <td>
                                <ig-avatar initials="AA" bgColor="#731963" roundShape="true">
                                </ig-avatar>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ig-avatar roundShape="true" icon="person" bgColor="#0375be" data-init="SS">
                                </ig-avatar>
                            </td>
                            <td>
                                <ig-avatar initials="ZK" width="100" roundShape="true"
                                    bgColor="#ff6978">
                                    <ig-badge type="error" value="z"></ig-badge>
                                </ig-avatar>
                            </td>
                            <td>
                                <ig-avatar initials="HA" width="100" size="potatos"
                                    bgColor="#340068">
                                    <ig-badge type="info"></ig-badge>
                                </ig-avatar>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ig-avatar initials="PP" width="100" color="black" icon="person"
                                    roundShape="false" bgColor="#94feed">
                                    <ig-badge iconBdg="person"></ig-badge>
                                </ig-avatar>
                            </td>
                            <td>
                                <ig-avatar initials="PP" size="medium" roundShape="false"
                                    bgColor="#e41c77">
                                    <ig-badge></ig-badge>
                                </ig-avatar>
                            </td>
                            <td>
                                <ig-avatar initials="ZK" size="large" roundShape="true"
                                    bgColor="#484848">
                                </ig-avatar>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ig-avatar color="gray">
                                </ig-avatar>
                            </td>
                            <td>
                                <span igButton="raised" (click)="changeLink()">Change Image</span>
                            </td>
                        </tr>

                    </table>
            </div>
        </div>
    </div>