<div class="sample-wrapper">
    <page-header title="Mask" description="Provide means for controlling user input and formatting the visible value based on a configurable mask rules."></page-header>
    <section class="sample-content">
        <article class="sample-column">
          <form class="input-sample" action="/" method="POST">
            <h4>Personal Data</h4>
            <br />
            <igx-input-group>
              <input igxInput name="name" type="text" [(ngModel)]="person.name" required  />
              <label igxLabel for="name">Name*</label>
            </igx-input-group>
            <igx-input-group>
                <input igxInput #dateInput name="birthday" type="text" [igxMask]="'00/00/0000'" [(ngModel)]="person.birthday" (blur)="validateDate(dateInput, snackbar)"/>
                <label igxLabel for="email">Birthday</label>
            </igx-input-group>
            <igx-input-group>
              <input igxInput #ssn name="socialSecurityNumber" type="text" [igxMask]="'###-##-####'" [(ngModel)]="person.socialSecurityNumber" (blur)="validateSSN(ssn, snackbar)"/>
              <label igxLabel for="socialSecurityNumber">Social Security Number</label>
            </igx-input-group>
            <igx-input-group>
                <input igxInput #phone name="phone" type="text" [igxMask]="'(####) 00-00-00 Ext. 9999'" [(ngModel)]="person.phone" />
                <label igxLabel for="phone">Phone</label>
            </igx-input-group>
            <igx-snackbar #snackbar></igx-snackbar>
          </form>
        </article>
      </section>
  </div>