$component-name: 'igx-icon';

$components: register-component($components, #{$component-name});

@function igx-icon-theme(
    $color: null,
    $disabled-color: null
) {
    @return (
        color: $color,
        disabled-color: $disabled-color
    );
}

@mixin igx-icon($theme, $palette: $default-palette) {
    $default-theme: igx-icon-theme(
        $color: currentColor,
        $disabled-color: igx-color($palette, 'grays', 500)
    );

    $this: extend($default-theme, $theme);

    // @debug $this;

    $igx-icon-font-size: rem(24px, 16px);

    %igx-icon-display {
        display: flex;
        color: map-get($this, 'color');
        position: relative;
        font-size: $igx-icon-font-size;
        justify-content: center;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
    }

    %igx-icon--inactive {
        color: map-get($this, 'disabled-color');
    }
}
