$component-name: 'igx-icon';

$components: register-component($components, #{$component-name});

@function igx-icon-theme($color) {
    @return (
        color: $color
    );
}

@mixin igx-icon($theme, $palette: $default-palette) {
    $default-theme: igx-icon-theme(
        $color: igx-color($palette, 'grays', 900)
    );

    $this: extend($default-theme, $theme);

    // @debug $this;

    $color: map-get($this, 'color');
    $disabled-color: igx-color($palette, 'grays', 500);
    $igx-icon-font-size: em(24px, 16px) !default;

    %igx-icon-display {
        display: flex;
        color: $color;
        position: relative;
        font-size: $igx-icon-font-size;
        justify-content: center;
    }

    %igx-icon--inactive {
        color: $disabled-color;
    }
}
