@function igx-carousel-theme(
    $arrow-color:null,
    $arrow-background:null,
    $indicator-background:null,
    $arrow-shadow: false
){
    @return(
        arrow-color:$arrow-color,
        arrow-background:$arrow-background,
        indicator-background:$indicator-background,
        disable-shadow: $arrow-shadow
    );
}

@mixin igx-carousel($theme, $palette: $default-palette) {
    @include scale-in-center();
    @include scale-out-center();

    $default-theme: igx-carousel-theme(
        $arrow-color: #fff,
        $arrow-background:transparentize(#fff, .7),
        $indicator-background:transparentize(#fff, .8)
    );

    $this: extend($default-theme, $theme);

    $carousel-arrow-margin: 0 em(16px);
    $carousel-indicators-margin: em(16px) 0;
    $carousel-indicators-padding: 0;
    $carousel-indicator-margin: 0 em(5px);
    $arrow-shadow: igx-elevation($elevations, 1);

    @if map-get($this, 'disable-shadow') {
        $arrow-shadow: none;
    }



    %igx-carousel-display {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        transform-style: preserve-3d;
        outline: none;
    }

    %igx-carousel-slide-wrapper {
        position: relative;
        width: 100%;
        height: inherit;
        overflow: hidden;

        .active {
            display: block;
        }
    }

    %igx-carousel-arrow {
        display: flex;
        margin: $carousel-arrow-margin;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 46px;
        height: 46px;
        top: 50%;
        transform: translateY(-50%);
        color: map-get($this, arrow-color);
        cursor: pointer;
        background-color: map-get($this, arrow-background);
        border-radius: 50%;
        box-shadow: $arrow-shadow;
        outline-style: none;
        transition: opacity .25s ease-out;

        span {
            display: flex;
            align-items: center;
        }
    }

    %igx-carousel-arrow--hover {
        opacity: .7;
    }

    %igx-carousel-arrow--next {
        right: 0;
    }

    %igx-carousel-arrow--prev {
        left: 0;
    }

    %igx-carousel-indicators {
        display: flex;
        margin: $carousel-indicators-margin;
        justify-content: center;
        align-items: center;
        position: absolute;
        list-style: none;
        z-index: 10;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: $carousel-indicators-padding;
        opacity: .85;

        li {
            margin: $carousel-indicator-margin;
            position: relative;
            width: 12px;
            height: 12px;
            text-indent: -9999px;
            cursor: pointer;
            border: 1px solid #fff;
            border-radius: 50%;
            background-color: map-get($this, indicator-background);
            transition: transform .25s $ease-in-quad;
            box-shadow: igx-elevation($elevations, 1);

            &::after {
                content: '';
                position: absolute;
                top: -1px;
                bottom: 0;
                left: -1px;
                right: 0;
                width: 12px;
                height: 12px;
                border-radius: inherit;
                background: #fff;
                transform: scale(0);
                @include animation('scale-out-center' .3s $ease-out-quad forwards);
            }

            &.active::after {
                @include animation('scale-in-center' .3s $ease-out-quad forwards);
            }

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    %igx-carousel-slide {
        display: none;
        width: 100%;
        height: 100%;
        position: relative;
        transition: .5s ease-in-out left;
        backface-visibility: hidden;
        perspective: 1000px;
    }

    %igx-carousel-slide img {
        width: inherit;
        height: inherit;
        transform: scale(1.01);
    }
}
