<section class="sample-content">
    <article class="sample-column">
        <h4 class="sample-title">Angular ButtonGroup</h4>
        <igx-buttongroup
        [selectionMode]="angularSelection"
        [alignment]="properties.alignment"
        [disabled]="properties.disabled">
            <button
            igxButton
            *ngFor="let city of cities">
                {{ city }}
            </button>
        </igx-buttongroup>
    </article>

    <article class="sample-column">
        <h4 class="sample-title">WC ButtonGroup</h4>
        <igc-button-group
        [selection]="properties.selection"
        [alignment]="properties.alignment"
        [disabled]="properties.disabled">
            <igc-toggle-button
            *ngFor="let city of cities"
            [value]="city">
                {{ city }}
            </igc-toggle-button>
        </igc-button-group>
    </article>
</section>
