.leftMargin {
    margin-left: 300px;
}

.bottomMargin {
    margin-bottom: 15px;
}

.btn {
    margin-right: 10px;
    width: 120px;
}

.igx-tooltip {
    border-radius: 2px 2px 2px 2px;
    background-color: gray;
    color: white;
    padding: 10px;
    margin-top: 10px;
}

.cellTooltip {
    width: 230px;
    font-size: 13px;
}

.specIcon:hover {
    cursor: pointer;
}
