.topMargin {
    margin-top: 50px;
}

.leftMargin {
    margin-left: 200px;
}

.btn {
    margin-right: 10px;
    width: 120px;
}

/* .igx-tooltip {
    border-radius: 2px 2px 2px 2px;
    background-color: gray;
    color: white;
    padding: 10px;
    margin-top: 10px;
} */

.custom-width {
    /* width: 180px; */
}

.custom-size {
    font-size: 56px;
    width: 56px;
    height: 56px;
    cursor: pointer;
}

.checkbox {
    display: flex;
}

.cursorHover:hover {
    cursor: pointer;
}

.card-wrapper {
    max-width: 200px;
    min-width: 120px;
}

.location {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 252px;
    background-image: url(../../assets/images/card/media/infragisticsMap.png);
}

.locationTooltip {
    width: 300px;
    background-color: rgba(128, 128, 128, 0.7);
    padding: 3px;
    font-size: 13px;
}

.locationTooltipContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.locationIcon {
    margin-right: 10px;
    min-width: 25px;
    width: 45px;
    height: 45px;
}

.cellTooltip {
    width: 230px;
    font-size: 13px;
}
