@media only screen and (max-width : 820px) {
  .section-from-left
  {
    .buttons-wrap
    {
      @include justify-content(flex-start);
    }
  }
  .banner-message
  {
    max-width : 80%;
  }
}

@media only screen and (max-width : 500px) {
  .logo
  {
    margin-bottom : em(40);
    left          : em(-16);
  }
  .header-bkg
  {
    .main-header
    {
      @include flex-direction(column);
      @include align-items(center)
    }
  }

  h1
  {
    font-size : em(30);
  }

  h2, h3
  {
    font-size : em(18);
  }
}

@media only screen and (max-width : 769px) {
  .main-footer
  {
    > div
    {
      height : auto;
    }
  }
  .logos-wrap
  {
    @include flex-direction(column);
    .group-logos
    {
      margin-bottom : em(20);
    }
  }

  .phon-preview
  {
    position : relative;
    width    : 100%;
    height   : auto;
  }

  .preview-container
  {
    width      : 100%;
    height     : auto;
    min-height : 40px;
    left       : 0;
    top        : 0;
    padding    : 0;
  }

  .dropdown
  {
    display       : block;
    margin-bottom : em(20);
  }
  .nav-components
  {
    margin-right : em(50);
  }

  .btn
  {
    width : 100%;
  }
  .banner-message
  {
    max-width : 100%;
  }
  .header-bkg,
  .section-wrap
  {
    margin-bottom : em(20);
  }

  .phons-image,
  .phon-image,
  .reflection-image,
  .nav-directives,
  .nav-components
  {
    display : none;
  }

  .section-from-left,
  .section-from-right
  {
    padding-left  : em(20);
    padding-right : em(20);

    &:before,
    &:after
    {
      display : none;
    }
  }

  .section-wrap
  {
    min-height : 0;
    @include flex-direction(column)
  }

  .section-message
  {
    @include flex(0, 1, auto);
    header
    {
      margin-bottom : em(20);
    }
  }
}

