@include b(authors) {
  margin: rem($top-gutter) 0 rem($bottom-gutter) 0;

  @include e(title) {
    @extend %section-title;
  }

  @include e(names) {
    a {
     @extend %link-style;
    }
  }

  @include e(names-list) {
    @extend %list-style;
    margin-bottom: 0;
    p {
      margin-bottom: 0;
    }

    li {
      margin-top: rem(12px);
    }
  }
}