@include b(infra-button) {
    @extend %button;
    width: 100%;
    color: #fff;
    background: #09f;
    border: 1px solid #09f;
    font-weight: 600;
    text-transform: uppercase;

    &:hover {
        color: #09f;
        background: transparent;
    }

    @include m(flat) {
        @extend %button;
        color: rgb(157, 157, 157);
        background: transparent;
        text-transform: none;
        font-weight: 400;

        &:hover {
            color: #fff
        }
    }
}
