@include b(defined-in) {
  margin: rem($top-margin-negative) 0 rem($bottom-gutter) 0;

  @include e(header) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  @include e(icon) {
    font-size: rem(18px);
    width: 18px;
    height: 18px;
    background: url('../img/github.svg') no-repeat top left;
    background-size: contain;
  }

  @include e(title) {
    @extend %section-title;
    font-size: rem(14);
    margin-right: rem(4);
  }

  @include e(path) {
    @extend %link-style;
  }
}
