@include b(description) {
    margin-bottom: rem(32px);
    font-size: rem(15px);
    font-weight: 500;
    font-style: italic;
    color: $black;

    a {
        @extend %link-style;
    }

    p {
        margin-bottom: rem(16px);
    };
}