@include b(example) {
    margin-bottom: rem(32px);

    @include e(header) {
        background: $nav-bg;
        padding: rem(8px);
        border: 1px solid #ededed;
        border-bottom: none;

        p {
            margin-bottom: 0;
        }
    }

    @include e(header-title) {
        @extend %section-title;
    }

    @include e(header-subtitle) {
        display: flex;
        align-items: center;
        margin-top: rem(8px);
        font-size: 14px;
        justify-content: space-between;
    }

    @include e(header-type) {
        margin-right: rem(4px);
        color: $black;
        font-weight: 500;
    } 

    @include e(header-description) { }

    @include e(pre) {
        padding: 24px;
    }
}