@include b(nav-wrapper) {
    position: relative;
    width: rem($navbar-width);
    min-width: rem($navbar-width);
    top: rem(36);

    @include e(nav) {
        position: fixed;
        width: rem($navbar-width);
        height: calc(100% - #{map-get($infra-head-height, 'mobile') + $secondary-header-height + $search-input-height}px);
        background: $nav-bg;
        border-right: 1px solid $nav-border-color;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@include b(nav-group) {
    list-style: none;
    padding: 0;
    margin: rem(8) 0;

    @include e(header) {
        cursor: pointer;
        padding: rem(4) rem(8);

        &:hover {
            h1 {
                color: $igblue;
            }
        }

        h1 {
            color: $black;
            display: flex;
            align-items: center;
            user-select: none;
            font-size: rem(13px, 16px);
            font-weight: 500;
            text-transform: uppercase;
        }

        h1::before {
            color: $igblue;
            margin-right: rem(4);
            font-family: 'Material Icons', sans-serif;
            content: '\e15b';
        }
    }

    @include e(header, $m: collapsed) {
        h1::before {
            color: $igblue;
            font-family: 'Material Icons', sans-serif;
            margin-right: rem(4);
            content: '\e145';
        }
    }
}
