@include b(require) {
  @include e(title) {
    @extend %section-title;
    margin-bottom: rem(16);
  }

  @include e(list) {
    @extend %list-style;
  }

  @include e(list-link) {
    @extend %link-style;
    color: #666;

    &:hover {
      color: $igblue;
    }

    margin-bottom: rem(8);
  }

  @include e(list-item) {
    margin-bottom: rem(8);
  }

  @include e(list-type) {
    @extend %type;
    margin-left: 0;
  }

  @include e(list-type, $m: mixin) {
    @extend %type;
    @extend %type-mixin ;
  }

  @include e(list-type, $m: function) {
    @extend %type;
    @extend %type-function;
  }
}