@include b(search-form) {
    position: fixed;
    z-index: 4;
    background: $nav-bg;
    width: rem($navbar-width);
    min-width: rem($navbar-width);
    top: rem(map-get($infra-head-height, 'mobile') + $secondary-header-height);

    @media only screen and (min-width: 960px) {
        top: rem(map-get($infra-head-height, 'desktop') + $secondary-header-height);
    }

    @include e(input-container) {
        position: relative;
        height: rem($search-input-height);
    }

    @include e(input-icon) {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: rem(18);
        color: $igblue;
        top: 0;
        left: 0;
        width: rem(31);
        height: rem(36);
        z-index: 4;
    }

    @include e(input) {
        position: relative;
        width: 100%;
        height: 100%;
        padding: rem(4) rem(8) rem(4) rem(31);
        font-size: rem(12);
        border: none;
        border-right: 1px solid $nav-border-color;
        border-bottom: 1px solid $base-border-color;

        &:focus,
        &:hover {
            outline: none;
        }
    }

    @include e(results) {
        position: absolute;
        top: rem(36);
        width: 100%;
        background: #fff;
        max-height: rem(300);
        overflow-y: auto;
        opacity: .94;
        border: 1px solid $base-border-color;
        box-shadow: 0 12px 24px rgba(#000, .06);
    }

    @include e(results, $m: hidden) {
        display: none;
    }

    @include e(results-list) {
        list-style: none;
        padding: 0;
        margin: 0;

        &:empty {
            display: none;
        }
    }

    @include e(results-list-item) {
        display: flex;

        a {
            @extend %link-style;
            padding: rem(8) rem(16);
            color: #666;
            flex: 1 1 100%;
            outline-style: none;

            &:focus,
            &:hover {
                background: #dedede;
            }
        }

        .item {
            &--variable {
                @extend %type;
            }

            &--function {
                @extend %type;
                @extend %type-function;
            }

            &--mixin {
                @extend %type;
                @extend %type-mixin;
            }
        }
    }
}
