@include b(source) {
  margin-bottom: rem(32px);

  @include e(header) { } 

  @include e(title) {
    @extend %section-title;
    background: $nav-bg;
    padding: rem(8px);
    border: 1px solid #ededed;
    border-bottom: none;
  }
}