@include b(subnav) {
  list-style: none;
  padding: 0 rem(8);

  @include e(item) {
      font-size: rem(12px, 16px);
      padding: rem(4) 0;

    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-decoration: none;
      color: $base-color;
      padding-left: rem(16);
    }

    &:hover {
      a {
        color: $igblue;
      }
    }
  }

  @include e(item-type) {
    @extend %type;
    margin-right: rem(4);
  }

  @include e(item-type, $m: mixin) {
    @extend %type;
    @extend %type-mixin;
    margin-right: rem(4);
  }

  @include e(item-type, $m: function) {
    @extend %type;
    @extend %type-function;
    margin-right: rem(4);
  }

  @include m(collapsed) {
      display: none;
  }
}