@include b(usedby) {
  margin: rem($top-gutter) 0 rem($bottom-gutter) 0;

  @include e(title) {
    @extend %section-title;
    margin-bottom: rem(16px);
  }

  @include e(list) {
    @extend %list-style;
  }

  @include e(list-link) {
    @extend %link-style;
    color: #666;
    &:hover {
      color: $igblue;
    }
  }

  @include e(list-item) {
    margin-bottom: rem(10);
  }

  @include e(list-type) {
    @extend %type;
    margin-left: 0;
  }

  @include e(list-type, $m: mixin) {
    @extend %type;
    @extend %type-mixin;
  }

  @include e(list-type, $m: function) {
    @extend %type;
    @extend %type-function;
  }
}
