@use 'igniteui-theming/sass/bem' as *;
@use 'igniteui-theming/sass/typography' as *;
@use 'styles/themes/standalone' as *;

@include themed-block(igx-time-picker, material) {
    @include e(header) {
        padding: rem(16px) rem(24px);
    }
}
