@use 'igniteui-theming/sass/themes' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/dialog' as *;

$base: digest-schema($base-dark-dialog);
$material: digest-schema($dark-material-dialog);
$bootstrap: digest-schema($dark-bootstrap-dialog);
$fluent: digest-schema($dark-fluent-dialog);
$indigo: digest-schema($dark-indigo-dialog);
