@use 'igniteui-theming/sass/themes' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/card' as *;

$material: digest-schema($dark-material-card);
$bootstrap: digest-schema($dark-bootstrap-card);
$fluent: digest-schema($dark-fluent-card);
$indigo: digest-schema($dark-indigo-card);
