<ng-container *ngTemplateOutlet="bundle"></ng-container>

<ng-template #label>
    <ng-content select="[igxLabel]"></ng-content>
</ng-template>

<ng-template #uploadButton>
    @if (isFileType) {
        <div class="igx-input-group__upload">
            <button
                    igxButton
                    type="button"
                    class="igx-input-group__upload-button"
                    [disabled]="disabled"
                    tabindex="-1"
            >
                {{ resourceStrings.igx_input_upload_button }}
            </button>
        </div>
    }
</ng-template>

<ng-template #files>
    @if (isFileType) {
        <div
            class="igx-input-group__file-input"
            [title]="fileNames"
        >
            <span>{{ fileNames }}</span>
        </div>
    }
</ng-template>

<ng-template #clear>
    @if (isFileType && isFilled) {
        <igx-suffix
                class="igx-input-group__clear-icon"
                (click)="clearValueHandler()"
                (keydown.Enter)="clearValueHandler()"
                title="clear files"
                tabindex="0"
        >
            <igx-icon family="default" name="input_clear"></igx-icon>
        </igx-suffix>
    }
</ng-template>

<ng-template #bundle>
    @if (!isTypeBorder) {
        <ng-container *ngTemplateOutlet="label"></ng-container>
    }

    <div class="igx-input-group__bundle">
        <div class="igx-input-group__bundle-start">
            <ng-content select="igx-prefix, [igxPrefix]"></ng-content>
        </div>

        @if (isFileType) {
            <ng-container *ngTemplateOutlet="uploadButton"></ng-container>
        }

        @if (isTypeBorder) {
            <div class="igx-input-group__notch">
                <ng-container *ngTemplateOutlet="label"></ng-container>
            </div>
        }

        <div class="igx-input-group__bundle-main">
            <ng-content select="[igxInput]"></ng-content>

            @if (isFileType) {
                <ng-container *ngTemplateOutlet="files"></ng-container>
            }
        </div>

        @if (isTypeBorder) {
            <div class="igx-input-group__filler"></div>
        }

        <div class="igx-input-group__bundle-end">
            @if (isFileType && isFilled) {
                <ng-container *ngTemplateOutlet="clear"></ng-container>

            }
            <ng-content select="igx-suffix, [igxSuffix]"></ng-content>
        </div>
    </div>


    <div class="igx-input-group__hint" (click)="hintClickHandler($event)">
        <ng-content select="igx-hint, [igxHint]"></ng-content>
    </div>
</ng-template>
