<div class="wrapper">
  <div class="sample-content">
    <div class="sample-column">
      <div class="density-chooser">
        <igx-buttongroup [values]="displayDensities" (selected)="selectDensity($event)"></igx-buttongroup>
      </div>
      <igx-grid #grid1 [data]="data" [width]="'900px'" [height]="'800px'" [displayDensity]="density"
                [allowFiltering]="true" [rowSelection]="selectionMode" [filterMode]="'excelStyleFilter'"
                [uniqueColumnValuesStrategy]="columnValuesStrategy">
        <igx-grid-toolbar [displayDensity]="grid1.displayDensity">
          <igx-grid-toolbar-actions>
              <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
              <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
          </igx-grid-toolbar-actions>
        </igx-grid-toolbar>
        <igx-column [field]="'ID'" [filterable]="true" [sortable]="true" [movable]="true" [dataType]="'string'"></igx-column>
        <igx-column [field]="'CompanyName'" [filterable]="true" [sortable]="true" [movable]="true" [dataType]="'string'"></igx-column>
        <igx-column [field]="'Employees'" [filterable]="true" [sortable]="true" [movable]="true" [dataType]="'number'"></igx-column>
        <igx-column [field]="'Contract'" [filterable]="true" [sortable]="true" [movable]="true" [dataType]="'boolean'"></igx-column>
        <igx-column [field]="'DateCreated'" [filterable]="true" [sortable]="true" [movable]="true" [dataType]="'date'"></igx-column>

        <!-- <ng-template igxExcelStyleLoading>
          Loading ...
        </ng-template> -->
      </igx-grid>
    </div>
  </div>
</div>
