@use 'sass:map';
@use '../../../../../projects/igniteui-angular/src/lib/core/styles/themes' as *;

$_base-schema: $light-indigo-schema;
$_radio-schema: extend(
    map.get($_base-schema, 'radio'),
    (
    )
);

@mixin component() {
    @include radio(
        radio-theme(
            extend(
                $_base-schema,
                (
                    radio: $_radio-schema,
                )
            )
        )
    );

    .ig-typography {
        @include radio-typography(
            $categories: (label: 'subtitle-2')
        );
    }
}
