/* List styles */
$default-color: #444;
$default-bg: #eee;
$default-header-bg: #efeff4;
$default-item-bg: #fff;
$default-border-bottom: 1px solid #c8c7cc;
$rotate45:  rotate(45deg);
$rotate135:  rotate(135deg);
$item-hover-bg: #fdfdfd;
$item-active-bg: #fbfbfb;

/* list component */
ig-list {

    .ig-list-inner {
        background-color: $default-bg;
    }

    a {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        display: inline-block;
        padding: 10px 25px 10px 10px;
        position: relative;
        text-decoration: none;
    }

    a:before, a:after {
        border-right: 2px solid;
        content: '';
        display: block;
        height: 8px;
        margin-top: -6px;
        position: absolute;
        right: 10px;
        top: 50%;
        width: 0;
    }

    a:before {
        -moz-transform: $rotate135;
        -o-transform: $rotate135;
        -webkit-transform: $rotate135;
        transform: $rotate135;
    }

    a:after {
        margin-top: -1px;
        -moz-transform: $rotate45;
        -o-transform: $rotate45;
        -webkit-transform: $rotate45;
        transform: $rotate45;
    }

    a:hover, a:focus,
    :hover:before, a:hover:after,
    a:focus:before, a:focus:after {
        color: green;
    }
}

/* header component */
ig-header {

    .ig-header-inner {
        color: $default-color;
        background-color: $default-header-bg;
        padding: 8px;
        border-bottom: $default-border-bottom;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

/* item component */
ig-item {    
    display: list-item;
    list-style-type: none;
    position: relative;

    .ig-item-inner {
        background-color: $default-item-bg;
        color: $default-color;
        position: relative;
        padding: 8px 16px;
        border-bottom: $default-border-bottom;
        word-wrap: break-word;

        z-index: 2;
    }

    .ig-item-inner:hover{
        background-color: $item-hover-bg;        
    }
    .ig-item-inner:active{
        background-color: $item-active-bg;
    }

    .options{
        position: absolute;
        top: 0;
        right: 0;        
        height: 100%;

        button{
            height: 100%;
        }

        /*bootstrap button styles*/

        .btn {
            display: inline-block;
            padding: .375rem 1rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            /*border-radius: .25rem;*/
            color: #fff;
        }

        .btn-success {
            background-color: #5cb85c;
            border-color: #5cb85c;
        }

        .btn-danger {
            background-color: #d9534f;
            border-color: #d9534f;
        }

        .btn-info {
            background-color: #5bc0de;
            border-color: #5bc0de;
        }       
    }    
}

ig-item, ig-header, ig-list, ig-list .ig-list-inner {
    overflow: hidden;
}