<div class="sample-wrapper">
    <page-header title="Timee Picker" description="Informs and requires a response from the user."></page-header>
    <section class="sample-content">
        <article class="timepicker-column">
            <h4 class="sample-title">Default Time Picker.</h4>
            <p class="sample-description">Detailed description to be added.</p>
            <div class="preview">
                <igx-time-picker format="h:mm tt" ></igx-time-picker>
            </div>
        </article>
        <article class="timepicker-column">
            <h4 class="sample-title">Default Time Picker.</h4>
            <p class="sample-description">Detailed description to be added.</p>
            <div class="preview">
                <igx-time-picker [vertical]="true" format="h:mm tt" ></igx-time-picker>
            </div>
        </article>
        <article class="timepicker-column">
            <h4 class="sample-title">24h Time format.</h4>
            <p class="sample-description">Detailed description to be added.</p>
            <div class="preview">
                <igx-time-picker format="H:mm" ></igx-time-picker>
            </div>
        </article>
    </section>
</div>
