.datepicker-column {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 20%;
    align-content: flex-start;
    margin: 16px;
    width: 200px;
}

.action-buttons {
    display: flex;
    flex-flow: column;
    margin: 10px;
}
