<section class="sample-content">
    <article class="datepicker-column">
        <h4 class="sample-title">Default Date Picker</h4>
        <div class="preview">
            <igx-date-picker #dp1 tabindex="-1" (valueChange)="model.control.markAsDirty()" [(value)]="date1">
                <label igxLabel>Select a Date</label>
            </igx-date-picker>
        </div>
    </article>

    <article class="datepicker-column">
        <h4 class="sample-title">Custom View Count And Validation</h4>
        <div class="preview">
            <igx-date-picker #model="ngModel" required #dp2 [displayMonthsCount]="3" [(ngModel)]="date2"
                [minValue]="date1" [maxValue]="date7">
                <label igxLabel>Select a Date</label>
                <igx-hint *ngIf="model.errors?.value">This field is required.</igx-hint>
                <igx-hint *ngIf="model.errors?.minValue || model.errors?.maxValue">Value is not in range.</igx-hint>
            </igx-date-picker>
        </div>
    </article>

    <article class="datepicker-column">
        <h4 class="sample-title">Custom Formats</h4>
        <div class="preview">
            <igx-date-picker #dp3 [value]="date3" displayFormat="fullDate" inputFormat="dd/MM/yyyy">
                <label igxLabel>Select a Date</label>
            </igx-date-picker>
        </div>
    </article>

    <article class="datepicker-column">
        <h4 class="sample-title">Templated Icons And Special Dates</h4>
        <div class="preview">
            <igx-date-picker #dp4 [value]="date4">
                <label igxLabel>Select a Date</label>
                <igx-picker-toggle igxPrefix>
                    <igx-icon>calendar_view_day</igx-icon>
                </igx-picker-toggle>
                <igx-picker-clear igxSuffix>
                    <igx-icon>delete</igx-icon>
                </igx-picker-clear>
            </igx-date-picker>
        </div>
    </article>

    <article class="datepicker-column">
        <h4 class="sample-title">Additional Icons And Custom Buttons</h4>
        <div class="preview">
            <igx-date-picker #dp5 [value]="date5">
                <label igxLabel>Select a Date</label>
                <igx-suffix (click)="dp5.open()">
                    <igx-icon>alarm</igx-icon>
                </igx-suffix>
                <ng-template igxPickerActions let-calendar>
                    <div class="action-buttons">
                        <button igxButton="flat" (click)="calendar.viewDate = today">Today</button>
                        <button igxButton="flat" (click)="calendar.viewDate = nextYear">Next Year</button>
                        <button igxButton="flat" (click)="dp5.selectToday()">Select Today</button>
                    </div>
                </ng-template>
            </igx-date-picker>
        </div>
    </article>

    <article class="datepicker-column">
        <h4 class="sample-title">Date Picker With Disabled Dates</h4>
        <div class="preview">
            <igx-date-picker #dp6 mode="dialog" [(value)]="date6" displayFormat="dd.MM.y"
                [disabledDates]="disabledDates">
                <label igxLabel>Select a Date</label>
            </igx-date-picker>
        </div>
    </article>

    <article class="datepicker-column">
        <h4 class="sample-title">Date Picker Bound With ngModel And With Default Buttons</h4>
        <div class="preview">
            <igx-date-picker #dp7 mode="dialog" cancelButtonLabel="close" todayButtonLabel="today" [(ngModel)]="date7">
            </igx-date-picker>
            <button igxButton igxRipple type="raised" (click)="dp7.clear()">
                Deselect date
            </button>
        </div>
    </article>
</section>
