.datepicker-column {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 20%;
    align-content: flex-start;
    margin: 16px 32px;
    width: 270px;

    button {
        margin-top: 10px;
    }
}

.action-buttons {
    display: flex;
    flex-flow: row;
    margin: 10px;
}

igx-date-picker {
    margin-bottom: 10px;
}
