name: Npm.js deploy

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 12
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'
      - run: echo "VERSION=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV
      - run: echo ${VERSION}

      - run: echo "NG_CLI_ANALYTICS=false" >> $GITHUB_ENV
      - run: echo "NODE_OPTIONS='--max_old_space_size=4096'" >> $GITHUB_ENV
      - run: npm ci

      - name: Build igniteui-angular
        run: |
            npm run build:lib
            npm run build:schematics
            npm run build:migration

      - name: Build igniteui-angular-i18n
        run: npm run build:i18n

      - name: Define npm tag
        run: |
            if [[ ${VERSION} == *"alpha"* || ${VERSION} == *"beta"* || ${VERSION} == *"rc"* ]]; then echo "NPM_TAG=next"; else echo "NPM_TAG=latest"; fi >> $GITHUB_ENV
            echo ${NPM_TAG}

      - name: Copy readme for igniteui-angular
        run: cp ../../README.md README.md
        working-directory: dist/igniteui-angular

      - name: Copy i18n files
        run: |
            cp ../../projects/igniteui-angular-i18n/README.md README.md
            cp ../../projects/igniteui-angular-i18n/package.json package.json
            cp ../../projects/igniteui-angular-i18n/LICENSE LICENSE
        working-directory: dist/igniteui-angular-i18n

      - name: Create igniteui-angular version and publish it to npmjs
        run: npm version ${VERSION} --no-git-tag-version --save --verbose
        working-directory: dist/igniteui-angular

      - name: Create igniteui-angular-i18n version and publish it to npmjs
        run: npm version ${VERSION} --no-git-tag-version --save
        working-directory: dist/igniteui-angular-i18n

      - name: Publish igniteui-angular
        run: npm publish --tag ${NPM_TAG}
        working-directory: dist/igniteui-angular
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

      - name: Publish igniteui-angular-i18n
        run: npm publish --tag ${NPM_TAG}
        working-directory: dist/igniteui-angular-i18n
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
