name: Npm.js deploy
permissions:
  id-token: write
  contents: read

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'

      - name: Update NPM
        run: npm install -g npm@latest

      - run: echo "VERSION=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV
      - run: echo ${VERSION}

      - run: echo "NG_CLI_ANALYTICS=false" >> $GITHUB_ENV
      - run: npm ci

      - name: Build igniteui-angular
        run: |
            npm run build:lib
            npm run build:schematics
            npm run build:migrations

      - name: Build igniteui-angular-i18n
        run: npm run build:i18n

      - name: Build igniteui-angular-extras
        run: npm run build:extras 

      - name: Define npm tag
        run: |
            if [[ ${VERSION} == *"alpha"* || ${VERSION} == *"beta"* || ${VERSION} == *"rc"* ]]; then echo "NPM_TAG=next"; else echo "NPM_TAG=latest"; fi >> $GITHUB_ENV
            echo ${NPM_TAG}

      - name: Copy readme, license & skills for igniteui-angular
        run: |
            cp ../../README.md README.md
            cp ../../LICENSE LICENSE
            cp -r ../../skills/. skills
        working-directory: dist/igniteui-angular

      - name: Copy i18n files
        run: |
            cp ../../projects/igniteui-angular-i18n/README.md README.md
            cp ../../projects/igniteui-angular-i18n/package.json package.json
            cp ../../projects/igniteui-angular-i18n/LICENSE LICENSE
        working-directory: dist/igniteui-angular-i18n

      - name: Copy extras files
        run: |
            cp ../../projects/igniteui-angular-extras/README.md README.md
            cp ../../projects/igniteui-angular-extras/LICENSE LICENSE
        working-directory: dist/igniteui-angular-extras

      - name: Create igniteui-angular version
        run: npm version ${VERSION} --no-git-tag-version --save --verbose
        working-directory: dist/igniteui-angular

      - name: Create igniteui-angular-i18n version
        run: npm version ${VERSION} --no-git-tag-version --save
        working-directory: dist/igniteui-angular-i18n

      - name: Create igniteui-angular-extras version
        run: npm version ${VERSION} --no-git-tag-version --save
        working-directory: dist/igniteui-angular-extras

      - name: Publish igniteui-angular
        run: npm publish --tag ${NPM_TAG}
        working-directory: dist/igniteui-angular

      - name: Publish igniteui-angular-i18n
        run: npm publish --tag ${NPM_TAG}
        working-directory: dist/igniteui-angular-i18n

      - name: Publish igniteui-angular-extras
        run: npm publish --tag ${NPM_TAG}
        working-directory: dist/igniteui-angular-extras
