<div class="overlay-sample sample-wrapper">
    <section #stage class="overlay-sample__stage">
        <button
            #button
            class="overlay-sample__toggle"
            igxButton="contained"
            igxRipple
            igxDrag
            (click)="toggle()"
            (dragEnd)="onDragEnd($event)"
            (dragStart)="onDragStart($event)">
            Toggle overlay
        </button>
        <igx-drop-down>
            @for (item of items; track item) {
                <igx-drop-down-item>
                    <div class="igx-drop-down__item-template">
                        {{ item }}
                    </div>
                </igx-drop-down-item>
            }
        </igx-drop-down>
    </section>
    <div #containerTarget igxToggle class="container-target">
        I am a container shown in Global or Container position strategy.
    </div>
</div>

<ng-template #customControls>
    <fieldset class="control-card">
        <legend>Position</legend>
        <div class="control-row">
            <igx-select [(ngModel)]="positionStrategy" (ngModelChange)="onChange()">
                <label igxLabel>Strategy</label>
                @for (item of strategies; track item) {
                    <igx-select-item [value]="item">{{item}}</igx-select-item>
                }
            </igx-select>
        </div>
        <div class="control-row">
            @if (isAbsoluteStrategy()) {
                <igx-select [(ngModel)]="absPosition" (ngModelChange)="onChange()">
                    <label igxLabel>Position</label>
                    @for (item of absPositions; track item) {
                        <igx-select-item [value]="item">{{item}}</igx-select-item>
                    }
                </igx-select>
            } @else {
                <igx-select [(ngModel)]="relPosition" (ngModelChange)="onChange()">
                    <label igxLabel>Relative position</label>
                    @for (item of relPositions; track item) {
                        <igx-select-item [value]="item">{{item}}</igx-select-item>
                    }
                </igx-select>
            }
        </div>
    </fieldset>
</ng-template>
