<div #container>
    <section class="presets-sample-content">
        <div class="sample-section">
            <div class="column settings">
                <div class="radio-group">
                    <p>Absolute Position Strategies</p>
                    <div>
                    <igx-radio *ngFor="let item of absStrategies" value="{{item}}" name="ps"
                        [(ngModel)]="positionStrategy" (ngModelChange)="onChange()">{{item}}</igx-radio>
                    </div>
                </div>
                <div class="radio-group">
                    <p>Absolute Position Settings</p>
                    <igx-radio *ngFor="let item of absPositions" value="{{item}}" name="pos" [(ngModel)]="absPosition"
                        (ngModelChange)="onChange()">{{item}}</igx-radio>
                </div>
            </div>
            <div class="column settings">
                <div class="radio-group">
                    <p>Relative Position Strategies</p>
                    <div>
                    <igx-radio *ngFor="let item of relStrategies" value="{{item}}" name="ps"
                        [(ngModel)]="positionStrategy" (ngModelChange)="onChange()">{{item}}</igx-radio>
                    </div>
                </div>
                    <div class="radio-group">
                        <p>Relative Position Settings</p>
                        <igx-radio *ngFor="let item of relPositions" value="{{item}}" name="pos"
                            [(ngModel)]="relPosition" (ngModelChange)="onChange()">{{item}}</igx-radio>
                    </div>
            </div>
            <div #outlet class="outlet">
                Outlet
            </div>
        </div>
        <div class="sample-dropdown">
            <button #button igxButton="raised" igxRipple igxDrag (click)="toggleDropDown()"
                [style.position]="'absolute'" (dragEnd)="onDragEnd($event)" (dragStart)="onDragStart($event)">Toggle</button>
            <igx-drop-down>
                <igx-drop-down-item *ngFor="let item of items">
                    <div class="igx-drop-down__item-template">
                        {{ item }}
                    </div>
                </igx-drop-down-item>
            </igx-drop-down>
        </div>
    </section>
    <div>
