.radio-group {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 16px;
}

.w80 {
    width: 80%;
}

.settings {
    margin-left: 16px;
    width: 100%;
    justify-content: space-between;
}
