<div #container class="sample-wrapper">
    <app-page-header title="Overlay" description="description for overlay"></app-page-header>
    <section class="sample-content">
        <div>
            <p>Directions</p>
            <div class="direction-container">
                <div id="tld" class="direction" (click)="setDirection($event)"></div>
                <div id="tcd" class="direction" (click)="setDirection($event)"></div>
                <div id="trd" class="direction" (click)="setDirection($event)"></div>
            </div>
            <div class="direction-container">
                <div id="mld" class="direction" (click)="setDirection($event)"></div>
                <div id="mcd" class="direction" (click)="setDirection($event)"></div>
                <div id="mrd" class="direction" (click)="setDirection($event)"></div>
            </div>
            <div class="direction-container">
                <div id="bld" class="direction" (click)="setDirection($event)"></div>
                <div id="bcd" class="direction" (click)="setDirection($event)"></div>
                <div id="brd" class="direction selected" (click)="setDirection($event)"></div>
            </div>
            <p>Starting Point</p>
            <div class="start-point-container">
                <div id="tlsp" class="start-point" (click)="setStartPoint($event)"></div>
                <div id="tcsp" class="start-point" (click)="setStartPoint($event)"></div>
                <div id="trsp" class="start-point" (click)="setStartPoint($event)"></div>
            </div>
            <div class="start-point-container">
                <div id="mlsp" class="start-point" (click)="setStartPoint($event)"></div>
                <div id="mcsp" class="start-point" (click)="setStartPoint($event)"></div>
                <div id="mrsp" class="start-point" (click)="setStartPoint($event)"></div>
            </div>
            <div class="start-point-container">
                <div id="blsp" class="start-point selected" (click)="setStartPoint($event)"></div>
                <div id="bcsp" class="start-point" (click)="setStartPoint($event)"></div>
                <div id="brsp" class="start-point" (click)="setStartPoint($event)"></div>
            </div>
        </div>
        <div>
            <p>Button Position</p>
            <div class="radio-group w80">
                <igx-input-group>
                    <label igxLabel>Top</label>
                    <input igxInput type="number" [(ngModel)]="buttonTop">
                    <igx-suffix>
                        %
                    </igx-suffix>
                </igx-input-group>

            </div>
            <div class="radio-group w80">
                <igx-input-group>
                    <label igxLabel>Left</label>
                    <input igxInput type="number" [(ngModel)]="buttonLeft">
                    <igx-suffix>
                        %
                    </igx-suffix>
                </igx-input-group>
            </div>
        </div>
        <div>
            <p>Strategies</p>
            <div class="radio-group">
                <p>Position Strategies</p>
                <igx-radio *ngFor="let item of positionStrategies" value="{{item}}" name="ps" [(ngModel)]="positionStrategy"
                    (change)="onChange($event)">{{item}}</igx-radio>
            </div>
            <div class="radio-group">
                <p>Scroll Strategies</p>
                <igx-radio *ngFor="let item of scrollStrategies" value="{{item}}" name="ss" [(ngModel)]="scrollStrategy"
                    (change)="onChange($event)">{{item}}</igx-radio>
            </div>
        </div>
        <div>
            <p>Settings</p>
            <igx-switch class="settings" labelPosition="after" [(ngModel)]="closeOnOutsideClick" name="close" [value]="closeOnOutsideClick"
                (change)="onSwitchChange($event)">Close On Outside Click</igx-switch>
            <igx-switch class="settings" labelPosition="after" [(ngModel)]="modal" name="modal" [value]="modal"
                (change)="onSwitchChange($event)">Modal</igx-switch>
        </div>
        <button #button igxButton="raised" igxRipple (click)="toggleDropDown()" [style.position]="'absolute'"
            [style.top]="buttonTop + '%'" [style.left]="buttonLeft + '%'">Toggle</button>
        <igx-drop-down width="200px">
            <button (click)="resizeAndSoOn()">Resize and so on...</button>
            <igx-drop-down-item *ngFor="let item of items">
                <div class="igx-drop-down__item-template">
                    {{ item }}
                </div>
            </igx-drop-down-item>
        </igx-drop-down>
    </section>
</div>