// Import the IgniteUI themes library first
@use '../../../projects/igniteui-angular/src/lib/core/styles/themes' as *;

$new-card-theme: igx-card-theme(
    $background: royalblue
);

:host ::ng-deep{
    @include igx-card($new-card-theme);
}

.sample-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 100%;
    width: 100%;
}

.settings{
    background-color: #444;
    flex: 0 0 15%;
    align-content: center;
    padding: .5%;
}

.igx-radio{
    display: block;
}

.outlet{
    background-color: #444;
    flex: 0 0 60%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.sample-dropdown{
    display: flex;
    justify-content: center;
}

p {
    padding: 5% 0;
}
