<div #container>
    <section class="presets-sample-content">
        <div class="sample-section">
            <div class="column settings">
                <div class="radio-group">
                    <p>Absolute Position Strategies</p>
                    <div>
                        @for (item of absStrategies; track item) {
                            <igx-radio value="{{item}}" name="ps"
                                [(ngModel)]="positionStrategy" (ngModelChange)="onChange()">{{item}}</igx-radio>
                        }
                    </div>
                </div>
                <div class="radio-group">
                    <p>Absolute Position Settings</p>
                    @for (item of absPositions; track item) {
                        <igx-radio value="{{item}}" name="pos" [(ngModel)]="absPosition"
                            (ngModelChange)="onChange()">{{item}}</igx-radio>
                    }
                </div>
            </div>
            <div class="column settings">
                <div class="radio-group">
                    <p>Relative Position Strategies</p>
                    <div>
                        @for (item of relStrategies; track item) {
                            <igx-radio value="{{item}}" name="ps"
                                [(ngModel)]="positionStrategy" (ngModelChange)="onChange()">{{item}}</igx-radio>
                        }
                    </div>
                </div>
                <div class="radio-group">
                    <p>Relative Position Settings</p>
                    @for (item of relPositions; track item) {
                        <igx-radio value="{{item}}" name="pos"
                        [(ngModel)]="relPosition" (ngModelChange)="onChange()">{{item}}</igx-radio>
                    }
                </div>
            </div>
            <div #outlet class="outlet">
                Outlet
            </div>
        </div>
        <div class="sample-dropdown">
            <button #button igxButton="contained" igxRipple igxDrag (click)="toggleDropDown()"
                [style.position]="'absolute'" (dragEnd)="onDragEnd($event)" (dragStart)="onDragStart($event)">Toggle</button>
            <igx-drop-down>
                @for (item of items; track item) {
                    <igx-drop-down-item>
                        <div class="igx-drop-down__item-template">
                            {{ item }}
                        </div>
                    </igx-drop-down-item>
                }
            </igx-drop-down>
        </div>
    </section>
    <div>
