.sample-content {
    margin-bottom: 500px;
}

.radio-group {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 16px;
}

.w80 {
    width: 80%;
}

.direction, .start-point {
    width: 30px;
    height: 30px;
    background-color: #dddddd;
    display: inline-block;
    border: 1px solid black;
    margin: 0;
}

.direction-container, .start-point-container {
    height: 31px;
}

.selected {
    background-color: #777777;
}

.column {
    min-width: 150px;
    margin: 20px;
    padding: 0 20px 20px 20px;
    background-color: #444444;
}

.outlet {
    width: 600px;
    height: 500px;
    perspective: 1px;
}