@use 'sass:map';
@use 'sass:math';
@use '../../base' as *;
@use 'igniteui-theming/sass/animations/easings' as *;

/// @deprecated Use the `css-vars` mixin instead.
/// @see {mixin} css-vars
/// @param {Map} $theme - The theme used to style the component.
@mixin splitter($theme) {
    @include css-vars($theme);
    $splitter-color: var-get($theme, 'bar-color');
    $hitbox-size: rem(4px);
    $debug-hitbox: false;
    $hitbox-debug-color: rgba(coral, .24);

    $variant: map.get($theme, '_meta', 'theme');

    $base-font-size: 16;

    //splitter-size (convert rem to px) + padding
    $splitter-size: unitless(map.get($theme, 'size')) * $base-font-size + 2;

    //calculate the value for the slim(indigo) splitter
    $slim-splitter: calc( 1 / $splitter-size);

    %igx-splitter-base {
        &[aria-orientation='horizontal'] {
            padding-block: rem(1px);

            [dir='rtl'] & {
                flex-direction: row-reverse !important;
            }
        }
    }

    %handle-area {
        position: absolute;
        content: '';
        width: 100%;
        height: $hitbox-size;
        background: if($debug-hitbox, $hitbox-debug-color, transparent);

        @if $variant == 'indigo' {
            height: rem($splitter-size * 4px);
        }
    }

    %handle-area--vertical {
        width: $hitbox-size;
        height: 100%;

        @if $variant == 'indigo' {
            width: rem($splitter-size * 4px);
        }
    }

    %hide-controls {
        %igx-splitter-handle,
        %igx-splitter-expander {
            opacity: 0;
            transition: opacity .25s .5s ease;
            pointer-events: none;
        }
    }

    %show-controls {
        %igx-splitter-handle,
        %igx-splitter-expander {
            opacity: .68;
            transition: opacity .25s ease;
            pointer-events: auto;
        }
    }

    %expand-bars {
        [aria-orientation='horizontal'] & {
            transform: scaleX(1);
        }

        [aria-orientation='vertical'] & {
            transform: scaleY(1);
        }
        transition-delay: 0s !important;
    }

    %indigo-splitter-bar {
        @extend %hide-controls;

        [aria-orientation='horizontal'] & {
            transform: scaleX($slim-splitter);
        }

        [aria-orientation='vertical'] & {
            transform: scaleY($slim-splitter);
        }

        &.igx-splitter-bar--collapsible {
            transition: all .25s .5s $in-out-quad !important;

            &::before,
            &::after {
                transition-delay: 2s;
            }

            &:hover {
                @extend %expand-bars;

                %igx-splitter-handle,
                %igx-splitter-expander {
                    opacity: 1;
                    transition: opacity .25s ease;
                    pointer-events: auto;
                }

                &::before,
                &::after {
                    height: $hitbox-size;
                    width: 100%;
                    transition-delay: .5s;
                }

                &.igx-splitter-bar--vertical {
                    &::before,
                    &::after {
                        width: $hitbox-size;
                        height: 100%;
                    }
                }
            }
        }
    }

    %igx-splitter-bar {
        position: relative;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        background: hsla(from $splitter-color h s l / 0.68);
        z-index: 99;
        transition: background .15s $out-quad !important;

        @if $variant != 'indigo' {
            @extend %hide-controls;

            &.igx-splitter-bar--collapsible {
                @extend %show-controls;
            }
        }

        @if $variant == 'indigo' {
            @extend %indigo-splitter-bar;
        }

        &::before {
            @extend %handle-area;
            top: 100%;
        }

        &::after {
            @extend %handle-area;
            bottom: 100%;
        }

        &:hover {
            transition: all .25s ease-out;
            background: $splitter-color;

            %igx-splitter-handle,
            %igx-splitter-expander {
                opacity: 1;
            }
        }
    }

    %igx-splitter-bar--focus {
        // Remove the default browser outline styles
        outline: none;
        box-shadow: 0 0 0 rem(2px) var-get($theme, 'focus-color');
        transition: box-shadow .15s ease-in;
        z-index: 100;

        @if $variant == 'indigo' {
            %indigo-splitter-bar.igx-splitter-bar--collapsible {
                @extend %show-controls;
                @extend %expand-bars;

                &:hover {
                    %igx-splitter-handle,
                    %igx-splitter-expander {
                        opacity: 1;
                    }
                }
            }
        }
    }

    %igx-splitter-bar--active {
        background: var-get($theme, 'bar-color-active');
    }

    %igx-splitter-bar--vertical {
        padding-inline: rem(1px);
        flex-direction: column;
        height: 100%;

        &::before {
            @extend %handle-area--vertical;
            top: 0;
            right: 100%;
        }

        &::after {
            @extend %handle-area--vertical;
            top: 0;
            left: 100%;
        }
    }

    %igx-splitter-handle {
        background: var-get($theme, 'handle-color');
        border-radius: var-get($theme, 'border-radius');
    }

    %igx-splitter-handle--active {
        background: var-get($theme, 'handle-color-active');
    }

    %igx-splitter-handle--horizontal {
        width: 25%;
        height: var-get($theme, 'size');
        margin: 0 rem(48px);
    }

    %igx-splitter-handle--vertical {
        width: var-get($theme, 'size');
        height: 25%;
        margin: rem(48px) 0;
    }

    %igx-splitter-hitbox {
        position: absolute;
        content: '';
        background: if($debug-hitbox, $hitbox-debug-color, transparent);
    }

    %igx-splitter-expander {
        position: relative;
        width: 0;
        height: 0;
        border-inline-end: var-get($theme, 'size') solid transparent;
        border-inline-start: var-get($theme, 'size') solid transparent;
        cursor: pointer;
        z-index: 1;
    }

    %igx-splitter-expander--start {
        border-block-end: var-get($theme, 'size') solid var-get($theme, 'expander-color');

        &::before {
            @extend %igx-splitter-hitbox;
            top: calc(100% - #{map.get($theme, 'size')});
            left: calc(100% - (#{map.get($theme, 'size')} * 2));
            width: calc(#{map.get($theme, 'size')} * 4);
            height: calc(#{map.get($theme, 'size')} * 3);
        }
    }

    %igx-splitter-expander--start--active {
        border-block-end-color: var-get($theme, 'expander-color-active');
    }

    %igx-splitter-expander--end {
        border-block-start: var-get($theme, 'size') solid var-get($theme, 'expander-color');

        &::before {
            @extend %igx-splitter-hitbox;
            top: calc(100% - (#{map.get($theme, 'size')} * 2));
            left: calc(100% - (#{map.get($theme, 'size')} * 2));
            width: calc(#{map.get($theme, 'size')} * 4);
            height: calc(#{map.get($theme, 'size')} * 3);
        }
    }

    %igx-splitter-expander--end--active {
        border-block-start-color: var-get($theme, 'expander-color-active');
    }

    %igx-splitter-expander--start-vertical {
        border-block-start: var-get($theme, 'size') solid transparent;
        border-inline-end: var-get($theme, 'size') solid var-get($theme, 'expander-color');
        border-block-end: var-get($theme, 'size') solid transparent;
        border-inline-start: unset;

        &::before {
            @extend %igx-splitter-hitbox;
            top: calc(100% - (#{map.get($theme, 'size')} * 2));
            left: calc(100% - (#{map.get($theme, 'size')} * 2));
            width: calc(#{map.get($theme, 'size')} * 3);
            height: calc(#{map.get($theme, 'size')} * 4);
        }
    }

    %igx-splitter-expander--start-vertical--active {
        border-block-end-color: transparent;
        border-inline-end-color: var-get($theme, 'expander-color-active');
    }

    %igx-splitter-expander--end-vertical {
        border-block-start: var-get($theme, 'size') solid transparent;
        border-inline-end: unset;
        border-block-end: var-get($theme, 'size') solid transparent;
        border-inline-start: var-get($theme, 'size') solid var-get($theme, 'expander-color');

        &::before {
            @extend %igx-splitter-hitbox;
            left: calc(100% - (#{map.get($theme, 'size')} * 2));
            top: calc(100% - (#{map.get($theme, 'size')} * 2));
            height: calc(#{map.get($theme, 'size')} * 4);
            width: calc(#{map.get($theme, 'size')} * 3);
        }
    }

    %igx-splitter-expander--end-vertical--active {
        border-block-start-color: transparent;
        border-inline-start-color: var-get($theme, 'expander-color-active');
    }
}
