%section-title {
  color: $black;
  font-weight: 400;
}

%link-style {
  color: $igblue;
  font-size: rem(14);
  text-decoration: none;
}

%type {
  margin-right: 4px;
  color: $var-color;
  font-size: rem(12, 16);
  line-height: rem(24, 16);
  font-weight: 600;
  padding: 0 rem(2, 16);
  border: 1px solid lighten($var-color, 32%);
  background: lighten($var-color, 46%);
}

%type-mixin {
  border-color: lighten($mixin-color, 60%);
  background: lighten($mixin-color, 70%);
  color: $mixin-color;
}

%type-function {
  border-color: lighten($function-color, 20%);
  background:lighten($function-color, 48%);
  color: $function-color;
}

%list-style {
  list-style-type: none;
  list-style-position: inside;
  padding:0;
  margin: rem($top-gutter) 0 rem($bottom-gutter) 0;
}

