<div class="sample-wrapper">
    <div class="sample-header">
        <h1 class="title">Slider</h1>
        <p class="description">
            Allows the user to set virtualize items
        </p>
    </div>

    <section class="sample-content">
        <div>
            <article class="sample-column">
                <h4 class="sample-title">Scroll</h4>
                <igx-scroll #scroll
                            (onScroll)="updateList($event)"
                            [itemsToViewCount]="visibleItemsCount"
                            [itemHeight]="50"
                            [totalItemsCount]="items.length">
                    <ul class="list">
                        <li class="list-item" *ngFor="let item of visibleItems">
                            {{item}}
                        </li>
                    </ul>
                </igx-scroll>
            </article>
        </div>
    </section>
</div>