$component-name: 'igx-scroll';

$components: register-component($components, #{$component-name});

@function igx-scroll-theme() {
    @return ();
}

@mixin igx-scroll($theme, $palette: $default-palette) {
    $default-theme: igx-scroll-theme();
    $this: extend($default-theme, $theme);

    // @debug $this;

    %igx-scroll__viewport {
        display: inline-block;
        overflow-y: hidden;
    }

    %igx-scroll__vertical {
        display: inline-block;
        width: 20px;
        overflow-y: auto;
    }
}
