<div class="sidebar-sample">
    <div class="preview sample-min-width">
        <div class="preview__sample">
            <h6>Angular Chip</h6>
            <igx-chip #me
                [variant]="selected"
                [style.--ig-size]="'var(--ig-size-' + sizeSelector.size + ')'"
                [disabled]="isDisabled"
                [selectable]="isSelectable"
                [removable]="isRemovable"
                [selected]="isSelected"
                [draggable]="isDraggable"
                [removeIcon]="customIcons ? myRemoveIcon : null"
                [selectIcon]="customIcons ? mySelectIcon : null"
                (remove)="removeChip(me)">
                <igx-avatar igxPrefix *ngIf="hasAvatar" class="chip-area-avatar" [shape]="'circle'" initials="MP"></igx-avatar>
                <igx-icon *ngIf="hasPrefix" igxPrefix>face</igx-icon>
                Chip component
                <igx-icon *ngIf="hasSuffix" igxSuffix>face</igx-icon>
                <igx-circular-bar *ngIf="hasProgressbar" igxSuffix class="circular-sample" [indeterminate]="true"></igx-circular-bar>
            </igx-chip>

            <h6>WC Chip</h6>
            <igc-chip #wc
                [variant]="selected"
                [style.--ig-size]="'var(--ig-size-' + sizeSelector.size + ')'"
                [disabled]="isDisabled"
                [selectable]="isSelectable"
                [removable]="isRemovable"
                [selected]="isSelected">
                <span *ngIf="hasAvatar" class="chip-area-avatar"><igc-avatar slot="prefix" initials="MP" shape="circle"></igc-avatar></span>
                <span *ngIf="hasPrefix"><igx-icon slot="prefix">face</igx-icon></span>
                <span *ngIf="customIcons"><igx-icon slot="select" family="fa-solid" name="fa-check-circle"></igx-icon></span>
                Chip component
                <span *ngIf="hasSuffix"><igx-icon slot="suffix">face</igx-icon></span>
                <span *ngIf="hasProgressbar" class="circular-sample"><igc-circular-progress slot="suffix" [indeterminate]="true"></igc-circular-progress></span>
                <span *ngIf="customIcons"><igx-icon slot="remove" family="fa-solid" name="fa-trash-alt"></igx-icon></span>
            </igc-chip>

            <div class="preview__info">
                <a href="https://github.com/IgniteUI/igniteui-angular/wiki/Chip-Component#selection" target="_blank">
                    <igx-icon>link</igx-icon> Open wiki page.
                </a>
            </div>

            <ng-template #mySelectIcon >
                <igx-icon family="fa-solid" name="fa-check-circle"></igx-icon>
            </ng-template>

            <ng-template #myRemoveIcon>
                <igx-icon family="fa-solid" name="fa-trash-alt"></igx-icon>
            </ng-template>
        </div>

        <div class="preview__settings">
            <igx-select
                #model="ngModel"
                [(ngModel)]="selected"
                [ngModelOptions]="{standalone: true}"
                [placeholder]="'Select chip variant'"
                [style.--ig-size]="'var(--ig-size-small)'"
                type="border" class="preview__variant-select">

                <igx-select-item *ngFor="let type of chipTypes" [value]="type">
                    {{type}}
                </igx-select-item>
            </igx-select>

            <size-selector #sizeSelector></size-selector>

            <igx-switch id="selectable" [(ngModel)]="isSelectable">
                <label for="selectable">Selectable</label>
            </igx-switch>

            <igx-switch id="selected" [(ngModel)]="isSelected">
                <label for="removable">Selected</label>
            </igx-switch>

            <igx-switch id="removable"  [(ngModel)]="isRemovable">
                <label for="removable">Removable</label>
            </igx-switch>

            <igx-switch *ngIf="isRemovable" id="customIcons" [(ngModel)]="customIcons">
                <label for="customIcons">Custom Icons</label>
            </igx-switch>

            <igx-switch id="addPrefix"  [(ngModel)]="hasPrefix">
                <label for="addPrefix">Add prefix</label>
            </igx-switch>

            <igx-switch id="addSuffix"  [(ngModel)]="hasSuffix">
                <label for="addSuffix">Add suffix</label>
            </igx-switch>

            <igx-switch id="hasAvatar" [(ngModel)]="hasAvatar">
                <label for="hasAvatar">Add avatar</label>
            </igx-switch>

            <igx-switch id="hasProgressbar" [(ngModel)]="hasProgressbar">
                <label for="hasProgressbar">Add progressbar</label>
            </igx-switch>

            <igx-switch id="draggable" [(ngModel)]="isDraggable">
                <label for="draggable">Draggable</label>
            </igx-switch>

            <igx-switch id="disableChips"  [(ngModel)]="isDisabled">
                <label for="disableChips">Disable chips</label>
            </igx-switch>
        </div>
    </div>
</div>
